@import '~style/common';
@import '../../../../../shared/form/components/toggle/toggle-form.component.scss';

.Notifications-settings {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  &_title {
    font-weight: bold;
    font-size: 18px;
  }
  &_subtitle {
    font-weight: normal;
    color: $blue-grey-2;
  }
  &_details {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    &_title {
      width: 50%;
      @include media-breakpoint-down(sm) {
        width: 80%;
        word-wrap: break-word;
      }
    }

    &_toggle {
      width: 50%;
      @include media-breakpoint-down(sm) {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}
