<div *ngFor="let notificationsSettings of notificationsSettingsGroup" class="Notifications-settings">
  <div class="Notifications-settings_title">
    <span>{{ notificationsSettings.title }}</span>
  </div>
  <div>
    <span class="Notifications-settings_subtitle">
      {{ notificationsSettings.subtitle }}
    </span>
  </div>
  <div *ngFor="let notification of notificationsSettings.notifications" class="Notifications-settings_details">
    <div class="Notifications-settings_details_title">
      <span>
        {{ notification.title }}
      </span>
    </div>
    <div class="Notifications-settings_details_toggle">
      <label [attr.for]="notification.id" class="Toggle">
        <input [attr.id]="notification.id" type="checkbox" [(ngModel)]="notification.enabled" (change)="handleChange(notification)" />
        <span class="Toggle-slider"></span>
      </label>
    </div>
  </div>
</div>
