@import '~style/common';
@import '../../../../../shared/form/components/toggle/toggle-form.component.scss';

.NotificationsSettings {
  padding-left: $spacing-l;
  padding-right: $spacing-l;
  padding-top: $spacing-l;
  &__title {
    font-weight: bold;
    font-size: $font-size-l;
  }
  &__subtitle {
    font-weight: normal;
    color: $blue-grey-2;
  }
  &__details {
    display: flex;
    padding-top: $spacing-s * 1.25;
    padding-bottom: $spacing-s * 1.25;
    &_title {
      width: 50%;
      @include media-breakpoint-down(sm) {
        width: 80%;
        word-wrap: break-word;
      }
    }

    &_toggle {
      width: 50%;
      @include media-breakpoint-down(sm) {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}
