<div *ngIf="bannerProperties" class="DeliveryBanner">
  <tsl-banner [specifications]="bannerStyleProperties">
    <div class="d-flex align-content-between align-items-center">
      <div class="d-flex">
        <tsl-svg-icon [src]="bannerProperties.svgPath"></tsl-svg-icon>
        <p>{{bannerProperties.description.text}}</p>
        <a *ngIf="bannerProperties.description.help as helpLink" [href]="helpLink"></a>
      </div>
    
      <div *ngIf="bannerProperties.action as action">
        <tsl-button class="DeliveryBanner__button">{{action.label}}</tsl-button>
      </div>
    </div>
  </tsl-banner>
</div>