<div *ngIf="userStats && userStats.counters && userInfo" class="ProfileUser">
    <div class="row align-left mb-2">
        <div class="col-6 col-sm-4 d-flex align-items-center">
            <tsl-svg-icon width="18" height="18" class="mr-2" src="/assets/icons/public-profile/stats.svg"></tsl-svg-icon>
            <div class="mr-1 ProfileUser__counter--bold" id="sellsCounter">{{userStats.counters.sells}}</div>
            <ng-container [ngPlural]="userStats.counters.sells">
                <ng-template ngPluralCase="=1">
                    <ng-container i18n="@@web_sale">Sale</ng-container>
                </ng-template>
                <ng-template ngPluralCase="other">
                    <ng-container i18n="@@web_sales">Sales
                    </ng-container>
                </ng-template>
            </ng-container>
        </div>
        <div class="col-6 col-sm-8 d-flex align-items-center">
            <div class="mr-1 ProfileUser__counter--bold" id="buysCounter">{{userStats.counters.buys}}</div>
            <ng-container [ngPlural]="userStats.counters.buys">
                <ng-template ngPluralCase="=1">
                    <ng-container i18n="@@web_purchase">Purchase</ng-container>
                </ng-template>
                <ng-template ngPluralCase="other">
                    <ng-container i18n="@@web_purchases">Purchases
                    </ng-container>
                </ng-template>
            </ng-container>
        </div>
    </div>
    <div class="d-flex align-items-center mb-2" *ngIf="userStats.counters.shipping_counter">
        <tsl-svg-icon width="18" height="18" class="mr-2" src="/assets/icons/public-profile/box.svg"></tsl-svg-icon>
        <div class="mr-1 ProfileUser__counter--bold" id="shippingCounter">{{userStats.counters.shipping_counter}}</div>
        <ng-container [ngPlural]="userStats.counters.shipping_counter">
            <ng-template ngPluralCase="=1">
                <ng-container i18n="@@web_shipment">Shipment</ng-container>
            </ng-template>
            <ng-template ngPluralCase="other">
                <ng-container i18n="@@web_shipments">Shipments
                </ng-container>
            </ng-template>
        </ng-container>
    </div>
    <ng-container *ngIf="userInfo.extraInfo?.address?.length > 0">
        <div class="d-flex align-items-center mb-2">
            <tsl-svg-icon width="18" height="18" class="mr-2" src="/assets/icons/public-profile/location.svg"></tsl-svg-icon>
            {{userInfo.extraInfo.address}}
            <a (click)="showLocation()" i18n="@@web_show_location" class="ml-2">View location</a>
        </div>
    </ng-container>
    <ng-template>
        <div class="d-flex align-items-center mb-2" *ngIf="userInfo.location">
            <tsl-svg-icon width="18" height="18" class="mr-2" src="/assets/icons/public-profile/location.svg"></tsl-svg-icon>
            {{userInfo.location.zip}},
            {{userInfo.location.city}}
            <a (click)="showLocation()" i18n="@@web_show_location" class="ml-2">View location</a>
        </div>
    </ng-template>
    <ng-container *ngxPermissionsOnly="PERMISSIONS.subscriptions">
        <div *ngIf="userInfo.featured && (userInfo.extraInfo && userInfo.extraInfo.link)" class="d-flex align-items-center mb-2">
            <tsl-svg-icon width="18" height="18" class="mr-2" src="/assets/icons/public-profile/computer.svg"></tsl-svg-icon>
            <a href="{{ userInfo.extraInfo.link | urlProtocol}}" target="_blank" i18n="@@web_redirect_web">Go to the website</a>
        </div>
        <div *ngIf="userInfo.featured && userInfo.extraInfo?.phone_number" class="d-flex align-items-center">
            <tsl-svg-icon width="18" height="18" class="mr-2" src="/assets/icons/public-profile/telephone.svg"></tsl-svg-icon>
            <a *ngIf="!showPhone" (click)="togglePhone()" i18n="@@web_show_phone">Show phone number</a>
            <a class="ProfileUser__phone" *ngIf="showPhone" href="tel:{{userInfo.extraInfo.phone_number}}" >{{userInfo.extraInfo.phone_number}}</a>
        </div>
    </ng-container>
</div>