@import '~style/common';

.PorfileUser__stats {
  a {
    color: $walla-main;
    display: inline-block;
    cursor: pointer;
  }
  .bold-counter {
    font-weight: $font-weight-chunky;
  }
}

.PorfileUser__stats__location {
  margin-bottom: $spacing-xs;
}
