@import '~style/common';

:host {
  position: sticky;
  height: $topbar-height;
  background-color: $white;
  top: 0;
  border-bottom: 1px solid;
  border-color: transparentize($blue-grey-4, 0.5);
  padding: 0 $spacing-m;
  width: 100%;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(37, 50, 56, 0.03);
  z-index: $topbar-z-index;
  & a {
    color: $blue-grey-1;
    font-size: $font-size-s;
    text-decoration: none;
  }
  @include media-breakpoint-down(md) {
    padding: 0;
  }
}
.main-header-my-zone {
  tsl-user-avatar {
    margin-left: $spacing-s;
  }
  span {
    font-size: $font-size-s;
    color: $blue-grey-1;
    margin-right: $spacing-xs;
    margin-left: $spacing-ms;
  }
  &.active {
    span {
      color: $walla-main;
    }
  }
}
.topbar-menu {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  .topbar-sections {
    display: inline-block;
    a {
      display: inline-block;
      margin-right: $spacing-ml;
      line-height: $line-height-xl;
      text-decoration: none;
      border-radius: 100px;
      color: $white;
      &.active {
        padding: 0 $spacing-ms;
        color: $walla-main;
        background-color: $white;
      }
    }
  }
}

.main-header-login {
  & {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    text-decoration: none;
  }
  i {
    font-size: $font-size-xxl;
    vertical-align: middle;
  }
  .menu-link {
    & {
      color: $blue-grey-1;
      height: 65px;
      margin-right: $spacing-ml;
      position: relative;
      display: flex;
      align-items: center;
      white-space: nowrap;
      cursor: pointer;
    }
    &:hover {
      & .horizontal-line {
        display: block;
      }
    }
    &.active {
      font-weight: $font-weight-chunky;
      color: $walla-main;
      & .horizontal-line {
        display: block;
        border-color: $walla-main;
      }
      & .topbar-icon {
        color: $walla-main;
      }
    }
    & span {
      font-size: $font-size-s;
      line-height: $line-height-m;
    }
    .news-badge {
      height: 8px;
      width: 8px;
      border-radius: 8px;
      background-color: $negative-main;
      position: absolute;
      left: 25px;
      top: 23px;
      & .active {
        display: block;
      }
    }
    .horizontal-line {
      display: none;
      border-bottom: 3px solid $blue-grey-1;
      width: 100%;
      margin-left: $spacing-s;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .topbar-icon {
      width: 40px;
      height: 40px;
    }
  }
  &.no-search {
    flex: 1;
    justify-content: flex-end;
  }
  .main-header-login-sign-in {
    display: flex;
    align-items: center;
    font-size: $font-size-m;
    & span {
      background-color: $walla-main;
      color: $white;
      border-radius: $button-border-radius;
      margin-left: $spacing-ms;
      margin-right: $spacing-ms;
      padding: $spacing-s $spacing-ml;
      height: 38px;
      &:hover {
        background-color: $walla-dark;
      }
      &:focus {
        background-color: $walla-dark;
      }
    }
  }
  .main-header-chat {
    &.active {
      tsl-svg-icon ::ng-deep svg g g {
        fill: $walla-main;
      }
    }
  }
  .main-header-login-profile {
    & {
      display: none;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: $blue-grey-1;
      font-size: $font-size-s;
      height: 65px;
      position: relative;
    }
    &:hover {
      & .horizontal-line {
        display: block;
      }
    }
    &:active {
      & .horizontal-line {
        display: block;
        border-color: $walla-main;
      }
    }
    i {
      &.ic-arrow-waterfall {
        &.active {
          transform: rotate(180deg);
        }
      }
    }
    .main-header-login-profile-avatar {
      width: 32px;
      height: 32px;
      margin-right: $spacing-ms;
      margin-left: $spacing-s;
      border-radius: 50px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .horizontal-line {
      display: none;
      border-bottom: 3px solid $blue-grey-1;
      width: 91%;
      margin-left: 0;
      position: absolute;
      bottom: 0;
    }
  }
  tsl-button {
    &.TopBar {
      &__btn {
        ::ng-deep button {
          align-items: center;
          display: flex;
          font-size: $font-size-s;
          font-weight: $font-weight-chunky;
          line-height: $spacing-l;
          padding-bottom: $spacing-s;
          padding-top: $spacing-s;
        }

        &--regular {
          ::ng-deep button span {
            font-weight: normal;
          }
        }

        &--with-icon {
          margin-left: $spacing-ml;

          ::ng-deep button {
            padding-left: $spacing-s;
          }

          ::ng-deep tsl-svg-icon {
            @include square(26px);
            margin-right: $spacing-s;
            vertical-align: middle;
          }

          &:hover {
            ::ng-deep tsl-svg-icon {
              #fill {
                fill-opacity: 1;
                transition: all 0.2s ease-in-out;
              }
              #plus {
                rect {
                  fill: $walla-main;
                  transition: all 0.2s ease-in-out;
                }
              }
            }
          }
        }
      }
    }
  }
}

.main-header-login {
  &.professional {
    .main-header-my-zone {
      &.active {
        .horizontal-line {
          border-color: $yellow-dark;
        }
        span {
          color: $yellow-dark;
        }
      }
    }
  }
}

.main-header-credits {
  b {
    color: $walla-main;
    margin-right: $spacing-xs;
  }
  .topbar-icon {
    @include square(38px);
  }
}

.ic-logo-web {
  display: block;
  width: 38px;
  height: 38px;
  background: url('/assets/icons/ic-logo-web.svg');
  background-size: contain;
  box-shadow: 0 2px 4px 0 rgba($blue-grey-1, 0.1);
  border-radius: 10px;
}

.topbar-logo-icon {
  @include media-breakpoint-down(md) {
    padding-left: $spacing-m;
  }
}
