<div class="topbar-logo-icon" *ngIf="(showLogo$ | async)">
  <a [href]="homeUrl">
    <i class="ic-logo-web"></i>
  </a>
</div>
<tsl-suggester id="top-bar-suggester" (searchSubmit)="onSearchSubmit($event)" (searchCancel)="searchCancel($event)"></tsl-suggester>
<div class="main-header-login d-none d-lg-flex" [class.professional]="isProfessional">
  <ng-container *ngIf="isLogged && currencyName && wallacoins > 0">
      <a id="top-bar-wallacoins" *ngxPermissionsExcept="['isProfessional']"
        class="main-header-credits menu-link" (click)="onOpenWallacoinsModal()">
        <tsl-svg-icon src="/assets/icons/wallacoins-nav.svg" class="topbar-icon"></tsl-svg-icon>
        <span *ngIf="currencyName === 'wallacoins'"><b>{{wallacoins | number}}</b> {{currencyName}}</span>
        <span *ngIf="currencyName !== 'wallacoins'"><b>{{wallacoins | customCurrency}}</b> <span i18n="@@web_components_topbar_8">credit</span></span>
        <div class="horizontal-line"></div>
      </a>
  </ng-container>
  <a id="top-bar-inbox" class="main-header-chat menu-link" [routerLink]="['/chat']" [routerLinkActive]="['active']">
    <div class="news-badge" *ngIf="(unreadChatMessagesService.totalUnreadMessages$ | async) > 0"></div>
    <tsl-svg-icon src="/assets/icons/messages.svg" class="topbar-icon"></tsl-svg-icon>
    <span i18n="@@web_components_topbar_538">Messages</span>
    <div class="horizontal-line"></div>
  </a>
  <a id="top-bar-my-zone" *ngIf="isLogged" class="main-header-my-zone menu-link" [routerLink]="['/catalog/list']"
    [class.active]="isMyZone">
    <tsl-user-avatar class="topbar-avatar" [size]="32" [user]="user" *ngIf="user"
      [imageUrl]="user?.image?.urls_by_size.medium"></tsl-user-avatar>
    <span *ngxPermissionsExcept="['isProfessional']" i18n="@@web_components_topbar_9">My Zone</span>
    <span *ngxPermissionsOnly="['isProfessional']" i18n="@@web_components_topbar_10">My Pro Zone</span>
    <div class="horizontal-line"></div>
  </a>
  <tsl-button id="top-bar-signin" *ngIf="!isLogged" class="TopBar__btn TopBar__btn--regular" [className]="'btn-outline-primary'" [routerLink]="['/', LOGIN_PATH]" >
    <span i18n="@@web_top_bar_button_register_or_signin">Register or sign in</span>
  </tsl-button>
  <tsl-button id="top-bar-upload" class="TopBar__btn TopBar__btn--with-icon" [routerLink]="['/catalog/upload']">
    <tsl-svg-icon src="/assets/icons/upload.svg"></tsl-svg-icon>
    <span *ngxPermissionsExcept="['isProfessional']" i18n="@@web_components_topbar_11">List a product</span>
    <span *ngxPermissionsOnly="['isProfessional']" i18n="@@web_components_topbar_12">List a car</span>
  </tsl-button>
</div>
