<div class="WalletHistoryMovements mt-3">
  <tsl-tabs-bar [tabsBarElements]="this.tabBarElements" (onChange)="onChangeFilter($event.value)"></tsl-tabs-bar>
  <tsl-historic-list
    *ngIf="historicList$ | async as historicList"
    [historicList]="historicList"
    [infiniteScrollDisabled]="infiniteScrollDisabled"
    (scrolled)="getItems()"
  ></tsl-historic-list>
  <tsl-svg-icon
    *ngIf="loading$ | async"
    class="d-flex w-100 align-items-center justify-content-center spinner"
    [src]="loadingIconSrc"
    [width]="loadingIconSizePixels"
    [height]="loadingIconSizePixels"
  >
  </tsl-svg-icon>
</div>
