@import '~style/common';

$wallet-history-movements-border: 1px solid $blue-grey-5;

.WalletHistoryMovements {
  @include box();
  padding: $spacing-ml;

  color: $blue-grey-1;
  font-weight: $font-weight-chunky;

  &__header {
    margin-top: $spacing-ml;
    font-size: $font-size-xl;
  }

  &__subtitle {
    margin: $spacing-xl 0;
    font-size: $font-size-l;
  }

  &__movement {
    border-top: 1px solid $blue-grey-5;

    &:last-child {
      border-bottom: 1px solid $blue-grey-5;
    }
  }

  &__balance {
    color: $blue-grey-3;
    font-size: $font-size-xs;
    font-weight: 400;
  }
}
