<div class="call">
  <div class="row">
    <div class="col-3">
      <span>{{call.modifiedDate | dateCalendar:momentCalendarSpec}}</span>
    </div>
    <div class="col-6 col-phone">
      <span [ngSwitch]="call.callStatus" class="icon">
        <tsl-svg-icon *ngSwitchCase="'ANSWERED'" class="call-received" src="/assets/icons/call-received.svg"></tsl-svg-icon>
        <tsl-svg-icon *ngSwitchCase="'MISSED'" class="call-missed" src="/assets/icons/call-missed.svg"></tsl-svg-icon>
        <tsl-svg-icon *ngSwitchDefault class="call-shared" src="/assets/icons/call-shared.svg"></tsl-svg-icon>
      </span>
      <div class="phone-info">
        <span>{{call.phone}}</span>
        <span class="status">{{call.callStatus | callStatusLabel}}</span>
      </div>
    </div>
    <div class="col-2 duration">
      <span>{{formattedDuration}}</span>
    </div>
    <div class="col-1 process">
      <tsl-archive-button [lead]="call" (handleClick)="archived = true" [hidden]="call.archived"></tsl-archive-button>
      <tsl-unarchive-button [lead]="call" [hidden]="!call.archived"></tsl-unarchive-button>
    </div>
  </div>
</div>
