<ngb-datepicker #dp (select)="onDateSelection($event)" [dayTemplate]="t" [minDate]="minDate" [(ngModel)]="model"></ngb-datepicker>
<ng-template #t let-date="date" let-focused="focused" let-disabled="disabled">
  <span class="custom-day" [ngClass]="bumpType" [class.focused]="focused" [class.disabled]="disabled" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
    {{date.day}}
  </span>
</ng-template>
<div class="selected-text" [ngClass]="bumpType">
  <span i18n>You have selected </span>
  <div class="bold">
    <span>{{selectedDates.numberOfDays}}</span>
    <span i18n *ngIf="bumpType === 'citybump'">city</span>
    <span i18n *ngIf="bumpType === 'countrybump'">country</span>
    <span i18n *ngIf="selectedDates.numberOfDays === 1">bump</span>
    <span i18n *ngIf="selectedDates.numberOfDays > 1 || selectedDates.numberOfDays === 0">bumps</span>
  </div>
</div>
<div class="datepicker-btn-wrapper">
  <button class="datepicker-btn cancel" (click)="onCancel()">Cancel</button>
  <button class="datepicker-btn apply" [ngClass]="bumpType" (click)="onApply()" [disabled]="!startDate || !endDate">Apply</button>
</div>