<ngb-datepicker #dp (select)="onDateSelection($event)" [dayTemplate]="t" [minDate]="minDate" [(ngModel)]="model"></ngb-datepicker>
<ng-template #t let-date="date" let-focused="focused" let-disabled="disabled">
  <span class="custom-day" [ngClass]="{'city-day': bumpType === 'citybump', 'country-day': bumpType === 'countrybump'}"
    [class.focused]="focused" [class.disabled]="disabled" [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
    {{date.day}}
  </span>
</ng-template>
<div class="datepicker-btn-wrapper">
  <button class="datepicker-btn cancel" (click)="onCancel()">Cancelar</button>
  <button class="datepicker-btn apply" [ngClass]="{'city-btn': bumpType === 'citybump', 'country-btn': bumpType === 'countrybump'}"
    (click)="onApply()">Aplicar</button>
</div>