@import '~style/common';

.SearchPage {
  &__ad {
    &--top {
      height: 58%;
    }

    &--bottom {
      height: 40%;
    }

    &--topSpace {
      top: calc(#{$topbar-height} + #{$spacing-xs});
    }
  }
}
