<div class="Search">
  <tsl-filters-wrapper class="Search__filters position-fixed"
    [class.Search__filters--with-backdrop]="(openBubbleCount$ | async) !== 0"
    (bubbleFilterOpenStateChange)="toggleBubbleFilterBackdrop($event)">
  </tsl-filters-wrapper>

  <tsl-search-layout class="Search__layout d-block" >
    <div top class="d-block h-100 position-relative">
      <tsl-sky [adSlot]="adSlots.search1"></tsl-sky>
    </div>
    <div bottom class="d-block h-100 position-relative">This should be an ad - Bottom</div>
    <div right class="d-block h-100 position-relative">
      <ng-container *ngIf="device === DevicesType.DESKTOP">
        <div class="w-100 mb-3 Search__ad--top">
          <div class="position-sticky w-100 Search__ad--topSpace">
            <tsl-sky [adSlot]="adSlots.search2r"></tsl-sky>
          </div>
        </div>
        <div class="w-100 Search__ad--bottom">
          <div class="position-sticky w-100 Search__ad--topSpace">
            <tsl-sky [adSlot]="adSlots.search3r"></tsl-sky>
          </div>
        </div>
      </ng-container>
    </div>
    <ng-container main>
      <tsl-public-item-card-list [items]="items$ | async" [columnsConfig]="columnsConfig" [slotsConfig]="slotsConfig">
        <ng-template #slotTemplate let-index>
          <tsl-sky-native-shopping [adSlotContainer]="adSlotNativeShoppingContainer" [adShoppingPageOptions]="adShoppingNativeListPageOptions" [index]="index"></tsl-sky-native-shopping>
        </ng-template>
      </tsl-public-item-card-list>
      <div *ngIf="device === DevicesType.DESKTOP" class="mx-auto my-4">
        <tsl-sky-slot-group-shopping [adSlotShoppingConfiguration]="adSlotGroupShoppingConfiguration" [adShoppingPageOptions]="adShoppingGroupPageOptions"></tsl-sky-slot-group-shopping>
      </div>
    </ng-container>
  </tsl-search-layout>
</div>
