.SearchPage {
  &__ad {
    display: block;
    height: 100%;
    position: relative;
    .content__ad {
      width: 100%;

      .content__ad__item {
        width: 100%;
        position: sticky;
        top: 70px;
      }

      &.content__ad__top {
        height: 60%;
        margin-bottom: 1rem;
      }

      &.content__ad__bottom {
        width: 100%;
        height: 40%;
      }
    }
  }
}
