@import '~style/common';

.content-col {
  background: url(/assets/icons/listing-fee-icon-wings.svg) no-repeat 40px 50px;
  background-size: 190px;
  padding: $spacing-xxl $spacing-xxl $spacing-xxl 260px;
  p {
    margin: 0 auto $spacing-l auto;
  }
  tsl-button ::ng-deep button {
    width: 200px;
  }
}
