@import "~style/common";

.listingfee-confirmation-modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 260px;
  mat-icon {
    width: 285px;
    height: 140px;
    margin: 0 $spacing-L;
  }
  h4 {
    font-size: $font-size-l;
    font-weight: bold;
  }
  p {
    font-size: $font-size-m;
    padding-right: $spacing;
    color: $grey-500;
  }
}