<div class="PayviewDelivery d-flex w-100 flex-column" *ngIf="showDelivery">
  <div class="container">
    <div class="PayviewDelivery__content p-1">
      <div class="PayviewDelivery__header">
        <tsl-payview-delivery-header></tsl-payview-delivery-header>
      </div>
      <div class="PayviewDelivery__body" *ngIf="showDeliveryPoints">
        <tsl-payview-delivery-points
          [costs]="costs"
          [defaultMethod]="defaultDeliveryMethod"
          [methods]="deliveryMethods"
        ></tsl-payview-delivery-points>
      </div>
    </div>
  </div>
</div>
