@import "~style/common";

$vertical-padding: 10px;

:host {
  display: inline-block;
  &[className*='btn-block'] {
    display: block;
    width: 100%;
  }
}

.btn {
  color: $white;
  padding: $vertical-padding $spacing;
  border-radius: $button-border-radius;
  transition: all 0.2s ease-in-out, padding 0s;
  &:focus, &.focus {
    box-shadow: none;
  }
  &:not([disabled]) {
    cursor: pointer;
  }
  &.btn-reserve {
    background-color: $reserve-bg;
  }
  &.btn-delete {
    background-color: $delete-bg;
  }
  &:not([disabled]):not(.btn-primary):hover {
    opacity: .8;
  }
  &.btn-primary {
    &.disabled, &:disabled {
      &:active {
        background-color: $walla-main;
        border-color: transparent;
      }
    }
    &:not([disabled]) {
      &:hover {
        background-color: $corporate-dark;
        border-color: transparent;
      }
    }
  }
  &.loading {
    padding-top: 7px;
    padding-bottom: 4px;
  }
  &.btn-big {
    padding-left: 75px;
    padding-right: 75px;
  }
  &.btn-feature {
    background: $grey-700;
    border-color: transparent;
    &:hover {
      background: $walla-main;
    }
  }
  &.btn-inactive {
    background-color: $white;
    border: 2px dashed $sold-bg;
    color: $sold-bg;
    cursor: default;
    font-size: $font-size-S;
    font-weight: bold;
    border-radius: 5px;
    width: 170px;
  }
  &.btn-outline-primary {
    color: $walla-main;
    &:hover {
      color: $white;
    }
  }
  &.btn-gray {
    background-color: $blue-grey-5;
    color: $blue-grey-3;
  }
}




