<div class="CreditCard__info" *ngIf="!loading">
  <div class="credit-card-field">
    <div class="CreditCard__info--info">
      <mat-icon svgIcon="{{financialCard?.stripeCard?.brand}}"
      *ngIf="financialCard?.stripeCard?.brand === 'visa' || financialCard?.stripeCard?.brand === 'mastercard'"
      class="card-icon">
      </mat-icon>
      <mat-icon svgIcon="card"
      *ngIf="financialCard?.stripeCard?.brand !== 'visa' && financialCard?.stripeCard?.brand !== 'mastercard'"
      class="card-icon">
      </mat-icon>
      <div class="number"><span>**** **** **** </span>{{financialCard?.number}}</div>
      <div class="date">{{financialCard?.expire_date}}</div>
    </div>
    <div class="CreditCard__info--actions">
      <div class="CreditCard__info--actions-default" *ngIf="financialCard?.invoices_default" i18n="@@DefaultCreditCard">Subscription card</div>
      <div class="CreditCard__info--actions-delete" (click)="deleteStripeCard($event)" i18n="@@DeleteCard">Delete card</div>
      <div class="CreditCard__info--actions-change" *ngIf="financialCard?.invoices_default" (click)="changeStripeCard($event)" i18n="@@ChangeCard">Change card</div>
    </div>
  </div>
</div>

<div class="CreditCard__info--loading" *ngIf="loading">
  <mat-icon svgIcon="spinner" class="spinner"></mat-icon>
</div>
