<div class="CreditCard__info" *ngIf="!loading" >
  <div class="CreditCard__field" [ngClass]="{'CreditCard__field--error': error}">
    <div class="CreditCard__info--info">
      <tsl-svg-icon src="/assets/icons/card-{{financialCard?.stripeCard?.brand}}.svg"
      *ngIf="financialCard?.stripeCard?.brand === 'visa' || financialCard?.stripeCard?.brand === 'mastercard'"
      class="card-icon">
    </tsl-svg-icon>
      <tsl-svg-icon src="/assets/icons/card.svg"
      *ngIf="financialCard?.stripeCard?.brand !== 'visa' && financialCard?.stripeCard?.brand !== 'mastercard'"
      class="card-icon">
      </tsl-svg-icon>
      <div class="number"><span>**** **** **** </span>{{financialCard?.number}}</div>
      <div class="date">{{financialCard?.expire_date}}</div>
    </div>
    <div class="CreditCard__info--actions">
      <div *ngIf="!hideEdit" class="CreditCard__info--actions-change" (click)="changeStripeCard($event)" i18n="@@web_change_card">Change card</div>
      <div *ngIf="!hideDelete" class="CreditCard__info--actions-delete" (click)="checkDelete($event)" i18n="@@web_delete_card">Delete card</div>
    </div>
  </div>
</div>

<div class="CreditCard__info--loading" *ngIf="loading">
  <tsl-svg-icon src="/assets/icons/spinner.svg" class="spinner"></tsl-svg-icon>
</div>
