@import "~style/common";

$card-width: 300px;
$card-height: 88px;

.credit-card-field {
  border: solid 1px $blue-grey-5;
  height: $card-height;
  padding: 0 $spacing-ml;
  flex-direction: column;
  border-radius: 6px;
  align-items: center;
  font-size: $font-size-s;
  width: $card-width;
  display: flex;
  justify-content: center;
  .card-icon {
    flex: 0 0 34px;
    margin-right: $spacing-m;
  }
  .number {
    flex: 1;
  }
  .date {
    color: $blue-grey-3;
    span {
      font-size: $font-size-xs;
    }
  }
  .info {
    width: 100%;
    display: flex;
    padding: 0;
  }
}
.delete-link {
  font-size: $font-size-s;
  cursor: pointer;
  margin-left: auto;
  a {
    cursor: pointer;
    color: $walla-main;
    &:hover {
      text-decoration: underline;
    }
  }
}

.CreditCard__info {
  &--loading {
    border: solid 1px $blue-grey-5;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    width: $card-width;
    height: $card-height;
    background: white;
  }
}