<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
  <div class="box">
    <div class="row">
      <div class="col">
        <h2 i18n="@@web_upload_product_title">Information about your item</h2>
      </div>
    </div>
    <div class="row" [ngbPopover]="coachmarkTitle" [autoClose]="false" popoverClass="ml-3" triggers="mouseenter:mouseleave">
      <div class="col">
        <div class="form-group">
          <label for="headline" i18n="@@web_upload_product_headline">What are you selling?</label>
          <span class="chars-counter">{{ uploadForm.value?.title?.length }}/{{ MAX_TITLE_LENGTH }}</span>
          <input
            i18n-placeholder="@@web_upload_pages_product_423"
            placeholder="In some words..."
            type="text"
            class="form-control"
            formControlName="title"
            #title
            id="headline"
            [maxlength]="MAX_TITLE_LENGTH"
          />
        </div>
      </div>
      <ng-template #coachmarkTitle>
        <div i18n="@@web_upload_product_coachmark_title">Don't make errors so that people will find you easily.</div>
      </ng-template>
    </div>
    <div class="row" [ngbPopover]="coachmarkPrice" [autoClose]="false" popoverClass="ml-3">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="category" i18n="@@web_upload_product_category">Category</label>
          <tsl-dropdown
            [disabled]="isHeroCategory(uploadForm.value?.category_id)"
            i18n-placeholder="@@web_upload_product_category_placeholder"
            placeholder="Category"
            class="form-control categories-select"
            formControlName="category_id"
            id="category"
            [options]="categories"
            noFilter="10"
            (selected)="resetAllExtraFields()"
          >
            <ng-template #optionTemplate let-option="option">
              <div [ngClass]="'cat_' + option?.value">
                <tsl-svg-icon src="/assets/icons/categories/stroke/{{ option?.icon_id }}.svg"></tsl-svg-icon>
                {{ option?.label }}
              </div>
            </ng-template>
          </tsl-dropdown>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="form-group">
          <label for="price" i18n="@@web_upload_product_price">Price</label>
          <input
            i18n-placeholder="@@web_upload_product_price_placeholder"
            placeholder="(don't go crazy)"
            type="number"
            class="form-control"
            formControlName="sale_price"
            id="price"
            min="0"
            max="999999999"
          />
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="form-group">
          <label for="currency" i18n="@@web_upload_product_currency">Currency</label>
          <tsl-dropdown
            class="form-control"
            formControlName="currency_code"
            id="currency"
            [options]="currencies"
            noFilter="10"
          ></tsl-dropdown>
        </div>
      </div>
      <ng-template #coachmarkPrice>
        <div i18n="@@web_upload_product_coachmark_price">Add a fair price and the category that best suits your item.</div>
      </ng-template>
    </div>

    <ng-container formGroupName="extra_info">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group" formGroupName="object_type">
            <label for="objectType" *ngIf="selectedRawCategory?.fields.type_of_object">
              {{ selectedRawCategory.fields.type_of_object.title }}
            </label>
            <label for="objectType" i18n="@@web_upload_product_subcategory" *ngIf="!selectedRawCategory?.fields.type_of_object">
              Subcategory
            </label>
            <tsl-dropdown
              class="form-control"
              [disabled]="!objectTypesOptions?.length"
              formControlName="id"
              id="objectType"
              i18n-placeholder="@@web_upload_product_subcategory_placeholder"
              placeholder="Subcategory"
              [options]="objectTypesOptions"
              noFilter="10"
              (selected)="resetCommonExtraFields()"
            >
            </tsl-dropdown>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group" formGroupName="object_type_2">
            <label for="objectType2" *ngIf="selectedRawCategory?.fields.type_of_object_level_2">
              {{ selectedRawCategory.fields.type_of_object_level_2.title }}
            </label>
            <label for="objectType2" i18n="@@web_upload_product_subcategory2" *ngIf="!selectedRawCategory?.fields.type_of_object_level_2">
              Could you specify?
            </label>
            <tsl-dropdown
              class="form-control"
              formControlName="id"
              id="objectType2"
              i18n-placeholder="@@web_upload_product_subcategory2_placeholder"
              placeholder="Could you specify?"
              [options]="objectTypesOptions2"
              noFilter="10"
            >
            </tsl-dropdown>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="conditions" i18n="@@web_upload_product_product_condition">Product condition</label>
            <tsl-dropdown
              class="form-control"
              [disabled]="!conditions?.length"
              formControlName="condition"
              id="conditions"
              i18n-placeholder="@@web_upload_product_product_condition_placeholder"
              placeholder="Select a condition"
              [options]="conditions"
              class="conditions-select"
            >
              <ng-template #optionTemplate let-option="option">
                {{ option?.label }}
                <span class="option-description">{{ option?.description }}</span>
              </ng-template>
            </tsl-dropdown>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="row" [ngbPopover]="coachmarkDescription" [autoClose]="false" popoverClass="ml-3">
      <div class="col-12">
        <div class="form-group last">
          <label for="tellUs" i18n="@@web_upload_product_description">Description</label>
          <span class="chars-counter">{{ uploadForm.value?.description?.length }}/{{ MAX_DESCRIPTION_LENGTH }}</span>
          <textarea
            i18n-placeholder="@@web_upload_product_description_placeholder"
            placeholder="Add relevant information such as condition, model, color..."
            fz-elastic
            class="form-control"
            formControlName="description"
            id="tellUs"
            [maxlength]="MAX_DESCRIPTION_LENGTH"
          ></textarea>
        </div>
      </div>
      <ng-template #coachmarkDescription>
        <div i18n="@@web_upload_product_coachmark_description">Every detail helps: so tell us more!</div>
      </ng-template>
    </div>

    <div class="row" formGroupName="extra_info" *ngIf="!!selectedRawCategory?.fields">
      <div
        class="col-12 col-md-6 mt-3"
        *ngIf="!!selectedRawCategory?.fields.brand && selectedRawCategory.category_id === cellPhonesCategoryId"
      >
        <div class="form-group last">
          <label for="brand" i18n="@@web_upload_product_brand">Brand</label>
          <tsl-keyword-suggester
            [form]="uploadForm.controls.extra_info"
            [controlName]="'brand'"
            placeholder="phones_brand_example"
            [suggestions]="brandSuggestions"
            (inputChange)="getBrands($event)"
            (onSuggestionSelect)="autoCompleteCellphonesModel($event)"
          >
          </tsl-keyword-suggester>
        </div>
      </div>
      <div
        class="col-12 col-md-6 mt-3"
        *ngIf="!!selectedRawCategory?.fields.brand && selectedRawCategory.category_id === fashionCategoryId"
      >
        <div class="form-group last">
          <label for="brand" i18n="@@web_upload_product_brand">Brand</label>
          <tsl-keyword-suggester
            [form]="uploadForm.controls.extra_info"
            [controlName]="'brand'"
            placeholder="fashion_brand_example"
            [suggestions]="brandSuggestions"
            (inputChange)="getBrands($event)"
          >
          </tsl-keyword-suggester>
        </div>
      </div>
      <div class="col-12 col-md-6 mt-3" *ngIf="!!selectedRawCategory?.fields.model">
        <div class="form-group last">
          <label for="model" i18n="@@web_upload_product_model">Model</label>
          <tsl-keyword-suggester
            [form]="uploadForm.controls.extra_info"
            [controlName]="'model'"
            placeholder="model_example"
            [suggestions]="modelSuggestions"
            (inputChange)="getModels($event)"
          >
          </tsl-keyword-suggester>
        </div>
      </div>
      <div class="col-md-3 mt-3" *ngIf="!!selectedRawCategory?.fields.gender && genders">
        <div class="form-group last">
          <label for="gender" i18n="@@web_upload_product_select_gender">Gender</label>
          <tsl-dropdown
            class="form-control"
            formControlName="gender"
            id="gender"
            i18n-placeholder="@@web_upload_product_select_gender_placeholder"
            placeholder="Select a gender"
            [options]="genders"
          ></tsl-dropdown>
        </div>
      </div>
      <div class="col-md-3 mt-3" *ngIf="!!selectedRawCategory?.fields.size">
        <div class="form-group last" formGroupName="size">
          <label for="size" i18n="@@web_upload_product_select_size">Size</label>
          <tsl-dropdown
            class="form-control"
            formControlName="id"
            id="fashionSizes"
            i18n-placeholder="@@web_upload_product_select_size_placeholder"
            placeholder="Select a size"
            [options]="sizes"
            noFilter="10"
          ></tsl-dropdown>
        </div>
      </div>
    </div>
  </div>

  <div class="box product-photos" [ngbPopover]="coachmarkPictures" [autoClose]="false" triggers="mouseenter:mouseleave">
    <div class="row">
      <div class="col">
        <h2
          [ngClass]="{ 'ng-invalid': !uploadForm.controls.images.valid && uploadForm.controls.images.dirty }"
          i18n="@@web_upload_product_photos"
        >
          Photos
        </h2>
      </div>
    </div>
    <tsl-drop-area
      (onError)="onError($event)"
      formControlName="images"
      [isUpdatingItem]="!!item"
      (onOrderImages)="onOrderImages()"
      (onDeleteImage)="onDeleteImage($event)"
      (onAddImage)="onAddImage($event)"
    ></tsl-drop-area>
    <ng-template #coachmarkPictures>
      <div i18n="@@web_upload_product_coachmark_pictures">
        You can drag and drop your photos here. Select and drag to change the order. Max 10MB. We accept only .jpg images.
      </div>
    </ng-template>
  </div>

  <div
    class="box"
    *ngIf="categoryId === '-1' || (item && item.itemType === itemTypes.CONSUMER_GOODS)"
    [ngbPopover]="coachmarkShipping"
    [autoClose]="false"
    triggers="mouseenter:mouseleave"
  >
    <div data-toggle="buttons">
      <div class="row">
        <div class="col">
          <h2 i18n="@@web_upload_product_shipping">Shipping</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p i18n="@@web_upload_product_shipping_description">You can send (almost) anything through Wallapop. And it's free for you!</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="selector-container" ngbRadioGroup name="radioBasic" formControlName="delivery_info">
            <label ngbButtonLabel class="selector shipping-selector" *ngFor="let delivery of deliveryInfo">
              <div class="selector-icon btn">
                <input ngbButton type="radio" [value]="delivery.value" (click)="onDeliveryChange(delivery.value)" />
                <tsl-svg-icon src="/assets/icons/shipping-{{ delivery.value.max_weight_kg }}.svg"></tsl-svg-icon>
              </div>
              <span class="selector-text">{{ delivery.value.max_weight_kg }}kg max</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <ng-template #coachmarkShipping>
      <div i18n="@@web_upload_product_coachmark_shipping">
        Tell us how much your product weighs. Remember that the sum of the length, height and width can not exceed 270cm.
      </div>
    </ng-template>
  </div>
  dynamic input
<tsl-suggester-input></tsl-suggester-input>
  <tsl-location-box *ngIf="!!uploadForm" [form]="uploadForm" name="location" (locationSelected)="emitLocation()"> </tsl-location-box>
  <div class="row" id="prueba">
    <div class="col-12 col-md-5">
      <tsl-button [type]="'submit'" className="btn-primary btn-block" [disabled]="loading">
        <span *ngIf="!item && !loading" i18n="@@web_upload_product_submit_item">Post Ad</span>
        <ng-container *ngIf="item && !loading">
          <span *ngIf="!isReactivation" i18n="@@web_upload_product_submit_update">Update</span>
          <span *ngIf="isReactivation" i18n="@@web_upload_seller_reactivation_button">Reactivate item</span>
        </ng-container>
        <span *ngIf="loading && !pendingFiles" i18n="@@web_upload_product_submit_loading">Uploading... {{ uploadCompletedPercentage }}%</span>
        <span *ngIf="loading && pendingFiles" i18n="@@web_upload_images_submit_loading"
          >Uploading image... {{ pendingFiles.currentUploading }}/{{ pendingFiles.totalFiles }}</span
        >
      </tsl-button>
    </div>
    <div class="col-md-3 d-none d-md-block">
      <button type="button" (click)="preview()" class="btn btn-link" [disabled]="!uploadForm.valid" i18n="@@web_upload_product_preview">
        How does it look?
      </button>
    </div>
  </div>
</form>
