@import '~style/common';

.categories-select {
  tsl-svg-icon {
    ::ng-deep svg {
      @include square(38px);
    }
  }
}

.conditions-select {
  .option-description {
    font-size: $font-size-xs;
    color: $blue-grey-3;
    margin-left: $spacing-xs;
  }
}

.WeightSelector {
  width: 96px;
  height: 96px;
  border: 1px solid $blue-grey-5;
  padding: $spacer * 0.5 0;
  margin-right: $spacer;

  @include media-breakpoint-down(sm) {
    width: 40px;
    height: 88px;
    margin-right: $spacer * 0.5;
    padding: 0;
    border: 0;
  }

  &:focus {
    box-shadow: none;
  }

  span {
    color: $blue-grey-4;

    @include media-breakpoint-down(sm) {
      white-space: normal;
    }
  }

  input {
    opacity: 0;
  }

  &.active {
    background: $walla-main;
    border-color: $walla-main;

    span {
      color: $white;
    }

    @include media-breakpoint-down(sm) {
      background: transparent;

      span {
        color: $black;
      }
    }
  }

  &__text {
    &--big {
      font-size: $font-size-l !important;
    }

    &--small {
      font-size: $font-size-xs !important;
    }

    @include media-breakpoint-down(sm) {
      &--big {
        font-size: $font-size-s !important;
      }

      &--small {
        font-size: $font-size-xxs !important;
      }
    }
  }
}
