<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
  <div class="box">
    <div class="row">
      <div class="col">
        <h2 i18n="@@web_upload_product_title">Information about your item</h2>
      </div>
    </div>
    <div class="row" [ngbPopover]="coachmarkTitle" [autoClose]="false" popoverClass="ml-3" triggers="mouseenter:mouseleave">
      <div class="col">
        <div class="form-group">
          <label for="headline" i18n="@@web_upload_product_headline">What are you selling?</label>
          <span class="chars-counter">{{ uploadForm.value?.title?.length }}/{{ MAX_TITLE_LENGTH }}</span>
          <input
            i18n-placeholder="@@web_upload_pages_product_423"
            placeholder="In some words..."
            type="text"
            class="form-control"
            formControlName="title"
            #title
            id="headline"
            [maxlength]="MAX_TITLE_LENGTH"
          />
        </div>
      </div>
      <ng-template #coachmarkTitle>
        <div i18n="@@web_upload_product_coachmark_title">Don't make errors so that people will find you easily.</div>
      </ng-template>
    </div>
    <div class="row" [ngbPopover]="coachmarkPrice" [autoClose]="false" popoverClass="ml-3">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="category" i18n="@@web_upload_product_category">Category</label>
          <tsl-dropdown
            [disabled]="isHeroCategory(uploadForm.value?.category_id)"
            i18n-placeholder="@@web_upload_product_category_placeholder"
            placeholder="Category"
            class="form-control categories-select"
            formControlName="category_id"
            id="category"
            [options]="categories"
            noFilter="10"
            (selected)="resetAllExtraFields()"
          >
            <ng-template #optionTemplate let-option="option">
              <div [ngClass]="'cat_' + option?.value">
                <tsl-svg-icon src="/assets/icons/categories/stroke/{{ option?.icon_id }}.svg"></tsl-svg-icon>
                {{ option?.label }}
              </div>
            </ng-template>
          </tsl-dropdown>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="form-group">
          <label for="price" i18n="@@web_upload_product_price">Price</label>
          <input
            i18n-placeholder="@@web_upload_product_price_placeholder"
            placeholder="(don't go crazy)"
            type="number"
            class="form-control"
            formControlName="sale_price"
            id="price"
            min="0"
            max="999999999"
          />
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="form-group">
          <label for="currency" i18n="@@web_upload_product_currency">Currency</label>
          <tsl-dropdown
            class="form-control"
            formControlName="currency_code"
            id="currency"
            [options]="currencies"
            noFilter="10"
          ></tsl-dropdown>
        </div>
      </div>
      <ng-template #coachmarkPrice>
        <ng-container>
          <div
            *ngIf="
              !isShippabilityAllowedByCategory ||
              (uploadForm.controls.sale_price.value >= priceShippingRules.minPrice &&
                uploadForm.controls.sale_price.value <= priceShippingRules.maxPrice)
            "
            i18n="@@web_upload_product_coachmark_price"
          >
            Add a fair price and the category that best suits your item.
          </div>

          <div
            *ngIf="isShippabilityAllowedByCategory && uploadForm.controls.sale_price.value < priceShippingRules.minPrice"
            i18n="@@upload_shipping_toggle_snackbar_min_price_description"
          >
            Products priced at €1 euro or less can't be shipped.
          </div>
          <div
            *ngIf="isShippabilityAllowedByCategory && uploadForm.controls.sale_price.value > priceShippingRules.maxPrice"
            i18n="@@upload_shipping_toggle_snackbar_max_price_description"
          >
            Products priced at €1,000 or more can't be shipped.
          </div>
        </ng-container>
      </ng-template>
    </div>

    <ng-container formGroupName="extra_info">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group" formGroupName="object_type">
            <label for="objectType" *ngIf="selectedRawCategory?.fields.type_of_object">
              {{ selectedRawCategory.fields.type_of_object.title }}
            </label>
            <label for="objectType" i18n="@@web_upload_product_subcategory" *ngIf="!selectedRawCategory?.fields.type_of_object">
              Subcategory
            </label>
            <tsl-dropdown
              class="form-control"
              [disabled]="!objectTypesOptions?.length"
              formControlName="id"
              id="objectType"
              i18n-placeholder="@@web_upload_product_subcategory_placeholder"
              placeholder="Subcategory"
              [options]="objectTypesOptions"
              noFilter="10"
              (selected)="resetCommonExtraFields()"
            >
            </tsl-dropdown>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group" formGroupName="object_type_2">
            <label for="objectType2" *ngIf="selectedRawCategory?.fields.type_of_object_level_2">
              {{ selectedRawCategory.fields.type_of_object_level_2.title }}
            </label>
            <label for="objectType2" i18n="@@web_upload_product_subcategory2" *ngIf="!selectedRawCategory?.fields.type_of_object_level_2">
              Could you specify?
            </label>
            <tsl-dropdown
              class="form-control"
              formControlName="id"
              id="objectType2"
              i18n-placeholder="@@web_upload_product_subcategory2_placeholder"
              placeholder="Could you specify?"
              [options]="objectTypesOptions2"
              noFilter="10"
            >
            </tsl-dropdown>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="conditions" i18n="@@web_upload_product_product_condition">Product condition</label>
            <tsl-dropdown
              class="form-control"
              [disabled]="!conditions?.length"
              formControlName="condition"
              id="conditions"
              i18n-placeholder="@@web_upload_product_product_condition_placeholder"
              placeholder="Select a condition"
              [options]="conditions"
              class="conditions-select"
            >
              <ng-template #optionTemplate let-option="option">
                {{ option?.label }}
                <span class="option-description">{{ option?.description }}</span>
              </ng-template>
            </tsl-dropdown>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="row" [ngbPopover]="coachmarkDescription" [autoClose]="false" popoverClass="ml-3">
      <div class="col-12">
        <div class="form-group last">
          <label for="tellUs" i18n="@@web_upload_product_description">Description</label>
          <span class="chars-counter">{{ uploadForm.value?.description?.length }}/{{ MAX_DESCRIPTION_LENGTH }}</span>
          <textarea
            i18n-placeholder="@@web_upload_product_description_placeholder"
            placeholder="Add relevant information such as condition, model, color..."
            fz-elastic
            class="form-control"
            formControlName="description"
            id="tellUs"
            [maxlength]="MAX_DESCRIPTION_LENGTH"
          ></textarea>
        </div>
      </div>
      <ng-template #coachmarkDescription>
        <div i18n="@@web_upload_product_coachmark_description">Every detail helps: so tell us more!</div>
      </ng-template>
    </div>

    <div class="row" formGroupName="extra_info" *ngIf="!!selectedRawCategory?.fields">
      <div
        class="col-12 col-md-6 mt-3"
        *ngIf="!!selectedRawCategory?.fields.brand && selectedRawCategory.category_id === cellPhonesCategoryId"
      >
        <div class="form-group last">
          <label for="brand" i18n="@@web_upload_product_brand">Brand</label>
          <tsl-keyword-suggester
            [form]="uploadForm.controls.extra_info"
            [controlName]="'brand'"
            placeholder="phones_brand_example"
            [suggestions]="brandSuggestions"
            (inputChange)="getBrands($event)"
            (onSuggestionSelect)="autoCompleteCellphonesModel($event)"
          >
          </tsl-keyword-suggester>
        </div>
      </div>
      <div
        class="col-12 col-md-6 mt-3"
        *ngIf="!!selectedRawCategory?.fields.brand && selectedRawCategory.category_id === fashionCategoryId"
      >
        <div class="form-group last">
          <label for="brand" i18n="@@web_upload_product_brand">Brand</label>
          <tsl-keyword-suggester
            [form]="uploadForm.controls.extra_info"
            [controlName]="'brand'"
            placeholder="fashion_brand_example"
            [suggestions]="brandSuggestions"
            (inputChange)="getBrands($event)"
          >
          </tsl-keyword-suggester>
        </div>
      </div>
      <div class="col-12 col-md-6 mt-3" *ngIf="!!selectedRawCategory?.fields.model">
        <div class="form-group last">
          <label for="model" i18n="@@web_upload_product_model">Model</label>
          <tsl-keyword-suggester
            [form]="uploadForm.controls.extra_info"
            [controlName]="'model'"
            placeholder="model_example"
            [suggestions]="modelSuggestions"
            (inputChange)="getModels($event)"
          >
          </tsl-keyword-suggester>
        </div>
      </div>
      <div class="col-md-3 mt-3" *ngIf="!!selectedRawCategory?.fields.gender && genders">
        <div class="form-group last">
          <label for="gender" i18n="@@web_upload_product_select_gender">Gender</label>
          <tsl-dropdown
            class="form-control"
            formControlName="gender"
            id="gender"
            i18n-placeholder="@@web_upload_product_select_gender_placeholder"
            placeholder="Select a gender"
            [options]="genders"
          ></tsl-dropdown>
        </div>
      </div>
      <div class="col-md-3 mt-3" *ngIf="!!selectedRawCategory?.fields.size">
        <div class="form-group last" formGroupName="size">
          <label for="size" i18n="@@web_upload_product_select_size">Size</label>
          <tsl-dropdown
            class="form-control"
            formControlName="id"
            id="fashionSizes"
            i18n-placeholder="@@web_upload_product_select_size_placeholder"
            placeholder="Select a size"
            [options]="sizes"
            noFilter="10"
          ></tsl-dropdown>
        </div>
      </div>
    </div>
  </div>

  <div class="box product-photos" [ngbPopover]="coachmarkPictures" [autoClose]="false" triggers="mouseenter:mouseleave">
    <div class="row">
      <div class="col">
        <h2
          [ngClass]="{ 'ng-invalid': !uploadForm.controls.images.valid && uploadForm.controls.images.dirty }"
          i18n="@@web_upload_product_photos"
        >
          Photos
        </h2>
      </div>
    </div>
    <tsl-drop-area
      (onError)="onError($event)"
      formControlName="images"
      [isUpdatingItem]="!!item"
      (orderImages)="onOrderImages()"
      (deleteImage)="onDeleteImage($event)"
      (addImage)="onAddImage($event)"
    ></tsl-drop-area>
    <ng-template #coachmarkPictures>
      <div i18n="@@web_upload_product_coachmark_pictures">
        You can drag and drop your photos here. Select and drag to change the order. Max 10MB. We accept only .jpg images.
      </div>
    </ng-template>
  </div>

  <ng-container>
    <div class="box" *ngIf="isShippabilityAllowed" [ngbPopover]="coachmarkShippingWithToggle" [autoClose]="false" #p="ngbPopover">
      <div data-toggle="buttons">
        <div class="row">
          <div class="col">
            <h2 i18n="@@upload_shipping_toggle_title">Shipping</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p id="shippabilitySection">
              <span i18n="@@upload_shipping_toggle_enabled_description"
                >Shipping is free and lets you sell more. You also have a home pick up service.</span
              >

              <a [href]="SHIPPING_INFO_HELP_LINK" target="_blank" class="ml-1" (click)="trackClickHelpTransactionalEvent()">+ info</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="d-flex" [class.mb-3]="uploadForm.value.sale_conditions.supports_shipping" formGroupName="sale_conditions">
              <tsl-checkbox-form
                formControlName="supports_shipping"
                (change)="!uploadForm.value.sale_conditions.supports_shipping ? p.open() : p.close()"
              ></tsl-checkbox-form>
              <span class="ShippingSection__text--small ml-2 mb-0" i18n="@@upload_shipping_toggle_wallapop_shipping_title">Shipping</span>
            </div>

            <div
              *ngIf="uploadForm.value.sale_conditions.supports_shipping"
              class="selector-container m-0"
              ngbRadioGroup
              name="radioBasic"
              formControlName="delivery_info"
            >
              <p i18n="@@upload_shipping_toggle_weight_selector_weight_selector_title" class="error">Package weight</p>

              <label ngbButtonLabel class="WeightSelector" *ngFor="let delivery of deliveryInfo">
                <span class="WeightSelector__text--small font-weight-bold" i18n="@@upload_shipping_toggle_weight_selector_max_label"
                  >máx.</span
                >

                <input
                  ngbButton
                  type="radio"
                  class="position-absolute"
                  [value]="delivery.value"
                  (click)="onDeliveryChange(delivery.value); p.close()"
                />

                <span class="WeightSelector__text--big d-block font-weight-bold mb-1">{{ delivery.value.max_weight_kg }}kg</span>

                <span class="WeightSelector__text--small d-block"
                  >(<span class="WeightSelector__text--small" i18n="@@upload_shipping_toggle_weight_selector_weight_limit_from_label"
                    >Up to</span
                  >
                  {{ delivery.value.max_weight_kg }}kg)</span
                >
              </label>

              <p class="error mt-4" i18n="@@upload_shipping_toggle_weight_selector_dimension_restrictions_description">
                The weight of the package must not exceed the indicated weight. Regarding its dimensions, the sum of the length, height and
                width cannot exceed 210 cm; and the longest side cannot exceed 120 cm.
              </p>
            </div>
          </div>
        </div>
      </div>
      <ng-template #coachmarkShippingWithToggle>
        <div i18n="@@upload_shipping_toggle_not_enabled_description">Are you sure? By shipping it you could sell it everywhere.</div>
      </ng-template>
    </div>
  </ng-container>

  <tsl-pro-features [categoryId]="uploadForm.controls['category_id'].value" [clickSave]="clickSave"></tsl-pro-features>

  <tsl-location-box *ngIf="!!uploadForm" [form]="uploadForm" name="location"></tsl-location-box>
  <div class="row" id="prueba">
    <div class="col-12 col-md-5">
      <tsl-button [type]="'submit'" className="btn-primary btn-block" [disabled]="loading">
        <span *ngIf="!item && !loading" i18n="@@web_upload_product_submit_item">Post Ad</span>
        <ng-container *ngIf="item && !loading">
          <span *ngIf="!isReactivation" i18n="@@web_upload_product_submit_update">Update</span>
          <span *ngIf="isReactivation" i18n="@@web_upload_seller_reactivation_button">Reactivate item</span>
        </ng-container>
        <span *ngIf="loading && !pendingFiles" i18n="@@web_upload_product_submit_loading"
          >Uploading... {{ uploadCompletedPercentage }}%</span
        >
        <span *ngIf="loading && pendingFiles" i18n="@@web_upload_images_submit_loading"
          >Uploading image... {{ pendingFiles.currentUploading }}/{{ pendingFiles.totalFiles }}</span
        >
      </tsl-button>
    </div>
    <div class="col-md-3 d-none d-md-block">
      <button type="button" (click)="preview()" class="btn btn-link" [disabled]="!uploadForm.valid" i18n="@@web_upload_product_preview">
        How does it look?
      </button>
    </div>
  </div>
</form>
