<div class="GenericCard p-4 d-flex align-items-center flex-wrap justify-content-center flex-column flex-md-row">
  <div class="SubscriptionPurchaseHeader__text text-center text-md-left">
    <div class="mb-2 d-block d-md-flex flex-wrap justify-content-center justify-content-md-start align-items-center">
      <span class="GenericCard__title mr-md-3 mb-0">{{ subscription.category_name }}</span>
      <span *ngIf="subscription.trial_available" class="d-block d-md-inline">
        <tsl-discount-badge>
          <span i18n="@@web_subscription_price_discount_days_trial_free">{{ subscription.trial_days }}-day trial for free</span>
        </tsl-discount-badge>
      </span>
      <span *ngIf="subscription.category_ids.length > 1" class="d-block d-md-inline">
        <span
          i18n="@@pro_subscription_purchase_categories_type_clarification_label"
          (click)="onClickLink(subscription)"
          class="SubscriptionPurchaseHeader__link"
          >Which categories are included?</span
        >
      </span>
    </div>
    <div class="mb-0 GenericCard__subtitle" i18n="@@web_subscription_purchase_subscription_subtitle">
      Turn your sales into a real business
    </div>
  </div>
</div>
