@import '~style/common';

.SubscriptionPurchaseHeader {
  &__subtitle {
    color: $blue-grey-2;
  }

  &__text {
    flex: 1;
  }

  &__link {
    cursor: pointer;
    color: $walla-main;
  }

  &__benefits {
    font-size: $font-size-s;
    color: $blue-grey-2;
  }

  &__trialBanner {
    background-color: $color-pro-discount;
    color: $white;
    border-radius: 2px;
    white-space: nowrap;
  }
}
