<tsl-card [routerLink]="profile?.screen_name | userProfileRoute:profile?.id">
  <tsl-card-image>
    <tsl-profile-images *ngFor="let number of [0,1,2,3]"
      [profileImage]="profile?.item_images && profile?.item_images[number]" size="profile" fallbackLight="true">
    </tsl-profile-images>
    <tsl-pro-badge *ngIf="!profile?.is_professional" class="badge featured"></tsl-pro-badge>
  </tsl-card-image>
  <tsl-card-content>
    <div>
      <h5 class="tsl-card-title"> {{profile.micro_name}} </h5>
      <tsl-stars *ngIf="profile.scoring_stars > -1" [stars]="profile.scoring_stars" [normalized]="false"></tsl-stars>
    </div>
    <tsl-user-avatar [imageUrl]="profile?.user_image?.small" size="40"></tsl-user-avatar>
  </tsl-card-content>
  <tsl-card-footer (click)="removeFavoriteModal($event)">
    <tsl-svg-icon src="/assets/icons/heart-full.svg" class="cart-footer-icon" [ngClass]="{active: profile.favorited}"></tsl-svg-icon>
    <div class="cart-footer-text" i18n="@@web_favorites_components_profile_card_favorite_577"> Remove </div>
  </tsl-card-footer>
</tsl-card>