<div class="box urgent d-none d-md-flex" *ngIf="urgentPrice" [ngbPopover]="coachmarkUrgent" [autoClose]="false"
  triggers="mouseenter:mouseleave">
  <div class="content">
    <h2 i18n="@@UrgentCheckboxTitle">Mark it as "urgent"!</h2>
    <p i18n="@@UrgentCheckboxDescription">
      Highlight your product ad by marking it as "urgent". For 7 days it will stand out from other products and attract the attention of more buyers.
    </p>
    <div class="checkbox">
      <button type="button" class="select" [ngClass]="{'selected': isUrgent}" (click)="selectUrgent()">
        <mat-icon svgIcon="check"></mat-icon>
      </button>
      <span i18n="@@UrgentCheckboxDisabled" [hidden]="isUrgent" (click)="selectUrgent()">Mark as "urgent"</span>
      <span i18n="@@UrgentCheckboxEnabled" *ngIf="isUrgent" [ngClass]="{'selected': isUrgent}" (click)="selectUrgent()">Marked as "urgent"</span>
    </div>
  </div>
  <div class="urgent-background" [class.active]="isUrgent"></div>
  <ng-template #coachmarkUrgent>
    <div i18n="@@UrgentCheckboxTooltip">Your product will be more visible and you will sell it faster.</div>
  </ng-template>
</div>
