<tsl-banner *ngIf="specifications && bannerSpecifications" [specifications]="bannerSpecifications">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <tsl-svg-icon [src]="specifications.svgPath"></tsl-svg-icon>
            <span>{{specifications.description}}</span>
        </div>
        <tsl-button [className]="'btn-white btn-white--' + specifications.type">{{specifications.buttonText}}</tsl-button>
    </div>
</tsl-banner>