<div class="ItemCardContainer" [class.ItemCardContainer--with-description]="showDescription" *ngIf="item">
    <div class="ItemCardContainer__image" tslsanitizedBackground="{{item.mainImage.urls_by_size.medium}}" [fallback]="IMAGE_FALLBACK">
        <!-- <tsl-svg-icon></tsl-svg-icon> -->
    </div>
    <div class="m-2">
        <div class="d-flex justify-content-between mb-1">
            <span class="ItemCardContainer__price ItemCardContainer__price--bold">{{item.salePrice | customCurrency }}</span>
            <tsl-favourite-icon class="ItemCardContainer__favourite" [active]="item.flags.favorite"></tsl-favourite-icon>
        </div>
        <div class="ItemCardContainer__info">
            <p class="ItemCardContainer__info__title mb-1">{{item.title}}</p>
            <p class="ItemCardContainer__info__description ItemCardContainer__info__description--light mb-0" *ngIf="showDescription">{{item.description}}</p>
        </div>
    </div>
</div>