<div class="page-content">
  <div class="container">
    <tsl-header>
      <div class="row mb-3">
        <div class="col">
          <div class="header-row">
            <h1 class="header-title" i18n="@@web_delivery_info_title">Your shipping info</h1>
          </div>
          <div class="header-row">
            <h4 class="header-subtitle" i18n="@@web_delivery_info_subtitle">Here you will find information about your shippments.</h4>
          </div>
        </div>
      </div>
    </tsl-header>
    <div class="row">
      <div class="col">
        <tsl-nav-links
          [navLinks]="navLinks"
          [selectedLinkId]="selectedNavLinkId"
          [marginless]="true"
          (clickedLink)="onNavLinkClicked($event)"
        >
        </tsl-nav-links>
      </div>
    </div>
    <!-- todo: we need to mantain same design as wallet -->
    <div class="row box profile-box mt-3">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
