<div class="page-content">
  <div class="container">
    <tsl-header>
      <div class="row mb-3">
        <div class="col">
          <div class="header-row">
            <h1 class="Delivery__title w-100 header-title">
              <div class="w-100 d-flex justify-content-between">
                <div i18n="@@web_delivery_info_title" class="mr-2">Your shipping info</div>
                <div>
                  <a (click)="openTRXAwarenessModal()" i18n="@@shipments_all_users_top_bar_help_button_web_specific">Help</a>
                </div>
              </div>
            </h1>
          </div>
          <div class="header-row">
            <h4 class="header-subtitle" i18n="@@web_delivery_info_subtitle">Here you will find information about your shippments.</h4>
          </div>
        </div>
      </div>
    </tsl-header>
    <div class="row">
      <div class="col">
        <tsl-nav-links
          [navLinks]="navLinks"
          [selectedLinkId]="selectedNavLinkId"
          [marginless]="true"
          (clickedLink)="onNavLinkClicked($event)"
        >
        </tsl-nav-links>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
