@import "~style/common";

.modal-body {
  padding: 50px $spacing-xxxl;
}

h1 {
  font-size: $font-size-M;
  color: $grey-800;
  font-weight: bold;
}

p {
  font-size: $font-size-S;
  color: $grey-300;
  margin: 0 0 $spacing-xxxl;
  &.note {
    color: $grey-250;
    margin: $spacing-ml 0 0;
  }
}

h1, p {
  text-align: center;
}

div.form-control {
  line-height: 32px;
}
