@import '~style/common';

.modal-close-btn {
  cursor: pointer;
  top: $spacing-ml;
  right: $spacing-ml;
}

.modal-body {
  max-width: 400px;
  margin: 0 auto;
}

h1 {
  font-size: $font-size-l;
  color: $blue-grey-1;
  font-weight: $font-weight-chunky;
}

p {
  font-size: $font-size-s;
  color: $blue-grey-2;
  margin: 0 0 $spacing-xxxl;
  &.note {
    color: $blue-grey-3;
    margin: $spacing-ml 0 0;
  }
}

h1,
p {
  text-align: center;
}

div.form-control {
  line-height: $line-height-xl;
}
