<div class="EditSubscription__box">
  <div class="EditSubscription__box-header">
    <div class="modal-close" (click)="activeModal.dismiss()">
      <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
    </div>
    <h4 class="EditSubscription__box--title" i18n="@@web_profile_modal_edit_subscription_252">Change the limits of the subscription</h4>
    <p class="EditSubscription__box--subtitle" i18n="@@web_profile_modal_edit_subscription_253">What limit do you want to put on your subscription?</p>
  </div>
    <div class="box-content">
      <div class="EditSubscription__listing-limit-container">
        <div *ngFor="let tier of subscription.tiers; let i = index" class="EditSubscription__listing-limit-box"
        (click)="selectListingLimit(subscription.tiers[i])"
        [ngClass]="{'EditSubscription__listing-limit-box--selected': selectedTier.id === subscription?.tiers[i]?.id && currentTier.id !== subscription?.tiers[i]?.id,
        'EditSubscription__listing-limit-box--current': selectedTier.id === subscription?.tiers[i]?.id && currentTier.id === subscription?.tiers[i]?.id}">
        <span *ngIf="subscription.tiers[i].limit" i18n="@@web_profile_modal_edit_subscription_254">{{subscription?.tiers[i]?.limit}}</span>
        <span *ngIf="!subscription.tiers[i].limit" i18n="@@web_profile_modal_edit_subscription_255">Unlimited</span>
      </div>
      </div>
      <div class="row EditSubscription__listing-limit-payment">
        <div class="col-12 EditSubscription__listing-limit-selection">
            <span *ngIf="isCurrentTier(); else nonCurrent" i18n="@@web_profile_modal_edit_subscription_256">              Price: 
            </span>
            <ng-template #nonCurrent>
              <span i18n="@@web_profile_modal_edit_subscription_257">New price: </span>
            </ng-template>
            <span class="EditSubscription__listing-limit-price" i18n="@@web_profile_modal_edit_subscription_258">              {{selectedTier.price}}{{selectedTier.currency}}/month
            </span>
            <span *ngIf="subscription.trial_days" i18n="@@web_subscription_edit_modal_until_date">
                Starting on {{subscription.trial_days | dateUntilDay}}
            </span>
        </div>
      </div>
    </div>
    <tsl-button *ngIf="isCurrentTier(); else nonCurrentButton" [disabled]="isCurrentTier()" i18n="@@web_profile_modal_edit_subscription_259">      This is your current plan
    </tsl-button>
    <ng-template #nonCurrentButton>
      <tsl-button [loading]="loading" (click)="editSubscription()" i18n="@@web_profile_modal_edit_subscription_260">Confirm change</tsl-button>
    </ng-template>
    <div class="EditSubscription__cancel-link" (click)="cancelSubscription()">
      <span *ngIf="!subscription.trial_days" i18n="@@web_edit_subscription_modal_cancel_subscription">I want to cancel my subscription</span>
      <span *ngIf="subscription.trial_days" i18n="@@web_edit_subscription_modal_cancel_free_trial">Cancel free trial</span>
    </div>
</div>