@import "~style/common";

:host {
  display: inline-block;
}

div {
  display: block;
}

.avatar-80 {
  @include square(80px);
}

.avatar-60 {
  @include square(60px);
}

.avatar-32 {
  @include square(32px);
}

.avatar-40 {
  @include square(40px);
}

.avatar-50 {
  @include square(50px);
}

.avatar-rounded {
  background-size: cover;
  border-radius: 50%;
  background-position: center;
}
