@import "~style/common";

#main-veil {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

#content-veil {
  position: relative;
  margin-top: $topbar-height;
  height: calc(100vh - #{$topbar-height});
  margin-left: $sidebar-width;
  background-color: $walla-main;
  color: $blue-grey-5;
  font-size: $font-size-l;
}

#close {
  position: absolute;
  right: 20px;
  top: 50px;
  color: $white;
  text-align: center;
  span {
    opacity: 0.6;
    font-size: $font-size-m;
  }
  mat-icon {
    /deep/ path {
      fill: $white
    }
  }
  &:hover {
    text-decoration: none;
    span {
      opacity: 1;
    }
  }
}

#controls {
  position: absolute;
  right: 20px;
  bottom: 20px;
  .btn-next {
    color: $walla-main;
    padding: $spacing-ms $spacing-xxl;
    border-radius: 100px;
    background: $white;
    &:hover {
      color: $walla-dark;
    }
  }
  .dots {
    text-align: center;
    margin-bottom: $spacing-ml;
    .dot {
      display: inline-block;
      @include square(7.6px);
      opacity: 0.3;
      background-color: $white;
      border-radius: 50%;
      margin: 0 $spacing-xs;
      vertical-align: middle;
      &.active {
        @include square(10.8px);
        opacity: 1;
      }
    }
  }
}

.step-0 {
  position: absolute;
  text-align: center;
  width: 100%;
  height: calc(100vh - #{$topbar-height});
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  background: url(/assets/images/welcome.svg) no-repeat top center;
  h1 {
    font-size: $font-size-xxxxl;
    margin-bottom: $spacing-xxl;
    font-weight: $font-weight-skinny;
  }
  p {
    width: 650px;
    margin: 0 auto;
  }
}

.step {
  position: absolute;
  left: 67px;
  width: 770px;
  &.step-1, &.step-1-pro {
    top: 20px;
  }
  &.step-2, &.step-2-pro {
    top: 120px;
  }
  &.step-3 {
    top: 215px;
    width: 820px;
  }
  &.step-3-pro {
    top: 225px;
  }
  &.step-4, &.step-4-pro {
    top: 315px;
  }
  &.step-5 {
    top: 415px;
  }
  &.step-5-pro {
    top: 420px;
  }
  &.step-6 {
    top: 520px;
  }
}

@media screen and (max-height: 678px) {
  .step {
    &.step-2, &.step-2-pro {
      top: 105px;
    }
    &.step-3, &.step-3-pro {
      top: 180px;
    }
    &.step-4, &.step-4-pro {
      top: 260px;
    }
    &.step-5 {
      top: 340px;
    }
    &.step-5-pro {
      top: 350px;
    }
    &.step-6 {
      top: 425px;
    }
  }
}


