<div class="wrapper photos-number-{{maxUploads}}" [ngClass]="{ 'is-drop-over': dragOver}" tslFileDrop (fileDropAction)="onFileDropAction($event)"
 [options]="options">
  <div class="drag-area">
    <ng-container *ngIf="files.length < options.maxUploads; else maxUploadsReached">
      <tsl-svg-icon src="/assets/icons/upload-dnd.svg"></tsl-svg-icon>
      <p i18n>Drop here your files to upload as a product photo</p>
    </ng-container>
    <ng-template #maxUploadsReached>
      <div class="denied-icon">
        <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
      </div>
      <p i18n>You have reached the limit of {{maxUploads}} photos per product.<br />Remove one first if you want to add
        more.</p>
    </ng-template>
  </div>
  <div class="drop-container">
    <div class="product-photos-boxes" dnd-sortable-container [sortableData]="files">
      <div class="photo-wrapper" *ngFor="let i of placeholders">
        <label class="product-photo"
          [ngClass]="{'placeholder': !files[i], 'one-image': (files.length === 1 && isUpdatingItem)}" dnd-sortable
          [sortableIndex]="i" [dragEnabled]="files[i]" (onDropSuccess)="updateOrder()">
          <a (click)="remove(files[i], $event)">
            <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
          </a>
          <img [src]="files[i]?.preview" *ngIf="files[i] && files[i]?.preview" />
          <div class="loader"
            *ngIf="isUpdatingItem && (files[i]?.progress?.status === 0 || files[i]?.progress?.status === 1)">
            <tsl-svg-icon src="/assets/icons/spinner.svg" class="spinner corporate"></tsl-svg-icon>
          </div>
          <input *ngIf="!files[i]" type="file" tslFileSelect [options]="options" multiple="true" />
        </label>
        <span class="main-image-label d-none d-md-block" *ngIf="i === 0" i18n>Main photo</span>
      </div>
    </div>
  </div>
</div>
