@import "~style/common";

:host {
  width: 100%;
  display: block;
}

.wrapper {
  margin-bottom: -$spacing-ml;
}

.drag-area {
  display: none;
}

.is-drop-over {
  position: relative;
  height: 100px;
  width: 100%;
  border: 2px dashed $blue-grey-4;
  border-radius: $border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0;
  height: 238px;
  div {
    display: none;
  }
  .drag-area {
    display: block;
    text-align: center;
    mat-icon {
      @include square(32px);
    }
    p {
      margin: 0;
      color: $blue-grey-2;
      font-size: $font-size-s;
    }
    .denied-icon {
      display: inline-block;
      border: solid 2px $negative-main;
      @include square(32px);
      border-radius: 50%;
      line-height: $line-height-xl;
      margin-bottom: $spacing-s;
      mat-icon {
        @include square(11px);
      }
    }
  }
}

.product-photos-boxes {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -$spacing-xs;
}

.photo-wrapper {
  width: calc(100% / 5);
  padding: 0 $spacing-s;
  text-align: center;
  margin-bottom: $spacing-s;
  &:first-of-type {
    .product-photo {
      background-image: url(/assets/icons/camera-green.svg);
      border-color: $walla-main;
    }
  }
}

.product-photo {
  width: 100%;
  height: 110px;
  position: relative;
  border-radius: $border-radius;
  transition: all 0.25s ease;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  &.placeholder {
    background-image: url(/assets/icons/camera.svg);
    border: 2px dashed $blue-grey-4;
    background-size: 40px;
    &:hover {
      border-color: $walla-main;
    }
  }
  @include media-breakpoint-down(sm) {
    height: 50px;
    &.placeholder {
      background-size: 20px;
    }
  }
  a {
    display: none;
    @include square(19px);
    background: $blue-grey-4;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    text-align: center;
    line-height: $line-height-ml;
    mat-icon {
      width: 7px;
      height: 9px;
    }
  }
  &:hover {
    &:not(.placeholder):not(.dnd-sortable-drag):not(.one-image) {
      cursor: move;
      transform: scale(1.25);
      box-shadow: 0 4px 6px 0 rgba(37, 50, 56, 0.15);
      transform: scale(1.15);
      a {
        display: block;
      }
    }
  }
  input {
    display: none;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $border-radius;
    display: block;
  }
  .loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($white, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.main-image-label {
  font-size: $font-size-xxs;
  font-weight: $font-weight-chunky;
  color: $blue-grey-2;
  text-transform: uppercase;
}
