@import "~style/common";

:host {
  width: 100%;
  display: block;
}

.wrapper {
  margin-bottom: -$spacing-ml;
}

.drag-area {
  display: none;
}

.is-drop-over {
  position: relative;
  height: 100px;
  width: 100%;
  border: 2px dashed $blue-grey-4;
  border-radius: $border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0;
  &.photos-number-10 {
    height: 238px;
  }
  div {
    display: none;
  }
  .drag-area {
    display: block;
    text-align: center;
    mat-icon {
      @include square(32px);
    }
    p {
      margin: 0;
      color: $blue-grey-2;
      font-size: $font-size-s;
    }
    .denied-icon {
      display: inline-block;
      border: solid 2px $negative-main;
      @include square(32px);
      border-radius: 50%;
      line-height: $line-height-xl;
      margin-bottom: $spacing-s;
      mat-icon {
        @include square(11px);
      }
    }
  }
}

.product-photos-boxes {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.product-photo {
  @include square(65px);
  position: relative;
  border-radius: $border-radius;
  margin-right: $spacing-m;
  transition: all .25s ease;
  background-position: center center;
  background-repeat: no-repeat;
  .photos-number-4 & {
    @include square(147px);
  }
  .photos-number-10 & {
    @include square(110px);
    margin-bottom: $spacing-ms;
  }
  &.placeholder {
    background-image: url(/assets/icons/camera.svg);
    border: 2px dashed $blue-grey-4;
    background-size: 26px;
    .photos-number-4 & {
      background-size: 51px;
    }
    .photos-number-10 & {
      background-size: 40px;
    }
    &:hover {
      border-color: $walla-main;
    }
    &:first-of-type {
      background-image: url(/assets/icons/camera-green.svg);
      border-color: $walla-main;
    }
  }
  a {
    display: none;
    @include square(19px);
    background: $blue-grey-4;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    text-align: center;
    line-height: $line-height-ml;
    mat-icon {
      width: 7px;
      height: 9px;
    }
  }
  &:hover {
    &:not(.placeholder):not(.dnd-sortable-drag):not(.one-image) {
      cursor: move;
      transform: scale(1.25);
      box-shadow: 0 4px 6px 0 rgba(37, 50, 56, 0.15);
      .photos-number-4 & {
        transform: scale(1.15);
      }
      a {
        display: block;
      }
    }
  }
  &:first-of-type {
    span {
      display: inline;
    }
  }
  &.one-image {
    cursor: auto;
  }
  span {
    $offset: 10px;
    position: absolute;
    font-size: $font-size-xxs;
    left: -#{$offset/2};
    right: 0;
    bottom: -40px;
    font-weight: $font-weight-chunky;
    color: $blue-grey-2;
    text-transform: uppercase;
    width: calc(100% + #{$offset});
    display: none;
    .photos-number-4 & {
      bottom: -30px;
    }
    .photos-number-10 & {
      bottom: -16px;
      font-size: $font-size-xxs;
    }
  }
  input {
    display: none;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $border-radius;
    display: block;
  }

  &:last-of-type {
    margin-right: 0;
    .photos-number-10 & {
      margin-right: $spacing-m;
    }
  }

  .loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($white, .9);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
