@import "~style/common";

.reserved {
  background-color: $white;
  border-radius: 100px;
  color: $skyblue-dark;
  font-size: $font-size-s;
  height: 38px;
  line-height: $line-height-xxl;
  text-align: center;
  padding: 0 $spacing;
  mat-icon {
    vertical-align: middle;
    width: 15px;
    margin-right: 7px;
  }
}
