@import "~style/common";

.reserved {
  display: flex;
  align-items: center;
  background-color: $white;
  border-radius: 100px;
  color: $skyblue-dark;
  font-size: $font-size-s;
  height: 38px;
  text-align: center;
  padding: 0 $spacing-ml;
  tsl-svg-icon {
    width: 15px;
    margin-right: $spacing-s;
  }
}
