<div tslAdSlotGroup class="container ItemDetail__container">
    <ng-container *ngIf="device === deviceType.DESKTOP || device === deviceType.TABLET">
      <tsl-sky *ngxPermissionsOnly="PERMISSIONS.showAds" [adSlot]="adsSlotsItemDetail.item1"></tsl-sky>
    </ng-container>


    <div class="d-flex justify-content-around py-4">
        <div *ngIf="device === deviceType.DESKTOP"
            class="ItemDetail__sky align-self-start position-sticky d-none d-xl-block">
            <tsl-sky *ngxPermissionsOnly="PERMISSIONS.showAds" [adSlot]="adsSlotsItemDetail.item2l"></tsl-sky>
        </div>

        <div class="ItemDetail__content w-100">

            <tsl-item-detail-placeholder *ngIf="!(itemDetail$ | async)"></tsl-item-detail-placeholder>

            <div tslAdSlotGroup class="ItemDetail__card px-4 pb-5" *ngIf="itemDetail$ | async as itemDetail">
                <tsl-item-detail-header [user]="itemDetail.user" [item]="itemDetail.item"
                    [userStats]="itemDetail.userStats | async" [isOwner]="(itemDetail.user.id | isCurrentUser)"
                    (reservedItemChange)="toggleReserveItem()" (favouritedItemChange)="toggleFavouriteItem()"
                    (soldItemChange)="soldItem()"></tsl-item-detail-header>
                <div class="ItemDetail__carousel position-relative w-100">
                    <tsl-item-images-carousel [statusFlag]="statusFlag$ | async" [bumpedFlag]="bumpedFlag$ | async"
                        [isExpired]="itemDetail.item.flags?.expired" [images]="itemDetail.images"
                        (imageClick)="openItemDetailImage($event)">
                    </tsl-item-images-carousel>
                </div>
                <div class="pt-3"
                    [ngClass]="{'borderBottom': !(itemDetail.extraInfo?.length > 0 && itemDetail.isItemACar), 'pb-3': !itemDetail.counterSpecifications}">
                    <span class="ItemDetail__price d-block">{{itemDetail.item.salePrice |
                        customCurrency:itemDetail.item.currencyCode}}</span>
                    <h1 class="ItemDetail__title my-0">{{itemDetail.item.title}}</h1>
                    <tsl-item-extra-info *ngIf="itemDetail.extraInfo?.length > 0" class="horizontalScroll d-block mt-2"
                        [ngClass]="{'ItemExtraInfo--car': itemDetail.isItemACar}" [extraInfo]="itemDetail.extraInfo">
                    </tsl-item-extra-info>
                    <ng-container *ngIf="(itemDetail.taxonomiesSpecifications | async) as taxonomiesSpecifications">
                        <tsl-item-taxonomies class="horizontalScroll d-block mt-3"
                            *ngIf="taxonomiesSpecifications.parentTaxonomy" [iconPath]="taxonomiesSpecifications.icon"
                            [parentTaxonomy]="taxonomiesSpecifications.parentTaxonomy"
                            [childTaxonomy]="taxonomiesSpecifications.childTaxonomy"></tsl-item-taxonomies>
                    </ng-container>
                    <div *ngIf="device !== deviceType.MOBILE && !(itemDetail.user.id | isCurrentUser)" class="ItemDetail__affiliation d-flex flex-row mb-0"
                        [ngClass]="{'borderBottom': adsAffiliationsLoaded$ | async, 'py-3': adsAffiliationsLoaded$ | async}">
                        <ng-container *ngFor="let adAffiliation of adsAffiliationSlotConfiguration">
                            <tsl-sky *ngxPermissionsOnly="PERMISSIONS.showAds" class="d-block"
                                     [adSlot]="adAffiliation"></tsl-sky>
                        </ng-container>
                    </div>
                </div>
                <div *ngIf="itemDetail.counterSpecifications" class="borderBottom">
                    <tsl-item-specifications [itemSpecifications]="itemDetail.counterSpecifications"
                        [isCar]="itemDetail.isItemACar"></tsl-item-specifications>
                </div>
                <div *ngIf="device === deviceType.MOBILE && !(itemDetail.user.id | isCurrentUser)" class="ItemDetail__affiliation d-flex flex-column mb-0"
                    [ngClass]="{'borderBottom': adsAffiliationsLoaded$ | async, 'py-3':  adsAffiliationsLoaded$ | async}">
                  <ng-container *ngFor="let adAffiliation of adsAffiliationSlotConfiguration">
                    <tsl-sky *ngxPermissionsOnly="PERMISSIONS.showAds" class="d-block"
                          [adSlot]="adAffiliation"></tsl-sky>
                  </ng-container>
                </div>
                <p *ngIf="itemDetail.item.description" class="ItemDetail__description py-3 mb-0 text-break"
                    [ngClass]="{'borderBottom': device !== deviceType.MOBILE}">{{itemDetail.item.description}}</p>
                <div *ngIf="device === deviceType.MOBILE">
                    <tsl-sky *ngxPermissionsOnly="PERMISSIONS.showAds" [adSlot]="adsSlotsItemDetail.item1"></tsl-sky>
                </div>
                <div class="ItemDetail__stats py-3 d-flex align-items-center justify-content-between"
                    [ngClass]="{'borderBottom': device !== deviceType.TABLET}">

                    <div class="text-truncate">
                        {{ itemDetail.item.modifiedDate | ellapsedTime }}
                    </div>
                    <div class="d-flex ml-3">
                        <div class="d-flex align-items-center mr-3">
                            <tsl-svg-icon src="/assets/icons/cm-eye.svg" width=20 height=20>
                            </tsl-svg-icon>
                            <span class="float-right ml-1" id="views">{{ itemDetail.item.views || 0}}</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <tsl-svg-icon src="/assets/icons/heart.svg" width=14 height=14></tsl-svg-icon>
                            <span class="float-right ml-1" id="favorites">{{ itemDetail.item.favorites ||
                                0}}</span>
                        </div>
                    </div>
                </div>
                <div class="pt-4" *ngIf="device === deviceType.TABLET">
                    <tsl-sky *ngxPermissionsOnly="PERMISSIONS.showAds" [adSlot]="adsSlotsItemDetail.item2l"></tsl-sky>
                </div>
                <div class="ItemDetail__location py-3 d-flex align-items-center">
                    <tsl-svg-icon src="/assets/icons/location.svg" class="mr-2"></tsl-svg-icon>
                    {{itemDetail.locationSpecifications}}
                </div>
                <div tslVisible (visible)="onMapContainerVisible()">
                    <tsl-here-maps *ngIf="renderMap" zoom="15" size="small" [coordinates]="itemDetail.coordinate"
                        [isApproximateLocation]="itemDetail.isApproximatedLocation" class="w-100 mb-3">
                    </tsl-here-maps>
                </div>
                <div class="ItemDetail__fakeMap" *ngIf="!itemDetail.haveCoordinates"></div>
                <tsl-social-share *ngIf="itemDetail.socialShare" [title]="itemDetail.socialShare.title"
                    [facebook]="itemDetail.socialShare.facebook" [twitter]="itemDetail.socialShare.twitter"
                    [email]="itemDetail.socialShare.email" (socialMediaChannel)="trackShareItemEvent($event)">
                </tsl-social-share>
            </div>

            <tsl-recommended-items *ngIf="(recommendedItems$ |async)?.recommendedItems?.length" class="mt-3"
                [recommendedItems]="(recommendedItems$ | async)?.recommendedItems"
                [recommendedType]="(recommendedItems$ | async)?.recommendedType"
                (clickedItemAndIndexEvent)="trackClickItemCardEvent($event)"
                (initRecommendedItemsSlider)="trackViewItemDetailRecommendationSlider($event)">
            </tsl-recommended-items>

            <div *ngIf="device === deviceType.MOBILE" class="pt-4">
                <tsl-sky *ngxPermissionsOnly="PERMISSIONS.showAds" [adSlot]="adsSlotsItemDetail.item2l"></tsl-sky>
            </div>
        </div>

        <div *ngIf="device === deviceType.DESKTOP"
            class="ItemDetail__sky align-self-start position-sticky d-none d-xl-block">
            <tsl-sky *ngxPermissionsOnly="PERMISSIONS.showAds" [adSlot]="adsSlotsItemDetail.item3r"></tsl-sky>
        </div>
    </div>
</div>
<tsl-item-fullscreen-carousel (favouritedItemChange)="toggleFavouriteItem()"></tsl-item-fullscreen-carousel>
