@import '~style/common';
$product-detail-card-width: 681px;

:host {
  padding-top: 66px;
  background-color: $blue-grey-5;
  display: block;
}

.Wrapper {
  &_Detail {
    padding: $spacing-xl 0;
    display: flex;
    justify-content: space-around;

    &_Container {
      width: $product-detail-card-width;

      @media (max-width: $product-detail-card-width) {
        width: 100%;
      }

      &_Item {
        background-color: $white;
        padding: 0 $spacing-ml $spacing-xl;
        border-radius: 10px;
        border: solid 1px $blue-grey-5;
        position: relative;
        width: 100%;
      }
    }
  }
}

.Ads {
  &_Top {
    text-align: center;
  }

  &_Right,
  &_Left {
    width: 300px;
    display: flex;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;
    top: 70px;
  }

  &.PaddingTop {
    padding-top: $spacing-xl;
  }
}

@media only screen and (max-width: 1270px) {
  .Ads {
    &_Top {
      margin-left: auto;
      margin-right: auto;
      padding-right: 0;
    }
  }

  .Wrapper_Detail {
    .Ads {
      &_Right,
      &_Left {
        display: none;
      }
    }
  }
}
