@import '~style/common';
$product-detail-card-width: 681px;

.ItemDetail {
  background-color: $blue-grey-5;
  &__content {
    // The height will be removed
    height: 800px;
    width: $product-detail-card-width;
    background-color: $white;
    border-radius: $border-radius;
    border: solid 1px $blue-grey-5;
  }

  tsl-side-sky {
    top: calc(#{$topbar-height} + #{$spacer * 0.5});
  }
}
