<div class="Wrapper">
    <!-- Only shows when is Desktop or Tablet -->
    <div class="Ads PaddingTop bg-info">
        <div class="Ads_Top">Ad arriba</div>
    </div>
    <div class="Wrapper_Detail">
        <div class="Ads">
            <div class="Ads_Left bg-info">
                <div class="Ads_Left_ClammySidebarTop">
                    <div class="Ads_Left_ClammySidebarTop__PubWallTop">
                        Ad a la izquierda
                    </div>
                </div>
            </div>
        </div>
        <div class="box Wrapper_Detail_Item">
            Item detail container
        </div>
        <div class="Ads">
            <div class="Ads_Right bg-info">
                <div class="Ads_Right_ClammySidebarTop">
                    <div class="Ads_Right_ClammySidebarTop__PubWallTop">
                        Ad a la derecha
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>