<div class="container ItemDetail__container">
    <div class="d-block pt-4">
        <tsl-sky *ngIf="device === deviceType.DESKTOP || device === deviceType.TABLET" [adSlot]="adsSlotsItemDetail.item1"></tsl-sky>
        <div class="d-flex justify-content-around py-4" *ngIf="itemDetail && !loading">
            <div *ngIf="device === deviceType.DESKTOP">
                <tsl-sky class="position-sticky d-none d-xl-block" [adSlot]="adsSlotsItemDetail.item2l"></tsl-sky>
            </div>
            <div class="ItemDetail__container__middleSection d-flex flex-column w-100">
                <div class="ItemDetail__content px-4 pb-5 ">
                    <tsl-item-detail-header [user]="itemDetail.user" [item]="itemDetail.item"
                        [isOwner]="(itemDetail.user?.id | isCurrentUser | async)">
                    </tsl-item-detail-header>
                    <div class="ItemDetail__carousel position-relative w-100">
                        <tsl-item-images-carousel [isActive]="!itemDetail.item?.flags?.expired" [images]="images"
                            [itemFlags]="itemDetail.item?.flags" [itemVisibilityFlags]="itemDetail.item?.bumpFlags"
                            (imageClick)="openItemDetailImage($event)">
                        </tsl-item-images-carousel>
                    </div>
                    <div class="mt-3 pt-3" [ngClass]="{'borderBottom': !(itemExtraInfo?.length > 0 && isItemACar()), 'pb-3': !itemSpecifications}">
                        <span class="ItemDetail__price d-block">{{itemDetail?.item?.salePrice |
                            customCurrency:itemDetail?.item?.currencyCode}}</span>
                        <h1 class="ItemDetail__title my-0">{{itemDetail?.item?.title}}</h1>
                        <tsl-item-extra-info *ngIf="itemExtraInfo?.length > 0" class="d-block mt-2"
                            [ngClass]="{'ItemExtraInfo--car': isItemACar()}"
                            [isCar]="typeCheckService.isCar(itemDetail?.item)" [extraInfo]="itemExtraInfo">
                        </tsl-item-extra-info>
                        <tsl-item-taxonomies class="d-block mt-2" *ngIf="taxonomiesSpecifications.parentTaxonomy"
                            [iconPath]="taxonomiesSpecifications.icon"
                            [parentTaxonomy]="taxonomiesSpecifications.parentTaxonomy"
                            [childTaxonomy]="taxonomiesSpecifications.childTaxonomy"
                        ></tsl-item-taxonomies>
                    </div>
                    <div *ngIf="itemSpecifications" class="borderBottom">
                        <tsl-item-specifications [itemSpecifications]="itemSpecifications"
                            [isCar]="typeCheckService.isCar(this.itemDetail?.item)"></tsl-item-specifications>
                    </div>
                    <p *ngIf="itemDetail?.item?.description" class="ItemDetail__description py-3 mb-0 text-break" [ngClass]="{'borderBottom': device !== deviceType.MOBILE}">{{itemDetail?.item?.description}}</p>
                    <div *ngIf="device === deviceType.MOBILE">
                        <tsl-sky [adSlot]="adsSlotsItemDetail.item1"></tsl-sky>
                    </div>
                    <div class="ItemDetail__stats py-3 d-flex align-items-center justify-content-between" [ngClass]="{'borderBottom': device !== deviceType.TABLET}">
                        <div class="text-truncate">
                            {{ itemDetail?.item?.modifiedDate | ellapsedTime }}
                        </div>
                        <div class="d-flex ml-3">
                            <div class="d-flex align-items-center mr-3">
                                <tsl-svg-icon src="/assets/icons/cm-eye.svg" width=20 height=20>
                                </tsl-svg-icon>
                                <span class="float-right ml-1" id="views">{{ itemDetail?.item?.views || 0}}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <tsl-svg-icon src="/assets/icons/heart.svg" width=14 height=14></tsl-svg-icon>
                                <span class="float-right ml-1" id="favorites">{{ itemDetail?.item?.favorites ||
                                    0}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="pt-4" *ngIf="device === deviceType.TABLET">
                      <tsl-sky [adSlot]="adsSlotsItemDetail.item2l"></tsl-sky>
                    </div>
                    <div class="ItemDetail__location py-3 d-flex align-items-center">
                        <tsl-svg-icon src="/assets/icons/location.svg" class="mr-2"></tsl-svg-icon>
                        {{locationSpecifications}}
                    </div>
                    <tsl-here-maps *ngIf="locationHaveCoordinates()" zoom="15" size="small" [coordinates]="coordinates"
                        [isApproximateLocation]="isApproximateLocation" class="w-100 mb-3">
                    </tsl-here-maps>
                    <div class="ItemDetail__fakeMap" *ngIf="!locationHaveCoordinates()"></div>
                    <tsl-social-share *ngIf="socialShare" [title]="socialShare.title" [facebook]="socialShare.facebook"
                        [twitter]="socialShare.twitter" [email]="socialShare.email"></tsl-social-share>
                </div>
                <tsl-recommended-items
                    *ngIf="(recommendedItems$ | async)?.recommended_items?.length && showItemRecommendations"
                    class="mt-3" [recommendedItems]="(recommendedItems$ | async)">
                </tsl-recommended-items>
                <div *ngIf="device === deviceType.MOBILE" class="pt-4">
                  <tsl-sky [adSlot]="adsSlotsItemDetail.item2l"></tsl-sky>
                </div>
            </div>
            <div *ngIf="device === deviceType.DESKTOP">
              <tsl-sky class="position-sticky d-none d-xl-block" [adSlot]="adsSlotsItemDetail.item3r"></tsl-sky>
            </div>
        </div>
    </div>
</div>
<tsl-item-fullscreen-carousel></tsl-item-fullscreen-carousel>
