<div class="position-relative">
  <div
    *ngIf="!uploadedAvatar"
    [tslsanitizedBackground]="avatar"
    [fallback]="fallback"
    class="avatar-rounded"
    [ngClass]="'avatar-' + size"></div>
  
  <img *ngIf="uploadedAvatar"
       [src]="uploadedAvatar"
       class="avatar-rounded"
       [ngClass]="'avatar-' + size" />
       <ng-container *ngxPermissionsOnly="PERMISSIONS.subscriptions">
         <tsl-svg-icon *ngIf="showProBadge" class="position-absolute bottom-0 end-0" src="/assets/icons/pro-seal.svg" [width]="badgeSize" [height]="badgeSize" [ngStyle]="badgeStyles"></tsl-svg-icon>
       </ng-container>
       <tsl-svg-icon *ngIf="customBadgeUrl" class="position-absolute" [src]="customBadgeUrl" [ngStyle]="badgeStyles"></tsl-svg-icon>
</div>
