<div class="position-relative">
  <div
    *ngIf="!uploadedAvatar"
    [tslsanitizedBackground]="avatar"
    [fallback]="fallback"
    class="avatar-rounded"
    [ngClass]="'avatar-' + size"></div>
  
  <img *ngIf="uploadedAvatar"
       [src]="uploadedAvatar"
       class="avatar-rounded"
       [ngClass]="'avatar-' + size" />
       <ng-container *ngxPermissionsOnly="PERMISSIONS.subscriptions">
        <tsl-pro-badge *ngIf="showProBadge" [IconType]="ICON_TYPE.SMALL" class="position-absolute bottom-0 end-0" [ngStyle]="badgeStyles"></tsl-pro-badge>
         <tsl-pro-badge *ngIf="showProBadgeWide" [IconType]="ICON_TYPE.LARGE" class="position-absolute" [ngStyle]="badgeStyles"></tsl-pro-badge>
       </ng-container>
</div>
