<div class="CancelSubscription__box">
  <div class="CancelSubscription__box-header">
    <div class="modal-close" (click)="activeModal.close()">
      <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
    </div>
  </div>
  <h4 class="CancelSubscription__box--title" i18n="@@web_profile_modal_cancel_subscription_237">Would you want to cancel the PRO subscription {{subscription.category_name}}?</h4>
  <p class="CancelSubscription__box--subtitle" i18n="@@web_profile_modal_cancel_subscription_238">It’s sad that you are leaving us. You can return whenever you want, we’ll be waiting for you!</p>
  <tsl-button (click)="cancelSubscription()" [loading]="loading" [disabled]="loading" i18n="@@web_profile_modal_cancel_subscription_239">Yes, I want to cancel my subscription.</tsl-button>
  <tsl-button className="btn-gray" (click)="activeModal.close()" [loading]="loading" [disabled]="loading" i18n="@@web_profile_modal_cancel_subscription_240">No, I want to keep my subscription.</tsl-button>
</div>