@import '~style/common';

.box-content {
  padding: $spacing-xl 100px;
}

.packs {
  display: flex;
  width: 600px;
  justify-content: center;
}

h2 {
  font-size: $font-size-l;
  font-weight: $font-weight-chunky;
  display: flex;
  align-items: center;
  tsl-svg-icon {
    height: 38px;
    margin-left: -7px;
  }
}

.description,
.contact {
  font-size: $font-size-s;
  line-height: $line-height-ml;
  color: $blue-grey-3;
}

.contact {
  font-weight: $font-weight-chunky;
  color: $blue-grey-2;
}

h2,
.description {
  margin-right: 80px;
}

.pack {
  padding: $spacing-ml $spacing-xl;
  border: solid 2px $blue-grey-5;
  border-radius: $border-radius;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
  flex: 1;
  margin: $spacing-ms;
  max-width: 186px;
  tsl-svg-icon {
    height: 46px;
    width: 94px;
    margin-bottom: $spacing-m;
    margin-top: $spacing-ml;
  }
  .quantity-container {
    position: relative;
    .quantity {
      $height: 86px;
      background-color: $blue-grey-5;
      border-radius: 50%;
      @include square($height);
      line-height: $height;
      font-weight: $font-weight-chunky;
      font-size: $font-size-xl;
      color: $blue-grey-2;
      letter-spacing: -1.5px;
    }
    .quantity-time {
      font-size: $font-size-xs;
      color: $blue-grey-3;
      position: absolute;
      top: 20px;
      right: -30px;
    }
  }
  .type {
    font-size: $font-size-m;
    color: $blue-grey-3;
    text-transform: uppercase;
    margin-top: $spacing-ml;
  }
  .price {
    font-size: $font-size-m;
    color: $blue-grey-2;
    font-weight: $font-weight-chunky;
    flex-grow: 1;
  }
  .discount {
    font-size: $font-size-s;
    margin-bottom: $spacing-ml;
  }
  .btn {
    background-color: $blue-grey-5;
    color: $blue-grey-2;
    border-radius: $button-border-radius;
  }
  .expire {
    display: none;
    font-size: $font-size-xs;
    font-weight: $font-weight-chunky;
  }
  &.selected {
    border-width: 3px;
    .btn {
      display: none;
    }
    .expire {
      display: block;
    }
  }
}

.city-bumps,
.country-bumps,
.listings {
  justify-content: space-between;
  align-items: center;
}

.city-bumps {
  h2 {
    color: $walla-main;
    tsl-svg-icon {
      width: 51px;
    }
  }
  .discount {
    color: $walla-main;
  }
  .btn {
    &:hover {
      background-color: $walla-main;
      color: $white;
    }
  }
  .pack.selected {
    border-color: $walla-main;
    .quantity-container {
      .quantity {
        background-color: $walla-main;
        color: $white;
      }
    }
  }
  .expire {
    color: $walla-main;
  }
}

.country-bumps {
  h2 {
    color: $country-bump;
    tsl-svg-icon {
      width: 67px;
    }
  }
  .discount {
    color: $country-bump;
  }
  .btn {
    &:hover {
      background-color: $country-bump;
      color: $white;
    }
  }
  .pack.selected {
    border-color: $country-bump;
    .quantity-container {
      .quantity {
        background-color: $country-bump;
        color: $white;
      }
    }
  }
  .expire {
    color: $country-bump;
  }
}

.listings {
  h2 {
    color: $yellow-dark;
  }
  .name {
    font-weight: $font-weight-chunky;
    color: $blue-grey-1;
    font-size: $font-size-l;
    padding-bottom: $spacing-ms;
    margin-bottom: $spacing-ms;
    border-bottom: 2px solid $blue-grey-5;
    width: 100%;
    margin-top: $spacing-l;
  }
  .desc {
    color: $blue-grey-2;
    font-size: $font-size-s;
    margin-bottom: $spacing-l;
    flex-grow: 1;
  }
  .pack.selected {
    border-color: $yellow-dark;
    .name {
      border-color: rgba($yellow-dark, 0.1);
    }
  }
  .pack.personal {
    .name {
      margin-top: 0;
    }
  }
  .btn {
    &:hover {
      background-color: $yellow-dark;
      color: $white;
    }
  }
  .expire {
    color: $yellow-dark;
  }
}

.open-visibility {
  font-weight: $font-weight-chunky;
  color: $blue-grey-2;
  font-size: $font-size-s;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
