<form [formGroup]="profileForm" (submit)="onSubmit()">
  <tsl-profile-form [profileForm]="profileForm">
    <div class="box profile-box">
      <div class="box-content">
        <div class="row">
          <h3 i18n>Personal info</h3>
          <div class="col-12">
            <div class="form-group row">
              <label for="birth_date" class="col-4" i18n>Date of birth:</label>
              <div class="col-1"></div>
              <div class="col-6">
                <input type="date" class="form-control" id="birth_date" formControlName="birth_date" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4" i18n>Gender:</label>
              <div class="col-1"></div>
              <div class="col-4">
                <div ngbRadioGroup name="radioBasic" formControlName="gender">
                  <label ngbButtonLabel class="btn select">
                    <input ngbButton type="radio" value="M">
                    <mat-icon svgIcon="male"></mat-icon>
                    <div i18n>Male</div>
                  </label>
                  <label ngbButtonLabel class="btn select">
                    <input ngbButton type="radio" value="F">
                    <mat-icon svgIcon="female"></mat-icon>
                    <div i18n>Female</div>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="offset-5 col-6">
                <tsl-button [type]="'submit'" className="btn-primary btn-big" tslTrackEvent="MYPROFILE_SAVEBUTTON" [disabled]="!formComponent.hasNotSavedChanges"
                            i18n>Save</tsl-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <tsl-credit-cards [hidden]="isStripe"></tsl-credit-cards>
    <tsl-stripe-cards *ngIf="isStripe"></tsl-stripe-cards>
    <div class="box profile-box">
      <div class="box-content">
        <div class="row box-section">
          <h3 i18n>Account info</h3>
          <div class="col-12">
            <div class="form-group row">
              <label class="col-4" i18n>Email:</label>
              <div class="col-1"></div>
              <div class="col-4">
                <tsl-edit-email [email]="user?.email"></tsl-edit-email>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4" i18n>Password:</label>
              <div class="col-1"></div>
              <div class="col-4">
                <tsl-edit-password></tsl-edit-password>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 unsubscribe-section">
            <a (click)="openUnsubscribeModal()" tslTrackEvent="MYPROFILE_UNSUBSCRIBE" i18n>Close account</a>
          </div>
        </div>
      </div>
    </div>
  </tsl-profile-form>
</form>
