@import '~style/common';

:host {
  width: 100%;
  height: 100%;
}

.EditItemSalePriceModal {
  padding: $spacing-m;

  &__close {
    &:hover {
      cursor: pointer;
    }
  }

  &__title {
    height: 50px;
  }

  &__newPrice {
    @include hide-input-numeric-arrows();
    height: 74px;
  }

  &__newPriceInput {
    border: 2px solid $black;

    &--invalid {
      color: $negative-main;
      border: 2px solid $negative-main;
    }
  }

  &__newPriceInputError {
    color: $negative-main;
    font-size: $font-size-s;
  }
}
