<div class="EditItemSalePriceModal w-100 h-100 d-flex flex-column justify-content-between">
  <div class="EditItemSalePriceModal__close d-flex justify-content-end mb-3">
    <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
  </div>

  <h2 class="EditItemSalePriceModal__title text-center" i18n="@@chat_seller_shipping_enabled_price_edit_pop_up_title">Edit item price</h2>

  <div class="EditItemSalePriceModal__newPrice">
    <form [formGroup]="newItemSalePriceForm">
      <input
        type="number"
        formControlName="newPrice"
        [ngClass]="{ 'EditItemSalePriceModal__newPriceInput--invalid': isInvalidInput }"
        i18n-placeholder="@@chat_seller_shipping_enabled_price_edit_pop_up_placeholder"
        placeholder="New price"
      />
    </form>

    <span
      *ngIf="inputError !== null && inputError === EDIT_ITEM_SALE_PRICE_ERROR.MAX"
      class="EditItemSalePriceModal__newPriceInputError"
      i18n="@@chat_seller_price_edit_pop_up_price_out_of_range_inline_error"
      >Products over {{ MAX_ITEM_PRICE }} cannot be shipped cannot be shipped.</span
    >
    <span
      *ngIf="inputError !== null && inputError === EDIT_ITEM_SALE_PRICE_ERROR.MIN"
      class="EditItemSalePriceModal__newPriceInputError"
      i18n="@@chat_seller_price_edit_pop_up_min_price_not_reached_inline_error"
      >Products under {{ MIN_ITEM_PRICE }} cannot be shipped.</span
    >
    <span
      *ngIf="inputError !== null && inputError === EDIT_ITEM_SALE_PRICE_ERROR.DEFAULT"
      class="EditItemSalePriceModal__newPriceInputError"
      i18n="@@chat_seller_price_edit_pop_up_generic_inline_error"
      >Sorry, there was an error updating the price.</span
    >
  </div>

  <div class="EditItemSalePriceModal__submitButton w-100">
    <tsl-button
      class="w-100"
      (click)="handleSubmit()"
      [disabled]="isButtonDisabled"
      [className]="'btn-primary btn-modal-primary btn--width'"
      i18n="@@chat_seller_shipping_enabled_price_edit_pop_up_save_button"
      >Save</tsl-button
    >
  </div>
</div>
