@import '~style/common';

.SubscriptionPurchaseSuccess {
  &__title {
    font-size: $font-size-l;
    font-weight: $font-weight-chunky;
  }

  &__subtitle {
    color: $blue-grey-2;
    font-size: $font-size-s;
  }

  &__buttons {
    max-width: 270px;
    margin-top: $spacing-xl;
  }

  @include media-breakpoint-up(md) {
    .GenericCard {
      padding: $spacing-xxl;
    }

    &__title {
      font-size: $font-size-xl;
    }

    &__subtitle {
      font-size: $font-size-l;
      margin-top: $spacing-ml;
    }
  }
}
