@import "~style/common";

:host {
  display: flex;
  align-items: center;
}

mat-icon {
  @include square(16px);
  margin-right: $spacing-ms;
}

.font-light span {
  font-weight: $font-weight-skinny;
}
