@import '~style/common';

.GridSelectForm {
  display: flex;
  flex-wrap: wrap;
  user-select: none;

  &__flex_basis {
    @for $columns from 12 through 1 {
      &_sm--#{$columns} {
        @include media-breakpoint-down(sm) {
          flex-basis: percentage(1 / $columns);
        }
      }

      &_md--#{$columns} {
        @include media-breakpoint-down(md) {
          flex-basis: percentage(1 / $columns);
        }
      }

      &--#{$columns} {
        flex-basis: percentage(1 / $columns);
      }
    }
  }
}
