<div *ngIf="transactionTrackingHeader as header" class="d-flex justify-content-between">
  <div class="d-flex">
    <a class="TTS__back d-flex align-items-center mr-4" (click)="goBack()">
      <tsl-svg-icon src="/assets/icons/back-arrow.svg"></tsl-svg-icon>
    </a>
    <span id="headerTitle">{{ header.title }}</span>
  </div>
  <tsl-transaction-tracking-action-selector [actionDetail]="header.detail.action">
    <tsl-button
      class="TTS__buttonHeader"
      className="{{ header.detail.style.className }} btn--noPadding"
      [disabled]="header.detail.state.isDisabled"
      >{{ header.detail.title }}</tsl-button
    >
  </tsl-transaction-tracking-action-selector>
</div>
