<div *ngIf="transactionTrackingHeader as header" class="d-flex justify-content-between">
  <div class="d-flex">
    <a class="TTS__back d-flex align-items-center mr-4" (click)="goBack()">
      <tsl-svg-icon src="/assets/icons/back-arrow.svg"></tsl-svg-icon>
    </a>
    <span id="headerTitle">{{ header.title }}</span>
  </div>
  <tsl-button
    class="TTS__buttonHeader"
    className="{{ header.detail.style.className }} btn--noPadding"
    [disabled]="header.detail.state.isDisabled"
    (click)="manageAction(header.detail.action)"
    >{{ header.detail.title }}</tsl-button
  >
</div>
