<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
  <div class="box">
    <h2 i18n>Information about your item</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="brand" i18n>Make</label>
          <ng-select i18n-placeholder placeholder="E.g. Seat" class="form-control" formControlName="brand" id="brand"
                     [ngbPopover]="coachmarkMake" #p1="ngbPopover" triggers="manual" (opened)="p1.open()" (closed)="p1.close()"
                     [options]="brands" (selected)="getModels($event.value)"></ng-select>
          <ng-template #coachmarkMake>
            <md-icon svgIcon="cm-car"></md-icon>
            <div i18n>The basics: make and model.</div>
          </ng-template>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="model" i18n>Model</label>
          <ng-select i18n-placeholder placeholder="E.g. Ibiza" class="form-control" formControlName="model" id="model"
                     [ngbPopover]="coachmarkMake" #p2="ngbPopover" triggers="manual" (opened)="p2.open()" (closed)="p2.close()"
                     [options]="models" (selected)="getYears($event.value)"></ng-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="year" i18n>Year</label>
          <ng-select i18n-placeholder placeholder="Number plate" class="form-control" formControlName="year" id="year" [options]="years"
                     (selected)="getVersions($event.value)"></ng-select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="price" i18n>Price</label>
          <input i18n-placeholder placeholder="With love..." type="number" class="form-control" formControlName="sale_price" id="price" min="0"
                 [ngbPopover]="coachmarkPrice"
                 max="999999999"/>
          <ng-template #coachmarkPrice>
            <md-icon svgIcon="cm-money"></md-icon>
            <div i18n>Tell us how much you want for it: we won't tell anyone ;)</div>
          </ng-template>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="currency" i18n>Currency</label>
          <ng-select class="form-control" formControlName="currency_code" id="currency" [options]="currencies"
                     [ngbPopover]="coachmarkPrice" #p3="ngbPopover" triggers="manual" (opened)="p3.open()" (closed)="p3.close()"
                     noFilter="10"></ng-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="headline" i18n>Title</label>
          <span class="chars-counter">{{uploadForm.value?.title?.length}}/50</span>
          <input i18n-placeholder placeholder="This is what you will see in the ad" type="text"
                 class="form-control" formControlName="title" id="headline" maxlength="50"
                 [ngbPopover]="coachmarkTitle" />
          <ng-template #coachmarkTitle>
            <md-icon svgIcon="cm-eye"></md-icon>
            <div i18n>Go for it! The more you say the better chance they have of finding of reaching you.</div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="user && !user.location">
      <div class="col-sm-12">
        <div class="form-group last">
          <tsl-location-select [form]="uploadForm" name="location"></tsl-location-select>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <h2 i18n>Relevant information</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="version" i18n>Version</label>
          <ng-select i18n-placeholder placeholder="Is is a particular model or series?" class="form-control" formControlName="version" id="version" [options]="versions"></ng-select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="seats" i18n>Number of seats</label>
          <input i18n-placeholder placeholder="Add a number" type="number" class="form-control"
                 [ngbPopover]="coachmarkSeats"
                 formControlName="num_seats" id="seats" min="0" max="99"/>
          <ng-template #coachmarkSeats>
            <md-icon svgIcon="cm-seats"></md-icon>
            <div i18n>Can all your family fit in there or just the dog?</div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="carType" i18n>Type of car</label>
          <ng-select i18n-placeholder placeholder="Small, coupé, sedan, family, van..."
                     class="form-control" formControlName="body_type" id="carType" [options]="carTypes"
                     [ngbPopover]="coachmarkType" #p4="ngbPopover" triggers="manual" (opened)="p4.open()" (closed)="p4.close()"
                     noFilter="20"></ng-select>
          <ng-template #coachmarkType>
            <md-icon svgIcon="cm-velocity"></md-icon>
            <div i18n>Is it for getting around at the weekend or for everyday use?</div>
          </ng-template>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="km" i18n>Kilometers</label>
          <input i18n-placeholder placeholder="Exact kilometers" type="number" class="form-control" formControlName="km" id="km" min="0" max="999999999"/>
        </div>
      </div>
    </div>
    <div class="row" [ngbPopover]="coachmarkMotor" triggers="mouseenter:mouseleave">
      <div class="col-sm-6 selector-container">
        <h3 i18n>Motor</h3>
        <div ngbRadioGroup name="radioBasic" formControlName="engine">
          <label class="btn selector">
            <input type="radio" value="gasoline">
            <md-icon svgIcon="gasoline"></md-icon>
            <span i18n>Petrol</span>
          </label>
          <label class="btn selector">
            <input type="radio" value="gasoil">
            <md-icon svgIcon="gasoil"></md-icon>
            <span i18n>Diesel</span>
          </label>
          <label class="btn selector">
            <input type="radio" value="electric-hybrid">
            <md-icon svgIcon="electric-hybrid"></md-icon>
            <span i18n>Electric</span>
          </label>
          <label class="btn selector">
            <input type="radio" value="others">
            <md-icon svgIcon="others"></md-icon>
            <span i18n>Other...</span>
          </label>
        </div>
        <ng-template #coachmarkMotor>
          <md-icon svgIcon="cm-speaker"></md-icon>
          <div i18n>It's important, trust us!</div>
        </ng-template>
      </div>
      <div class="col-sm-6 selector-container">
        <h3 i18n>Transmission</h3>
        <div ngbRadioGroup name="radioBasic" formControlName="gearbox">
          <label class="btn selector">
            <input type="radio" value="manual">
            <md-icon svgIcon="manual"></md-icon>
            <span i18n>Manual</span>
          </label>
          <label class="btn selector">
            <input type="radio" value="automatic">
            <md-icon svgIcon="automatic"></md-icon>
            <span i18n>Automatic</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group last">
          <label for="tellUs" i18n>Description</label>
          <span class="chars-counter">{{uploadForm.value?.storytelling?.length}}/650</span>
            <textarea i18n-placeholder placeholder="Tell us more. Used or new? Yellow or red? Has it got any bumps?"
                      [ngbPopover]="coachmarkDescription"
                      fz-elastic class="form-control" formControlName="storytelling" id="tellUs" maxlength="650"></textarea>
          <ng-template #coachmarkDescription>
            <md-icon svgIcon="cm-chat"></md-icon>
            <div i18n>Don't leave anything out. The details are key to selling faster.</div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="box product-photos" [ngbPopover]="coachmarkPictures" triggers="mouseenter:mouseleave">
    <h2 [ngClass]="{'ng-invalid': !uploadForm.controls.images.valid && uploadForm.controls.images.dirty}" i18n>Photos</h2>
    <tsl-drop-area [uploadEvent]="uploadEvent" (onUploaded)="onUploaded($event)" (onError)="onError($event)"
                   formControlName="images" [maxUploads]="8"></tsl-drop-area>
    <ng-template #coachmarkPictures>
      <md-icon svgIcon="cm-drag"></md-icon>
      <div i18n>You can drag and drop your photos here. Select and drag to change the order. Max 10MB.</div>
    </ng-template>
  </div>
  <div class="box" [ngbPopover]="coachmarkExtras" triggers="mouseenter:mouseleave">
    <div class="selector-container terms-options" formGroupName="sale_conditions" data-toggle="buttons">
      <h2 i18n>Extras</h2>
      <label class="btn selector" [class.active]="uploadForm.value.sale_conditions.fix_price">
        <input type="checkbox" formControlName="fix_price">
        <md-icon svgIcon="firm-price"></md-icon>
        <span i18n>Firm Price</span>
      </label>
      <label class="btn selector" [class.active]="uploadForm.value.sale_conditions.exchange_allowed">
        <input type="checkbox" formControlName="exchange_allowed">
        <md-icon svgIcon="accept-trades"></md-icon>
        <span i18n>Accept trades</span>
      </label>
    </div>
    <ng-template #coachmarkExtras>
      <md-icon svgIcon="cm-question"></md-icon>
      <div i18n>What sellers usually ask...</div>
    </ng-template>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="loading">
    <md-icon svgIcon="spinner" [hidden]="!loading" class="spinner white"></md-icon>
    <span [hidden]="loading" i18n>Post your ad</span>
  </button>
  <button type="button" (click)="preview()" class="btn btn-link" [disabled]="!uploadForm.valid" i18n>How does it look?</button>
</form>
