<div class="card-generic">
    <div class="card-generic__title">Wallapop PRo</div>
    <div class="card-generic__subtitle">Súscribete a Wallapop PRO y lleva tus ventas al siguiente nivel.</div>
    <tsl-new-subscription-view [subscription]="subscription"> </tsl-new-subscription-view>
</div>

<div class="card-generic">
    <div class="card-generic__title">Wallapop PRo</div>
    <div class="card-generic__subtitle">Súscribete a Wallapop PRO y lleva tus ventas al siguiente nivel.</div>
    <tsl-subscription-tier-selector [subscription]="subscription"> </tsl-subscription-tier-selector>
</div>
<div class="card-generic">
    <div class="card-generic__title">Wallapop PRo</div>
    <div class="card-generic__subtitle">Súscribete a Wallapop PRO y lleva tus ventas al siguiente nivel.</div>
    <ng-container *ngIf="stripeCards">
        <tsl-subscription-card-selector [stripeCards]="stripeCards"> </tsl-subscription-card-selector>
    </ng-container>
</div>