
    <div class="SubscriptionPurchase">
        <div class="card-generic">
            <div class="card-generic__title">Wallapop PRo</div>
            <div class="card-generic__subtitle">Súscribete a Wallapop PRO y lleva tus ventas al siguiente nivel.</div>
            <tsl-new-subscription-view [subscription]="subscription"> </tsl-new-subscription-view>
        </div>
        
        <div class="card-generic">
            <div class="card-generic__title">Wallapop PRo</div>
            <div class="card-generic__subtitle">Súscribete a Wallapop PRO y lleva tus ventas al siguiente nivel.</div>
            <tsl-subscription-tier-selector [subscription]="subscription" [selectedTier]="selectedTier" (changeSelectedTier)="onSelectedTierChanged($event)"> </tsl-subscription-tier-selector>
        </div>
        <div class="card-generic">
            <div class="card-generic__title">Wallapop PRo</div>
            <div class="card-generic__subtitle">Súscribete a Wallapop PRO y lleva tus ventas al siguiente nivel.</div>
            <ng-container *ngIf="stripeCards">
                <tsl-subscription-card-selector [stripeCards]="stripeCards" [selectedCard]="selectedCard" (changeSelectedCard)="onChangeSelectedCard($event)" (isInvoiceRequired)="onInvoiceRequired($event)">
                </tsl-subscription-card-selector>
            </ng-container>
            <div class="mt-2">
                <label class="" i18n="@@ProfileProBillingFormType">Factura?</label>
                <div class="d-flex">
                    <div class="">
                        <input type="radio" [value]="true" id="type-natural" required [(ngModel)]="isInvoiceRequired">
                        <span class="mr-1 RegistrationType_title" i18n="@@ProfileProBillingFormNatural">Si</span>
                    </div>
                    <div class="">
                        <input type="radio" [value]="false" id="type-legal" [(ngModel)]="isInvoiceRequired">
                        <span class="mr-1 RegistrationType_title" i18n="@@ProfileProBillingFormLegal">No</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isInvoiceRequired">
            <tsl-profile-pro-billing [containerType]="'modal'" (billingInfoFormSaved)="onBillingInfoFormSaved()">
            </tsl-profile-pro-billing>
        </div>
    </div>
        <tsl-subscription-purchase-footer [selectedTier]="selectedTier" (buttonPurchaseClick)="onPurchaseButtonClick()">
            
        </tsl-subscription-purchase-footer>
        
        