@import '~style/common';

.SubscriptionPurchase {
  margin-bottom: 100px;

  > .GenericCard {
    margin-bottom: $spacing-ml;
  }

  tsl-profile-pro-billing {
    ::ng-deep .box {
      border: 0;
    }
  }
}
