<div class="SubscriptionPurchase">
    <div class="GenericCard">
        <div class="d-flex justify-content-between">
            <span class="GenericCard__title" i18n="@@WallapopProSubscriptionTitle">Boost your online business with
                Wallapop PRO</span>
            <span class="GenericCard__link" i18n="@@Changesubscription" (click)="onChageSubscription()">Change
                subscription</span>
        </div>
        <div class="GenericCard__subtitle" i18n="@@WallapopProSubscriptionSubTitle">Choose a subscription to take your
            sales to the next level</div>
        <tsl-new-subscription-view [subscription]="subscription" [benefits]="benefits"> </tsl-new-subscription-view>
    </div>
    <div *ngIf="subscription.tiers.length > 1" class="GenericCard">
        <div class="GenericCard__title" i18n="@@TierSelectorTitle">How many items you want to list?</div>
        <div class="GenericCard__subtitle" i18n="@@TierSelectorSubtitle">Choose the plan that fits your goals</div>
        <tsl-subscription-tier-selector [subscription]="subscription" [selectedTier]="selectedTier"
            (changeSelectedTier)="onSelectedTierChanged($event)"> </tsl-subscription-tier-selector>
    </div>
    <div class="GenericCard">
        <div class="GenericCard__title" i18n="@@CardSelectorTitle">Payment method</div>
        <div class="GenericCard__subtitle" i18n="@@CardSelectorSubtitle">Encrypted and secure</div>
        <ng-container *ngIf="stripeCards">
            <tsl-subscription-card-selector [stripeCards]="stripeCards" [selectedCard]="selectedCard"
                (changeSelectedCard)="onChangeSelectedCard($event)" (isInvoiceRequired)="onInvoiceRequired($event)">
            </tsl-subscription-card-selector>
        </ng-container>
        <div class="mt-4">
            <label class="" i18n="@@ReceiveInvoices">Do you want to receive invoices?</label>
            <div class="d-flex">
                <div class="mr-5">
                    <input type="radio" class="mr-2" [value]="true" id="type-natural" required
                        [(ngModel)]="isInvoiceRequired">
                    <span i18n="@@web_yes">Yes</span>
                </div>
                <div>
                    <input type="radio" class="mr-2" [value]="false" id="type-legal" [(ngModel)]="isInvoiceRequired">
                    <span i18n="@@web_no">No</span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isInvoiceRequired">
        <tsl-profile-pro-billing [containerType]="'modal'" (billingInfoFormSaved)="onBillingInfoFormSaved()">
        </tsl-profile-pro-billing>
    </div>
</div>
<tsl-subscription-purchase-footer [selectedTier]="selectedTier" [buttonDisable]="!selectedCard || isLoading" [isLoading]="isLoading" [subscription]="subscription" (buttonPurchaseClick)="onPurchaseButtonClick()">

</tsl-subscription-purchase-footer>