<div class="modal-body center-heading">
  <div class="modal-close" (click)="dismiss()">
    <mat-icon svgIcon="cross"></mat-icon>
  </div>
  <h2 i18n>Leave your number</h2>
  <form [formGroup]="sendPhoneForm" (ngSubmit)="createPhoneNumberMessage()">
    <div class="form-group">
      <input type="tel" class="form-control" id="phone" name="phone" tslRestrictInputNumber i18n-placeholder placeholder="Enter your phone..."
      #phoneInput formControlName="phone" required />
    </div>
    <div class="form-group">
      <tsl-button i18n (click)="dismiss()">Cancel</tsl-button>
      <tsl-button i18n (click)="createPhoneNumberMessage()">Confirm</tsl-button>
    </div>
  </form>
</div>