<div class="page-content"
      tslInfiniteScroll
      [infiniteScrollDistance]="5"
      (scrolled)="loadMoreStats()"
      [infiniteScrollDisabled]="!pagination || loading"
      [scrollTop]="scrollTop"
>
  <div class="container">
    <tsl-header>
      <div class="row mb-3">
        <div class="col-12">
          <div class="header-row">
            <h1 class="header-title" i18n="@@web_stats_pages_353">Stats</h1>
          </div>
          <div class="header-row header-row--margin">
            <h4 class="header-subtitle" i18n="@@web_stats_pages_354">Control the progress of your listings and improve your sales.</h4>
          </div>
        </div>
      </div>
    </tsl-header>
    <tsl-items-stats (stopPagination)="stopPagination()" (isLoading)="setLoadingStatus($event)" [paginate]="paginate"></tsl-items-stats>
  </div>
  <tsl-spinner [hidden]="!loading"></tsl-spinner>
</div>
