<div class="UnsubscribeInAppFirstModal w-100 d-flex flex-column justify-content-between align-items-center text-center">

  <div class="UnsubscribeInAppFirstModal__close" (click)="activeModal.close()">
    <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
  </div>

  <div class="UnsubscribeInAppFirstModal__content d-flex flex-column justify-content-between">

    <div class="UnsubscribeInAppFirstModal__content-title text-center">
      <span i18n="@@web_profile_modal_unsubscribe_in_app_first_261"><b>You have to unsubscribe all your inapp subscriptions first</b></span>
    </div>

    <div class="UnsubscribeInAppFirstModal__content-description d-flex flex-column">
      <div i18n="@@web_profile_modal_unsubscribe_in_app_first_262">If you want to subscribe, first you need to go to the app store and cancel any active inapp subscription.</div>  
      <div i18n="@@web_profile_modal_unsubscribe_in_app_first_652">If you have any doubts, <a href="mailto:{{supportMail}}" target="_blank">contact us</a>.</div>  
    </div>
  </div>
    
</div>

<div class="UnsubscribeInAppFirstModal__actions">
  <tsl-button [class]="'UnsubscribeInAppFirstModal__actions-ok text-center'" (click)="activeModal.close()" i18n="@@web_profile_modal_unsubscribe_in_app_first_653">Understood</tsl-button>
</div>