@import '~style/common';

.SubscriptionPurchaseFooter {
  background-color: white;
  position: fixed;
  right: 0;
  left: $sidebar-width;
  bottom: 0;
  box-shadow: 0 -2px 6px 0 rgb(37 50 56 / 10%);
  color: #253238;
  padding: 12px 0;
  height: $subscription-footer-height;

  &__amount {
    font-size: 32px;
    line-height: normal;
  }

  &__description {
    color: #607d8b;
    font-size: 14px;
  }

  &__legal {
    color: #607d8b;
    font-size: 14px;
    a {
      color: #607d8b;
      font-weight: bold;
    }
  }

  tsl-button {
    width: 160px;
    @include media-breakpoint-down(xs) {
      width: 100%;
      display: block;
      margin: 8px 0 12px 0;
    }
  }

  @include media-breakpoint-down(md) {
    position: relative;
    right: auto;
    left: auto;
    bottom: auto;
    border-radius: $border-radius;
    padding: $spacing-ml;
    background-color: $white;
    border: 1px solid #eceff1;
    box-shadow: none;
    height: auto;

    &__container {
      margin: 0;
      padding: 0;
    }
  }
}
