<div class="KYCImageOptions container" >
    <div class="row">
        <div class="col">
            <a class="KYCImageOptions__back d-flex pb-4 pb-md-2" (click)="goBack.emit()">
                <tsl-svg-icon src="/assets/icons/back-arrow.svg" class="align-self-center"></tsl-svg-icon>
                <span i18n="@@web_catalog_pro_pages_checkout_638" class="ml-3">Back</span>
            </a>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col col-md-11 offset-md-1">
            <h3 i18n="@@kyc_image_options_title">Add your official ID document</h3>
            <span i18n="@@kyc_image_options_subtitle">You will need to add an official identification document. This step is to verify that you are who you say you are.</span>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col col-md-6 offset-md-1">
            <div class="GenericCard KYCImageOptions__option d-flex justify-content-between mb-3 p-4" [ngClass]="{'KYCImageOptions__option--selected': imageMethod === KYC_TAKE_IMAGE_OPTIONS.UPLOAD}"> 
                <div class="d-flex flex-column text-left mr-4">
                    <span class="GenericCard__title KYCImageOptions__option__title mb-0" i18n="@@kyc_upload_image_option">Upload a photo of your document</span>
                    <span *ngIf="!isMobile" class="GenericCard__subtitle mt-2 mb-0" i18n="@@kyc_recommended_option">Recommended</span>
                </div>
                <div class="input-radio">
                    <input type="radio" [value]="KYC_TAKE_IMAGE_OPTIONS.UPLOAD" [(ngModel)]="imageMethod">
                </div>
            </div>
            <div class="GenericCard KYCImageOptions__option d-flex justify-content-between p-4" [ngClass]="{'KYCImageOptions__option--selected': imageMethod === KYC_TAKE_IMAGE_OPTIONS.SHOOT}">
                <div class="d-flex flex-column text-left mr-4">
                    <span class="GenericCard__title KYCImageOptions__option__title mb-0">{{takeImageMessage}}</span>
                    <span *ngIf="isMobile" class="GenericCard__subtitle mt-2 mb-0" i18n="@@kyc_recommended_option">Recommended</span>
                </div>
                <div class="input-radio">
                    <input type="radio" [value]="KYC_TAKE_IMAGE_OPTIONS.SHOOT" [(ngModel)]="imageMethod">
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-3">
            <tsl-button id="continueButton" className="btn-primary btn-block" (click)="takeImageOptionChange.emit(imageMethod)" i18n="@@kyc_image_options_action_button">Continue</tsl-button>
        </div>
    </div>
</div>