@import "~style/common";

.message-body .message-cloud {
  background-color: $softblue-light;
  color: $softblue-dark;

  .icon-content {
    width: min-content;
    float: left;
  }

  .message-content {
    padding-top: 5px;
    padding-left: 40px;

    .message-date {
      color: $softblue-dark;
    }
  }
}
