@import "~style/common";

.modal-body {
  text-align: center;
  padding: $spacing-xxxl $spacing-ml $spacing-xl;
  h1 {
    font-size: $font-size-ll;
    font-weight: $font-weight-chunky;
    margin-bottom: $spacing-l;
    &.red {
      color: $negative-main;
    }
  }
  p {
    font-size: $font-size-m;
    color: $blue-grey-2;
    margin-bottom: $spacing-m;
    .green {
      color: $walla-main;
    }
  }
  tsl-button {
    margin-top: $spacing-ml;
    margin-bottom: $spacing-ms;
    /deep/ {
      .btn {
        width: 350px;
      }
    }
  }
  .link {
    color: $blue-grey-3;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
