@import "~style/common";

.modal-body {
  text-align: center;
  padding: 76px $spacing $spacing-L;
  h1 {
    font-size: $font-size-LL;
    font-weight: bold;
    margin-bottom: $spacing-2M;
    &.red {
      color: $warn;
    }
  }
  p {
    font-size: $font-size;
    color: $grey-500;
    margin-bottom: $spacing-1M;
    .green {
      color: $corporate;
    }
  }
  tsl-button {
    margin-top: $spacing;
    margin-bottom: $spacing-S;
    /deep/ {
      .btn {
        width: 350px;
      }
    }
  }
  .link {
    color: $grey-250;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
