@import '~style/common';

.BankAccount {
  &__KYCMessage {
    color: $blue-grey-1;
    border: solid 1px $walla-main;
    border-radius: $border-radius;
    font-size: $font-size-s;
  }

  &__message {
    &--error {
      font-size: $font-size-s;
      color: $negative-main;
    }
  }

  &__back {
    cursor: pointer;
    color: $blue-grey-1;
    &:hover {
      text-decoration: none;
      &,
      tsl-svg-icon {
        opacity: 0.8;
      }
    }
  }

  &__bottomContainer {
    bottom: 0;
    background-color: transparentize($white, 0.5);
  }
}
