@import '~style/common';

.TrackingInfo {
  background-color: $white;

  &__image {
    @include square(38px);
    object-fit: cover;

    &--circle {
      border-radius: 50%;
    }

    &--rounded {
      border-radius: 5px;
    }
  }

  &__itemInfo {
    flex: 1;
    overflow: hidden;

    &__price {
      font-size: $font-size-l;
      font-weight: $font-weight-chunky;
    }
  }

  &__text {
    color: $blue-grey-1;
  }
}
