<div class="box" [hidden]="loading">
  <div class="box-content">

    <h4 class="section-title" i18n>Boost your sales</h4>
    <p class="section-subtitle" i18n>Take your sales to the next level with the advantages of the PRO subscription.</p>

    <div class="row">
      <div *ngFor="let benefit of benefits"
        class="Subscriptions__benefits text-center col-12 col-md-6 d-flex flex-column align-items-center align-items-md-baseline"
      >
        <div class="Subscriptions__benefits-icon"><mat-icon svgIcon="{{benefit.iconId}}" class="image"></mat-icon></div>
        <p class="Subscriptions__benefits--title">{{benefit.title}}</p>
        <p>{{benefit.description}}</p>
      </div>
    </div>

  </div>
</div>