<div class="box">
  <div class="box-content">
    <h4 class="section-title" i18n>Boost your sales</h4>
    <p class="section-subtitle" i18n>Take your sales to the next level with the advantages of the PRO subscription.</p>
    <div class="row">
      <div class="Subscriptions__benefits text-center col-12 col-md-4 d-flex flex-column align-items-center align-items-md-baseline">
        <div class="Subscriptions__benefits-icon"><mat-icon svgIcon="rocket" class="image"></mat-icon></div>
        <p class="Subscriptions__benefits--title" i18n>Upload all of your cars</p>
        <p i18n>Publish up to 5/9/15 cars at a time and make yourself a PRO agent.</p>
      </div>
      <div class="Subscriptions__benefits text-center col-12 col-md-4 d-flex flex-column align-items-center align-items-md-baseline">
        <div class="Subscriptions__benefits-icon"><mat-icon svgIcon="paintbrush" class="image"></mat-icon></div>
        <p class="Subscriptions__benefits--title" i18n>Professionalize your profile</p>
        <p i18n>Add a photo and fill in the extra fields. Stand out over the rest!</p>
      </div>
      <div class="Subscriptions__benefits text-center col-12 col-md-4 d-flex flex-column align-items-center align-items-md-baseline">
        <div class="Subscriptions__benefits-icon"><mat-icon svgIcon="megaphone" class="image"></mat-icon></div>
        <p class="Subscriptions__benefits--title" i18n>Introduce your business</p>
        <p i18n>Include a description of what you offer and share your location.</p>
      </div>
    </div>
    <div class="row">
      <div class="Subscriptions__benefits text-center col-12 col-md-4 d-flex flex-column align-items-center align-items-md-baseline">
        <div class="Subscriptions__benefits-icon"><mat-icon svgIcon="magnet" class="image"></mat-icon></div>
        <p class="Subscriptions__benefits--title"i18n>Win more clients</p>
        <p i18n>Millions of customers can call you or visit your website from your profile.</p>
      </div>
      <div class="Subscriptions__benefits text-center col-12 col-md-4 d-flex flex-column align-items-center align-items-md-baseline">
        <div class="Subscriptions__benefits-icon"><mat-icon svgIcon="watch" class="image"></mat-icon></div>
        <p class="Subscriptions__benefits--title" i18n>Without time limit</p>
        <p i18n>Your items won’t expire ever; they will always be available.</p>
      </div>
      <div class="Subscriptions__benefits text-center col-12 col-md-4 d-flex flex-column align-items-center align-items-md-baseline">
        <div class="Subscriptions__benefits-icon"><mat-icon svgIcon="unlocked" class="image"></mat-icon></div>
        <p class="Subscriptions__benefits--title" i18n>Without compromise</p>
        <p i18n>Cancel your subscription whenever you want, without any penalisation.</p>
      </div>
    </div>
  </div>
</div>