<div class="modal-body">
  <div class="modal-close" (click)="activeModal.dismiss()">
    <md-icon svgIcon="cross"></md-icon>
  </div>
  <h1 i18n>This time, sell it!</h1>
  <p i18n>Reactivate this item for <b>{{price | customCurrency:'EUR'}}</b> and put it in the top positions.<br /> Get more visibility and sell it faster. </p>
  <button (click)="activeModal.close('bump')" class="btn btn-secondary btn-bump" i18n>Reactivate + visibility </button>
  <div class="line"></div>
  <a class="reactivate" (click)="activeModal.close('reactivate')" i18n>Only reactivate it, I don't want to sell it faster</a>
</div>
