@import "~style/common";

:host {
  text-align: center;
  display: flex;
}

.content-col {
  text-align: center;
  padding: $spacing-xxl $spacing-l;
}

tsl-button {
  margin-top: $spacing-ml;
}

.image-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
