<div class="DiscountAvailableUnsubscribeInAppModal d-flex flex-column justify-content-between align-items-center">

  <div class="DiscountAvailableUnsubscribeInAppModal__close" (click)="activeModal.close()">
    <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
  </div>

  <div class="DiscountAvailableUnsubscribeInAppModal__content d-flex flex-column justify-content-between">

    <div class="DiscountAvailableUnsubscribeInAppModal__content-title text-center">
      <span i18n="@@web_profile_modal_discount_available_unsubscribe_in_app_248"><b>You are eligible for a free month</b></span>
    </div>

    <div i18n="@@web_wallapop_pro_discount_info">
      COVID-19 is affecting all of us. To alleviate this situation, we want to inform you that as a Wallapop PRO user, we are offering you a free subscription month. What do you need to do?
    </div>

    <div class="DiscountAvailableUnsubscribeInAppModal__steps">
      <div i18n="@@web_profile_modal_discount_available_unsubscribe_in_app_249">        1. Unsubscribe your current subscription plan through the 
        <a href="{{appleStoreSubscriptionsHelpURL}}" target="_blank">Apple Store</a> or 
        <a href="{{googlePlaySubscriptionsHelpURL}}" target="_blank">Google Play</a>.
      </div>
      <div i18n="@@web_profile_modal_discount_available_unsubscribe_in_app_250">2. Wait for the plan to expire. Check and be aware of the expiration date of your subscription.</div>
      <div i18n="@@web_profile_modal_discount_available_unsubscribe_in_app_251">3. Once expired, choose your free subscription here in web.</div>
    </div>

    <div class="text-center" i18n="@@web_profile_modal_discount_available_unsubscribe_in_app_578">If you have any doubts, <a href="mailto:{{supportMail}}" target="_blank">contact us</a>.</div>
  </div>
  
</div>

<div class="DiscountAvailableUnsubscribeInAppModal__actions">
  <tsl-button [class]="'DiscountAvailableUnsubscribeInAppModal__actions-ok text-center'" (click)="activeModal.close()" i18n="@@web_profile_modal_discount_available_unsubscribe_in_app_579">Understood</tsl-button>
</div>


