@import '~style/common';

$modal-header-height: 56px;

:host {
  height: inherit;
}

.PayviewModal {
  height: inherit;
  overflow: auto;

  &__header {
    height: $modal-header-height;
    top: 0;
    z-index: 1;
    background-color: $white;
  }

  &__back {
    cursor: pointer;
  }

  &__spinner {
    padding: $spacing-l;
  }

  &__close {
    cursor: pointer;
  }

  &__windowHeader {
    padding-left: $spacing-ml;
  }

  ::ng-deep #loader-wrapper {
    height: 100% !important;
    padding-bottom: $spacing-xl;
    & svg {
      height: 64px;
      width: 64px;
    }
    & h2 {
      display: none;
    }
  }

  ::ng-deep .MovableMap {
    height: 80vh;
  }
}
