@import '~style/common';

.PayviewModal {
  max-height: 80vh;

  &__back {
    cursor: pointer;
  }
  &__scrollable {
    overflow-y: scroll;
  }

  &__spinner {
    padding: $spacing-l;
  }

  &__close {
    cursor: pointer;
  }

  &__windowHeader {
    padding-left: $spacing-ml;
  }

  ::ng-deep #loader-wrapper {
    height: 100% !important;
    padding-bottom: $spacing-xl;
    & svg {
      height: 64px;
      width: 64px;
    }
    & h2 {
      display: none;
    }
  }

  ::ng-deep .MovableMap {
    height: 80vh;
  }
}
