
# Please remove the directories from here once all the linting errors of the directory have been fixed

# PROs

# WALLET-CHAT
/src/app/private/features/chat

# DELIVERY
/src/app/private/features/delivery

# ENGAGEMENT
/src/app/private/features/favorites
/src/app/private/features/profile/modal/become-pro-modal
/src/app/private/features/profile/modal/change-store-location-modal
/src/app/private/features/profile/modal/unsubscribe-modal
/src/app/private/features/profile/pages/account
/src/app/private/features/profile/pages/profile-info
/src/app/private/features/profile/pipes
/src/app/private/features/reviews
/src/app/private/features/stats
/src/app/public/features/item-detail
/src/app/public/features/public-profile

# FINDING


# T&S
/src/app/public/features/register

# TRANSVERSAL 
/src/app/layout
/src/app/public/layout
/src/app/private/layout
/src/app/public/features/error
/src/tests
