# Ignore artifacts:
dist
coverage
node_modules
e2e
scripts
infrastructure
docker
githooks
*.js
*.yaml
*.yml
*.json

/src/richmedia/

# TODO: Apply prettier for HTML templates in each feature

# PROs
/src/app/private/features/calls/**/*.html
/src/app/private/features/catalog/**/*.html
/src/app/private/features/catalog-pro/**/*.html
/src/app/private/features/dashboard/**/*.html
/src/app/private/features/help/**/*.html
/src/app/private/features/pro/**/*.html
/src/app/private/features/upload/**/*.html
/src/app/private/features/wallacoins/**/*.html

# CHAT
/src/app/private/features/chat/**/*.html

# WALLET
/src/app/private/features/wallet/**/*.html

# DELIVERY
/src/app/private/features/delivery/**/*.html

# ENGAGEMENT
/src/app/private/features/favorites/**/*.html
/src/app/private/features/profile/**/*.html
/src/app/private/features/reviews/**/*.html
/src/app/private/features/stats/**/*.html
/src/app/public/features/item-detail/**/*.html
/src/app/public/features/public-profile/**/*.html

# FINDING
/src/app/public/features/search/**/*.html

# T&S
/src/app/public/features/register/**/*.html

# TRANSVERSAL
/src/app/core/**/*.html
/src/app/public/core/**/*.html
/src/app/private/core/**/*.html
/src/app/shared/**/*.html
/src/app/public/shared/**/*.html
/src/app/layout/**/*.html
/src/app/public/layout/**/*.html
/src/app/private/layout/**/*.html
/src/app/public/features/error/**/*.html
