<div class="PayviewSummaryHeader" *ngIf="deliveryMethod">
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex text-truncate pr-2">
      <div class="PayviewSummaryHeader__imageWrapper mr-2">
        <img class="PayviewSummaryHeader__image" [alt]="title" [src]="imageUrl" />
      </div>
      <div class="PayviewSummaryHeader__deliveryInfo d-flex flex-column text-truncate">
        <span class="PayviewSummaryHeader__deliveryInfoEtaTitle text-truncate" i18n="@@pay_view_buyer_all_all_summary_eta_time_description"
          >Entrega estimada en<span class="PayviewSummaryHeader__deliveryInfoEtaTitle--bold">{{ '' }}</span></span
        >
        <span class="PayviewSummaryHeader__deliveryInfoEta text-truncate" i18n="@@pay_view_buyer_all_all_summary_eta_time_days"
          ><span class="PayviewSummaryHeader__deliveryInfoEta--bold">{{ deliveryTime }}</span
          >días</span
        >
      </div>
    </div>
  </div>
</div>
