@import '~style/common';

.PayviewPaymentMethod {
  border-bottom: 1px solid $blue-grey-4;

  &__methodWrapper {
    flex: 1;
    padding: $spacer * 0.75 0px;
  }

  &__methodIconWrapper {
    @include square(48px);
  }

  &__methodIcon {
    border-radius: 5px;
    object-fit: cover;
    overflow: hidden;
    width: inherit;
  }

  &__informationWrapper {
    padding-left: $spacing-xxxl;
    padding-bottom: $spacing-ml;
  }
}
