@import "~style/common";

#first-step, #second-step, #thanks {
  p.text {
    font-size: $font-size;
    text-align: center;
    color: $grey-700;
  }
}

h1 {
  color: $walla-main;
  font-size: $font-size-L;
  font-weight: bold;
  text-align: center;
}

#first-step {

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: $spacing-L;
    height: 308px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .congrats {
    width: 152px;
    height: 87px;
    margin: 37px auto;
    display: block;
  }

  .conv-user {
    a {
      display: flex;
      align-items: center;
      position: relative;
      width: calc(100% - 20px);
      tsl-user-avatar {
        margin-right: $spacing;
      }
      div {
        flex: 1;
        border-bottom: 1px solid rgba(207, 216, 220, 0.5);
        padding: 14px 0;
        max-width: calc(100% - 50px - #{$spacing});
        p {
          margin: 0;
          font-size: $font-size;
          &.name {
            font-weight: bold;
            color: $blue-grey-1;
          }
          &.message {
            color: $grey-300;
            @include text-truncate();
          }
        }
      }
      .arrow-icon {
        position: absolute;
        right: -18px;
        transform: rotate(-90deg);
        width: 42px;
        height: 42px;
        transition: right ease .2s;
        /deep/ svg path {
          fill: $grey-200;
        }
      }
      &:hover {
        text-decoration: none;
        div p.name {
          color: $walla-main;
        }
        .arrow-icon {
          right: -10px;
          /deep/ svg path {
            fill: $walla-main;
          }
        }
      }
    }
  }

  .modal-footer {
    height: 75px;
    box-shadow: 0 -2px 4px 0 rgba(37, 50, 56, 0.07);
    justify-content: center;
    padding: 0;
    a {
      color: $negative-main;
      &:hover {
        color: darken($negative-main, 20%);
        text-decoration: none;
      }
    }
  }
}

#thanks {
  .congrats-icon {
    width: 192px;
    height: 352px;
    margin-top: 45px;
    margin-bottom: 43px;
    margin-left: 30px;
  }
  tsl-button  {
    padding: 10px 41px;
    margin-top: 40px
  }
}
