<div id="first-step" [hidden]="userToReview">
  <div class="modal-body">
    <div class="modal-close" (click)="activeModal.dismiss()">
      <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
    </div>
    <h1 i18n>Congratulations!</h1>
    <p class="text" i18n>You sold <strong>{{item.title}}</strong>
    </p>
    <tsl-svg-icon class="congrats" src="/assets/icons/commons-congrats.svg"></tsl-svg-icon>
    <p class="text" [hidden]="!conversationUsers.length" i18n>Who bought this from you?</p>
    <ul [hidden]="!conversationUsers.length">
      <li class="conv-user" *ngFor="let convUser of conversationUsers">
        <a href="" (click)="chooseUser(convUser); $event.preventDefault()">
          <tsl-user-avatar [user]="convUser" size="50"></tsl-user-avatar>
          <div>
            <p class="name">{{convUser.micro_name}}</p>
            <p class="message">{{convUser.last_message}}</p>
          </div>
          <tsl-svg-icon src="/assets/icons/arrow-waterfall.svg" class="arrow-icon"></tsl-svg-icon>
        </a>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="" (click)="setSoldOutside(); $event.preventDefault()" i18n>I didn't sell this on wallapop</a>
  </div>
</div>
<div id="second-step" [hidden]="!userToReview || thanks">
  <tsl-review-modal [userToReview]="userToReview" [item]="item" (finishedReview)="onFinishedReview()" (backPress)="onBackPress()" [isSeller]="true"  [canChooseBuyer]="canChooseBuyer"></tsl-review-modal>
</div>
<div id="thanks" [hidden]="!thanks">
  <div class="modal-body center-heading">
    <div class="modal-close" (click)="activeModal.dismiss()">
      <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
    </div>
    <tsl-svg-icon class="congrats-icon" src="/assets/icons/congrats.svg"></tsl-svg-icon>
    <h1 i18n>Thanks</h1>
    <p class="text" i18n>Your feedback is important for the<br />Wallapop community.</p>
    <tsl-button (click)="activeModal.close()" i18n>Continue</tsl-button>
  </div>
</div>