<div id="first-step" [hidden]="buyer">
  <div class="modal-body">
    <div class="modal-close" (click)="activeModal.dismiss()">
      <mat-icon svgIcon="cross"></mat-icon>
    </div>
    <h1 i18n>Congratulations!</h1>
    <p class="text" i18n>You sold <strong>{{item.title}}</strong></p>
    <mat-icon class="congrats" svgIcon="commons-congrats"></mat-icon>
    <p class="text" [hidden]="!conversationUsers.length" i18n>Who bought this from you?</p>
    <ul [hidden]="!conversationUsers.length">
      <li class="conv-user" *ngFor="let convUser of conversationUsers">
        <a href="" (click)="chooseUser(convUser); $event.preventDefault()">
          <tsl-user-avatar [user]="convUser" size="50"></tsl-user-avatar>
          <div>
            <p class="name">{{convUser.micro_name}}</p>
            <p class="message">{{convUser.last_message}}</p>
          </div>
          <mat-icon svgIcon="arrow-waterfall" class="arrow-icon"></mat-icon>
        </a>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="" (click)="setSoldOutside(); $event.preventDefault()" i18n>I didn't sell this on wallapop</a>
  </div>
</div>
<div id="second-step" [hidden]="!buyer || thanks" >
  <tsl-review-modal [buyer]="buyer" [item]="item" (finishedReview)="onFinishedReview()" [isSeller]="true"></tsl-review-modal>
</div>
<div id="thanks" [hidden]="!thanks">
  <div class="modal-body center-heading">
    <mat-icon svgIcon="congrats"></mat-icon>
    <h1 i18n>Thanks</h1>
    <p class="text" i18n>Your feedback is important for the<br />Wallapop community.</p>
    <tsl-button (click)="activeModal.close()" i18n>Continue</tsl-button>
  </div>
</div>
