@import '~style/common';

.ItemExtraInfo {
  font-size: $font-size-s;
  color: $blue-grey-1;

  label {
    min-width: max-content;
  }

  > :not(:last-child) {
    margin-right: $spacing-xs;

    &::after {
      content: ' · ';
    }
  }
}
