@import '~style/common';

.ItemExtraInfo {
  font-size: $font-size-s;

  label {
    min-width: max-content;
  }

  &--dash {
    > :not(:last-child) {
      margin-right: $spacing-xs;

      &::after {
        content: ' - ';
      }
    }
  }

  &:not(&--dash) {
    > :not(:last-child) {
      margin-right: $spacing-xs;

      &::after {
        content: ' · ';
      }
    }
  }
}
