<div class="CreditCard container">
    <a class="CreditCard__back d-flex pb-4 pb-md-2" (click)="goBack()">
        <tsl-svg-icon src="/assets/icons/back-arrow.svg" class="align-self-center"></tsl-svg-icon>
        <span i18n="@@web_catalog_pro_pages_checkout_638" class="ml-3">Back</span>
    </a>
    <tsl-profile-form class="row" [profileForm]="cardForm" (onInit)="initForm()">
        <form class="col" *ngIf="!loading; else loadingState" [formGroup]="cardForm" (submit)="onSubmit()">
            <div class="row">
                <div class="col-md-11 offset-md-1">
                    <h3 *ngIf="isNewForm" i18n="@@delivery_add_credit_card_title">Add credit card</h3>
                    <h3 *ngIf="!isNewForm" i18n="@@delivery_edit_credit_card_title">Edit credit card</h3>
                </div>
            </div>
            <div class="form-group row align-items-center">
                <label for="holder_name" class="col-sm-12 col-md-5" i18n="@@card_draf_name_hint">Name and surname</label>
                <div class="col-sm-12 col-md-5">
                    <input type="text" class="form-control" id="holder_name" formControlName="holder_name"/>
                    <div *ngIf="cardForm.controls.holder_name.invalid && cardForm.pending" class="CreditCard__message CreditCard__message--error">
                        <ng-container *ngIf="cardForm.controls.holder_name.errors as holderNameError">
                        <span *ngIf="holderNameError.required" i18n="@@credit_card_owner_name_error">Invalid owner name</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="form-group row align-items-center">
                <label for="card_number" class="col-sm-12 col-md-5" i18n="@@card_number_hint">Card number</label>
                <div class="col-sm-12 col-md-5">
                    <input type="text" class="form-control" id="card_number" formControlName="card_number" maxlength="24" pattern="[0-9]*" [value]="cardForm.get('card_number').value | separateWordByCharacter:4:' '" tslNumbersOnly/>
                    <div *ngIf="cardForm.controls.card_number.invalid && cardForm.pending" class="CreditCard__message CreditCard__message--error">
                        <ng-container *ngIf="cardForm.controls.card_number.errors as cardNumberError">
                            <span *ngIf="cardNumberError.required" i18n="@@credit_card_number_error">Invalid card number</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="form-group row align-items-center">
                <label for="expiration_date" class="col-sm-12 col-md-5" i18n="@@card_date_hint">MM/YY</label>
                <div class="col-sm-12 col-md-5">
                    <input type="text" class="form-control" id="expiration_date"  formControlName="expiration_date" pattern="[0-9]*" maxlength="5" [value]="cardForm.get('expiration_date').value | separateWordByCharacter:2:'/'" tslNumbersOnly/>
                    <div *ngIf="cardForm.controls.expiration_date.invalid && cardForm.pending" class="CreditCard__message CreditCard__message--error">
                        <ng-container *ngIf="cardForm.controls.expiration_date.errors as expirationDateError">
                            <span *ngIf="expirationDateError.required" i18n="@@credit_card_date_error">Invalid date</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="form-group row align-items-center">
                <label for="cvv" class="col-sm-12 col-md-5" i18n="@@card_cvv_hint">CVV</label>
                <div class="col-sm-12 col-md-5">
                    <input type="text" class="form-control" id="cvv" formControlName="cvv" maxlength="4" pattern="[0-9]*" tslNumbersOnly/>
                    <div *ngIf="cardForm.controls.cvv.invalid && cardForm.pending" class="CreditCard__message CreditCard__message--error">
                        <ng-container *ngIf="cardForm.controls.cvv.errors as CVVError">
                            <span *ngIf="CVVError.required" i18n="@@credit_card_cvv_error">Invalid CCV number</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center d-flex flex-column align-items-center">
                    <span i18n="@@delivery_add_credit_card_text_info" class="CreditCard__message CreditCard__message--info mb-4">0,10 € will be charged in order to validate credit or debit card. The amount will be returned in 7 working days.</span>
                    <tsl-button class="col-12 col-md-2" [type]="'submit'" [loading]="loadingButton" className="btn-primary btn-block" i18n="@@delivery_add_credit_card_save_button">Save</tsl-button>
                </div>
            </div>
        </form>
    </tsl-profile-form>
    <ng-template class="row loading-center justify-content-center" #loadingState>
        <div class="col">
            <tsl-spinner></tsl-spinner>
        </div>
    </ng-template>
</div> 