@import '~style/common';

.UserReviews {
  &__btn {
    border-radius: $button-border-radius;
  }

  &__emptyState {
    width: 230px;

    @include media-breakpoint-up(md) {
      width: 485px;
    }
  }
}
