<tsl-banner [specifications]="bannerStyleProperties">
  <div class="ActivateShipping d-flex justify-content-between">
    <div class="ActivateShipping__infoWrapper w-100 d-flex align-items-center">
      <tsl-svg-icon [src]="ACTIVATE_SHIPPING_ICON_URL"></tsl-svg-icon>
      <p>
        <span class="ActivateShipping__description m-0" i18n="@@chat_seller_shipping_disabled_banner_description">
          Ship it for free. And sell it faster!
        </span>
        <a>
          <span i18n="chat_seller_shipping_disabled_banner_faqs_link"> Learn more </span>
        </a>
      </p>
    </div>
    <tsl-button [className]="'btn btn-primary btn--thin'" (click)="handleClickCTA()" i18n="@@chat_seller_shipping_disabled_banner_button"
      >Activate</tsl-button
    >
  </div>
</tsl-banner>
