@import '~style/common';

.favorites-empty-state {
  margin: $spacing-ml $spacing-ms;
  padding-top: $spacing-ml;
  width: 100%;
  display: flex;
  align-items: center;
  .message {
    width: 35%;
    color: $blue-grey-2;
    font-size: $font-size-ll;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  @include media-breakpoint-down(sm) {
    padding: 0;
    margin: 0;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.card-wrapper {
  width: calc(100% / 5);
  padding: 0 5px;
  @include media-breakpoint-down(md) {
    width: calc(100% / 4);
  }
  @include media-breakpoint-down(sm) {
    width: calc(100% / 2);
  }
}
