@import '~style/common';

$checkbox-width: 24px;
$transition: all 0.5s ease;
$feature-button-width: 170px;

:host ::ng-deep ngb-tooltip-window {
  margin-top: -$spacing-ms;
  &.show {
    opacity: 1;
  }
  .tooltip-inner {
    background-color: $blue-grey-2;
    font-family: $wallie;
    padding: $spacing-ms $spacing-m;
    border-radius: $border-radius * 0.5;
    font-size: $font-size-s;
  }
  .arrow:before {
    border-top-color: $blue-grey-1;
  }
}

.checkbox {
  transition: $transition;
  width: 0;
  float: left;
  .resized & {
    width: $checkbox-width;
    opacity: 1;
  }
  .select {
    @include square($checkbox-width);
    border: 2px solid $blue-grey-4;
    border-radius: 6px;
    padding: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: $spacing-ml;
    margin-top: $spacing-xxl;
    cursor: pointer;
    tsl-svg-icon {
      display: none;
    }
    &.selected {
      background: $walla-main;
      border-color: transparent;
      tsl-svg-icon {
        display: flex;
        ::ng-deep svg g g {
          fill: $white;
        }
      }
    }
    &:hover {
      border-color: $walla-main;
    }
  }
}

.item {
  background: $white;
  border-radius: $border-radius;
  border: solid 1px $blue-grey-5;
  margin-bottom: $spacing-ml;
  margin-left: $spacing-xl;
  display: flex;
  align-items: center;
  position: relative;
  transition: $transition;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 10px 0 rgba(37, 50, 56, 0.1);
  }
  &.expired,
  &.pending {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $white;
      opacity: 0.5;
      z-index: 1;
      border-radius: $border-radius;
    }
  }
  &.onhold {
    opacity: 0.4;
  }
  .selected-veil {
    display: none;
  }
  .resized & {
    .selected-veil {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      cursor: pointer;
      z-index: 1;
      border-radius: $border-radius;
    }
    &:not(.selected):hover {
      .selected-veil {
        border: solid 1px $walla-main;
      }
    }
  }
  &.selected {
    background-color: rgba($walla-main, 0.2);
    border: solid 1px $walla-main;
  }
  a {
    color: $blue-grey-1;
    &:hover {
      text-decoration: none;
    }
  }
  .image {
    padding: $spacing-xs;
    padding-right: $spacing-m;
    display: block;
  }
  .title,
  .price {
    &:focus {
      text-decoration: none;
    }
  }
  button,
  tsl-button ::ng-deep .btn-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  button {
    border: solid 1px rgba($blue-grey-4, 0.5);
  }
  .info {
    display: flex;
    flex-direction: column;
    align-self: auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20em;
    max-width: 17em;
    margin-right: $spacing-m;
  }
  .price {
    font-weight: $font-weight-chunky;
    font-size: $font-size-l;
    @include text-truncate();
  }
  .title {
    @include text-truncate();
  }
  .published,
  .updated,
  .sold,
  .bumped {
    & {
      font-size: $font-size-s;
      display: flex;
      flex-direction: column;
      align-self: auto;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 12em;
    }
    .date {
      color: $blue-grey-3;
    }
  }
  .sold,
  .bumped {
    flex-basis: 24em;
  }
  .bumped {
    .cancel-bump {
      text-decoration: underline;
      cursor: pointer;
      margin-left: $spacing-xs;
      &:hover {
        text-decoration: none;
      }
    }
    .type {
      font-weight: $font-weight-chunky;
    }
  }
  .zonebump {
    color: $zone-bump;
  }
  .countrybump {
    color: $country-bump;
  }
  .citybump {
    color: $walla-main;
  }
  .visibility {
    display: flex;
    flex-basis: 6em;
    flex-grow: 1;
    font-size: $font-size-xs;
    color: $blue-grey-2;
    .counters {
      display: flex;
      flex-direction: column;
      flex-basis: 3em;
      align-items: center;
    }
    tsl-svg-icon {
      height: 17px;
      width: 19px;
      vertical-align: top;
    }
  }
  .actions {
    margin-right: $spacing-xl;
    .resized & {
      display: none;
    }
    button,
    tsl-button {
      margin-left: $spacing-ms;
      float: left;
      background-color: transparent;
    }
    button {
      @include square(40px);
      border-radius: 8px;
      transition: all 0.2s ease;
      tsl-svg-icon ::ng-deep {
        svg g g,
        svg path {
          fill: $blue-grey-2;
        }
      }
      &:hover,
      &.active {
        tsl-svg-icon ::ng-deep {
          svg g g,
          svg path {
            fill: $white;
          }
        }
      }
      &.btn-featured {
        width: $feature-button-width;
        border: 1px solid $walla-main;
        color: $walla-main;
        cursor: default;
        font-size: $font-size-s;
        font-weight: $font-weight-chunky;
      }
      &.btn-sold {
        &:hover,
        &.active {
          background: $magenta-main;
          border-color: transparent;
        }
      }
      &.btn-edit {
        &:hover {
          background: $blue-grey-2;
          border-color: transparent;
        }
      }
      &.btn-reserve {
        &:hover,
        &.active {
          background: $skyblue-dark;
          border-color: transparent;
        }
      }
    }
    tsl-button {
      ::ng-deep .btn-feature {
        width: $feature-button-width;
        height: 40px;
        padding: 0 $spacing-ml;
        padding-left: $spacing-ms;
        font-size: $font-size-s;
        tsl-svg-icon {
          width: 19px;
          height: 21px;
          margin-right: $spacing-s;
        }
      }
    }
  }
  &.itemSold {
    .actions {
      min-width: auto;
    }
  }
  .btn-pending {
    z-index: 2;
    position: relative;
    font-size: $font-size-s;
    padding-right: $spacing-l;
    margin-right: $spacing-l;
    border-radius: $border-radius;
    color: $blue-grey-1;
    height: 40px;
    cursor: default;
    tsl-svg-icon {
      margin-right: $spacing-xl;
      margin-left: $spacing-xs;
    }
  }
}
