<div [ngClass]="{resized: itemService.selectedItems.length}">
  <div class="checkbox">
    <button class="select" (click)="select(item)" [ngClass]="{selected: item.selected}">
      <mat-icon svgIcon="check"></mat-icon>
    </button>
  </div>
  <div class="item" [ngClass]="{expired: item.flags.expired, selected: item.selected, pending: item.flags.pending, itemSold: item.sold}">
    <div class="selected-veil" (click)="select(item)"></div>
    <a href="{{link}}" target="_blank" tslTrackEvent="PRODUCT_VIEWED" [params]="{product_id: item.id}" class="image">
      <tsl-item-avatar [item]="item" size="bigger" fallbackLight="true"></tsl-item-avatar>
    </a>
    <a href="{{link}}" target="_blank" tslTrackEvent="PRODUCT_VIEWED" [params]="{product_id: item.id}" class="info">
      <div class="price">{{item.salePrice | customCurrency:item.currencyCode}}</div>
      <div class="title">{{item.title}}</div>
    </a>
    <div class="published" [hidden]="item.sold || item.flags.bumped">
      <div i18n>Published</div>
      <div class="date">{{item.publishedDate | date:'dd/MM/yyyy HH:mm'}}</div>
    </div>
    <div class="updated" [hidden]="item.sold || item.flags.bumped">
      <div i18n>Updated</div>
      <div class="date">{{item.modifiedDate | date:'dd/MM/yyyy HH:mm'}}</div>
    </div>
    <div class="sold" *ngIf="item.sold">
      <div i18n>Sold</div>
      <div class="date">{{item.modifiedDate | date:'dd/MM/yyyy HH:mm'}}</div>
    </div>
    <div class="bumped" *ngIf="item.flags.bumped">
      <div class={{item.flags.bump_type}}>{{item.flags.bump_type}}</div>
      <div class="date">{{item.bumpExpiringDate | amCountdown}}
        <span class="cancel-bump {{item.flags.bump_type}}" (click)="cancelAutorenew(item)" *ngIf="item.autorenew_purchase"
              i18n>Cancel
        </span>
      </div>
    </div>
    <div class="visibility">
      <div class="counters">
        <mat-icon svgIcon="views"></mat-icon>
        <span>{{item.views}}</span>
      </div>
      <div class="counters">
        <mat-icon svgIcon="heart"></mat-icon>
        <span>{{item.favorites}}</span>
      </div>
      <div class="counters">
        <mat-icon svgIcon="ico-message"></mat-icon>
        <span>{{item.views}}</span>
      </div>
    </div>
    <div class="actions" *ngIf="!item.flags.pending">
      <span *ngIf="!item.flags.expired">
        <button class="btn-sold" [hidden]="item.sold" tslItemSold (callback)="setSold(item)" [item]="item" *ngIf="!item.flags.onhold">
          <mat-icon svgIcon="btn-sold"></mat-icon>
        </button>
        <button class="btn-reserve" [ngClass]="{active: item.reserved}" (click)="reserve(item)" *ngIf="!item.sold && !item.flags.onhold">
          <mat-icon svgIcon="btn-reserved"></mat-icon>
        </button>
        <button class="btn-edit" [routerLink]="['/catalog/edit/' + item.id]" tslTrackEvent="MYCATALOG_EDITITEM"
                [params]="{category: item.categoryId}" *ngIf="!item.sold">
          <mat-icon svgIcon="btn-edit"></mat-icon>
        </button>
      </span>
    </div>
    <button class="btn-pending" *ngIf="item.flags.pending">
      <mat-icon svgIcon="spinner" class="spinner grey"></mat-icon>
      <span i18n>Pending</span>
    </button>
  </div>
</div>