<div [ngClass]="{resized: itemService.selectedItems.length}">
  <div class="checkbox">
    <button class="select" (click)="select(item)" [ngClass]="{selected: item.selected}">
      <mat-icon svgIcon="check"></mat-icon>
    </button>
  </div>
  <div class="item" [ngClass]="{expired: item.flags.expired, selected: item.selected, pending: item.flags.pending, onhold: item.flags.onhold, itemSold: item.sold}">
    <div class="selected-veil" (click)="select(item)"></div>
    <a href="{{item.webLink}}" target="_blank" tslTrackEvent="PRODUCT_VIEWED" [params]="{product_id: item.id}" class="image">
      <tsl-item-avatar [item]="item" size="bigger" fallbackLight="true"></tsl-item-avatar>
    </a>
    <a href="{{item.webLink}}" target="_blank" tslTrackEvent="PRODUCT_VIEWED" [params]="{product_id: item.id}" class="info">
      <div class="price">{{item.salePrice | customCurrency:item.currencyCode}}</div>
      <div class="title">{{item.title}}</div>
      <div class="title" *ngIf="item.km">{{item.km | number}} km</div>
    </a>
    <div class="published" [hidden]="item.sold || item.purchases && !item.flags.onhold">
      <div i18n>Published</div>
      <div class="date">{{item.publishedDate | date:'dd/MM/yyyy HH:mm'}}</div>
    </div>
    <div class="updated" [hidden]="item.sold || item.purchases && !item.flags.onhold">
      <div i18n>Updated</div>
      <div class="date">{{item.modifiedDate | date:'dd/MM/yyyy HH:mm'}}</div>
    </div>
    <div class="sold" *ngIf="item.sold">
      <div i18n>Sold</div>
      <div class="date">{{item.modifiedDate | date:'dd/MM/yyyy HH:mm'}}</div>
    </div>
    <div class="bumped" *ngIf="item.purchases && !item.flags.onhold && !item.flags.sold">
      <div class="type {{item.purchases.bump_type || item.purchases.scheduled_bump_type}}">{{bumpName}}</div>
      <div class="date">
        <span i18n *ngIf="item.purchases.scheduled_bump_type && !item.plannedStartsToday">
          From {{item.purchases.scheduled_start_date | date:'dd/MM/yy'}} to {{item.purchases.scheduled_end_date | date:'dd/MM/yy'}}
        </span>
        <span i18n *ngIf="!item.purchases.scheduled_bump_type && !item.plannedStartsToday">
          {{item.purchases.expiration_date | dateCountdown}} remaining
        </span>
        <span i18n *ngIf="item.purchases.scheduled_bump_type && item.plannedStartsToday">
          {{item.purchases.scheduled_end_date | dateCountdown}} remaining
        </span>
        <span class="cancel-bump {{item.purchases.bump_type || item.purchases.scheduled_bump_type}}"
              (click)="cancelAutorenew(item, cancelAutorenewModal)"
              *ngIf="item.purchases.scheduled_end_date && !item.bumpLast24h" i18n>
          Cancel</span>
      </div>
    </div>
    <div class="visibility">
      <div class="counters" ngbTooltip="Views" i18n-ngbTooltip placement="top">
        <mat-icon svgIcon="views"></mat-icon>
        <span>{{item.views}}</span>
      </div>
      <div class="counters" ngbTooltip="Favorites" i18n-ngbTooltip placement="top">
        <mat-icon svgIcon="heart"></mat-icon>
        <span>{{item.favorites}}</span>
      </div>
      <div class="counters" ngbTooltip="Chats" i18n-ngbTooltip placement="top">
        <mat-icon svgIcon="ico-message"></mat-icon>
        <span>{{item.conversations}}</span>
      </div>
    </div>
    <div class="actions" *ngIf="!item.flags.pending">
      <span *ngIf="!item.flags.expired">
        <button ngbTooltip="Mark as sold" i18n-ngbTooltip placement="top" class="btn-sold" [hidden]="item.sold" tslItemSold (callback)="setSold(item)" [item]="item" *ngIf="!item.flags.onhold">
          <mat-icon svgIcon="btn-sold"></mat-icon>
        </button>
        <button ngbTooltip="Mark as reserved" i18n-ngbTooltip placement="top" class="btn-reserve" [ngClass]="{active: item.reserved}" (click)="reserve(item)" *ngIf="!item.sold && !item.flags.onhold">
          <mat-icon svgIcon="btn-reserved"></mat-icon>
        </button>
        <button ngbTooltip="Edit" i18n-ngbTooltip placement="top" class="btn-edit" [routerLink]="['/catalog/edit/' + item.id]" tslTrackEvent="MYCATALOG_PRO_EDIT_CARD"
                [params]="{category: item.categoryId}" *ngIf="!item.sold">
          <mat-icon svgIcon="btn-edit"></mat-icon>
        </button>
      </span>
    </div>
    <button class="btn-pending" *ngIf="item.flags.pending">
      <mat-icon svgIcon="spinner" class="spinner grey"></mat-icon>
      <span i18n>Pending</span>
    </button>
  </div>
</div>

<ng-template ngbModalContainer #cancelAutorenewModal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <h2 i18n>Cancel Autorenew</h2>
    <p i18n>Do you really want to cancel the autorenew for this item?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" i18n (click)="d()">No</button>
    <button type="button" class="btn btn-warn" i18n (click)="c()">Yes</button>
  </div>
</ng-template>
