<div class="cart-content">
  <div class="cart-header">
    <h1 class="cart-pro-title" i18n>Featured summary</h1>
    <mat-icon class="cancel-icon" [ngClass]="{disabled: cart.total === 0}" (click)="clean()" svgIcon="delete"></mat-icon>
  </div>
  <ul *ngIf="cart" class="items-list">
    <li *ngFor="let type of types" class="type-wrapper" [ngClass]="type">
      <div class="type-total cart-box" [ngClass]="{collapsed: cart[type].collapsed}" (click)="cart[type].collapsed = !cart[type].collapsed">
        <mat-icon class="wing-icon" [ngClass]="type" svgIcon="wing-{{type}}"></mat-icon>
        <div class="type">
          <span [ngSwitch]="type">
            <ng-container *ngSwitchCase="'citybump'" i18n>City planned</ng-container>
            <ng-container *ngSwitchCase="'countrybump'">
              <span i18n>Country planned</span>
            </ng-container>
          </span>
          <span class="planned-label" [hidden]="cart[type].cartItems.length" i18n>Anything planned yet</span>
          <span class="planned-label" [hidden]="!cart[type].cartItems.length">{{cart[type].total}}
            <span i18n> planned</span>
          </span>
        </div>
        <mat-icon class="arrow-icon" svgIcon="arrow-right" [hidden]="!cart[type].cartItems.length"></mat-icon>
      </div>
      <ul [hidden]="cart[type].collapsed">
        <li *ngFor="let cartItem of cart[type].cartItems" class="cart-item">
          <mat-icon svgIcon="remove" class="close-icon" (click)="remove(cartItem, type)"></mat-icon>
          <div class="cart-box">
            <tsl-item-avatar [item]="cartItem.item" size="small" fallbackLight="true"></tsl-item-avatar>
            <span class="cart-description">{{cartItem.item.title}}</span>
            <span class="cart-days">x {{cartItem.selectedDates.numberOfDays}}</span>
          </div>
        </li>
      </ul>
      <div class="cart-separator"></div>
      <div class="cart-balance">
        <span class="cart-balance-title" [ngSwitch]="type">
          <span i18n class="balance">Balance</span>
          <ng-container *ngSwitchCase="'citybump'" i18n>city</ng-container>
          <ng-container *ngSwitchCase="'countrybump'">
            <span i18n>country</span>
          </ng-container>
        </span>
        <div class="cart-balance-number" [ngSwitch]="type" *ngIf="status">
          <ng-container *ngSwitchCase="type">
            <span *ngIf="balance[type] > 0">{{balance[type]}}</span>
            <span *ngIf="balance[type] <= 0">0</span>
          </ng-container>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="btn-wrapper">
  <tsl-button id="qa-checkout-pro-featured" (click)="applyBumps()" [disabled]="cart.total === 0" i18n>Apply bumps</tsl-button>
</div>