<div class="modal-body">
  <div *ngIf="!type">
    <h2 i18n>Delete item</h2>
    <p i18n>This will delete the item.</p>
  </div>
  <div *ngIf="type === 1">
    <h2 i18n>Delete items</h2>
    <p i18n>The selected items will be permanently deleted.</p>
  </div>
  <div *ngIf="type === 2">
    <h2 i18n>Reserve items</h2>
    <p i18n>The selected items will be reserved.</p>
  </div>
  <div *ngIf="type === 3">
    <h2 i18n>Remove item from favorites</h2>
    <p i18n>The item will be removed from favorites.</p>
  </div>
  <div *ngIf="type === 4">
    <h2 i18n>Delete card</h2>
    <p i18n>Are you sure you want to delete the card saved?</p>
  </div>
  <div *ngIf="type === 5">
    <h2 i18n>Remove featured profile from favorites</h2>
    <p i18n>The profile will be removed from favorites.</p>
  </div>
  <div *ngIf="type === 6">
    <h2 i18n>This profile is no longer featured</h2>
    <p i18n>If you remove it you won't be able to save it again.</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn" i18n (click)="activeModal.dismiss()">Cancel</button>
  <button type="button" class="btn btn-warn" (click)="activeModal.close()">
    <span i18n *ngIf="type === 1">Delete</span>
    <span i18n *ngIf="type === 2">Reserve</span>
    <span i18n *ngIf="type === 3 || type === 5 || type === 6">Remove</span>
    <span i18n *ngIf="type === 4">Yes, I am sure</span>
  </button>
</div>
