.badge {
  &.badge-pro {
    color: $white;
    background-color: $color-urgent;
    text-transform: uppercase;
    font-size: $font-size-S;
    line-height: 11px;
    padding: 4px 7px;
    margin-left: 10px;
  }
}
