.badge {
  &.badge-pro {
    display: flex;
    align-items: center;
    color: $white;
    background-color: $blue-grey-1;
    text-transform: uppercase;
    font-size: $font-size-s;
    line-height: $line-height-ms;
    padding: $spacing-xs $spacing-s;
    margin-left: $spacing-ms;
    mat-icon /deep/ path {
      fill: $white;
    }
  }
  &.gold {
    background-color: $yellow-main;
  }
  &.platinum {
    background-color: $blue-grey-1;
    color: $white;
  }
  &.motor {
    background-color: $skyblue-main;
    background-image: linear-gradient(to right, $skyblue-main, $color-pro-super-light);
  }
  mat-icon {
    height: 16px;
    width: 16px;
    margin-right: 2px;
  }
}
