.carousel {
  .carousel-item {
    flex-direction: column;
    height: 477px;
    img {
      object-fit: cover;
      @include square(100%);
      border-radius: $border-radius;
    }
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    border-radius: 36px;
    background-color: rgba(255,255,255,.8);
    background-repeat: no-repeat;
    background-position: 9px 13px;
    background-image: url(/assets/icons/arrow-left.svg);
    position: relative;
    width: 40px;
    height: 40px;
    background-size: auto;
  }
  .carousel-control-prev {

  }
  .carousel-control-next-icon {
    transform: rotate(180deg) !important;
  }
  .carousel-indicators {
    align-items: center;
    li {
      @include square(8px);
      max-width: 8px;
      border-radius: 50%;
      background-color: #aeaeae;
      margin-left: $spacing-s;
      margin-right: $spacing-s;
      flex-shrink: 0;
      &.active {
        @include square(10px);
        max-width: 10px;
        background-color: $white;
      }
      &:hover {
        background-color: $white;
      }
    }

  }
}
