.card {
  border-radius: $border-radius;
  border: 0;
  margin-bottom: $spacing-ml;
  background-color: $white;
  .card-block {
    padding: $spacing-ml;
  }
  .card-title {
    font-size: $font-size-m;
    color: $blue-grey-1;
    font-weight: $font-weight-chunky;
  }
  &:hover,
  &:focus {
    box-shadow: 0 2px 6px 0 rgba(54, 70, 79, 0.07);
    text-decoration: none;
  }
  .card-img-top {
    border: 4px solid $white;
    border-radius: $border-radius;
  }
}
