@import "../../style/_common.scss";

.menu-icon {
  .open & #MVP {
    fill: $corporate;
  }
  #MVP {
    fill: $grey-300;
  }
}

.report-ban-reason {
  &.selected md-icon {
    g g, path {
      fill: $corporate;
    }

  }
  md-icon g g {
    fill: $grey-800;
  }

}

.modal-close {
  md-icon {
    height: 15px;
    line-height: 30px;
  }
  md-icon path {
    fill: $grey-700;
  }
  &:hover md-icon path {
    fill: $grey-900;
  }
  .modal.bump-confirm & {
    md-icon path {
      fill: $grey-200;
    }
  }
  &.light {
    md-icon path {
      fill: $white;
      opacity: .5;
    }
  }
}

.main-header-chat {
  &.active {
    md-icon svg g g {
      fill: $corporate;
    }
  }
}

.main-search-category-ico {
  svg g g {
    fill: $grey-900;
  }
}

.reviews-list-category-ico {
  svg g g {
    fill: $white;
  }
}

.geo {
  &.active {
    svg g path {
      fill: $corporate;
    }
  }
}

.search-btn {
  md-icon svg path{
    fill: $grey-600
  }
  &:hover {
    md-icon svg path{
      fill: $white;
    }
  }
}

.actions, .bulk-actions {
  button:not(.btn-feature) {
    md-icon svg g g, svg path {
      fill: $grey-500;
    }
    &:hover, &.active {
      md-icon svg g g, svg path {
        fill: $white;
      }
    }
  }
}

.btn-reactivate {
  &:hover {
    md-icon svg g g, svg path {
      fill: $white;
    }
  }
}

.visibility {
  md-icon svg path {
    stroke: $grey-500;
    &#Fill-3 {
      stroke: none;
      fill: $grey-500;
    }
  }
}

.select.selected {
  md-icon svg g g {
    fill: $white;
  }
}
.conv-user {
  .arrow-icon {
    svg path {
      fill: $grey-200;
    }
  }
  &:hover {
    .arrow-icon {
      svg path {
        fill: $corporate;
      }
    }
  }
}

.selector {
  svg {
    @include in-the-middle;
    width: 26px;
    height: 26px;
    g, path {
      fill: $grey-250;
    }
  }
  &.active {
    svg g, svg path {
      fill: $white;
    }
  }
  &:hover:not(.active) {
    svg g, svg path {
      fill: $grey-700;
    }
  }
}

.upload-close-icon {
  &:hover {
    md-icon path {
      fill: $corporate;
    }
  }
}

.main-header-upload {
  &:hover {
    md-icon {
      #fill {
        transition: all 0.2s ease-in-out;
        fill-opacity: 1;
      }
      #plus {
        rect {
          transition: all 0.2s ease-in-out;
          fill: $corporate;
        }
      }
    }
  }
}

.btn-mobile {
  &:hover, &:focus, &:active {
    md-icon {
      path {
        fill: $white;
      }
    }
  }
}
