@import "../../style/_common.scss";

.menu-icon {
  .open & #MVP {
    fill: $corporate;
  }
  #MVP {
    fill: $grey-300;
  }
}

.report-ban-reason {
  &.selected md-icon {
    g g, path {
      fill: $corporate;
    }

  }
  md-icon g g {
    fill: $grey-800;
  }

}

.modal-close {
  md-icon {
    height: 15px;
    line-height: 30px;
  }
  md-icon g g {
    fill: $grey-700;
  }
  &:hover md-icon g g {
    fill: $grey-900;
  }
}

.main-header-chat {
  &.active {
    md-icon svg g g {
      fill: $corporate;
    }
  }
}

.main-search-category-ico {
  svg g g {
    fill: $grey-900;
  }
}

.geo {
  &.active {
    svg g path {
      fill: $corporate;
    }
  }
}

.search-btn {
  md-icon svg path{
    fill: $grey-600
  }
  &:hover {
    md-icon svg path{
      fill: $white;
    }
  }
}
