.dropdown, .dropup {
  .dropdown-toggle {
    cursor: pointer;
    &:after {
      display: none !important;
    }
  }
  .dropdown-menu {
    line-height: normal;
    border-radius: $border-radius;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.07);
    padding: ($spacing /2) 0;
    margin-top: 5px;
    .dropdown-item {
      padding: ($spacing /2) $spacing;
      cursor: pointer;
      &:hover {
        background-color: $corporate;
        color: $white;
      }
    }
  }
}
