@import '~style/common';

.nav {
  &.filters-nav {
    display: inline-block;
    height: 38px;
    line-height: $line-height-xl;
    a {
      display: inline-block;
      font-size: $font-size-xs;
      margin-right: $spacing-ml;
      cursor: pointer;
      height: 100%;
      color: $blue-grey-2;
      text-transform: uppercase;
      font-weight: $font-weight-chunky;
      padding: 0;
      &:hover {
        color: darken($blue-grey-2, 10%);
      }
      &.active {
        color: $walla-main;
        border-bottom: 2px solid $walla-main;
      }
    }
  }
}
