.qc-cmp-ui {
  background-color: $white !important;

  * {
    font-family: $wallie !important;
  }

  .qc-cmp-button {
    background-color: $walla-main;
    border: none;
    font-family: $wallie;
    color: $white;
    padding: 0px 20px;
    border-radius: 22px;
    appearance: none;
    outline: none;
    height: 42px !important;
    text-transform: none !important;
    box-shadow: none;
    letter-spacing: 0px;
    font-weight: normal;

    &:hover {
      background-color: $corporate-dark;
      color: white;
    }

    &.qc-cmp-secondary-button {
      border: 1px solid $walla-main;
      background-color: $white;
      color: $walla-main;
    }

    &.qc-cmp-secondary-button:hover {
      background-color: $walla-main;
      color: $white;
    }
  }

  .qc-cmp-alt-action,
  .qc-cmp-link {
    color: $walla-main !important;
    text-decoration: none;
    margin-top: $spacing-XS;
  }

  .qc-cmp-alt-action:hover,
  .qc-cmp-link:hover {
    color: $corporate-dark;
  }

  .qc-cmp-toggle {
    height: 22px;
    width: 36px;
    transition: .4s;
    border: none;
    background-color: $walla-main;

    &.qc-cmp-toggle-off {
      background-color: $blue-grey-5;

      &:hover {
        background-color: $blue-grey-4;
      }
    }

    &.qc-cmp-toggle-on {
      .qc-cmp-toggle-switch{
        right: 4px;
      }
    }

    .qc-cmp-toggle-switch {
      top: 3px;
      right: 16px;
      width: 16px;
      height: 16px;
    }
  }

  .qc-cmp-main-messaging,
  .qc-cmp-messaging,
  .qc-cmp-beta-messaging,
  .qc-cmp-title,
  .qc-cmp-sub-title,
  .qc-cmp-purpose-info,
  .qc-cmp-table,
  .qc-cmp-vendor-list,
  .qc-cmp-vendor-list-title {
    color: $blue-grey-1 ;
  }
  .qc-cmp-toggle-status{
    color: $blue-grey-2 ;
    font-weight: normal;
  }

  .qc-cmp-title,
  .qc-cmp-sub-title,
  .qc-cmp-vendor-list-title {
    font-family: $wallie !important;
  }

  .qc-cmp-scrolling-section {
    border: thin solid $blue-grey-5 !important;
  }
  .qc-cmp-table {
    .qc-cmp-table-header {
      color: $blue-grey-2;
      background-color: $white;
      border-color: $blue-grey-5;
    }
    .qc-cmp-table-row {
      background-color: $white;
      border-color: $blue-grey-5;
    }
    .qc-cmp-purpose-description {
      line-height: initial;
    }
  }
}

.qc-cmp-consent-content {
  .qc-cmp-back {
    margin-left: 0;

    &:before {
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='#13c1ac' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M2 5l6 6 6-6'/%3E%3C/svg%3E") 50% no-repeat
    }
  }

  .qc-cmp-alt-action {
    margin-left: 0;
  }
}

// Privacy
.qc-change-consent-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.qc-change-consent-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-S;
  background-color: $white;
  border: thin solid $walla-main;
  padding: 0 $spacing !important;
  height: 42px;
  color: $walla-main !important;
  text-decoration: none;
  cursor: pointer;
  line-height: $spacing-L;
  border-radius: 22px;

  &:hover {
    background-color: $walla-main;
    text-decoration: none !important;
    color: $white !important;
  }
  &:focus {
    background-color: $corporate-dark;
    text-decoration: none;
    color: $white !important;
  }
}
