.modal.report {
  .scroll {
    height: 400px;
    overflow-y: auto;
    padding: $spacing-ms;
  }
  .modal-content {
    .modal-body {
      padding: $spacing-ml $spacing-xxxl;
    }
  }

  h1 {
    font-size: $font-size-L;
    color: $grey-800;
    margin-bottom: $spacing-xl;
  }

  .report-ban-reason {
    position: relative;
    cursor: pointer;
    margin-bottom: $spacing-ml;
    .ban-reason-icon-container {
      @include square(60px);
      position: relative;
      border: 1px solid $grey-50;
      border-radius: 50%;
      cursor: pointer;
    }
    mat-icon {
      @include square(28px);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      /deep/ g g {
        fill: $grey-800;
      }
    }
    .label {
      font-size: $font-size;
      color: $grey-700;
    }
    &:hover .ban-reason-icon-container {
      border-color: $grey-100;
    }
    &.selected {
      .ban-reason-icon-container {
        border: 2px solid $corporate;
      }
      .label {
        color: $corporate;
        font-weight: bold;
      }
      mat-icon /deep/ {
        g g, path {
          fill: $corporate;
        }
      }
    }
  }

  .report-listing-textarea {
    width: 100%;
    padding: $spacing-ms $spacing-m;
    border: 1px solid $grey-50;
    border-radius: 10px;
    min-height: 120px;
    margin-top: $spacing-ml;
    &::-webkit-input-placeholder {
      color: $grey-200;
    }
  }

  tsl-button {
    margin-top: $spacing-ml;
  }
}
