.upload-page {

  h1 {
    .upload-close-icon {
      float: right;
      md-icon {
        @include square(12px);
      }
    }
  }

  .box {
    border-radius: $border-radius;
    background-color: $white;
    border: solid 1px $grey-50;
    padding: $spacing;
    margin-bottom: $spacing;
    h2 {
      font-weight: bold;
      text-transform: uppercase;
      color: $corporate;
      font-size: $font-size-S;
      margin-bottom: $spacing;
    }
    p {
      color: $grey-500;
      font-size: $font-size-S;
      line-height: 1.29;
    }
  }

  .chars-counter {
    font-size: $font-size-XS;
    color: $grey-200;
    float: right;
    margin-top: $spacing-XXS;
  }

  .selector-container {
    margin: 5px 0 $spacing-L;
    &.terms-options {
      margin-bottom: 23px;
    }
    h3 {
      font-size: $font-size-S;
      color: $grey-500;
    }
    .selector {
      background-color: $grey-50;
      border-radius: $border-radius;
      display: inline-block;
      @include square($spacing-XL);
      margin-right: $spacing;
      line-height: $spacing-XL;
      position: relative;
      text-align: center;
      white-space: normal;
      &.btn {
        padding: 0;
        border-radius: $border-radius !important;
        &:focus, &.focus {
          box-shadow: none;
        }
      }
      span {
        display: block;
        text-transform: uppercase;
        color: $grey-300;
        font-weight: bold;
        font-size: 9px;
        letter-spacing: .4px;
        line-height: $font-size-S;
        margin-top: $spacing-XXS;
      }
      &.active {
        background-color: $corporate;
        span {
          color: $corporate;
        }
      }
      &:hover:not(.active) {
        cursor: pointer;
        span {
          color: $grey-700;
        }
      }
      md-icon {
        height: 26px;
        width: 26px;
      }
    }
    &.shipping-options {
      h2 {
        margin-bottom: $spacing-S;
      }
      .selector {
        margin-left: 10px;
        margin-right: 40px;
        md-icon, svg {
          width: 30px;
          height: 34px;
        }
        span {
          text-transform: none;
          font-weight: normal;
          font-size: $font-size-XS;
          letter-spacing: .6px;
          line-height: 17px;
          margin-left: -10px;
          margin-right: -10px;
          margin-top: 0;
          strong {
            font-weight: bold;
          }
        }
      }
    }
  }

  .btn-primary {
    padding: 14px 50px;
    margin-bottom: 65px;
    margin-top: $spacing-L - $spacing;
  }
}
