.upload-page {

  .box, .main-box {
    border-radius: $border-radius;
    background-color: $white;
    border: solid 1px $grey-50;
    padding: $spacing;
    margin-bottom: $spacing;
    h2 {
      font-weight: bold;
      text-transform: uppercase;
      color: $corporate;
      font-size: $font-size-S;
      margin-bottom: $spacing;
    }
    p {
      color: $grey-500;
      font-size: $font-size-S;
      line-height: 1.29;
    }
    &.urgent {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .content {
        flex-basis: 70%;
      }
      .urgent-background {
        width: 108px;
        background: url(/assets/images/urgent-background.svg) no-repeat;
        background-size: 105px;
        opacity: 0.3;
      }
    }
  }

  .selector-container {
    margin: 5px 0 $spacing-L;
    &.terms-options {
      margin-bottom: 23px;
    }
    h3 {
      font-size: $font-size-S;
      color: $grey-500;
    }
    .selector {
      background-color: $grey-50;
      border-radius: $border-radius;
      display: inline-block;
      @include square($spacing-XL);
      margin-right: $spacing-S;
      line-height: $spacing-XL;
      position: relative;
      text-align: center;
      white-space: normal;
      &.btn {
        padding: 0;
        border-radius: $border-radius !important;
        &:focus, &.focus {
          box-shadow: none;
        }
        [ngbButton] {
          display: none;
        }
      }
      span {
        display: block;
        text-transform: uppercase;
        color: $grey-300;
        font-weight: bold;
        font-size: 9px;
        letter-spacing: .4px;
        line-height: $font-size-S;
        margin-top: $spacing-XXS;
      }
      mat-icon {
        height: 26px;
        width: 26px;
        /deep/ svg {
          @include in-the-middle;
          width: 26px;
          height: 26px;
          g, path {
            fill: $grey-250;
          }
        }
      }
      &.active {
        background-color: $corporate;
        span {
          color: $corporate;
        }
        mat-icon {
          /deep/ {
            svg g, svg path {
              fill: $white;
            }
          }
        }
      }
      &:hover:not(.active) {
        cursor: pointer;
        span {
          color: $grey-700;
        }
        mat-icon {
          /deep/ {
            svg g, svg path {
              fill: $grey-700;
            }
          }
        }
      }
    }
    &.shipping-options {
      margin-bottom: 15px;
      h2 {
        margin-bottom: $spacing-S;
      }
      .selector {
        margin-left: 10px;
        margin-right: 40px;
        mat-icon, svg {
          width: 30px;
          height: 34px;
        }
        span {
          text-transform: none;
          font-weight: normal;
          font-size: $font-size-XS;
          letter-spacing: .6px;
          line-height: 17px;
          margin-left: -10px;
          margin-right: -10px;
          margin-top: 0;
          strong {
            font-weight: bold;
          }
        }
      }
    }
  }

  .btn-primary, .btn-link {
    padding: 14px 50px;
    margin-bottom: 65px;
    margin-top: $spacing-L - $spacing;
  }
  .btn-link {
    color: $corporate;
    &[disabled] {
      opacity: .5;
    }
    &:focus {
      box-shadow: none;
    }
  }
  $checkbox-width: 24px;
  $transition: all .5s ease;
  $feature-button-width: 170px;

  .checkbox {
    transition: $transition;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .resized & {
      width: $checkbox-width;
      opacity: 1;
    }
    span {
      color: $grey-500;
      &.selected {
        color: $color-urgent;
      }
    }
    .select {
      @include square($checkbox-width);
      border: 2px solid $grey-100;
      border-radius: 6px;
      padding: 0;
      background: transparent;
      margin-right: $spacing-S;
      cursor: pointer;
      display: flex;
      justify-content: center;
      mat-icon {
        display: none;
        height: 9px;
        width: 12px;
      }
      &.selected {
        background: $color-urgent;
        border-color: transparent;
        mat-icon {
          display: flex;
          /deep/ path {
            fill: $white;
          }
        }
      }
      &:hover {
        border-color: $color-urgent;
      }
    }
  }
}
