.upload-page {
  .box,
  .main-box {
    border-radius: $border-radius;
    background-color: $white;
    border: solid 1px $blue-grey-5;
    padding: $spacing-ml;
    margin-bottom: $spacing-ml;
    h2 {
      font-weight: $font-weight-chunky;
      text-transform: uppercase;
      color: $walla-main;
      font-size: $font-size-s;
      margin-bottom: $spacing-ml;
    }
    p {
      color: $blue-grey-2;
      font-size: $font-size-s;
      line-height: $line-height-ml;
    }
    &.urgent {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .content {
        flex-basis: 70%;
      }
      .urgent-background {
        width: 108px;
        background: url(/assets/images/urgent-background.svg) no-repeat;
        background-size: 105px;
        opacity: 0.3;
        &.active {
          opacity: 1;
        }
      }
    }
  }

  .selector-container {
    &.terms-options {
      margin-bottom: $spacing-l;
    }
    &.features-options {
      label:not(.selector) {
        display: block;
      }
    }
    h3 {
      font-size: $font-size-s;
      color: $blue-grey-2;
    }
    .selector {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      background-color: $blue-grey-5;
      border-radius: $border-radius;
      @include square(60px);
      margin-right: $spacing-ms;
      position: relative;
      text-align: center;
      white-space: normal;
      margin-bottom: 0;
      &.btn {
        padding: 0;
        border-radius: $border-radius !important;
        &:focus,
        &.focus {
          box-shadow: none;
        }
        [ngbButton] {
          position: absolute;
          clip: rect(0, 0, 0, 0);
          pointer-events: none;
        }
      }
      span {
        display: block;
        position: absolute;
        top: 100%;
        text-transform: uppercase;
        color: $blue-grey-2;
        font-weight: $font-weight-chunky;
        font-size: $font-size-xxs;
        letter-spacing: 0.4px;
        line-height: $line-height-m;
        margin-top: $spacing-xs;
      }
      mat-icon {
        height: 26px;
        width: 26px;
        @include in-the-middle;
        /deep/ svg {
          g,
          path {
            fill: $blue-grey-3;
          }
        }
      }
      &.active {
        background-color: $walla-main;
        span {
          color: $walla-main;
        }
        mat-icon {
          /deep/ {
            svg g,
            svg path {
              fill: $white;
            }
          }
        }
      }
      &:hover:not(.active) {
        cursor: pointer;
        span {
          color: $blue-grey-2;
        }
        mat-icon {
          /deep/ {
            svg g,
            svg path {
              fill: $blue-grey-2;
            }
          }
        }
      }
      &:last-of-type {
        margin-right: 0 !important;
      }
      input[type="checkbox"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none;
      }
    }
    .ng-dirty.ng-invalid {
      .selector {
        border: 1px solid $negative-main;
        span {
          color: $negative-main;
        }
      }
    }
    &.shipping-options {
      h2 {
        margin-bottom: $spacing-ms;
      }
      .selector {
        cursor: pointer;
        mat-icon,
        svg {
          width: 48px;
          height: 48px;
        }
      }
      .delivery-weight {
        font-weight: bold;
        font-size: $font-size-xs;
        line-height: $line-height-m;
        width: calc(100% + 24px);
        margin-top: 0;
        display: inline-block;
        color: $blue-grey-2;
      }
    }
  }

  .real-estate-form {
    .selector-container {
      .selector {
        margin-right: $spacing-ml;
        line-height: $line-height-xl;
        mat-icon {
          @include square(48px);
          margin-top: $spacing-xs;
          /deep/ svg {
            @include square(48px);
          }
        }
        span {
          margin: 0;
        }
      }
    }
  }

  .btn-primary,
  .btn-link {
    padding: $spacing-m $spacing-xxl;
    margin-bottom: $spacing-xxxl;
    margin-top: $spacing-xl - $spacing-ml;
  }
  .btn-link {
    color: $walla-main;
    &[disabled] {
      opacity: 0.5;
    }
    &:focus {
      box-shadow: none;
    }
  }
  $checkbox-width: 24px;
  $transition: all 0.5s ease;
  $feature-button-width: 170px;

  .checkbox {
    transition: $transition;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .resized & {
      width: $checkbox-width;
      opacity: 1;
    }
    span {
      color: $blue-grey-2;
      cursor: pointer;
      &.selected {
        color: $yellow-dark;
      }
    }
    .select {
      @include square($checkbox-width);
      border: 2px solid $blue-grey-4;
      border-radius: 6px;
      padding: 0;
      background: transparent;
      margin-right: $spacing-ms;
      cursor: pointer;
      display: flex;
      justify-content: center;
      mat-icon {
        display: none;
        height: 9px;
        width: 12px;
      }
      &.selected {
        background: $yellow-dark;
        border-color: transparent;
        mat-icon {
          display: flex;
          /deep/ path {
            fill: $white;
          }
        }
      }
      &:hover {
        border-color: $yellow-dark;
      }
    }
    &.checkbox-corporate {
      .select {
        &.selected {
          background: $walla-main;
          mat-icon {
            display: block;
          }
        }
        &:hover {
          border-color: $walla-main;
        }
      }
    }
    input[type="checkbox"] {
      position: absolute;
      clip: rect(0, 0, 0, 0);
      pointer-events: none;
    }
  }
}
