.upload-page {
  .box,
  .main-box {
    border-radius: $border-radius;
    background-color: $white;
    border: solid 1px $blue-grey-5;
    padding: $spacing-ml;
    margin-bottom: $spacing-ml;
    h2 {
      font-weight: $font-weight-chunky;
      text-transform: uppercase;
      color: $walla-main;
      font-size: $font-size-s;
      margin-bottom: $spacing-ml;
    }
    p {
      color: $blue-grey-2;
      font-size: $font-size-s;
      line-height: $line-height-ml;
    }

    &.urgent {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .content {
        flex-basis: 70%;
      }
      .urgent-background {
        width: 108px;
        background: url(/assets/images/urgent-background.svg) no-repeat;
        background-size: 105px;
        opacity: 0.3;
        &.active {
          opacity: 1;
        }
      }
    }
  }

  .selector-title {
    font-size: $font-size-s;
    color: $blue-grey-2;
  }

  .selector-container {
    margin: 0 -#{$spacing-s};
    .selector {
      padding: 0 $spacing-s;
      margin: 0;
      max-width: 80px;
      .selector-icon {
        background-color: $blue-grey-5;
        border-radius: $border-radius;
        @include square(60px);
        position: relative;
        text-align: center;
        white-space: normal;
      }
      &.btn {
        border-radius: $border-radius !important;
        &:focus,
        &.focus {
          box-shadow: none;
        }
        [ngbButton] {
          position: absolute;
          clip: rect(0, 0, 0, 0);
          pointer-events: none;
        }
      }
      .selector-text {
        display: block;
        color: $blue-grey-2;
        font-weight: $font-weight-chunky;
        font-size: $font-size-xxs;
        line-height: $line-height-m;
        margin-top: $spacing-xs;
        text-align: center;
        &--uppercase {
          text-transform: uppercase;
        }
      }
      tsl-svg-icon {
        height: 48px;
        width: 48px;
        @include in-the-middle;
        ::ng-deep svg {
          g,
          path {
            fill: $blue-grey-3;
          }
        }
      }
      &--cars {
        tsl-svg-icon {
          height: 26px;
          width: 26px;
        }
      }
      &.active {
        .selector-icon {
          background-color: $walla-main;
          tsl-svg-icon {
            svg g,
            svg path {
              fill: $white !important;
            }
          }
        }
        span {
          color: $walla-main;
        }
      }
      &:hover:not(.active) {
        cursor: pointer;
        span {
          color: $blue-grey-2;
        }
        tsl-svg-icon {
          ::ng-deep {
            svg g,
            svg path {
              fill: $blue-grey-2;
            }
          }
        }
      }
      input[type='checkbox'] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none;
      }
      @include media-breakpoint-down(sm) {
        &.shipping-selector {
          width: calc(100% / 5);
          padding: 0;
          .selector-icon {
            background-color: $white;
          }
          &.active {
            .selector-icon {
              background-color: $white;
              tsl-svg-icon {
                svg g,
                svg path {
                  fill: $walla-main !important;
                }
              }
            }
          }
        }
      }
    }
  }

  .btn-primary,
  .btn-link {
    padding: $spacing-m $spacing-xxl;
    margin-bottom: $spacing-xxxl;
    margin-top: $spacing-xl - $spacing-ml;
  }
  .btn-link {
    color: $walla-main;
    &[disabled] {
      opacity: 0.5;
    }
    &:focus {
      box-shadow: none;
    }
  }
  $checkbox-width: 24px;
  $transition: all 0.5s ease;
  $feature-button-width: 170px;

  .checkbox {
    transition: $transition;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .resized & {
      width: $checkbox-width;
      opacity: 1;
    }
    span {
      color: $blue-grey-2;
      cursor: pointer;
      &.selected {
        color: $yellow-dark;
      }
    }
    .select {
      @include square($checkbox-width);
      border: 2px solid $blue-grey-4;
      border-radius: 6px;
      padding: 0;
      background: transparent;
      margin-right: $spacing-ms;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      tsl-svg-icon {
        display: none;
      }
      &.selected {
        background: $yellow-dark;
        border-color: transparent;
        tsl-svg-icon {
          display: flex;
          svg g g {
            fill: $white;
          }
        }
      }
      &:hover {
        border-color: $yellow-dark;
      }
    }
    &.checkbox-corporate {
      .select {
        &.selected {
          background: $walla-main;
        }
        &:hover {
          border-color: $walla-main;
        }
      }
    }
    input[type='checkbox'] {
      position: absolute;
      clip: rect(0, 0, 0, 0);
      pointer-events: none;
    }
  }
}

form {
  &.ng-pending {
    input,
    textarea {
      &.ng-invalid {
        border: 1px solid $negative-main !important;
      }
    }
    tsl-dropdown.ng-invalid > .Dropdown > div {
      border: 1px solid $negative-main !important;
    }
    .photo-wrapper:first-of-type .product-photo {
      border-color: $negative-main !important;
      background-image: url('/assets/icons/camera-red.svg') !important;
    }
    .input-radio.ng-invalid input {
      border: 1px solid $negative-main !important;
    }

    .ng-invalid {
      .error {
        color: $negative-main;
      }
    }
  }

  &.disabled {
    .form-control:disabled {
      cursor: auto;
      border: 0;
    }
  }
}
