@import '~style/common';

$bars-height: 70px;
$content-z-index: 11;
$bars-z-index: $content-z-index + 1;

.SelectFilterTemplate {
  position: absolute;
  background: $white;
  overflow: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;

  &__toolbar,
  &__bottombar {
    position: sticky;
    height: $bars-height;
    z-index: $bars-z-index;
    background-color: $white;
    right: 0;
    left: 0;
  }

  &__toolbar {
    top: 0;
  }

  &__bottombar {
    bottom: 0;
  }

  &__title {
    font-weight: bold;
  }

  &__back_icon {
    cursor: pointer;
    align-self: center;
    position: absolute;
    left: 0;
  }

  &--warning {
    color: $brand-danger;
  }
}
