@import "~style/common";

.item {
  background: $white;
  border-radius: $border-radius;
  border: solid 1px $grey-50;
  margin-bottom: $spacing-XS;
  padding: $spacing-XXS;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title {
    @include text-truncate();
    padding-right: $spacing-S;
    flex: 1;
    max-width: 98px;

  }
  &.provincial-bump {
    .title {
      max-width: 274px;
    }
  }
  .border-l {
    position: relative;
    display: flex;
    align-self: stretch;
    align-items: center;
    &:before {
      content: '';
      height: 60px;
      width: 1px;
      background-color: $grey-50;
      position: absolute;
      top: 11px;
      left: 0;
    }
  }
  .durations {
    flex: 0 0 110px;
    padding-left: $spacing;
    label {
      display: block;
      font-size: $font-size-xs;
      color: $grey-250;
      margin: 6px 0;
      &.btn {
        border: 0;
        background: none;
        padding: 0;
        border-radius: 0;
        text-align: left;
      }
      &.active {
        color: $grey-900;
        font-weight: bold;
      }
    }
  }
  .price {
    flex: 0 0 $duration-table-col-width-md;
    padding: 0 $spacing;
    @include media-breakpoint-up(xl) {
      flex: 0 0 $duration-table-col-width;
    }
    .btn-price {
      background-color: $grey-50;
      border-radius: $button-border-radius;
      font-size: $font-size-m;
      text-align: center;
      width: 100%;
      color: $grey-900;
      font-weight: bold;
      s {
        font-weight: normal;
        color: $grey-250;
      }
      &:hover, &.selected {
        color: $white;
        tsl-wallacoin {
          /deep/ svg path {
            fill: $white;
          }
        }
        s {
          color: $grey-100;
          tsl-wallacoin {
            /deep/ svg path {
              fill: $grey-100;
            }
          }
        }

      }
      &.selected {
        box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        font-weight: bold;
      }
    }
    &.zonebump {
      .btn-price {
        &:hover {
          background-color: $zone-bump;
        }
        &.selected {
          background-color: $zone-bump-dark;
        }
      }
    }
    &.citybump {
      .btn-price {
        &:hover {
          background-color: $city-bump;
        }
        &.selected {
          background-color: $city-bump-dark;
        }
      }
    }
    &.countrybump {
      margin-right: -$spacing-XXS;
      .btn-price {
        &:hover {
          background-color: $country-bump;
        }
        &.selected {
          background-color: $country-bump-dark;
        }
      }
    }

    .not-available {
      text-align: center;
      width: 100%;
    }
  }
}
