<div class="row">
  <div class="col-3">
    <tsl-item-avatar [item]="itemWithProducts.item" size="big" fallbackLight="true"></tsl-item-avatar>
    <label><input type="radio" [(ngModel)]="duration" value="24" /> <span i18n>2 days</span></label>
    <label><input type="radio" [(ngModel)]="duration" value="72" /> <span i18n>7 days</span></label>
    <label><input type="radio" [(ngModel)]="duration" value="168" /> <span i18n>15 days</span></label>
  </div>
  <div class="col-3" *ngFor="let type of types">
    <button class="btn">{{itemWithProducts.products[duration][type]?.market_code}}</button>
  </div>
</div>
