<div class="row">
  <form class="col-3" [formGroup]="durationForm">
    <tsl-item-avatar [item]="itemWithProducts.item" size="big" fallbackLight="true"></tsl-item-avatar>
    <div ngbRadioGroup name="radioBasic" formControlName="duration">
      <label ngbButtonLabel *ngFor="let duration of durations">
        <input ngbButton type="radio" [value]="duration"> <span i18n>{{duration / 24}} days</span>
      </label>
    </div>
  </form>
  <div class="col-3" *ngFor="let type of types">
    <button class="btn">{{itemWithProducts.products[durationForm.value.duration][type]?.market_code}}</button>
  </div>
</div>
