<div class="item" [ngClass]="{'active': open}">
  <div class="row" (click)="changeExpandedState()">
    <div class="col-6 col-item-title">
      <a 
      tslItemRoute
      [itemSlug]="item.webSlug"
      [itemUUID]="item.id" class="image"><tsl-item-avatar [item]="item" size="medium" fallbackLight="true"></tsl-item-avatar></a>
      <div class="price">{{item.salePrice | customCurrency}}</div>
      <div class="title">{{item.title}}</div>
    </div>
    <div class="col-2 col-date">
      <span>{{item.publishedDate | date:publishedItemDateFormat}}</span>
    </div>
    <div class="col-1 col-counters">
      <div class="counters" ngbTooltip="{{tooltipMessages.views}}"  placement="top">
        <tsl-svg-icon src="/assets/icons/views.svg"></tsl-svg-icon>
        <span>{{item.views || 0}}</span>
      </div>
    </div>
    <div class="col-1 col-counters">
      <div class="counters" ngbTooltip="{{tooltipMessages.chats}}"  placement="top">
        <tsl-svg-icon src="/assets/icons/ico-message.svg"></tsl-svg-icon>
        <span>{{item.conversations || 0}}</span>
      </div>
    </div>
    <div class="col-1 col-counters">
      <div class="counters" ngbTooltip="{{tooltipMessages.favourites}}"  placement="top">
        <tsl-svg-icon src="/assets/icons/heart.svg"></tsl-svg-icon>
        <span>{{item.favorites || 0}}</span>
      </div>
    </div>
    <div class="col-1 col-arrow">
      <tsl-svg-icon src="/assets/icons/caret.svg"></tsl-svg-icon>
    </div>
  </div>
  <div class="stats-expanded" [@collapse]="!open">
    <div class="graphs-container" *ngIf="statsData">
      <div class="charts-box">
        <div class="header">
          <h2 i18n="@@web_stats_components_item_row_337">Weekly stats</h2>
          <div class="legend">
            <ul>
              <li class="views" i18n="@@web_stats_components_item_row_338">Views</li>
              <li class="chats" i18n="@@web_stats_components_item_row_339">Chats</li>
              <li class="favorites" i18n="@@web_stats_components_item_row_589">Favorites</li>
              <li class="featured" i18n="@@web_stats_components_item_row_656">Featured</li>
            </ul>
          </div>
        </div>
        <div class="charts">
          <tsl-item-stats-graph [item]="item" [statsData]="statsData" *ngIf="!noData"></tsl-item-stats-graph>
          <tsl-item-stats-graph [item]="item" [statsData]="statsData" *ngIf="!noData" type="favs"></tsl-item-stats-graph>
          <p class="no-data" *ngIf="noData" i18n="@@web_stats_components_item_row_340">No data available for this product yet</p>
        </div>
      </div>
    </div>
    <div class="graphs-container graph-info" *ngIf="!item.featured && !item.flags.expired && !item.flags.onhold">
      <ng-container *ngxPermissionsOnly="PERMISSIONS.bumps">
      <h2 i18n="@@web_stats_components_item_row_341">Get your listing in shape</h2>
      <p class="note" i18n="@@web_stats_components_item_row_342">Improve the stats of your listing. The more visits you get, the more you sell!</p>
      <tsl-button className="btn-primary btn-block" *ngIf="price" [routerLink]="[BUMP_PATH, {itemId: item.id}]" i18n="@@web_stats_components_item_row_343">Feature it now from {{price | customCurrency}}</tsl-button>
      </ng-container>
    </div>
    <div class="graphs-container graph-info reactivate" *ngIf="item.flags.expired">
      <h2 i18n="@@web_stats_components_item_row_344">Reactivate your product</h2>
      <p class="note" i18n="@@web_stats_components_item_row_345">Reactivate your product to see your stats and so that other users can contact you.</p>
    </div>
    <div class="graphs-container graph-info reactivate" *ngIf="item.flags.onhold">
      <h2 i18n="@@web_stats_components_item_row_346">Publish your product</h2>
      <p class="note" i18n="@@web_stats_components_item_row_347">Publish your product to see your stats and so that other users can contact you.</p>
    </div>
    <div class="graphs-container graph-info" *ngIf="item.featured">
      <ng-container *ngxPermissionsOnly="PERMISSIONS.bumps">
      <h2 i18n="@@web_stats_components_item_row_348">This product is Featured</h2>
      <p class="note" i18n="@@web_stats_components_item_row_349">You will get more views, chats and more interested people.</p>
      <p class="bump-note" i18n="@@web_stats_components_item_row_350">Your feature ends on {{item.bumpExpiringDate | date:publishedItemDateFormat}}</p>
      </ng-container>
    </div>
  </div>
</div>
