@import "~style/common";

:host {
  display: block;
}

a.user-info {
  &.faded {
    .card-block, .avatar-block {
      opacity: 0.5;
    }
  }

  &.device-small .card-block {
    .card-title {
      margin-bottom: $spacing-xs;
      font-weight: normal;
    }

    tsl-stars {
      margin-bottom: $spacing-xxs;
    }

    .user-location-distance, .user-response-rate {
      margin-bottom: $spacing-xs;
      color: $blue-grey-2;
      font-weight: normal;
      mat-icon {
        float: left;
        fill: #B0BEC5;
        margin: 1px $spacing-xs 0 0;
        height: $font-size-m;
        width: $font-size-m;
      }
    }
  }

  color: $blue-grey-1;
  display: flex;
  flex-direction: row;
  width: 100%;
  text-decoration: none;

  &.calls-panel {
    padding: 0;
    margin: 0;
    background: transparent;
  }

  .card-block {
    width: 100%;
    text-align: left;
    padding: $spacing-ms 0;
    margin: 0;

    h5 {
      font-family: $wallie;
      font-weight: 500;
      font-size: $font-size-m;
    }

    .card-title {
      margin-bottom: $spacing-s;
      line-height: $line-height-m;
      margin-top: -$spacing-s;
    }

    .call-wrapper {
      margin-top: $spacing-xs;

      .call-shared {
        position: absolute;
      }

      .phone-number {
        margin-left: $spacing-l;
        font-weight: $font-weight-skinny;
      }
    }

    .user-location-distance {
      text-align: left;
      font-weight: $font-weight-skinny;
    }
  }

  .avatar-block {
    position: relative;

    .status-block {
      position: absolute;
      height: $font-size-m;
      width: $font-size-m;

      &.status-block-40 {
        top: $spacing-xl;
        right: $spacing-ms;
      }

      &.status-block-50 {
        top: 40px;
        right: $spacing-ms;
      }
    }
  }
}

.response-rate {
  text-align: left;
  font-weight: $font-weight-skinny;
}

a.card.user-info, {
  .card-block, .card-block.expanded {
    padding: $spacing-ms 0;
    margin: 0;
  }
}

tsl-user-avatar {
  margin-top: $spacing-s;
  margin-right: $spacing-ms;
}
