@import "~style/common";

:host {
  display: block;
}

a.user-info {
  &.faded {
    .card-block, .avatar-block {
      opacity: 0.5;
    }
  }

  color: $blue-grey-1;
  display: flex;
  flex-direction: row;
  width: 100%;
  text-decoration: none;

  &.calls-panel {
    padding: 0;
    margin: 0;
    background: transparent;
  }

  .card-block {
    width: 100%;
    text-align: left;
    padding: $spacing-ms 0;
    margin: 0;

    h5 {
      font-family: $wallie;
      font-weight: 500;
      font-size: $font-size-m;
    }

    .card-title {
      margin-bottom: $spacing-s;
      line-height: $line-height-m;
      margin-top: -$spacing-s;
    }

    .call-wrapper {
      margin-top: $spacing-xs;

      .call-shared {
        position: absolute;
      }

      .phone-number {
        margin-left: $spacing-l;
        font-weight: $font-weight-skinny;
      }
    }

    .user-location-distance {
      text-align: left;
      font-weight: $font-weight-skinny;
    }
  }

  .avatar-block {
    tsl-status-icon {
      position: absolute;
      top: $line-height-xxl;
      right: 36px;
    }
  }
}

.response-rate {
  text-align: left;
  font-weight: $font-weight-skinny;
}

a.card.user-info, {
  .card-block, .card-block.expanded {
    padding: $spacing-ms 0;
    margin: 0;
  }
}

tsl-user-avatar {
  margin-top: $spacing-s;
  margin-right: $spacing-ms;
}
