@import '~style/common';

$spinner-size: 24px;

#loader-wrapper {
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  #loader {
    text-align: center;
    align-self: center;
    .spinner {
      @include square($spinner-size);
      margin-bottom: $spacing-ml;
    }
    h2 {
      font-size: $font-size-m;
      color: $blue-grey-2;
      line-height: $line-height-l;
    }
  }
}
