<div class="SubscriptionEdit">
    <div class="GenericCard">
        <div class="d-flex justify-content-between">
            <span class="GenericCard__title" i18n="@@web_wallapop_pro_subscription_title">Boost your online business with
                Wallapop PRO</span>
            <span class="GenericCard__link text-right d-md-inline d-none" i18n="@@web_change_subscription"
                (click)="onChageSubscription()">Change
                subscription</span>
        </div>
        <div class="GenericCard__subtitle" i18n="@@web_wallapop_pro_subscription_sub_title">Choose a subscription to take your
            sales to the next level</div>
        <tsl-subscription-purchase-header [subscription]="subscription" [benefits]="benefits"> </tsl-subscription-purchase-header>
        <div class="GenericCard__link d-md-none mt-3" i18n="@@web_change_subscription"
        (click)="onChageSubscription()">Change
        subscription</div>
    </div>
    <div *ngIf="subscription.tiers.length > 1" class="GenericCard">
        <div class="GenericCard__title" i18n="@@web_tier_selector_title">How many items you want to list?</div>
        <tsl-subscription-tier-selector [subscription]="subscription" [tierList]="[subscribedTier]"> </tsl-subscription-tier-selector>
        <div class="GenericCard__title mt-4" i18n="@@web_tier_selector_title">How many items you want to list?</div>
            <tsl-subscription-tier-selector [subscription]="subscription" [tierList]="availableTiers" [selectedTier]="selectedTier"
                (changeSelectedTier)="onSelectedTierChanged($event)"> </tsl-subscription-tier-selector>
    </div>
</div>
<tsl-subscription-purchase-footer [selectedTier]="selectedTier" [buttonDisable]="isLoading || isEqualTier"
    [isLoading]="isLoading" [subscription]="subscription" (buttonPurchaseClick)="onPurchaseButtonClick()">
</tsl-subscription-purchase-footer>