<div
  *ngIf="notification"
  tslsanitizedBackground="{{ notification.image }}"
  class="NotificationImage"
  [ngClass]="
    notification.variant === NOTIFICATION_VARIANT.PRODUCT ||
    notification.variant === NOTIFICATION_VARIANT.PINNED ||
    notification.variant === NOTIFICATION_VARIANT.HIGHLIGHTED
      ? 'NotificationImage--rounded'
      : 'NotificationImage--circle'
  "
>
  <div
    *ngIf="notification.productStatus"
    [ngSwitch]="notification.productStatus"
    class="NotificationImage__badge d-flex justify-content-center align-items-center"
  >
    <tsl-svg-icon
      class="ItemCard__icon ItemCard__icon--left ItemCard__icon--small position-absolute d-flex justify-content-center align-items-center"
      *ngSwitchCase="NOTIFICATION_PRODUCT_STATUS.RESERVED"
      src="/assets/icons/item-card/reserved.svg"
    ></tsl-svg-icon>
    <tsl-svg-icon
      class="
        ItemCard__icon ItemCard__icon--left ItemCard__icon--small
        position-absolute
        d-flex
        justify-content-center
        align-items-center
        sold
      "
      *ngSwitchCase="NOTIFICATION_PRODUCT_STATUS.SOLD"
      src="/assets/icons/item-card/sold.svg"
    ></tsl-svg-icon>
    <tsl-svg-icon
      class="ItemCard__icon ItemCard__icon--left ItemCard__icon--small position-absolute d-flex justify-content-center align-items-center"
      *ngSwitchCase="NOTIFICATION_PRODUCT_STATUS.LOWERED"
      src="/assets/icons/save_money.svg"
    ></tsl-svg-icon>
  </div>
</div>
