<div class="page-content">
  <div class="container">
    <tsl-spinner [firstLoad]="false" [hidden]="!loading"></tsl-spinner>
    <div [hidden]="loading">
      <tsl-header>
        <div class="row mb-3">
          <div class="col-11">
            <div class="header-row">
              <h1 class="header-title">
                <span [hidden]="withCoins" i18n>Credit</span>
                <span [hidden]="!withCoins">Wallacoins</span>
              </h1>
            </div>
            <div class="header-row header-row--margin">
              <h4 class="header-subtitle">
                <span [hidden]="withCoins" i18n>Buy saving packs to feature your items and check your credit remaining.</span>
                <span [hidden]="!withCoins" i18n>Wallacoins make it easy for you to buy features. From here you can buy them and see your credit.</span>
              </h4>
            </div>
          </div>
          <div class="col-1">
            <div class="total-credits" [hidden]="!withCoins">
              <div class="credits">{{wallacoins | number}}</div>
              <div class="label">{{currencyName}}</div>
            </div>
            <div class="total-credits" [hidden]="withCoins">
              <div class="credits">{{wallacoins | customCurrency}}</div>
              <div class="label" i18n>credit</div>
            </div>
          </div>
        </div>
      </tsl-header>
      <div class="box">
        <div class="box-content">
          <h2 [hidden]="!withCoins">1€ = {{factor}} {{currencyName}}</h2>
          <h3 [hidden]="withCoins" i18n>Saving packs</h3>
          <p [hidden]="!withCoins" i18n>We've definitely got a pack for you that will save you money.</p>
          <p [hidden]="withCoins" i18n>These are our ready to go packs; use them to save money when buying features.</p>
          <div *ngIf="packs?.length" class="carousel-container">
            <tsl-svg-icon *ngIf="ngbCarousel" src="/assets/icons/arrow-right.svg" class="left-arrow" (click)="ngbCarousel.prev()"
              [ngClass]="{'disabled': ngbCarousel.activeId === ngbCarousel.slides.first.id}"></tsl-svg-icon>
            <ngb-carousel interval="0" [showNavigationIndicators]="false" [wrap]="false" [showNavigationArrows]="false">
              <ng-container *ngFor="let pack of packs; let i = index">
                <ng-template ngbSlide *ngIf="i < packs.length - ( itemsPerSlide.length - 1 )">
                  <div class="carousel-slider">
                    <ng-container *ngFor="let card of itemsPerSlide; let j = index">
                      <tsl-pack-wallacoins [pack]="packs[i + j]" [packIndex]="i + j + 1" (clickBuy)="openBuyModal(packs[i + j], i + j + 1)">
                      </tsl-pack-wallacoins>
                    </ng-container>
                  </div>
                </ng-template>
              </ng-container>
            </ngb-carousel>
            <tsl-svg-icon *ngIf="ngbCarousel" src="/assets/icons/arrow-right.svg" class="right-arrow"
              [ngClass]="{'disabled': ngbCarousel.activeId === ngbCarousel.slides.last.id}"
              (click)="ngbCarousel.next()"></tsl-svg-icon>
          </div>


          <h3 [hidden]="!withCoins" i18n>Why get Wallacoins?</h3>
          <h3 [hidden]="withCoins" i18n>Why buy a pack of features?</h3>
          <div class="info" [hidden]="!withCoins">
            <div class="info-1">
              <h4 i18n>One coin for everyone</h4>
              <p i18n>Our visibility options can now be unlocked with a new key: Wallacoins. Our new currency for your features with unique benefits.</p>
            </div>
            <div class="info-2">
              <h4 i18n>Now, save</h4>
              <p i18n>You can save money with Wallacoins. When you buy one our our packs, we will give you more wallacoins and that means you can feature more of your listings for less!</p>
            </div>
            <div class="info-3">
              <h4 i18n>Quick! Quick!</h4>
              <p i18n>Buying with Wallacoins is even faster. Add them to your wallet and pay with them directly when you want to feature a listing.</p>
            </div>
          </div>
          <div class="info" [hidden]="withCoins">
            <div class="info-1">
              <h4 i18n>Pay once and forget about it</h4>
              <p i18n>Rather than paying every time you want to feature a listing; do it just once and use your features whenever you want. It's faster and easier.</p>
            </div>
            <div class="info-2">
              <h4 i18n>Now, save</h4>
              <p i18n>Buying a pack means you can save up to -XX% on your features.</p>
            </div>
            <div class="info-3">
              <h4 i18n>Quick! Quick!</h4>
              <p i18n>Buying with credit is even faster. Add them to your wallet and pay with them directly when you want to feature a listing.</p>
            </div>
          </div>
        </div>
      </div>
      <p class="disclaimer" i18n [hidden]="!withCoins">Wallacoins are only available in website.<br />You can use them to feature your items. Wallacoins that are purchased will expire 12 months after they are added to your Credit. Wallacoins are non-refundable, and can't be converted back into money once purchased.</p>
      <p class="disclaimer" i18n [hidden]="withCoins">Your Credit and our Saving Packs are only available (for now) on the website.<br />Once your Credit is purchased will expire 12 months after.</p>
    </div>
  </div>
</div>
