<ng-container *ngIf="!newSubscription && !editSubscription">
<tsl-subscription-list [isLoading]="loading" (clickButton)="manageSubscription($event)" [subscriptions]="subscriptions"></tsl-subscription-list>

<tsl-subscription-benefits [hidden]="loading"></tsl-subscription-benefits>
</ng-container>

<tsl-subscription-purchase *ngIf="newSubscription" [subscription]="newSubscription" [user]="user" (purchaseSuccessful)="subscriptionChangeSuccessful()" (unselectSubcription)="onUnselectSubcription()"></tsl-subscription-purchase>
<tsl-subscription-edit *ngIf="editSubscription" [subscription]="editSubscription" [user]="user" (editSuccesful)="subscriptionChangeSuccessful()" (unselectSubcription)="onUnselectSubcription()"></tsl-subscription-edit>
