@import "~style/common";

button {
  @include square(30px);
  border: 3px solid $grey-100;
  border-radius: 50%;
  padding: 0;
  transition: none;
  transform: none;
  background-color: $grey-100;
  line-height: 0;
  cursor: pointer;
  mat-icon {
    height: 14px;
    width: 15px;
    /deep/ g g {
      fill: $grey-250;
    }
  }
  &:hover {
    background-color: $corporate;
    border-color: $corporate;
    mat-icon {
      /deep/ g g {
        fill: $white;
      }
    }
  }
}
