<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <tsl-picture-upload [user]="user"></tsl-picture-upload>
  <tsl-profile-form [profileForm]="profileForm">
    <div class="box">
      <div class="box-content">
        <div class="row">
          <div class="col-10 offset-2">
            <div class="form-group row">
              <label for="first_name" class="col-3" i18n>Name:</label>
              <div class="col-5">
                <input type="text" class="form-control" id="first_name" formControlName="first_name" tslRestrictInput maxlength="50" />
              </div>
              <div class="col-4">
                <input type="text" class="form-control" id="last_name" formControlName="last_name" tslRestrictInput maxlength="50" />
              </div>
            </div>
            <div class="form-group row">
              <label for="telephone" class="col-3" i18n>Telephone:</label>
              <div class="col-5">
                <input type="text" class="form-control" id="telephone" formControlName="telephone" />
              </div>
            </div>
            <div class="form-group row">
              <label for="description" class="col-3" i18n>Description:</label>
              <div class="col-9">
                <textarea class="form-control" id="description" formControlName="description"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="opening_hours" class="col-3" i18n>Opening Hours:</label>
              <div class="col-9">
                <textarea class="form-control" id="opening_hours" formControlName="opening_hours"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3" i18n>Product location:</label>
              <div class="col-9">
                <tsl-location-box [form]="profileForm" name="location"></tsl-location-box>
              </div>
            </div>
            <div class="row">
              <div class="offset-3 col-9">
                <tsl-button [type]="'submit'" className="btn-primary btn-big" tslTrackEvent="MYPROFILE_SAVEBUTTON" [disabled]="!formComponent.hasNotSavedChanges"
                            i18n>Save</tsl-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tsl-profile-form>
  <div class="box">
    <div class="box-content">
      <div class="row">
        <div class="col-10 offset-2">
          <div class="form-group row">
            <label class="col-3" i18n>Email:</label>
            <div class="col-5">
              <tsl-edit-email [email]="user?.email"></tsl-edit-email>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-3" i18n>Password:</label>
            <div class="col-5">
              <tsl-edit-password></tsl-edit-password>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
