@import "~style/common";

$right-gutter: 35px;

#description {
  min-height: 90px;
}

#opening_hours {
  min-height: 70px;
}

.switch {
  text-align: right;
  padding-right: $right-gutter;
  margin: 0;
}

