<div class="modal-close" (click)="activeModal.close()">
  <mat-icon svgIcon="cross"></mat-icon>
</div>

<img *ngIf="code === '200' || code === '201'" src="../../../../../../assets/images/bump-ok.png" alt="">
<img class="fail" *ngIf="code !== '200' && code !== '201'" src="../../../../../../assets/images/bump-ko.png" alt="">

<div *ngIf="code === '200' || code === '201'">
  <h1 i18n>Congratulations</h1>
  <p i18n>You already have your extra features and you can use them whenever you want.</p>
  <tsl-button (click)="activeModal.close()" i18n>Start selling</tsl-button>
</div>

<div *ngIf="code !== '200' && code !== '201'">
  <h1 class="fail" i18n>Something happened...</h1>
  <p i18n>Your extra features have not been done because something went wrong with your credit card. Please check and try again</p>
  <tsl-button (click)="activeModal.close()" i18n>Fine!</tsl-button>
</div>
