<form [formGroup]="billingForm" (submit)="onSubmit()">
  <tsl-profile-form [profileForm]="billingForm">
    <div class="box profile-box">
      <div class="box-content">
        <div class="row">
          <div class="col-10 offset-2">
            <div class="form-group row align-items-center">
              <label for="name" class="col-3" i18n>First Name:</label>
              <div class="col-5">
                <input type="text" class="form-control" id="name" formControlName="name"/>
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label for="surname" class="col-3" i18n>Last Name:</label>
              <div class="col-5">
                <input type="text" class="form-control" id="surname" formControlName="surname"/>
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label for="company_name" class="col-3" i18n>Company Name:</label>
              <div class="col-5">
                <input type="text" class="form-control" id="company_name" formControlName="company_name"/>
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label for="email" class="col-3" i18n>Billing email:</label>
              <div class="col-5">
                <input type="email" class="form-control" id="email" formControlName="email"/>
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label for="phone" class="col-3" i18n>Billing phone:</label>
              <div class="col-5">
                <input type="text" class="form-control" id="phone" formControlName="phone"/>
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label for="street" class="col-3" i18n>Billing address:</label>
              <div class="col-5">
                <input type="text" class="form-control" id="street" formControlName="street"/>
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label for="postal_code" class="col-3" i18n>Postal code:</label>
              <div class="col-5">
                <input type="text" class="form-control" id="postal_code" formControlName="postal_code"/>
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label for="city" class="col-3" i18n>City:</label>
              <div class="col-5">
                <input type="text" class="form-control" id="city" formControlName="city"/>
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label for="country" class="col-3" i18n>Country:</label>
              <div class="col-5">
                <input type="text" class="form-control" id="country" formControlName="country"/>
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label for="cif" class="col-3" i18n>CIF Number:</label>
              <div class="col-5">
                <input type="text" class="form-control" id="cif" formControlName="cif"/>
              </div>
            </div>
            <div class="row">
              <div class="col-9" [ngClass]="{'offset-3': isNewBillingInfoForm, 'text-center': !isNewBillingInfoForm}">
                <tsl-button [type]="'submit'" className="btn-primary btn-big" i18n [disabled]="!billingForm.valid">Save</tsl-button>
              </div>
              <div class="col-3 delete-link" *ngIf="!isNewBillingInfoForm">
                <a (click)="deleteBillingInfo()" i18n>Delete information</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tsl-profile-form>
</form>
<tsl-credit-card-info [hidden]="isStripe"></tsl-credit-card-info>
<tsl-stripe-cards *ngIf="isStripe"></tsl-stripe-cards>
