<div class="AcceptScreenAwarenessModal d-flex flex-column w-100 align-items-center p-4">
  <tsl-lottie [src]="ACCEPT_SCREEN_AWARENESS_LOTTIE" class="mb-3"></tsl-lottie>
  <span i18n="@@trx_on_web_modal_title_web_specific" class="AcceptScreenAwarenessModal__title mb-3 text-center"
    >Wallapop Shipping on web!</span
  >
  <span i18n="@@trx_on_web_modal_part1_description_web_specific" id="AcceptScreenAwarenessModalDescription" class="mb-4 text-center"
    >Soon our shipping service will be available on the web. That's why you can already check or edit your shipping data.</span
  >
  <tsl-button i18n="@@trx_on_web_modal_understood_button_web_specific" (click)="onClose()">Understood</tsl-button>
</div>
