<div class="AcceptScreenAwarenessModal d-flex flex-column w-100 align-items-center p-4">
  <tsl-lottie [src]="ACCEPT_SCREEN_AWARENESS_LOTTIE" class="mb-3"></tsl-lottie>
  <span i18n="@@" class="AcceptScreenAwarenessModal__title mb-3">Wallapop Shipping on web!</span>
  <span i18n="@@" class="mb-4 text-center"
    >Soon our shipping service will be available on the web. That's why you can already check or edit your shipping data.</span
  >
  <tsl-button i18n="@@" (click)="onClose()">Understood</tsl-button>
</div>
