@import '~style/common';

.AcceptScreenAwarenessModal {
  &__title {
    font-weight: $font-weight-chunky;
    font-size: $font-size-l;
  }

  &__title,
  &__description {
    color: $blue-grey-1;
  }
}
