<div class="AcceptScreenAwarenessModal d-flex flex-column w-100 align-items-center p-4">
  <tsl-lottie [src]="ACCEPT_SCREEN_AWARENESS_LOTTIE" class="mb-3"></tsl-lottie>
  <span i18n="@@sale_made_modal_title_web_specific" class="AcceptScreenAwarenessModal__title mb-3 text-center">You've made a sale!</span>
  <span i18n="@@sale_made_modal_part1_description_web_specific" id="AcceptScreenAwarenessModalDescription" class="mb-4 text-center"
    >To complete the process, access the app and decide how to ship the item. It's going to be easy, you'll see.</span
  >
  <tsl-button i18n="@@sale_made_modal_understood_button_web_specific" (click)="onClose()">Understood</tsl-button>
</div>
