<div class="box">
  <div class="box-content" [hidden]="loading">
    <h4 class="section-title" i18n>wallapop PRO</h4>
    <p class="section-subtitle" i18n>Manage your subscriptions to wallapop PRO to increase your sales.</p>
    <div class="Subscriptions d-flex flex-column flex-content-justify align-items-center flex-lg-row">
      <div class="Subscriptions__category"
        [ngClass]="{
          'Subscriptions__category--subscribed': subscription.subscribed_from,
          'Subscriptions__category--with-one-free': hasOneFreeSubscription(subscription)
        }"
      (click)="openSubscriptionModal(subscription)" *ngFor="let subscription of subscriptions">
        <div class="Subscriptions__category-base">
          <div class="Subscriptions__category-icon">
            <tsl-svg-icon *ngIf="subscription.subscribed_from" src="/assets/icons/categories/normal/{{subscription.category_icon}}.svg" class="image"></tsl-svg-icon>
            <tsl-svg-icon [hidden]="subscription.subscribed_from" src="/assets/icons/categories/disabled/{{subscription.category_icon}}.svg" class="image"></tsl-svg-icon>
          </div>
          <div class="Subscriptions__category-title">{{subscription.category_name}}</div>
          <hr />
        </div>
        <div [hidden]="subscription.subscribed_from" class="Subscriptions__category-info">
            <p i18n *ngIf="subscription.current_limit">Limit without subscription: {{subscription.current_limit}}</p>
            <p i18n *ngIf="!subscription.current_limit">No limit</p>
            <tsl-subscription-price-discount [subscription]="subscription"></tsl-subscription-price-discount>
        </div>
        <div *ngIf="subscription.subscribed_from" class="Subscriptions__category-info">
            <p i18n *ngIf="subscription.selected_tier.limit">{{subscription.selected_tier.limit}} products</p>
            <p i18n *ngIf="!subscription.selected_tier.limit">No limit</p>
            <p class="Subscriptions__category-info--price" i18n>
              {{subscription.selected_tier.price}}{{subscription.selected_tier.currency}}/month
            </p>
            <p class="Subscriptions__category-info--edit" *ngIf="!subscription.subscribed_until">
              <span *ngIf="showEdit(subscription)" i18n>Edit</span>
              <span *ngIf="showCancel(subscription)" i18n>Cancel</span>
              <span *ngIf="showManageInApp(subscription)" i18n>Manage in app</span>
              <span *ngIf="showUnsubscribeFirst(subscription)" i18n>Unsubscribe first from app for your free month</span>
            </p>
        </div>
        <tsl-button className="btn-primary" [hidden]="subscription.subscribed_from" i18n>Subscribe</tsl-button>
        <span *ngIf="subscription.subscribed_from" [hidden]="subscription.subscribed_until" class="Subscriptions__subscribed-from" i18n>
          Subscribed from {{subscription.subscribed_from | date:'dd/MM/yy' }}
        </span>
        <span *ngIf="subscription.subscribed_until" class="Subscriptions__subscribed-until" i18n>
          Subscription ends on {{subscription.subscribed_until | date:'dd/MM/yy' }}
        </span>
        <span *ngIf="subscription.subscribed_until" class="Subscriptions__subscribed-continue" i18n>
          Stay subscribed
        </span>
      </div>
    </div>
  </div>
  <div class="row loading-center">
    <tsl-spinner [hidden]="!loading"></tsl-spinner>
  </div>
</div>

<tsl-subscription-benefits [hidden]="loading"></tsl-subscription-benefits>