@import '~style/common';
@import '../../styles/item-card-variables';

.ItemCardPlaceholder {
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: $item-card-box-shadow;
  height: $container-height-without-description;
  overflow: hidden;
  width: 100%;

  &__content {
    flex: 1;
    padding: $spacer * 0.5;
  }

  &__text {
    @include TextPlaceholder;
  }

  &__image {
    @include ImagePlaceholder;
    height: $image-height-without-description;
    &--with-description {
      margin: 4px 4px 0;
      height: $image-height-with-description;
      border-radius: $image-border-radius;
    }
  }

  &--with-description {
    height: $container-height-with-description;
  }
}
