@import '~style/common';

.GenericImage {
  width: 75px;
  height: 75px;
  margin-right: $spacing-m;
  border-radius: $border-radius;
  position: relative;
  &__badge {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    tsl-svg-icon {
      width: 15px;
      height: 15px;
      &.sold {
        width: 18px;
        height: 18px;
      }
    }
  }
}
