@import '~style/common';

.Notification {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background: $white;
  cursor: pointer;
  padding: $spacing-m;
  position: relative;
  &--highlighted {
    background-color: #85ffd3;
  }
  &--pinned {
    border-radius: $border-radius;
    border: 1px solid $blue-grey-4;
  }
  &__generic {
    display: flex;
    align-items: center;
    &_info {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-around;
      &_title {
        font-weight: $font-weight-chunky;
        font-size: $font-size-l;
        line-height: $font-size-l;
      }
      &_description {
        margin-top: $spacing-s;
        line-height: $font-size-m;
        font-weight: normal;
        color: $blue-grey-2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 300px;
      }
    }
  }
  &__aditional-info {
    &_date {
      white-space: nowrap;
      span {
        color: $blue-grey-2;
      }
    }
    &_status {
      .new-notification {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 10px;
        height: 10px;
        border: 2px solid $white;
        background-color: $negative-main;
        border-radius: 100%;
      }
    }
  }
}
