<div
  class="Notification"
  [ngClass]="{
    'Notification--highlighted': notification.variant === NOTIFNOTIFICATION_VARIANT.HIGHLIGHTED,
    'Notification--pinned': notification.variant === NOTIFNOTIFICATION_VARIANT.PINNED
  }"
>
  <div class="Notification__generic">
    <tsl-generic-image [image]="notification.image" [productStatus]="notification.productStatus"></tsl-generic-image>
    <div class="Notification__generic_info">
      <span class="Notification__generic_info_title">{{ notification.title }}</span>
      <span class="Notification__generic_info_description">{{ notification.description }}</span>
    </div>
  </div>

  <div class="Notification__aditional-info">
    <div class="Notification__aditional-info_date">
      <span> {{ _momentsAgo }}</span>
    </div>
    <div class="Notification__aditional-info_status" *ngIf="!notification.isRead">
      <div class="new-notification"></div>
    </div>
  </div>
</div>
