@import "~style/common";

.check-corporate {
  @include square(30px);
  border: 3px solid $blue-grey-4;
  border-radius: 50%;
  padding: 0;
  transition: none;
  transform: none;
  background-color: $blue-grey-4;
  line-height: 0;
  cursor: pointer;
  tsl-svg-icon {
    height: 10px;
    width: 19px;
    ::ng-deep g g {
      fill: $blue-grey-3;
    }
  }
  &:hover {
    background-color: $walla-main;
    border-color: $walla-main;
    tsl-svg-icon {
      ::ng-deep g g {
        fill: $white;
      }
    }
  }
}
