@import '~style/common';

:host {
  display: inline-block;
  width: 100%;
}

div {
  display: block;
}

.avatar-rounded {
  background-size: cover;
  border-radius: 2%;
  background-position: center;
  width: 100%;
  height: 120px;
  object-fit: cover;
}
