@import '~style/common';

:host {
  width: 100%;
}

div {
  display: block;
}

.avatar-rounded {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
