

<tsl-filter-template
[isBubble]="isBubble()"
[isDropdown]="false"
[hasApply]="true"
[isClearable]="true"
[title]="config.title"
[icon]="config.icon"
[label]="label"
[hasValue]="hasValue$() | async"
(click)="handleClick()"
(clear)="handleClear()"
(openStateChange)="openStateChange.emit($event)">

    <div class="w-100 d-flex align-items-center" *ngIf="!isBubble()">
        <span class="ToggleFilter__content-label">{{config.bubblePlaceholder}}</span>
        <tsl-toggle-form [(ngModel)]="toggle" (ngModelChange)="handleChange()"></tsl-toggle-form>
    </div>
</tsl-filter-template>

