@import "~style/common";

:host {
  display: block;
  position: relative;
  height: calc(100vh - #{$chat-topbar-height + $chat-input + $topbar-height});
}

.messages-panel-container {
  max-height: calc(100vh - #{$chat-topbar-height + $chat-input + $topbar-height});
  position: absolute;
  bottom: 0;
  display: block;
  overflow-y: scroll;
  padding: $spacing-ml;
  width: 100%;
}

h6 {
  display: block;
  width: 100%;
  text-align: center;
  margin: $spacing-ml 0;
  text-transform: uppercase;
  color: $blue-grey-2;
  font-weight: $font-weight-chunky;
  font-size: $font-size-xs;
}

