<div class="d-flex flex-column align-items-center GenericLanding__container">
  <h1 class="GenericLanding__title">There are things you can only do from the app</h1>
  <p class="GenericLanding__description mt-1">
    To continue, scan the QR code, download the Wallapop app and you're ready. It'll just take a second!
  </p>
  <div class="GenericLanding__qrCode mt-5">
    <qrcode [qrdata]="qrData" [width]="qrSize" [margin]="2" [errorCorrectionLevel]="'M'" #qrCode> </qrcode>
  </div>
  <div class="GenericLanding__icon mt-auto">
    <img src="/assets/images/generic-landing/only-app-landing.svg" alt="mobile-blob" />
  </div>
</div>
