@import '~style/common';

:host {
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
}

.GenericLanding {
  &__container {
    width: 412px;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    margin-top: $spacer * 6.875;
  }
  &__title {
    font-size: $font-size-lll;
    @include media-breakpoint-down(sm) {
      padding: 0 $spacer * 1.5;
    }
  }
  &__description {
    font-size: $font-size-m;
  }
  &__qrCode {
    border: 5px solid $blue-grey-1;
    border-radius: $border-radius-sm;
    width: 190px;
    height: 190px;
    position: relative;
    .logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 38px;
      height: 38px;
    }
  }
  &__icon {
    width: 310px;
    height: 172px;
  }
}
.btn {
  border-radius: $button-border-radius;
  font-weight: $font-weight-chunky;
}
