<div class="d-flex flex-column align-items-center GenericLanding__container">
  <h1 class="GenericLanding__title" i18n="@@agnostic_ux_not_supported_by_web_empty_state_qr_to_open_mobile_title_web_specific">
    There are things you can only do from the app
  </h1>
  <p
    class="GenericLanding__description mt-1"
    *ngIf="device === DevicesType.MOBILE"
    i18n="@@agnostic_ux_not_supported_by_web_empty_state_download_app_description"
  >
    To continue, download the Wallapop app and you're ready. It'll just take a second!
  </p>
  <p
    class="GenericLanding__description mt-1"
    *ngIf="device !== DevicesType.MOBILE"
    i18n="@@agnostic_ux_not_supported_by_web_empty_state_qr_to_open_mobile_description_web_specific"
  >
    To continue, scan the QR code, download the Wallapop app and you're ready. It'll just take a second!
  </p>
  <div *ngIf="device !== DevicesType.MOBILE" class="GenericLanding__qrCode mt-5">
    <qrcode [qrdata]="url" [width]="qrSize" [margin]="2" [errorCorrectionLevel]="'M'" #qrCode> </qrcode>
  </div>
  <div
    *ngIf="device === DevicesType.MOBILE"
    class="GenericLanding__appButton mt-5"
    i18n="@@agnostic_ux_not_supported_by_web_empty_state_download_app_button"
  >
    <a href="{{ url }}" class="btn btn-primary" target="_blank"> Download the app </a>
  </div>
  <div class="GenericLanding__icon mt-auto">
    <img src="/assets/images/generic-landing/only-app-landing.svg" alt="mobile-blob" />
  </div>
</div>
