.GenericLanding {
  &__container {
    width: 100%;
    min-height: 86vh;
  }
  &__title {
    font-size: 24px;
    text-align: center;
  }
  &__description {
    font-size: 16px;
    text-align: center;
  }
  &__qrCode {
    border: 5px solid black;
    border-radius: 5px;
  }
  &__icon {
    height: 100%;
    img {
      width: 310px;
      height: 172px;
    }
  }
}

.container {
  &__bottom {
    flex: 1;
  }
}
