@import "~style/common";

.tab-bar {
  position: fixed;
  bottom: 0;
  background-color: $white;
  z-index: 20;
  border-top: 1px solid $blue-grey-5;
}

.tab-bar__content {
  min-height: 64px;
  @supports (padding: unquote("max(0px)")) {
    padding-bottom: unquote("max(#{10px}, env(safe-area-inset-bottom))");
  }
  svg {
    transition: opacity 250ms ease;
    -webkit-tap-highlight-color: rgba($white, 0.6);
    &:active {
      opacity: 0.6;
    }
  }
}

.tab-bar__option {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  span {
    font-size: $font-size-xs;
    color: $blue-grey-3;
    text-transform: lowercase;
    line-height: 1;
  }
  &.active {
    .fill-path {
      fill: $blue-grey-1;
    }
    .fill-stroke {
      stroke: $blue-grey-1;
    }
    span {
      color: $blue-grey-1;
    }
  }
}
