@import '~style/common';

:host {
  &:not(.hidden) {
    display: inline-block;
    @include square(10px);
    &.medium {
      @include square(14px);
    }
    &.big {
      @include square(18px);
    }
  }
}

tsl-svg-icon {
  @include square(10px);
  margin-left: $spacing-xxs;
  ::ng-deep svg path {
    transition: all 0.2s ease-in-out;
  }
  &.strike {
    ::ng-deep svg path {
      fill: $blue-grey-3;
    }
  }
  &.grey {
    ::ng-deep svg path {
      fill: $blue-grey-2;
    }
  }
  &.corporate {
    ::ng-deep svg path {
      fill: $walla-main;
    }
  }
  &.black {
    ::ng-deep svg path {
      fill: $blue-grey-1;
    }
  }
  &.medium {
    @include square(14px);
  }
}
