<div class="ProHeader">
    <div class="container">
        <div class="d-flex align-items-center flex-column">
            <div>
                <tsl-svg-icon src="/assets/icons/pro/pro-logo.svg"> </tsl-svg-icon>
            </div>
            <div class="mt-3">
                <span class="ProHeader__title">
                    Tu audiencia está aquí
                </span>
            </div>
            <div>
                <ng-container *ngIf="benefits$ | async as benefits">
                    <div *ngFor="let benefit of benefits">
                        <div>
                            {{ benefit.title}}
                        </div>
                        <div> {{ benefit.description }} </div>
                        <div> 
                            <tsl-svg-icon [src]="benefit.iconPath">
                            </tsl-svg-icon>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>