@import '~style/common';

$feature-button-width: 170px;

.header {
  background: $walla-main;
  height: 127px;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .modal-close {
    top: 20px;
    right: 20px;
    @include square(13px);
    tsl-svg-icon {
      @include square(13px);
      line-height: unset;
    }
  }
  h1 {
    font-size: $font-size-l;
    font-weight: $font-weight-chunky;
  }
  p {
    opacity: 0.8;
    margin: 0;
    margin-bottom: $spacing-xl;
    color: $white;
    font-size: $font-size-m;
    padding: 0 $spacing-xl;
  }
}

.modal-body {
  text-align: center;
  padding: $spacing-xl 70px $spacing-xxl;
  p {
    font-size: $font-size-m;
    color: $blue-grey-2;
    margin-top: $spacing-ms;
  }
  .urgent-background {
    background: url(/assets/images/urgent-background.svg);
    width: 138px;
    height: 152px;
    margin: $spacing-ms auto $spacing-xl;
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $blue-grey-5;
    @include square(34px);
    margin: 6px;
    cursor: pointer;
    tsl-svg-icon {
      @include square(18px);
    }
    &:hover {
      background-color: $color-social-background;
      tsl-svg-icon ::ng-deep path {
        fill: $color-social-fill;
      }
    }
  }
}
