@import "../../../style/_common.scss";

$transition-time: .15s;
$check-width-and-spacing: 50px;
:host {
  display: flex;
  flex-direction: row;
  padding: $spacing-ml $spacing-ms $spacing-ml $spacing-ml;
  box-sizing: border-box;
  border-left: 2px solid transparent;
  transition: $transition-time ease background-color,
  $transition-time ease border;
  border-top: 1px solid $blue-grey-5;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  &:first-child {
    border-top: 0;
  }
  &.active {
    background-color: rgba($blue-grey-4, .4);
  }
  tsl-archivable {
    width: 100%;
  }
  tsl-archive-button, tsl-unarchive-button {
    @include hide();
  }
  &:hover {
    background-color: rgba($blue-grey-2, .1);
    tsl-archive-button {
      opacity: 1;
      visibility: visible;
    }
    .call-item-row-left {
      max-width: calc(100% - #{$check-width-and-spacing});
    }
  }
}

tsl-user-avatar {
  @include square-avatar($item-avatar-size);
  float: left;
  margin-right: $item-avatar-margin;
  display: flex;
  position: relative;
}
.call-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: $blue-grey-1;
  font-size: $font-size-s;
  p {
    font-size: $font-size-s;
    margin-bottom: 0;
    @include text-truncate();
  }
  .call-user-row {
    line-height: $line-height-m;
    display: flex;
    flex-direction: row;
    vertical-align: super;
    margin-right: $spacing-ms;
    width: 15%;
    .call-user-name {
      font-weight: $font-weight-chunky;
      font-size: $font-size-s;
      display: flex;
      @include text-truncate;
      flex-grow: 1;
      span {
        @include text-truncate;
        flex-grow: 1;
      }
    }
    .call-meta {
      flex: none;
      margin-left: $spacing-xs;
    }
  }
  .call-item-row {
    $phone-icon-adjusted-size: 15px;
    line-height: $line-height-ml;
    overflow: hidden;
    font-size: $font-size-xs;
    display: flex;
    flex-direction: row;
    .call-item-row-left {
      @include text-truncate;
      flex-grow: 1;
      span {
        @include text-truncate;
        flex-grow: 1;
      }
    }
    .call-item-row-right {
      flex: none;
    }
    mat-icon, span {
      vertical-align: middle;
    }
    mat-icon {
      @include square($phone-icon-adjusted-size);
    }
    .call-item-title {
      color: $blue-grey-2;
    }
    &.has-phone {
      $phone-icon-size: 10px;
      .user-name {
        width: calc(100% - #{$phone-icon-size});
      }
    }
  }
  .call-date {
    font-size: $font-size-xs;
    font-weight: $font-weight-chunky;
    color: $blue-grey-2;
    text-transform: uppercase;
  }
  .call-data-row {
    line-height: $line-height-m;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    p{
      color: $blue-grey-2;
      &:last-child {
        margin-bottom: 0;
      }
    }
    mat-icon {
      height: 15px;
      width: 15px;
      vertical-align: bottom;
    }
    .call-missed {
      width: 20px;
    }
    .phone-info {
      display: flex;
      flex-direction: column;
      margin: 0 $spacing-ms;
      .status {
        color:  $blue-grey-3;
      }
    }
  }
}
