<tsl-archivable>
  <div class="call-info">
    <div class="call-user-row">
      <div class="call-meta">
        <span class="call-date">{{call.modifiedDate | amCalendar:momentConfig }}</span>
      </div>
    </div>
    <div class="call-data-row" [ngSwitch]="call.callStatus">
        <span placement="top" [ngbTooltip]="call.callStatus | callStatusLabel">
          <mat-icon *ngSwitchCase="'ANSWERED'" svgIcon="call-received"></mat-icon>
          <mat-icon *ngSwitchCase="'MISSED'" svgIcon="call-missed" class="call-missed"></mat-icon>
          <mat-icon *ngSwitchDefault svgIcon="call-shared"></mat-icon>
        </span>
        <div class="phone-info">
          <span>{{call.phone}}</span>
          <span class="status">{{call.callStatus | callStatusLabel}}</span>
        </div>
    </div>
    <tsl-archive-button [lead]="call" (click)="archived = true"></tsl-archive-button>
  </div>
</tsl-archivable>
