<div *ngIf="user && userStats && item" class="ItemDetailHeader py-2 d-flex justify-content-between align-items-center"
    [ngClass]="{'ShowOwnButtons': isOwner}">
    <tsl-user-basic-info [ngClass]="isOwner ? 'OwnUserBasicInfo': 'OtherUserBasicInfo'" [userStats]="userStats"
        [userInfo]="user" [styleSize]="USER_INFO_SIZE.SMALL" [className]="'ItemDetailHeader'">
    </tsl-user-basic-info>
    <div *ngIf="isOwner; else basicOperations" class="d-flex">
        <div class="FeatureButton mr-4" *ngIf="showMineOptions">
            <!-- Feature -->
            <tsl-button *ngIf="!item.bumpExpiringDate" className="btn-feature"
                [routerLink]="['/catalog/checkout', {itemId: item.id}]">
                <tsl-svg-icon src="/assets/icons/feature.svg" class="mr-2"></tsl-svg-icon>
                <span i18n="@@Feature">Feature</span>
            </tsl-button>
            <!-- Countdown -->
            <button class="btn-featured" *ngIf="item.bumpExpiringDate">
                <tsl-date-countdown [dateEndTimestamp]="item.bumpExpiringDate"></tsl-date-countdown>
            </button>
        </div>
        <div class="OwnActionButtons d-flex">
            <ng-container *ngIf="showMineOptions">
                <!-- Sold -->
                <button class="btn-sold p-0" tslItemSold (callback)="soldItem()" [item]="item" ngbTooltip="Mark as sold"
                    i18n-ngbTooltip placement="top">
                    <tsl-svg-icon src="/assets/icons/btn-sold.svg"></tsl-svg-icon>
                </button>
                <!-- Reserve -->
                <button class="btn-reserve p-0" [ngClass]="{active: item.reserved}" (click)="reserveItem()"
                    ngbTooltip="Mark as reserved" i18n-ngbTooltip placement="top">
                    <tsl-svg-icon src="/assets/icons/btn-reserved.svg"></tsl-svg-icon>
                </button>
                <!-- Edit -->
                <button class="btn-edit p-0" [routerLink]="['/catalog/edit/' + item.id]" ngbTooltip="Edit"
                    i18n-ngbTooltip placement="top">
                    <tsl-svg-icon src="/assets/icons/btn-edit.svg"></tsl-svg-icon>
                </button>
            </ng-container>
            <!-- Delete -->
            <button class="btn-delete p-0" (click)="deleteItem()">
                <tsl-svg-icon src="/assets/icons/delete.svg" width="17" height="20"></tsl-svg-icon>
            </button>
        </div>
    </div>
    <ng-template #basicOperations>
        <div class="OtherActionButtons">
            <tsl-button className="stripe" class="mr-2" (click)="toggleItemFavorite()">
                <tsl-favourite-icon [active]="item?.flags?.favorite">
                </tsl-favourite-icon>
            </tsl-button>
            <tsl-button className="btn-primary stripe" [routerLink]="['/chat']" [queryParams]="{itemId: item.id}">
                Chat
            </tsl-button>
        </div>
    </ng-template>
</div>