<tsl-filter-template #filterTemplateComponent
  [isBubble]="variant | isBubble"
  [isDropdown]="true"
  [isClearable]="true"
  [title]="config.title"
  [icon]="config.icon"
  [label]="label$ | async"
  [hasValue]="hasValue$ | async"
  (clear)="handleClear()"
  (openStateChange)="openStateChange.emit($event)">

  <tsl-drawer-placeholder-template #selectFilterTemplateComponent
                                   [hasContentPlaceholder]="!(variant | isBubble) && config.hasContentPlaceholder"
                                   [placeholderLabel]="label$ | async"
                                   [placeholderIcon]="placeholderIcon$ | async"
                                   [contentTitle]="contentTitle"
                                   [isClearable]="hasValue$ | async"
                                   (placeholderOpenStateChange)="openStateChange.emit($event)"
                                   (clear)="handleClear()">

    <div [class.SelectFilter--bubble]="variant | isBubble">
      <form [formGroup]="formGroup" class="SelectFilter__form">
        <tsl-select-form
          formControlName="select"
          [options]="options">
        </tsl-select-form>
      </form>
    </div>

  </tsl-drawer-placeholder-template>

</tsl-filter-template>
