<div class="modal-close" (click)="activeModal.close()">
  <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
</div>
<div class="content-col">
  <h1 class="modal-title" i18n>Congratulations</h1>
  <p class="modal-text" i18n>Your item has been uploaded and it's marked as urgent.</p>
  <p class="credit-info modal-text" *ngIf="creditUsed"><b>
    <span i18n>You have used</span>
    <span *ngIf="withCoins"> {{spent * creditInfo?.factor | number}} wallacoins</span>
    <span *ngIf="!withCoins"> {{spent | customCurrency}}</span>&nbsp;
    <span *ngIf="withCoins" i18n>and you have {{creditInfo?.credit | number}} wallacoins left</span>
    <span *ngIf="!withCoins" i18n>and you have {{creditInfo?.credit | customCurrency}} credit</span>
  </b></p>
</div>
<div class="share">
  <div i18n>Share it with your friends:</div>
  <div class="social-icons">
    <a (click)="facebookShare()"><tsl-svg-icon src="/assets/icons/facebook.svg"></tsl-svg-icon></a>
    <a (click)="twitterShare()"><tsl-svg-icon src="/assets/icons/twitter.svg"></tsl-svg-icon></a>
  </div>
</div>

