@import '~style/common';
$background: #f4f6f7;

.SubscriptionsSlotsList {
  &__container {
    @include media-breakpoint-down(sm) {
      position: relative;

      &::before,
      &::after {
        z-index: 2;
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 26px;
      }

      &::before {
        left: 0;
        background-image: linear-gradient(
          to right,
          rgba($background, 1),
          rgba($background, 0.6) 20%,
          rgba($background, 0.4) 50%,
          rgba($background, 0) 100%
        );
      }

      &::after {
        right: 0;
        background-image: linear-gradient(
          to left,
          rgba($background, 1),
          rgba($background, 0.6) 20%,
          rgba($background, 0.4) 50%,
          rgba($background, 0) 100%
        );
      }
    }
  }

  &__wrapper {
    @include media-breakpoint-down(sm) {
      @include hide-scroll-bars;
      padding: 0 26px;
      flex-wrap: nowrap;
      overflow-x: auto;
    }
  }
}
