<div class="SubscriptionsSlotsList">
  <div class="SubscriptionsSlotsList__container">
    <div class="SubscriptionsSlotsList__wrapper row mx-0">
      <tsl-subscriptions-slot-item class="col-lg-4 col-md-6 col-auto px-1 mb-2"
        *ngFor="let subscriptionSlot of subscriptionsSlots" [subscriptionSlot]="subscriptionSlot"
        [subscriptionSlotsLength]="subscriptionsSlots.length" [selectedSubscriptionSlot]="selectedSubscriptionSlot"
        (selected)="onSelectSubscriptionSlot($event)">
      </tsl-subscriptions-slot-item>
    </div>
  </div>
</div>