<div class="SubscriptionsSlotsList" [hidden]="subscriptionsSlots.length === 0"
  [ngClass]="{ 'SubscriptionsSlotsList--many':  subscriptionsSlots.length > 1 }"
>
  <div class="SubscriptionsSlotsList__container">
    <div class="SubscriptionsSlotsList__wrapper">
      <tsl-subscriptions-slot-item
        *ngFor="let subscriptionSlot of subscriptionsSlots"
        [subscriptionSlot]="subscriptionSlot"
        [subscriptionSlotsLength]="subscriptionsSlots.length"
        [selectedSubscriptionSlot]="selectedSubscriptionSlot"
        (selected)="onSelectSubscriptionSlot($event)"
      >
      </tsl-subscriptions-slot-item>
    </div>
  </div>
</div>
