@import '~style/common';
$background: #f4f6f7;

.SubscriptionsSlotsList {
}

.SubscriptionsSlotsList1 {
  display: block;
  margin: $spacing-l 0;
  width: 1246px;
  max-width: 100%;
  margin: 0 auto;

  &--single {
    display: block;
  }

  &--many {
    display: flex;

    tsl-subscriptions-slot-item {
      width: 100%;
      @media (max-width: 768px) {
        min-width: 285px;
      }

      &:not(:first-child):not(:last-child) {
        margin: 0 $spacing-s;
      }

      &:first-child {
        margin-right: $spacing-s;
      }

      &:last-child {
        margin-left: $spacing-s;
      }
    }
  }

  &__container {
    width: 100%;
    align-items: center;
    position: relative;
    overflow: hidden;
    @media (max-width: 768px) {
      &::before,
      &::after {
        z-index: 2;
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 26px;
      }

      &::before {
        left: 0;
        background-image: linear-gradient(
          to right,
          rgba($background, 1),
          rgba($background, 0.6) 20%,
          rgba($background, 0.4) 50%,
          rgba($background, 0) 100%
        );
      }

      &::after {
        right: 0;
        background-image: linear-gradient(
          to left,
          rgba($background, 1),
          rgba($background, 0.6) 20%,
          rgba($background, 0.4) 50%,
          rgba($background, 0) 100%
        );
      }
    }
  }

  &__wrapper {
    flex-grow: 1;
    overflow-y: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    overflow-x: scroll;
    scroll-behavior: smooth;
    display: flex;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
