<div class="DiscountAvailableUnsubscribeInAppModal d-flex flex-column justify-content-between align-items-center">

  <div class="DiscountAvailableUnsubscribeInAppModal__close" (click)="activeModal.close()">
    <mat-icon svgIcon="cross"></mat-icon>
  </div>

  <div class="DiscountAvailableUnsubscribeInAppModal__content d-flex flex-column justify-content-between">

    <div class="DiscountAvailableUnsubscribeInAppModal__content-title text-center">
      <span i18n><b>You are eligible for a free month</b></span>
    </div>

    <div i18n>
      COVID-19 is affecting all of us. To alleviate this situation, we want to inform you that as a wallapop PRO user, we are offering you a free subscription month. What do you need to do?
    </div>

    <div class="DiscountAvailableUnsubscribeInAppModal__steps">
      <div i18n>
        1. Unsubscribe your current subscription plan through the 
        <a href="{{appleStoreSubscriptionsHelpURL}}" target="_blank">Apple Store</a> or 
        <a href="{{googlePlaySubscriptionsHelpURL}}" target="_blank">Google Play</a>.
      </div>
      <div i18n>2. Wait for the plan to expire. Check and be aware of the expiration date of your subscription.</div>
      <div i18n>3. Once expired, choose your free subscription here in web.</div>
    </div>

    <div class="text-center" i18n>If you have any doubts, <a href="mailto:{{supportMail}}" target="_blank">contact us</a>.</div>
  </div>
  
</div>

<div class="DiscountAvailableUnsubscribeInAppModal__actions">
  <tsl-button [class]="'DiscountAvailableUnsubscribeInAppModal__actions-ok text-center'" (click)="activeModal.close()" i18n>Understood</tsl-button>
</div>


