<div class="GridSelectOption p-2 d-flex flex-column justify-content-center align-items-center" (mouseenter)="handleMouseEnter()" (mouseleave)="handleMouseLeave()">
  <tsl-svg-icon *ngIf="!(icon | isComplexIcon)" class="GridSelectOption__icon" [class.GridSelectOption__icon--active]="isActive" [height]="isBig ? 30 : 20" [width]="isBig ? 30 : 20" [src]="icon"></tsl-svg-icon>

  <tsl-svg-icon *ngIf="icon | isComplexIcon" [class.d-none]="iconStatus$ | async | shouldHideIcon:ICON_STATUS.STANDARD" class="GridSelectOption__icon" [height]="isBig ? 30 : 20" [width]="isBig ? 30 : 20" [src]="icon.standard"></tsl-svg-icon>
  <tsl-svg-icon *ngIf="icon | isComplexIcon" [class.d-none]="iconStatus$ | async | shouldHideIcon:ICON_STATUS.HOVER" class="GridSelectOption__icon" [height]="isBig ? 30 : 20" [width]="isBig ? 30 : 20" [src]="icon.hover"></tsl-svg-icon>
  <tsl-svg-icon *ngIf="icon | isComplexIcon" [class.d-none]="iconStatus$ | async | shouldHideIcon:ICON_STATUS.ACTIVE" class="GridSelectOption__icon" [height]="isBig ? 30 : 20" [width]="isBig ? 30 : 20" [src]="icon.active"></tsl-svg-icon>
  <span *ngIf="label" [class.GridSelectOption__label--active]="isActive" [class.GridSelectOption__label--main-color-hover]="isHoverMainColor" class="GridSelectOption__label">{{label}}</span>
</div>
