@import '~style/common';

.LocationFilter {
  width: 700px;
  position: relative;
  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
}

.LocationFilter__search {
  position: relative;
  .LocationFilter__glass {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;
    width: 16px;
    z-index: 1;
  }
}

.LocationFilter__input {
  height: 50px;
  position: relative;
  padding: 0 $spacing-xxl;
  width: 100%;
  border: 1px solid $blue-grey-4;
  border-radius: 6px;
  text-overflow: ellipsis;
  outline: none;
  box-shadow: none;
  &:focus {
    border: 1px solid $walla-main;
  }
  &:before {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNyI+PHBhdGggZmlsbD0iIzI1MzIzOCIgZD0iTTExLjcyIDEyLjQ1NmEuOTY1Ljk2NSAwIDAgMSAxLjM2IDBsMi4yMjYgMi4yMWEuOTU1Ljk1NSAwIDAgMSAwIDEuMzU2Ljk2NS45NjUgMCAwIDEtMS4zNTkgMGwtMi4yMjctMi4yMWEuOTU1Ljk1NSAwIDAgMSAwLTEuMzU2em0tLjIzLTEuMzI3YTYuNDE4IDYuNDE4IDAgMCAxLTkuMDMgMCA2LjMxIDYuMzEgMCAwIDEgMC04Ljk3IDYuNDE4IDYuNDE4IDAgMCAxIDkuMDMgMCA2LjMxIDYuMzEgMCAwIDEgMCA4Ljk3em0tMS4xNDgtMS4xNGE0LjcwNiA0LjcwNiAwIDAgMCAwLTYuNjkgNC43ODUgNC43ODUgMCAwIDAtNi43MzMgMCA0LjcwNiA0LjcwNiAwIDAgMCAwIDYuNjkgNC43ODUgNC43ODUgMCAwIDAgNi43MzMgMHoiLz48L3N2Zz4=);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;
    width: 16px;
  }
}

.LocationFilter__image {
  position: relative;
  height: 270px;
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    right: 15px;
    appearance: none;
    background-color: rgba($white, 0.9);
    width: 46px;
    height: 46px;
    border: thin solid rgba($blue-grey-3, 0.5);
    border-radius: 10px;
    padding: 0;
    &:disabled {
      cursor: not-allowed;
      svg g {
        fill: $blue-grey-3;
      }
    }
  }
  @media (max-height: 700px) {
    height: 200px;
  }
  @media (max-height: 600px) {
    height: 150px;
  }
}

.LocationFilter__close {
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
  @media (max-width: 768px) {
    display: block;
  }
}

.LocationFilter__indications {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $spacing-ml;
  font-size: $font-size-s;
}

.LocationFilter__indication {
  color: $blue-grey-4;
  visibility: hidden;
  &:first-child,
  &:last-child {
    visibility: visible;
  }
  &--active {
    visibility: visible;
    color: initial;
  }
}

.LocationFilter__loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($white, 0.8);
  z-index: 1;
}
