<p [style]="style">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quare conare, quaeso. Primum quid tu dicis breve? Primum Theophrasti, Strato,
  physicum se voluit; Duo Reges: constructio interrete. Venit ad extremum; Quid enim de amicitia statueris utilitatis causa expetenda vides.
  Fortitudinis quaedam praecepta sunt ac paene leges, quae effeminari virum vetant in dolore. An dolor longissimus quisque miserrimus,
  voluptatem non optabiliorem diuturnitas facit? Certe, nisi voluptatem tanti aestimaretis. Vide, ne etiam menses! nisi forte eum dicis,
  qui, simul atque arripuit, interficit. Itaque hic ipse iam pridem est reiectus; Pauca mutat vel plura sane; Illa tamen simplicia, vestra
  versuta. Tu enim ista lenius, hic Stoicorum more nos vexat. Satisne ergo pudori consulat, si quis sine teste libidini pareat? Quarum
  ambarum rerum cum medicinam pollicetur, luxuriae licentiam pollicetur. Nihilo magis. Quid de Pythagora? Nihilne est in his rebus, quod
  dignum libero aut indignum esse ducamus? Qua igitur re ab deo vincitur, si aeternitate non vincitur?
</p>
