@import '~style/common';

.CheckoutItem {
  background: $white;
  border-radius: $border-radius;
  border: solid 1px $blue-grey-5;
  margin-bottom: $spacing-s;

  &__header {
    @include media-breakpoint-down(sm) {
      border-bottom: solid 1px $blue-grey-5;
    }
  }

  &__title {
    font-weight: $font-weight-chunky;
  }

  &__subtitle {
    font-size: $font-size-xs;
    line-height: 14px;
    color: $blue-grey-2;
  }

  &__price {
    font-size: $font-size-l;
    line-height: 23px;
    color: $blue-grey-1;
    font-weight: $font-weight-chunky;

    &--discount {
      text-decoration: line-through;
    }
  }

  &__button {
    background-color: $blue-grey-6;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    font-size: $font-size-s;
    text-align: center;
    color: $blue-grey-3;
    &:not(:last-child) {
      margin-right: $spacing-s;
    }
    &:hover {
      color: $white;
      background-color: $zone-bump;
    }
    &--selected {
      color: $white;
      background-color: $zone-bump-dark;
    }
  }

  &__border {
    @include media-breakpoint-up(xl) {
      border-right: solid 1px $blue-grey-5;
    }
  }
}
