<div class="item" [ngClass]="{ 'provincial-bump': provincialBump }">
  <tsl-item-avatar
    [item]="itemWithProducts.item"
    size="big"
    fallbackLight="true"
    title="{{ itemWithProducts.item.title }}"
  ></tsl-item-avatar>
  <div class="title">{{ itemWithProducts.item.title }}</div>
  <form class="durations border-l">
    <div ngbRadioGroup name="duration" [(ngModel)]="duration">
      <label ngbButtonLabel class="custom-radio" *ngFor="let duration of durations">
        <input ngbButton type="radio" [value]="duration" id="qa-bump-{{ duration / 24 }}-days" />
        <tsl-svg-icon *ngIf="selectedDuration === duration" src="/assets/icons/radio-button.svg"></tsl-svg-icon>
        <tsl-svg-icon *ngIf="selectedDuration !== duration" src="/assets/icons/radio-button-empty.svg"></tsl-svg-icon>
        {{ duration / 24 }}
        <span i18n="@@web_catalog_components_checkout_item_556">days</span>
      </label>
    </div>
  </form>
  <div *ngFor="let type of types" class="price border-l" [ngClass]="type">
    <ng-container *ngIf="itemWithProducts.products[duration][type]; else notAvailable">
      <button
        class="btn btn-price"
        id="qa-bump-{{ type }}"
        (click)="select(type)"
        [ngClass]="{ selected: type === selectedType && duration === selectedDuration }"
      >
        <s *ngIf="itemWithProducts.products[duration][type]?.original_market_code"
          >{{
            itemWithProducts.products[duration][type]?.original_market_code * creditInfo?.factor | customCurrency: creditInfo?.currencyName
          }}<tsl-wallacoin [currency]="creditInfo?.currencyName" color="strike"></tsl-wallacoin
        ></s>
        {{ itemWithProducts.products[duration][type]?.market_code * creditInfo?.factor | customCurrency: creditInfo?.currencyName
        }}<tsl-wallacoin [currency]="creditInfo?.currencyName"></tsl-wallacoin>
      </button>
    </ng-container>
    <ng-template #notAvailable>
      <span class="not-available" i18n="@@web_catalog_components_checkout_item_110">Not Available</span>
    </ng-template>
  </div>
</div>
