<div class="CheckoutItem d-flex flex-column p-4">
  <div *ngIf="isFreeOptionAvailable" class="CheckoutItem__subscription pb-3 mb-3 pb-md-0 d-flex align-items-center">
    <tsl-toggle-form [(ngModel)]="isFreeOptionSelected" (ngModelChange)="toggleItem()"></tsl-toggle-form>
    <span class="ml-2" i18n="@@highlight_item_view_pro_user_item_card_use_subscription_toggle_label_web_specific"
      >Highlight via Wallapop PRO subscription</span
    >
    <div class="ml-auto d-flex align-items-center CheckoutItem__delete" (click)="onRemoveItem(itemWithProducts.item.id)">
      <span class="d-none d-sm-flex mr-2" i18n="@@highlight_item_view_pro_user_item_card_remove_label_web_specific">Remove</span>
      <tsl-svg-icon [src]="'/assets/icons/delete.svg'"></tsl-svg-icon>
    </div>
  </div>
  <div class="d-flex w-100">
    <tsl-item-avatar
      class="d-none d-md-inline"
      [item]="itemWithProducts.item"
      size="big"
      title="{{ itemWithProducts.item.title }}"
    ></tsl-item-avatar>
    <div class="d-flex flex-column w-100">
      <div class="CheckoutItem__header d-flex align-items-center pb-3 pb-md-0">
        <tsl-item-avatar
          class="d-inline d-md-none"
          [item]="itemWithProducts.item"
          size="small"
          title="{{ itemWithProducts.item.title }}"
        ></tsl-item-avatar>
        <div class="CheckoutItem__title">{{ itemWithProducts.item.title }}</div>
        <div
          *ngIf="!isFreeOptionAvailable"
          class="ml-auto d-flex align-items-center CheckoutItem__delete"
          (click)="onRemoveItem(itemWithProducts.item.id)"
        >
          <span class="d-none d-sm-flex mr-2" i18n="@@highlight_item_view_pro_user_item_card_remove_label_web_specific">Remove</span>
          <tsl-svg-icon [src]="'/assets/icons/delete.svg'"></tsl-svg-icon>
        </div>
      </div>
      <div class="d-block d-sm-flex flex-wrap flex-xl-nowrap">
        <div>
          <div class="CheckoutItem__subtitle mb-1 mt-3" i18n="@@highlight_item_view_pro_user_item_card_visibility_area_label_web_specific">
            Visibility area
          </div>
          <div class="d-flex flex-xl-wrap CheckoutItem__border">
            <ng-container *ngFor="let type of availableTypes">
              <button
                class="btn CheckoutItem__button mb-0 mb-xl-2"
                (click)="selectType(type)"
                [ngClass]="{ 'CheckoutItem__button--selected': type === selectedType }"
              >
                <span [ngSwitch]="type.name">
                  <ng-container *ngSwitchCase="BUMP_TYPES.ZONE_BUMP">
                    <ng-container *ngIf="!itemWithProducts.isProvincialBump" i18n="@@web_cart_454">Local</ng-container>
                    <ng-container *ngIf="itemWithProducts.isProvincialBump" i18n="@@web_cart_455">Provincial</ng-container>
                  </ng-container>
                  <ng-container *ngSwitchCase="BUMP_TYPES.CITY_BUMP" i18n="@@web_cart_663">City</ng-container>
                  <ng-container *ngSwitchCase="BUMP_TYPES.COUNTRY_BUMP" i18n="@@web_cart_664">Country</ng-container>
                </span>
              </button>
            </ng-container>
          </div>
        </div>
        <div>
          <div class="CheckoutItem__subtitle mb-1 mt-3" i18n="@@highlight_item_view_pro_user_item_card_duration_label_web_specific">
            Duration
          </div>
          <div class="d-flex flex-xl-wrap">
            <ng-container *ngFor="let duration of availableDurations">
              <button
                class="btn CheckoutItem__button mb-0 mb-xl-2"
                (click)="selectDuration(duration)"
                [ngClass]="{ 'CheckoutItem__button--selected': selectedDuration === duration }"
              >
                {{ duration.duration / 24 }}<span ngPreserveWhitespaces> </span><span i18n="@@web_cart_665">days</span>
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="selectedDuration && selectedType" class="text-right w-100 mt-4">
    <ng-container *ngIf="isFreeOptionSelected; else noFreePrice">
      <span class="CheckoutItem__price--discount mr-2">
        {{ selectedDuration?.market_code * creditInfo?.factor | customCurrency: creditInfo?.currencyName }}
      </span>
      <span class="CheckoutItem__price">{{ 0 | customCurrency: creditInfo?.currencyName }}</span>
    </ng-container>
    <ng-template #noFreePrice>
      <span class="CheckoutItem__price">
        {{ selectedDuration?.market_code * creditInfo?.factor | customCurrency: creditInfo?.currencyName }}
      </span>
    </ng-template>
  </div>
</div>
