@import '~style/common';

.item {
  background: $white;
  border-radius: $border-radius;
  border: solid 1px $blue-grey-5;
  margin-bottom: $spacing-s;
  padding: $spacing-xs;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__button {
    background-color: $blue-grey-5;
    border-radius: $button-border-radius;
    font-size: $font-size-m;
    text-align: center;
    color: $blue-grey-1;
    font-weight: $font-weight-chunky;
    &:hover,
    &.selected {
      color: $white;
    }
    &.selected {
      box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      font-weight: $font-weight-chunky;
    }
    &:hover {
      background-color: $zone-bump;
    }
    &.selected {
      background-color: $zone-bump-dark;
    }
  }

  &.provincial-bump {
    .title {
      max-width: 274px;
    }
  }
  .border-l {
    border-left: solid 1px $blue-grey-5;
  }
  .durations {
    flex: 0 0 110px;
    padding-left: $spacing-ml;
    label {
      display: block;
      color: $blue-grey-3;
      font-size: $font-size-xs;
      margin: $spacing-s 0;
      &.btn {
        border: 0;
        background: none;
        padding: 0;
        border-radius: 0;
        text-align: left;
      }
      &.active {
        color: $blue-grey-1;
        font-weight: $font-weight-chunky;
      }
    }
  }
  .price {
    padding: 0 8px;
    .btn-price {
      background-color: $blue-grey-5;
      border-radius: $button-border-radius;
      font-size: $font-size-m;
      text-align: center;
      color: $blue-grey-1;
      font-weight: $font-weight-chunky;
      &:hover,
      &.selected {
        color: $white;
      }
      &.selected {
        box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        font-weight: $font-weight-chunky;
      }
    }
    &.zonebump {
      .btn-price {
        &:hover {
          background-color: $zone-bump;
        }
        &.selected {
          background-color: $zone-bump-dark;
        }
      }
    }
    &.citybump {
      .btn-price {
        &:hover {
          background-color: $city-bump;
        }
        &.selected {
          background-color: $city-bump-dark;
        }
      }
    }
    &.countrybump {
      margin-right: -$spacing-xs;
      .btn-price {
        &:hover {
          background-color: $country-bump;
        }
        &.selected {
          background-color: $country-bump-dark;
        }
      }
    }

    .not-available {
      text-align: center;
      width: 100%;
    }
  }
}
