<div class="row">
  <ng-container *ngIf="verificationsNSecurityStore.userVerifications$ | async as userVerifications">
    <div class="col-12" *ngIf="verificationsNSecurityStore.userInformation$ | async as userInfo">
      <h3 i18n="@@verification_and_security_all_users_verifications_title">Verifications</h3>
      <div class="row">
        <div class="col-md-6 col-12 mb-3">
          <tsl-verification-card
            [isVerified]="userVerifications?.email"
            [title]="titleVerifications[VERIFICATIONS_N_SECURITY_TYPES.EMAIL]"
            [footerLegend]="userInfo?.email"
            [textButton]="verifiedTextButton[userVerifications?.email.toString()]"
            (buttonClick)="onClickVerifyEmail(userVerifications?.email)"
          ></tsl-verification-card>
        </div>
        <div class="col-md-6 col-12">
          <tsl-verification-card
            [isVerified]="userVerifications?.phone"
            [title]="titleVerifications[VERIFICATIONS_N_SECURITY_TYPES.PHONE]"
            [footerLegend]="userInfo?.phone"
            [textButton]="verifiedTextButton[userVerifications?.phone.toString()]"
            (buttonClick)="onClickVerifyPhone()"
          ></tsl-verification-card>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<router-outlet></router-outlet>
