#map {
  & > ::ng-deep div {
    border-radius: 0.3rem;
  }
  &.normal {
    height: 500px;
  }
  &.small {
    height: 130px;
  }
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
