<div class="KYCNationality container h-100">
    <div class="row">
        <div class="col d-flex justify-content-between p-0">
            <a class="KYCNationality__back d-flex" (click)="handleBack()">
                <tsl-svg-icon src="/assets/icons/back-arrow.svg" class="align-self-center"></tsl-svg-icon>
                <span class="ml-3" id="headerMessage">{{header}}</span>
            </a>
            <tsl-svg-icon src="/assets/icons/cross.svg" class="KYCNationality__cross align-self-center" (click)="closeModal.emit()"></tsl-svg-icon>
        </div>
    </div>
    <!-- Quitar 100 -->
    <div class="row h-100">
        <div class="col d-flex flex-column justify-content-between">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="KYCNationality__content mt-4">
                        <div class="KYCNationality__drawing mb-4 w-100">
                            <tsl-svg-icon [src]="svgPath"></tsl-svg-icon>
                        </div>
                        <span class="KYCNationality__title d-block mt-4 mb-3 text-center">{{title}}</span>
                        <span class="KYCNationality__description d-block mb-3 text-center">{{description}}</span>
                        <tsl-dropdown
                            *ngIf="KYCNationality as nationality; else selectNationalityDropdown"
                            placeholder="Select document"
                            i18n-placeholder="@@kyc_select_document_view_header_placeholder" 
                            [options]="nationality.availableDocuments"
                            bindLabel="string"
                            bindValue="string"
                            class="form-control" 
                            (selected)="emitDocumentChange($event)"
                            name="document"
                            ngDefaultControl>
                        </tsl-dropdown>
                        <ng-template #selectNationalityDropdown>
                            <tsl-dropdown
                                placeholder="I'm from..."
                                i18n-placeholder="@@kyc_select_nationality_view_list_title_placeholder" 
                                [options]="KYC_NATIONALITIES"
                                bindLabel="string"
                                bindValue="string"
                                class="form-control" 
                                (selected)="emitNationalityChange($event)"
                                name="nationality"
                                ngDefaultControl>
                            </tsl-dropdown>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span i18n="@@kyc_select_nationality_view_data_privacy_description" class="KYCNationality__infoMessage d-block text-center">Your information is confidential. It will be used only for the explained purposes.</span>
                </div>
            </div>
        </div>
    </div>
</div>