@import '~style/common';

$drawing-height: 130px;

.KYCNationality {
  &__drawing {
    height: $drawing-height;
    tsl-svg-icon {
      ::ng-deep svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__optionsWrapper {
    flex: 1;
  }

  &__infoMessage {
    font-size: $font-size-s;
  }

  &__infoMessage {
    color: $blue-grey-4;
  }

  &__content {
    width: 100%;
    @include media-breakpoint-up(sm) {
      width: 70%;
    }
  }

  &__title,
  &__description,
  &__back {
    color: $blue-grey-1;
  }

  &__title {
    font-weight: $font-weight-chunky;
    font-size: $font-size-l;
  }

  &__description {
    font-size: $font-size-m;
  }

  &__back {
    cursor: pointer;
    &:hover {
      text-decoration: none;
      &,
      tsl-svg-icon {
        opacity: 0.8;
      }
    }
  }

  &__cross {
    cursor: pointer;
  }
}
