@import "~style/common";

:host {
  background-color: $white;
  box-shadow: 0 -2px 6px 0 rgba(37, 50, 56, 0.05);
  padding: $spacing-ml $spacing-xl;
  color: $blue-grey-1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items {
  display: flex;
}

.item {
  display: inline-flex;
  align-items: center;
  position: relative;
  .last {
    position: absolute;
    top: 0;
    display: block;
    @include square($item-avatar-size-small);
    border-radius: 4px;
    border: solid 1px $blue-grey-4;
    background: $white;
    text-align: center;
    font-weight: $font-weight-chunky;
    line-height: $line-height-xxl;
  }
}

.actions {
  display: flex;
  align-items: center;
  &.feature {
    margin: $spacing-s 0;
    .address {
      position: absolute;
      bottom: -12px;
      font-size: $font-size-xxxs;
      color: $blue-grey-3;
    }
  }
}
