@import "../../../../style/_common.scss";

:host {
  background-color: $white;
  box-shadow: 0 -2px 6px 0 rgba(37, 50, 56, 0.05);
  padding: $spacing $spacing-L;
  color: $grey-900;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items {
  display: flex;
}

.item {
  display: inline-flex;
  align-items: center;
  position: relative;
  .last {
    position: absolute;
    top: 0;
    display: block;
    @include square($item-avatar-size-small);
    border-radius: 4px;
    border: solid 1px $grey-100;
    background: $white;
    text-align: center;
    font-weight: bold;
    line-height: $item-avatar-size-small;
  }
}

.actions {
  display: flex;
  align-items: center;
}

.total-label {
  font-size: $font-size-XS;
  text-align: right;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-right: $spacing;
}

.total {
  font-size: $font-size-XL;
  text-align: right;
  font-weight: bold;
  margin-right: $spacing;
}

.btn {
  color: $white;
  padding: 10px 18px;
  &:not([disabled]) {
    cursor: pointer;
  }
  &.btn-reserve {
    background-color: $reserve-bg;
  }
  &.btn-delete {
    background-color: $delete-bg;
  }
  &.btn-feature {
    background-color: $corporate;
  }
  &:not([disabled]):hover {
    opacity: .8;
  }
}
