@import "~style/common";

:host {
  background-color: $white;
  box-shadow: 0 -2px 6px 0 rgba(37, 50, 56, 0.05);
  padding: $spacing $spacing-L;
  color: $grey-900;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items {
  display: flex;
}

.item {
  display: inline-flex;
  align-items: center;
  position: relative;
  .last {
    position: absolute;
    top: 0;
    display: block;
    @include square($item-avatar-size-small);
    border-radius: 4px;
    border: solid 1px $grey-100;
    background: $white;
    text-align: center;
    font-weight: bold;
    line-height: $item-avatar-size-small;
  }
}

.actions {
  display: flex;
  align-items: center;
  &.feature {
    margin: $spacing-XS 0;
    .address {
      position: absolute;
      bottom: -$spacing-S;
      font-size: $font-size-xxxs;
      color: $grey-250;
    }
  }
}
