@import "~style/common";

#left-panel {
  position: relative;
  float: left;
  background-color: $white;
  width: $left-panel-width;
  border-right: 1px solid $blue-grey-4;
}

#center-panel {
  margin-left: $left-panel-width;
  background-color: $white;
  position: relative;
}

#empty-state {
  height: 100vh;
  margin-left: $left-panel-width;
  position: relative;
  background: $white;
  .content {
    @include in-the-middle;
    text-align: center;
    .image {
      width: 211px;
      height: 220px;
    }
    h2 {
      font-size: $font-size-m;
      color: $blue-grey-2;
      line-height: 24px;
    }
  }
}
