<div id="left-panel">
    <tsl-connection-alert></tsl-connection-alert>
    <tsl-inbox (loaded)="onLoaded($event)"></tsl-inbox>
</div>
<div id="empty-state">
    <div class="content">
        <div [hidden]="!conversationsLoaded">
            <mat-icon svgIcon="empty-state" class="image"></mat-icon>
            <h2 [hidden]="conversationsTotal == 0" i18n>Choose a conversation<br />
                from the list on the left</h2>
            <h2 [hidden]="conversationsTotal > 0 || connectionError" i18n>There are no messages</h2>
            <h2 [hidden]="!connectionError" i18n>Service not available at the moment.<br />
                Try again later.</h2>
        </div>
        <tsl-spinner [hidden]="conversationsLoaded" [firstLoad]="firstLoad"></tsl-spinner>
    </div>
</div>