@import "~style/common";

#left-panel {
  position: relative;
  float: left;
  background-color: $white;
  width: $left-panel-width;
  border-right: 1px solid $blue-grey-4;
}

#center-panel {
  height: 100%;
  margin-left: $left-panel-width;
  background-color: $white;
  position: relative;

  tsl-current-conversation {
    height: 100%;
  }
}

