@import '~web-styleguide/scss/colors';
@import '~web-styleguide/scss/spacing';
@import '~web-styleguide/scss/text';

$spacing-10: 10px;
$spacing-14: 14px;
$spacing-23: 23px;

.TransactionTrackingInstructions {
  &__content {
    padding: $spacing-14 $spacing-ml;
  }
  &__title {
    font-weight: $font-weight-chunky;
    margin-top: $spacing-xl;
  }
  &__instruction {
    border-bottom: 1px solid $blue-grey-4;
    padding: $spacing-23 0;
    &__index {
      font-weight: $font-weight-chunky;
      padding: 0 $spacing-s;
    }
    &__description {
      padding-left: $spacing-10;
    }
  }
  &__additionalInfo {
    background-color: $blue-grey-5;
    border-radius: 10px;
    margin-top: $spacing-ml;
    padding: $spacing-ms;
    &__title {
      font-weight: $font-weight-chunky;
    }
    &__description {
      margin-top: $spacing-10;
    }
  }
  &__footer {
    margin-top: $spacing-ml;
    padding: $spacing-ml 0;
    &__action {
      margin-top: $spacing-ml;
    }
  }
  &__actionButton {
    width: 200px;
  }
}
