<div
  *ngIf="transactionTrackingInstructions$ | async as transactionTrackingInstructions"
  class="TransactionTrackingInstructions d-flex w-100 flex-column box mt-3 p-3 container profile-box"
>
  <tsl-transaction-tracking-header [transactionTrackingHeader]="transactionTrackingInstructions.header"></tsl-transaction-tracking-header>
  <div class="TransactionTrackingInstructions__bodyWrapper">
    <tsl-transaction-tracking-banner [banner]="transactionTrackingInstructions.body.banner"></tsl-transaction-tracking-banner>
    <div class="TransactionTrackingInstructions__titleWrapper align-self-start">{{ transactionTrackingInstructions.body.title }}</div>
    <div
      *ngFor="let instruction of transactionTrackingInstructions.body.instructions; index as index"
      class="TransactionTrackingInstructions__instruction d-flex align-items-start"
    >
      <div class="TransactionTrackingInstructions__instruction__index">{{ index + 1 }}</div>
      <div class="TransactionTrackingInstructions__instruction__description">
        <span [innerHTML]="instruction.description | bypassHTML" *ngIf="!instruction.action"></span>
        <tsl-transaction-tracking-action-selector *ngIf="!!instruction.action" [actionDetail]="instruction.action">
          <span [innerHTML]="instruction.description | bypassHTML"></span>
        </tsl-transaction-tracking-action-selector>
      </div>
    </div>
  </div>
</div>
