<div
  *ngIf="transactionTrackingInstructions$ | async as instructions"
  class="TransactionTrackingInstructions d-flex w-100 flex-column box mt-3 p-3 container"
>
  <tsl-transaction-tracking-header [transactionTrackingHeader]="instructions.header"></tsl-transaction-tracking-header>
  <div class="TransactionTrackingInstructions__content">
    <tsl-transaction-tracking-banner
      *ngIf="!!instructions.body.banner"
      [banner]="instructions.body.banner"
    ></tsl-transaction-tracking-banner>
    <div class="TransactionTrackingInstructions__title align-self-start">{{ instructions.body.title }}</div>
    <div
      *ngFor="let instruction of instructions.body.instructions; index as index"
      class="TransactionTrackingInstructions__instruction d-flex align-items-start"
    >
      <div class="TransactionTrackingInstructions__instruction-index">{{ index + 1 }}</div>
      <div class="TransactionTrackingInstructions__instruction-description">
        <span
          class="TransactionTrackingInstructions__instruction-action"
          [innerHTML]="instruction.description | bypassHTML"
          *ngIf="!instruction.action"
        ></span>
        <tsl-transaction-tracking-action-selector *ngIf="!!instruction.action" [actionDetail]="instruction.action">
          <span [innerHTML]="instruction.description | bypassHTML"></span>
        </tsl-transaction-tracking-action-selector>
      </div>
    </div>
    <div *ngIf="!!instructions.body.additionalInfo" class="TransactionTrackingInstructions__additionalInfo">
      <span *ngIf="!!instructions.body.additionalInfo?.title" class="TransactionTrackingInstructions__additionalInfo-title">{{
        instructions.body.additionalInfo.title
      }}</span>
      <div
        *ngIf="!!instructions.body.additionalInfo?.description"
        class="TransactionTrackingInstructions__additionalInfo-description"
        [innerHTML]="instructions.body.additionalInfo.description | bypassHTML"
      ></div>
    </div>
    <div *ngIf="!!instructions.footer" class="TransactionTrackingInstructions__footer">
      <div
        *ngIf="!!instructions.footer?.description"
        class="TransactionTrackingInstructions__footer-description"
        [innerHTML]="instructions.footer.description | bypassHTML"
      ></div>
      <div *ngIf="!!instructions.footer?.actions">
        <div
          *ngFor="let footerAction of instructions.footer.actions"
          class="TransactionTrackingInstructions__footer-action d-flex align-items-center justify-content-center"
        >
          <tsl-transaction-tracking-action-selector *ngIf="!!footerAction.action" [actionDetail]="footerAction.action">
            <span [innerHTML]="footerAction.title | bypassHTML"></span>
          </tsl-transaction-tracking-action-selector>
        </div>
      </div>
    </div>
  </div>
</div>
