@import '~web-styleguide/scss/text';

.ItemExtraInfo {
  font-size: $font-size-s;

  &--car {
    > :not(:last-child) {
      margin-right: 5px;

      &::after {
        content: ' - ';
      }
    }
  }

  &:not(&--car) {
    > :not(:last-child) {
      margin-right: 5px;

      &::after {
        content: ' · ';
      }
    }
  }
}
