<div class="WalletPendingTransactionsList">
  <div class="WalletPendingTransactionsList__transactions"
    [ngClass]="{ 'WalletPendingTransactionsList__transactions--animated': animated }"
    [ngStyle]="tansactionsWrapperStyle"
  >
    <div class="WalletPendingTransactionsList__transactions__element" *ngFor="let pendingTransaction of pendingTransactions">
      <tsl-wallet-pending-transaction [walletPendingTransaction]="pendingTransaction"></tsl-wallet-pending-transaction>
    </div>
  </div>
  <div class="WalletPendingTransactionsList__arrow-down d-flex justify-content-center" *ngIf="isExpandableButtonVisible" (click)="toggleShowAllTransactions()">
    <tsl-svg-icon src="/assets/icons/dropdown-arrow.svg"></tsl-svg-icon>
  </div>
</div>