@import '~web-styleguide/scss/spacing';

.WalletPendingTransactionsList {
  &__transactions {
    overflow: hidden;

    &__element {
      &:not(:last-child) {
        margin-bottom: $spacing-xs;
      }
    }

    &--animated {
      transition: height 0.4s ease;
    }
  }

  &__arrow-down {
    margin-top: 22px;

    tsl-svg-icon {
      padding: 10px;
      cursor: pointer;
    }
  }
}
