@import '~style/common';

.MultiSelectFilter {
  &--bubble {
    margin-left: -24px;
    margin-right: -24px;
  }

  &__form {
    max-height: 325px;
  }
}

tsl-multi-select-form {
  ::ng-deep {
    .MultiSelectOption {
      &::after {
        height: 1px;
      }
    }
  }
}
