@import "~style/common";

tsl-card {
  cursor: pointer;
  border-radius: $border-radius;
  box-shadow: 0 0 2px 0 rgba($black, 0.1);
  transition: all 0.15s ease;
  & /deep/ tsl-card-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: $spacing-xs;
    position: relative;
    .featured {
      position: absolute;
      right: 8px;
      top: 8px;
    }
  }
  & /deep/ tsl-profile-images {
    width: 50%;
    padding: $spacing-xs;
    .profile {
      width: 100%;
      margin: 0;
      background-position: center;
    }
  }
  & /deep/ tsl-card-content {
    display: flex;
    padding-top: $spacing-ms;
    position: relative;
    justify-content: space-between;
    div {
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      display: inline-block;
    }
    .tsl-card-title {
      width: 100%;
      margin-bottom: 0;
      @include media-breakpoint-down(sm) {
        font-size: $font-size-m;
      }
    }
  }

  & /deep/ tsl-user-avatar {
    width: 25%;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & /deep/ tsl-stars {
    display: flex;
  }

  & /deep/ tsl-card-footer {
    position: relative;
    .cart-footer-icon {
      position: absolute;
      &.active path {
        fill: #fd6c67;
        stroke: #d45b57;
      }
    }

    .cart-footer-text {
      text-align: center;
    }

    &:hover,
    &:focus {
      cursor: pointer;
      background: rgba($blue-grey-4, 0.2);
    }
  }
}
