@import '~style/common';

.InvoiceItem {
  padding: 0 $spacing-xs $spacing-xs;
  &__avatar {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: $blue-grey-5;
    display: flex;
    justify-content: center;
    align-items: center;
    tsl-svg-icon {
      width: 48px;
      height: 48px;
    }
  }
  &__content {
    border: 1px solid $blue-grey-5;
    border-radius: 10px;
    padding: $spacing-s;
    margin: $spacing-xs 0;
  }
  &__info-title {
    color: $blue-grey-3;
    &.subtitle {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__info-price {
    font-weight: $font-weight-chunky;
    font-size: $font-size-l;
    line-height: $font-size-l;
  }
  @media (max-width: 768px) {
    tsl-button {
      ::ng-deep button {
        border: none;
      }
    }
  }
}

.color-title {
  color: $walla-main;
}
