<div
  tslsanitizedBackground="{{avatar}}"
  [fallback]="fallback"
  [ngClass]="size">
  <span class="overlay" *ngIf="item?.sold || item?.reserved || item?.purchases"></span>
  <span class="sold" *ngIf="item?.sold">
    <mat-icon svgIcon="sold"></mat-icon>
  </span>
  <span class="reserved" *ngIf="item?.reserved && !item?.sold && !item?.featured">
    <mat-icon svgIcon="reserved"></mat-icon>
  </span>
  <span class="featured" [class.planned]="item.purchases.scheduled_bump_type && !item.plannedStartsToday"
        *ngIf="item?.purchases && !item?.urgent && !item?.sold && !item.flags.onhold"
        [ngClass]="item?.purchases?.bump_type || item?.purchases?.scheduled_bump_type">
    <mat-icon svgIcon="wing"></mat-icon>
  </span>
  <span class="urgent" *ngIf="item?.urgent && !item?.sold && !item.flags.onhold">
    <mat-icon svgIcon="urgent"></mat-icon>
  </span>
</div>
