@import "~style/common";

div {
  @include square-avatar($item-avatar-size);
  margin-right: $item-avatar-margin;
  display: flex;
  position: relative;
  &.transition {
    transition: height 1s, width 1s
  }
  &.small {
    @include square-avatar($item-avatar-size-small);
  }
  &.medium {
    @include square-avatar($item-avatar-size-medium);
  }
  &.big {
    @include square-avatar($item-avatar-size-big);
  }
  &.bigger {
    @include square-avatar($item-avatar-size-bigger);
  }
  &.xl {
    @include square-avatar($item-avatar-size-xl);
  }
  &.rectangle-xl {
    @include rectangle-avatar($item-avatar-size-l, $item-avatar-size-xl);
  }

  &.full {
    width: 100%;
    padding-top: 100%;
    span {
      position: absolute;
      top: 12px;
      left: 12px;
      &.overlay {
        background: none;
      }
    }
  }
}

.overlay {
  background-color: $blue-grey-1;
  position: absolute;
  @include square-avatar(100%);
  opacity: .5;
  z-index: 1;
  .small & {
    display: none;
  }
}

$sold-width: 32px;
.sold, .reserved, .not-available {
  @include square($sold-width);
  border-radius: 50%;
  display: flex;
  background-color: $white;
  margin: auto;
  z-index: 2;
  mat-icon {
    margin: auto auto;
    @include square(21px);
  }
  .small & {
    display: none;
  }
}

.reserved {
  mat-icon {
    height: 17px;
    width: 12px;
    vertical-align: sub;
  }
}
