<div
  tslsanitizedBackground="{{avatar}}"
  [fallback]="fallback"
  [ngClass]="size" class="transition">
  <span class="overlay" *ngIf="item?.sold || item?.reserved || item?.notAvailable || item?.unpublished"></span>
  <span class="not-available" *ngIf="item?.notAvailable || item?.unpublished && showAvailableStatus">
    <mat-icon svgIcon="not-available"></mat-icon>
  </span>
  <span class="sold" *ngIf="item?.sold && !item?.notAvailable">
    <mat-icon svgIcon="sold"></mat-icon>
  </span>
  <span class="reserved" *ngIf="item?.reserved && !item?.sold && !item?.notAvailable && !item?.unpublished">
    <mat-icon svgIcon="reserved"></mat-icon>
  </span>
</div>
