@import "~style/common";

.modal-close {
  @include square(13px);
  mat-icon {
    @include square(13px);
    line-height: initial;
  }
}
img {
  width: 126px;
  margin-bottom: $spacing;
  &.fail {
    width: 63px;
  }
}
p {
  max-width: 300px;
  margin: 0 auto $spacing-3M auto;
  font-size: $font-size;
  color: $grey-500;
  &.credit-info {
    color: $corporate;
  }
}
h1 {
  font-weight: bold;
  font-size: $font-size-L;
  margin-bottom: $spacing-S;
  &.fail {
    color: $warn;
  }
}

.link {
  color: $grey-250 !important;
  margin-top: $spacing-S;
  display: inline-block;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.success-content {
  display: flex;
  .image-col {
    background-color: $grey-250;
    min-width: 280px;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    display: flex;
    justify-content: center;
    img {
      width: 200px;
    }
  }
  .content-col {
    text-align: center;
    padding: 52px $spacing-40;
  }
}

.error-content {
  background: url(/assets/images/bump-ko.svg) no-repeat 112px;
  padding: $spacing-40;
  padding-left: 260px;
}
