@import "~style/common";

:host {
  padding: $spacing-xl;
  text-align: center;
}
.modal-close {
  @include square(13px);
  top: 10px;
  right: 10px;
  mat-icon {
    @include square(13px);
    line-height: initial;
  }
}
img {
  width: 126px;
  margin-bottom: $spacing-ml;
  &.fail {
    width: 63px;
  }
}
p {
  max-width: 300px;
  margin: 0 auto $spacing-xl auto;
  font-size: $font-size;
  color: $grey-500;
}
h1 {
  font-weight: bold;
  color: $corporate;
  font-size: $font-size-LL;
  margin-bottom: $spacing-ms;
  &.fail {
    color: $warn;
  }
}

.link {
  color: $grey-250 !important;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
