@import "~style/common";

.modal-close {
  @include square(13px);
  tsl-svg-icon {
    @include square(13px);
    line-height: initial;
  }
}
img {
  width: 126px;
  margin-bottom: $spacing-ml;
  &.fail {
    width: 63px;
  }
}

.link {
  color: $blue-grey-3 !important;
  margin-top: $spacing-ms;
  display: inline-block;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.success-content {
  display: flex;
  .content-col {
    text-align: center;
    padding: $spacing-xxl;
    .modal-text {
      max-width: 300px;
      margin: 0 auto $spacing-l auto;
      &.credit-info {
        color: $walla-main;
      }
    }
  }
}

.error-content {
  background: url(/assets/images/bump-ko.svg) no-repeat 112px;
  padding: $spacing-xxl;
  padding-left: 260px;
  .modal-text {
    margin-bottom: $spacing-ml;
  }
}
