<div class="wallapop-search-input">
    <input 
        type="text"
        i18n-placeholder="@@web_components_suggester_7" 
        placeholder="Search in All categories" 
        maxlength="150"
        [ngModel]="searchBoxValue$ | async" 
        [inputFormatter]="inputFormatter"
        [ngbTypeahead]="suggest" 
        [resultTemplate]="suggester" 
        [focusFirst]="false"
        (ngModelChange)="onSearchBoxValueChange($event)"
        (keydown.enter)="onSearchSubmit()"
    />
    <tsl-svg-icon src="/assets/icons/glass_icon.svg" width="28" height="28"></tsl-svg-icon>
</div>

<ng-template #suggester let-r="result">
    <div class="suggestion" (click)="onSuggestionClick(r)">
        <span class="title">{{ r.suggestion }}</span>
        <span class="category">{{ r.category_name }}</span>
    </div>
</ng-template>