@import '~style/common';

:host {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 $spacing-m;
}

.SearchBox {
  position: relative;
  width: 100%;
  &__glass {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    z-index: 1;
    width: 28px;
    height: 28px;
    ::ng-deep svg path {
      fill: $blue-grey-3;
    }
  }
  &__input {
    width: 100%;
    height: 42px;
    border-radius: 21px;
    background-color: $blue-grey-5;
    border: 1px solid transparent;
    font-family: $wallie;
    position: relative;
    appearance: none;
    font-size: $font-size-s;
    color: $blue-grey-1;
    padding: 0 $spacing-xl 0 $spacing-xxl;
    transition: width 200ms ease;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: none;
    &::placeholder {
      color: $blue-grey-3;
    }
    &:focus {
      border: solid 1px $walla-main;
      background-color: $white;
      + tsl-svg-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        z-index: 1;
        width: 28px;
        height: 28px;
        ::ng-deep svg path {
          fill: $walla-main;
        }
      }
    }
  }

  &__reset {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 21px;
    height: 21px;
  }

  &--active {
    .SearchBox__input {
      border: solid 1px $walla-main;
      background-color: $white;
    }
    .SearchBox__glass {
      ::ng-deep svg path {
        fill: $walla-main;
      }
    }
  }
}

:host ::ng-deep .dropdown-menu {
  padding: 0;
  overflow: hidden;
  margin: $spacing-xs 0 0;
  width: 500px;
  @include media-breakpoint-down(md) {
    position: fixed !important;
    top: $topbar-height !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    transform: none !important;
    width: 100%;
    height: 100%;
  }
}

:host ::ng-deep .dropdown-item {
  background-color: transparent;
  cursor: pointer;
  color: $blue-grey-1;
  border-bottom: 1px solid $blue-grey-5;
  transition: all 0.15s linear;

  .SearchBox__suggestion {
    min-height: 57px;
  }

  .SearchBox__suggestionTitle {
    font-size: $font-size-m;
  }

  .SearchBox__suggestionCategory {
    font-size: $font-size-s;
    color: $walla-main;
  }

  &.active {
    background-color: $blue-grey-5;
  }
}
