<div class="SearchBox" [class.SearchBox--active]="(searchBoxValue$ | async).keywords">
    <input
        class="SearchBox__input"
        type="search"
        [placeholder]="searchBoxPlaceholder$ | async" 
        maxlength="150"
        [ngModel]="searchBoxValue$ | async" 
        [inputFormatter]="inputFormatter"
        [ngbTypeahead]="suggest" 
        [resultTemplate]="suggesterTemplate" 
        [focusFirst]="false"
        (ngModelChange)="searchBoxValueChange($event)"
        (keydown.enter)="submitSearch()"
    />
    <tsl-svg-icon class="SearchBox__glass" src="/assets/icons/glass_icon.svg" width="28" height="28"></tsl-svg-icon>
    <tsl-svg-icon 
        *ngIf="(searchBoxValue$ | async).keywords" 
        (click)="resetKeyword()"
        class="SearchBox__reset" src="/assets/icons/top-bar/search-box-reset.svg" width="21" height="21">
    </tsl-svg-icon>
</div>

<ng-template #suggesterTemplate let-suggestion="result">
    <div class="SearchBox__suggestion d-flex flex-column justify-content-center" (click)="suggestionClick(suggestion)">
        <span class="SearchBox__suggestionTitle">
            {{ suggestion.suggestion }}
        </span>
        <span class="SearchBox__suggestionCategory">
            {{ suggestion.category_name }}
        </span>
    </div>
</ng-template>