@import '~style/common';

:host {
  display: block;
}

.HashtagField {
  &__form {
    height: 100%;
  }

  &__counter {
    color: $blue-grey-3;
    float: right;
    font-size: $font-size-s;
  }

  &__suggested,
  &__search {
    flex: 1;
  }

  &__search {
    &__box {
      background-color: $white;
      border-radius: 6px;
      border: 1px solid $blue-grey-4;
      height: 100%;
    }

    &__error {
      color: $negative-main;
      font-size: $font-size-s;
      line-height: $line-height-ml;
    }
  }

  &__suggested {
    &__title {
      color: $blue-grey-2;
    }
  }
}
