<tsl-third-voice-message *ngIf="!item.isMine" [message]="message">
  <span i18n="@@thirdVoiceReviewFirstMessage">It's great that you have found what you were looking for&nbsp;</span>
  <span class="emoticon-hug"></span>
</tsl-third-voice-message>

<tsl-third-voice-message [message]="message">
  <span i18n="@@thirdVoiceReviewSecondMessage">How did it go? Take a minute to review the user, your opinion helps to improve our community!</span>
  <tsl-third-voice-button *ngIf="isReview()" [message]="message" [user]="user" [item]="item"
                          class="text-center"></tsl-third-voice-button>
</tsl-third-voice-message>
