<tsl-third-voice-message [message]="message">
  <span i18n>Good that you found what you were looking for!</span>
</tsl-third-voice-message>

<tsl-third-voice-message [message]="message">
  <span i18n>How did it go? Take a moment to review the other user and help other Wallapopers make smart choices.</span>
  <tsl-third-voice-button *ngIf="isReview()" [message]="message" [user]="user" [item]="item"
                          class="text-center"></tsl-third-voice-button>
</tsl-third-voice-message>
