<div class="d-flex justify-content-center text-center p-3 TryProSlot">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <div class="d-flex align-items-center mt-2 mb-3">
      <tsl-svg-icon class="mr-1" src="/assets/icons/pro-seal.svg"></tsl-svg-icon>
      <span class="TryProSlot__description" i18n="@@wallapopPro">Wallapop PRO</span>
    </div>
    <div class="mb-3">
      <span class="TryProSlot__description" i18n="@@TryProSlotDescription">Want to boost your sales on wallapop? Become a PRO!</span>
    </div>
    <div>
      <tsl-button className="btn btn-dark" (click)="onClick()">{{CTAtext}}</tsl-button>
    </div>
  </div>
  <div class="TryProSlot__close m-3" (click)="onClose()">
    <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
  </div>
</div>
