@import "~style/common";

.modal-body {
    padding: $spacing-L;
}

.modal-body {
    padding-top: $spacing-XL;
    padding-left: $spacing-L;
    padding-right: $spacing-L;
}

h1 {
    font-size: $font-size-ll;
    color: $corporate;
    font-weight: bold;
    margin-bottom: $spacing-L;
}

h2 {
    font-size: $font-size-l;
    color: $grey-900;
    font-weight: normal;
    strong {
        font-weight: bold;
    }
}

p {
    font-size: $font-size-s;
    color: $grey-500;
    margin-top: $spacing-XS;
    &.text {
        color: $grey-900;
    }
}

tsl-stars-rate {
    margin: $spacing 0;
}

#price {
    border: 0;
    border-bottom: 1px solid $grey-100;
    border-radius: 0;
    display: inline;
    text-align: right;
    padding: 0;
    margin-right: $spacing-S;
}

#price, .currency {
    font-size: $font-size-l;
}

textarea {
    height: 230px;
    margin-top: $spacing-XL;
    margin-bottom: $spacing;
}