@import "~style/common";

/deep/ {
    .header-title {
        font-size: $font-size-LL;
        color: $grey-900;
        font-weight: bold;
        .badge {
          margin-left: $spacing-ms;
          vertical-align: middle;
        }
    }

    .header-row {
        display: flex;
        align-items: center;
    }

    .header-row-margin {
        margin-bottom: $spacing-ml;
    }

    .header-subtitle {
        font-size: $font-size-S;
        color: $grey-300;
        margin-bottom: 0;
        line-height: $spacing-ml;
    }

    .header-separator {
        color: $grey-300;
        margin: 0 $spacing-m;
    }

    .header-link {
        font-size: $font-size-S;
    }

    .header-numbers {
        color: $grey-250;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        .header-numbers-top {
            font-size: 20px;
            font-weight: 700;
            line-height: 1.1;
            margin-bottom: 0;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .header-numbers-bottom {
            font-size: 14px;
            margin-bottom: 0;
        }
    }
}
