@import "~style/common";

$transition-time: .15s;
$check-width-and-spacing: 50px;
$menu-width-and-spacing: 10px;
:host {
  display: block;
  padding: $spacing-ml $spacing-ms $spacing-ml $spacing-ml;
  box-sizing: border-box;
  transition: $transition-time ease background-color,
  $transition-time ease border;
  border-top: 1px solid $blue-grey-5;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  &:first-child {
    border-top: 0;
  }
  &.active {
    background-color: rgba($blue-grey-4, .4);
  }
  tsl-archive-button, tsl-unarchive-button {
    @include hide();
    position: absolute;
    top: 43px;
    right: 12px;
  }
  &:hover {
    background-color: rgba($blue-grey-4, .2);
  }
  &.professional {
    &:hover {
      tsl-archive-button, tsl-unarchive-button {
        @include show();
      }
      .badge-pill, .blocked {
        display: none;
      }
      .message-row, .user-name-row-left {
        max-width: calc(100% - #{$check-width-and-spacing});
      }
      &.archive {
        overflow: visible;
        .message-row, .user-name-row-left {
          max-width: calc(100% - #{$menu-width-and-spacing});
        }
      }
    }
  }


  & /deep/ tsl-item-avatar div {
    float: left;
  }
}
.conversation-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: $item-avatar-size;
  margin-left: $item-avatar-space;
  max-width: calc(100% - #{$item-avatar-size} - #{$item-avatar-margin});
  color: $blue-grey-1;
  p {
    font-size: $font-size-s;
    margin-bottom: 0;
    @include text-truncate();
  }
  .item-title-row {
    line-height: $line-height-m;
    display: flex;
    flex-direction: row;
    vertical-align: super;
    .conversation-item-title {
      font-weight: $font-weight-chunky;
      font-size: $font-size-s;
      display: flex;
    }
    .conversation-item-title {
      @include text-truncate;
      flex-grow: 1;
      span {
        @include text-truncate;
        flex-grow: 1;
      }
    }
    .conversation-item-meta {
      flex: none;
      margin-left: $spacing-xs;
    }
  }
  .user-name-row {
    $phone-icon-size: 18px;
    $phone-icon-adjusted-size: 15px;
    line-height: $line-height-ml;
    overflow: hidden;
    font-size: $font-size-xs;
    display: flex;
    flex-direction: row;
    .user-name-row-left {
      @include text-truncate;
      flex-grow: 1;
      span {
        @include text-truncate;
        flex-grow: 1;
      }
    }
    .user-name-row-right {
      flex: none;
    }
    mat-icon, span {
      vertical-align: middle;
    }
    mat-icon {
      @include square($phone-icon-adjusted-size);
    }
    .badge-pill {
      background-color: $negative-main;
      height: 20px;
      width: 20px;
      padding: 0;
      line-height: $line-height-ml;
      font-size: $font-size-xs;
    }
    .user-name {
      color: $blue-grey-1;
    }
    &.has-phone {
      $phone-icon-size: 10px;
      .user-name {
        width: calc(100% - #{$phone-icon-size});
      }
    }
  }
  .message-row {
    line-height: $line-height-m;
    p.message {
      color: $blue-grey-2;
    }
    mat-icon {
      height: 15px;
      width: 15px;
      vertical-align: bottom;
    }
  }
}

.message-date {
  font-size: $font-size-xs;
  color: $blue-grey-2;
  text-transform: uppercase;
  font-weight: $font-weight-chunky;
}

a {
  cursor: pointer;
}
