<div class="page-content" #scrollPanel>
  <div class="container upload-page">
    <tsl-category-selector (onSelect)="setCategory($event)"></tsl-category-selector>
    <tsl-upload-car *ngIf="categoryId === 100"
                    [urgentPrice]="urgentPrice"
                    (onValidationError)="onValidationError()"
                    (onCategorySelect)="getUrgentPrice($event)">
    </tsl-upload-car>
    <tsl-upload-product *ngIf="categoryId && categoryId !== 100"
                        [categoryId]="categoryId"
                        [urgentPrice]="urgentPrice"
                        (onValidationError)="onValidationError()"
                        (onCategorySelect)="getUrgentPrice($event)">
    </tsl-upload-product>
  </div>
</div>
