<div class="page-content" #scrollPanel>
  <div class="container upload-page">
    <h1>
      <tsl-category-selector [categoryId]="uploadForm.value.category_id"></tsl-category-selector>
      <a class="upload-close-icon" [routerLink]="['/catalog/list']">
        <md-icon svgIcon="cross"></md-icon>
      </a>
    </h1>
    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
      <div class="box">
        <h2 i18n>Information about your item</h2>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="headline" i18n>What are you selling?</label>
              <span class="chars-counter">{{uploadForm.value?.title?.length}}/50</span>
              <input i18n-placeholder placeholder="In two words..."
                     type="text" class="form-control" formControlName="title"
                     [ngbPopover]="coachmarkTitle"
                     #title id="headline" maxlength="50" />
              <ng-template #coachmarkTitle>
                <md-icon svgIcon="cm-eye"></md-icon>
                <div i18n>Don't make errors so that people will find you easily.</div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="price" i18n>Price</label>
              <input i18n-placeholder placeholder="(don't go crazy)"
                     type="number" class="form-control" formControlName="sale_price"
                     [ngbPopover]="coachmarkPrice"
                     id="price" min="0" max="999999999"/>
              <ng-template #coachmarkPrice>
                <md-icon svgIcon="cm-categories"></md-icon>
                <div i18n>Add a fair price and the category that best suits your item.</div>
              </ng-template>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label for="currency" i18n>Currency</label>
              <ng-select class="form-control" formControlName="currency_code" id="currency"
                         [ngbPopover]="coachmarkPrice" #p="ngbPopover" triggers="click" (blur)="p.close()"
                         [options]="currencies" noFilter="10"></ng-select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="category" i18n>Category</label>
              <ng-select [hidden]="fixedCategory" i18n-placeholder placeholder="Category"
                         class="form-control" formControlName="category_id"
                         [ngbPopover]="coachmarkPrice" #p="ngbPopover" triggers="click" (blur)="p.close()"
                         id="category" [options]="categories" noFilter="10">
                <ng-template
                  #optionTemplate
                  let-option="option">
                  <md-icon svgIcon="cat_{{option?.icon_id}}"></md-icon>
                  {{option?.label}}
                </ng-template>
              </ng-select>
              <input *ngIf="fixedCategory" disabled type="text" class="form-control" [value]="fixedCategory" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group last">
              <label for="tellUs" i18n>Description</label>
              <span class="chars-counter">{{uploadForm.value?.description?.length}}/650</span>
              <textarea i18n-placeholder placeholder="Add relevant information such as condition, model, color..." fz-elastic class="form-control"
                        [ngbPopover]="coachmarkDescription"
                        formControlName="description" id="tellUs" maxlength="650"></textarea>
              <ng-template #coachmarkDescription>
                <md-icon svgIcon="cm-chat"></md-icon>
                <div i18n>Every detail helps: so tell us more!</div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="box product-photos" [ngbPopover]="coachmarkPictures" triggers="mouseenter:mouseleave">
        <h2 i18n>Photos</h2>
        <tsl-drop-area [uploadEvent]="uploadEvent" (onUploaded)="onUploaded($event)" (onError)="onError($event)" formControlName="images"
                       [ngbPopover]="coachmarkDrag" triggers="mouseenter:mouseleave"></tsl-drop-area>
        <ng-template #coachmarkPictures>
          <md-icon svgIcon="cm-camera"></md-icon>
          <div i18n>You can drag and drop your photos here. Max 4MB.</div>
        </ng-template>
        <ng-template #coachmarkDrag>
          <md-icon svgIcon="cm-drag"></md-icon>
          <div i18n>Select and drag to change the order.</div>
        </ng-template>
      </div>
      <div class="box" [ngbPopover]="coachmarkExtras" triggers="mouseenter:mouseleave">
        <div class="selector-container terms-options" formGroupName="sale_conditions" data-toggle="buttons">
          <h2 i18n>Extras</h2>
          <label class="btn selector" [class.active]="uploadForm.value.sale_conditions.fix_price">
            <input type="checkbox" formControlName="fix_price">
            <md-icon svgIcon="firm-price"></md-icon>
            <span i18n>Firm Price</span>
          </label>
          <label class="btn selector" [class.active]="uploadForm.value.sale_conditions.shipping_allowed">
            <input type="checkbox" formControlName="shipping_allowed">
            <md-icon svgIcon="shipping-available"></md-icon>
            <span i18n>Shipping available</span>
          </label>
          <label class="btn selector" [class.active]="uploadForm.value.sale_conditions.exchange_allowed">
            <input type="checkbox" formControlName="exchange_allowed">
            <md-icon svgIcon="accept-trades"></md-icon>
            <span i18n>Accept trades</span>
          </label>
        </div>
        <ng-template #coachmarkExtras>
          <md-icon svgIcon="cm-question"></md-icon>
          <div i18n>FAQ</div>
        </ng-template>
      </div>
      <div class="box" [hidden]="!uploadForm.value.sale_conditions.shipping_allowed">
        <div class="selector-container shipping-options"  data-toggle="buttons">
          <h2 [ngClass]="{'ng-invalid': !uploadForm.controls.delivery_info.valid && uploadForm.controls.delivery_info.dirty}" i18n>Shipping</h2>
          <p i18n>Tell us how much it weighs.</p>
          <div ngbRadioGroup name="radioBasic" formControlName="delivery_info">
            <label class="btn selector" *ngFor="let delivery of deliveryInfo">
              <input type="radio" [value]="delivery.value">
              <md-icon svgIcon="shipping-{{delivery.value.max_weight_kg}}"></md-icon>
              <span><strong>{{delivery.value.max_weight_kg}}kg max</strong><br />{{delivery.size}}</span>
            </label>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="loading">
        <md-icon svgIcon="spinner" [hidden]="!loading" class="spinner white"></md-icon>
        <span [hidden]="loading" i18n>Post Ad</span>
      </button>
      <button type="button" (click)="preview()" class="btn btn-link" [disabled]="!uploadForm.valid" i18n>How does it look?</button>
    </form>
  </div>
</div>
