<div class="page-content" #scrollPanel>
  <div class="container upload-page">
    <h1>
      <tsl-category-selector [categoryId]="uploadForm.value.category_id"></tsl-category-selector>
      <a class="upload-close-icon" [routerLink]="['/catalog/list']">
        <md-icon svgIcon="cross"></md-icon>
      </a>
    </h1>
    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
      <div class="box">
        <h2 i18n>Product info</h2>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="headline" i18n>What are you selling?</label>
              <span class="chars-counter">{{uploadForm.value?.title?.length}}/50</span>
              <input i18n-placeholder placeholder="In a couple of words…" type="text" class="form-control" formControlName="title" id="headline" maxlength="50"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="price" i18n>Price</label>
              <input i18n-placeholder placeholder="Fair price" type="number" class="form-control" formControlName="sale_price" id="price" min="0" max="999999999"/>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label for="currency" i18n>Currency</label>
              <ng-select class="form-control" formControlName="currency_code" id="currency" [options]="currencies"
                         noFilter="10"></ng-select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="category" i18n>Category</label>
              <ng-select [hidden]="fixedCategory" i18n-placeholder placeholder="Category" class="form-control" formControlName="category_id" id="category" [options]="categories" noFilter="10">
                <ng-template
                  #optionTemplate
                  let-option="option">
                  <md-icon svgIcon="cat_{{option?.icon_id}}"></md-icon>
                  {{option?.label}}
                </ng-template>
              </ng-select>
              <input *ngIf="fixedCategory" disabled type="text" class="form-control" [value]="fixedCategory" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group last">
              <label for="tellUs" i18n>Description</label>
              <span class="chars-counter">{{uploadForm.value?.description?.length}}/650</span>
              <textarea i18n-placeholder placeholder="Tell us more about what you are selling..." fz-elastic class="form-control" formControlName="description" id="tellUs" maxlength="650"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="box product-photos">
        <h2 i18n>Pictures</h2>
        <tsl-drop-area [uploadEvent]="uploadEvent" (onUploaded)="onUploaded($event)" (onError)="onError($event)" formControlName="images"></tsl-drop-area>
      </div>
      <div class="box">
        <div class="selector-container terms-options" formGroupName="sale_conditions" data-toggle="buttons">
          <h2 i18n>Extras</h2>
          <label class="btn selector" [class.active]="uploadForm.value.sale_conditions.fix_price">
            <input type="checkbox" formControlName="fix_price">
            <md-icon svgIcon="firm-price"></md-icon>
            <span i18n>Firm Price</span>
          </label>
          <label class="btn selector" [class.active]="uploadForm.value.sale_conditions.shipping_allowed">
            <input type="checkbox" formControlName="shipping_allowed">
            <md-icon svgIcon="shipping-available"></md-icon>
            <span i18n>Shipping allowed</span>
          </label>
          <label class="btn selector" [class.active]="uploadForm.value.sale_conditions.exchange_allowed">
            <input type="checkbox" formControlName="exchange_allowed">
            <md-icon svgIcon="accept-trades"></md-icon>
            <span i18n>Accept trades</span>
          </label>
        </div>
      </div>
      <div class="box" [hidden]="!uploadForm.value.sale_conditions.shipping_allowed">
        <div class="selector-container shipping-options"  data-toggle="buttons">
          <h2 [ngClass]="{'ng-invalid': !uploadForm.controls.delivery_info.valid && uploadForm.controls.delivery_info.dirty}" i18n>Shipping</h2>
          <p i18n>If you are going to ship with wallapop, we need to know hou much does your product weight.</p>
          <div ngbRadioGroup name="radioBasic" formControlName="delivery_info">
            <label class="btn selector" *ngFor="let delivery of deliveryInfo">
              <input type="radio" [value]="delivery.value">
              <md-icon svgIcon="shipping-{{delivery.value.max_weight_kg}}"></md-icon>
              <span i18n><strong>{{delivery.value.max_weight_kg}}kg Max</strong><br />{{delivery.size}}</span>
            </label>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="loading">
        <md-icon svgIcon="spinner" [hidden]="!loading" class="spinner white"></md-icon>
        <span [hidden]="loading" i18n>List item</span>
      </button>
    </form>
  </div>
</div>
