@import "../../../style/_common.scss";

.container {
  width: 700px;
}

.box {
  border-radius: $border-radius;
  background-color: $white;
  border: solid 1px $grey-50;
  padding: $spacing;
  margin-bottom: $spacing;
  h2 {
    font-weight: bold;
    text-transform: uppercase;
    color: $corporate;
    font-size: $font-size-S;
    margin-bottom: $spacing;
  }
}

h1 {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: .5px;
  margin: 0;
  margin-bottom: $spacing;
  color: $grey-900;
}

.box-content {
  border-radius: $border-radius;
  padding-bottom: $spacing-L;
}

.product-photos {
  position: relative;
}

.chars-counter {
  font-size: $font-size-XS;
  color: $grey-200;
  float: right;
  margin-top: $spacing-XXS;
}

.engine-options,
.terms-options,
.gear-options {
  margin: 5px 0 $spacing-L;
  h3 {
    font-size: $font-size-S;
    color: $grey-500;
  }
}

.terms-options {
  margin-bottom: 23px;
}

.car-box-selector {
  background-color: $grey-50;
  border-radius: $border-radius;
  display: inline-block;
  @include square($spacing-XL);
  margin-right: $spacing;
  line-height: $spacing-XL;
  position: relative;
  text-align: center;
  white-space: normal;
  &.btn {
    padding: 0;
    border-radius: $border-radius !important;
    &:focus, &.focus {
      box-shadow: none;
    }
  }
  span {
    display: block;
    text-transform: uppercase;
    color: $grey-300;
    font-weight: bold;
    font-size: 9px;
    letter-spacing: .4px;
    line-height: $font-size-S;
    margin-top: $spacing-XXS;
  }
  &.active {
    background-color: $corporate;
    span {
      color: $corporate;
    }
  }
  &:hover:not(.active) {
    cursor: pointer;
    span {
      color: $grey-700;
    }
  }
  md-icon {
    height: 26px;
    width: 26px;
  }
}

.btn-primary {
  padding: 14px 50px;
  margin-bottom: 65px;
  margin-top: $spacing-L - $spacing;
}
