@import "~style/common";

.container {
  width: 700px;
}

a.other-make {
  font-size: $font-size-xs;
  color: $walla-main;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: $walla-main;
    text-decoration: none;
  }
}

#carType ::ng-deep tsl-dropdown-list > div {
  .options ul li {
    background-repeat: no-repeat;
    background-position: 18px;
    padding-left: $spacing-xxxl !important;
    &:nth-child(1) {
      background-image: url(/assets/icons/small_car.svg);
    }
    &:nth-child(2) {
      background-image: url(/assets/icons/coupe_cabrio.svg);
    }
    &:nth-child(3) {
      background-image: url(/assets/icons/sedan.svg);
    }
    &:nth-child(4) {
      background-image: url(/assets/icons/family_car.svg);
    }
    &:nth-child(5) {
      background-image: url(/assets/icons/mini_van.svg);
    }
    &:nth-child(6) {
      background-image: url(/assets/icons/4X4.svg);
    }
    &:nth-child(7) {
      background-image: url(/assets/icons/van.svg);
    }
    &:nth-child(8) {
      background-image: url(/assets/icons/others-green.svg);
    }
  }
}
