<footer class="Footer">
  <div class="Footer__section container">
    <div class="row">
      <div class="Footer__section__container--first col-sm-12 col-md">
        <img src="/assets/images/footer/logo.png" alt="Wallapop">
        <p i18n="@@web_footer_copyright">Copyright © {{currentYear}} Wallapop © of their respective owners</p>
      </div>
      <div  class="col-sm-12 col-md">
        <div class="row">
          <div *ngFor="let section of FOOTER_SECTIONS" class="col-6 col-md">
            <ul class="Footer__section__list">
              <li>{{section.title}}</li>
              <li *ngFor="let link of section.links">
                <a [href]="link.href" rel="nofollow" target="_blank" (click)="trackEvent(link)" [title]="link.label" >{{link.label}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Footer__section">
    <div class="container row p-md-0">
      <a class="col-6 col-md p-0 Footer__section__item Footer__section__link" target="_blank" rel="nofollow noopener"
       [href]="app.href" *ngFor="let app of FOOTER_APPS" [title]="app.label">
        <tsl-svg-icon [src]="app.iconSrc"></tsl-svg-icon>
        {{app.label}}
      </a>
      <div class="col-6 col-md p-0 Footer__section__item--social">
       <a [href]="app.href" *ngFor="let app of FOOTER_SOCIAL" [title]="app.label" target="_blank" rel="nofollow me noopener">
        <tsl-svg-icon [src]="app.iconSrc"></tsl-svg-icon>
        </a>
      </div>
    </div>
  </div>
</footer>
