@import '~style/common';

$item-images-height: 477px;
$item-flag-height: 38px;
$icon-margin: $spacer;

.ItemImages {
  height: $item-images-height;

  &__image {
    border-radius: $border-radius;
    height: $item-images-height;
  }
}

::ng-deep .carousel-indicators {
  background: linear-gradient(to top, rgba($black, 0.25), rgba($black, 0));
  border-radius: $border-radius;
  height: 54px;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
