<div class="SubscriptionsSlotItem" 
  (click)="onClick(subscriptionSlot, $event)"
  [ngClass]="{
    'SubscriptionsSlotItem--selected': isSelected(),
    'SubscriptionsSlotItem--not-selected': selectedSubscriptionSlot && !isSelected(),
    'SubscriptionsSlotItem--single': subscriptionSlotsLength === 1
  }">

  <div class="SubscriptionsSlotItem__icon">
    <mat-icon svgIcon="{{subscriptionSlot.category.icon_id}}"></mat-icon>
  </div>

  <div class="SubscriptionsSlotItem__info">
    <div class="SubscriptionsSlotItem__info-title">
      <b><span i18n>Manage</span>&nbsp;<span>{{subscriptionSlot.category.name}}</span></b>
    </div>
    <div class="SubscriptionsSlotItem__info-description" i18n>You can publish <b>{{subscriptionSlot.available}}</b> more</div>
  </div>

  <div class="SubscriptionsSlotItem__deselect" (click)="onClick(undefined, $event)">
    <mat-icon [hidden]="!isSelected()" svgIcon="cross"></mat-icon>
  </div>

</div>