@import '~style/common';

.SubscriptionBenefit {
  img {
    max-width: 100%;
  }

  &__title {
    font-size: $font-size-l;
    font-weight: bold;
  }

  &__subtitle {
    color: $blue-grey-3;
    font-size: $font-size-m;
  }
}

@include media-breakpoint-up(xl) {
  .SubscriptionBenefit {
    &__text {
      max-width: 388px;
    }
  }
}

@include media-breakpoint-down(sm) {
  img {
    object-fit: contain;
    width: 100%;
  }
}
