<a class="card" href="{{itemUrl}}" target="_blank" tslTrack="PRODUCT_VIEWED" [params]="{product_id: item.id}"
   [params]="{id: item.id, title: item.title, category_id: item.categoryId, sale_price: item.salePrice}">
  <div class="image-overlay">
    <img class="card-img-top" src="{{item.mainImage?.urls_by_size.large}}"
         onError="this.src='/assets/images/fake-item.png'"/>
    <div class="image-bottom">
      <tsl-item-sold [item]="item"></tsl-item-sold>
      <tsl-item-reserved [item]="item"></tsl-item-reserved>
    </div>
  </div>
  <div class="card-block">
    <h5 class="card-title">{{item.title}}</h5>
    <div class="float-left price">{{item.salePrice | currency:item.currencyCode:true}}</div>
    <div class="float-right stats">
      <md-icon svgIcon="views"></md-icon>
      {{item.views}}
      <md-icon svgIcon="heart"></md-icon>
      {{item.favorites}}
    </div>
  </div>
</a>
