<a class="card" href="{{itemUrl}}" (click)="prevent($event)" target="_blank" tslTrackEvent="PRODUCT_VIEWED" [params]="{product_id: item.id}"
   [params]="{id: item.id, title: item.title, category_id: item.categoryId, sale_price: item.salePrice}">
  <div class="image-overlay">
    <img class="card-img-top" src="{{item.mainImage?.urls_by_size.large.replace('http://', 'https://')}}"
         onError="this.src='/assets/images/fake-item.png'"/>
    <a class="btn btn-edit" target='_blank' (click)='$event.stopPropagation()' [routerLink]="['/catalog/edit/', item.id]" tslTrackEvent="CHAT_EDITITEM" [params]="{item_id: item.id}"
      *ngIf='canEdit()'>
      <mat-icon svgIcon="btn-edit"></mat-icon>
    </a>
    <div class="image-bottom">
      <tsl-item-sold [item]="item"></tsl-item-sold>
      <tsl-item-reserved [item]="item" *ngIf="!item.sold"></tsl-item-reserved>
    </div>
  </div>
  <div class="actions-block" *ngIf='canEdit()'>
    <tsl-button className="btn-reserve" (click)="prevent($event, true); toggleReserve()">
      <span i18n *ngIf='!item.reserved'>Reserve</span>
      <span i18n *ngIf='item.reserved'>Unreserve</span>
    </tsl-button>
    <tsl-button className="btn-sold" (click)="prevent($event, true)" tslItemSold (callback)="trackSoldEvent(item)" [item]="item" i18n>Sold</tsl-button>
  </div>
  <div class="card-block">
    <h5 class="card-title">{{item.title}}</h5>
    <div class="card-item-info">
      <div class="price" *ngIf="item.salePrice !== undefined">{{item.salePrice | customCurrency:item.currencyCode}}</div>
      <div class="stats" *ngIf="item.views !== undefined && item.favorites !== undefined">
        <mat-icon svgIcon="views"></mat-icon>
        {{item.views}}
        <mat-icon svgIcon="heart"></mat-icon>
        {{item.favorites}}
      </div>
    </div>
    <div class="card-external-link" *ngIf="isCarItem || (showWillisLink && !isMine()) || (showKlincLink && !isMine())">
      <hr>
      <a (click)="clickCarfax($event)"
         *ngIf="isCarItem"
         href="https://www.carfax.es/informe?make={{item.brand}}&model={{item.model}}&pic={{item.mainImage?.urls_by_size.large.replace('http://', 'https://')}}#utm_medium=web_cars_chat&utm_source=wallapop&utm_campaign=website"
         target="_blank" i18n>
        Check its full history
      </a>
      <a (click)="clickWillis($event)"
         *ngIf="showWillisLink"
         href="https://checkout.wallapopgarantia.com/?name={{ item.title }}&amount={{ item.salePrice }}&imageUrl={{ item.mainImage?.urls_by_size.large.replace('http://', 'https://') }}&tag={{ item.id }}"
         target="_blank" i18n>
        Add Insurance
      </a>
      <a (click)="clickKlinc($event)"
         *ngIf="showKlincLink"
         href="{{ item.categoryId === 16000 ? 'https://klinc.com/landing/seguro-movil-on-demand?&utm_source=wallapop&utm_medium=desktop&utm_campaign=KLINC_SEP_18_Mobile_tablet&utm_content=texlink' :
          'https://klinc.com/landing/seguro-on-demand?&utm_source=wallapop&utm_medium=desktop&utm_campaign=KLINC_SEP_18_Generic&utm_content=texlink'}}"
         target="_blank">
        <ng-container *ngIf="item.categoryId === 16000; else addInsuranceProduct">
          <span i18n>Insure this mobile phone with Klinc by Zurich</span>
        </ng-container>
        <ng-template #addInsuranceProduct>
          <span i18n>Insure this product with Klinc by Zurich</span>
        </ng-template>
      </a>
      <a (click)="clickMapfreOrVerti($event)"
         *ngIf="showMapfreOrVertiLink"
         [href]="getMapfreOrVertiLink()"
         target="_blank" i18n>
        Add Insurance
      </a>
    </div>
  </div>
</a>
