<div *ngIf="shippingStatus as info" class="TrackingGeneralInfo d-flex flex-column text-center align-items-center">
  <div class="TrackingGeneralInfo__lottieContainer mb-4">
    <tsl-lottie [src]="info.animation.url" [loop]="info.animation.isLoop"></tsl-lottie>
  </div>
  <span class="TrackingGeneralInfo__title TrackingGeneralInfo__text mb-3">{{ info.title }}</span>
  <div id="shippingStatusDescription" class="TrackingGeneralInfo__text mb-3" [innerHTML]="info.description | bypassHTML"></div>
  <ng-container *ngFor="let actionCTA of info.actions">
    <tsl-transaction-tracking-action-selector [actionDetail]="actionCTA.action">
      <tsl-button
        class="TrackingGeneralInfo__actionButton"
        className="btn-block {{ actionCTA.style.className }}"
        [disabled]="actionCTA.state.isDisabled"
        >{{ actionCTA.title }}</tsl-button
      >
    </tsl-transaction-tracking-action-selector>
  </ng-container>
</div>
