@import '~style/common';

:host {
  background: $white;
  display: block;
  position: relative;

  .modal-close {
    right: 0;
    top: 0;
  }

  .modal-header {
    &__title {
      color: $walla-main;
      font-size: $font-size-l;
      font-weight: $font-weight-chunky;
    }
  }

  .modal-body {
    &__text {
      color: $blue-grey-1;
      font-size: $font-size-m;
    }
  }

  .modal-footer {
    &__button {
      @include media-breakpoint-down(sm) {
        min-width: 100%;
      }
    }
  }
}
