@import "~style/common";

.modal-body {
  color: $blue-grey-1;
  height: calc(100vh - #{$spacing-ml * 4});
  overflow: scroll;
}

.modal-close {
  top: 25px;
}

p {
  margin: 0;
}

.price, h1 {
  font-size: $font-size-xl;
}

h1 {
  border-bottom: 1px solid $blue-grey-6;
  padding-bottom: $spacing-ml;
  margin-bottom: 0;
}

.price {
  font-weight: $font-weight-chunky;
  line-height: $line-height-xl;
  margin-bottom: $spacing-ms;
  margin-top: $spacing-ml;
}

.description, .car-info {
  font-size: $font-size-m;
  padding: $spacing-ml 0;
  &:not(.last){
    border-bottom: 1px solid $blue-grey-6;
    margin-bottom: $spacing-ml;
  }
  &.last {
    padding-bottom: 0;
  }
  &:empty {
    margin: 0 !important;
    border: 0 !important;
    padding-top: 0;
  }
}

.car-info {
  padding: $spacing-ms 0;
  margin-bottom: 0 !important;
}

.extras {
  overflow: hidden;
  div {
    float: left;
    font-size: $font-size-xs;
    text-align: center;
    width: 75px;
    margin: 0 $spacing-ml;
    tsl-svg-icon {
      @include square(32px);
      display: block;
      margin: 0 auto;
      margin-bottom: $spacing-ms;
      ::ng-deep svg {
        height: 100%;
        width: 100%;
      }
      & ::ng-deep path {
        fill: $blue-grey-1;
      }
    }
  }
  &.car-extras {
    border-bottom: 1px solid $blue-grey-6;
    padding-bottom: $spacing-ml;
    margin-bottom: $spacing-ml;
    &.last {
      padding-bottom: 0;
      border: 0;
      margin-bottom: 0;
    }
  }
}

.btn {
  border-radius: $button-border-radius;
  margin: 0 0 $spacing-ml;
}
