<tsl-filter-template #filterTemplateComponent
  [isBubble]="isBubble()"
  [isDropdown]="isDropdown()"
  [isClearable]="true"
  [title]="config.title"
  [icon]="config.icon"
  [label]="getLabel()"
  [hasValue]="hasValue$() | async"
  (clear)="handleClear()"
  (openStateChange)="openStateChange.emit($event)">

  <tsl-selector-filter-template #selectorFilterTemplateComponent
    [hasContentPlaceholder]="hasContentPlaceholder()"
    [placeholderLabel]="getLabel()"
    [contentTitle]="contentTitle"
    [isClearable]="hasValue$() | async"
    (clear)="handleClear()">

    <div *ngFor="let option of options" class="SelectorFilter__option px-4" [ngClass]="isBubble() && 'SelectorFilter__option--bubble'"
         (click)="handleOptionSelected(option)">
      <tsl-selector-option [icon]="option.icon" [label]="option.label">
      </tsl-selector-option>
    </div>

  </tsl-selector-filter-template>

</tsl-filter-template>
