<div [ngClass]="isActive && 'SelectorOption__active'" class="SelectorOption py-3" (click)="handleClick()">
  <div class="d-flex">
    <tsl-svg-icon *ngIf="icon" class="d-flex flex-grow-0 mr-3 justify-content-center align-items-center"
                  [src]="icon" [width]="24" [height]="24"></tsl-svg-icon>
    <span class="SelectorOption__label">{{label}}</span>
  </div>
  <span *ngIf="sublabel" [ngClass]="icon && 'SelectorOption__sublabel-with-icon'" class="SelectorOption__sublabel">{{sublabel}}</span>
</div>
