<div class="SearchLayout__container container">
  <div class="row py-3">
    <div class="col">
      <ng-content select="[top]"></ng-content>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ng-content select="[main]"></ng-content>
    </div>
    <div *ngIf="shouldRenderRightColumn | async" class="col d-none d-xl-block SearchLayout__fixed-width-column">
      <ng-content select="[right]"></ng-content>
    </div>
  </div>
  <div *ngIf="shouldRenderBottomRow | async" class="row m-3 d-md-none">
    <div class="col">
      <ng-content select="[bottom]"></ng-content>
    </div>
  </div>
</div>
