<div class="CheckSubscriptionInAppModal d-flex flex-column justify-content-between align-items-center text-center">

  <div class="CheckSubscriptionInAppModal__close" (click)="activeModal.close()">
    <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
  </div>

  <div class="CheckSubscriptionInAppModal__content d-flex flex-column justify-content-between">

    <div class="CheckSubscriptionInAppModal__content-title text-center">
      <span i18n="@@web_profile_modal_check_subscription_in_app_241"><b>It seems that you are trying to change something in your subscription</b></span>
    </div>

    <div class="CheckSubscriptionInAppModal__content-description d-flex flex-column justify-content-between ">
      <div i18n="@@web_profile_modal_check_subscription_in_app_242">If you want to unsubscribe, go to the app store and cancel it.</div>  
      <div i18n="@@web_change_subscription_instruction">To edit your subscription, go to the app store and cancel it. Then, you can subscribe the new subscription in your Wallapop profile.</div>  
      <div i18n="@@web_profile_modal_check_subscription_in_app_243">If you have any doubts, <a href="mailto:{{supportMail}}" target="_blank">contact us</a>.</div>  
    </div>
  </div>
  
</div>

<div class="CheckSubscriptionInAppModal__actions">
  <tsl-button [class]="'CheckSubscriptionInAppModal__actions-ok text-center'" (click)="activeModal.close()" i18n="@@web_profile_modal_check_subscription_in_app_244">Understood</tsl-button>
</div>