@import "~style/common";

.main-box {
  tsl-here-maps,
  .fake-map {
    margin-top: $spacing-ml;
    display: block;
  }
  p {
    color: $blue-grey-3;
    margin-top: $spacing-ml;
  }
  .form-group,
  p {
    margin-bottom: 0;
  }
}

.fake-map {
  height: 130px;
  border-radius: $border-radius;
  border: solid 1px $blue-grey-5;
  background: url(/assets/icons/user-marker-sad.svg) no-repeat center;
}

.checkbox-corporate {
  margin-top: $spacing-ml;
  span {
    font-size: $font-size-m;
    user-select: none;
  }
}

#condition /deep/ select-dropdown > div {
  .options ul li {
    background-repeat: no-repeat;
    background-position: 8px;
    padding-left: $spacing-xxxl !important;
    &:nth-child(1) {
      background-image: url(/assets/icons/new_construction.svg);
    }
    &:nth-child(2) {
      background-image: url(/assets/icons/to_reform.svg);
    }
    &:nth-child(3) {
      background-image: url(/assets/icons/mint.svg);
    }
  }
}
