<input
#hashtagSuggesterInput
type="text" 
class="MultiselectSearchInput border-0"
(keyup)="keyUp($event)"
[placeholder]="disabled ? '' : hashtagPlaceholder" 
(focus)="focus()"
(blur)="blur()"
[(ngModel)]="searchValue"
[disabled]="disabled"
/>

<div [hidden]="!((options$ | async)?.length > 0)">
    <div  class="MultiselectSearchInput__hashtagList" #hashtagSuggesterOptions>
        <tsl-multi-select-form [(ngModel)]="suggestions" [reseteable]="false" [options]="options$ | async" [max]="value?.length === suggestions?.length ? max : max - value?.length"></tsl-multi-select-form>
    </div>
</div>
