<input
type="text" 
(keyup)="keyUp($event)"
[placeholder]="hashtagPlaceholder" 
(focus)="focus()"
(blur)="blur()"
[(ngModel)]="searchValue"
class="MultiselectSearchInput border-0"
[disabled]="disabled"
#hashtagSuggesterInput
/>

<div [hidden]="!((options$ | async)?.length > 0)">
    <div  class="MultiselectSearchInput__hashtagList" #hashtagSuggesterOptions>
        <tsl-multi-select-form [(ngModel)]="suggestions" [options]="options$ | async" (change)="handleSelectedOption()" ></tsl-multi-select-form>
    </div>
</div>
