@import '~style/common';
.SubscriptionTierSelector {
  .Card {
    border: solid 2px $blue-grey-5;

    @include media-breakpoint-down(sm) {
      margin-right: 0 !important;
      margin-bottom: $spacing-s;
    }
    cursor: pointer;

    &__title {
      color: $blue-grey-2;
    }

    &__description {
      line-height: 1;
      color: $blue-grey-2;

      &--discounted {
        text-decoration: line-through;
        color: $blue-grey-3;
      }
    }

    &__footer {
      color: $blue-grey-2;
      font-size: $font-size-s;
    }

    &__banner {
      border-radius: 2px;
      background-color: $skyblue-main;
      color: $white;
      font-weight: $font-weight-chunky;
      font-size: 12px;
    }

    &:hover {
      transform: $item-card-hover-translate;
      box-shadow: $item-card-hover-box-shadow;
      .Card__title,
      .Card__description {
        color: $blue-grey-1;
      }
    }

    &--noHover {
      pointer-events: none;
    }

    &--selected {
      border: solid 2px $blue-grey-2;
      .Card__title,
      .Card__description {
        color: $blue-grey-1;
      }
    }
  }
}
