<div id="left-panel">
  <tsl-connection-alert></tsl-connection-alert>
  <tsl-conversations-panel (currentConversation)="onCurrentConversationChange($event)"
                           (loaded)="onLoaded($event)"></tsl-conversations-panel>
</div>
<div id="right-panel" *ngIf="currentConversation">
  <tsl-user [user]="currentConversation.user" [phone]="currentConversation.phone"></tsl-user>
  <tsl-user-survey *ngIf="currentConversation.surveyResponses.length" [conversation]="currentConversation"></tsl-user-survey>
  <tsl-item [item]="currentConversation.item"></tsl-item>
</div>
<div id="center-panel" [hidden]="!currentConversation">
  <div id="top-bar">
    <h5>{{currentConversation?.user.microName}}</h5>
    <div class="status-circle" [ngClass]="{'online': currentConversation?.user.online}"></div>
    <span i18n [hidden]="currentConversation?.user.online">Offline</span>
    <span i18n [hidden]="!currentConversation?.user.online">Online</span>
    <div ngbDropdown class="conversation-header-menu">
      <md-icon class="menu-icon" svgIcon="menu" ngbDropdownToggle></md-icon>
      <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item" (click)="open(deleteConversationModal)" i18n *ngIf="!currentConversation?.archived">Archive conversation</button>
        <button class="dropdown-item" (click)="open(reportListing)" *ngIf="currentConversation?.item.owner !== userService.user?.id" i18n>Report this Listing</button>
        <button class="dropdown-item" (click)="open(reportUser)" i18n>Report this User</button>
        <!--<button class="dropdown-item warn" (click)="open(blockUser)" i18n>Block User</button>-->
      </div>
    </div>
  </div>
  <tsl-messages-panel [currentConversation]="currentConversation"></tsl-messages-panel>
  <tsl-input [currentConversation]="currentConversation"></tsl-input>
</div>
<div id="empty-state" *ngIf="!currentConversation">
  <div class="content">
    <div [hidden]="!conversationsLoaded">
      <md-icon svgIcon="empty-state" class="image"></md-icon>
      <h2 [hidden]="conversationsTotal == 0" i18n>Choose a conversation<br/>
        from the list on the left</h2>
      <h2 [hidden]="conversationsTotal > 0 || connectionError" i18n>There are no messages</h2>
      <h2 [hidden]="!connectionError" i18n>Service not available at the moment.<br/>
        Try again later.</h2>
    </div>
    <tsl-spinner [hidden]="conversationsLoaded"></tsl-spinner>
  </div>
</div>

<ng-template ngbModalContainer #deleteConversationModal let-c="close">
  <div class="modal-body">
    <h2 i18n>Archive conversation</h2>
    <p i18n>This will archive the conversation.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" i18n (click)="c()">Cancel</button>
    <button type="button" class="btn btn-warn" i18n (click)="archiveConversation()">Archive</button>
  </div>
</ng-template>

<ng-template ngbModalContainer #blockUser let-c="close">
  <div class="modal-body">
    <h2 i18n>Block {{currentConversation.user.microName // i18n(ph="USER_NAME")}}</h2>
    <p i18n>This will block interaction with the user, and you won't be able to communicate with each other. Do you wish
      to continue?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" i18n (click)="c()">Cancel</button>
    <button type="button" class="btn btn-warn" i18n>Block</button>
  </div>
</ng-template>

<ng-template ngbModalContainer #reportListing let-c="close">
  <div class="modal-body center-heading">
    <div class="modal-close" (click)="c()">
      <md-icon svgIcon="cross"></md-icon>
    </div>
    <div *ngFor="let reason of listingBanReasons"
         [ngClass]="{selected: selectedReportListingReason === reason.id}"
         class="report-ban-reason"
         (click)="selectReportListingReason(reason.id)">
      <div class="ban-reason-icon-container">
        <md-icon svgIcon="report-listing-{{reason.id}}"></md-icon>
      </div>
      <div class="label-placeholder-top"></div>
      <span>{{reason.label}}</span>
      <div class="label-placeholder-bottom"></div>
    </div>
    <div class="ban-reasons-placeholder"></div>
    <textarea [(ngModel)]="reportListingReasonMessage"
              class="report-listing-textarea"
              *ngIf="selectedReportListingReason === 0"
              i18n-placeholder placeholder="I'm reporting this listing because..."></textarea>
  </div>
  <div class="modal-footer centered">
    <button type="button"
            class="btn btn-corporate"
            [disabled]="(!reportListingReasonMessage || reportListingReasonMessage.trim() === '') && selectedReportListingReason === 0"
            (click)="reportListingAction();"
            i18n>Report
    </button>
  </div>
</ng-template>
<ng-template ngbModalContainer #reportUser let-c="close">
  <div class="modal-body center-heading">
    <div class="modal-close" (click)="c()">
      <md-icon svgIcon="cross"></md-icon>
    </div>
    <div *ngFor="let reason of userBanReasons"
         [ngClass]="{selected: selectedReportUserReason === reason.id}"
         class="report-ban-reason"
         (click)="selectReportUserReason(reason.id)">
      <div class="ban-reason-icon-container">
        <md-icon svgIcon="report-user-{{reason.id}}"></md-icon>
      </div>
      <div class="label-placeholder-top"></div>
      <span>{{reason.label}}</span>
      <div class="label-placeholder-bottom"></div>
    </div>
    <div class="ban-reasons-placeholder"></div>
    <textarea [(ngModel)]="reportUserReasonMessage"
              class="report-listing-textarea"
              i18n-placeholder placeholder="I'm reporting this user because..."></textarea>
  </div>
  <div class="modal-footer centered">
    <button type="button"
            class="btn btn-corporate"
            [disabled]="!reportUserReasonMessage || reportUserReasonMessage.trim() === ''"
            (click)="reportUserAction();"
            i18n>Report
    </button>
  </div>
</ng-template>
