@import "../../style/_common.scss";

:host {
  display: block;
  overflow: hidden;
}

#left-panel {
  position: relative;
  float: left;
  background-color: $white;
  width: $left-panel-width;
}

#center-panel {
  margin-left: $left-panel-width;
  margin-right: $right-panel-width;
  background-color: $white;
}

#right-panel {
  overflow-y: auto;
  height: 100vh;
  float: right;
  width: $right-panel-width;
  padding: $spacing;
  background-color: $white;
  border-left: 1px solid $grey-1000;
  tsl-user {
    margin-bottom: $spacing;
  }
}

#top-bar {
  position: relative;
  padding: $spacing;
  border-bottom: 1px solid $grey-1000;
  z-index: 99;
  h5, span {
    color: $white;
  }
  h5 {
    font-size: $font-size;
    font-weight: bold;
  }
  span {
    font-size: $font-size-S;
  }
}

#empty-state {
  height: 100vh;
  margin-left: $left-panel-width;
  position: relative;
  background: $white;
  .content {
    @include in-the-middle;
    text-align: center;
    .image {
      width: 211px;
      height: 220px;
    }
    h2 {
      font-size: $font-size;
      color: $grey-500;
      line-height: 24px;
    }
  }
}

.conversation-header-menu {
  position: absolute;
  right: $spacing;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
  md-icon {
    cursor: pointer;
    padding: 0 3px;
  }
  .dropdown-item {
    padding: ($spacing /2) $spacing;
    cursor: pointer;
    &.warn {
      color: $warn;
    }
  }
}

.report-ban-reason {
  width: calc(100% / 3);
  display: inline-block;
  text-align: center;
  position: relative;
  cursor: pointer;
  &:hover .ban-reason-icon-container {
    border-color: $grey-100;
  }
  &.selected .ban-reason-icon-container {
    border-color: $corporate;
  }
  .ban-reason-icon-container {
    @include square(60px);
    position: relative;
    border: 1px solid $grey-50;
    border-radius: 50%;
    margin: $spacing auto 0 auto;
    cursor: pointer;
  }
  md-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  span {
    position: absolute;
    left: 0;
    right: 0;
    font-size: $font-size-S;
    color: $grey-400;
  }
  .label-placeholder-top {
    height: $spacing-M;
  }
  .label-placeholder-bottom {
    height: $spacing;
  }
}
.ban-reasons-placeholder {
  height: 30px;
}

.report-listing-textarea {
  width: 100%;
  padding: $spacing-S $spacing-M;
  border: 1px solid $grey-50;
  border-radius: 10px;
  min-height: 120px;
  &::-webkit-input-placeholder {
    color: $grey-200;
  }
}
