<div class="ItemCard position-relative" [class.ItemCard--with-description]="showDescription" *ngIf="item">
    <tsl-svg-icon *ngIf="item.flags?.sold"
        class="ItemCard__icon ItemCard__icon--left ItemCard__icon--big position-absolute d-flex justify-content-center align-items-center"
        src="/assets/icons/item-card/sold.svg"></tsl-svg-icon>
    <tsl-svg-icon *ngIf="item.flags?.reserved"
        class="ItemCard__icon ItemCard__icon--left ItemCard__icon--small position-absolute d-flex justify-content-center align-items-center"
        src="/assets/icons/item-card/reserved.svg"></tsl-svg-icon>
    <ng-container *ngxPermissionsOnly="PERMISSIONS.bumps">
        <tsl-svg-icon *ngIf="item.bumpFlags?.bumped || item.flags?.bumped"
        class="ItemCard__icon ItemCard__icon--right ItemCard__icon--medium position-absolute ItemCard__icon--wallapop d-flex justify-content-center align-items-center"
        src="/assets/icons/item-card/bumped.svg"></tsl-svg-icon>
    </ng-container>
    <div class="ItemCard__image" [ngClass]="{'ItemCard__image--with-description px-1 pt-1' : showDescription}">
        <img class="w-100 h-100" [src]="mainImage?.urls_by_size?.small" [fallback]="IMAGE_FALLBACK" [alt]="item.title"
            loading="lazy" />
    </div>

    <div class="ItemCard__data border-top-0" [class.ItemCard__data--with-description]="showDescription">
        <div class="d-flex justify-content-between">
            <span class="ItemCard__price ItemCard__price--bold">
                {{item.salePrice | customCurrency:item.currencyCode}}
            </span>
            <tsl-favourite-icon *ngIf="showFavourite" class="ItemCard__favourite" [active]="item.flags?.favorite"
                (click)="toggleItemFavorite($event)"></tsl-favourite-icon>
        </div>
        <div class="ItemCard__info">
            <p class="ItemCard__title my-2" [class.ItemCard__title--with-description]="showDescription">
                {{item.title}}
            </p>
            <p class="ItemCard__description ItemCard__description--light mb-0" *ngIf="showDescription">
                {{item.description}}
            </p>
        </div>
    </div>
</div>