<div class="page-content">
  <div class="container">
    <a class="back" [routerLink]="['/catalog/list']"><mat-icon svgIcon="back-arrow"></mat-icon> <span i18n>Back</span></a>
    <div class="row" [hidden]="!itemsWithProducts">
      <div class="col-xl col-lg-8">
        <div class="table-header">
          <div class="info">
            <mat-icon svgIcon="feature"></mat-icon>
            <a (click)="bumpTutorial.show()" i18n>What can features do for you?</a>
          </div>
          <div class="type zone">
            <div>
              <mat-icon svgIcon="bump-zone"></mat-icon>
              <div [hidden]="provincialBump" i18n>Feature it locally</div>
              <div [hidden]="!provincialBump" i18n>Feature it provincially</div>
            </div>
          </div>
          <div class="type city" [hidden]="provincialBump">
            <div>
              <div>
                <mat-icon svgIcon="bump-city"></mat-icon>
              </div>
              <div i18n>Feature it your city</div>
            </div>
          </div>
          <div class="type country">
            <div>
              <div>
                <mat-icon svgIcon="bump-country"></mat-icon>
              </div>
              <div i18n>Feature it nationally</div>
            </div>
          </div>
        </div>
        <div class="price-table">
          <tsl-checkout-item *ngFor="let item of itemsWithProducts" [itemWithProducts]="item"></tsl-checkout-item>
        </div>
      </div>
      <div class="cart">
        <tsl-cart [provincialBump]="provincialBump"></tsl-cart>
      </div>
    </div>
    <tsl-spinner [firstLoad]="false" [hidden]="itemsWithProducts"></tsl-spinner>
  </div>
  <tsl-bump-tutorial></tsl-bump-tutorial>
</div>
