<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="table-header">
          <div class="info">
            <mat-icon svgIcon="feature"></mat-icon>
            <a href="" i18n>¿Que son los Destacados?</a>
          </div>
          <div class="type zone">
            <div>
              <mat-icon svgIcon="bump-zone"></mat-icon>
              <div i18n>Destácalo en tu Barrio</div>
            </div>
          </div>
          <div class="type city">
            <div>
              <div>
                <mat-icon svgIcon="bump-city"></mat-icon>
              </div>
              <div i18n>Destácalo en tu ciudad</div>
            </div>
          </div>
          <div class="type country">
            <div>
              <div>
                <mat-icon svgIcon="bump-country"></mat-icon>
              </div>
              <div i18n>Destácalo en tu País</div>
            </div>
          </div>
        </div>
        <div class="price-table">
          <tsl-checkout-item *ngFor="let item of itemsWithProducts" [itemWithProducts]="item"></tsl-checkout-item>
        </div>
      </div>
      <div class="cart">
        <tsl-cart></tsl-cart>
      </div>
    </div>
  </div>
  <div class="tutorial main-veil">
    <div class="content-veil">
      <div id="step-1" class="info">
        <h1 i18n>What are the featured items?</h1>
        <p i18n>Featuring your product you'll be able to sell your products much faster. Your items will appear on special
        areas for featured products and buuyers will have a faster access to your products.
          You can feature them in your neighbourhood, your city or your country!</p>
        <div class="bump-info">
          <div class="col zone">
            <div class="logo"><div class="logo-zone"></div></div>
            <h2 i18n>Feature it in your neighbourhood</h2>
            <p i18n>Los usuarios que vivan cerca de ti, serán los primeros en ver tu producto en las secciones especiales
              para productos destacados.</p>
            <div class="box-price">
              <p class="from-price" i18n>from</p>
              <p class="price">9,99€</p>
              <p class="range" i18n>Range:</p>
              <p class="users">xxxk <span i18n>usuarios</span></p>
            </div>
          </div>
          <div class="col city">
            <div class="logo"><div class="logo-city"></div></div>
            <h2 i18n>Feature it in your city</h2>
            <p i18n>Todo aquel que comprenda el radio de ubicación de tu ciudad, podrá acceder a ver tu producto en secciones
              especiales. (Sólo disponible en grandes ciudades)</p>
            <div class="box-price">
              <p class="from-price" i18n>from</p>
              <p class="price">9,99€</p>
              <p class="range" i18n>Range:</p>
              <p class="users">xxxk <span i18n>usuarios</span></p>
            </div>
          </div>
          <div class="col country">
            <div class="logo"><div class="logo-country"></div></div>
            <h2 i18n>Feature it in your country</h2>
            <p i18n>Usuarios situados en otra ciudad del estado podrán ver tus productos. Una vez te hayan pagado a través
              de la app sólo deberás enviar el producto con nuestro método de envíos.</p>
            <div class="box-price">
              <p class="from-price" i18n>from</p>
              <p class="price">9,99€</p>
              <p class="range" i18n>Range:</p>
              <p class="users">xxxk <span i18n>usuarios</span></p>
            </div>
          </div>
        </div>
      </div>
      <div id="step-1" class="info" [hidden]="true">
        second step
      </div>
      <a [routerLink]="" id="close" tslTrackEvent="MYZONE_CLOSETUTORIAL">
        <mat-icon svgIcon="cross"></mat-icon><br />
        <span i18n>Skip</span>
      </a>
      <div id="controls">
        <div class="dots">
          <div class="dot" *ngFor="let dot of dots" [ngClass]="{active: dot === tutorialService.step}"></div>
        </div>
        <button (click)="nextStep()"
                class="btn btn-next"
                [hidden]="tutorialService.step === 2"
                i18n>Next</button>
        <button [routerLink]="['/catalog/list']"
                [hidden]="tutorialService.step < 2"
                class="btn btn-next"
                i18n>Ready!</button>
      </div>
    </div>
  </div>
</div>
