<div *ngIf="transactionTracking$ | async as transactionTracking">
  <tsl-transaction-tracking-header [transactionTrackingHeader]="transactionTracking.header"></tsl-transaction-tracking-header>
  <tsl-transaction-tracking-general-info [shippingStatus]="transactionTracking.shippingStatus"> </tsl-transaction-tracking-general-info>
  <tsl-transaction-tracking-status-info
    [transactionTrackingStatusInfo]="transactionTracking.statusInfo"
  ></tsl-transaction-tracking-status-info>
</div>
<tsl-transaction-tracking-detail-info
  *ngIf="transactionTrackingDetails$ | async as transactionTrackingDetails"
  [transactionTrackingDetails]="transactionTrackingDetails"
></tsl-transaction-tracking-detail-info>
