@import '~style/common';

.calls-header {
  margin-top: $spacing-xl;
  border-bottom: 1px solid $blue-grey-5;
  h3 {
    color: $blue-grey-2;
    text-transform: uppercase;
    font-size: $font-size-xxs;
    font-weight: $font-weight-chunky;
    margin: 0;
  }
  .col-md-1:last-child {
    text-align: right;
  }
}
.calls-block {
  background-color: $white;
  border-radius: $border-radius;
  border: solid 1px $blue-grey-5;
  margin-top: $spacing-m;
  .calls-header {
    margin: 0;
    padding: $spacing-xl 0 $spacing-l $spacing-l;
    h3 {
      color: $blue-grey-2;
    }
  }
}

.col-counters {
  text-align: center;
}
