@import '~style/common';

.unsubscribe-section {
  padding-top: $spacing-xl;
  padding-bottom: $spacing-l;
  text-align: center;
  border-top: solid 1px $blue-grey-5;
  a {
    text-decoration: underline;
    color: $blue-grey-4;
    font-size: $font-size-s;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
  @include media-breakpoint-down(sm) {
    padding-top: $spacing-m;
    padding-bottom: $spacing-s;
  }
}

.gender-form {
  .select {
    tsl-svg-icon {
      @include square(32px);
      ::ng-deep path {
        transition: fill 0.2s ease-in-out;
      }
      margin-bottom: $spacing-ms;
    }
    div {
      font-size: 14px;
      line-height: normal;
    }
    @include media-breakpoint-down(sm) {
      height: 50px;
    }
  }
}
