@import "~style/common";

:host {
  display: inline-block;
}
::-webkit-input-placeholder {
  color: $blue-grey-2;
}
div {
  width: 38px;
  overflow: hidden;
  border-bottom: 2px solid transparent;
  transition: all .2s ease;
  position: relative;
  mat-icon {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    left: -7px;
    pointer-events: none;
    color: $blue-grey-2;
  }
  input {
    height: 36px;
    border: 0;
    color: $blue-grey-2;
    background: transparent;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
    padding: 0 $spacing-ml 0 $spacing-l;
  }
  &.active {
    width: 204px;
    @media (min-width: 768px) {
      border-bottom: 2px solid $walla-main;
    }
  }
}
.clear-search {
  display: none;
}
