@import 'src/style/common';

$border: 1px solid $blue-grey-5;

:host {
  .MultiSelectForm {
    &__option {
      border-bottom: $border;
    }

    &__children {
      background: $white;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      z-index: 2;

      &__back {
        border-bottom: $border;
        cursor: pointer;

        tsl-svg-icon {
          transform: scaleX(-1);
        }
      }
    }
  }
}
