
<ng-container *ngFor="let option of extendedOptions$ | async">
  <div *ngIf="!shownChildrenOptionId" class="w-100">
    <tsl-multi-select-option class="MultiSelectForm__option d-block" [option]="option" [isDisabled]="isDisabled" 
    (toggleOnChange)="handleSelectedOption()" (click)="shownChildrenOptionId = option.value" [hasChildren]="option.children?.length"></tsl-multi-select-option>
  </div>
  <div *ngIf="shownChildrenOptionId === option.value">
    <div class="MultiSelectForm__children" >
      <div class="MultiSelectForm__children__back d-flex align-items-center p-3 font-weight-bold" (click)="shownChildrenOptionId = null">
        <tsl-svg-icon class="d-block mr-2" src="assets/icons/arrow-right.svg"></tsl-svg-icon> {{option.label}}
      </div>
  
      <div *ngFor="let childOption of option.children" class="w-100 ">
        <tsl-multi-select-option class="MultiSelectForm__option d-block" [option]="childOption" [isDisabled]="isDisabled" (toggleOnChange)="handleSelectedOption()"></tsl-multi-select-option>
      </div>
    </div>
  </div>
</ng-container>
