@import '~style/common';

.item {
  background: $white;
  border-radius: $border-radius;
  border: solid 1px $blue-grey-5;
  margin-bottom: $spacing-s;
  padding: $spacing-s 0 $spacing-s $spacing-m;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .info {
    position: relative;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0 1 41%;
    &:after {
      content: '';
      height: 100%;
      width: 1px;
      background-color: $blue-grey-5;
      position: absolute;
      top: 0;
      right: 0;
    }
    .quantity {
      $height: 70px;
      background-color: transparentize($blue-grey-5, 0.35);
      border-radius: 50%;
      @include square($height);
      line-height: $height;
      font-weight: $font-weight-chunky;
      font-size: $font-size-xl;
      color: $blue-grey-2;
      text-align: center;
    }
    .title {
      padding-left: $spacing-ms;
      flex: 1;
    }
  }
  .packs-section {
    display: flex;
    flex-grow: 1;
    height: 70px;
    .pack {
      position: relative;
      display: flex;
      align-self: stretch;
      align-items: center;
      flex: 0 0 50%;
      justify-content: center;
      .price {
        min-width: 35%;
        text-align: center;
      }
      p {
        margin-bottom: 0;
        font-size: $font-size-m;
        font-weight: $font-weight-chunky;
      }
      .discount {
        margin-bottom: -$spacing-ml;
        color: $walla-main;
        font-size: $font-size-xs;
        font-weight: normal;
      }
      .action {
        margin-left: $spacing-m;
        min-width: 100px;
        .btn-price {
          background-color: $blue-grey-5;
          border-radius: $button-border-radius;
          font-size: $font-size-m;
          text-align: center;
          width: 100%;
        }
      }
    }
    .pack-countryBump {
      margin-left: auto;
      .discount {
        color: $country-bump;
      }
      .action {
        .btn-price {
          &:hover {
            color: $white;
            background-color: $country-bump;
          }
        }
      }
    }
    .pack-cityBump {
      .action {
        .btn-price {
          &:hover {
            color: $white;
            background-color: $walla-main;
          }
        }
      }
      &:after {
        content: '';
        height: 100%;
        width: 1px;
        background-color: $blue-grey-5;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
