<div class="header">
  <div class="modal-close light" (click)="activeModal.close()">
    <mat-icon svgIcon="cross"></mat-icon>
  </div>
  <h1 i18n>Great! Your item is now on wallapop</h1>
</div>

<div class="content-col">
  <h1 class="modal-title" i18n>Need to sell ASAP?</h1>
  <p class="modal-text" i18n>Mark your product ad as "Urgent". For 7 days it will stand out from other products and attract the attention of more buyers.</p>
  <tsl-button className="btn-feature"
              [hidden]="!creditInfo || !productPrice"
              (click)="featureUrgentItem()"
              tslTrackEvent="UPLOADFORM_URGENT" [params]="{category: item?.categoryId}"
              i18n>Mark as "Urgent" for {{productPrice * creditInfo?.factor | customCurrency:creditInfo?.currencyName}}
    <span *ngIf="creditInfo?.currencyName === 'wallacoins'">wallacoins</span></tsl-button>
</div>
<div class="share">
  <div i18n>Share it with your friends:</div>
  <div class="social-icons">
    <a (click)="facebookShare()"><mat-icon svgIcon="facebook"></mat-icon></a>
    <a (click)="twitterShare()"><mat-icon svgIcon="twitter"></mat-icon></a>
  </div>
</div>
