<div class="header">
  <div class="modal-close light" (click)="activeModal.dismiss()">
    <md-icon svgIcon="cross"></md-icon>
  </div>
  <h1 i18n>Congratulations!</h1>
  <p i18n>Your item is now on Wallapop</p>
</div>
<div class="modal-body">

  <p i18n>Promote it and sell it quicker</p>
  <button class="btn-feature" (click)="activeModal.close()">
    <md-icon svgIcon="feature"></md-icon>
    <span i18n>Feature it</span>
  </button>

  <p i18n>Share it with your friends:</p>

  <div class="social-icons">
    <a (click)="facebookShare()"><md-icon svgIcon="facebook"></md-icon></a>
    <a (click)="twitterShare()"><md-icon svgIcon="twitter"></md-icon></a>
  </div>
</div>
