@import "~style/common";

.header {
  background: $corporate;
  height: 127px;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .modal-close {
    top: $spacing;
    right: $spacing;
    @include square(13px);
    mat-icon {
      @include square(13px);
      line-height: unset;
    }
  }
  h1 {
    font-size: 18px;
    font-weight: bold;
  }
  p {
    opacity: .8;
    margin: 0;
    margin-bottom: $spacing-L;
    color: $white;
    font-size: $font-size-m;
  }
}

.modal-body {
  text-align: center;
  padding: 40px 70px;
  p {
    font-size: $font-size-m;
    color: $grey-400;
    margin-top: 10px;
  }
  .urgent-background {
    background: url(/assets/images/urgent-background.svg);
    width: 138px;
    height: 152px;
    margin: $spacing-S auto;
  }
}

tsl-button {
  margin: $spacing-L auto $spacing;
}

.social-icons {
  display: flex;
  justify-content: center;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $grey-50;
    @include square(34px);
    margin: 6px;
    cursor: pointer;
    mat-icon {
      @include square(18px);
    }
    &:hover {
      background-color: $color-social-background;
      mat-icon /deep/ path {
        fill: $color-social-fill;
      }
    }
  }
}
