@import '~style/common';

$border-radius: 0.3rem;

.content-col {
  background: url(/assets/images/urgent-background.svg) no-repeat 90px 47px;
  background-size: 130px;
  padding: $spacing-xl $spacing-xxl $spacing-m 260px;
  margin-bottom: $spacing-ml;
  p {
    margin: 0 auto $spacing-l auto;
    &.credit-info {
      margin-bottom: 0;
    }
  }
}
