@import '~style/common';

$header-height: 48px;

.DrawerNavigationChildPage {
  &__header {
    background-color: $white;
    height: $header-height;
    font-weight: bold;
  }

  &__back {
    left: $spacer;
  }
}
