<div class="DrawerNavigationChildPage__header d-flex align-items-center justify-content-center">
    <a class="DrawerNavigationChildPage__back position-absolute" routerLink="..">
        <tsl-svg-icon src="/assets/icons/drawer-navigation/back-arrow.svg"></tsl-svg-icon>
    </a>
    <span class="DrawerNavigationChildPage__title">{{ navigationTitle$ | async }}</span>
</div>

<nav>
    <ng-container *ngFor="let element of navigationElements$ | async">
        <tsl-drawer-navigation-element [element]="element"></tsl-drawer-navigation-element>
    </ng-container>
</nav>