@import '~style/common';

.SubscribedSuccessfully__box {
  padding: $spacing-xxxl $spacing-xxl;
  text-align: center;
  .box-content {
    p {
      margin-bottom: $spacing-l;
    }
  }
}

.SubscribedSuccessfully__box-content {
  text-align: left;
  padding-left: $spacing-xxl;
  h3 {
    font-size: $font-size-l;
    font-weight: bold;
  }
  p {
    font-size: $font-size-m;
    color: $blue-grey-2;
    line-height: $spacing-l;
    margin-bottom: $spacing-m;
  }
}

@include media-breakpoint-down(sm) {
  .SubscribedSuccessfully__box {
    padding: $spacing-m;
  }

  .SubscribedSuccessfully__box-content {
    padding-left: 0;
  }

  .SubscribedSuccessfully__box-image {
    min-height: 133px;
  }
}
