@import "~style/common";

$icon-size: 12px;
$height: 40px;

.items {
  margin-top: $spacing;
  margin-bottom: 120px;
  .add-item {
    width: 100%;
    svg {
      width: 100%;
      .dashed-border, .pic, .button, text {
        transition: all .2s ease;
      }
    }
    &:hover {
      $hover-color: $zone-bump-dark;
      text-decoration: none;
      svg {
        .dashed-border {
          stroke: $hover-color;
        }
        .pic, .button, text {
          fill: $hover-color;
        }
      }
    }
  }
}

tsl-spinner {
  width: 100%;
}

.info {
  text-align: center;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-S;
  mat-icon {
    /deep/ svg path {
      fill: $corporate;
    }
    margin-right: $spacing-S;
  }
  a {
    text-decoration: underline;
    cursor: pointer;
    color: $corporate;
    &:hover {
      text-decoration: none;
    }
  }
}

tsl-selected-items {
  position: absolute;
  bottom: 0;
  right: 0;
  left: $sidebar-width;
  z-index: 10;
}

#top-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
  .upload {
    font-weight: bold;
  }
}

#catalog-empty-state {
  padding: 0 10px;
  width: 100%;
  mat-icon {
    width: 100%;
    height: auto;
  }
}

.banner {
  width: 100%;
  height: auto;
  margin-bottom: $spacing;
  margin-top: -$spacing-L;
}

tsl-search-input {
  vertical-align: bottom;
  margin-right: $spacing;
}

tsl-search-input, .nav {
  margin-bottom: 10px;
  height: 38px;
}

tsl-select {
  font-size: $font-size-XS;
  font-weight: bold;
  color: $grey-300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  height: 38px;
  line-height: 36px;
}
