@import "~style/common";

:host {
  padding: $spacing-L;
  text-align: center;
}
.modal-close {
  @include square(13px);
  top: 10px;
  right: 10px;
  mat-icon {
    @include square(13px);
    line-height: initial;
  }
}
img {
  width: 126px;
  margin-bottom: $spacing;
  &.fail {
    width: 63px;
  }
}
p {
  max-width: 300px;
  margin: 0 auto $spacing-L auto;
}
h1 {
  font-weight: bold;
  color: $walla-main;
  font-size: $spacing;
  margin-bottom: $spacing-S;
  &.fail {
    color: $warn;
  }
}
