<div class="modal-close" (click)="activeModal.dismiss()">
  <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
</div>

<img *ngIf="code === '200' || code === '201' || code === '203'" src="../../../../../../assets/images/bump-ok.png" alt="">
<img class="fail" *ngIf="code !== '200' && code !== '201' && code !== '203'" src="../../../../../../assets/images/bump-ko.png" alt="">

<div *ngIf="code === '200' || extras === 'true'">
  <h1 i18n>Congratulations</h1>
  <p i18n>You already have your extra features and you can use them whenever you want.</p>
  <tsl-button (click)="activeModal.close()" i18n>Start selling</tsl-button>
</div>

<div *ngIf="code === '201' && (extras === 'false' || extras === undefined)">
  <h1 i18n>Congratulations</h1>
  <p i18n>You featured your products.</p>
  <tsl-button (click)="activeModal.close()" i18n>Start selling</tsl-button>
</div>

<div *ngIf="code === '202'">
  <h1 i18n>At the moment you do not have enough credit for this action.</h1>
  <p i18n>If at the time of the scheduled bump you still do not have enough, it will not be applied.</p>
  <tsl-button (click)="activeModal.close()" i18n>Buy Extras</tsl-button>
</div>

<div *ngIf="code === '203'">
  <h1 i18n>Your product has been successfully bumped for the day.</h1>
  <p i18n>We will run a daily check to make sure you have enough credits for your scheduled bumps.</p>
  <tsl-button (click)="activeModal.close()" i18n>Buy Extras</tsl-button>
</div>

<div *ngIf="code !== '200' && code !== '201' && code !== '202' && code !== '203'">
  <h1 class="fail" i18n>Something happened...</h1>
  <p i18n>Your extra features have not been done because something went wrong with your credit card. Please check and try again</p>
  <tsl-button (click)="activeModal.close()" i18n>Fine!</tsl-button>
</div>

