<div class="featured" *ngIf="packIndex === 2" i18n>Recommended for you</div>
<div class="icon" *ngIf="withCredits">
  <div class="quantity">{{pack.quantity | customCurrency}}</div>
  <div class="label" i18n>Recharge</div>
</div>
<ng-container *ngIf="!withCredits">
  <div class="icon icon-{{packIndex}}"></div>
  <div class="quantity">{{pack.quantity | number}}</div>
  <div class="label">{{pack.name}}</div>
</ng-container>
<div class="for-free">
  <span *ngIf="pack.forFree > 0" i18n>    <span *ngIf="!withCredits">{{pack.forFree | number}}</span>
    <span *ngIf="withCredits">{{pack.forFree | customCurrency}}</span> as a gift!
  </span>
</div>
<tsl-button (click)="clickBuy.emit()"
            [className]="'btn-block ' + (packIndex === 2 ? 'btn-primary' : 'btn-grey')"
>
  <span i18n>Buy for</span> <b>{{pack.price | customCurrency}}</b>
</tsl-button>
