@import '~style/common';

:host {
  border-radius: $border-radius;
  border: solid 2px $blue-grey-5;
  width: 234px;
  height: 386px;
  margin: 0 $spacing-m;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-xxl $spacing-ml $spacing-xl;
  position: relative;
  &.credits {
    height: 320px;
  }
  .featured {
    height: 28px;
    background-color: $walla-soft;
    color: $walla-main;
    text-transform: uppercase;
    font-size: $font-size-xs;
    line-height: $line-height-l;
    font-weight: $font-weight-chunky;
    text-align: center;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 175px;
    border-radius: 14px;
  }
  .icon {
    @include square(120px);
    border-radius: 50%;
    background: rgba($blue-grey-5, 0.3) no-repeat center;
    &.icon-1 {
      background-image: url(/assets/images/wallacoins-1.svg);
    }
    &.icon-2 {
      background-image: url(/assets/images/wallacoins-2.svg);
    }
    &.icon-3 {
      background-image: url(/assets/images/wallacoins-3.svg);
    }
    &.icon-4 {
      background-image: url(/assets/images/wallacoins-4.svg);
    }
    &.icon-5 {
      background-image: url(/assets/images/wallacoins-5.svg);
    }
    &.icon-6 {
      background-image: url(/assets/images/wallacoins-6.svg);
    }
  }
  .quantity {
    font-size: $font-size-xxl;
    font-weight: $font-weight-chunky;
    color: $blue-grey-1;
    line-height: $line-height-xl;
    margin-top: $spacing-ms;
  }
  .label {
    font-size: $font-size-l;
    color: $blue-grey-1;
  }
  .for-free {
    color: $walla-main;
    font-size: $font-size-m;
    font-weight: $font-weight-chunky;
    flex-grow: 1;
  }
  &.credits {
    .icon {
      @include square(150px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: $spacing-ms;
      .quantity {
        font-size: $font-size-xxl;
      }
    }
  }
  tsl-button {
    display: block;
    width: 100%;
    ::ng-deep {
      button {
        &.btn-grey {
          background-color: $blue-grey-3;
        }
        b {
          margin-left: $spacing-xs;
        }
      }
    }
  }
}
