<div class="page-content"
     tslInfiniteScroll
     [infiniteScrollDistance]="5"
     [infiniteScrollDisabled]="end || loading"
     (scrolled)="loadMore()"
     [scrollTop]="scrollTop">
  <div class="container">
    <tsl-header>
      <div class="row mb-3">
        <div class="col-7">
          <div class="header-row">
            <h1 class="header-title" i18n="@@web_reviews_pages_332">Your Reviews</h1>
          </div>
          <div class="header-row header-row--margin">
            <h4 class="header-subtitle" i18n="@@web_reviews_pages_333">This is what people think about you. </h4>
          </div>
        </div>
        <div class="user-average col-3 d-none d-md-block">
          <p i18n="@@web_reviews_pages_334">Your average</p>
          <tsl-stars class="header-rating" [stars]="this.userScore" [normalized]="false"></tsl-stars>
        </div>
        <div class="user-number-reviews text-center col-2">
          <p>{{ numberOfReviews }}</p>
          <p *ngIf="numberOfReviews > 1 || numberOfReviews === 0" i18n="@@web_reviews_pages_588">reviews</p>
          <p *ngIf="numberOfReviews === 1" i18n="@@web_reviews_pages_335">review</p>
        </div>
      </div>
    </tsl-header>
    <div class="row">
      <div class="reviews-empty-state d-none d-md-flex" *ngIf="!reviews.length && !loading">
        <img src="/assets/images/placeholders/reviews-empty-state.svg" height="655">
        <div class="message" i18n="@@web_reviews_pages_336">Nobody has written a review about you because you didn't buy or sell anything yet. Wake up!</div>
      </div>
      <tsl-review-item *ngFor="let review of reviews" [review]="review" class="review-container col-md-12" [isOwner]="true"></tsl-review-item>
    </div>
  </div>
</div>
