<div class="TooManyItemsModal">

  <div class="TooManyItemsModal__close" (click)="activeModal.close()">
    <mat-icon svgIcon="cross"></mat-icon>
  </div>

  <div class="TooManyItemsModal__content">
    <div class="TooManyItemsModal__content-image">
      <img src="./assets/images/limit-reached.svg">
    </div>

    <div class="TooManyItemsModal__content-info">
      <div class="TooManyItemsModal__content-info-title">
        <span i18n *ngIf="isPro || isCarDealer"><b>You are trying to activate more items than what your plan supports</b></span>
        <span i18n *ngIf="!isPro"><b>You’ve reached the maximum limit of cars you can publish with a free account!</b></span>
      </div>
      <div class="TooManyItemsModal__content-info-description">
        <span i18n>Please unselect some items or</span>&nbsp;
        <a [attr.href]="isCarDealer ? 'mailto:contacto.motor@wallapop.com' : 'mailto:support.es@wallapop.com'" i18n>contact us</a>
      </div>
    </div>

  </div>

  <tsl-button (click)="activeModal.close()" i18n>Understood</tsl-button>

</div>
