@import "~style/common";

.TooManyItemsModal {
  width: 100%;
  padding: 36px 44px 19px 67px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.TooManyItemsModal__close {
  @include square($spacing-ms);
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  mat-icon {
    @include square($spacing-ms);
    line-height: initial; 

    svg {
      path {
        fill: $blue-grey-3;
      }
    }
  }
}

.TooManyItemsModal__content {
  display: flex;
  align-items: center;
  text-align: justify;
  margin-bottom: 20px;
}

.TooManyItemsModal__content-info {
  margin-left: 44px;
}

.TooManyItemsModal__content-info-title {
  margin-bottom: $spacing-m;
}

.TooManyItemsModal__content-info-description {
  b {
    color: $blue-grey-2;
  }
}

.TooManyItemsModal__actions-optional {
  margin-top: $spacing-m;
  color: $blue-grey-3;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

tsl-button {
  width: 371px;
  text-align: center;

  /deep/ button {
    width: 100%;
  }
}
