@import '~style/common';

.TooManyItemsModal {
  width: 100%;
  padding: $spacing-xxl $spacing-xxl $spacing-ml $spacing-xxxl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.TooManyItemsModal__close {
  @include square($spacing-ms);
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  tsl-svg-icon {
    @include square($spacing-ms);
    line-height: initial;
    ::ng-deep svg path {
      fill: $blue-grey-3;
    }
  }
}

.TooManyItemsModal__content {
  display: flex;
  text-align: justify;
  margin-bottom: $spacing-xl;
  background: url(/assets/images/too-many-items-background.svg) no-repeat;
  min-height: 150px;
  padding-left: 194px;

  @include media-breakpoint-down(sm) {
    background: none;
    padding: 0;
  }
}

.TooManyItemsModal__content-info-title {
  margin-bottom: $spacing-m;
}

.TooManyItemsModal__content-info-description {
  b {
    color: $blue-grey-2;
  }
}

.TooManyItemsModal__actions-optional {
  margin-top: $spacing-m;
  color: $blue-grey-3;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

tsl-button {
  width: 371px;
  text-align: center;

  ::ng-deep button {
    width: 100%;
  }
}
