<div class="TooManyItemsModal">

  <div class="TooManyItemsModal__close" (click)="activeModal.close()">
    <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
  </div>

  <div class="TooManyItemsModal__content">
    <div class="TooManyItemsModal__content-info">
      <div class="TooManyItemsModal__content-info-title">
        <ng-container *ngIf="type === carDealerType; else noCarDealerTitle">
          <span i18n="@@web_too_many_items_modal_cardealer_title"><b>You are trying to activate more {{categorySubscription?.category_name}} than what your plan supports</b></span>
        </ng-container>
        <ng-template #noCarDealerTitle>
          <span i18n="@@web_too_many_items_modal_title"><b>You've reached the listing limit</b></span>
        </ng-template>
      </div>
      <div class="TooManyItemsModal__content-info-description">
        <ng-container *ngIf="type === carDealerType; else noCarDealerDescription">
          <span>
            <span i18n="@@web_too_many_items_modal_car_dealer_desc">Please unselect some items or</span>&nbsp;
            <a href="mailto:contacto.motor@wallapop.com" i18n="@@web_contact_us">contact us</a>
          </span>
        </ng-container>
        <ng-template #noCarDealerDescription>
          <ng-container *ngIf="!isHighestLimit; else isHighestLimitReached">
            <ng-container *ngIf="isFreeTrial; else noFreeTrial">
              <span i18n="@@web_too_many_items_modal_try_trial">To list more {{categorySubscription?.category_name}}, <b>try Wallapop PRO with a {{categorySubscription?.trial_days}}-day free trial.</b> Professionalise your online sales, and sell more!
                <br><br>
                If you decide Wallapop PRO isn't for you, this item will become inactive – nobody will be able to buy it.</span>
              </ng-container>
              <ng-template #noFreeTrial>
                <span i18n="@@web_too_many_items_modal_description_in_app" *ngIf="type === inAppType">You must upgrade your subscription <b>through the Wallapop app</b> if you want to publish more {{categorySubscription?.category_name}}</span>
                <span i18n="@@web_too_many_items_modal_description" *ngIf="type !== inAppType">Want to list more<ng-container *ngIf="categorySubscription"> {{categorySubscription.category_name}}</ng-container>?
                  You might be interested in signing up for Wallapop PRO. Professionalise your online sales, and sell more!
                  <br><br>
                  If you decide Wallapop PRO isn't for you, this item will become inactive – nobody will be able to buy it.</span>
              </ng-template>
            </ng-container>
            <ng-template #isHighestLimitReached>
              <span>{{highestLimitText}}</span>
            </ng-template>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="TooManyItemsModal__actions">
    <tsl-button *ngIf="type === inAppType || type === carDealerType" (click)="activeModal.close()" i18n="@@web_understood">Understood</tsl-button>
    <tsl-button *ngIf="type === notSubscribedType || (type === stripeType && !isHighestLimit)" (click)="activeModal.close()"
    routerLink="/{{PRO_PATHS.PRO_MANAGER}}/{{PRO_PATHS.SUBSCRIPTIONS}}">
      <ng-container *ngIf="isFreeTrial; else noTrialButton">
        <span  i18n="@@web_too_many_items_modal_button_go_to_trial">Start free trial</span>
      </ng-container>
      <ng-template #noTrialButton>
        <span *ngIf="tierDicounted" i18n="@@listing_limit_non_pro_users_discount_modal_start_button">Try with {{tierDicounted.discount.percentage}}% discount</span>
        <span *ngIf="!tierDicounted" i18n="@@web_too_many_items_modal_button_go_to_subscriptions">See plans</span>
      </ng-template>
    </tsl-button>
    <a *ngIf="type === stripeType && isHighestLimit" [href]="zenDeskUrl" target="_blank">
      <tsl-button (click)="activeModal.close()" i18n="@@listing_limit_pro_user_real_estate_subscription_modal_more_info_button">More info
      </tsl-button>
    </a>
    <div class="TooManyItemsModal__actions-optional"
      *ngIf="type === notSubscribedType || type === stripeType"
      (click)="activeModal.close()" i18n="@@web_too_many_items_modal_button_cancel"
    >Leave as inactive
    </div>
  </div>
</div>
