<div class="page-content" tslInfiniteScroll [infiniteScrollDistance]="5"
  [infiniteScrollDisabled]="end || loading" (scrolled)="loadMore()">
  <div class="container">
    <div class="header">
      <div class="left-col">
        <h2 i18n="@@web_catalog_pro_pages_list_78">Catalog </h2>
        <tsl-pro-badge class="ml-2"></tsl-pro-badge>
        <div class="intro"><span i18n="@@web_catalog_pro_pages_list_79">Big packages with all your items and stuff</span>
          <div class="border"></div>
          <span><a href="" 
            routerLink="/{{PRO_PATHS.PRO_MANAGER}}/{{PRO_PATHS.SUBSCRIPTIONS_PRO}}" class="corporate" i18n="@@web_catalog_pro_pages_list_80">Manage my subscription</a></span>
        </div>
      </div>
      <tsl-button className="btn btn-logout" [routerLink]="['/pro/catalog/checkout-extras']"
        i18n="@@web_catalog_pro_pages_list_81">Purchase extras</tsl-button>
    </div>
    <div class="row">
      <tsl-plan-data [counters]="counters" (subscriptionPlan)="onSetSubscriptionPlan($event)">
      </tsl-plan-data>
    </div>
    <div class="row">
      <tsl-search-input (term)="search($event)"></tsl-search-input>
      <tsl-catalog-status-navbar (filterByStatus)="filterByStatus($event)" [selectedStatus]="selectedStatus"
        [counters]="counters" [subscriptionPlan]="subscriptionPlan"></tsl-catalog-status-navbar>
      <tsl-select [items]="orderBy" (valueChanges)="sort($event)" [value]="sortBy" class="ml-auto"></tsl-select>
    </div>
    <div class="row mt-2">
      <tsl-catalog-item-actions (getCounters)="getCounters()" [active]="active" [items]="items"
        [selectedStatus]="selectedStatus"></tsl-catalog-item-actions>
      <tsl-button className="btn-primary" class="ml-auto" [routerLink]="['/catalog/upload']" i18n="@@web_catalog_pro_pages_list_82">        List a car</tsl-button>
    </div>
    <div class="row items">
      <a class="add-item col-md-12" [routerLink]="['/catalog/upload']"
        *ngIf="(!loading || (loading && items.length)) && selectedStatus === 'published'">
      </a>
      <div id="catalog-empty-state"
        *ngIf="!items.length && !loading || subscriptionPlan - counters?.publish > 0 && selectedStatus === 'active'">
        <div class="empty-text"
          *ngIf="subscriptionPlan - counters?.publish > 0 && counters?.onHold <= 0 && selectedStatus === 'active'">
          <span i18n="@@web_catalog_pro_pages_list_83">You can upload <b>{{subscriptionPlan - counters?.publish}} more cars</b> with your current
            plan.</span>
          <tsl-button className="simple" [routerLink]="['/catalog/upload']" i18n="@@web_catalog_pro_pages_list_551">List a car</tsl-button>
        </div>
        <div class="empty-text"
          *ngIf="subscriptionPlan - counters?.publish > 0 && counters?.onHold > 0 && selectedStatus === 'active'">
          <span i18n="@@web_catalog_pro_pages_list_84">You can activate <b>{{subscriptionPlan - counters?.publish}} more cars</b> with your current
            plan.</span>
          <span><a class="link" (click)="filterByStatus('pending')" i18n="@@web_catalog_pro_pages_list_85">Activate cars</a></span>
        </div>
      </div>
      <tsl-catalog-card *ngFor="let item of items" class="col-md-12" [item]="item" (bumpCancel)="bumpCancelled($event)"
        (itemChange)="itemChanged($event)">
      </tsl-catalog-card>
      <tsl-spinner [hidden]="!loading"></tsl-spinner>
    </div>
  </div>
</div>
<button [hidden]="true" tslItemSold></button>