<div class="header">
  <div class="modal-close position-absolute" (click)="activeModal.dismiss()">
    <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
  </div>
  <h1 i18n="@@web_profile_modal_become_pro_230">These fields are for Pro users</h1>
</div>

<div class="modal-body">
  <ul>
    <li i18n="@@web_profile_modal_become_pro_231">Your products will be seen more: they will be in the first position of the searches</li>
    <li i18n="@@web_profile_modal_become_pro_232">Buyers can save your shop/profile as a favorite</li>
    <li i18n="@@web_profile_modal_become_pro_233">Buyers will be able to see your phone and website in your profile for easy contact</li>
    <li i18n="@@web_profile_modal_become_pro_234">You will have a description of your store or service and its location</li>
    <li i18n="@@web_profile_modal_become_pro_235">Your profile will have a different design and will stand out!</li>
    <li i18n="@@web_profile_modal_become_pro_236">Your items won't expire</li>
  </ul>
</div>

<div class="modal-footer">
  <tsl-button (click)="activeModal.close()">{{CTAtext}}</tsl-button>
</div>