<div *ngxPermissionsOnly="['isProfessional']" class="header">
  <h2><span i18n>Your Messages</span> <span class="badge badge-pro"><mat-icon svgIcon="pro-seal"></mat-icon>Pro</span></h2>
  <tsl-process-all-button type="conversations"
                          [hidden]="!conversations.length || archive"
                          ngbTooltip="Mark everything as Processed" i18n-ngbTooltip placement="left">
    <mat-icon svgIcon="process-all"></mat-icon>
  </tsl-process-all-button>
  <div class="nav filters-nav">
    <a (click)="filterByArchived(false)" [ngClass]="{active: !archive}"><span i18n>Pending</span></a>
    <a (click)="filterByArchived(true)" [ngClass]="{active: archive}"><span i18n>Processed</span></a>
  </div>
  <div class="separator"></div>
</div>
<div class="scroll-panel" #scrollPanel (scroll)="showNewMessagesToast ? handleScroll() : null">
  <button class="btn btn-primary new-messages-toast" *ngIf="showNewMessagesToast" (click)="scrollToTop()">
    <mat-icon svgIcon="up-arrow-white"></mat-icon>
    <span i18n>New messages</span>
  </button>
  <div id="conversations" [hidden]="loading">
    <div *ngIf="errorRetrievingInbox" class="inboxError" i18n>We couldn't load your inbox due to whatever reasons :)</div>
    <tsl-inbox-conversation *ngFor="let conversation of conversations"
      [conversation]="conversation"
      [ngClass]="{'active': conversation?.active}"
      (click)="setCurrentConversation(conversation)"></tsl-inbox-conversation>
  </div>
  <div id="loader" [hidden]="!loading">
    <mat-icon svgIcon="conversations-mock"></mat-icon>
  </div>
  <div class="load-more-container" *ngIf="false">
    <a class="load-more" (click)="loadMore()">
      <mat-icon svgIcon="spinner" [hidden]="!loading" class="spinner"></mat-icon>
      <span [hidden]="loading" i18n>Load more</span>
    </a>
  </div>
</div>
