@import '~web-styleguide/scss/colors';

.MobileBlocker {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
    align-items: center;
    text-align: center;

  background: $walla-main;
  color: $white;

  z-index: 10000;

  mat-icon {
    width: 33%;
    height: 20vh;
  }
}