<div class="NewCardModal">
  <div class="NewCardModal__header">
    <div class="modal-close" (click)="activeModal.dismiss()">
      <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
    </div>
    <h4 class="NewCardModal__title" i18n="@@web_add_new_credit_card">Add a new credit card</h4>
    <p class="NewCardModal__subtitle" i18n="@@web_change_subscription_card_subtitle">This will be the payment method linked to your subscription</p>
  </div>
  <div class="NewCardModal__body">
      <tsl-stripe-card-element [newLoading]="loading" (handleStripeCardCreate)="onCreateCard($event)" [type]="'new'"
      ></tsl-stripe-card-element>
  </div>
</div>