<div class="NewCardModal">
  <div class="NewCardModal--header">
    <div class="modal-close" (click)="activeModal.dismiss()">
        <mat-icon svgIcon="cross"></mat-icon>
    </div>
    <h4 class="NewCardModal--title" i18n="@@AddNewCreditCard">Add a new credit card</h4>
    <p class="NewCardModal--subtitle" i18n="@@ChangeSubscriptionCardSubtitle">This will be the payment method linked to your subscription</p>
  </div>
  <div class="NewCardModal--body">
      <tsl-stripe-card-element [newLoading]="loading" (onStripeCardCreate)="onCreateCard($event)" [type]="'new'"
      ></tsl-stripe-card-element>
  </div>
</div>