<div class="NewCardModal">
  <div class="NewCardModal__header">
    <div class="modal-close" (click)="activeModal.dismiss()">
      <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
    </div>
    <h4 class="NewCardModal__title" i18n="@@AddNewCreditCard">Add a new credit card</h4>
    <p class="NewCardModal__subtitle" i18n="@@ChangeSubscriptionCardSubtitle">This will be the payment method linked to your subscription</p>
  </div>
  <div class="NewCardModal__body">
      <tsl-stripe-card-element [newLoading]="loading" (onStripeCardCreate)="onCreateCard($event)" [type]="'new'"
      ></tsl-stripe-card-element>
  </div>
</div>