@import "~style/common";

.NewCardModal {
  padding: $spacing-xxl $spacing-xxxl;
  .NewCardModal__header {
    h1 {
      font-size: $font-size-l;
      font-family: $wallie;
      font-weight: $font-weight-chunky;
      text-align: center;
    }
  }
}
