<div *ngIf="isOpen" class="Drawer position-fixed d-flex flex-column w-100">
  <div class="Drawer__content h-100 p-3" [class.Drawer__content--overflow-hidden]="noScroll">
    <ng-content></ng-content>
  </div>

  <div class="Drawer__actions w-100 p-2 d-flex align-items-center justify-content-end">
    <tsl-button className="basic basic-dark btn-filter" class="mx-1" i18n="@@web_cancel_button"
      (click)="handleCancel()">Cancel</tsl-button>
    <tsl-button *ngIf="hasApply" i18n="@@web_apply" className="btn-primary btn-filter" class="mx-1"
      (click)="handleApply()">Apply</tsl-button>
  </div>
</div>

<div *ngIf="isOpen" class="Drawer__backdrop position-fixed" (click)="handleClickBackdrop()" [style.top.px]="offsetTop">
</div>