@import '~style/common';

$actions-height: 70px;

.Drawer {
  top: $topbar-height;
  max-width: 500px;
  background-color: $white;
  height: calc(100% - #{$topbar-height});
  z-index: $zindex-modal-backdrop + 1;

  &__content {
    overflow: scroll;
    &--overflow-hidden {
      overflow: hidden;
    }
  }

  &__actions {
    position: sticky;
    bottom: 0;
    height: $actions-height;
    background-color: $white;
    border-top: 1px solid $blue-grey-5;
  }

  &__backdrop {
    background-color: transparentize($blue-grey-1, 0.7);
    z-index: $zindex-modal-backdrop;
    width: 100%;
    bottom: 0;
  }
}
