<div class="modal-body">
  <h2 i18n="@@web_confirmation_modal_exit_494">Do you want to leave this page?</h2>
  <p i18n="@@web_confirmation_modal_exit_495">There are unsaved info. If you leave without saving, you will lose your changes.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn" i18n (click)="activeModal.close(false)">No</button>
  <button type="button" class="btn btn-warn" i18n="@@web_confirmation_modal_exit_496" (click)="activeModal.close(true)" *ngIf="item">Yes, leave</button>
  <button type="button" class="btn btn-warn" i18n (click)="activeModal.close(true)" *ngIf="!item">Yes, leave</button>
</div>
