<div class="modal-body">
  <h2 i18n="@@web_chat_modals_block_user_176">Block user</h2>
  <p i18n="@@web_chat_modals_block_user_177">You won't be able to send or receive messages from this user. Do you wish to continue?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn" i18n="@@web_chat_modals_block_user_178" (click)="activeModal.dismiss()">Cancel</button>
  <button type="button" class="btn btn-warn" i18n="@@web_chat_modals_block_user_179" (click)="activeModal.close()">Block</button>
</div>
