<div class="item" *ngIf="cartProItem">
  <div class="item-first-section">
    <div class="item-info">
      <tsl-item-avatar [item]="cartProItem.item" size="big" fallbackLight="true" title="{{cartProItem.item.title}}"></tsl-item-avatar>
      <div>
        <div class="price">{{cartProItem.item.salePrice | customCurrency:cartProItem.item.currencyCode}}</div>
        <p class="title">{{cartProItem.item.title}}</p>
      </div>
    </div>
    <div class="item-actions">
      <div class="btn-bumps city" [ngClass]="{selected: cartProItem.bumpType === 'citybump'}" (click)="selectBump('citybump')">
        <mat-icon svgIcon="bump-city-pro"></mat-icon>
      </div>
      <div class="btn-bumps country" [ngClass]="{selected: cartProItem.bumpType === 'countrybump'}" (click)="selectBump('countrybump')">
        <mat-icon svgIcon="bump-country-pro"></mat-icon>
      </div>
    </div>
  </div>
  <div class="item-separator"></div>
  <div class="item-second-section">
    <div>
      <span class="label-date">Start date</span>
      <input class="form-control input-date" (focus)="onDateFocus()" placeholder="dd/mm/yyyy" [(ngModel)]="cartProItem.formattedFromDate"
        [disabled]="!cartProItem.bumpType" [ngClass]="{'country': cartProItem.bumpType === 'countrybump', 'city': cartProItem.bumpType === 'citybump'}">
    </div>
    <div>
      <span class="label-date">End date</span>
      <input class="form-control input-date" (focus)="onDateFocus()" placeholder="dd/mm/yyyy" [(ngModel)]="cartProItem.formattedToDate"
        [disabled]="!cartProItem.bumpType" [ngClass]="{'country': cartProItem.bumpType === 'countrybump', 'city': cartProItem.bumpType === 'citybump'}">
    </div>
    <div class="item-reset" (click)="!cartProItem.bumpType || removeItem()" [ngClass]="{'disabled': !cartProItem.bumpType}"></div>
  </div>
</div>