@import '~style/common';

$card-height: 90px;

.KYCImages {
  &__content {
    width: 100%;
    @include media-breakpoint-up(sm) {
      width: 40%;
    }
  }

  .Card {
    height: $card-height;
    border: solid 2px $blue-grey-5;
    cursor: pointer;

    &__label {
      box-shadow: none;
    }

    &__title {
      color: $blue-grey-2;
    }

    &:hover {
      transform: $item-card-hover-translate;
      box-shadow: $item-card-hover-box-shadow;
      .Card__title {
        color: $blue-grey-1;
      }
    }

    &--selected {
      border: solid 2px $blue-grey-2;
      .Card__title {
        color: $blue-grey-1;
      }
    }
  }

  &__back {
    cursor: pointer;
    &:hover {
      text-decoration: none;
      &,
      tsl-svg-icon {
        opacity: 0.8;
      }
    }
  }
}
