<tsl-profile-form [profileForm]="billingForm" (onInit)="initForm()">
  <form [formGroup]="billingForm" (submit)="onSubmit($event)" class="BillingForm">
    <div class="box profile-box">
      <div class="content" [hidden]="loading">
        <div class="row mb-2 mb-md-4" *ngIf="!containerType">
          <div class="col-12">
            <h3 i18n="@@web_invoice_information">Invoice information</h3>
          </div>
          <div class="content-subtitle col-11 offset-sm-0 offset-md-1">
            <span i18n="@@web_profile_pro_billing_subtitle">For services other than subscriptions (e.g. visibility packs) you won't receive invoices.</span>
          </div>
        </div>
        <div class="row mb-2 mb-md-4" *ngIf="containerType===INVOICE_COMPONENT_TYPE.PROFILE_INFO">
          <span i18n="@@web_invoice_history_description" class="BillingForm__description">
            For now, you can only view or download invoices or credit memos from your subscriptions.
          </span>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 offset-md-0">
            <div class="form-group row align-items-center">
              <label for="type" class="col-sm-12 col-md-5" i18n="@@web_profile_pro_billing_form_type">Type of registration</label>
              <div class="col-sm-12 col-md-7 RegistrationType">
                <div class="input-radio RegistrationType_radio">
                  <input type="radio"
                    formControlName="type"
                    value="natural"
                    id="type-natural"
                    required
                    [checked]="type === 'natural'">
                  <span class="RegistrationType_title" i18n="@@web_profile_pro_billing_form_natural">Natural person</span>
                </div>
                <div class="input-radio RegistrationType_radio">
                  <input type="radio"
                    formControlName="type"
                    value="legal"
                    id="type-legal"
                    [checked]="type !== 'natural'">
                  <span class="RegistrationType_title" i18n="@@web_profile_pro_billing_form_legal">Legal person</span>
                </div>
              </div>
            </div>
            <div *ngIf="type === 'natural'" class="form-group row align-items-center">
              <label for="name" class="col-sm-12 col-md-5" i18n="@@web_first_name">First Name</label>
              <div class="col-sm-12 col-md-5">
                <input type="text" class="form-control" id="name" formControlName="name" />
                <div *ngIf="isIncorrectFormcontrol(billingForm.controls.name)" class="alert">
                  <span *ngIf="billingForm.controls.name.errors.required" i18n="@@web_name_required">
                    Name is required.
                  </span>
                  <span *ngIf="billingForm.controls.name.errors.maxlength" i18n="@@web_name_max_length">
                    Name must be at most 32 characters long.
                  </span>
                </div>
              </div>
            </div>
            <div *ngIf="type === 'natural'" class="form-group row align-items-center">
              <label for="surname" class="col-sm-12 col-md-5" i18n="@@web_last_name">Last Name</label>
              <div class="col-sm-12 col-md-5">
                <input type="text" class="form-control" id="surname" formControlName="surname" />
                <div *ngIf="isIncorrectFormcontrol(billingForm.controls.surname)" class="alert">
                  <span *ngIf="billingForm.controls.surname.errors.required" i18n="@@web_surname_required">
                    Surname is required.
                  </span>
                  <span *ngIf="billingForm.controls.surname.errors.maxlength" i18n="@@web_surname_max_length">
                    Surname must be at most 32 characters long.
                  </span>
                </div>
              </div>
            </div>
            <div *ngIf="type === 'legal'" class="form-group row align-items-center">
              <label for="company_name" class="col-sm-12 col-md-5" i18n="@@web_company_name">Company Name</label>
              <div class="col-sm-12 col-md-5">
                <input type="text" class="form-control" id="company_name" formControlName="company_name" />
                <div *ngIf="isIncorrectFormcontrol(billingForm.controls.company_name)" class="alert alert-danger">
                  <span *ngIf="billingForm.controls.company_name.errors.required" i18n="@@web_company_name_required">
                    Company name is required.
                  </span>
                  <span *ngIf="billingForm.controls.company_name.errors.maxlength" i18n="@@web_company_name_max_length">
                    Company name must be at most 32 characters long.
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label *ngIf="type === 'legal'" for="cif" class="col-sm-12 col-md-5" i18n="@@web_cif_number">CIF of the company</label>
              <label *ngIf="type === 'natural'" for="cif" class="col-sm-12 col-md-5" i18n="@@web_nif_number">NIF of the person</label>
              <div class="col-sm-12 col-md-5">
                <input type="text" class="form-control" id="cif" formControlName="cif"/>
                <div *ngIf="isIncorrectFormcontrol(billingForm.controls.cif)" class="alert">
                  <span *ngIf="billingForm.controls.cif.errors.required" i18n="@@web_cif_required">
                    CIF/NIF is required.
                  </span>
                  <span *ngIf="billingForm.controls.cif.errors.cif" i18n="@@web_cif_format">
                    CIF/NIF must be valid.
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label for="email" class="col-sm-12 col-md-5" i18n="@@web_email">E-mail</label>
              <div class="col-sm-12 col-md-5">
                <input type="text" class="form-control" id="email" formControlName="email" />
                <div *ngIf="isIncorrectFormcontrol(billingForm.controls.email)" class="alert">
                  <span *ngIf="billingForm.controls.email.errors.required" i18n="@@web_email_required">
                    E-mail is required.
                  </span>
                  <span *ngIf="billingForm.controls.email.errors.email" i18n="@@web_email_format">
                    E-mail must be valid.
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label for="street" class="col-sm-12 col-md-5" i18n="@@web_billing_address">Billing address</label>
              <div class="col-sm-12 col-md-5">
                <input type="text" class="form-control" id="street" formControlName="street"/>
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label for="city" class="col-sm-12 col-md-5" i18n="@@web_city">City</label>
              <div class="col-sm-12 col-md-5">
                <input type="text" class="form-control" id="city" formControlName="city"/>
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label for="postal_code" class="col-sm-12 col-md-5" i18n="@@web_postal_code">Postal code</label>
              <div class="col-sm-12 col-md-5">
                <input type="text" class="form-control" id="postal_code" formControlName="postal_code"/>
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label for="country" class="col-sm-12 col-md-5" i18n="@@web_country">Country</label>
              <div class="col-sm-12 col-md-5">
                <input type="text" class="form-control" id="country" formControlName="country"/>
              </div>
            </div>
            <div class="row" *ngIf="isSubmitShown">
              <div class="col-7" [ngClass]="{'offset-md-5 offset-sm-2': isNewBillingInfoForm, 'offset-md-3 text-center': !isNewBillingInfoForm}">
                <tsl-button [type]="'submit'" [loading]="loading" className="btn-primary btn-big" i18n="@@web_save">Save</tsl-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row loading-center">
        <tsl-spinner [hidden]="!loading"></tsl-spinner>
      </div>
    </div>
  </form>
</tsl-profile-form>
