<tsl-profile-form [profileForm]="billingForm" (onInit)="initForm()">
  <form [formGroup]="billingForm" (submit)="onSubmit($event)">
    <div class="box profile-box">
        <div class="row mb-2 mb-md-4" *ngIf="!containerTypeIsModal">
          <div class="col-11 offset-1">
            <h3 i18n="@@InvoiceInformation">Invoice information</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 offset-md-0">
            <div class="form-group row align-items-center">
              <label for="type" class="col-sm-12 col-md-5" i18n="@@ProfileProBillingFormType">Type of registration</label>
              <div class="col-sm-12 col-md-7 RegistrationType">
                <div class="RegistrationType_radio">
                  <input type="radio"
                    formControlName="type"
                    value="natural"
                    id="type-natural"
                    required
                    [checked]="type === 'natural'">
                  <span class="RegistrationType_title" i18n="@@ProfileProBillingFormNatural">Natural</span>
                </div>
                <div class="RegistrationType_radio">
                  <input type="radio"
                    formControlName="type"
                    value="legal"
                    id="type-legal"
                    [checked]="type !== 'natural'">
                  <span class="RegistrationType_title" i18n="@@ProfileProBillingFormLegal">Legal</span>
                </div>
              </div>
            </div>
            <div *ngIf="type === 'natural'" class="form-group row align-items-center">
              <label for="name" class="col-sm-12 col-md-5" i18n="@@FirstName">First Name</label>
              <div [ngClass]="{'col-sm-12 col-md-7': containerTypeIsModal, 'col-sm-12 col-md-5': !containerTypeIsModal}">
                <input type="text" class="form-control" id="name" formControlName="name" />
              </div>
            </div>
            <div *ngIf="type === 'natural'" class="form-group row align-items-center">
              <label for="surname" class="col-sm-12 col-md-5" i18n="@@LastName">Last Name</label>
              <div [ngClass]="{'col-sm-12 col-md-7': containerTypeIsModal, 'col-sm-12 col-md-5': !containerTypeIsModal}">
                <input type="text" class="form-control" id="surname" formControlName="surname" />
              </div>
            </div>
            <div *ngIf="type === 'legal'" class="form-group row align-items-center">
              <label for="company_name" class="col-sm-12 col-md-5" i18n="@@CompanyName">Company Name</label>
              <div [ngClass]="{'col-sm-12 col-md-7': containerTypeIsModal, 'col-sm-12 col-md-5': !containerTypeIsModal}">
                <input type="text" class="form-control" id="company_name" formControlName="company_name" />
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label for="email" class="col-sm-12 col-md-5" i18n="@@Email">E-mail</label>
              <div [ngClass]="{'col-sm-12 col-md-7': containerTypeIsModal, 'col-sm-12 col-md-5': !containerTypeIsModal}">
                <input type="text" class="form-control" id="email" formControlName="email" />
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label for="street" class="col-sm-12 col-md-5" i18n="@@BillingAddress">Billing address</label>
              <div [ngClass]="{'col-sm-12 col-md-7': containerTypeIsModal, 'col-sm-12 col-md-5': !containerTypeIsModal}">
                <input type="text" class="form-control" id="street" formControlName="street"/>
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label for="city" class="col-sm-12 col-md-5" i18n="@@City">City</label>
              <div [ngClass]="{'col-sm-12 col-md-7': containerTypeIsModal, 'col-sm-12 col-md-5': !containerTypeIsModal}">
                <input type="text" class="form-control" id="city" formControlName="city"/>
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label for="postal_code" class="col-sm-12 col-md-5" i18n="@@PostalCode">Postal code</label>
              <div [ngClass]="{'col-sm-12 col-md-7': containerTypeIsModal, 'col-sm-12 col-md-5': !containerTypeIsModal}">
                <input type="text" class="form-control" id="postal_code" formControlName="postal_code"/>
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label for="country" class="col-sm-12 col-md-5" i18n="@@Country">Country</label>
              <div [ngClass]="{'col-sm-12 col-md-7': containerTypeIsModal, 'col-sm-12 col-md-5': !containerTypeIsModal}">
                <input type="text" class="form-control" id="country" formControlName="country"/>
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label *ngIf="type === 'legal'" for="cif" class="col-sm-12 col-md-5" i18n="@@CIFNumber">CIF Number</label>
              <label *ngIf="type === 'natural'" for="cif" class="col-sm-12 col-md-5" i18n="@@NIFNumber">NIF Number</label>
              <div [ngClass]="{'col-sm-12 col-md-7': containerTypeIsModal, 'col-sm-12 col-md-5': !containerTypeIsModal}">
                <input type="text" class="form-control" id="cif" formControlName="cif"/>
              </div>
            </div>
            <div class="row" *ngIf="!containerTypeIsModal">
              <div class="col-7" [ngClass]="{'offset-md-5 offset-sm-2': isNewBillingInfoForm, 'offset-md-3 text-center': !isNewBillingInfoForm}">
                <tsl-button [type]="'submit'" [loading]="loading" className="btn-primary btn-big" i18n="@@Save">Save</tsl-button>
              </div>
              <div class="col-sm-12 col-md-2 delete-link" *ngIf="!isNewBillingInfoForm && !containerTypeIsModal">
                <a (click)="deleteBillingInfo()" i18n="@@DeleteInformation">Delete information</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </form>
</tsl-profile-form>
