@import '~style/common';

.BillingForm {
  .content {
    margin: 0 $spacing-s;
    padding: 0 $spacing-l;

    &-subtitle {
      font-size: $font-size-s;
    }
  }

  &__description {
    color: $blue-grey-3;
  }

  input,
  textarea {
    &.ng-dirty.ng-invalid {
      border: 1px solid $negative-main !important;
    }
  }
  ng-select.ng-dirty.ng-invalid > div {
    border: 1px solid $negative-main !important;
  }
  .input-radio.ng-dirty.ng-invalid input {
    border: 1px solid $negative-main !important;
  }
  &.disabled {
    .form-control:disabled {
      cursor: auto;
      border: 0;
    }
  }
  .alert {
    font-size: $font-size-s;
    color: $negative-main;
  }

  .RegistrationType {
    display: flex;
    &_radio {
      margin: 0 $spacing-l 0 0;
    }
    &_title {
      margin: 0 $spacing-s;
    }
  }

  .loading-center {
    display: block;
    margin: 0 auto;
  }
}
