<div class="CategoryListingModal">
  <div class="CategoryListingModal__close">
    <div class="modal-close" (click)="activeModal.close()">
      <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
    </div>
  </div>
  <span class="CategoryListingModal__title" i18n="@@web_profile_modal_cancel_subscription_237">Would you want to cancel the PRO subscription {{subscription.category_name}}?</span>
  <span class="CategoryListingModal__subtitle" i18n="@@web_profile_modal_cancel_subscription_237">Would you want to cancel the PRO subscription {{subscription.category_name}}?</span>
  <div  class="CategoryListingModal__options">
   <ng-container *ngFor="let option of categories">
     <tsl-select-option [icon]="option.icon_id" [label]="option.name">
     </tsl-select-option>
   </ng-container>
  </div>
</div>