<div class="header">
  <div class="modal-close" (click)="activeModal.dismiss()">
    <mat-icon svgIcon="cross"></mat-icon>
  </div>
  <h1 i18n>These fields are for Pro users</h1>
</div>

<div class="modal-body">
  <ul>
    <li i18n>Your products will be seen more: they will be in the first position of the searches</li>
    <li i18n>Buyers can save your shop/profile as a favorite</li>
    <li i18n>Buyers will be able to see your phone and website in your profile for easy contact</li>
    <li i18n>You will have a description of your store or service and its location</li>
    <li i18n>Your profile will have a different design and will stand out!</li>
    <li i18n>Your items won't expire</li>
  </ul>
</div>

<div class="modal-footer">
  <tsl-button (click)="activeModal.close()" i18n>Ok, got it!</tsl-button>
</div>