@import "~style/common";

.header {
  background: $blue-grey-5;
  height: 137px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1, p {
    color: $blue-grey-1;
  }
  h1 {
    font-size: $font-size-l;
    font-weight: bold;
  }
  p {
    margin: 0;
    font-size: $font-size-m;
    color: $blue-grey-2;
  }
}

.modal-body {
  width: 600px;
  text-align: center;
  padding: $spacing-ml $spacing-xl $spacing-l;
  ul {
    margin-bottom: $spacing-l;
    padding: 0;
    li {
      color: $blue-grey-1;
      text-align: left;
      font-size: $font-size-base;
      list-style: none;
      margin-bottom: $spacing-ms;
      background: url(/assets/icons/rounded-check.svg) no-repeat left center;
      padding-left: $spacing-xxl;
      background-size: 20px;
    }
  }
  .btn {
    background: $color-pro-light;
    border-radius: 100px;
    color: $white;
    width: 296px;
  }
}
