@import "~style/common";

.header {
  background-image: linear-gradient(to bottom, $color-pro-super-light, $color-pro);
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  .pro {
    background: url(/assets/images/pro-aura.svg);
    @include square(180px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .label {
      display: block;
      background-color: $white;
      color: $color-pro;
      text-transform: uppercase;
      font-size: $font-size-S;
      border-radius: 20px;
      font-weight: bold;
      position: absolute;
      bottom: 42px;
      padding: 3px 11px;
    }
  }
}

.modal-body {
  width: 580px;
  text-align: center;
  padding: $spacing-L $spacing-XL;
  h1, p {
    color: $color-pro-light;
  }
  p {
    margin: 0;
    font-size: $font-size;
  }
  h1 {
    font-size: 24px;
    margin-bottom: $spacing-XXS;
  }
  ul {
    margin: $spacing-L 0;
    padding: 0;
    li {
      color: $grey-500;
      text-align: left;
      font-size: $font-size-S;
      list-style: none;
      margin-bottom: $spacing-S;
      background: url(/assets/icons/check-purple.svg) no-repeat left center;
      padding-left: 50px;
      background-size: 20px;
    }
  }
  .btn {
    background: $color-pro-light;
    border-radius: 100px;
    color: $white;
    width: 296px;
  }
}
