<div class="header">
  <div class="modal-close light" (click)="activeModal.dismiss()">
    <mat-icon svgIcon="cross"></mat-icon>
  </div>
  <div class="pro">
    <tsl-user-avatar [user]="user" [imageUrl]="user?.image?.urls_by_size.medium" size="80"></tsl-user-avatar>
    <div class="label">Pro</div>
  </div>
</div>
<div class="modal-body">

  <h1 i18n>Conviértete en <b>PRO desde la app</b></h1>
  <p i18n>y cancela en cualquier momento</p>

  <ul>
    <li>Tus productos se verán más porque estarán en las primeras posiciones de las búsquedas </li>
    <li>Los compradores podrán guardar tu tienda / perfil como favorito</li>
    <li>Los compradores podrán ver en tu perfil el teléfono y web para contactar fácilmente</li>
    <li>Tendrás una descripción de tu tienda o servicio y ubicación</li>
    <li>Tu perfil tendrá un diseño diferente y ¡destacará!</li>
    <li>Tus productos no caducarán nunca</li>
  </ul>

  <button class="btn btn-secondary" (click)="activeModal.close()" i18n>Entendido</button>

</div>
