@import '~style/common';

.header {
  background: $blue-grey-5;
  height: 137px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1,
  p {
    color: $blue-grey-1;
    margin: 0;
  }
  h1 {
    font-size: $font-size-l;
    font-weight: $font-weight-chunky;
  }
  p {
    font-size: $font-size-m;
    color: $blue-grey-2;
  }
}

.modal-body {
  width: 600px;
  text-align: center;
  padding: $spacing-ml $spacing-xl 0;
  ul {
    padding: 0;
    li {
      color: $blue-grey-1;
      text-align: left;
      font-size: $font-size-m;
      list-style: none;
      margin-bottom: $spacing-ms;
      background: url(/assets/icons/rounded-check.svg) no-repeat left center;
      padding-left: $spacing-xxl;
      background-size: 20px;
    }
  }
  .btn {
    background: $color-pro-light;
    border-radius: 100px;
    color: $white;
    width: 296px;
  }
}

.modal-footer {
  width: 100%;
  position: sticky;
  bottom: 0;
  padding: $spacing-m 0;
  background-color: rgba($white, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
