@import '~style/common';

.FilterHost {
  &--drawer {
    margin: ($spacer * 1.5) 0;

    ::ng-deep {
      & > *:not(:empty) {
        display: block;
        border-bottom: 1px solid $blue-grey-5;
        padding-bottom: ($spacer * 1.5);
        margin-bottom: ($spacer * 1.5) 0;
      }
    }
  }
}
