<div class="SelectedItems" [ngClass]="{'SelectedItems--selection': itemService.selectedItems.length > 0}">

  <div class="container h-100">
    <div class="row h-100">

      <div class="col-3 d-none d-md-flex align-items-center justify-content-start">
        <div class="SelectedItems__total-selected" [hidden]="itemService.selectedItems.length === 0"
          (click)="deselect()">
          <a class="mr-2">
            <ng-container [ngPlural]="itemService.selectedItems.length">
              <ng-template ngPluralCase="=1">
                <ng-container i18n="@@web_catalog_components_selected_items_111">1 item selected</ng-container>
              </ng-template>
              <ng-template ngPluralCase="other">
                <ng-container i18n="@@web_catalog_components_selected_items_112">{{itemService.selectedItems.length}} items selected
                </ng-container>
              </ng-template>
            </ng-container>
          </a>
        </div>
      </div>

      <div class="col-6 col-md-4 d-flex align-items-center justify-content-center">
        <div *ngFor="let item of selectedItems | slice:0:4; let last = last" class="SelectedItems__item">
          <tsl-item-avatar [item]="item" size="small">
          </tsl-item-avatar>
          <span class="SelectedItems__item-title" *ngIf="selectedItems.length === 1">{{item.title}}</span>
          <div *ngIf="selectedItems.length - 3 > 1 && last" class="last">
            <span>+{{selectedItems.length - 3}}</span>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-5 d-flex align-items-center justify-content-end">
        <div class="SelectedItems__actions d-flex align-items-center">

          <!-- Delete -->
          <button class="btn-delete dark d-flex align-items-center justify-content-center"
            (click)="onClickAction('delete')" [hidden]="itemService.selectedAction === 'feature'"
            [disabled]="!itemService.selectedItems.length">
            <tsl-svg-icon src="/assets/icons/delete.svg"></tsl-svg-icon>
            <span i18n="@@web_catalog_components_selected_items_113">Delete</span>
          </button>

          <!-- Deactivate -->
          <button class="btn-deactivate dark" *ngIf="selectedSubscriptionSlot && selectedStatus === STATUS.ACTIVE"
            (click)="onClickAction('deactivate')"
            [hidden]="itemService.selectedAction === 'feature' || (selectedStatus !== STATUS.PUBLISHED && selectedStatus !== STATUS.ACTIVE)"
            [disabled]="!itemService.selectedItems.length"
            i18n="@@web_catalog_components_selected_items_114">Deactivate</button>

          <!-- Activate responsive -->
          <button *ngIf="showActiveButton" class="btn-activate"
            [disabled]="!itemService.selectedItems.length" (click)="onClickAction('activate')" i18n="@@web_catalog_components_selected_items_557">Activate</button>

          <div class="SelectedItems__feature d-none d-md-flex flex-column ml-4" *ngIf="!hideFeaturedButton || showActiveButton">
            <!-- Feature -->
            <ng-container *ngxPermissionsOnly="PERMISSIONS.bumps">
              <ng-container *ngIf="!hideFeaturedButton">
                <tsl-button className="btn-primary btn-big" [disabled]="itemService.selectedItems.length === 0"
                [routerLink]="['/catalog/checkout']" 
                i18n="@@web_catalog_components_selected_items_558">Feature</tsl-button>
              </ng-container>
            </ng-container>
            <ng-container  *ngIf="showActiveButton">
            <!-- Activate -->
              <tsl-button className="btn-primary btn-big" [disabled]="!itemService.selectedItems.length"
              (click)="onClickAction('activate')" 
              i18n="@@web_catalog_components_selected_items_641">Activate</tsl-button>
            </ng-container>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
