@import '~style/common';

.SubscriptionCard {
  border: 1px solid $blue-grey-5;
  border-radius: 10px;
  padding: $spacing-xl;
  color: $blue-grey-2;
  margin-top: $spacing-xl;

  &--desktop {
    > * {
      pointer-events: none;
    }
    &:hover {
      border: solid 2px $color-pro-main;
      cursor: pointer;
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 0;
    margin-top: $spacing-m;
  }

  &__content {
    max-width: 500px;
    @include media-breakpoint-down(sm) {
      padding: $spacing-m;
    }
  }

  &__banner {
    border-radius: 21px;
    font-weight: $font-weight-chunky;
    font-size: $font-size-xs;
    background-color: $color-pro-discount;
    color: $white;
  }

  &__title {
    font-size: $font-size-l;
    font-weight: $font-weight-chunky;
    color: $blue-grey-1;
  }

  &__icon {
    margin-right: -50px;
    margin-top: -60px;

    @include media-breakpoint-down(sm) {
      background: linear-gradient(0deg, transparent 30%, $color-pro-main 30%);
      border-radius: 6px;
      margin-right: 0;
      margin-top: 0;

      img {
        padding-top: $spacing-ml;
        height: 160px;
      }
    }
  }

  &__price-description {
    font-weight: normal;
  }

  &__price {
    font-weight: $font-weight-chunky;
  }
}
