@import '~style/common';

.SubscriptionCard {
  border: 1px solid $blue-grey-5;
  border-radius: 10px;
  padding: 32px;
  color: $blue-grey-2;
  margin-top: 44px;

  @include media-breakpoint-down(sm) {
    background: linear-gradient(0deg, transparent 70%, #385ef9 30%);
    padding: 16px;
    margin-top: 16px;
  }

  &__banner {
    border-radius: 21px;
    font-weight: bold;
    font-size: 12px;
    background-color: #f75883;
    color: white;
  }

  &__info {
    font-size: $font-size-s;
    &--edit {
      color: $walla-main;
      cursor: pointer;
    }
    &--price {
      font-weight: bold;
    }
  }

  &__title {
    font-size: $font-size-l;
    font-weight: bold;
    color: $blue-grey-1;
  }

  &__icon {
    margin-right: -50px;
    margin-top: -60px;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-top: 0;

      img {
        height: 160px;
      }
    }
  }

  &--subscribed {
    border: 2px solid #385ef9;
  }

  &__date {
    font-size: $font-size-m;
  }

  &__price {
    font-size: $font-size-m;
    font-weight: bold;

    &__description {
      color: $blue-grey-2;
      font-size: $font-size-s;
      font-weight: normal;
    }
  }
}
