<div class="SubscriptionCard d-flex justify-content-between" [ngClass]="{
    'SubscriptionCard--subscribed': isSubscribed
  }">
    <div class="w-100 d-flex flex-column align-items-start">
        <div *ngIf="hasTrialAvailable || tierDiscount" class="SubscriptionCard__banner px-2 mb-3" [ngClass]="{
            'SubscriptionCard__banner--trial': hasTrialAvailable,
            'SubscriptionCard__banner--discount': tierDiscount && !hasTrialAvailable 
        }">
            <span *ngIf="tierDiscount; else trialLabel"
                i18n="@@pro_subscription_purchase_tier_list_discount_label">{{tierDiscount.discount.percentage}}%
                off!</span>
            <ng-template #trialLabel>
                <span i18n="@@web_subscription_price_discount_days_trial_free">{{subscription.trial_days}}-day trial for
                    free</span>
            </ng-template>
        </div>
        <div class="SubscriptionCard__title mb-1">{{subscription.category_name}}</div>
        <div class="SubscriptionCard__subtitle d-flex align-items-center mb-1">{{descriptionText}}
        </div>
        <div class="SubscriptionCard__price mb-2">
            <ng-container *ngIf="!isSubscribed; else subscriptionPrice">
                <tsl-subscription-price-discount [subscription]="subscription" [tierDiscount]="tierDiscount">
                </tsl-subscription-price-discount>
            </ng-container>
            <ng-template #subscriptionPrice>
                <span
                    i18n="@@web_profile_pages_subscription_326">{{subscription.selected_tier.discount ? subscription.selected_tier.discount.price : subscription.selected_tier.price}}{{subscription.selected_tier.currency}}/month</span>
                <div class="SubscriptionCard__price__description">
                    <span *ngIf="subscription.trial_available;else noFreeTrialDesc"
                        i18n="@@web_price_after_free_days">at the end of free trial</span>
                    <ng-template #noFreeTrialDesc>
                        <div *ngIf="subscription.selected_tier.discount">
                            <span
                                i18n="@@web_profile_pages_subscription_326">{{subscription.selected_tier.price}}{{subscription.selected_tier.currency}}/month</span><br><span
                                i18n="@@pro_subscription_purchase_summary_start_period_web">starting from
                                {{subscription.selected_tier.discount.no_discount_date |  date:'longDate' }}</span>
                        </div>
                    </ng-template>
                </div>
            </ng-template>
        </div>
        <ng-container *ngIf="isSubscribed">
            <div class="SubscriptionCard__date mb-2">
                <span i18n="@@web_profile_pages_subscription_329">Subscribed
                    from <b>{{subscription.subscribed_from | date:'longDate' }}</b>
                </span>
            </div>
            <div class="mb-2 text-left" *ngIf="subscription.subscribed_until">
                <span i18n="@@pro_manage_subscriptions_view_cancel_plan_cancel_subscription_status_description">You
                    requested subscription cancellation, the deactivation will be effective starting</span><b
                    ngPreserveWhitespaces> {{subscription.subscribed_until | date:'longDate' }}</b>
            </div>
        </ng-container>
        <ng-container *ngIf="isSubscribed; else subscriptionButton">
            <tsl-button className="btn-secondary" (click)="onButtonClick()">
                {{textButton}}</tsl-button>
        </ng-container>
        <ng-template #subscriptionButton>
            <tsl-button className="btn-primary btn-primary--bold" (click)="onButtonClick()">
                {{textButton}}</tsl-button>
        </ng-template>
    </div>
    <div class="SubscriptionCard__icon">
        <img [src]="iconSrc">
    </div>
</div>