@import '~style/common';

.SubscriptionCard {
  border: 1px solid $blue-grey-5;
  border-radius: 10px;
  padding: 32px;
  color: $blue-grey-2;
  margin-top: 44px;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 10px 0 rgba($blue-grey-1, 0.1);
  }

  &__banner {
    border-radius: 21px;
    font-weight: bold;
    font-size: 12px;

    &--trial {
      background-color: #f75883;
      color: $blue-grey-1;
    }

    &--discount {
      background-color: #f75883;
      color: $white;
    }
  }

  &__info {
    font-size: $font-size-s;
    &--edit {
      color: $walla-main;
      cursor: pointer;
    }
    &--price {
      font-weight: bold;
    }
  }

  &__title {
    font-size: $font-size-l;
    font-weight: bold;
    color: $blue-grey-1;
  }

  &__icon {
    margin-right: -50px;
    margin-top: -60px;
  }

  &--subscribed {
    border: 2px solid $walla-main;
  }

  &__date {
    font-size: $font-size-s;
  }

  &__price {
    font-size: $font-size-m;
    font-weight: bold;

    &__description {
      color: $blue-grey-2;
      font-size: $font-size-s;
      font-weight: normal;
    }
  }
}
