<div class="modal-body center-heading">
  <h1 i18n>Report</h1>
  <div class="modal-close" (click)="activeModal.dismiss()">
    <mat-icon svgIcon="cross"></mat-icon>
  </div>
  <div class="scroll">
    <div [ngClass]="{selected: selectedReportListingReason === reason.id}"
         class="report-ban-reason row align-items-center"
         (click)="selectReportListingReason(reason.id)" *ngFor="let reason of listingBanReasons">
      <div class="col-3">
        <div class="ban-reason-icon-container">
          <mat-icon svgIcon="report-listing-{{reason.id}}"></mat-icon>
        </div>
      </div>
      <div class="col-auto label">
        {{reason.label}}
      </div>
    </div>
  </div>
<div class="centered">
  <tsl-button className="btn-primary"
              [disabled]="!selectedReportListingReason"
              (click)="close();"
              i18n>Report</tsl-button>
</div>
