@import '~style/common';

.WalletBalanceInfo {
  height: 208px;

  &__amount {
    height: 103px;
    padding: $spacing-m $spacing-m;
    color: $blue-grey-1;
    font-weight: $font-weight-chunky;

    &__integer {
      font-size: 74px;
      line-height: 74px;
    }

    &__decimal {
      font-size: $font-size-xl;
    }

    &__currency {
      font-size: $font-size-xl;
      color: $blue-grey-2;
    }

    &--hasPositiveBalance {
      background-image: url('/assets/images/confeti.svg');
    }
  }

  &__CTA {
    margin-top: 28px;
  }
}
