<div class="WalletBalanceInfoInfo py-3 box mt-3 profile-box">
  <div class="row">
    <div class="col">
      <div *ngIf="loading" class="WalletBalanceInfo__loading w-100 h-100 d-flex justify-content-center align-content-center align-items-center">
        <tsl-svg-icon width="64" height="64" src="/assets/icons/spinner.svg" class="spinner"></tsl-svg-icon>
      </div>

      <div *ngIf="!loading && !isError && walletBalance" class="w-100 h-100 d-flex flex-column justify-content-center align-content-center align-items-center">
        <div class="WalletBalanceInfo__amount w-100 d-flex justify-content-center align-content-center"
          [ngClass]="{'WalletBalanceInfo__amount--hasPositiveBalance': hasPositiveBalance }">
          <div class="WalletBalanceInfo__amount__integer">{{walletBalance.amount.integer}}</div>
          <div class="WalletBalanceInfo__amount__decimal">{{walletBalance.amount.decimals | number: '2.0-0'}}</div>
          <div class="WalletBalanceInfo__amount__currency">{{walletBalance.currency.symbol}}</div>
        </div>

        <div class="WalletBalanceInfo__CTA">
          <tsl-button [disabled]="!allowTransfer" i18n="@@wallet_view_transfer_button">Transfer to my bank account</tsl-button>
        </div>
      </div>

      <div *ngIf="!loading && isError" class="WalletBalanceInfo__error w-100 h-100 d-flex justify-content-center align-content-center align-items-center">
        <img src="/assets/images/error.svg" alt="error" />
      </div>
    </div>
  </div>
</div>
