@import '~style/common';

$header-height: 63px;

.ItemDetailImages {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}

.ItemHeader {
  height: $header-height;
  background-color: $white;

  &__backButton {
    cursor: pointer;
  }
  &__price {
    font-weight: $font-weight-chunky;
  }
  &__buttons {
    right: 0px;
  }
}

.ItemContainer {
  top: $header-height;
  height: auto;
  background-color: $blue-grey-5;
  bottom: 0;

  &__carousel {
    max-height: 95%;
    max-width: 100%;
  }
}
