<div class="ItemDetailImages w-100 h-100" *ngIf="hidden === false">
    <div class="ItemHeader d-flex pl-4  align-items-center w-100">
        <tsl-svg-icon class="ItemHeader__backButton" src="/assets/icons/arrow-back.svg" (click)="hidden = true">
        </tsl-svg-icon>
        <div class="ml-4 d-flex flex-column">
            <span>{{item?.title}}</span>
            <span class="ItemHeader__price">{{item?.salePrice |
                customCurrency:item?.currencyCode}}</span>
        </div>
        <div class="p-3 position-absolute ItemHeader__buttons">
            <tsl-button className="btn btn-upload mr-2">
                <tsl-favourite-icon [active]="true">
                </tsl-favourite-icon>
            </tsl-button>
            <tsl-button className="btn btn-primary">Chat</tsl-button>
        </div>
    </div>
    <div class="ItemContainer position-absolute d-flex align-items-center w-100">
        <div class="container w-100 h-100 p-0 p-md-5">
            <tsl-images-carousel *ngIf="images" [images]="images" class="ImagesCarousel__noBackgroundIndicators"
                imageClass="contain">
            </tsl-images-carousel>
        </div>
    </div>
</div>