@import '~style/common';

.ConfirmCardModal {
  text-align: center;
  padding: $spacing-xxl $spacing-xxxl;

  @include media-breakpoint-down(md) {
    padding: $spacing-l $spacing-m;
  }

  &--title {
    font-size: $font-size-l;
    font-weight: bold;
  }

  &--buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $spacing-l 0 0;
  }

  tsl-button {
    width: 100%;
    ::ng-deep .btn {
      width: 95%;
    }
  }

  &--cardDetails {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  &--cardNumber {
    margin: 0 $spacing-xs;
    color: $walla-main;
    font-weight: bold;
  }
}
