<div class="ConfirmCardModal">
    <div class="modal-close" (click)="activeModal.dismiss()">
      <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
    </div>
    <h4 class="ConfirmCardModal--title" i18n="@@web_confirm_payment_method">Confirm payment method</h4>
    <p class="" i18n="@@web_charge_this_card">The card linked to your subscriptions will be</p>
    <div class="ConfirmCardModal--cardDetails">
      <tsl-svg-icon src="/assets/icons/card-{{financialCard?.brand}}.svg"></tsl-svg-icon>
      <span class="ConfirmCardModal--cardNumber">****-****-****-{{financialCard?.last4}}</span>
    </div>
    <div class="ConfirmCardModal--buttons">
      <tsl-button className="btn btn-secondary" (click)="activeModal.dismiss()" i18n="@@web_cancel">Cancel</tsl-button>
      <tsl-button className="btn btn-primary" (click)="confirmChange()" i18n="@@web_yes">Yes</tsl-button>
    </div>
</div>
