<ng-container *ngIf="transactionDetail">
  <tsl-transaction-detail-without-action
    *ngIf="!transactionDetail.action"
    [transactionDetail]="transactionDetail"
    [hasBorderBottom]="hasBorderBottom"
  ></tsl-transaction-detail-without-action>
  <tsl-transaction-detail-modal
    *ngIf="!!transactionDetail.action?.isDialog"
    [transactionDetail]="transactionDetail"
    [hasBorderBottom]="hasBorderBottom"
  ></tsl-transaction-detail-modal>
  <tsl-transaction-detail-redirection
    *ngIf="transactionDetail.action?.isCarrierTrackingWebview || transactionDetail.action?.isDeeplink"
    [hasBorderBottom]="hasBorderBottom"
    [transactionDetail]="transactionDetail"
  ></tsl-transaction-detail-redirection>
</ng-container>
