<h1 i18n>Billing Info</h1>
<form [formGroup]="billingForm">
  <div class="row">
    <label for="type" class="col-3" i18n="@@ProfileProBillingFormType">Type of registration:</label>
    <div class="col-5 RegistrationType">
      <div class="RegistrationType_radio">
        <input type="radio"
          formControlName="type"
          value="natural"
          id="type-natural"
          required
          [checked]="type === 'natural'">
        <span class="RegistrationType_title">Natural</span>
      </div>
      <div class="RegistrationType_radio">
        <input type="radio"
          formControlName="type"
          value="1"
          id="type-legal"
          [checked]="type !== 'natural'">
        <span class="RegistrationType_title">Legal</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="form-group row align-items-center">
        <label for="name" i18n>First Name</label>
        <input type="text" class="form-control" id="name" formControlName="name"/>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group row align-items-center">
        <label for="surname" i18n>Last Name</label>
        <input type="text" class="form-control" id="surname" formControlName="surname"/>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group row align-items-center">
        <label for="company_name" i18n>Company Name</label>
        <input type="text" class="form-control" id="company_name" formControlName="company_name"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="form-group row align-items-center">
        <label for="email" i18n>Billing email</label>
        <input type="email" class="form-control" id="email" formControlName="email"/>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group row align-items-center">
        <label for="phone" i18n>Billing phone</label>
        <input type="text" class="form-control" id="phone" formControlName="phone"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="form-group row align-items-center">
        <label for="street" i18n>Billing address</label>
        <input type="text" class="form-control" id="street" formControlName="street"/>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group row align-items-center">
        <label for="cif" i18n>CIF Number</label>
        <input type="text" class="form-control" id="cif" formControlName="cif"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="form-group row align-items-center">
        <label for="postal_code" i18n>Postal code</label>
        <input type="text" class="form-control" id="postal_code" formControlName="postal_code"/>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group row align-items-center">
        <label for="city" i18n>City</label>
        <input type="text" class="form-control" id="city" formControlName="city"/>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group row align-items-center">
        <label for="country" i18n>Country</label>
        <input type="text" class="form-control" id="country" formControlName="country"/>
      </div>
    </div>
  </div>
</form>
