@import "~style/common";

:host {
    margin-top: $spacing-xxl;
    display: block;
    background-color: $white;
    border-radius: $border-radius;
    padding: $spacing-xl $spacing-xxxl;
}

h1 {
    font-size: $font-size-S;
    height: 100%;
    color: $corporate;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
}

form {
    margin-top: $spacing-xl;
    .form-group {
        padding: 0 $spacing-ms;
        label {
            color: $grey-900;
        }
        input {
            border-radius: $border-radius;
        }
    }
}