@import "~style/common";

:host {
    margin-top: 45px;
    display: block;
    background-color: $white;
    border-radius: $border-radius;
    padding: $spacing-L 53px;
}

h1 {
    font-size: $font-size-s;
    height: 100%;
    color: $corporate;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
}

form {
    margin-top: $spacing-L;
    .form-group {
        padding: 0 10px;
        label {
            color: $grey-900;
        }
        input {
            border-radius: $border-radius;
        }
    }
}