<div class="CounterSpec d-flex text-center flex-column align-items-center">
    <div class="CounterSpec__container d-flex align-items-center justify-content-center">
        <tsl-svg-icon *ngIf="isCounterText" class="CounterSpec__container--icon"
            [src]="specificationCounter?.icon || counter">
        </tsl-svg-icon>
        <span *ngIf="!isCounterText" class="CounterSpec__container--counter">{{counter}}</span>
    </div>
    <span class="CounterSpec--measure mt-1">{{translation}}</span>
</div>