@import '~style/common';

.CounterSpec {
  &__container {
    @include square(48px);

    &--counter {
      font-size: $font-size-xl;
    }

    &--icon {
      width: fit-content;
    }
  }

  &--measure {
    font-size: $font-size-s;
  }
}
