@import '~style/common';

.CounterSpec {
  &__container {
    padding: 9px;
    @include square(48px);
    tsl-svg-icon {
      ::ng-deep svg {
        width: 100%;
        height: auto;
      }
    }
  }

  &__counter {
    font-size: $font-size-xl;
  }

  &__measure {
    font-size: $font-size-s;
  }
}
