@import '~style/common';

::ng-deep {
  .profile-box {
    padding: $spacer;
    h3 {
      font-size: $font-size-s;
      font-weight: $font-weight-chunky;
    }
    h4 {
      font-size: $font-size-m;
      color: $blue-grey-3;
      font-weight: initial;
    }
    #birth_date {
      display: flex;
    }
    .box-header {
      h1 {
        font-weight: $font-weight-chunky;
        color: $blue-grey-2;
        font-size: $font-size-ll;
        letter-spacing: 0.6px;
      }
      .public-profile {
        font-size: $font-size-s;
      }
      .btn-primary {
        float: right;
        padding: $spacing-ms $spacing-xl;
      }
    }
    .form-group {
      label {
        line-height: $line-height-l;
        color: $blue-grey-1;
        font-size: $font-size-m;
        text-align: right;
        @include media-breakpoint-down(sm) {
          font-size: $font-size-s;
          text-align: left;
        }
      }
      .btn-group {
        width: 100%;
      }
      .select {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100px;
        width: calc(50% - 10px);
        border-radius: $border-radius;
        border: solid 2px $blue-grey-5;
        cursor: pointer;
        padding: 0;
        text-align: center;
        line-height: $line-height-xxl;
        [ngbButton] {
          display: none;
        }
        &:first-of-type {
          margin-right: $spacing-m;
        }
        tsl-svg-icon {
          @include square(42px);
          ::ng-deep path {
            transition: fill 0.2s ease-in-out;
          }
        }
        &.active {
          background-color: $blue-grey-2;
          border-color: transparent;
          box-shadow: 0 2px 6px 0 rgba($blue-grey-2, 0.2);
          tsl-svg-icon {
            ::ng-deep path {
              fill: $white;
            }
          }
          div {
            font-weight: $font-weight-chunky;
            color: $white;
          }
        }
        &:hover:not(.active) {
          border-color: $blue-grey-2;
          tsl-svg-icon {
            ::ng-deep path {
              fill: $blue-grey-2;
            }
          }
        }
      }
      tsl-location-box {
        ::ng-deep .main-box {
          h2 {
            display: none;
          }
          p {
            font-size: $font-size-s;
          }
          .form-group .form-control {
            width: calc(100%);
          }
          tsl-here-maps {
            margin-right: 0;
          }
        }
      }
    }
  }
}
