<div class="NoCardModal">
  <div class="modal-close" (click)="activeModal.dismiss()">
      <mat-icon svgIcon="cross"></mat-icon>
  </div>
  <h4 class="NoCardModal--title" i18n="@@MissingPaymentMethodTitle">Delete payment method</h4>
  <p class="NoCardModal--subtitle" i18n="@@MissingPaymentMethodSubtitle">Without a card linked to your subscriptions, you won't be able to renew them and you will lose the benefits of being PRO. Is that what you want?</p>
  <div class="NoCardModal--buttons">
    <tsl-button className="btn btn-secondary" (click)="activeModal.dismiss()"
                i18n="@@Cancel"
    >Cancel
    </tsl-button>
    <tsl-button className="btn btn-secondary btn-danger" (click)="deleteCard()"
                i18n="@@ConfirmDeleteCard"
    >Yes, delete card
    </tsl-button>
  </div>
</div>