@import "~style/common";

.NoCardModal {
  text-align: center;
  padding: $spacing-xxl $spacing-xxxl;

  @include media-breakpoint-down(md) {
    padding: $spacing-l $spacing-m;
  }

  &--buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $spacing-l 0 0;
  }
  tsl-button {
    width: 100%;
    ::ng-deep .btn {
      width: 95%;
    }
  }
}

