<div class="NoCardModal">
  <div class="modal-close" (click)="activeModal.dismiss()">
      <mat-icon svgIcon="cross"></mat-icon>
  </div>
  <h4 class="NoCardModal--title" i18n="@@MissingPaymentMethodTitle">No payment method available</h4>
  <p class="NoCardModal--subtitle" i18n="@@MissingPaymentMethodSubtitle">There is no payment mehtod available so we can renew your subscription when it expires</p>
  <p class="NoCardModal--subtitle" i18n="@@PleaseAddCreditCard">Please, add a credit card so you won't lose the benefits of being a PRO</p>
  <div class="NoCardModal--buttons">
    <tsl-button className="btn btn-secondary" (click)="activeModal.dismiss()"
                i18n="@@Cancel"
    >Cancel
    </tsl-button>
    <tsl-button className="btn btn-secondary btn-danger" (click)="deleteCard()"
                i18n="@@DeleteCard"
    >Yes, I want to delete it
    </tsl-button>
  </div>
</div>