@import '~style/common';

.messaging-container {
  height: 100%;
  display: flex;

  .messaging {
    flex-grow: 1;
    height: 100%;
    float: left;

    .chat {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      tsl-conversation-details-bar {
        height: 74px;
        z-index: 999;
      }

      .messages-panel-container {
        overflow-y: scroll;
        padding: $spacing-ms $spacing-ml;
        height: 100%;
        width: 100%;
        display: flex;
        flex: 1 0;

        .empty-container {
          flex-grow: 1;
        }

        .more-messages-loader {
          text-align: center;
          font-size: $font-size-xs;
          cursor: pointer;

          .load-more {
            color: $walla-main;
            position: relative;
            text-transform: uppercase;
            font-size: $font-size-xs;
            font-weight: $font-weight-chunky;

            &:hover {
              cursor: pointer;
              text-decoration: none;
            }
          }
        }

        .message-container {
          display: flex;
          flex-direction: column-reverse;
          margin-top: auto;
          width: 100%;

          .message-wrapper {
            text-align: center;
          }
        }

        .notification-container {
          text-align: center;
          margin: 0 auto;

          .notification-secure-privacy {
            padding: $spacing-s $spacing-ml;
          }

          .date-marker-warning {
            background-color: $blue-grey-5;
            color: $blue-grey-3;
            padding: $spacing-s $spacing-ml;

            &.date-marker-warning-blue {
              background-color: $softblue-light;
              color: $softblue-dark;
            }

            &.date-marker-warning-red {
              background-color: $negative-soft;
              color: $magenta-dark;
            }

            span {
              font-size: $font-size-s;
            }

            .not-available {
              height: $spacing-m;
              width: $spacing-ms;
              margin: 1px $spacing-xs;
            }
          }
        }
      }

      .translation-button-container {
        padding: 5px;
      }

      .scroll-message-container {
        position: relative;
      }

      .send-message-container {
        position: relative;
        flex-shrink: 0;
        padding: $line-height-ms $line-height-ml;
        border-top: 1px solid $color-inbox-background;
      }
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}

.date-marker {
  display: inline-flex;
  text-align: center;
  padding: $spacing-xs $spacing-ml;
  background-color: $blue-grey-4;
  border-radius: $spacing-ml;
  margin: $spacing-ms 0;
  color: $white;

  &.date-marker-error {
    color: $magenta-dark;
    background-color: $negative-soft;

    tsl-svg-icon {
      width: 14px;
      height: 10px;
    }
  }

  .emoticon {
    margin-right: $spacing-xs;
  }

  .emoticon-woman-gesturing-no::before {
    content: '\01F645';
  }

  .emoticon-dashing-away::before {
    content: '\01F4A8';
  }

  .emoticon-police-car::before {
    content: '\01F693';
  }

  .emoticon-ghost::before {
    content: '\01F47B';
  }

  .emoticon-padlock::before {
    content: '\01F512';
  }

  .emoticon-monocle-face::before {
    content: '\01F9D0';
  }
}

.conversation-meta {
  overflow-y: auto;
  height: calc(100vh - #{$topbar-height});
  float: right;
  width: $right-panel-width;
  padding: $spacing-ml;
  background-color: $blue-grey-5;
  border-left: 1px solid $blue-grey-4;
  flex-shrink: 0;

  .card {
    padding-top: $spacing-s;
    padding-left: $spacing-ms;
  }

  tsl-user {
    margin-bottom: $spacing-ml;
  }
}

#empty-state {
  height: 100%;
  position: relative;
  background: $white;

  .content {
    @include in-the-middle;
    text-align: center;

    .image {
      width: 211px;
      height: 220px;
    }

    p {
      font-size: $font-size-m;
      color: $blue-grey-2;
      line-height: 24px;
    }
  }
}

.empty {
  position: relative;
  background: $color-inbox-background;
  display: flex;

  .inbox-size {
    width: 100vh;
    height: 100vh;
  }
}

.spinner {
  $spinner-size: 14px;
  height: $spinner-size;
  width: $spinner-size;

  svg {
    position: absolute;
    top: 0;
    left: -#{$spacing-ml + 5px};
  }
}

.message-owner + .not-message-owner,
.not-message-owner + .message-owner {
  margin-bottom: $spacing-m;
}
