@import "~style/common";

$icon-size: 12px;
$height: 40px;

.bulk-actions {
  align-self: center;
  & > * {
    margin: 0 $spacing-s 0 0;
  }
  &.disabled {
    button {
      cursor: auto;
      background-color: $blue-grey-5;
      &.btn-bump, &.btn-sold, &.btn-reserve, &.btn-delete {
        &:hover {
          background-color: $blue-grey-5;
          border: solid 1px rgba($blue-grey-4, 0.5);
          color: $blue-grey-2;
        }
      }
    }
  }
  button {
    height: 42px;
    line-height: $line-height-xxl;
    padding: 0 $spacing-ml;
    cursor: pointer;
    border-radius: $border-radius;
    background: $white;
    color: $blue-grey-2;
    font-size: $font-size-s;
    border: solid 1px rgba($blue-grey-4, 0.5);
    &.btn-delete {
      padding: 0 $spacing-ms;
      mat-icon {
        height: 16px;
        width: 14px;
        vertical-align: sub;
        margin-right: $spacing-s;
      }
      &:hover {
        background: $negative-main;
        border-color: transparent;
        color: $white;
        mat-icon ::ng-deep {
          svg g g, svg path {
            fill: $white;
          }
        }
      }
      &:disabled {
        mat-icon ::ng-deep {
          svg g g, svg path {
            fill: $blue-grey-2;
          }
        }
      }
    }
    &.btn-activate {
      &:hover {
        background: $walla-main;
        border-color: transparent;
        color: $white;
      }
      &:disabled {
        background: $blue-grey-5;
        border-color: $blue-grey-4;
        color: $blue-grey-2;
      }
    }
    &.btn-select-all {
      &:hover, &:disabled {
        background: $walla-main;
        border-color: transparent;
        color: $white;
        cursor: pointer;
      }
    }
  }

  tsl-button ::ng-deep .btn-feat  {
    &:disabled {
      cursor: default;
    }
  }

  &.show {
    button {
      animation: fadeInFromNone 0.5s ease-in-out;
    }
  }

  #total-selected {
    height: 42;
    line-height: $line-height-xxl;
    border-radius: $border-radius;
    color: $blue-grey-1;
    font-size: $font-size-s;
    display: inline-block;
    padding: 0 $spacing-ml;
    cursor: pointer;
    background-color: rgba($walla-main, 0.2);
    border: solid 1px $walla-main;
    &:after {
      display: inline-block;
      content: ' ';
      background-image: url('/assets/icons/cross.svg');
      background-size: $icon-size $icon-size;
      height: $icon-size;
      width: $icon-size;
      margin-left: $spacing-ms;
      vertical-align: middle;
      margin-top: -$spacing-xxs;
    }
    &.show {
      animation: fadeInFromNone 0.5s ease-in-out;
    }
  }
}