@import "~style/common";

$checkbox-width: 24px;
$transition: all .5s ease;
$feature-button-width: 170px;

.checkbox {
  transition: $transition;
  width: 0;
  opacity: 0;
  float: left;
  .resized & {
    width: $checkbox-width;
    opacity: 1;
  }
  .select {
    @include square($checkbox-width);
    border: 2px solid $grey-100;
    border-radius: 6px;
    padding: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: $spacing;
    margin-top: $spacing-L;
    cursor: pointer;
    mat-icon {
      display: none;
      height: 9px;
      width: 12px;
    }
    &.selected {
      background: $corporate;
      border-color: transparent;
      mat-icon {
        display: flex;
        /deep/ svg g g {
          fill: $white;
        }
      }
    }
    &:hover {
      border-color: $corporate;
    }
  }
}

.item {
  background: $white;
  border-radius: $border-radius;
  border: solid 1px $grey-50;
  margin-bottom: $spacing-XS;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: $transition;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 10px 0 rgba(37,50,56,.1);
  }
  &.expired, &.pending {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $white;
      opacity: .6;
      z-index: 1;
      border-radius: $border-radius;
    }
  }
  .selected-veil {
    display: none;
  }
  .resized & {
    margin-left: $checkbox-width + $spacing;
    .selected-veil {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      cursor: pointer;
      z-index: 1;
      border-radius: $border-radius;
    }
    &:not(.selected):hover {
      .selected-veil {
        border: solid 1px $corporate;
      }
    }
  }
  &.selected {
    background-color: rgba($corporate, 0.2);
    border: solid 1px $corporate;
  }
  a {
    color: $grey-900;
    &:hover {
      text-decoration: none;
    }
  }
  .image {
    padding: 4px;
    padding-right: $spacing-M;
    display: block;
  }
  .title, .price {
    display: flex;
    align-self: stretch;
    align-items: center;
    &:focus {
      text-decoration: none;
    }
  }
  button, tsl-button /deep/ .btn-feature  {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  button {
    border: solid 1px rgba(207, 216, 220, 0.5);
  }
  .price {
    width: 130px;
    font-weight: bold;
    font-size: 18px;
    @include text-truncate();
  }
  .title {
    width: 31%;
    @include text-truncate();
  }
  .visibility {
    flex-grow: 2;
    font-size: $font-size-XS;
    color: $grey-500;
    min-width: 115px;
    mat-icon {
      height: 17px;
      width: 19px;
      vertical-align: top;
      margin-left: 10px;
      /deep/ svg path {
        stroke: $grey-500;
        &#Fill-3 {
          stroke: none;
          fill: $grey-500;
        }
      }
    }
  }
  .actions {
    margin-right: 24px;
    min-width: 400px;
    .resized & {
      display: none;
    }
    button, tsl-button {
      margin-left: 12px;
      float: left;
    }
    button {
      @include square(40px);
      border-radius: 8px;
      transition: all .2s ease;
      mat-icon /deep/ {
        svg g g, svg path {
          fill: $grey-500;
        }
      }
      &:hover, &.active {
        mat-icon /deep/ {
          svg g g, svg path {
            fill: $white;
          }
        }
      }
      &.btn-featured {
        width: $feature-button-width;
        border: 1px solid $corporate;
        color: $corporate;
        cursor: default;
        font-size: $font-size-S;
        font-weight: bold;
      }
      &.btn-sold {
        &:hover {
          background: $sold-bg;
          border-color: transparent;
        }
      }
      &.btn-reserve {
        &:hover, &.active {
          background: $reserve-bg;
          border-color: transparent;
        }
      }
      &.btn-delete {
        &:hover {
          background: $delete-bg;
          border-color: transparent;
        }
      }
      &.btn-edit {
        &:hover {
          background: $edit-bg;
          border-color: transparent;
        }
      }
    }
    tsl-button {
      /deep/ .btn-feature {
        width: $feature-button-width;
        height: 40px;
        padding: 0 $spacing;
        padding-left: 12px;
        font-size: $font-size-S;
        mat-icon {
          width: 19px;
          height: 21px;
          margin-right: 9px;
        }
      }
    }
  }
  &.sold {
    .actions {
      min-width: auto;
    }
  }
  .btn-reactivate, .btn-pending {
    z-index: 2;
    position: relative;
    font-size: $font-size-S;
    padding-right: 64px;
    margin-right: 24px;
    border-radius: $border-radius;
    color: $grey-900;
    height: 40px;
    mat-icon {
      margin-right: 34px;
    }
  }
  .btn-reactivate {
    &:hover {
      background-color: $reactivate-bg;
      color: $white;
      mat-icon /deep/ {
        svg g g, svg path {
          fill: $white;
        }
      }
    }
  }
  .btn-pending {
    cursor: default;
    mat-icon {
      margin-left: 4px;
    }
  }
}
