@import "../../../../style/_common.scss";

$checkbox-width: 24px;
$transition: all .5s ease;
$feature-button-width: 170px;

.checkbox {
  transition: $transition;
  width: 0;
  opacity: 0;
  float: left;
  .resized & {
    width: $checkbox-width;
    opacity: 1;
  }
  .select {
    @include square($checkbox-width);
    border: 2px solid $grey-100;
    border-radius: 6px;
    padding: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: $spacing;
    margin-top: $spacing-L;
    cursor: pointer;
    md-icon {
      display: none;
      height: 9px;
      width: 12px;
    }
    &.selected {
      background: $corporate;
      border-color: transparent;
      md-icon {
        display: flex;
      }
    }
    &:hover {
      border-color: $corporate;
    }
  }
}

.item {
  background: $white;
  border-radius: $border-radius;
  border: solid 1px $grey-50;
  margin-bottom: $spacing-XS;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: $transition;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 10px 0 rgba(37,50,56,.1);
  }
  &.expired, &.pending {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $white;
      opacity: .6;
      z-index: 1;
      border-radius: $border-radius;
    }
  }
  .resized & {
    margin-left: $checkbox-width + $spacing;
  }
  &.selected {
    background-color: rgba($corporate, 0.2);
    border: solid 1px $corporate;
  }
  a {
    color: $grey-900;
    &:hover {
      text-decoration: none;
    }
  }
  .image {
    padding: 4px;
    padding-right: $spacing-M;
    display: block;
  }
  .title, .price {
    display: flex;
    align-self: stretch;
    align-items: center;
    &:focus {
      text-decoration: none;
    }
  }
  button {
    border: solid 1px rgba(207, 216, 220, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white;
    cursor: pointer;
    float: left;
  }
  .price {
    width: 130px;
    font-weight: bold;
    font-size: 18px;
    @include text-truncate();
  }
  .title {
    width: 31%;
    @include text-truncate();
  }
  .visibility {
    flex-grow: 2;
    font-size: $font-size-XS;
    color: $grey-500;
    min-width: 115px;
    md-icon {
      height: 17px;
      width: 19px;
      vertical-align: top;
      margin-left: 10px;
    }
  }
  .actions {
    margin-right: 24px;
    min-width: 400px;
    .resized & {
      display: none;
    }
    button {
      @include square(40px);
      border-radius: 8px;
      margin-left: 12px;
      transition: all .2s ease;
      &.btn-feature {
        background: $grey-700;
        width: $feature-button-width;
        color: $white;
        padding: 0 $spacing;
        padding-left: 12px;
        font-size: $font-size-S;
        border: 1px solid transparent;
        &:hover {
          background: $corporate;
        }
        md-icon {
          width: 19px;
          height: 21px;
          margin-right: 9px;
        }
      }
      &.btn-featured {
        width: $feature-button-width;
        border: 1px solid $corporate;
        color: $corporate;
        cursor: default;
        font-size: $font-size-S;
        font-weight: bold;
      }
      &.btn-sold {
        md-icon {
          height: 17px;
          width: 17px;
        }
        &:hover {
          background: $sold-bg;
          border-color: transparent;
        }
      }
      &.btn-reserve {
        md-icon {
          height: 15px;
          width: 13px;
          margin-top: -3px;
        }
        &:hover, &.active {
          background: $reserve-bg;
          border-color: transparent;
        }
      }
      &.btn-delete {
        md-icon {
          height: 19px;
          width: 16px;
        }
        &:hover {
          background: $delete-bg;
          border-color: transparent;
        }
      }
    }
  }
  .btn-reactivate, .btn-pending {
    z-index: 2;
    position: relative;
    font-size: $font-size-S;
    padding-right: 64px;
    margin-right: 24px;
    border-radius: $border-radius;
    color: $grey-900;
    height: 40px;
    md-icon {
      margin-right: 34px;
    }
  }
  .btn-reactivate {
    &:hover {
      background-color: $reactivate-bg;
      color: $white;
    }
  }
  .btn-pending {
    cursor: default;
    md-icon {
      margin-left: 4px;
    }
  }
}
