<div class="resized">
  <div class="checkbox">
    <button class="select" (click)="select(item)" [ngClass]="{selected: item.selected}">
      <mat-icon svgIcon="check"></mat-icon>
    </button>
  </div>
  <div class="item" [ngClass]="{expired: item.flags.expired, selected: item.selected, pending: item.flags.pending, sold: item.sold}">
    <a href="{{link}}" target="_blank" tslTrackEvent="PRODUCT_VIEWED" [params]="{product_id: item.id}" class="image"
       [ngClass]="{onHold: item.flags.onhold}">
        <tsl-item-avatar [item]="item" size="big" fallbackLight="true"></tsl-item-avatar>
    </a>
    <a href="{{link}}" target="_blank" tslTrackEvent="PRODUCT_VIEWED" [params]="{product_id: item.id}" class="info"
       [ngClass]="{onHold: item.flags.onhold}">
      <div class="info-price"> {{item.salePrice | customCurrency:item.currencyCode}} </div>
      <div class="info-title subtitle"> {{item.title}}</div>
    </a>
    <a href="{{link}}" target="_blank" tslTrackEvent="PRODUCT_VIEWED" [params]="{product_id: item.id}" class="published"
       [ngClass]="{onHold: item.flags.onhold}" [hidden]="item.flags.onhold">
      <div i18n>Published</div>
      <div class="subtitle"> {{ item.publishedDate | amDateFormat: 'DD/MM/YYYY'}}</div>
    </a>
    <a href="{{link}}" target="_blank" tslTrackEvent="PRODUCT_VIEWED" [params]="{product_id: item.id}" class="published"
       [ngClass]="{onHold: item.flags.onhold}" [hidden]="item.flags.onhold">
      <div i18n>Modified</div>
      <div class="subtitle"> {{ item.modifiedDate | amDateFormat: 'DD/MM/YYYY'}}</div>
    </a>
    <a href="{{link}}" target="_blank" tslTrackEvent="PRODUCT_VIEWED" [params]="{product_id: item.id}" class="listing-fee"
       [ngClass]="{onHold: item.flags.onhold}">
      <div *ngIf="showListingFee()" i18n>Active</div>
      <tsl-countdown *ngIf="item.listingFeeExpiringDate" class="subtitle" [ngClass]="{'few-days': listingFeeFewDays()}"
                     [value]="item.listingFeeExpiringDate" format="listingFee"></tsl-countdown>
    </a>
    <span class="subscribe" *ngIf="item.flags.onhold" [ngClass]="{onHold: item.flags.onhold}" i18n>
        Inactive
    </span>
    <span class="actions" *ngIf="!item.flags.pending">
      <span *ngIf="!item.flags.expired">
        <span [hidden]="item.sold || item.flags.onhold || item.flags.urgent">
          <tsl-button className="btn-feature" (click)="featureItem(item)" *ngIf="!item.bumpExpiringDate" [hidden]="selectMode">
            <mat-icon svgIcon="feature"></mat-icon>
            <span i18n>Feature</span>
          </tsl-button>
        </span>
        <button class="btn-featured" *ngIf="item.bumpExpiringDate" [hidden]="selectMode">
          {{item.bumpExpiringDate | amCountdown}}
        </button>
        <span *ngIf="item.flags.onhold">
          <tsl-button className="btn-primary btn-publish" (click)="publishItem()" [hidden]="selectMode">
            <span i18n>Publish</span>
          </tsl-button>
        </span>
        <div class="main-actions" [hidden]="selectMode">
          <button class="btn-sold" [hidden]="item.sold || item.flags.onhold" tslItemSold (callback)="setSold(item)" [item]="item" ngbTooltip="Mark as sold" i18n-ngbTooltip placement="top">
            <mat-icon svgIcon="btn-sold"></mat-icon>
          </button>
          <button class="btn-reserve" [hidden]="item.flags.onhold" [ngClass]="{active: item.reserved}" (click)="reserve(item)" *ngIf="!item.sold" ngbTooltip="Mark as reserved" i18n-ngbTooltip placement="top">
            <mat-icon svgIcon="btn-reserved"></mat-icon>
          </button>
          <button class="btn-edit" [hidden]="item.flags.onhold" [routerLink]="['/catalog/edit/' + item.id]" tslTrackEvent="MYCATALOG_EDITITEM" [params]="{category: item.categoryId}" *ngIf="!item.sold" ngbTooltip="Edit" i18n-ngbTooltip placement="top">
            <mat-icon svgIcon="btn-edit"></mat-icon>
          </button>
        </div>
      </span>
      <button class="btn-reactivate" (click)="reactivate(item)" *ngIf="item.flags.expired" tslTrackEvent="MYCATALOG_REACTIVATE_FROMCATALOG" [params]="{category: item.categoryId}" [hidden]="selectMode">
        <mat-icon svgIcon="clock"></mat-icon>
        <span i18n>Reactivate</span>
      </button>
    </span>
    <button class="btn-pending" *ngIf="item.flags.pending">
      <mat-icon svgIcon="spinner" class="spinner grey"></mat-icon>
      <span i18n>Pending</span>
    </button>
  </div>
</div>
