@import "~style/common";

.select-card {
  margin-bottom: $spacing-s;
  .btn {
    width: 100%;
    border-radius: $border-radius;
    border: 1px solid rgba($blue-grey-5, .5);
    display: flex;
    font-size: $font-size-xs;
    align-items: center;
    height: 40px;
    color: $blue-grey-3;
    &.active {
      border-color: $walla-main;
      color: $blue-grey-1;
    }
    .card-icon {
      flex: 0 0 34px;
      /deep/ svg {
        rect, path {
          transition: $transition-base;
        }
      }
    }
    .number {
      flex: 1;
    }
    .date {
      color: $blue-grey-3;
    }
    &.new-card {
      font-size: $font-size-s;
    }
    &:not(.active) {
      .card-icon {
        /deep/ svg {
          rect {
            fill: $blue-grey-5;
          }
          path {
            fill: $blue-grey-4;
          }
        }
      }
    }
  }
}
