<div class="select-card" *ngIf="financialCards">
  <ng-select placeholder="Select your card" class="form-control"
             [options]="financialCards" [(ngModel)]="selectedFinancialCard" bindLabel="number" bindValue="number"
             (selected)="setFinancialCard($event)">
    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
      <div class="card">
        <div class="card-body">
          <mat-icon svgIcon="card" class="card-icon"></mat-icon>
          <span class="card-title">**** **** **** {{item.number}}</span>
          <span class="card-title">{{item.expire_date}}</span>
        </div>
      </div>
    </ng-template>
  </ng-select>
</div>
<!-- {{financialCard?.expire_date | date:'MM/yy'}} -->
