<div class="select-card" *ngIf="financialCards">
  <tsl-dropdown placeholder="Select saved card" [notFoundMsg]="notFoundMsg" class="form-control" i18n-placeholder="@@web_stripe_card_selection_512" placeholder="Select saved card"
             [options]="financialCards" [(ngModel)]="selectedFinancialCard" bindLabel="number" bindValue="number"
             (selected)="setFinancialCard($event)" name="financialCard" ngDefaultControl>
    <ng-template #optionTemplate let-option="option" let-index="index">
        <div class="card-body">
            <tsl-svg-icon src="/assets/icons/card-{{option?.stripeCard?.brand}}.svg"
            *ngIf="option?.stripeCard?.brand === BRAND_CARDS_WITH_SVG.VISA || option?.stripeCard?.brand === BRAND_CARDS_WITH_SVG.MASTERCARD"
            class="card-icon">
          </tsl-svg-icon>
            <tsl-svg-icon src="/assets/icons/card.svg"
            *ngIf="option?.stripeCard?.brand !== BRAND_CARDS_WITH_SVG.VISA && option?.stripeCard?.brand !== BRAND_CARDS_WITH_SVG.MASTERCARD"
            class="card-icon">
            </tsl-svg-icon>
          <span class="card-number">**** **** **** {{option.value}}</span>
          <span class="card-date">{{option.expire_date}}</span>
        </div>
    </ng-template>
  </tsl-dropdown>
</div>
