<div class="modal-body">
  <div class="modal-close" (click)="activeModal.close()">
    <mat-icon svgIcon="cross"></mat-icon>
  </div>
  <h1>Visibility products</h1>
  <div class="row">
    <div class="col city">
      <h2>Destacalo en tu ciudad</h2>
      <p>In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique.</p>
    </div>
    <div class="col country">
      <h2>Destacalo en tu pais</h2>
      <p>In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique.</p>
    </div>
  </div>

  <h2 class="autorenew"><mat-icon svgIcon="autorenew"></mat-icon><span>Auto-Renew</span></h2>
  <p>In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam.</p>

  <a class="btn btn-primary" href="mailto:ventas.motor@wallapop.com">Contact us for more info</a>
</div>
