<div class="VerificationEmailThanksModal text-center">
  <div class="VerificationEmailThanksModal__close position-fixed" (click)="activeModal.dismiss()">
    <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
  </div>
  <div class="VerificationEmailThanksModal__container">
    <div class="VerificationEmailThanksModal__title my-3" i18n="@@change_email_all_users_system_alert_how_to_verify_title">Thank you!</div>
    <div class="VerificationEmailThanksModal__subtitle mb-4" i18n="@@change_email_all_users_system_alert_how_to_verify_description">
      We have sent a verification email to “{{ email }}”. Access your mailbox and follow the steps to verify your email.
    </div>
    <tsl-button
      class="w-100"
      className="btn-primary w-100"
      (click)="activeModal.close()"
      i18n="@@change_email_all_users_system_alert_how_to_verify_button"
      >Understood</tsl-button
    >
  </div>
</div>
