@import '~style/common';

.VerificationEmailThanksModal {
  padding: $spacing-xxl $spacing-xxl $spacing-xl $spacing-xxl;

  &__title {
    font-size: $font-size-l;
    font-weight: $font-weight-chunky;
  }

  &__close {
    cursor: pointer;
    top: 20px;
    right: 20px;
  }
}
