@import '~style/common';

.KYCNationality {
  width: 100%;
  @include media-breakpoint-up(sm) {
    width: 75%;
  }

  &__title,
  &__subtitle {
    color: $blue-grey-1;
  }

  &__title {
    font-weight: $font-weight-chunky;
    font-size: $font-size-l;
  }

  &__subtitle {
    font-size: $font-size-m;
  }

  &__back {
    cursor: pointer;
    color: $blue-grey-1;
    &:hover {
      text-decoration: none;
      &,
      tsl-svg-icon {
        opacity: 0.8;
      }
    }
  }
}
