<div class="KYCNationality container">
    <div class="row">
        <div class="col">
            <a class="KYCNationality__back d-flex pb-4 pb-md-2" (click)="handleBack()">
                <tsl-svg-icon src="/assets/icons/back-arrow.svg" class="align-self-center"></tsl-svg-icon>
                <span i18n="@@web_catalog_pro_pages_checkout_638" class="ml-3">Back</span>
            </a>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col col-md-11 offset-md-1">
            <h3 class="KYCNationality__header">{{getNationalityHeader((KYCSpecifications$ | async).nationality?.headerText)}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="KYCNationality__content">
                <div class="KYCNationality__drawing mb-4 w-100">
                    <tsl-svg-icon [src]="getSvgPath((KYCSpecifications$ | async).nationality?.svgPath)"></tsl-svg-icon>
                </div>
                <span class="KYCNationality__title d-block mt-4 mb-3 text-center">{{getTitle((KYCSpecifications$ | async).nationality)}}</span>
                <span class="KYCNationality__description d-block mb-3 text-center">{{getDescription((KYCSpecifications$ | async).nationality)}}</span>
                <tsl-dropdown
                    *ngIf="(KYCSpecifications$ | async).nationality as nationality; else selectNationalityDropdown"
                    placeholder="Select document"
                    i18n-placeholder="@@kyc_select_document_view_header_placeholder" 
                    [options]="nationality.availableDocuments"
                    bindLabel="string"
                    bindValue="string"
                    class="form-control mb-4" 
                    (selected)="setDocumentAndEmitDocumentChange($event)"
                    name="document"
                    ngDefaultControl>
                </tsl-dropdown>
                <ng-template #selectNationalityDropdown>
                    <tsl-dropdown
                        placeholder="I'm from..."
                        i18n-placeholder="@@kyc_select_nationality_view_list_title_placeholder" 
                        [options]="KYC_NATIONALITIES"
                        bindLabel="string"
                        bindValue="string"
                        class="form-control mb-4" 
                        (selected)="selectNationality = $event"
                        name="nationality"
                        ngDefaultControl>
                    </tsl-dropdown>
                </ng-template>
                <span i18n="@@kyc_select_nationality_view_data_privacy_description" class="KYCNationality__infoMessage d-block text-center">Your information is confidential. It will be used only for the explained purposes.</span>
            </div>
        </div>
    </div>
</div>