@import "~style/common";

.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 290px;
}

.buy-modal {
  display: flex;
  color: $grey-900;
}

.left {
  text-align: center;
  align-items: center;
  .image {
    display: flex;
    flex-direction: column;
    .title {
      word-break: break-word;
      color: $grey-900;
      font-size: $font-size;
      font-weight: bold;
      width: 160px;
    }
    tsl-item-avatar {
      width: 160px;
      margin-bottom: $spacing-S;
      /deep/ {
        .urgent {
          @include square(50px);
          top: 55px;
          left: 55px;
          mat-icon {
            @include square(50px);
          }
        }
      }
    }
  }
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: $spacing-40 $spacing-L;
  justify-content: center;
  h2 {
    font-size: $font-size-L;
    margin-bottom: $spacing-M;
  }
  h3 {
    margin-bottom: $spacing-S;
    color: $grey-500;
    font-size: $font-size-S;
    text-align: center;
    line-height: $spacing;
  }
  .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
    font-size: $font-size;
    &.with-credit {
      font-weight: normal;
    }
    .amount {
      tsl-wallacoin {
        @include square(18px);
      }
    }
  }
  p {
    margin-bottom: $spacing-L;
  }
  .totals {
    width: 100%;
    line-height: $spacing-L;
  }
  .credit, .total, .missing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size;
    clear: both;
    .amount {
      text-align: right;
    }
  }
  .credit, .missing {
    .label {
      tsl-wallacoin {
        vertical-align: sub;
        margin-right: 5px;
      }
    }
  }
  .credit {
    padding-right: 2px;
    .with-credits & {
      font-size: $font-size;
    }
    .amount {
      color: $corporate;
    }
  }
  .missing {
    border-top: solid 1px $grey-50;
    padding: 3px 2px 0 0;
    margin-bottom: $spacing-L;
    .label {
      color: $grey-250;
    }
  }
  .total {
    font-weight: bold;
  }
  tsl-card-selection {
    width: 100%;
    margin-top: $spacing-M;
    display: block;
    &:empty {
      margin: 0;
    }
  }
  tsl-button {
    margin-top: $spacing;
  }
  .credit-card {
    width: 100%;
  }
  .note {
    color: $grey-250;
    text-align: center;
    margin-bottom: 0;
    font-size: $font-size-XS;
  }
}

.buy-product-modal-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  @include square(200px);
  background-color: $white;
  border-radius: 50%;
  background: url(/assets/images/listing-fee.svg) no-repeat center;
}
