<div class="modal-close" (click)="activeModal.dismiss()">
  <mat-icon svgIcon="cross"></mat-icon>
</div>
<div class="spinner-wrapper" [hidden]="!mainLoading" >
  <mat-icon svgIcon="spinner" class="spinner"></mat-icon>
</div>
<div class="buy-modal" [hidden]="mainLoading" [class.with-credits]="withCredits">
  <div class="left image-col">
    <div class="image" *ngIf="type !== 'listing-fee'">
      <tsl-item-avatar [item]="item" size="full" fallbackLight="true"></tsl-item-avatar>
      <div class="title">{{item?.title}}</div>
    </div>
    <div class="buy-product-modal-icon" *ngIf="type === 'listing-fee'"></div>
  </div>
  <div class="right">
    <h2 *ngIf="type === 'urgent'" i18n>Mark as urgent</h2>
    <h2 *ngIf="type === 'reactivate'" i18n>Reactivate + visibility</h2>
    <h2 *ngIf="type === 'listing-fee'" i18n>Publish your car</h2>
    <h3 *ngIf="creditInfo?.credit === 0 && hasFinancialCard && !isStripe" i18n>Secure payment through Sabadell</h3>
    <h3 *ngIf="creditInfo?.credit > 0 && creditInfo?.credit < orderEvent.total && !hasFinancialCard">
      <span *ngIf="withCredits" i18n>Pay with your credit and credit card:</span>
      <span *ngIf="!withCredits" i18n>Pay with your wallacoins and credit card:</span>
    </h3>
    <div class="price" [class.with-credit]="creditInfo?.credit > 0">
      <div i18n>Price</div>
      <div class="amount">
        {{orderEvent?.total * creditInfo?.factor | customCurrency:creditInfo?.currencyName}}
        <tsl-wallacoin [currency]="creditInfo?.currencyName" size="big" color="black"></tsl-wallacoin>
      </div>
    </div>
    <div class="totals" *ngIf="creditInfo?.credit > 0">
      <div class="credit" [hidden]="!creditInfo?.credit">
        <span class="label" [hidden]="!creditInfo?.credit">
          <span [hidden]="creditInfo?.currencyName !== 'wallacredits'">
            {{creditInfo?.credit | customCurrency:creditInfo?.currencyName}} <span i18n>credit</span>
          </span>
          <span [hidden]="creditInfo?.currencyName === 'wallacredits'">
            <tsl-wallacoin [currency]="creditInfo?.currencyName" size="medium" color="corporate"></tsl-wallacoin>
            <span i18n>spending</span>
          </span>
        </span>
        <span class="amount">
          {{creditSpent | customCurrency:creditInfo?.currencyName}}
          <tsl-wallacoin [currency]="creditInfo?.currencyName" size="medium" color="corporate"></tsl-wallacoin>
        </span>
      </div>
      <div class="missing" [hidden]="creditInfo?.currencyName === 'wallacredits' || !creditInfo?.credit">
        <div class="label">
          <tsl-wallacoin [currency]="creditInfo?.currencyName" size="medium" color="strike"></tsl-wallacoin>
          <span i18n>missing</span>
        </div>
        <div class="amount">
          {{totalToPay * creditInfo?.factor | number}}
          <tsl-wallacoin [currency]="creditInfo?.currencyName" size="medium" color="grey"></tsl-wallacoin>
        </div>
      </div>
      <div class="total">
        <span class="label" i18n>Total to pay</span>
        <span class="amount">{{totalToPay | customCurrency}}</span>
      </div>
    </div>
    <div class="BuyProduct__card-container" *ngIf="isStripe && totalToPay > 0">
      <tsl-stripe-card-selection *ngIf="isStripe && isStripeCard && savedCard" (onSelectExistingCard)="setSavedCard($event)"
                                (hasStripeCard)="hasStripeCard($event)"
      ></tsl-stripe-card-selection>
      <div class="Cart__NewCard--add" (click)="addNewCard()" *ngIf="isStripe && savedCard" i18n>+ Add another credit card</div>
      <div class="Cart__NewCard--used" (click)="removeNewCard()" *ngIf="isStripe && showCard && isStripeCard" i18n>Use saved card</div>
      <tsl-stripe-card-element *ngIf="isStripe && showCard" [type]="'bump'" [cart]="cart" (stripeCardToken)="checkout($event)"
                              (stripeCard)="setCardInfo($event)" [loading]="loading"
      ></tsl-stripe-card-element>
    </div>
    <div class="credit-card" [hidden]="creditInfo?.credit >= orderEvent.total || isStripe">
      <tsl-card-selection [(ngModel)]="cardType" (hasCard)="hasCard($event)"></tsl-card-selection>
    </div>
    <tsl-button [hidden]="isStripe && !savedCard || isStripe && totalToPay > 0 && !savedCard"
                className="btn-block btn-primary"
                (click)="checkout()"
                [loading]="loading"
                [disabled]="isStripe && !selectedCard && totalToPay > 0"
                i18n>Continue</tsl-button>
    <p class="note" *ngIf="!hasFinancialCard && creditInfo?.credit < orderEvent.total && !isStripe" i18n>
      We don't save details of this transaction. The purchase is made via Banco Sabadell.
    </p>
  </div>
</div>
<tsl-sabadell [hidden]="isStripe" [submit]="sabadellSubmit"></tsl-sabadell>
