@import "~style/common";

.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 290px;
}

.buy-modal {
  display: flex;
  color: $blue-grey-1;
}

.left {
  text-align: center;
  align-items: center;
  .image {
    display: flex;
    flex-direction: column;
    .title {
      word-break: break-word;
      color: $blue-grey-1;
      font-size: $font-size-m;
      font-weight: $font-weight-chunky;
      width: 160px;
    }
    tsl-item-avatar {
      width: 160px;
      margin-bottom: $spacing-ms;
      /deep/ {
        .urgent {
          @include square(50px);
          top: 55px;
          left: 55px;
          mat-icon {
            @include square(50px);
          }
        }
      }
    }
  }
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: $spacing-xxl $spacing-xl;
  justify-content: center;
  h2 {
    font-size: $font-size-l;
    margin-bottom: $spacing-m;
  }
  h3 {
    margin-bottom: $spacing-ms;
    color: $blue-grey-2;
    font-size: $font-size-s;
    text-align: center;
    line-height: $spacing-ml;
  }
  .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: $font-weight-chunky;
    font-size: $font-size-m;
    &.with-credit {
      font-weight: normal;
    }
    .amount {
      tsl-wallacoin {
        @include square(18px);
      }
    }
  }
  p {
    margin-bottom: $spacing-xl;
  }
  .totals {
    width: 100%;
    line-height: $spacing-xl;
  }
  .credit, .total, .missing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-m;
    clear: both;
    .amount {
      text-align: right;
    }
  }
  .credit, .missing {
    .label {
      tsl-wallacoin {
        vertical-align: sub;
        margin-right: $spacing-xs;
      }
    }
  }
  .credit {
    padding-right: $spacing-xxs;
    .with-credits & {
      font-size: $font-size-m;
    }
    .amount {
      color: $walla-main;
    }
  }
  .missing {
    border-top: solid 1px $blue-grey-5;
    padding: $spacing-xs $spacing-xxs 0 0;
    margin-bottom: $spacing-xl;
    .label {
      color: $blue-grey-3;
    }
  }
  .total {
    font-weight: $font-weight-chunky;
  }
  tsl-card-selection {
    width: 100%;
    margin-top: $spacing-m;
    display: block;
    &:empty {
      margin: 0;
    }
  }
  tsl-button {
    margin-top: $spacing-ml;
  }
  .credit-card {
    width: 100%;
  }
  .note {
    color: $blue-grey-3;
    text-align: center;
    margin-bottom: 0;
    font-size: $font-size-xs;
  }
}

.buy-product-modal-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  @include square(200px);
  background-color: $white;
  border-radius: 50%;
  background: url(/assets/images/listing-fee.svg) no-repeat center;
}

tsl-stripe-card-selection {
  width: 100%;
}

.Cart__NewCard {
  &--add, &--used {
    margin-bottom: $spacing-s;
    font-size: $font-size-s;
    color: $walla-main;
    cursor: pointer;
  }
}

.BuyProduct__card-container {
  width: 100%;
}
