<div class="header">
  <div class="modal-close light" (click)="activeModal.dismiss()">
    <md-icon svgIcon="cross"></md-icon>
  </div>
</div>
<div class="modal-body">
  <h1 i18n>Work in progress</h1>
  <p i18n>We are currently improving our app and incorporating new features to make your day-to-day life just a little bit better.</p>
  <p class="small" i18n>If you want to upload your product, please use the mobile app:</p>
  <a class="btn-mobile ios" href="https://app.adjust.com/rh6uzq?&_pid=web&_me=www&campaign=desktop_footer" target="_blank">
    <md-icon svgIcon="ios"></md-icon>
    Apple Store
  </a>
  <a class="btn-mobile android" href="https://app.adjust.com/dst7wh?&_pid=web&_me=www&campaign=desktop_footer" target="_blank">
    <md-icon svgIcon="android"></md-icon>
    Google Play
  </a>
</div>
