<div class="modal-body">
  <div class="modal-close light" (click)="activeModal.dismiss()">
    <md-icon svgIcon="cross"></md-icon>
  </div>
  <p i18n>What type of ad do you want to post?</p>
  <div class="types">
    <a class="type" [routerLink]="['/catalog/upload/100']" (click)="activeModal.close()">
      <div class="square">
        <md-icon svgIcon="herocat-cars"></md-icon>
      </div>
      <span i18n>Cars</span>
    </a>
    <a class="type" [routerLink]="['/catalog/upload/13000']" (click)="activeModal.close()">
      <div class="square">
        <md-icon svgIcon="herocat-real-estate"></md-icon>
      </div>
      <span i18n>Real Estate</span>
    </a>
    <a class="type" [routerLink]="['/catalog/upload/13200']" (click)="activeModal.close()">
      <div class="square">
        <md-icon svgIcon="herocat-services"></md-icon>
      </div>
      <span i18n>Services</span>
    </a>
    <a class="type" [routerLink]="['/catalog/upload']" (click)="activeModal.close()">
      <div class="square">
        <md-icon svgIcon="herocat-consumer-goods"></md-icon>
      </div>
      <span i18n>Consumer goods</span>
    </a>
  </div>
</div>
