@import "../../../../style/_common.scss";

.modal-body {
  padding: 50px $spacing-XL;
}

h1 {
  font-size: $font-size-M;
  color: $grey-800;
  font-weight: bold;
}

p {
  font-size: $font-size-S;
  color: $grey-300;
  margin: 0;
  margin-bottom: $spacing-XL;
  &.note {
    color: $grey-250;
    margin: 0;
    margin-top: $spacing;
  }
}

h1, p {
  text-align: center;
}

div.form-control {
  line-height: 32px;
}
