@import '~style/common';

:host {
  display: block;
  background-color: $white;
  overflow: auto;
  padding: 0 0 $spacer 0;
  position: relative;
  z-index: 1;

  w-category-cards {
    display: flex;
    padding: 0 $spacer;
    width: fit-content;
  }
}
