<div class="ItemCardWidePlaceholder container w-100 p-1">
    <div class="row d-flex w-100 h-100 m-0 align-content-start">
        <div class="ItemCardWidePlaceholder__image w-100 h-100 col-12 col-md-5 p-0"></div>
        <div class="col-12 col-md-7 w-100 pt-3 p-2 pt-md-2 px-md-3">
            <div class="ItemCardWidePlaceholder__content">
                <div class="ItemCardWidePlaceholder__text my-1"></div>
                <div class="ItemCardWidePlaceholder__text my-1"></div>
                <div class="ItemCardWidePlaceholder__text my-1"></div>
                <div class="ItemCardWidePlaceholder__text my-1"></div>
                <div class="ItemCardWidePlaceholder__text my-1"></div>
                <div class="ItemCardWidePlaceholder__text my-1 ItemCardWidePlaceholder__text--half"></div>
            </div>
        </div>
    </div>
</div>