@import "~style/common";

.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 290px;
}

.buy-modal {
  display: flex;
  color: $blue-grey-1;
  .left {
    text-align: center;
    align-items: center;
    h2 {
      font-size: $font-size-l;
    }
    .icon {
      @include square(200px);
      border-radius: 50%;
      margin-top: $spacing-ml;
      margin-bottom: $spacing-l;
      background: $white no-repeat center;
      &.icon-1 {
        background-image: url(/assets/images/wallacoins-1.svg);
      }
      &.icon-2 {
        background-image: url(/assets/images/wallacoins-2.svg);
      }
      &.icon-3 {
        background-image: url(/assets/images/wallacoins-3.svg);
      }
      &.icon-4 {
        background-image: url(/assets/images/wallacoins-4.svg);
      }
      &.icon-5 {
        background-image: url(/assets/images/wallacoins-5.svg);
      }
      &.icon-6 {
        background-image: url(/assets/images/wallacoins-6.svg);
      }
    }
  }
  &.credits {
    .icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: $spacing-ms;
      .quantity {
        font-size: $font-size-xxxl;
        font-weight: bold;
        line-height: $font-size-xxxl;
        margin-top: $spacing-ms;
      }
      .label {
        font-size: $font-size-l;
        color: $blue-grey-1;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: $spacing-xxl $spacing-xl;
    .price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-weight: bold;
      font-size: $font-size-m;
      margin-bottom: $spacing-ml;
      &.spacing {
        margin-top: $spacing-ml;
      }
    }
    .for-free {
      color: $walla-main;
      font-weight: bold;
    }
    .note {
      text-align: center;
      color: $blue-grey-3;
      font-size: $font-size-xs;
    }
  }
  .right {
    tsl-card-selection {
      width: 100%;
      margin-bottom: $spacing-ms;
    }
  }
  tsl-stripe-card-selection {
    width: 100%;
  }
  .Cart__NewCard {
    &--add, &--used {
      margin-bottom: $spacing-s;
      font-size: $font-size-s;
      color: $walla-main;
      cursor: pointer;
    }
  }
}
