<div class="modal-close" (click)="activeModal.dismiss()">
  <mat-icon svgIcon="cross"></mat-icon>
</div>
<div class="spinner-wrapper" [hidden]="!mainLoading" >
  <mat-icon svgIcon="spinner" class="spinner"></mat-icon>
</div>
<div class="buy-modal" [hidden]="mainLoading" [class.vertical]="!hasFinancialCard">
  <div class="left">
    <h2>{{pack.quantity}} {{pack.name}}</h2>
    <div class="for-free">{{pack.forFree}} de regalo!</div>
    <div class="icon"></div>
    <div class="price">
      <div class="total" i18n>Total</div>
      <div class="amount">{{pack.price | customCurrency}}</div>
    </div>
  </div>
  <div class="right" [hidden]="!hasFinancialCard">
    <p i18n>Secure payment through Sabadell</p>
    <tsl-card-selection [(ngModel)]="cardType" (hasCard)="hasCard($event)"></tsl-card-selection>
    <tsl-button className="btn-block btn-primary"
                (click)="checkout()"
                [loading]="loading"
                tslTrackEvent="PURCHASE_CONFIRM_PACK_CREDITS"
                i18n>Buy</tsl-button>
  </div>
  <div class="bottom" [hidden]="hasFinancialCard">
    <tsl-button className="btn-block btn-primary"
                (click)="checkout()"
                [loading]="loading"
                tslTrackEvent="PURCHASE_CONFIRM_PACK_CREDITS_NO_CARD"
                i18n>Buy</tsl-button>
    <p>La compra se realiza a través del Banco Sabadell. No guardamos tus datos.</p>
  </div>
</div>
<tsl-sabadell [submit]="sabadellSubmit"></tsl-sabadell>
