<div class="modal-close" (click)="activeModal.dismiss()">
  <mat-icon svgIcon="cross"></mat-icon>
</div>
<div class="spinner-wrapper" [hidden]="!mainLoading" >
  <mat-icon svgIcon="spinner" class="spinner"></mat-icon>
</div>
<div class="buy-modal" [hidden]="mainLoading" [class.credits]="withCredits">
  <div class="left image-col">
    <ng-container *ngIf="!withCredits">
      <h2>{{pack.quantity | number}} {{pack.name}}</h2>
      <div class="for-free" *ngIf="pack.forFree > 0" i18n>{{pack.forFree | number}} as a gift!</div>
      <div class="icon icon-{{packIndex}}"></div>
    </ng-container>
    <ng-container *ngIf="withCredits">
      <div class="icon">
        <div class="quantity">{{pack.quantity | customCurrency}}</div>
        <div class="label" i18n>Recharge</div>
      </div>
    </ng-container>
  </div>
  <div class="right">
    <div class="for-free modal-title" *ngIf="pack.forFree > 0" i18n>{{pack.forFree | customCurrency}} as a gift!</div>
    <div class="price" [class.spacing]="!pack.forFree">
      <div class="total" i18n>Price</div>
      <div class="amount">{{pack.price | customCurrency}}</div>
    </div>
    <tsl-stripe-card-selection *ngIf="isStripe && isStripeCard && savedCard" (onSelectExistingCard)="setSavedCard($event)"
                               (hasStripeCard)="hasStripeCard($event)"
    ></tsl-stripe-card-selection>
    <div class="Cart__NewCard--add" (click)="addNewCard()" *ngIf="isStripe && savedCard" i18n>+ Add another credit card</div>
    <div class="Cart__NewCard--used" (click)="removeNewCard()" *ngIf="isStripe && showCard && isStripeCard" i18n>Use saved card</div>
    <tsl-stripe-card-element *ngIf="isStripe && showCard" [type]="'bump'" [cart]="cart" (stripeCardToken)="checkout($event)"
                             (stripeCard)="setCardInfo($event)" [loading]="loading"
    ></tsl-stripe-card-element>
    <tsl-card-selection [hidden]="!hasFinancialCard || isStripe" [(ngModel)]="cardType" (hasCard)="hasCard($event)"></tsl-card-selection>
    <tsl-button [hidden]="isStripe && !savedCard"
                className="btn-block btn-primary"
                (click)="checkout()"
                [loading]="loading"
                [disabled]="isStripe && !selectedCard"
                [tslTrackEvent]="hasFinancialCard ? 'PURCHASE_CONFIRM_PACK_CREDITS' : 'PURCHASE_CONFIRM_PACK_CREDITS_NO_CARD'"
                i18n>Buy now</tsl-button>
    <p class="note" [hidden]="hasFinancialCard || isStripe" i18n>We don't save details of this transaction. The purchase is made via Banco Sabadell.</p>
  </div>
</div>
<tsl-sabadell [submit]="sabadellSubmit"></tsl-sabadell>
