<div class="box profile-box d-none d-md-block" *ngIf="financialCard">
    <div class="box-content">
        <h3 class="section-title" i18n>Payment method</h3>
        <div class="row">
            <div class="col-10 offset-2">
                <div class="form-group row align-items-center">
                    <tsl-credit-card-info [financialCard]="financialCard" (onDeleteCard)="onDeleteCard($event)"></tsl-credit-card-info>
                </div>
            </div>
        </div>
    </div>
</div>
