@import '~style/common';

$hover-box-shadow: 0 2px 10px 0 rgba(37, 50, 56, 0.1);
$box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
$card-height-small-view: 390px;
$card-height-big-view: 210px;
$image-height-small-view: 190px;
$icon-margin: $spacer * 0.5;

.ItemWideCard {
  height: $card-height-small-view;
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  font-size: $font-size-s;
  @include media-breakpoint-up(md) {
    font-size: $font-size-m;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: $hover-box-shadow;
  }

  cursor: pointer;
  transition: all 0.15s ease;

  @include media-breakpoint-up(md) {
    height: $card-height-big-view;
  }

  &__images {
    height: $image-height-small-view;

    @include media-breakpoint-up(md) {
      height: 100%;
      tsl-carousel-slides ::ng-deep {
        ngb-carousel ::ng-deep {
          .carousel-control-prev,
          .carousel-control-next {
            margin: 0 5px;
          }
        }
      }
    }

    img {
      object-fit: cover;
    }
  }

  &__title {
    font-size: $font-size-m;
  }

  &__description {
    @include vertical-ellipsis(4);
    color: $blue-grey-3;
  }

  &__price {
    font-size: $font-size-l;
    &--bold {
      font-weight: $font-weight-chunky;
    }
  }

  &__favourite {
    cursor: pointer;
    ::ng-deep svg {
      width: 20px;
    }
  }

  &__extraInfo {
    overflow-x: auto;
    @include hide-scroll-bars;
  }

  &__icon {
    @include square(32px);
    background: $white;
    border-radius: 50%;
    top: $icon-margin;
    z-index: 1;

    &--bumped {
      background: $walla-main;
    }

    &--contryBumped {
      background: $skyblue-dark;
    }

    &--left {
      left: $icon-margin;
    }

    &--right {
      right: $icon-margin;
    }
  }
}
