@import "../../../style/_common.scss";

.review-item {
  .separator {
    width: 100%;
    border-bottom: 1px solid $grey-50;
    margin: $spacing 0;
  }
  .info {
    padding: 0;
    margin: 0 0 0 $spacing + 4px;
  }
  .review-type {
    font-size: $font-size-S;
    line-height: $font-size-S;
    color: $corporate;
  }
  .review-title {
    font-weight: bold;
    font-size: $font-size-M;
    a {
      color: $grey-900;
    }
  }
  .review-rating {
    md-icon {
      width: 15px;
      height: 14px;
    }
  }
  .review-comment {
    margin: $spacing-XS 0 0;
  }
  .review-credits {
    font-size: $font-size-S;
    color: $grey-300;
  }
  &.row {
    margin-right: 0;
    margin-left: 0;
  }
  .images-container {
    padding: 0;
    position: relative;
    tsl-user-avatar {
      position: absolute;
      top: 58px;
      right: -12px;
      /deep/ .avatar-rounded {
        border: 4px solid $white;
      }
    }
    .purchase-image {
      background-color: $corporate;
      width: 80px;
      height: 80px;
      border-radius: $border-radius;
      display: flex;
      align-items: center;
      justify-content: center;
      .image {
        width: 100%;
        height: 100%;
        background-size: cover;
        border-radius: $border-radius;
      }
      md-icon {
        width: 50px;
        height: 50px;
        svg g g {
          fill: $white !important;
        }
      }
    }
  }
}