@import "~style/common";

.review-item {
  background-color: $white;
  border-radius: $border-radius;
  margin-bottom: $spacing-s;
  padding: $spacing-ml;
  .info {
    padding: 0;
    margin: 0 0 0 $spacing-l;
  }
  .review-type {
    font-size: $font-size-s;
    line-height: $line-height-m;
    color: $blue-grey-3;
  }
  .review-title {
    font-weight: $font-weight-chunky;
    font-size: $font-size-l;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
      color: $blue-grey-1;
    }
  }
  .review-rating {
    mat-icon {
      width: 15px;
      height: 14px;
    }
  }
  .review-comment {
    margin: $spacing-s 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .review-credits {
    font-size: $font-size-s;
    color: $blue-grey-2;
  }
  .review-microname {
    color: $blue-grey-1;
    font-weight: $font-weight-chunky;
    margin: 0 $spacing-xs;
  }
  &.row {
    margin-right: 0;
    margin-left: 0;
  }
  .images-container {
    padding: 0;
    position: relative;
    .avatar {
      tsl-user-avatar {
        position: absolute;
        top: 58px;
        right: -12px;
        border-radius: 50%;
        background-color: $white;
        /deep/ .avatar-rounded {
          border: 4px solid $white;
        }
      }
      &:hover {
        tsl-user-avatar {
          /deep/ .avatar-rounded {
            opacity: .5;
          }
        }
      }
    }
    .review-image {
      width: 80px;
      height: 80px;
      background-color: $blue-grey-5;
      border-radius: $border-radius;
      display: flex;
      align-items: center;
      justify-content: center;
      .image {
        width: 100%;
        height: 100%;
        background-size: cover;
        border-radius: $border-radius;
      }
      a.image {
        &:hover {
          opacity: .5;
        }
      }
      mat-icon {
        @include square(50px);
      }
    }
  }
}
