@import '~style/common';

.SidebarNavigationProfileElement {
  appearance: none;
  text-decoration: none;
  color: $blue-grey-1;

  &__username {
    font-size: 16px;
  }

  &__reviewsCount {
    font-size: 14px;
  }

  &__user {
    display: flex;
  }

  tsl-user-avatar {
    padding: 0 $spacer * 0.5;
  }

  &__avatarPlaceholder {
    @include AvatarPlaceholder;
    @include square(32px);
    margin: 0 $spacer * 0.5;
    min-width: 32px;
    min-height: 32px;
    flex-shrink: 0;
  }

  &__usernamePlaceholder {
    @include TextPlaceholder;
    height: 24px;
  }

  &__textPlaceholder {
    @include TextPlaceholder;
  }

  &:hover {
  }
}
