<div class="modal-body center-heading">
  <h1 i18n>Report</h1>
  <div class="modal-close" (click)="activeModal.dismiss()">
    <md-icon svgIcon="cross"></md-icon>
  </div>
  <div class="scroll">
    <div [ngClass]="{selected: selectedReportUserReason === reason.id}"
         class="report-ban-reason row align-items-center"
         (click)="selectReportUserReason(reason.id)" *ngFor="let reason of userBanReasons">
      <div class="col-3">
        <div class="ban-reason-icon-container">
          <md-icon svgIcon="report-user-{{reason.id}}"></md-icon>
        </div>
      </div>
      <div class="col-auto label">
        {{reason.label}}
      </div>
    </div>
  </div>
  <textarea [(ngModel)]="reportUserReasonMessage"
            class="report-listing-textarea"
            i18n-placeholder placeholder="I'm reporting this user because..."></textarea>
  <div class="centered">
    <button type="button"
            class="btn btn-primary"
            [disabled]="!reportUserReasonMessage || reportUserReasonMessage.trim() === ''"
            (click)="close();"
            i18n>Report
    </button>
  </div>

