<h1 i18n>My features</h1>
<div class="cart-wrapper" [class.has-financial-card]="hasFinancialCard">
  <div class="scroll-panel">
    <ul *ngIf="cart" class="items-list">
      <li *ngFor="let type of types" [hidden]="!cart[type].cartItems.length" [ngClass]="type">
        <div class="type-total cart-box" [ngClass]="{collapsed: cart[type].collapsed}"
             (click)="cart[type].collapsed = !cart[type].collapsed">
          <mat-icon class="wing-icon" svgIcon="wing-{{type}}"></mat-icon>
          <div class="type">
            <span [ngSwitch]="type">
              <ng-container *ngSwitchCase="'zonebump'">
                <ng-container *ngIf="!provincialBump" i18n>Local bump</ng-container>
                <ng-container *ngIf="provincialBump" i18n>Provincial bump</ng-container>
              </ng-container>
              <ng-container *ngSwitchCase="'citybump'" i18n>City bump</ng-container>
              <ng-container *ngSwitchCase="'countrybump'" i18n>Country bump</ng-container>
            </span>
            <strong>x {{cart[type].cartItems.length}}</strong><br />
            <span class="price">{{cart[type].total * creditInfo?.factor | number}}</span>
          </div>
          <mat-icon class="arrow-icon" svgIcon="arrow-right"></mat-icon>
        </div>
        <ul [hidden]="cart[type].collapsed">
          <li *ngFor="let cartItem of cart[type].cartItems" class="cart-item">
            <mat-icon svgIcon="remove" class="close-icon" (click)="remove(cartItem, type)"></mat-icon>
            <div class="cart-box">
              <tsl-item-avatar [item]="cartItem.item" size="small" fallbackLight="true"></tsl-item-avatar>
              <div class="type">
                <span [ngSwitch]="type">
                  <ng-container *ngSwitchCase="'zonebump'">
                    <ng-container *ngIf="!provincialBump" i18n>Local</ng-container>
                    <ng-container *ngIf="provincialBump" i18n>Provincial</ng-container>
                  </ng-container>
                  <ng-container *ngSwitchCase="'citybump'" i18n>City</ng-container>
                  <ng-container *ngSwitchCase="'countrybump'" i18n>Country</ng-container>
                </span>
                x {{cartItem.duration.duration / 24}}<span i18n>days</span>
              </div>
              <div class="price">{{cartItem.duration.market_code * creditInfo?.factor | number}}</div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="clean-cart" [hidden]="!cart?.total">
    <a (click)="clean()">
      <mat-icon svgIcon="delete"></mat-icon>
      <span i18n>Delete list</span>
    </a>
  </div>
</div>
<div class="walla-total">
  <span class="pull-left" i18n>Total</span>
  <span class="pull-right price">{{cart?.total * creditInfo?.factor | number}}</span>
</div>
<div class="credit">
  <span class="pull-left" i18n>{{creditInfo?.credit | number}} {{creditInfo?.currencyName}}</span>
  <span class="pull-right price" [hidden]="!usedCredits">{{usedCredits | number}}</span>
</div>
<div class="total">
  <span class="pull-left" i18n>Total a pagar</span>
  <span class="pull-right price">{{totalToPay | customCurrency}}</span>
</div>
<tsl-card-selection [(ngModel)]="cardType" name="card-type" (hasCard)="hasCard($event)"></tsl-card-selection>
<tsl-button [disabled]="!cart?.total || loading"
            [loading]="loading"
            (click)="checkout()"
            i18n>Continue to Checkout</tsl-button>
<div class="secure-payment">
  <mat-icon svgIcon="secure-card"></mat-icon>
  <span i18n>Secure payment through Sabadell</span>
</div>
<tsl-sabadell [submit]="sabadellSubmit"></tsl-sabadell>
