@import "~style/common";

$cart-height: calc(100vh - #{$topbar-height + $spacing-L * 2});
$title-height: 65px;
$total-height: 55px;
$discounted-total-height: 30px;
$button-height: 42px;
$button-margin: $spacing - $spacing-XS;
$button-space: $button-height + $spacing;
$secure-label-height: 25px;
$scroll-panel-height: calc(#{$cart-height} - #{$title-height + $total-height + $discounted-total-height + $button-space + $secure-label-height});
$clear-cart-height: 38px;
$card-select-height: (50px + $spacing-XS) * 2 + $spacing-XXS;

:host {
  background: $white;
  border-radius: $border-radius;
  border: solid 1px $grey-50;
  display: block;
  height: $cart-height;
  width: 280px;
  position: fixed;
  padding: 0 $spacing-XS;
}

h1 {
  height: $title-height;
  line-height: $title-height;
  font-size: $font-size;
  text-align: center;
  margin: 0;
  background: url(/assets/icons/cart.svg) no-repeat 10px center;
}

.cart-wrapper {
  height: $scroll-panel-height;
  background-color: rgba($grey-50, 0.3);
  border-radius: 5px;
  position: relative;
  &.has-financial-card {
    height: calc(#{$scroll-panel-height} - #{$card-select-height});
  }
}

.scroll-panel {
  overflow: auto;
  padding: $spacing-XS;
  height: calc(#{$scroll-panel-height} - #{$clear-cart-height});
  .has-financial-card & {
    height: calc(#{$scroll-panel-height} - #{$clear-cart-height + $card-select-height});
  }
}

.discounted-total {
  text-align: right;
  font-size: $font-size-L;
  color: $grey-250;
  margin-top: $spacing-M;
  padding-right: $spacing-XS;
  margin-bottom: -7px;
  height: $discounted-total-height;
}

.total {
  height: $total-height;
  line-height: $total-height;
  font-size: $font-size-XS;
  font-weight: bold;
  padding: 0 $spacing-XS;
  text-transform: uppercase;
  .price {
    font-size: $font-size-XL;
  }
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.items-list {
  font-size: $font-size-XS;
  .cart-box {
    border-radius: 5px;
    background-color: $white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 0.5px $grey-100;
    margin-bottom: $spacing-XS;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
  }
  .type-total {
    padding: 10px;
    cursor: pointer;
    .wing-icon {
      width: 51px;
      height: 30px;
      margin-right: $spacing-XS;
    }
    .arrow-icon {
      transform: rotate(-90deg) scale(.8);
      width: 9px;
      height: 13px;
    }
    &.collapsed {
      .arrow-icon {
        transform: rotate(90deg) scale(.8);
      }
    }
  }
  .price {
    color: $grey-500;
    font-weight: bold;
  }
  .zonebump {
    color: $zone-bump;
  }
  .citybump {
    color: $city-bump;
  }
  .countrybump {
    color: $country-bump;
  }
  .type {
    flex: 1;
  }
  .close-icon {
    @include square(16px);
    margin-bottom: $spacing-XS;
    margin-right: $spacing-XS;
    cursor: pointer;
  }
  .cart-item {
    display: flex;
    align-items: center;
    .cart-box {
      padding: $spacing-XXXS;
      flex: 1;
    }
    .price {
      margin-right: $spacing-XS;
    }
    tsl-item-avatar {
      /deep/ div {
        @include square(32px);
      }
    }
  }
}

.clean-cart {
  position: absolute;
  bottom: 0;
  font-size: $font-size-S;
  margin: $spacing-XS;
  padding: $spacing-XS $spacing-XS 0;
  border-top: 1px solid $grey-50;
  width: calc(100% - #{$spacing-XS * 2});
  a {
    color: $grey-500;
    cursor: pointer;
    mat-icon {
      width: 13px;
      height: 15px;
      margin-right: $spacing-XS;
      vertical-align: sub;
    }
  }
}

tsl-button {
  display: block;
  /deep/ .btn {
    width: calc(100% - #{$button-margin * 2});
    margin: $button-margin;
    margin-top: 0;
  }
}

.secure-payment {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  mat-icon {
    width: 21px;
    height: 15.5px;
  }
  span {
    font-size: $font-size-XS;
    color: $grey-250;
  }
}
