@import '~style/common';

.FavouriteIcon {
  ::ng-deep {
    svg {
      height: 100%;
      path {
        fill: transparent;
        stroke: $blue-grey-2;
      }
    }
  }
  &--active {
    ::ng-deep {
      svg {
        path {
          fill: $negative-main;
          stroke: $negative-dark;
        }
      }
    }
  }
}
