<div class="page-content">
  <div class="container">
    <tsl-header>
      <div class="row mb-3">
        <div class="col-12 col-md-9">
          <div class="header-row">
            <h1 class="header-title">
              <span class="Profile__title" i18n="@@web_profile_pages_315">Your profile</span>
              <ng-container *ngxPermissionsOnly="PERMISSIONS.subscriptions">
                <tsl-pro-badge *ngIf="userService.isPro"></tsl-pro-badge>
              </ng-container>
            </h1>
          </div>
          <div class="header-row">
            <h4 class="header-subtitle" i18n="@@web_profile_pages_316">From here you can view and edit your profile</h4>
            <div class="header-separator d-none d-md-flex">|</div>
            <a 
              class="header-link d-none d-md-flex" 
              i18n="@@web_profile_pages_317"
              *ngIf="user"
              [routerLink]="user.webSlug | userProfileRoute:user.id"
            >
                View my public profile
            </a>
          </div>
        </div>
        <div class="col-3 d-none d-md-block">
          <div class="btn-wrapper">
            <button class="btn btn-logout" (click)="logout($event)"
              i18n="@@web_profile_pages_585">Logout</button>
          </div>
        </div>
      </div>
    </tsl-header>
    <div class="row mb-3">
      <div class="col-12 col-md-8">
        <nav class="nav filters-nav d-flex d-md-inline-block">
          <a class="nav-link" [routerLink]="PROFILE_PATHS.INFO" routerLinkActive="active" i18n="@@web_profile_pages_318">Profile</a>
          <a class="nav-link" [routerLink]="PROFILE_PATHS.ACCOUNT" routerLinkActive="active" i18n="@@web_profile_pages_319">Account</a>
          <a class="nav-link" [routerLink]="PROFILE_PATHS.VERIFICATIONS" routerLinkActive="active" i18n="@@verification_and_security_all_users_top_bar_title">Verifications and Security</a>
          </nav>
      </div>
      <div class="d-none col-md-4 d-md-block">
        <div class="rating" *ngIf="userStats">
          <tsl-stars class="review-rating" [stars]="userStats?.ratings?.reviews" [normalized]="false"></tsl-stars>
          <span>
            <span>(<span class="reviews-rating-value">{{userStats?.counters?.reviews}}</span>&nbsp;</span>
            <span i18n="@@web_profile_pages_322">reviews</span>)
          </span>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>