<div class="MobileBlocker" *ngIf="isCardealer && isMobile">
  <div class="MobileBlocker__icon">
    <img src="./assets/images/mobile-blocker.svg" />
  </div>

  <div i18n="@@MobileBlockerTitle" class="MobileBlocker__text">
    Nice screen, but the resolution is low.
  </div>
  <div i18n="@@MobileBlockerSubtitle" class="MobileBlocker__text">
    To see this content, open the wallapop app or continue browsing from your computer.
  </div>
  
  <div class="MobileBlocker__download">
    <a href="{{adjustIOSUrl}}" class="MobileBlocker__store">
      <tsl-svg-icon src="/assets/icons/download-ios.svg"></tsl-svg-icon>
      <div class="MobileBlocker__store__name">App store</div>
    </a>
    <a href="{{adjustAndroidUrl}}" class="MobileBlocker__store">
      <tsl-svg-icon src="/assets/icons/download-android.svg"></tsl-svg-icon>
      <div class="MobileBlocker__store__name">Google Play</div>
    </a>
  </div>
</div>
