@mixin PlaceholderContent {
  background-color: $blue-grey-5;
  animation: placeholderAnimation 2000ms linear infinite;
}

@mixin TextPlaceholder {
  @include PlaceholderContent;
  min-height: 12px;
  border-radius: 3px;
  width: 100%;
  &--half {
    width: 50%;
  }
}

@mixin AvatarPlaceholder {
  @include PlaceholderContent;
  min-width: 40px;
  min-height: 40px;
  border-radius: 100%;
}

@mixin ImagePlaceholder {
  @include PlaceholderContent;
}
