<div class="SubscriptionHeaderCheckout d-flex flex-wrap">
  <ng-container *ngIf="subscription?.selected_tier; else noSubscription">
    <span class="SubscriptionHeaderCheckout__title" i18n="@@highlight_item_view_pro_user_item_card_subscription_name_web_specific"
      >{{ subscription.category_name }}
    </span>
    <ng-container *ngFor="let bump of balance">
      <span
        class="SubscriptionHeaderCheckout__counter"
        [ngClass]="{ 'SubscriptionHeaderCheckout__counter--completed': bump.remaining === 0 }"
      >
        {{ getBumpQuantityText(bump.remaining) }}
      </span>
    </ng-container>
  </ng-container>
  <ng-template #noSubscription>
    <span class="SubscriptionHeaderCheckout__title" i18n="@@highlight_item_view_pro_user_item_card_no_subscription_plural_name_web_specific"
      >Not included in your subscriptions</span
    >
  </ng-template>
</div>
