.SubscriptionHeaderCheckout {
  margin-bottom: 20px;
  font-weight: bold;
  &__title {
    font-size: 20px;
    margin-right: 12px;
  }

  &__counter {
    &:not(:last-child) {
      margin-right: 12px;
    }
    background: #385ef9;
    border-radius: 16px;
    padding: 4px 12px;
    color: white;

    &--citybump {
      background: #a3fbff;
      color: #0b2db0;
    }

    &--countrybump {
      color: #a3fbff;
      background: #0b2db0;
    }

    &--completed {
      background: #fd6c67;
    }
  }
}
