<a class="card" [href]="item.itemSlug | itemDetailRoute" target="_blank" [ngClass]="{'faded': item.notAvailable || item.unpublished }">
  <div class="image-overlay">
    <tsl-status-icon [unavailable]="item.notAvailable || item.unpublished"></tsl-status-icon>
    <img class="card-img-top" src="{{itemImageUrl}}" onError="this.src='/assets/images/fake-item.png'"/>
    <a class="btn btn-edit" target='_blank' (click)='$event.stopPropagation()'
       [routerLink]="['/catalog/edit/', item.id]"
       *ngIf='canEdit()'>
      <tsl-svg-icon src="/assets/icons/btn-edit.svg"></tsl-svg-icon>
    </a>
    <div class="image-bottom">
      <tsl-item-sold [item]="item"></tsl-item-sold>
      <tsl-item-reserved [item]="item" *ngIf="!item.sold"></tsl-item-reserved>
    </div>
  </div>

  <div class="actions-block" *ngIf='canEdit()'>
    <tsl-button className="btn-reserve" (click)="toggleReserve($event)">
      <span i18n="@@web_chat_children_inbox_components_item_component_detail_152" *ngIf='!item.reserved'>Reserve</span>
      <span i18n="@@web_chat_children_inbox_components_item_component_detail_153" *ngIf='item.reserved'>Unreserve</span>
    </tsl-button>
    <tsl-button className="btn-sold" (click)="prevent($event)" tslItemSold (callback)="trackSoldEvent(item)"
                [item]="item" i18n="@@web_chat_children_inbox_components_item_component_detail_154">Sold
    </tsl-button>
  </div>

  <div class="card-block">
    <h5 class="card-title">{{item.title}}</h5>
    <div class="card-item-info">
      <div class="price" *ngIf="item.price">{{item.price.amount | customCurrency:item.price.currency}}</div>
      <div class="stats" *ngIf="item.views !== undefined && item.favorites !== undefined">
        <tsl-svg-icon src="/assets/icons/views.svg"></tsl-svg-icon>
        {{item.views}}
        <tsl-svg-icon src="/assets/icons/heart.svg"></tsl-svg-icon>
        {{item.favorites}}
      </div>
    </div>
  </div>
</a>
