@import '~style/common';

:host {
  display: flex;
}

.card {
  width: 100%;

  &.faded {
    pointer-events: none;
    .image-overlay,
    .actions-block,
    .card-block {
      opacity: 0.5;
    }
  }

  &:hover {
    cursor: pointer;
  }

  .image-overlay {
    position: relative;

    tsl-status-icon {
      position: absolute;
      top: $spacing-s;
      left: $spacing-s;
    }

    .card-img-top {
      object-fit: cover;
      width: 100%;
      max-height: 180px;
    }

    a.btn-edit {
      @include square(40px);
      border: solid 2px rgba(207, 216, 220, 0.5);
      border-radius: 8px;
      transition: all 0.2s ease;
      position: absolute;
      top: 12px;
      right: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: white;
      padding: $spacing-xxs $spacing-s $spacing-xxs;

      tsl-svg-icon ::ng-deep {
        float: left;

        svg g g,
        svg path {
          fill: $blue-grey-2;
        }
      }

      &:hover,
      &.active {
        background: $blue-grey-2;
        border-color: transparent;

        tsl-svg-icon ::ng-deep {
          svg g g,
          svg path {
            fill: $white;
          }
        }
      }
    }

    .image-bottom {
      position: absolute;
      bottom: 20px;
      display: flex;
      flex-direction: column;
      width: 100%;

      tsl-item-sold,
      tsl-item-reserved {
        align-self: center;
      }
    }
  }

  .actions-block {
    width: 100%;
    padding: $spacing-ms $spacing-ml 0;

    tsl-button {
      &:first-of-type {
        margin-right: $spacing-ms;
      }

      width: calc(50% - 10px);
    }

    ::ng-deep .btn-reserve {
      font-size: $font-size-xs;
      padding-top: $spacing-xs;
      padding-bottom: $spacing-xs;
      width: 100%;
    }

    ::ng-deep .btn-sold {
      font-size: $font-size-xs;
      padding-top: $spacing-xs;
      padding-bottom: $spacing-xs;
      width: 100%;
      background-color: $magenta-main;

      &:hover {
        background-color: lighten($magenta-main, 3%);
      }
    }
  }

  .card-block {
    padding: $spacing-ms;

    .card-title {
      font-size: $font-size-m;
      margin-bottom: $spacing-ms;
      line-height: $line-height-ml;
      max-height: 44px;
      overflow: hidden;
    }

    .card-item-info {
      display: flex;
      flex-direction: row;

      .price {
        font-size: $font-size-m;
        color: $blue-grey-1;
        flex-grow: 1;
      }

      .stats {
        font-size: $font-size-xs;
        color: $blue-grey-2;
        line-height: $line-height-l;
        flex-grow: 0;

        tsl-svg-icon {
          height: 14px;
          width: 17px;
          margin: 0 $spacing-s;
          margin-right: $spacing-xxs;
          display: inline-flex;
          vertical-align: sub;

          &::ng-deep svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
