@import "~style/common";

.btn-scrolling {
  width: 42px;
  height: 42px;
  border-radius: 21px;
  box-shadow: 0 1px 4px 0 rgba($black, 0.25);
  background-color: $white;
  text-align: center;
  padding: $spacing-s;
  position: absolute;
  right: 25px;
  bottom: $line-height-ml;
  transition: opacity 0.25s;

  .badge-pill {
    position: absolute;
    top: -$spacing-ms;
    left: -$spacing-ms;
    background-color: $warn;
    font-size: $font-size-xs;
    padding: 0;
    transition: opacity 0.25s;

    &.badge-pill-sm {
      top: -6px;
      left: -6px;
      height: $font-size-s;
      width: $font-size-s;
    }

    &.badge-pill-lg {
      height: $font-size-lll;
      width: $font-size-lll;
    }

    span {
      line-height: $font-size-lll;
      display: inline-block;
      vertical-align: middle;
    }
  }

  mat-icon {
    margin: 10.5px 3.5px;
  }
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}
