@import "~style/common";

$modal-border-radius: 20px;

.header {
  background: $corporate url(/assets/images/unsubscribe.svg) no-repeat center;
  height: 230px;
  border-top-left-radius: $modal-border-radius;
  border-top-right-radius: $modal-border-radius;
}

.modal-body {
  text-align: center;
  padding: $spacing-xl;
  h1 {
    font-size: $font-size-M;
    font-weight: bold;
    margin-bottom: $spacing-xl;
  }
  p {
    margin: 0;
    margin-bottom: $spacing-l;
    color: $grey-300;
    font-size: $font-size;
  }
  .btn {
    padding: $spacing-ms $spacing-ml;
    &.btn-secondary {
      border: 0;
      background-color: $grey-50;
      color: $grey-500;
      margin: 0 $spacing-xs;
      margin-bottom: $spacing-ms;
      &:hover, &.selected {
        background-color: $grey-100;
      }
      &.btn-reason {
        margin: 0;
        margin-bottom: $spacing-ml;
      }
    }
    &.btn-primary {
      padding: $spacing-ms $spacing-xl;
    }
  }

  .custom-reason {
    font-size: $font-size-S;
    margin-bottom: $spacing-ms;
    overflow: hidden;
    margin-top: $spacing-xl;
  }
  .counter {
    font-size: $font-size-XS;
  }
  textarea {
    border-radius: $border-radius;
    height: 160px;
    margin-bottom: $spacing-ml;
  }
  .title {
    margin-right: $spacing-ml;
  }
}
