// Base
$white: white;
$black: black;

// Shades of grey

$grey-50: #ECEFF1;
$grey-40: #F3F3F3;
$grey-100: #CFD8DC;
$grey-200: #B0BEC5;
$grey-250: #90a4ae;
$grey-300: #78909C;
$grey-400: #546E7A;
$grey-500: #607D8B;
$grey-600: #546E7A;
$grey-700: #455A64;
$grey-800: #36474F;
$grey-850: #2d3b42;
$grey-900: #253238;
$grey-950: #202c30;
$grey-1000: #1c262b;

// Corporate colors

$corporate-light: #C3F5E6;
$corporate: #13C1AC;
$corporate-dark: #1E9889;

// Bumps colors

$zone-bump: #13c1ac;
$city-bump: #31a0bd;
$country-bump: #56acff;

$zone-bump-dark: #0f9989;
$city-bump-dark: #2f9cb9;
$country-bump-dark: #3673ae;

// Urgent color
$urgent: #FFC900;

// Accents

$warn: #FD6C67;
$success: #31C571;

// Various

$map-bg: #efe8e0;
$sold-bg: #f75883;
$delete-bg: #fb6d6a;
$edit-bg: $grey-500;
$reserve-bg: #547ff1;
$reactivate-bg: #f75883;
$body-bg: $white;
$color-grey-separator: $grey-100;
$color-grey-item: #333;
$color-favorite-icon-stroke: #d45b57;
$color-favorite-icon-fill: #fd6c67;

$preview-border-color: #f3f3f3;
$listing-fee-color: #f75883;

$color-social-background: #d8dbdd;
$color-social-fill: #a3afb5;
$color-urgent: #dbac00;
