// Bumps colors

$city-bump: #31a0bd;
$city-bump-dark: #2f9cb9;

// Various

$map-bg: #efe8e0;
$delete-bg: #fb6d6a;
$reserve-bg: #547ff1;
$body-bg: $white;
$color-grey-item: #333;
$color-favorite-icon-fill: $negative-main;


$color-social-background: #d8dbdd;
$color-social-fill: #a3afb5;

// Graph colors
$graph-views: #FFEFD7;
$graph-chats: #EEAA42;
$graph-favorites: #f99bb5;
$graph-featured: #8FE3D8;

$badge-left: #b76bf9;
$badge-right: #5f69fb;

// Pro colors
$color-pro: #5f69fb;
$color-pro-light: #8e6afa;
$color-pro-super-light: #b76bf9;
$color-pro-faded: #a7adfc;
$color-pro-faded-light: #eff0fe;
