// Bumps colors

$city-bump: #31a0bd;
$city-bump-dark: #2f9cb9;

// Various

$map-bg: #efe8e0;
$color-favorite-icon-fill: $negative-main;


$color-inbox-background: #F4F5F7;
$color-social-background: #d8dbdd;
$color-social-fill: #a3afb5;

// Graph colors

$graph-favorites: lighten($magenta-main, 15%);
$graph-featured: darken($walla-soft, 15%);

// Pro colors

$color-pro-light: #8e6afa;
$color-pro-super-light: #b76bf9;
$color-pro-faded: #a7adfc;
$color-pro-faded-light: #eff0fe;
