$font-size-XXXS: 8px;
$font-size-XXS: 10px;
$font-size-XS: 12px;
$font-size-S: 14px;
$font-size: 16px;
$font-size-M: 18px;
$font-size-L: 20px;
$font-size-LL: 22px;
$font-size-XL: 32px;
$font-size-XXL: 36px;
$font-size-XXXL: 48px;
$font-size-XXXXL: 60px;

$letter-spacing: 0.5px;

$wallie: 'Wallie';
$wallieSkinny: 'WallieSkinny';
$creditCardFont: 'OCRAStd';
