$spacing-XXXS: 2px;
$spacing-XXS: 4px;
$spacing-XS: 8px;
$spacing-S: 12px;
$spacing-1S: 14px;
$spacing-M: 16px;
$spacing-1M: 18px;
$spacing: 20px;
$spacing-2M: 24px;
$spacing-3M: 28px;
$spacing-L: 32px;
$spacing-2L: 38px;
$spacing-XL: 60px;
$spacing-40: 40px;
$spacing-10: 10px;
