@import '~web-styleguide/scss/colors';
/* REPLACE BOOTSTRAP VARIABLES */

$grid-gutter-width-base: 20px;

$brand-primary: $walla-main;

$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: $yellow-dark;
$brand-danger: #d9534f;

$color-grey-lighter:  #f2f2f2;
$color-grey-light: #ddd;
$color-grey-dark: #999;

$body-bg: $walla-main;
$link-color: $walla-main;

$border-radius: 10px;
$button-border-radius: 20px;

@import 'colors';
@import 'spacings';
@import 'fonts';
@import 'layout';
