@import '~web-styleguide/scss/colors';
/* REPLACE BOOTSTRAP VARIABLES */

$grid-gutter-width-base: 20px;

$brand-primary: $walla-main;
$primary: $walla-main;

$brand-success: $positive-main;
$brand-info: $softblue-main;
$brand-warning: $yellow-dark;
$brand-danger: $negative-dark;

$color-grey-lighter: $blue-grey-5;
$color-grey-light: $blue-grey-4;
$color-grey-dark: $blue-grey-3;

$link-color: $walla-main;

$border-radius: 10px;
$button-border-radius: 25px;
$font-size-base: 1rem; // 16px

@import 'colors';
@import 'layout';
