<div class="page-content"
     infiniteScroll
     [infiniteScrollDistance]="5"
     [infiniteScrollThrottle]="100"
     [scrollWindow]="false"
     [infiniteScrollDisabled]="end || loading"
     (scrolled)="loadMore()"
     [scrollTop]="scrollTop">
  <tsl-spinner [firstLoad]="false" *ngIf="isUrgent && isRedirect"></tsl-spinner>
  <div class="container" *ngIf="!isUrgent || !isRedirect">

    <tsl-header>
      <div class="col-7">
        <div class="header-row">
          <h1 class="header-title">
            <span i18n>Your products</span>
            <span class="badge badge-pro" *ngIf="userService?.user?.featured || subscriptionSlots.length !== 0">
              <mat-icon svgIcon="pro-seal"></mat-icon>
              Pro
            </span>
          </h1>
        </div>
        <div class="header-row header-row--margin">
          <h4 class="header-subtitle" i18n>Here you can list items, manage the ones you already have and featured to sell them faster</h4>
        </div>
      </div>
      <div class="col info">
        <mat-icon svgIcon="feature"></mat-icon>
        <a (click)="bumpTutorial.show()" i18n>What can features do for you?</a>
      </div>
      <div class="col-1 header-numbers">
        <ng-container *ngIf="selectedStatus === 'sold'">
          <p class="header-numbers-top">
            <span>{{numberOfProducts}}</span>
          </p>
          <p class="header-numbers-bottom">
            <span *ngIf="numberOfProducts > 1 || numberOfProducts === 0" i18n>products</span>
            <span *ngIf="numberOfProducts === 1" i18n>product</span>
          </p>
        </ng-container>
      </div>
    </tsl-header>

    <tsl-subscriptions-slots-list 
      [subscriptionsSlots]="subscriptionSlots"
      [selectedSubscriptionSlot]="selectedSubscriptionSlot"
      (subscriptionSlotSelected)="selectSubscriptionSlot($event)"
    >
    </tsl-subscriptions-slots-list>

    <tsl-nav-links class="List__NavLinks"
      [showSearchInput]="selectedSubscriptionSlot"
      [selectedLinkId]="selectedStatus"
      [navLinks]="navLinks"
      (clickedLink)="filterByStatus($event)"
      (searchChanged)="onSearchInputChange($event)"
    >
    </tsl-nav-links>

    <div>

      <a id="total-selected" class="filtered" [hidden]="itemService.selectedItems.length === 0" [ngClass]="{'show': itemService.selectedItems.length}" (click)="deselect()">
        <ng-container [ngPlural]="itemService.selectedItems.length">
          <ng-template ngPluralCase="=1"><ng-container i18n>1 item selected</ng-container></ng-template>
          <ng-template ngPluralCase="other"><ng-container i18n>{{itemService.selectedItems.length // i18n(ph="TOTAL_SELECTED")}} items selected</ng-container></ng-template>
        </ng-container>
      </a>

      <span class="bulk-actions" [ngClass]="{disabled: !itemService.selectedItems.length}">
        <button class="btn-delete dark" (click)="delete()" [disabled]="!itemService.selectedItems.length">
          <mat-icon svgIcon="delete"></mat-icon>
          <span i18n>Delete</span>
        </button>
        <button
          class="btn-activate"
          *ngIf="selectedSubscriptionSlot"
          (click)="activate()"
          [disabled]="!itemService.selectedItems.length || !canActivate" i18n>
            Activate
        </button>
        <button 
          class="btn-deactivate dark"
          *ngIf="selectedSubscriptionSlot"
          (click)="deactivate()"
          [disabled]="!itemService.selectedItems.length || !canDeactivate"
          tslTrackEvent="MYCATALOG_PRO_DEACTIVATE" i18n>
            Deactivate
        </button>
      </span>

      <tsl-button 
        className="btn-primary btn-big"
        [disabled]="itemService.selectedItems.length === 0"
        [routerLink]="['/catalog/checkout']"
        tslTrackEvent="MYCATALOG_PURCHASE_CONTINUE"
        [params]="{ payment_method: isStripe ? 'STRIPE' : 'SABADELL' }"
        i18n
      >
        Feature
      </tsl-button>
    </div>

    <div class="row items">
      <div  id="catalog-empty-state" *ngIf="!items.length && !loading">
        <mat-icon svgIcon="items-empty-state" class="image"></mat-icon>
      </div>

      <tsl-catalog-item 
        *ngFor="let item of items"
        class="col-md-12" 
        [item]="item"
        [selectMode]="selectMode"
        [paymentMethod]="isStripe ? 'STRIPE' : 'SABADELL'"
        (itemChange)="itemChanged($event)"
        (purchaseListingFee)="purchaseListingFee($event)"
      >
      </tsl-catalog-item>

      <tsl-spinner [hidden]="!loading"></tsl-spinner>
    </div>
  </div>
</div>
<tsl-selected-items *ngIf="items.length && itemService.selectedItems.length && itemService.selectedAction === 'feature'"
  [items]="items"
  [isStripe]="isStripe"
  (onAction)="onAction($event)"
></tsl-selected-items>
<tsl-sabadell [hidden]="isStripe" [submit]="sabadellSubmit"></tsl-sabadell>
<tsl-bump-tutorial></tsl-bump-tutorial>
<button [hidden]="true" tslItemSold></button>
