@import "../../../style/_common.scss";

$icon-size: 12px;
$height: 40px;

.items {
  margin-top: $spacing;
  margin-bottom: 120px;
  .add-item {
    width: 100%;
    svg {
      width: 100%;
      .dashed-border, .pic, .button, text {
        transition: all .2s ease;
      }
    }
    &:hover {
      $hover-color: #0f9989;
      text-decoration: none;
      svg {
        .dashed-border {
          stroke: $hover-color;
        }
        .pic, .button, text {
          fill: $hover-color;
        }
      }
    }
  }
}

tsl-spinner {
  width: 100%;
}

.nav {
  margin-bottom: 10px;
  margin-top: -6px;
}

#total-selected {
  padding: 0 $spacing;
  cursor: pointer;
  &:after {
    display: inline-block;
    content: ' ';
    background-image: url('/assets/icons/cross.svg');
    background-size: $icon-size $icon-size;
    height: $icon-size;
    width: $icon-size;
    margin-left: 10px;
    vertical-align: middle;
    margin-top: -2px;
  }
  &.show {
    animation: fadeInFromNone 0.5s ease-in-out;
  }
  &:hover {
    background: rgba($white, .7);
  }
}

#total-selected, .bulk-actions button {
  border: solid 1px $grey-100;
  padding: 0 $spacing;
  border-radius: $border-radius;
  background: $white;
  color: $grey-900;
  font-size: $font-size-S;
  height: $height;
  line-height: $height;
  display: inline-block;
  margin-bottom: 2px;
}

.bulk-actions {
  button {
    cursor: pointer;
    margin-left: 10px;
    &.btn-reserve {
      &:hover {
        background: $reserve-bg;
        border-color: transparent;
        color: $white;
      }
    }
    &.btn-delete {
      @include square(40px);
      padding: 0;
      md-icon {
        height: 16px;
        width: 14px;
        vertical-align: sub;
      }
      &:hover {
        background: $delete-bg;
        border-color: transparent;
        color: $white;
      }
    }
  }
  &.show {
    button {
      animation: fadeInFromNone 0.5s ease-in-out;
    }
  }
}

tsl-selected-items {
  position: absolute;
  bottom: 0;
  right: 0;
  left: $sidebar-width;
  z-index: 10;
}

#catalog-empty-state {
  padding: 0 10px;
  width: 100%;
  md-icon {
    width: 100%;
    height: auto;
  }
}

.banner {
  width: 100%;
  height: auto;
  margin-bottom: $spacing;
  margin-top: -$spacing-L;
}
