@import '~style/common';

.EditSubscription__box {
  text-align: center;
  padding: 0 0 $spacing-m;
  .EditSubscription__box-header {
    background: $walla-main;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    color: $white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &--title {
    font-size: $font-size-l;
    font-weight: bold;
    margin: $spacing-xxl 0 $spacing-ms;
  }
  &--subtitle {
    font-size: $font-size-m;
    color: $white;
    margin: 0 0 $spacing-l;
  }
}

.EditSubscription__listing-limit-price {
  color: $blue-grey-1;
  font-size: $font-size-lll;
}

.EditSubscription__listing-limit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: $spacing-ml;
  .EditSubscription__listing-limit-box {
    padding: $spacing-m;
    height: 60px;
    border-right: 1px solid $blue-grey-5;
    box-shadow: 0px 3px 5px -2px $blue-grey-5;
    flex: 0 0 75px;
    color: $blue-grey-1;
    cursor: pointer;
    &--selected {
      font-weight: bold;
      color: $walla-main;
      height: 56px !important;
      box-shadow: 0px 4px 5px 0px $blue-grey-5 !important;
    }
    &--current {
      font-weight: bold;
      color: $walla-main$blue-grey-2;
      height: 56px !important;
      box-shadow: 0px 4px 5px 0px $blue-grey-5 !important;
    }
  }
}

.EditSubscription__listing-limit-selection {
  width: 250px;
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
}

.EditSubscription__listing-limit-payment {
  width: 80%;
  margin: $spacing-m auto;
}

.EditSubscription__cancel-link {
  color: $blue-grey-2;
  margin: $spacing-m 0 0;
  cursor: pointer;
}

.modal-close {
  width: $spacing-ms;
  height: $spacing-ms;
  tsl-svg-icon {
    width: $spacing-ms;
    height: $spacing-ms;
    line-height: $spacing-ms;
    ::ng-deep svg path {
      fill: $white;
    }
  }
}

@include media-breakpoint-down(sm) {
  .EditSubscription__box--subtitle {
    width: 80%;
    margin: 0 auto;
    padding-bottom: $spacing-m;
  }
}
