@import '~style/common';

.TransactionTrackingStatusInfo {
  background-color: $white;
  padding: $spacer * 0.8 0;

  &--borderBottom {
    border-bottom: 1px solid $blue-grey-4;
  }

  &__iconWrapper {
    margin-right: $spacer * 0.75;
    @include square(48px);
  }

  &__icon {
    object-fit: cover;

    &--circle {
      border-radius: 50%;
    }

    &--rounded {
      border-radius: 5px;
    }
  }

  &__descriptionWrapper {
    overflow: hidden;
    flex: 1;

    &--clickable {
      cursor: pointer;
    }
  }

  &__arrowRight {
    ::ng-deep svg path {
      fill: $blue-grey-1;
    }
  }
}
