@import '~style/common';

$toolbar-height: 45px;

.SelectorFilterTemplate {
  &__OpenPlaceholder {
    &_toolbar {
      position: absolute;
      background: $white;
      top: 0;
      right: 0;
      left: 0;
      height: $toolbar-height;
    }

    &_content {
      position: absolute;
      background: $white;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: auto;
      margin-top: $toolbar-height;
    }

    &_title {
      font-weight: bold;
    }

    &_back {
      cursor: pointer;
      align-self: center;
      position: absolute;
      right: 0;
    }
  }

  &__dev_warn {
    color: $brand-danger;
  }
}
