<div *ngIf="!hasContentPlaceholder">
  <ng-template [ngTemplateOutlet]="contentWrapper"></ng-template>
</div>

<div *ngIf="hasContentPlaceholder">
  <tsl-selector-parent-option [label]="placeholderLabel" [sublabel]="placeholderSublabel" [icon]="placeholderIcon" (onClick)="togglePlaceholderOpen()">
  </tsl-selector-parent-option>
</div>

<div *ngIf="hasContentPlaceholder && isPlaceholderOpen" class="SelectorFilterTemplate__OpenPlaceholder">
  <div class="SelectorFilterTemplate__OpenPlaceholder_content">
    <ng-template [ngTemplateOutlet]="contentWrapper"></ng-template>
  </div>
  <div class="d-flex justify-content-center align-items-center SelectorFilterTemplate__OpenPlaceholder_toolbar">
    <span *ngIf="contentTitle" class="SelectorFilterTemplate__OpenPlaceholder_title">{{contentTitle}}</span>
    <tsl-svg-icon src="/assets/icons/arrow-back.svg" class="SelectorFilterTemplate__OpenPlaceholder_back pr-3"
                  (click)="togglePlaceholderOpen()">
    </tsl-svg-icon>
  </div>
</div>

<ng-template #contentWrapper>
  <div #extendedContent>
    <ng-content></ng-content>
  </div>
  <span *ngIf="extendedContent.children.length === 0" class="SelectorFilterTemplate__dev_warn">Please, avoid using abstract selector filter directly, use one of the extensions or create your own</span>
</ng-template>
