<div *ngIf="hasContentPlaceholder" class="SelectorFilterTemplate__option_placeholder">
  <tsl-selector-parent-option [label]="placeholderLabel" [sublabel]="placeholderSublabel" [icon]="placeholderIcon" (onClick)="handlePlaceholderClick()">
  </tsl-selector-parent-option>
</div>

<div *ngIf="!hasContentPlaceholder">
  <ng-template [ngTemplateOutlet]="contentWrapper"></ng-template>
</div>

<ng-template #contentWrapper>
  <div #extendedContent>
    <ng-content></ng-content>
  </div>
  <span *ngIf="extendedContent.children.length === 0" class="SelectorFilterTemplate__dev_warn">Please, avoid using abstract selector filter directly, use one of the extensions or create your own</span>
</ng-template>
