@import '~style/common';
.GenericCard {
  border: solid 2px #eceff1;
  flex: 1;
  margin-right: 12px;

  &:hover {
    transform: $item-card-hover-translate;
    box-shadow: $item-card-hover-box-shadow;
  }

  &--selected {
    border: solid 2px #607d8b;
  }
}
