<div
  tslsanitizedBackground="{{avatar}}"
  [fallback]="fallback"
  [ngClass]="size">
  <span class="overlay" *ngIf="item?.sold || item?.reserved || item?.featured"></span>
  <span class="sold" *ngIf="item?.sold">
    <mat-icon svgIcon="sold"></mat-icon>
  </span>
  <span class="reserved" *ngIf="item?.reserved && !item?.sold && !item?.featured">
    <mat-icon svgIcon="reserved"></mat-icon>
  </span>
  <span class="featured" *ngIf="item?.featured && !item?.urgent && !item?.sold" [ngClass]="item?.flags.bump_type">
    <mat-icon svgIcon="wing"></mat-icon>
  </span>
  <span class="urgent" *ngIf="item?.urgent && !item?.sold">
    <mat-icon svgIcon="urgent"></mat-icon>
  </span>
</div>
