@import "../../../../style/_common.scss";

div {
  @include square-avatar($item-avatar-size);
  float: left;
  margin-right: $item-avatar-margin;
  display: flex;
  position: relative;
  &.small {
    @include square-avatar($item-avatar-size-small);
  }
  &.medium {
    @include square-avatar($item-avatar-size-medium);
  }
  &.big {
    @include square-avatar($item-avatar-size-big);
  }
}

.overlay {
  background-color: $grey-900;
  position: absolute;
  @include square-avatar(100%);
  opacity: .5;
  z-index: 1;
}

$sold-width: 32px;
.sold, .reserved {
  @include square($sold-width);
  border-radius: 50%;
  display: flex;
  background-color: $white;
  margin: auto;
  z-index: 2;
  md-icon {
    margin: auto auto;
    @include square(21px);
  }
}

.reserved {
  md-icon {
    height: 17px;
    width: 12px;
    vertical-align: sub;
  }
}
