<div class="modal-body">
  <h2 i18n="@@web_catalog_item_actions_deactivate_items_modal_468">Deactivate items</h2>
  <p i18n="@@web_catalog_item_actions_deactivate_items_modal_469">The selected items will be set all pending.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn" i18n (click)="activeModal.dismiss()">Cancel</button>
  <button type="button" class="btn btn-warn" i18n="@@web_catalog_item_actions_deactivate_items_modal_669" (click)="activeModal.close()">Deactivate</button>
</div>
