@import '~style/common';

$element-height: 128px;

.DrawerNavigationProfileElement {
  height: $element-height;
  background-color: $white;
  color: $blue-grey-1;

  &__user {
    min-width: 0;
  }

  &__username {
    font-size: $font-size-lll;
  }

  &__avatarPlaceholder {
    flex-shrink: 0;
    @include AvatarPlaceholder;
    @include square(80px);
  }

  &__usernamePlaceholder {
    @include TextPlaceholder;
    height: 20px;
  }

  &__textPlaceholder {
    @include TextPlaceholder;
  }
}
