@import '~style/common';

.DrawerNavigationProfileElement {
  height: 128px;
  background-color: $white;
  color: $blue-grey-1;

  &__user {
    min-width: 0;
  }

  &__username {
    font-size: $font-size-lll;
  }
}
