@import '~style/common';

:host {
  display: inline-block;

  .Checkbox {
    &__input {
      cursor: pointer;
      opacity: 0;

      &:checked + .Checkbox__mark {
        background: $walla-main;
        border-color: $walla-main;
      }

      &:checked + .Checkbox__mark:after {
        display: block;
      }
    }

    &__mark {
      background: $white;
      border-radius: 6px;
      border: 2px solid $blue-grey-4;
      cursor: pointer;
      height: 24px;
      width: 24px;

      &:after {
        content: '';
        position: absolute;
        left: 7px;
        top: 1px;
        width: 7px;
        height: 14px;
        border: solid $white thin;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}
