<div class="header">	
  <div class="modal-close light" (click)="activeModal.close({redirect: false})">	
    <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>	
  </div>	
  <h1 i18n="@@web_bump_suggestion_modal_title">Great! Now your item is on Wallapop</h1>	
</div>	

<div class="content-col">	
  <h1 class="modal-title" i18n="@@web_bump_suggestion_modal_subtitle">Want to sell it quickly?</h1>	
  <p class="modal-text" i18n="@@web_bump_suggestion_modal_description">Highlight your item so that more people see it. Many more!</p>
  <ng-container *ngIf="productPrice && productCurrency; else noPriceButton">
    <tsl-button
      className="btn btn-primary btn-block"	
      (click)="activeModal.close({redirect: true, hasPrice: true})"
      i18n="@@web_bump_suggestion_modal_button">Feature it from {{ productPrice | customCurrency:productCurrency }}</tsl-button>	
  </ng-container>
  <ng-template #noPriceButton>
    <tsl-button
    className="btn btn-primary btn-block"	
    (click)="activeModal.close({redirect: true})"
    i18n="@@web_bump_suggestion_modal_no_price_button">Feature it</tsl-button>	
  </ng-template>
</div>	
<div class="share">	
    <div i18n="@@web_bump_suggestion_modal_share">Share it with your friends:</div>	
    <div class="social-icons" [ngClass]="{'social-icons--disabled' : !item}">	
      <a (click)="onFacebookShare()"><tsl-svg-icon src="/assets/icons/facebook.svg"></tsl-svg-icon></a>	
      <a (click)="onTwitterShare()"><tsl-svg-icon src="/assets/icons/twitter.svg"></tsl-svg-icon></a>	
    </div>	
</div>