<div class="modal-body">
  <div class="modal-close" (click)="activeModal.dismiss()">
    <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
  </div>
  <button class="btn btn-primary" (click)="activeModal.close()" tslTrackEvent="UPLOADFORM_UPLOADFROMPREVIEW">
    <span *ngIf="!itemPreview.id" i18n>Post Ad</span>
    <span *ngIf="itemPreview.id" i18n>Update</span>
  </button>
  <ngb-carousel interval="0">
    <ng-template ngbSlide *ngFor="let image of itemPreview.images">
      <img [src]="image.preview" />
    </ng-template>
  </ngb-carousel>
  <p class="price">{{itemPreview.sale_price | customCurrency:itemPreview.currency_code}}</p>
  <h1>{{itemPreview.title}}</h1>
  <p class="car-info" *ngIf="itemPreview.model">
    {{itemPreview.model}} {{itemPreview.brand}} - {{itemPreview.year}}
    <span *ngIf="itemPreview.km"> - {{itemPreview.km | number}} km</span>
  </p>
  <p class="description" [ngClass]="{last: !hasExtras && !hasCarExtras}">
    {{itemPreview.description || itemPreview.storytelling}}
  </p>
  <div class="extras car-extras" *ngIf="hasCarExtras" [ngClass]="{last: !hasExtras}">
    <div *ngIf="itemPreview.gearbox">
      <tsl-svg-icon src="/assets/icons/{{itemPreview.gearbox}}.svg"></tsl-svg-icon>
      <span [ngSwitch]="itemPreview.gearbox">
        <ng-container *ngSwitchCase="'manual'" i18n>Manual</ng-container>
        <ng-container *ngSwitchCase="'automatic'" i18n>Automatic</ng-container>
      </span>
    </div>
    <div *ngIf="itemPreview.body_type && bodyType">
      <tsl-svg-icon src="/assets/icons/{{itemPreview.body_type}}.svg"></tsl-svg-icon>
      <span>{{bodyType}}</span>
    </div>
    <div *ngIf="itemPreview.num_seats">
      <tsl-svg-icon src="/assets/icons/cm-seats.svg"></tsl-svg-icon>
      <span>{{itemPreview.num_seats}}</span>
    </div>
    <div *ngIf="itemPreview.engine">
      <tsl-svg-icon src="/assets/icons/{{itemPreview.engine}}.svg"></tsl-svg-icon>
      <span [ngSwitch]="itemPreview.engine">
        <ng-container *ngSwitchCase="'gasoline'" i18n>Petrol</ng-container>
        <ng-container *ngSwitchCase="'gasoil'" i18n>Diesel</ng-container>
        <ng-container *ngSwitchCase="'electric-hybrid'" i18n>Electric</ng-container>
        <ng-container *ngSwitchCase="'others'" i18n>Other...</ng-container>
      </span>
    </div>
  </div>
  <div class="extras" *ngIf="hasExtras">
    <div *ngIf="itemPreview.sale_conditions?.fix_price">
      <tsl-svg-icon src="/assets/icons/firm-price.svg"></tsl-svg-icon>
      <span i18n>Firm Price</span>
    </div>
    <div *ngIf="itemPreview.sale_conditions?.shipping_allowed">
      <tsl-svg-icon src="/assets/icons/shipping-available.svg"></tsl-svg-icon>
      <span i18n>Shipping available</span>
    </div>
    <div *ngIf="itemPreview.sale_conditions?.exchange_allowed">
      <tsl-svg-icon src="/assets/icons/accept-trades.svg"></tsl-svg-icon>
      <span i18n>Accept trades</span>
    </div>
  </div>
</div>
