<div class="Dropdown-list" [ngClass]="{'below': isBelow, 'above': !isBelow}"
  [ngStyle]="{'top.px': top, 'left.px': left, 'width.px': width}">
  <ng-container *ngIf="!isLoading && optionList.hasValues; else loading">

    <div class="filter" *ngIf="!multiple && filterEnabled">
      <input #filterInput autocomplete="off" [placeholder]="placeholder" (click)="onSingleFilterClick()"
        (input)="onSingleFilterInput($event)" (keydown)="onSingleFilterKeydown($event)" (focus)="onSingleFilterFocus()">
    </div>

    <div class="options" (click)="onOptionsListClick()" #optionsList>
      <ul (wheel)="onOptionsWheel($event)">
        <li *ngFor="let option of optionList.filtered"
          [ngClass]="{'highlighted': option.highlighted, 'selected': option.selected, 'disabled': option.disabled}"
          (click)="onOptionClick(option)" (mouseover)="onOptionMouseover(option)">
          <ng-container *ngTemplateOutlet="optionTemplate; context:{option: option.wrappedOption}"></ng-container>
          <img *ngIf="!optionTemplate && option.icon_id" class="icon" [src]="option.icon_id">
          <span *ngIf="!optionTemplate">{{option.label}}</span>
        </li>
        <li *ngIf="!optionList.hasShown" class="message">{{notFoundMsg}}</li>
      </ul>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="loading">
      <mat-icon svgIcon="spinner" class="spinner corporate"></mat-icon>
    </div>
  </ng-template>
</div>
