<div class="box">
  <h2 i18n>What are you uploading?</h2>
  <div class="row">
    <div class="col-sm-12 types">
      <a class="type"
         (click)="setCategory(-1)"
         [ngClass]="{active: category === -1}"
         tslTrackEvent="UPLOADFORM_CHOOSEHEROCATEGORY" [params]="{herocategory: '590'}">
        <div class="square">
          <md-icon svgIcon="herocat-consumer-goods"></md-icon>
        </div>
        <span i18n>Something I don't use</span>
      </a>
      <a class="type"
         (click)="setCategory(100)"
         [ngClass]="{active: category === 100}"
         tslTrackEvent="UPLOADFORM_CHOOSEHEROCATEGORY" [params]="{herocategory: '100'}">
        <div class="square">
          <md-icon svgIcon="herocat-cars"></md-icon>
        </div>
        <span i18n>A Car</span>
      </a>
      <a class="type"
         (click)="setCategory(13200)"
         [ngClass]="{active: category === 13200}"
         tslTrackEvent="UPLOADFORM_CHOOSEHEROCATEGORY" [params]="{herocategory: '13200'}">
        <div class="square">
          <md-icon svgIcon="herocat-services"></md-icon>
        </div>
        <span i18n>A service</span>
      </a>
      <a class="type"
         (click)="setCategory(13000)"
         [ngClass]="{active: category === 13000}"
         tslTrackEvent="UPLOADFORM_CHOOSEHEROCATEGORY" [params]="{herocategory: '13000'}">
        <div class="square">
          <md-icon svgIcon="herocat-real-estate"></md-icon>
        </div>
        <span i18n>A house / flat /<br />office...</span>
      </a>
    </div>
  </div>
</div>
