@import "../../../../style/_common.scss";

:host {
  display: inline-block;
}

.title {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: .5px;
  margin: 0;
  color: $grey-900;
  user-select: none;
  .arrow-icon {
    height: 36px;
    width: 36px;
    vertical-align: middle;
    margin-left: -10px;
    transition: all .5s ease;
    & /deep/ svg path {
      fill: $corporate;
    }
  }
  &.show {
    .arrow-icon {
      transform: rotate(180deg);
    }
  }
}

.dropdown-menu {
  box-shadow: 0 1px 4px 0 rgba(37, 50, 56, 0.05);
  border: 1px solid $grey-50;
  margin: 0;
  width: 320px;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.25s ease, transform 0.25s ease;
  display: block;
  transform: translateY(10px);
  .dropdown-item {
    border-bottom: 1px solid $grey-50;
    line-height: 40px;
    &:hover {
      background-color: $grey-50;
    }
    md-icon {
      margin-top: -10px;
      margin-bottom: -10px;
      vertical-align: middle;
      margin-left: -15px;
      @include square(60px);
    }
  }
  .show & {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
