<div ngbDropdown class="title">
  <a ngbDropdownToggle>
    <ng-container [ngSwitch]="categoryId">
      <ng-container *ngSwitchCase="'100'" i18n>Upload new {{ '{' }}car{{ '}' }}</ng-container>
      <ng-container *ngSwitchCase="'13000'" i18n>Upload new {{ '{' }}house{{ '}' }}</ng-container>
      <ng-container *ngSwitchCase="'13200'" i18n>Upload new {{ '{' }}service{{ '}' }}</ng-container>
      <ng-container *ngSwitchDefault i18n>Upload new {{ '{' }}product{{ '}' }}</ng-container>
    </ng-container>
    <md-icon svgIcon="arrow-waterfall" class="arrow-icon"></md-icon>
  </a>
  <div class="dropdown-menu">
    <button class="dropdown-item" (click)="changeCategory('100')">
      <md-icon svgIcon="herocat-cars"></md-icon>
      <span i18n>Cars</span>
    </button>
    <button class="dropdown-item" (click)="changeCategory('13000')">
      <md-icon svgIcon="herocat-real-estate"></md-icon>
      <span i18n>Real Estate</span>
    </button>
    <button class="dropdown-item" (click)="changeCategory('13200')">
      <md-icon svgIcon="herocat-services"></md-icon>
      <span i18n>Services</span>
    </button>
    <button class="dropdown-item" (click)="changeCategory('')">
      <md-icon svgIcon="herocat-consumer-goods"></md-icon>
      <span i18n>Consumer goods</span>
    </button>
  </div>
</div>
