@import '~style/common';

.arrow-down {
  @include square(48px);
  background-color: $blue-grey-5;
  border-radius: 50%;
}

.title {
  font-size: $font-size-l;
  font-weight: bold;
}

.subtitle {
  color: $blue-grey-3;
  font-size: $font-size-m;
}

.box-content {
  padding: 40px;
}

.benefits-content {
  padding: 70px 116px;
  &__item:not(:last-child) {
    margin-bottom: 160px;
  }
  &__text {
    max-width: 414px;
  }
}

@include media-breakpoint-down(sm) {
  .box-content {
    padding: $spacing-l $spacing-m $spacing-m;
  }
}

@include media-breakpoint-up(xl) {
  .benefits-content {
    &__text {
      max-width: 388px;
    }
    &__item:not(:last-child) {
      margin-bottom: 180px;
    }
  }
}
