@import '~style/common';

.arrow-down {
  height: 48px;
  width: 48px;
  background-color: #eceff1;
  border-radius: 50%;
}

.box-content {
  color: $blue-grey-3;
  padding: 40px;
  .title {
    color: $blue-grey-1;
    font-size: 32px;
    font-weight: bold;
  }
  .subtitle {
    color: #90a4ae;
    font-size: 20px;
  }
}

.SubscriptionBenefitCard-icon {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background-color: $blue-grey-3;
  tsl-svg-icon {
    width: 56px;
    height: 56px;
    ::ng-deep svg path {
      fill: $white;
    }
  }
}

@include media-breakpoint-down(sm) {
  .box-content {
    padding: $spacing-l $spacing-m $spacing-m;
  }
}
