@import '~style/common';

.ArrowDown {
  @include square(48px);
  background-color: $blue-grey-5;
  border-radius: 50%;
}

.box-content {
  padding: 40px;
  &__title {
    font-size: $font-size-l;
    font-weight: bold;
  }

  &__subtitle {
    color: $blue-grey-3;
    font-size: $font-size-m;
  }
}

.SubscriptionBenefits {
  &__content {
    padding: 70px 116px;
    > :not(:last-child) {
      margin-bottom: 160px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .box-content {
    padding: $spacing-l $spacing-m $spacing-m;
  }
}

@include media-breakpoint-up(xl) {
  .SubscriptionBenefits {
    &__content {
      > :not(:last-child) {
        margin-bottom: 180px;
      }
    }
  }
}
