@import '~style/common';

.modal-close {
  cursor: pointer;
  tsl-svg-icon {
    @include square(24px);
    ::ng-deep path {
      fill: $white;
    }
  }
}

.modal-body {
  text-align: center;
  p {
    color: $blue-grey-3;
  }
}

h1,
h2 {
  color: $white;
  font-weight: $font-weight-chunky;
}

h1 {
  font-size: $font-size-3L;
  margin-top: $spacing-xxl;
  margin-bottom: $spacing-xxl;
}

h2 {
  font-size: $font-size-lll;
  margin-bottom: $spacing-ms;
}

.city,
.country {
  padding-top: 240px;
  p {
    width: 365px;
    margin: 0 auto;
  }
}

.city {
  background: url(/assets/images/visibility-city.svg) no-repeat center 27px;
  border-right: solid 1px rgba($blue-grey-4, 0.3);
}

.country {
  background: url(/assets/images/visibility-country.svg) no-repeat top center;
}

.btn {
  border-radius: $button-border-radius;
  font-weight: $font-weight-chunky;
  margin-top: $spacing-xl;
  padding: $spacing-ms $spacing-xl;
}
