<div class="modal-body">
  <div class="modal-close" (click)="activeModal.close()">
    <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
  </div>
  <h1 i18n="@@web_profile_modal_visibility_products_274">Visibility products</h1>
  <div class="row">
    <div class="col city">
      <h2 i18n="@@web_profile_modal_visibility_products_275">Feature on your city</h2>
      <p i18n="@@web_profile_modal_visibility_products_276">Get on first position</p>
    </div>
    <div class="col country">
      <h2 i18n="@@web_profile_modal_visibility_products_277">Feature on your country</h2>
      <p i18n="@@web_profile_modal_visibility_products_278">You will appear on nice positions of your country</p>
    </div>
  </div>

  <a class="btn btn-primary" href="mailto:ventas.motor@wallapop.com" i18n="@@web_profile_modal_visibility_products_279"
    >Contact us for more info</a
  >
</div>
