@import '~style/common';

.HistoricList {
  &__header {
    margin-top: $spacing-ml;
    font-size: $font-size-xl;
    font-weight: $font-weight-chunky;
  }

  &__subtitle {
    margin: $spacing-xl 0;
    font-size: $font-size-l;
    font-weight: $font-weight-chunky;
  }

  &__no-results {
    color: $blue-grey-3;
    font-weight: 400;
  }

  &__element {
    border-top: 1px solid $blue-grey-5;

    &:last-child {
      border-bottom: 1px solid $blue-grey-5;
    }
  }

  &__total-balance {
    color: $blue-grey-3;
    font-size: $font-size-xs;
    font-weight: 400;
  }
}
