<div class="HistoricList" tslInfiniteScroll [infiniteScrollDisabled]="infiniteScrollDisabled" (scrolled)="handleScrolled()">
  <div *ngIf="historicList">
    <span
      *ngIf="isHistoricListEmpty"
      class="HistoricList__no-results d-flex justify-content-center mt-3"
      i18n="@@web_no_results_found"
      >No results found</span
    >
  <div class="HistoricList__header" *ngFor="let header of historicList.elements; let firstHeader = first">
    {{ header.label }}
    <div class="HistoricList__subtitle" *ngFor="let subtitle of header.elements; let firstSubtitle = first">
      <div class="d-flex justify-content-between">
        <div>{{ subtitle.label }}</div>
        <div
        *ngIf="isTotalBalanceVisible && firstHeader && firstSubtitle"
        class="HistoricList__total-balance"
        i18n="@@movements_history_all_users_current_balance_label"
        >
          Current balance: {{ historicList.totalBalance.toString() }}
        </div>
      </div>
      <div class="HistoricList__element" *ngFor="let historicElement of subtitle.elements">
        <tsl-historic-element [historicElement]="historicElement" (clicked)="onItemClick($event)"></tsl-historic-element>
      </div>
    </div>
  </div>
  </div>
</div>
