@import "~style/common";

#left-panel {
  position: relative;
  float: left;
  background-color: $white;
  width: $left-panel-width;
  border-right: 1px solid $blue-grey-4;
}

#center-panel {
  margin-left: $left-panel-width;
  margin-right: $right-panel-width;
  background-color: $white;
  position: relative;

  #top-bar {
    padding: $spacing-ml;
    border-bottom: 1px solid $blue-grey-5;
    z-index: 99;
    display: flex;
    flex-direction: row;
    align-items: center;

    &.professional {
      height: 103px;
      tsl-user-avatar {
        display: none;
      }
      h5 {
        margin-top: -25px;
      }
    }

    span {
      color: $blue-grey-2;
    }

    .user-avatar {
      display: inline-flex;
    }

    tsl-user-avatar {
      margin-right: $spacing-ms;
    }

    .conversation-header-user-info {
      display: inline-block;
      flex-grow: 1;
      h5 {
        color: $blue-grey-1;
        font-size: $font-size-m;
        font-weight: $font-weight-chunky;
        margin-bottom: 0;
      }

      tsl-stars{
        height: 17px;
        padding-top: 2px;
      }
    }

    span {
      font-size: $font-size-s;
    }
  }

  .conversation-header-menu {
    height: 24px;
    mat-icon {
      cursor: pointer;
      padding: 0 3px;
      /deep/ #MVP {
        fill: $blue-grey-2;
      }
    }
    .dropdown-item {
      padding: ($spacing-ml /2) $spacing-ml;
      cursor: pointer;
      &.warn {
        color: $warn;
      }
    }
  }

  .user-detail-wrapper {
    position: absolute;
    top: 92px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
  }

  .input-container {
    padding: 0 20px;
  }
}

#right-panel {
  overflow-y: auto;
  height: calc(100vh - #{$topbar-height});
  float: right;
  width: $right-panel-width;
  padding: $spacing-ml;
  background-color: $blue-grey-5;
  border-left: 1px solid $blue-grey-4;

  tsl-user {
    margin-bottom: $spacing-ml;
  }
}

#empty-state {
  height: 100vh;
  margin-left: $left-panel-width;
  position: relative;
  background: $white;
  .content {
    @include in-the-middle;
    text-align: center;
    .image {
      width: 211px;
      height: 220px;
    }
    h2 {
      font-size: $font-size-m;
      color: $blue-grey-2;
      line-height: 24px;
    }
  }
}
