<div id="left-panel">
    <tsl-connection-alert></tsl-connection-alert>
    <tsl-conversations-panel (currentConversation)="onCurrentConversationChange($event)" (loaded)="onLoaded($event)">
    </tsl-conversations-panel>
</div>
<div id="right-panel" *ngIf="currentConversation">
    <tsl-user *ngxPermissionsOnly="['isProfessional']" [user]="currentConversation.user"
        [phone]="currentConversation.phone"></tsl-user>
    <tsl-item [item]="currentConversation.item" [user]="currentConversation.user"></tsl-item>
    <tsl-ad slotid="div-gpt-ad-1508490196308-0"></tsl-ad>
</div>
<div id="center-panel" *ngIf="currentConversation">
    <div id="top-bar" [ngClass]="{professional: isProfessional}">
        <a *ngIf="currentConversation?.user.webLink" href="{{ userWebSlug }}" target="_blank" class="user-avatar">
            <tsl-user-avatar [user]="this.currentConversation.user" size="40"></tsl-user-avatar>
        </a>
        <tsl-user-avatar *ngIf="!currentConversation?.user.webLink" [user]="this.currentConversation.user" size="40">
        </tsl-user-avatar>
        <div class="conversation-header-user-info">
            <h5>{{currentConversation?.user.microName}}</h5>
            <div *ngxPermissionsOnly="['isNormal']">
                <tsl-stars *ngIf="currentConversation.user.scoringStars > -1"
                    [stars]="currentConversation.user.scoringStars" [normalized]="false"></tsl-stars>
            </div>
        </div>
        <div ngbDropdown placement="bottom-right" class="conversation-header-menu">
            <mat-icon class="menu-icon" svgIcon="menu" ngbDropdownToggle></mat-icon>
            <div ngbDropdownMenu>
                <button class="dropdown-item" (click)="archiveConversation()" i18n
                    *ngIf="!currentConversation?.archived">Delete conversation</button>
                <button class="dropdown-item" (click)="reportListingAction()"
                    *ngIf="currentConversation?.item.owner !== userService.user?.id" i18n>Report this Listing</button>
                <button class="dropdown-item" (click)="reportUserAction()" i18n>Report this User</button>
                <button [hidden]="currentConversation.user.blocked" class="dropdown-item warn"
                    (click)="blockUserAction()" i18n>Block this User</button>
                <button [hidden]="!currentConversation.user.blocked" class="dropdown-item warn"
                    (click)="unblockUserAction()" i18n>Unblock this User</button>
            </div>
        </div>
    </div>

    <div class="user-detail-wrapper" *ngxPermissionsOnly="['isNormal']">
        <tsl-user-detail [user]="currentConversation.user"></tsl-user-detail>
    </div>

    <tsl-messages-panel [currentConversation]="currentConversation"></tsl-messages-panel>
    <div class="input-container">
        <tsl-input [currentConversation]="currentConversation"></tsl-input>
    </div>
</div>
<div id="empty-state" *ngIf="!currentConversation">
    <div class="content">
        <div [hidden]="!conversationsLoaded">
            <mat-icon svgIcon="empty-state" class="image"></mat-icon>
            <h2 *ngIf="conversationsTotal > 0 && !connectionError" i18n>Choose a conversation<br />
                from the list on the left</h2>
            <h2 *ngIf="conversationsTotal == 0 && !connectionError" i18n>There are no messages</h2>
            <h2 *ngIf="connectionError" i18n>Service not available at the moment.<br />
                Try again later.</h2>
        </div>
        <tsl-spinner [hidden]="conversationsLoaded" [firstLoad]="firstLoad"></tsl-spinner>
    </div>
</div>
