@import '~style/common';

:host {
  a {
    font-weight: $font-weight-chunky;
    font-size: $font-size-xs;
    color: $walla-main;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
      color: $walla-main;
    }
  }
}
