<a (click)="open(processAllModal)">
  <ng-content></ng-content>
</a>

<ng-template ngbModalContainer #processAllModal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <h2 i18n="@@web_all_button_process_629">Process all</h2>
    <p i18n="@@web_all_button_process_516">This will process all the elements in this page.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" i18n (click)="d()">Cancel</button>
    <button type="button" class="btn btn-warn" i18n="@@web_all_button_process_673" (click)="c()">Process all</button>
  </div>
</ng-template>
