@import '~style/common';

.PayviewPromotionEditor {
  padding: $spacing-ml;

  &__messageWrapper {
    padding: $spacing-ml;
  }

  &__message {
    font-weight: $font-weight-chunky;
  }

  &__error {
    height: $spacing-xl;
    color: $negative-main;
    font-size: $font-size-s;
  }

  &__input {
    height: 50px;
    line-height: 1.5;
    padding: 6px $spacing-ms;
    color: $blue-grey-2;
    border: 2px solid $blue-grey-5;
    border-radius: 6px;

    &--error {
      color: $negative-main;
      border: 2px solid $negative-main;
    }
  }

  &__promotionWrapper {
    flex: 1;
  }

  &__element {
    width: 75%;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}
