@import "~style/common";

:host {
  display: block;
}

tsl-button {
  font-size: $font-size-s;
  margin-top: $spacing-ms;
}

.thanks {
  margin-top: $spacing-m;
  mat-icon {
    width: 16px;
    height: 12px;
    margin-right: $spacing-xs;
  }
  span {
    font-weight: $font-weight-chunky;
    font-size: $font-size-s;
  }
}
