@import "~style/common";

:host {
  display: block;
}

tsl-button {
  font-size: $font-size-S;
  margin-top: $spacing-S;
}

.thanks {
  margin-top: $spacing-M;
  mat-icon {
    width: 16px;
    height: 12px;
    margin-right: $spacing-XXS;
  }
  span {
    font-weight: bold;
    font-size: $font-size-S;
  }
}
