@import '~style/common';

$title-height: 64px;
$filters-nav-height: 38px;
$inbox-width: 340px;
$inbox-height: 403px;
$inbox-header-height: 66px;

.header {
  border-bottom: 0 solid $blue-grey-5;

  h2 {
    margin: $spacing-ml $spacing-ml 0;
    font-weight: $font-weight-chunky;
    font-size: $font-size-ll;
    letter-spacing: $letter-spacing;

    tsl-pro-badge {
      display: inline-block;
    }
  }
}

.scroll-panel {
  scroll-behavior: smooth;
  display: block;
  height: calc(100% - #{$inbox-header-height});
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;

  &.professional {
    height: calc(100% - #{$inbox-header-height} - #{$title-height} - 12px);
  }

  .btn.new-messages-toast {
    display: flex;
    align-items: center;
    font-size: $font-size-s;
    border-radius: 100px;
    position: absolute;
    top: $inbox-header-height;
    left: 25%;
    z-index: 80;
    margin-top: $spacing-ms;
    padding: $spacing-s $spacing-ml;
    box-shadow: 0 1px 3px 0 rgba($black, 0.16);

    tsl-svg-icon {
      width: 9px;
      height: 100%;
      margin-right: $spacing-s;
    }
  }
}

.inboxError {
  background-color: $blue-grey-6;
  color: $negative-main;
  font-size: $font-size-xs;
  padding: $spacing-ms $spacing-xxxl $spacing-ms $spacing-ml;
}

.nav.filters-nav {
  margin-left: $spacing-ml;
}

tsl-process-all-button {
  float: right;
  margin-top: 10px;
  margin-right: $spacing-ms;
}

#loader {
  padding-top: $spacing-ml;
  .loader-size {
    width: 340px;
    height: 403px;
  }
}

.isLoading {
  /* Keyword value */
  animation: fadeInFromNone 0.7s ease-in-out alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.load-more-container {
  $load-more-container-height: 48px;
  $spinner-size: 14px;
  line-height: $load-more-container-height;
  height: $load-more-container-height;
  text-align: center;
  .load-more {
    color: $walla-main;
    position: relative;
    text-transform: uppercase;
    font-size: $font-size-xs;
    font-weight: $font-weight-chunky;
    .spinner {
      height: $spinner-size;
      width: $spinner-size;
      svg {
        position: absolute;
        top: 0;
        left: -#{$spacing-ml + 5px};
      }
    }
    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }
}

#inbox-empty {
  padding-top: $spacing-ml;
  .inbox-size {
    width: $inbox-width;
    height: $inbox-height;
  }
}

#header-empty {
  .header-size {
    width: $inbox-width;
    height: $inbox-header-height;
  }
  border-bottom: 1px solid $blue-grey-5;
}

.inbox-header-menu {
  height: $inbox-header-height;
  border-bottom: 1px solid $blue-grey-4;
  display: flex;
  align-content: center;
  background-color: $white;
  .dropdown-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    .header-title {
      display: flex;
      font-size: 16px;
      font-weight: $font-weight-chunky;
      color: $blue-grey-1;
    }
    tsl-svg-icon {
      display: flex;
      width: 28px;
    }
  }
  .dropdown-menu {
    margin-left: 12px;
  }
  .dropdown-item {
    cursor: pointer;
    .active {
      background: solid $blue-grey-5;
    }
  }
}
