@import "~style/common";

mat-icon {
  height: 35px;
  vertical-align: middle;
  width: 10px;
  margin-left: $spacing-xs;
}
.dropdown {
  color: $blue-grey-2;
  &.open .dropdown-toggle {
    color: $walla-main;
  }
  .dropdown-menu {
    margin: 0;
    .dropdown-item:focus {
      color: $white;
    }
  }
  .dropdown-toggle {
    @include default-transition(color);
    a {
      color: $walla-main;
    }
  }
}
.dropdown .dropdown-menu {
  margin: 0;
}
