@import "~style/common";

mat-icon {
  height: 35px;
  vertical-align: middle;
  width: 10px;
  margin-left: $spacing-xs;
}

.dropdown-header {
  padding: 0;
  font-size: $font-size-xs;
}

.dropdown-menu {
  margin: 0;
}
