<div class="ConfirmPaymentModal d-flex flex-column w-100 align-items-center p-4">
  <img [src]="paypalIconUrl" alt="paypal" class="ConfirmPaymentModal__paypalLogo mb-3" />
  <span i18n="@@web_authorize_paypal_purchase" class="mb-4 text-center ConfirmPaymentModal__description"
    >For your security, you will be required to authorize your purchase with PayPal</span
  >
  <tsl-button i18n="@@web_authorize_paypal_continue" (click)="onClose(CONFIRM_PAYMENT_MODAL_CLOSURE.CONTINUE)">Continue</tsl-button>
  <tsl-button i18n="@@web_authorize_paypal_cancel" [className]="'btn-link'" (click)="onClose(CONFIRM_PAYMENT_MODAL_CLOSURE.CANCEL)"
    >Cancel</tsl-button
  >
</div>
