@import '~style/common';

.DeliveryMap {
  &__selectedOfficeInfo {
    max-width: 90%;
    background-color: $white;
    z-index: 2;
    bottom: 40px;
    border-radius: $border-radius;
  }

  &__title {
    font-weight: $font-weight-chunky;
  }

  &__description {
    color: $blue-grey-2;
  }

  &__selectButton {
    justify-content: flex-end;
  }
}
