@import '~style/common';

.DeliveryMap {
  &__selectedOfficeInfo {
    max-width: 80%;
    background-color: $white;
    z-index: 2;
    bottom: 10%;
    border-radius: $border-radius;
    left: 0;
    right: 0;
  }

  &__title {
    font-weight: $font-weight-chunky;
  }

  &__description {
    color: $blue-grey-2;
  }

  &__selectButton {
    justify-content: flex-end;
  }
}
