<div *ngIf="initializeOffices$ | async" class="h-100">
  <tsl-searchable-movable-map
    [mapMarkers]="markers$ | async"
    [mapCenterCoordinates]="centerLocation$ | async"
    (tapMarker)="markOffice($event)"
    (tapMap)="resetSelectedOffice()"
    (mapViewChangeEnd)="requestOffices($event)"
  ></tsl-searchable-movable-map>
  <div
    *ngIf="selectedOfficeInfo$ | async as officeInfo"
    class="DeliveryMap__selectedOfficeInfo position-absolute w-100 p-3 ml-auto mr-auto"
  >
    <span class="DeliveryMap__title">{{ officeInfo.name }}</span>
    <span class="DeliveryMap__description d-block" *ngFor="let hour of officeInfo.openingHours">{{ hour }}</span>
    <div class="w-100 d-flex DeliveryMap__selectButton justify-content-end mr-3">
      <tsl-button
        className="btn btn-primary"
        (click)="selectOfficePreference()"
        i18n="@@collection_point_map_all_users_all_all_details_pop_up_select_button"
        >Select</tsl-button
      >
    </div>
  </div>
</div>
