@import '~style/common';

.RangeFilter {
  &__form {
    overflow: hidden;
  }

  &__input {
    &__wrapper {
      flex: 1;
    }
    &__field {
      border-radius: 6px;
      font-size: $font-size-m;
      border: thin solid $blue-grey-4;
      height: 50px;
    }
  }
}
