<div class="call">
  <div class="row">
    <div class="col-3">
      <span>{{call.modifiedDate | dateCalendar:momentConfig}}</span>
    </div>
    <div class="col-6 col-phone">
      <span [ngSwitch]="call.callStatus" class="icon">
        <mat-icon *ngSwitchCase="'ANSWERED'" class="call-received" svgIcon="call-received"></mat-icon>
        <mat-icon *ngSwitchCase="'MISSED'" class="call-missed" svgIcon="call-missed" class="call-missed"></mat-icon>
        <mat-icon *ngSwitchDefault class="call-shared" svgIcon="call-shared"></mat-icon>
      </span>
      <div class="phone-info">
        <span>{{call.phone}}</span>
        <span class="status">{{call.callStatus | callStatusLabel}}</span>
      </div>
    </div>
    <div class="col-2 duration">
      <span>{{formattedDuration}}</span>
    </div>
    <div class="col-1 process">
      <tsl-archive-button [lead]="call" (click)="archived = true" [hidden]="call.archived"></tsl-archive-button>
      <tsl-unarchive-button [lead]="call" [hidden]="!call.archived"></tsl-unarchive-button>
    </div>
  </div>
</div>
