<div class="call" [ngClass]="{'active': open}">
  <div class="row" (click)="changeExpandedState()">
    <div class="col-md-3 col-user-name">
      <mat-icon svgIcon="caret"></mat-icon>
      <tsl-user-avatar [size]="50" [user]="call.user"></tsl-user-avatar>
      <span>{{call.user.microName}}</span>
    </div>
    <div class="col-md-3 col-item-title">
      <span>{{call.item.title}}</span>
    </div>
    <div class="col-md-2 col-phone">
      <span [ngSwitch]="call.callStatus" placement="top" [ngbTooltip]="call.callStatus | callStatusLabel" class="icon" container="body">
        <mat-icon *ngSwitchCase="'ANSWERED'" class="call-received" svgIcon="call-received"></mat-icon>
        <mat-icon *ngSwitchCase="'MISSED'" class="call-missed" svgIcon="call-missed" class="call-missed"></mat-icon>
        <mat-icon *ngSwitchDefault class="call-shared" svgIcon="call-shared"></mat-icon>
      </span>
      <span>{{call.phone}}</span>
    </div>
    <div class="col-md-2">
      <span>{{call.modifiedDate | amCalendar:momentConfig}}</span>
    </div>
    <div class="col-md-1">
      <span>{{formattedDuration}}</span>
    </div>
    <div class="col-md-1">
      <tsl-archive-button [lead]="call" (click)="archived = true" [hidden]="call.archived"></tsl-archive-button>
      <tsl-unarchive-button [lead]="call" [hidden]="!call.archived"></tsl-unarchive-button>
    </div>
  </div>
  <div class="row call-expanded" *ngIf="open">
    <a href="{{call.user.webLink}}" target="_blank" class="call-expanded-user-info">
      <h3 i18n>User rating</h3>
      <tsl-stars *ngIf="call.user.scoringStars > -1" [stars]="call.user.scoringStars"></tsl-stars>
      <div class="separator"></div>
      <tsl-user-card-calls [user]="call.user"></tsl-user-card-calls>
    </a>
    <div class="call-expanded-questions">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let survey of call.surveyResponses">
          <h3>{{survey.question}}</h3>
          <p>{{survey.answer.answer}}</p>
        </li>
      </ul>
      <div class="empty-state-container" [hidden]="call.surveyResponses.length">
        <mat-icon svgIcon="empty-questions" class="questions-empty-state"></mat-icon>
        <p i18n>This user has not answered the questionnaire</p>
      </div>
    </div>
    <div class="call-expanded-messages">
      <div class="messages-container">
        <tsl-message *ngFor="let message of messages; let i = index"
                     [message]="message"
                     [hidden]="!messages.length"
                     [callsPanel]="true"
                     [showUserInfo]="messages[i-1]?.user.id !== messages[i]?.user.id"></tsl-message>
        <div class="empty-state-container" [hidden]="messages.length">
          <mat-icon svgIcon="empty-messages" class="messages-empty-state"></mat-icon>
          <p i18n>You have no conversations with this user</p>
        </div>
      </div>
      <a [routerLink]="['/chat']"
         [hidden]="!messages.length"
         tslTrackEvent="PHONE_LEAD_VIEWED_CONVERSATION"
         [params]="{lead_id: call.id}"
         [queryParams]="{c: call.id, archive: call.archived ? true : false}" i18n>View all messages</a>
    </div>
  </div>
</div>
