@import '~style/common';

$avatar-size: 50px;
$view-more-height: 49px;
$expanded-height: 240px;
$expanded-vertical-padding: $spacing-xl;
$expanded-horizontal-padding: $spacing-l;
:host {
  user-select: none;
  border-radius: 0;
  &:not(.archive) {
    overflow: hidden;
  }
}

.col-1:last-of-type {
  text-align: center;
  padding-right: 0;
  tsl-archive-button,
  tsl-unarchive-button {
    position: relative;
  }
}

span {
  font-size: $font-size-s;
}

[class^='col-'] {
  line-height: $line-height-xxl;
  & * {
    vertical-align: middle;
  }
}

.call {
  border-top: 1px solid $blue-grey-5;
  width: 100%;
  .row {
    margin-left: 0;
    margin-right: 0;
    .duration {
      text-align: center;
    }
    .process {
      text-align: right;
    }
  }
  .row:not(.call-expanded) {
    padding: $spacing-s $spacing-xl;
    &:hover {
      background-color: $blue-grey-5;
    }
  }
  &.active {
    .col-user-name {
      tsl-svg-icon {
        transform: rotate(0);
      }
    }
  }
}

.col-user-name {
  @include text-truncate;
  span {
    margin-left: $spacing-ms;
    max-width: calc(100% - #{$avatar-size} - #{$spacing-ml});
  }
  tsl-svg-icon {
    width: 10px;
    height: $avatar-size;
    transform: rotate(-90deg);
  }
}

tsl-user-avatar {
  margin-left: $spacing-s;
}

.col-item-title {
  @include text-truncate;
}

.col-phone {
  display: flex;
  .icon {
    margin-right: $spacing-ms;
  }
  .call-received {
    height: 19px;
    vertical-align: sub;
  }
  .call-shared {
    height: 18px;
    vertical-align: sub;
  }
  .call-missed {
    height: 11px;
    vertical-align: baseline;
  }
  .phone-info {
    .status {
      margin: 0 $spacing-ml;
      color: $blue-grey-3;
    }
  }
  p {
    margin: -$spacing-ms 0 0 0;
    line-height: 0;
    color: $blue-grey-3;
    font-size: $font-size-xs;
  }
}

.call-expanded {
  padding: $spacing-ml $spacing-xxl;
  .call-expanded-user-info,
  .call-expanded-messages {
    height: $expanded-height;
    border-radius: $border-radius;
    background-color: transparentize($blue-grey-5, 0.5);
    padding: $expanded-vertical-padding $expanded-horizontal-padding;
    overflow: auto;
  }
  .messages-container {
    max-height: $expanded-height - $expanded-vertical-padding -
      $view-more-height;
    overflow: auto;
  }
  .call-expanded-user-info {
    flex-grow: 1;
    margin-right: $spacing-ml;
    padding-bottom: 0;
    overflow: hidden;
  }
  .call-expanded-messages {
    flex-grow: 2;
    $button-height: 48px;
    position: relative;
    width: 40%;
    a {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: $walla-main;
      line-height: $line-height-xxl;
      height: $button-height;
      border-top: 1px solid $blue-grey-5;
      text-transform: uppercase;
      text-align: center;
      font-size: $font-size-xs;
      font-weight: $font-weight-chunky;
      &:hover {
        text-decoration: none;
        background: rgba($blue-grey-5, 0.1);
      }
    }
    .empty-state-container {
      @include in-the-middle;
      text-align: center;
      tsl-svg-icon {
        margin-bottom: $spacing-ml;
        width: 60px;
        height: auto;
      }
      p {
        color: $blue-grey-2;
        font-size: $font-size-s;
      }
    }
  }
}

tsl-archive-button {
  visibility: visible;
  opacity: 1;
  top: auto;
  right: auto;
}
