<div class="EmailVerificationModal text-center p-3">
  <div class="EmailVerificationModal__close position-fixed" (click)="activeModal.dismiss()">
    <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
  </div>
  <div class="EmailVerificationModal__container mt-5">
    <tsl-svg-icon
      class="d-inline-flex"
      width="63"
      height="62"
      src="/assets/icons/verifications-n-security/email-verification.svg"
    ></tsl-svg-icon>
    <div class="EmailVerificationModal__title my-2" i18n="@@email_verification_all_users_title">Email</div>
    <div class="EmailVerificationModal__subtitle mb-4 mx-3" i18n="@@email_verification_all_users_description">
      Tap "Verify" and we'll send you a verification email to <b>{{ email }}</b
      >. It's easy, just follow the instructions!
    </div>
    <tsl-button
      class="w-100 mb-2"
      className="btn-secondary w-100"
      (click)="changeEmail()"
      i18n="@@email_verification_all_users_change_email_button"
      >Change email</tsl-button
    >
    <tsl-button class="w-100" className="btn-primary w-100" (click)="verifyEmail()" i18n="@@email_verification_all_users_verify_button"
      >Verify</tsl-button
    >
  </div>
</div>
