<div class="CreditCardInfo d-flex flex-column justify-content-between h-100 w-100" [ngClass]="{'CreditCardInfo--error': error}">
  <div class="w-100 p-0 mb-2">
    <div class="d-flex w-100 mb-2">
      <tsl-svg-icon [src]="creditCardBrandSrc" class="mr-3"></tsl-svg-icon>
      <div *ngIf="isCardWithIcon" class="CreditCardInfo__brand">{{brand | titlecase}}</div>
      <div *ngIf="isBankAccount" class="CreditCardInfo__brand align-self-center" i18n="@@bank_account">Bank account</div>
    </div>
    <div class="d-flex w-100">
      <div class="CreditCardInfo__number CreditCardInfo--grey">{{starsAndNumber}}</div>
      <div class="CreditCardInfo__date CreditCardInfo--grey">{{expireDate}}</div>
    </div>
    <div *ngIf="ownerName" class="CreditCardInfo--grey mt-1">{{ownerName}}</div>
  </div>
  <div class="CreditCardInfo__actions d-flex w-100">
    <div class="CreditCardInfo__actions--change mr-3" *ngIf="!hideEdit" (click)="changeCardClick.emit($event)" i18n="@@web_change">Change</div>
    <div class="CreditCardInfo__actions--delete" *ngIf="!hideDelete" (click)="deleteCardClick.emit($event)" i18n="@@web_delete">Delete</div>
  </div>
</div>