@import '~style/common';

.InvoiceHistory {
  padding: $spacing-m $spacing-xl;

  &__load-more-container {
    display: flex;
    justify-content: center;
  }

  &__tabs {
    padding: $spacing-m $spacing-s;
  }

  &__feedback {
    padding: $spacing-m;
  }
}

.content {
  text-align: center;
  color: $blue-grey-2;
  font-size: $font-size-s;
  padding-top: $spacing-m;
}
