<div class="item">
  <div class="info">
    <div class="quantity">{{pack.quantity}}</div>
    <div class="title">Destacados extras de 24h</div>
  </div>
  <div class="packs-section">
    <div *ngFor="let pack of pack.packs" class="pack" [ngClass]="'pack-' + pack.name">
      <div class="price">
        <p>{{ pack.price | customCurrency:pack.currency }}</p>
        <p class="discount" *ngIf="pack.discount > 0" i18n>Save {{ pack.discount }}% </p>
      </div>
      <div class="action">
        <button class="btn btn-price" i18n>Add</button>
      </div>
    </div>
  </div>
    <!--
    <form class="durations border-l">
      <div ngbRadioGroup name="duration" [(ngModel)]="duration">
        <label ngbButtonLabel class="custom-radio" *ngFor="let duration of durations">
          <input ngbButton type="radio" [value]="duration">
          <mat-icon svgIcon="radio-button"></mat-icon> {{duration / 24}} <span i18n>days</span>
        </label>
      </div>
    </form>
    <div *ngFor="let type of types" class="price border-l" [ngClass]="type" [hidden]="!itemWithProducts.products[duration][type]">
      <button class="btn btn-price"
              (click)="select(type)"
              [ngClass]="{selected: type === selectedType && duration === selectedDuration}">
        {{itemWithProducts.products[duration][type]?.market_code | customCurrency}}
      </button>
    </div> -->
  </div>
  