@import "~style/common";

.page-content {
  .container {
    h1 {
      .badge {
        margin-left: $spacing-ms;
        vertical-align: middle;
      }
    }
    .calls-header {
      margin-top: $spacing-xl;
      h3 {
        color: $blue-grey-2;
        text-transform: uppercase;
        font-size: $font-size-xs;
        font-weight: $font-weight-chunky;
      }
      .col-md-1:last-child {
        text-align: right;
      }
    }
    .calls-block {
      background-color: $white;
      border-radius: $border-radius;
      border: solid 1px $blue-grey-5;
      margin-top: $spacing-m;
      .calls-header {
        margin: 0;
        padding: $spacing-l $spacing-xl $spacing-ms;
        h3 {
          color: $blue-grey-2;
        }
        .duration {
          text-align: center;
        }
        .status {
          text-align: right;
          padding-right: 0;
        }
      }
    }
    .loading-center {
      display: block;
      margin: 0 auto;
    }
  }
  .empty-state-phones {
    border-top: 1px solid $blue-grey-5;
    margin: $spacing-ml $spacing-ms;
    padding-top: $spacing-ml;
    width: 100%;
    display: flex;
    align-items: center;
    & .message {
      width: 45%;
      color: $blue-grey-2;
      font-size: $font-size-ll;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      text-align: center;
    }
  }
}

