@import "~style/common";

.page-content {
  .container {
    h1 {
      .badge {
        margin-left: 10px;
        vertical-align: middle;
      }
    }
    .calls-header {
      margin-top: $spacing-L;
      h3 {
        color: $grey-400;
        text-transform: uppercase;
        font-size: $font-size-XS;
        font-weight: bold;
      }
      .col-md-1:last-child {
        text-align: right;
      }
    }
    .calls-block {
      background-color: $white;
      border-radius: $border-radius;
      border: solid 1px $grey-50;
      margin-top: 0px;
    }
  }
}

