<div class="modal-close d-flex align-items-center justify-content-center" (click)="closeModal()">
    <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
</div>
<div class="KYCModal__content modal-body profile-box">
    <tsl-stepper>
        <ng-template step>
            <tsl-bank-account isKYC="true" (bankAccountSaved)="goNextStep()"></tsl-bank-account>
        </ng-template>
        <ng-template step>
            <tsl-kyc-nationality
                *ngIf="KYCStoreSpecifications$ | async as KYCSpecifications"
                [KYCNationality]="KYCSpecifications.nationality"
                [KYCDocumentation]="KYCSpecifications.documentation"
                (goBack)="goPreviousStep()"
                (nationalityChange)="defineNationality($event)"
                (documentToRequestChange)="defineDocumentationAndGoNext($event)"></tsl-kyc-nationality>
        </ng-template>
        <ng-template step>
            <tsl-kyc-image-options (goBack)="resetKYCDocumentationAndGoPreviousStep()" (takeImageOptionChange)="defineImageMethodAndGoNext($event)"></tsl-kyc-image-options>
        </ng-template>
        <ng-template step>
            <tsl-kyc-upload-images
                *ngIf="KYCStoreSpecifications$ | async as KYCSpecifications"
                [takeImageMethod]="KYCSpecifications.imageMethod"
                [imagesNeeded]="KYCSpecifications.documentation.imagesNeeded"
                [documentType]="KYCSpecifications.documentation.label"
                (endVerification)="endVerification(KYCSpecifications.images)"
                (goBack)="goPreviousStep()"
            ></tsl-kyc-upload-images>
        </ng-template>
        <ng-template step>
            <tsl-kyc-status [properties]="KYCStatusInProgressProperties" (buttonClick)="closeModal()">
            </tsl-kyc-status>
        </ng-template>
    </tsl-stepper>
</div>