<div class="page-content">
  <div class="container">
    <div class="row" [hidden]="!itemsWithProducts">
      <div class="col-xl col-lg-8">
        <div class="table-header d-flex justify-content-between mb-4">
          <div>
            <a class="back d-flex align-items-center justify-content-center" [routerLink]="['/catalog/list']"
              ><tsl-svg-icon src="/assets/icons/back-arrow.svg"></tsl-svg-icon> <span i18n="@@web_catalog_pages_checkout_674">Back</span></a
            >
          </div>
          <div class="info d-flex">
            <tsl-svg-icon class="mr-2" src="/assets/icons/feature.svg"></tsl-svg-icon>
            <a (click)="bumpTutorial.show()" i18n="@@web_catalog_pages_checkout_563">What can features do for you?</a>
          </div>
        </div>
        <div class="price-table">
          <tsl-checkout-item *ngFor="let item of itemsWithProducts" [itemWithProducts]="item" [creditInfo]="creditInfo"></tsl-checkout-item>
        </div>
      </div>
      <div class="cart">
        <tsl-cart [provincialBump]="provincialBump" [creditInfo]="creditInfo"></tsl-cart>
      </div>
    </div>
    <tsl-spinner [firstLoad]="false" [hidden]="itemsWithProducts"></tsl-spinner>
  </div>
</div>
<tsl-bump-tutorial></tsl-bump-tutorial>
