<tsl-archivable>
  <div class="call-info">
    <div class="call-user-row">
      <div class="call-meta">
        <span class="call-date">{{call.modifiedDate | dateCalendar:momentCalendarSpec }}</span>
      </div>
    </div>
    <div class="call-data-row" [ngSwitch]="call.callStatus">
        <span placement="top" [ngbTooltip]="call.callStatus | callStatusLabel">
          <tsl-svg-icon *ngSwitchCase="'ANSWERED'" src="/assets/icons/call-received.svg"></tsl-svg-icon>
          <tsl-svg-icon *ngSwitchCase="'MISSED'" src="/assets/icons/call-missed.svg" class="call-missed"></tsl-svg-icon>
          <tsl-svg-icon *ngSwitchDefault src="/assets/icons/call-shared.svg"></tsl-svg-icon>
        </span>
        <div class="phone-info">
          <span>{{call.phone}}</span>
          <span class="status">{{call.callStatus | callStatusLabel}}</span>
        </div>
    </div>
    <tsl-archive-button [lead]="call" (handleClick)="archived = true"></tsl-archive-button>
  </div>
</tsl-archivable>
