<div class="SuggestProModal d-flex flex-column align-items-center text-center">
  <div class="SuggestProModal__close" (click)="activeModal.dismiss()">
    <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
  </div>
  <tsl-svg-icon class="mb-4" src="/assets/images/wallapop-pro.svg"></tsl-svg-icon>
  <div class="SuggestProModal__title">
    <span>{{title}}</span>
  </div>
  <div class="SuggestProModal__description mb-4">
    <span>{{descriptionText}}</span>
  </div>
  <div class="SuggestProModal__actions d-flex flex-column w-100">
    <tsl-button className="btn-primary btn-modal-primary" (click)="activeModal.close()">{{buttonText}}
    </tsl-button>
    <div class="Dismiss" (click)="activeModal.dismiss()" i18n="@@web_suggest_pro_modal_button_cancel">
      Not now thanks
    </div>
  </div>
</div>
