<nav class="NavLinks">

  <div class="NavLinks__search-input" *ngIf="showSearchInput">
    <tsl-search-input [placeholder]="searchPlaceholder" (term)="onSearchChange($event)"></tsl-search-input>
  </div>

  <div class="NavLinks__link" *ngFor="let navLink of navLinks">
    <a
      [ngClass]="{ active: selectedLinkId === navLink.id }"
      (click)="onClickNavLink(navLink)"
    >
      <span>{{navLink.display}}</span>
      <span *ngIf="navLink.counter && navLink.counter.maxVal">
        ({{navLink.counter.currentVal}}/{{navLink.counter.maxVal}})
      </span>
      <span *ngIf="navLink.counter && navLink.counter.currentVal && !navLink.counter.maxVal">
        ({{navLink.counter.currentVal}})
      </span>
    </a>
  </div>

  <div class="NavLinks__sort-select" *ngIf="showSortItems && sortItems">
    <tsl-select [items]="sortItems" (valueChanges)="onSortChange($event)"></tsl-select>
  </div>

</nav>
