@import '~style/common';

.NavLinks {
  display: flex;
  height: 38px;
  margin: $spacing-l 0;

  &--marginless {
    margin: 0;
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  div {
    margin-right: $spacing-xl;
    @media (max-width: 768px) {
      margin-right: $spacing-m;
    }
    a {
      cursor: pointer;
      color: $blue-grey-2;
      padding-bottom: 10px;
      font-size: $font-size-xs;
      font-weight: $font-weight-chunky;
      text-transform: uppercase;
      line-height: $line-height-xl;
      white-space: nowrap;

      &:hover {
        color: darken($blue-grey-2, 10%);
      }

      &.active {
        color: $walla-main;
        border-bottom: 2px solid $walla-main;
      }
    }
  }

  .NavLinks__links {
    width: 100%;
    display: flex;
    overflow-x: auto;
    min-height: 38px;
    @include hide-scroll-bars;
    div {
      display: flex;
    }
    .NavLinks__link {
      margin-top: 2px;
    }
    .NavLinks__anchor {
      span {
        margin-right: $spacing-xs;
      }
      tsl-svg-icon  {
        ::ng-deep {
          width: 12px;
          vertical-align: middle;
        }
      }
    }
  }

  .NavLinks__sort-select {
    margin-left: auto;
    margin-right: 0;
    display: block;
    tsl-select {
      font-size: $font-size-xs;
      font-weight: $font-weight-chunky;
      color: $blue-grey-2;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      height: 38px;
      line-height: $line-height-xl;
    }
    .NavLinks__anchor {
      display: flex;
      align-items: center;
      span {
        margin-right: $spacing-xs;
      }
      tsl-svg-icon  {
        ::ng-deep {
          width: 12px;
          vertical-align: middle;
        }
      }
    }
  }

  .NavLinks__search-input {
    @media (max-width: 768px) {
      display: flex;
      align-items: center;
      tsl-search-input ::ng-deep div {
        &.active {
          width: 32px;
        }
      }
      tsl-search-input {
        position: relative;
        &.opened ::ng-deep {
          div {
            &.active {
              width: 250px;
              position: relative;
              border-bottom: 1px solid $walla-main;
            }
          }
          .clear-search {
            display: block;
            position: absolute;
            right: 0;
            bottom: 5px;
          }
        }
      }
      &--close {
        &.opened {
          display: block;
          position: absolute;
          right: 15px;
        }
        &.closed {
          display: none;
        }
      }
    }
  }
  .hidden {
    display: none;
  }
}
