<nav class="NavLinks">

  <div class="NavLinks__SearchInput" *ngIf="showSearchInput">
    <tsl-search-input (term)="onSearchChange($event)"></tsl-search-input>
  </div>

  <div class="NavLinks__item" *ngFor="let navLink of navLinks">
    <a
      [ngClass]="{ active: selectedLinkId === navLink.id }"
      (click)="onClickNavLink(navLink)"
    >
      <span i18n>{{navLink.display}}</span>
      <span *ngIf="navLink.counter && navLink.counter.maxVal">
        ({{navLink.counter.currentVal}}/{{navLink.counter.maxVal}})
      </span>
      <span *ngIf="navLink.counter && navLink.counter.currentVal && !navLink.counter.maxVal">
        ({{navLink.counter.currentVal}})
      </span>
    </a>
  </div>

</nav>
