@import "~style/common";

.container {
  max-width: $upload-form-width;
}

.catalog-back {
  color: $blue-grey-1;
  mat-icon {
    width: 18px;
  }
}

.upload-close-icon {
  position: absolute;
  right: -20px;
  mat-icon {
    @include square(12px);
    /deep/ path {
      fill: $blue-grey-2;

    }
  }
  &:hover {
    mat-icon {
      /deep/ path {
        fill: $blue-grey-1;
      }
    }
  }
}

