@font-face {
  font-family: "Wallie";
  src: url("../assets/fonts/Wallie-Fit.woff2") format("woff2"), url("../assets/fonts/Wallie-Fit.woff") format("woff"), url("../assets/fonts/Wallie-Fit.ttf") format("truetype");
}

@font-face {
  font-family: "Wallie";
  src: url("../assets/fonts/Wallie-Chunky.woff2") format("woff2"), url("../assets/fonts/Wallie-Chunky.woff") format("woff"), url("../assets/fonts/Wallie-Chunky.ttf") format("truetype"), url("../assets/fonts/Wallie-Chunky.svg") format("svg");
  font-weight: bold;
}
