$topbar-height: 60px;
$left-panel-width: 340px;
$right-panel-width: 280px;

$chat-topbar-height: 90px;
$chat-input: 70px;

$scrollbars-width: 6px;

$item-avatar-size-small: 40px;
$item-avatar-size-medium: 50px;
$item-avatar-size: 60px;
$item-avatar-margin: $spacing-S;
$item-avatar-space: $item-avatar-size + $item-avatar-margin;
