@import '~style/common';

.SubscriptionsSlotItem {
  background-color: $white;
  border: solid 1px $blue-grey-5;
  border-radius: $spacing-ms;
  padding: $spacing-m;

  @include media-breakpoint-down(sm) {
    &__description,
    &__title {
      white-space: nowrap;
    }

    &__cancel {
      margin: $spacing-ms;
    }

    &__info {
      padding-right: $spacing-ms;
    }
  }

  &__cancel {
    @include square($spacing-ms);
    margin: $spacing-m;
    position: absolute;
    top: 0;
    right: 0;

    tsl-svg-icon {
      @include square($spacing-ms);
      ::ng-deep svg path {
        fill: $blue-grey-3;
      }
    }
  }

  &--selected {
    border-color: $color-pro-main;
  }

  &:hover {
    border-color: $color-pro-main;
    cursor: pointer;
  }

  &__title {
    color: $walla-main;
    font-weight: $font-weight-chunky;
  }

  &__icon {
    @include square(48px);
    img {
      object-fit: cover;
      width: 100%;
    }
  }
}
