@import '~style/common';

.SubscriptionsSlotItem {
  background-color: white;
  border: solid 1px $blue-grey-5;
  border-radius: $spacing-ms;
  padding: 16px;

  @media (max-width: 768px) {
    min-width: 381px;
  }

  @media (max-width: 560px) {
    min-width: auto;
  }

  &__deselect {
    @include square($spacing-ms);
    margin: $spacing-m;
    position: absolute;
    top: 0;
    right: 0;

    tsl-svg-icon {
      @include square($spacing-ms);

      ::ng-deep svg path {
        fill: $blue-grey-3;
      }
    }
  }

  &--selected {
    border: solid 2px $color-pro-main;
  }

  &:hover {
    border: solid 2px $color-pro-main;
    cursor: pointer;
  }

  &__title {
    color: #13c1ac;
    span {
      font-weight: $font-weight-chunky;
    }
  }

  &__icon {
    @include square(48px);

    img {
      object-fit: cover;
      width: 100%;
    }
  }
}
