@import "~style/common";

h3 {
  font-size: $font-size-s;
  font-weight: bold;
}
.profile-pic {
  &.top {
    margin-bottom: 32px;
  }
  h2 {
    font-size: $font-size-m;
    font-weight: normal;
    color: $blue-grey-1;
  }
  p {
    font-size: $font-size-s;
    line-height: 1.29;
    color: $blue-grey-2;
    margin-bottom: 0;
  }
  .col-4 {
    display: flex;
    justify-content: flex-end;
  }
  .col-6 {
    display: flex;
    align-items: center;
  }
  tsl-user-avatar, tsl-user-cover {
    margin-right: $spacing-m;
  }
  .btn-upload {
    background-color: $blue-grey-4;
    border: solid 1px $blue-grey-1;
    color: $blue-grey-4;
    font-size: $font-size-s;
    padding: $spacing-xs $spacing-m;
    cursor: pointer;
    border-radius: $button-border-radius;
    &:hover:not(.disabled) {
      background-color: $blue-grey-1;
    }
    input {
      display: none;
    }
    .spinner {
      @include square(15px);
      margin-right: $spacing-xs;
      vertical-align: bottom;
    }
  }
}
