@import '~style/common';

.FiltersWrapper {
  &__bar_wrapper {
    overflow: auto;
    @include hide-scroll-bars;

    // Hacky way to be able to scroll and see the filter dropdown
    &--open {
      height: 100vh;
    }
  }

  &__bar {
    min-width: fit-content;
    background-color: $white;
    height: 60px;
  }
}
