@import '~style/common';

.FiltersWrapper {
  position: sticky;
  top: $topbar-height;
  width: 100%;
  z-index: 101;

  &__bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $white;
    overflow: auto;
  }

  &__backdrop {
    position: absolute;
    display: block;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: rgba($white, 0.8);
  }
}
