<div class="ModalVeil ModalVeil--opened">
  <div class="ModalVeil__overlay ModalVeil__overlay--opened">
    <div class="ModalVeil__filters ModalVeil__filters--secondary">
      <div class="ModalVeil__wrapper">
        <div class="ModalVeil__content ModalVeil__content--opened">
          <div class="ModalVeil__header"><span i18n="@@Choose">Choose:</span></div>
          <div class="ModalVeil__content-wrapper">
            <div class="ModalVeil__content-options">
              <div class="ModalVeil__content-option" *ngFor="option in options">
                {{option.label}}
              </div>
            </div>
          </div>
          <div class="ModalVeil__footer">
            <div class="ModalVeil__actions">
              <button class="ModalVeil__button ModalVeil__button--secondary" i18n="@@Cancel">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>