<div class="message-body" *ngIf="!message.payload" [ngClass]="{'from-self': message.fromSelf}">
  <p class="message-cloud">
    <span *ngIf="!message.payload && !messageContainsHTMLTag()" [innerHTML]="message.text | linkTransform"></span>
    <span *ngIf="!message.payload  && messageContainsHTMLTag()">{{message.text | linkTransform}}</span>
    <small class="message-date">{{message.date | date:'shortTime'}}</small>
    <span *ngIf="message.fromSelf" class="message-status" [ngClass]="message.status"></span>
  </p>
</div>
