<div id="stripe" [ngClass]="{'space-between': spaceBetween}">
    <form id="payment-form" method="POST" action="/orders">
        <fieldset class="field-row">
            <div class="form-row">
                <div class="field">
                    <div id="checkout-card" class="input empty" [ngClass]="{'StripeElement--invalid': paymentError}"></div>
                </div>
            </div>
        </fieldset>
        <div class="d-flex flex-column align-items-start">
            <div [ngClass]="{'card-feedback--flexible': showUseSavedCard}">
                <div class="mb-3 StripeCard__error" *ngIf="!!errorTextConfig[paymentError]" >{{errorTextConfig[paymentError]}}</div>
                <div class="mb-3 StripeCard__error" id="card-errors" role="alert" *ngIf="error">
                    {{ error }}
                </div>
            </div>
            <div *ngIf="showSavedCardOption()" class="card-feedback__action"(click)="clickUseSavedCard()" i18n="@@web_use_saved_card">Use saved card</div>
        </div>

        <div [hidden]="type !== 'subscription'" class="StripeCardElement__legal-info" i18n="@@web_stripe_card_element_513">By subscribing, you accept the <a href="{{termsAndConditionsURL}}" target="_blank">Terms of use</a>
            and <a href="{{policyPrivacyURL}}" target="_blank">Privacy policy</a> of Wallapop S.L. and Stripe Ltd</div>

        <tsl-button [hidden]="type === 'new' || type === 'subscription' || type === 'setDefault'"
                    id="checkout-card-button"
                    className="btn-primary btn-medium stripe"
                    [disabled]="type === 'cart' && !cart?.total || loading"
                    [loading]="loading"
                    (click)="onSubmit()"
        >
            <div class="secure-payment">
                <span i18n="@@web_stripe_card_element_514">Continue to Checkout</span>
            </div>
        </tsl-button>
        <tsl-button *ngIf="type === 'new'"
                    id="checkout-card-button-new"
                    className="btn-primary btn-medium stripe"
                    [loading]="newLoading"
                    [disabled]="disabled || newLoading"
                    (click)="createNewCard()"
        >
            <div class="secure-payment">
                <span i18n="@@web_stripe_card_element_672">Save</span>
            </div>
        </tsl-button>
        <tsl-button *ngIf="type === 'subscription'"
                    id="checkout-card-button-new"
                    className="btn-primary btn-medium stripe"
                    [disabled]="!listingLimit || disabled || newLoading"
                    [ngStyle]="{'pointer-events': !listingLimit || disabled || newLoading ? 'none' : 'auto' }"
                    [loading]="newLoading"
                    (click)="createNewCard()"
        >
            <div class="secure-payment">
                <span i18n="@@web_stripe_card_element_515">Subscribe now</span>
            </div>
        </tsl-button>
        <tsl-button *ngIf="type === 'setDefault'"
                    id="checkout-card-button-new"
                    className="btn-primary btn-medium stripe"
                    [disabled]="disabled || newLoading"
                    [loading]="newLoading"
                    (click)="setDefaultCard()"
        >
            <div class="secure-payment">
                <span i18n="@@web_save">Save</span>
            </div>
        </tsl-button>
    </form>
</div>