@import "~style/common";

.StripeElement {
  margin: $spacing-m 0;
  background-color: $white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 $blue-grey-5;
  transition: box-shadow 150ms ease;
  &--focus {
    box-shadow: 0 1px 3px 0 $blue-grey-4;
  }
  &--invalid {
    border-color: $negative-main;
  }
  &--webkit-autofill {
    background-color: $yellow-soft !important;
  }
  &.variant {
    border: 1px solid $blue-grey-5;
    box-shadow: none;
  }
}

.field {
  width: 100%;
  &.half-width {
    width: 50%;
  }
  label {
    margin-bottom: 0;
  }
}

:host {
  width: 100%;
}

#card-errors, .StripeCard__error {
  color: $negative-dark;
  font-size: $font-size-s;
}

tsl-button {
  width: 100%;
  ::ng-deep button {
    width: 100%;
    appearance: none;
  }
}

.secure-payment {
  position: relative;
  font-size: $font-size-s;
  mat-icon {
    height: 14px;
    width: 11px;
    position: absolute;
    right: 0;
    top: 1px;
  }
}

.field-row {
  width: 100%;
}

#stripe {
  &.space-between {
    height: 100%;

    form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.card-feedback {
  &--flexible {
    display: flex;
    justify-content: space-between;
  }
}

.card-feedback__action {
  color: $walla-main;
  font-size: $font-size-s;
  text-align: left;
  cursor: pointer;
}

.StripeCardElement__legal-info {
  color: $blue-grey-3;
  font-size: $font-size-xs;
  margin: $spacing-ml 0;

  a {
    color: $blue-grey-3;
    text-decoration: none;
    font-weight: bold;
  }
}