<div *ngIf="carrier" class="Carrier py-2">
  <div class="Carrier__dropOffModeWrapper d-flex">
    <div class="Carrier__image d-flex mr-2" [ngStyle]="{ 'background-image': 'url(' + carrier.icon + ')' }"></div>
    <div class="Carrier__dropOffMode d-flex flex-column">
      <span [ngSwitch]="carrier.type">
        <ng-container *ngSwitchCase="postOfficeDropOff" i18n="@@accept_view_seller_po_all_delivery_method_selector_title"
          >Deposit at a drop off point</ng-container
        >
        <ng-container *ngSwitchCase="homePickUp" i18n="@@accept_view_seller_hpu_ba_delivery_method_selector_title"
          >Request home pick up</ng-container
        >
      </span>
    </div>
    <div class="Carrier__selector d-flex px-2">
      <div class="input-radio">
        <input type="radio" [value]="carrier.type" id="type-natural" required />
      </div>
    </div>
  </div>
  <div class="Carrier__infoWrapper d-flex flex-column pl-5 py-3 pr-3">
    <span [ngSwitch]="carrier.type" class="Carrier__infoTimePeriod mx-2">
      <ng-container *ngSwitchCase="postOfficeDropOff" i18n="@@accept_view_seller_po_all_delivery_method_selector_time_limit_description"
        >You have 5 calendar days to deposit the package.
      </ng-container>
      <ng-container *ngSwitchCase="homePickUp" i18n="@@accept_view_seller_hpu_ba_delivery_method_selector_pickup_date_description"
        >They will pick up the package at your address on</ng-container
      >
    </span>
    <div class="Carrier__infoRestrictions mt-2 p-3 mx-1 align-items-center">
      <span i18n="@@accept_view_seller_delivery_method_selector_volumetric_limit_type_1_description">{{ carrier.restrictions }}</span>
    </div>
    <tsl-button class="Carrier__infoButton pt-3 pr-4 pl-1" className="btn-block btn-primary btn-secondary">
      <span [ngSwitch]="carrier.type">
        <ng-container
          *ngSwitchCase="postOfficeDropOff"
          i18n="@@accept_view_seller_po_all_delivery_method_selector_view_collection_points_button"
          >Ver puntos de entrega
        </ng-container>
        <ng-container *ngSwitchCase="homePickUp" i18n="@@accept_view_seller_hpu_ba_delivery_method_selector_modify_pickup_date_button"
          >Change time</ng-container
        >
      </span>
    </tsl-button>
  </div>
</div>
