@import '~style/common';

.SubscriptionPurchaseHeader {
  &__icon {
    @include square(80px);
    padding: 15px;
    border-radius: 50%;
    background-color: $blue-grey-5;
  }

  &__title {
    font-size: $font-size-l;
  }

  &__subtitle {
    color: $blue-grey-2;
  }

  &__text {
    flex: 1;
  }

  &__benefits {
    font-size: $font-size-s;
    color: $blue-grey-2;
  }

  &__trialBanner {
    background-color: $walla-soft;
    border-radius: 2px;
    white-space: nowrap;
  }

  &__iconCheck {
    ::ng-deep svg path {
      fill: $blue-grey-2;
    }
  }
}
