@import '~web-styleguide/scss/spacing';

.SubscriptionsSlotsList {
  display: block;
  margin: $spacing-l 0;
  width: 1246px;
  max-width: 100%;
  margin: 0 auto;

  &--single {
    display: block;
  }

  &--many {
    display: flex;

    tsl-subscriptions-slot-item {
      width: 100%;

      &:not(:first-child):not(:last-child) {
        margin: 0 $spacing-s;
      }

      &:first-child {
        margin-right: $spacing-s;
      }

      &:last-child {
        margin-left: $spacing-s;
      }
    }
  }

  &__container {
    width: 100%;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  &__wrapper {
    flex-grow: 1;
    overflow-y: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    overflow-x: scroll;
    scroll-behavior: smooth;
    display: flex;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar { 
      display: none;
    }
  }

}