<a  tslItemRoute
[itemSlug]= 'user?.sellingItem.webSlug'
[itemUUID]='user?.sellingItem.id' 
class="card"
*ngIf="user?.sellingItem">
  <div class="card-block">
    <tsl-item-avatar class="pull-left" [item]="user?.sellingItem" fallbackLight="true"></tsl-item-avatar>
    <div class="item-details-wrap">
      <div class="item-details">
        <span class="selling-label" i18n="@@web_chat_children_inbox_components_item_for_sell_155">Selling</span>
        <span *ngIf="user?.sellingItemCount > 0" class="items-count" i18n="@@web_chat_children_inbox_components_item_for_sell_156">+{{user?.sellingItemCount}} More</span>
        <h2>{{user?.sellingItem.title}}</h2>
      </div>
    </div>
  </div>
</a>
