@import "~style/common";

%toast {
    border-radius:3px;
    color:$white;
    padding:15px;
    text-align: left;
    font-size: $font-size-m;
    
}

ngb-toast {
    z-index: 999999;
    position: fixed;
    top: 12px;
    right: 12px;
    width: 300px;
    height: 120px;
  
    
    &.success {
        @extend %toast;
        background-color: $positive-main;
    }
    &.error {
        @extend %toast;
        background-color: $negative-main;
    }
    .toast-title {
        font-weight:$font-weight-chunky;
        padding:0 $spacing-s;
    }
   
    
}