@import "~style/common";

%toast {
    border-radius: 3px;
    color: $white;
    padding: 15px;
    text-align: left;
    font-size: $font-size-m;
}

.toast-container {
    z-index: 999999;
    position: fixed;
    top: 12px;
    right: 12px;
}

ngb-toast {
    width: 300px;
    height: 120px;
    box-shadow: 5px 10px 18px rgba($black, 0.2);
    margin-top: $spacing-s;
    cursor: pointer;

    &:hover {
        box-shadow: 5px 10px 18px rgba($black, 0.1);
    }

    &.success {
        @extend %toast;
        background-color: $positive-main;
    }

    &.error {
        @extend %toast;
        background-color: $negative-main;
    }

    .toast-text {
        display: block;
        padding: $spacing-s 0;
    }

    .toast-title {
        display: block;
        font-weight: $font-weight-chunky;
    }
}
