@import 'src/style/common';

.MultiSelectOption {
  position: relative;
  cursor: pointer;
  &::after {
    content: '';
    background-color: white;
    height: 3px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
  }
  &__optionLabel {
    font-size: $font-size-m;
    &:before {
      content: '#';
    }
  }
}
