@import "~style/common";

$btn-width: 85px;

tsl-here-maps {
  height: 500px;
  width: 100%;
  display: block;
}

.modal-body {
  padding: 0;
  tsl-geolocation {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    width: calc(100% + #{-$spacing-ml * 2 - $btn-width - $spacing-ms});
    display: block;
    padding: 0;
    & ::ng-deep {
      .header-location {
        input {
          width: 100%;
        }
        .dropdown-menu {
          width: 100%;
          margin-top: $spacing-ms;
          .dropdown-item {
            display: flex;
            .location {
              width: 100%;
              span {
                width: calc(100% - $spacing-ml);
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          }
          @include media-breakpoint-down(sm) {
            width: calc(100% + 97px);
          }
        }
      }
    }
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 38px;
    width: $btn-width;
    background-color: $white;
    color: $blue-grey-1;
    border: 1px solid $blue-grey-4;
    font-size: $font-size-s;
  }
}
