@import "~style/common";

:host {
  display: block;
}

mat-icon {
  height: 23px;
  width: 23px;
  margin-right: $spacing-s;
  display: inline-flex;
  ::ng-deep #images {
    &:not(:root:root) {
      fill: #FFD300;
    }
  }
}
