@import '~style/common';

form {
  input {
    &.ng-dirty.ng-invalid {
      border: 1px solid $negative-main !important;
    }
  }

  &.disabled {
    .form-control:disabled {
      cursor: auto;
      border: 0;
    }
  }

  .alert {
    font-size: $font-size-s;
    color: $negative-main;
  }
}

.payViewInfoMessage {
  color: $blue-grey-2;
}

.phoneInfoMessage {
  font-size: $font-size-s;
  color: $blue-grey-3;
}
