<!-- TODO: Remove `profile-box` class by improving `tsl-profile-form` component-->
<div class="DeliveryAddress box mt-3 p-3 container profile-box">
  <tsl-profile-form class="row" [profileForm]="deliveryAddressForm" (handleOnInit)="initForm()">
    <form class="col" *ngIf="!loading; else loadingState" [formGroup]="deliveryAddressForm" (submit)="onSubmit()">
      <div class="row">
        <div class="col-md-11 offset-md-1">
          <h3 *ngIf="isNewForm" i18n="@@address_view_all_users_top_bar_add_title">Add your address</h3>
          <h3 *ngIf="!isNewForm" i18n="@@address_view_all_users_top_bar_edit_title">Edit your address</h3>
        </div>
      </div>
      <div class="row" *ngIf="whereUserComes === PREVIOUS_PAGE.PAYVIEW_PAY">
        <div class="col-md-11 offset-md-1">
          <span i18n="@@address_view_all_users_form_plain_text_sender_need_explanation_text" class="DeliveryAddress__payViewInfoMessage"
            >We need your address to be the sender in case of return</span
          >
        </div>
      </div>
      <div class="form-group row align-items-center mt-2">
        <label for="country_iso_code" class="col-sm-12 col-md-5" i18n="@@address_view_all_users_sheet_country_selection_title"
          >Country</label
        >
        <div class="col-sm-12 col-md-5">
          <tsl-dropdown
            i18n-placeholder="@@address_view_all_users_sheet_country_selection_title"
            class="form-control"
            formControlName="country_iso_code"
            id="country_iso_code"
            #country_iso_code
            [isLoading]="!isCountryEditable"
            [options]="countries"
            [disabled]="countries?.length <= 1"
            (click)="handleShowWarningCountry()"
          >
          </tsl-dropdown>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="full_name" class="col-sm-12 col-md-5" i18n="@@address_view_all_users_form_textfield_name_label">Name and surname</label>
        <div class="col-sm-12 col-md-5">
          <input type="text" class="form-control" id="full_name" formControlName="full_name" />
          <div
            *ngIf="deliveryAddressForm.controls.full_name.invalid && deliveryAddressForm.pending"
            class="DeliveryAddress__message DeliveryAddress__message--error"
          >
            <ng-container *ngIf="deliveryAddressForm.controls.full_name.errors as fullNameError">
              <span *ngIf="fullNameError.required" i18n="@@address_view_all_users_form_textfield_name_missing_info_inline_error"
                >The "name amb surname" field can't be empty</span
              >
              <span *ngIf="!fullNameError.required">
                {{ formErrorMessages.full_name }}
              </span>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="street" class="col-sm-12 col-md-5" i18n="@@address_view_all_users_form_textfield_street_label"
          >Street name and number</label
        >
        <div class="col-sm-12 col-md-5">
          <input type="text" class="form-control" id="street" formControlName="street" [maxlength]="DELIVERY_INPUTS_MAX_LENGTH.STREET" />
          <div
            *ngIf="deliveryAddressForm.controls.street.invalid && deliveryAddressForm.pending"
            class="DeliveryAddress__message DeliveryAddress__message--error"
          >
            <ng-container *ngIf="deliveryAddressForm.controls.street.errors as streetError">
              <span *ngIf="streetError.required" i18n="@@address_view_all_users_form_textfield_street_missing_info_inline_error"
                >The "address" field can't be empty</span
              >
              <span *ngIf="!streetError.required">
                {{ formErrorMessages.street }}
              </span>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="flat_and_floor" class="col-sm-12 col-md-5" i18n="@@address_view_all_users_form_textfield_door_label"
          >Floor and door number</label
        >
        <div class="col-sm-12 col-md-5">
          <input
            type="text"
            class="form-control"
            id="flat_and_floor"
            formControlName="flat_and_floor"
            [maxlength]="DELIVERY_INPUTS_MAX_LENGTH.FLAT_AND_FLOOR"
          />
          <div
            *ngIf="deliveryAddressForm.controls.flat_and_floor.invalid && deliveryAddressForm.pending"
            class="DeliveryAddress__message DeliveryAddress__message--error"
          >
            <span>{{ formErrorMessages.flat_and_floor }}</span>
          </div>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="postal_code" class="col-sm-12 col-md-5" i18n="@@address_view_all_users_form_textfield_postalcode_label">ZIP code</label>
        <div class="col-sm-12 col-md-5">
          <input
            type="text"
            [ngClass]="{
              'DeliveryAddress__input DeliveryAddress__input--invalid':
                deliveryAddressForm.controls.postal_code.invalid && deliveryAddressForm.controls.postal_code.dirty
            }"
            (blur)="isInvalidPostalCode()"
            class="form-control"
            id="postal_code"
            formControlName="postal_code"
            [maxlength]="DELIVERY_INPUTS_MAX_LENGTH.POSTAL_CODE"
            tslNumbersOnly
          />
          <div
            *ngIf="deliveryAddressForm.controls.postal_code.invalid && deliveryAddressForm.controls.postal_code.dirty"
            class="DeliveryAddress__message DeliveryAddress__message--error"
          >
            <ng-container *ngIf="deliveryAddressForm.controls.postal_code.errors as postalCodeError">
              <span *ngIf="postalCodeError.required" i18n="@@address_view_all_users_form_textfield_postalcode_missing_info_inline_error"
                >The "ZIP code" field can't be empty</span
              >
              <span *ngIf="!postalCodeError.required">
                {{ formErrorMessages.postal_code }}
              </span>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="city" class="col-sm-12 col-md-5" i18n="@@address_view_all_users_form_textfield_city_label">City</label>
        <div class="col-sm-12 col-md-5">
          <tsl-dropdown
            i18n-placeholder="@@address_view_all_users_form_textfield_city_label"
            class="form-control"
            formControlName="city"
            id="city"
            [options]="cities"
            [disabled]="cities?.length <= 1"
          >
          </tsl-dropdown>
          <div
            *ngIf="deliveryAddressForm.controls.city.invalid && deliveryAddressForm.pending"
            class="DeliveryAddress__message DeliveryAddress__message--error"
          >
            <span
              *ngIf="deliveryAddressForm.controls.city.errors.required"
              i18n="@@address_view_all_users_form_textfield_city_missing_info_inline_error"
              >The "city" field can't be empty</span
            >
          </div>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="phone_number" class="col-sm-12 col-md-5" i18n="@@address_view_all_users_form_textfield_phone_label">Phone number</label>
        <div class="col-sm-12 col-md-5">
          <input
            type="tel"
            class="form-control"
            id="phone_number"
            formControlName="phone_number"
            [maxLength]="DELIVERY_INPUTS_MAX_LENGTH.PHONE_NUMBER"
          />
          <div
            *ngIf="deliveryAddressForm.controls.phone_number.invalid && deliveryAddressForm.pending"
            class="DeliveryAddress__message DeliveryAddress__message--error"
          >
            <ng-container *ngIf="deliveryAddressForm.controls.phone_number.errors as phoneNumberError">
              <span *ngIf="phoneNumberError.required" i18n="@@address_view_all_users_form_textfield_phone_missing_info_inline_error"
                >The "phone number" field can't be empty</span
              >
              <span *ngIf="!phoneNumberError.required">
                {{ formErrorMessages.phone_number }}
              </span>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-center d-flex flex-column">
          <div class="DeliveryAddress__phoneInfoMessage mb-4">
            <span i18n="@@address_view_all_users_form_plain_text_phone_number_need_explanation_initial_text_web"
              >We will share your information with the courier company to manage your shipments. To learn more, please check the</span
            >
            <a
              class="mx-1"
              i18n="@@address_view_all_users_form_plain_text_phone_number_need_explanation_terms_of_use_web"
              [href]="DELIVERY_ADDRESS_LINKS.TERMS_OF_USE"
              target="_blank"
              >Terms of use</a
            >
            <span i18n="@@address_view_all_users_form_plain_text_phone_number_need_explanation_word_and_web">and</span>
            <a
              class="mx-1"
              i18n="@@address_view_all_users_form_plain_text_phone_number_need_explanation_privacy_policy_web"
              [href]="DELIVERY_ADDRESS_LINKS.PRIVACY_POLICY"
              target="_blank"
              >Privacy policy</a
            >
            <span i18n="@@address_view_all_users_form_plain_text_phone_number_need_explanation_word_final_text_web">of Wallapop.</span>
          </div>
          <div class="d-flex justify-content-center">
            <tsl-button
              [type]="'submit'"
              class="col-md-2 col-7"
              [ngClass]="{ 'col-12': isNewForm || comesFromPayView }"
              [loading]="loadingButton"
              className="btn-primary btn-block"
              i18n="@@address_view_all_users_bottom_bar_save_button"
              >Save</tsl-button
            >
            <tsl-button
              *ngIf="!isNewForm && !comesFromPayView"
              i18n="@@pre_address_view_all_users_address_added_remove_button"
              class="col-md-2 col-5"
              className="btn btn-link btn-link--negative"
              id="deleteButton"
              (click)="deleteForm()"
              >Delete</tsl-button
            >
          </div>
        </div>
      </div>
    </form>
  </tsl-profile-form>
  <ng-template class="row loading-center justify-content-center" #loadingState>
    <div class="col">
      <tsl-spinner></tsl-spinner>
    </div>
  </ng-template>
</div>
