@import '~style/common';

.DeliveryAddress {
  &__form {
    input {
      &.ng-dirty.ng-invalid {
        border: 1px solid $negative-main !important;
      }
    }

    &.disabled {
      .form-control:disabled {
        cursor: auto;
        border: 0;
      }
    }

    &__message {
      &--error {
        font-size: $font-size-s;
        color: $negative-main;
      }
    }

    &__payViewInfoMessage {
      color: $blue-grey-2;
    }

    &__phoneInfoMessage {
      font-size: $font-size-s;
      color: $blue-grey-3;
    }
  }
}
