@import '~style/common';

:host {
  text-align: center;
  display: flex;
}

.content-col {
  text-align: center;
  padding: $spacing-xxxl $spacing-xxl;
}

p {
  max-width: 435px;
  margin: 0 auto $spacing-ml auto;
  font-size: $font-size-m;
  color: $blue-grey-2;
  &.credit-info {
    color: $walla-main;
  }
}
