<div class="d-inline-block w-100 my-4">
    <tsl-spinner *ngIf="loading"></tsl-spinner>
    <div class="d-flex justify-content-center" *ngIf="!loading && items.length === 0">
        <tsl-empty-state
            class="UserPublished__emptyState"
            [title]="emptyStateProperties.title"
            [description]="emptyStateProperties.description"
            [illustrationSrc]="emptyStateProperties.illustrationSrc"
        >
        </tsl-empty-state>
    </div>
    <tsl-public-item-card-list (clickedItemAndIndex)="itemCardClicked($event)" (toggleFavouriteEvent)="toggleFavourite($event)" [items]="items"></tsl-public-item-card-list>
    <tsl-button *ngIf="paginationParameter" (click)="loadMore()" [className]="'btn-primary'" class="d-block mt-4 text-center" i18n="@@web_user_published_load_more">Load more products</tsl-button>
</div>
