<div class="Chat d-flex">
  <div class="Chat__inbox h-100" [ngClass]="{'Chat__inbox--active': !!inboxConversationService.currentConversation}">
    <tsl-connection-alert></tsl-connection-alert>
    <tsl-inbox (loadingEvent)="onLoad($event)" (loadingError)="onChangeInboxOrArchivedDropdown($event)"></tsl-inbox>
  </div>
  <div class="Chat__conversation" *ngIf="!conversationsLoading" [ngClass]="{'Chat__conversation--active': !!inboxConversationService.currentConversation}">
    <tsl-current-conversation [currentConversation]="inboxConversationService.currentConversation"
                              [conversationsTotal]="conversationsTotal"
                              [connectionError]="connectionError"
                              [loadingError]="loadingError"></tsl-current-conversation>
  </div>

  <ng-container *ngIf="conversationsLoading">
    <div class="Chat__loading d-flex align-items-center justify-content-center">
      <tsl-spinner [firstLoad]="firstLoad"></tsl-spinner>
    </div>
  </ng-container>
</div>
