@import '~style/common';

.Chat {
  height: calc(100vh - #{$topbar-height});
  @include media-breakpoint-down(md) {
    height: calc(100vh - #{$topbar-height} - #{$tabbar-height});
  }

  &__inbox {
    position: relative;
    background-color: $white;
    width: $left-panel-width;
    border-right: 1px solid $blue-grey-4;
    @include media-breakpoint-down(md) {
      width: 100%;
      &--active {
        display: none;
      }
    }
  }

  &__conversation {
    flex: 1;
    background-color: $white;
    position: relative;

    tsl-current-conversation {
      height: 100%;
    }

    @include media-breakpoint-down(md) {
      display: none;
      margin-left: 0;
      width: 100%;
      &--active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        z-index: #{$topbar-z-index} + 1;
      }
    }
  }

  &__loading {
    flex: 1;
    background-color: $white;
  }
}
