<div class="Chat d-flex">
  <div id="left-panel" class="h-100" [ngClass]="{'active-conversation': !!inboxConversationService.currentConversation}">
    <tsl-connection-alert></tsl-connection-alert>
    <tsl-inbox (loadingEvent)="onLoad($event)" (loadingError)="onChangeInboxOrArchivedDropdown($event)"></tsl-inbox>
  </div>
  <div id="center-panel" *ngIf="!conversationsLoading" [ngClass]="{'active-conversation': !!inboxConversationService.currentConversation}">
    <tsl-current-conversation [currentConversation]="inboxConversationService.currentConversation"
                              [conversationsTotal]="conversationsTotal"
                              [connectionError]="connectionError"
                              [loadingError]="loadingError"></tsl-current-conversation>
  </div>

  <div id="loading-state" *ngIf="conversationsLoading">
    <div class="content">
      <tsl-spinner [firstLoad]="firstLoad"></tsl-spinner>
    </div>
  </div>
</div>
