<div *ngIf="isBubble" ngbDropdown #dropdown="ngbDropdown">
  <div ngbDropdownToggle>
    <tsl-bubble
                (click)="handleBubbleClick($event)"
                [variant]="hasValue ? BUBBLE_VARIANT.SELECTED : BUBBLE_VARIANT.ACTIVE"
                [counter]="counter"
                [icon]="icon"
                [isDropdown]="isDropdown"
    >
      {{label}}
    </tsl-bubble>
  </div>
  <div ngbDropdownMenu>

    <ng-template [ngTemplateOutlet]="contentWrapper"></ng-template>

    <div *ngIf="hasActions" class="px-2 pt-2 d-flex justify-content-end">
      <tsl-button *ngIf="hasCancel" className="basic dark btn-filter" class="mx-1" i18n="@@cancelButton"
                  (click)="handleCancel($event)">
        Cancel
      </tsl-button>
      <tsl-button *ngIf="hasApply" i18n="@@Apply" className="btn-primary btn-filter" class="mx-1"
                  (click)="handleAccept($event)">
        Apply
      </tsl-button>
    </div>

  </div>
</div>

<div *ngIf="!isBubble">
  <ng-template [ngTemplateOutlet]="contentWrapper"></ng-template>
</div>

<ng-template #contentWrapper>
  <div #content>
    <ng-content></ng-content>
  </div>
  <span *ngIf="content.children.length === 0" class="FilterTemplate__dev-warn">Please, avoid using abstract filter directly, use one of the extensions or create your own</span>
</ng-template>





