@import '~style/common';

.FilterTemplate {
  &__dropdown_menu {
    min-width: 380px;
    padding: 0 !important;

    @include media-breakpoint-down(sm) {
      animation: slideUp 0.45s ease-in-out;
      border-radius: 0 !important;
      bottom: 0;
      left: 0;
      margin: 0 !important;
      position: fixed !important;
      right: 0;
      top: 0;
      transform: none !important;
    }
  }

  &__title {
    color: $black;
    font-weight: $font-weight-bold;
  }

  &__content--bubble {
    margin: -8px;
  }

  &__dev_warn {
    color: $brand-danger;
  }

  &__bubble {
    &--open {
      z-index: 200;
    }
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translate(0);
  }
}
