@import '~style/common';

$actions-height: 88px;
$toolbar-height: 70px;
$filter-content-height: 355px;
$dropdown-border-radius: 10px;
$dropdown-box-shadow: 0 3px 16px 3px;

.FilterTemplate {
  &__dropdown {
    position: fixed;
    display: none;
    background-color: $white;
    border-radius: $dropdown-border-radius;
    box-shadow: $dropdown-box-shadow rgba($blue-grey-1, 0.2);
    overflow: hidden;
    min-width: 380px;
    &--opened {
      display: block;
    }
    @include media-breakpoint-down(sm) {
      left: 0 !important;
      right: 0 !important;
      top: 0 !important;
      width: 100%;
      height: 100%;
      border-radius: $dropdown-border-radius $dropdown-border-radius 0 0;
      min-width: auto;
      &--opened {
        animation: slideUp 350ms ease;
      }
    }
  }

  &__toolbar {
    height: $toolbar-height;
  }

  &__filter {
    overflow: auto;
    @include hide-scroll-bars();

    @include media-breakpoint-down(sm) {
      max-height: calc(100% - #{$actions-height + $toolbar-height});
    }
  }

  &__actions {
    background-color: $white;
    height: $actions-height;
    @include media-breakpoint-down(sm) {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  &__title {
    color: $blue-grey-2;
    &--bubble {
      color: $black;
      font-weight: $font-weight-bold;
    }
  }

  &--warn {
    color: $brand-danger;
  }

  &__bubble {
    position: relative;
    &--open {
      z-index: 200;
    }

    &--multiple {
      tsl-bubble:not(:first-child) {
        margin-left: $spacer * 0.25;
      }
    }
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translate(0);
  }
}
