<div *ngIf="isBubble"
     ngbDropdown #dropdown="ngbDropdown"
     (openChange)="handleOpenChange($event)">
  <div ngbDropdownToggle>
    <tsl-bubble
                (click)="handleBubbleClick($event)"
                [variant]="hasValue ? BUBBLE_VARIANT.SELECTED : BUBBLE_VARIANT.ACTIVE"
                [counter]="counter"
                [icon]="icon"
                [isDropdown]="isDropdown"
                [isClearable]="isClearable"
                (clear)="handleClear($event)"
    >
      {{label}}
    </tsl-bubble>
  </div>
  <div ngbDropdownMenu class="FilterTemplate__dropdown_menu">
    <div class="d-flex flex-column h-100">
      <ng-template [ngTemplateOutlet]="contentWrapper"></ng-template>

      <div class="FilterTemplate__actions p-2 d-flex justify-content-end mt-auto">
        <tsl-button className="basic dark btn-filter" class="mx-1" i18n="@@cancelButton"
                    (click)="handleCancel($event)">
          Cancel
        </tsl-button>
        <tsl-button *ngIf="hasApply" i18n="@@Apply" className="btn-primary btn-filter" class="mx-1"
                    (click)="handleAccept($event)">
          Apply
        </tsl-button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isBubble">
  <ng-template [ngTemplateOutlet]="contentWrapper"></ng-template>
</div>

<ng-template #contentWrapper>
  <div [ngClass]="{'pb-md-0': isBubble}" class="p-4">
    <p class="FilterTemplate__title">{{title}}</p>
    <div #extendedContent>
      <ng-content></ng-content>
    </div>
    <span *ngIf="extendedContent.children.length === 0" class="FilterTemplate__dev_warn">Please, avoid using abstract filter directly, use one of the extensions or create your own</span>
  </div>
</ng-template>





