<div class="box">
  <div class="box-content">
    <div class="row listings">
      <div class="col">
        <h2>
          <span *ngIf="currentPlan" i18n>Current plan: {{currentPlan}}</span>
          <span *ngIf="!currentPlan" i18n>You are not yet subscribed to any plan.</span>
        </h2>
        <p class="description" i18n>Each plan includes the posibility to publish a max number of cars, you can always remove and choose a different. Go to the app to change the suscription.</p>
        <p class="contact" i18n>Contact us if you need a plan that suits you.</p>
        <div class="email"><span i18n>Email comercial</span>: <a href="mailto:">email@wallapopcom</a></div>
      </div>
      <div class="packs">
        <div class="pack" *ngFor="let plan of plans" [ngClass]="{'selected': plan.active}">
          <div class="name">{{plan.name}}</div>
          <div class="price">{{plan.durations[0].market_code | customCurrency}}/<span i18n>month</span></div>
          <ul>
            <li *ngFor="let feature of plan.durations[0].features" [class.disabled]="!feature.enable">{{feature.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
