@import "~style/common";

.box-content {
  padding: $spacing-xl 100px;
}

.packs {
  display: flex;
  width: 600px;
  justify-content: center;
}

h2 {
  font-size: $font-size-l;
  font-weight: $font-weight-chunky;
  color: $walla-main;
  margin-top: $spacing-xxxl;
}

.description, .contact, .email {
  font-size: $font-size-s;
  line-height: $line-height-ml;
  color: $blue-grey-3;
}

.contact {
  font-weight: $font-weight-chunky;
  color: $yellow-dark;
}

.email, .email a {
  color: $blue-grey-1;
  font-weight: $font-weight-chunky;
}

h2, .description {
  margin-right: 80px;
}

.pack {
  padding: $spacing-ml $spacing-ms;
  border: solid 2px $blue-grey-5;
  border-radius: $border-radius;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
  flex:1;
  margin: $spacing-ms;
  max-width: 186px;
  .name {
    color: $blue-grey-1;
    font-size: $font-size-l;
    font-weight: $font-weight-chunky;
  }
  .price {
    font-size: $font-size-lll;
    color: $yellow-dark;
    font-weight: $font-weight-chunky;
    border-bottom: 2px solid $blue-grey-5;
    padding-bottom: $spacing-ms;
    margin-bottom: $spacing-m;
  }
  ul, li {
    margin: 0;
    padding: 0;
  }
  li {
    margin-bottom: $spacing-ms;
    color: $blue-grey-2;
    list-style: none;
    font-size: $font-size-s;
    &.disabled {
      color: $blue-grey-5;
    }
  }
  &.selected {
    border-width: 3px;
    border-color: $walla-main;
    .price {
      border-color: $walla-soft;
    }
  }
}
