@import '~style/common';

$switch-width: 36px;
$switch-height: 23px;
$switch-slider-diameter: 15px;

:host {
  .switch {
    position: relative;
    display: inline-block;
    width: $switch-width;
    height: $switch-height;
    margin: 0;

    input {
      display: none;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $blue-grey-5;
      transition: 0.4s;
      border-radius: $switch-height * 0.5;
    }

    .slider:hover {
      background-color: $blue-grey-4;
    }

    .slider:before {
      position: absolute;
      content: '';
      height: $switch-slider-diameter;
      width: $switch-slider-diameter;
      left: 3px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }

    input:checked + .slider {
      background-color: $walla-main;
    }

    input:checked:hover + .slider {
      background-color: $walla-dark;
    }

    input:disabled + .slider,
    input:disabled:hover + .slider {
      background-color: $blue-grey-5;
    }

    input:checked + .slider:before {
      transform: translateX(15px);
    }
  }
}
