<div class="TRXAwarenessModal d-flex flex-column w-100 align-items-center">
  <tsl-lottie [src]="TRX_AWARENESS_LOTTIE" class="mb-3"></tsl-lottie>
  <span i18n="@@trx_on_web_modal_title_web_specific" class="TRXAwarenessModal__title TRXAwarenessModal__text mb-3"
    >Wallapop Shipping on web!</span
  >
  <span
    i18n="@@trx_on_web_modal_description_web_specific"
    id="TRXAwarenessModalDescription"
    class="TRXAwarenessModal__text mb-4 text-center"
    >Soon our shipping service will be available on the web. That's why you can already check or edit your shipping data. Can't wait to use
    the shipping service? For now, keep using the app, which also works great.</span
  >
  <tsl-button i18n="@@trx_on_web_modal_understood_button_web_specific" (click)="onClose()">Understood</tsl-button>
</div>
