<div class="LocationSelectModal d-flex flex-column align-items-center text-center">
  <div class="LocationSelectModal__close" (click)="activeModal.dismiss()">
    <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
  </div>
  <div class="LocationSelectModal__title">
    <span i18n="@@add_user_location_requirement_seller_modal_title">Add you location</span>
  </div>
  <div class="mb-4">
    <span i18n="@@add_user_location_requirement_seller_modal_description">To list this item, you must add your locationas a seller.</span>
  </div>
  <div class="w-100">
    <form class="d-flex flex-column w-100" [formGroup]="locationForm" (submit)="onSubmit()">
      <tsl-location-box [form]="locationForm" name="location" [updateLocation]="false" [disableFocus]="true"
        [disableTitle]="true" [disableFooter]="true" [disablePopover]="true"></tsl-location-box>
      <tsl-button class="mt-3" className="btn-primary btn-modal-primary btn--width" [disabled]="locationForm.invalid" (click)="onSubmit()"
        i18n="@@add_user_location_requirement_seller_modal_save_button" [loading]="isLoading">Save</tsl-button>
    </form>
  </div>
</div>