<div class="wallapop-search-input">
    <input i18n-placeholder placeholder="Search in All categories" type="text"
        maxlength="150" name="kws" #kwsEl value="" (focus)="focus=true" (blur)="focus=false" [class.active]="focus"
        [(ngModel)]="model" [ngbTypeahead]="suggest" (keyup)="updateKeyword()" (keyup.enter)="searchSubmit()"
        [inputFormatter]="formatter" [resultTemplate]="suggester" (selectItem)="selectSuggestion($event.item)"
        autocomplete="off" />
</div>

<ng-template #suggester let-r="result">
    <div class="suggestion">
        <span class="title">{{ r.suggestion }}</span>
        <span class="category">{{ r.category_name }}</span>
    </div>
</ng-template>