@import "~style/common";

:host /deep/ {
  margin-left: $spacing-ms;
}

:host /deep/ input {
  & {
    border: none;
    width: 190px - 36px;
    color: $blue-grey-1;
    -webkit-transition-property: width;
    transition-property: width;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $font-size-s;
  }
  &.active {
    width: 250px - 36px;
  }
  &::-webkit-input-placeholder {
    color: $walla-main;
    opacity: 0.9;
  }
  &::-moz-placeholder {
    color: $blue-grey-2;
    opacity: 0.9;
  }
  &::-ms-placeholder {
    color: $blue-grey-2;
    opacity: 0.9;
  }
  &::placeholder {
    color: $blue-grey-2;
    opacity: 0.9;
  }
}


:host /deep/ .dropdown-menu {
  & {
    padding: 0;
    overflow: hidden;
    margin: $spacing-s 0 0;
    left: 0 !important;
    width: 100%;
  }
}
:host /deep/ .dropdown-item {
  & {
    background-color: transparent;
    cursor: pointer;
    color: $blue-grey-1;
    border-bottom: 1px solid $blue-grey-5;
    padding: $spacing-s $spacing-ml;
    transition: all .15s linear;
    & .suggestion {
      display: grid;
      line-height: $line-height-ml;
      & .title {
        font-size: $font-size-m;
      }
      & .category {
        color: $walla-main;
        font-size: $font-size-s;
      }
    }
  }
}
:host /deep/ .dropdown-item.active {
  background-color: $blue-grey-5;
}
