@import '~style/common';

.header-location {
  & {
    display: flex;
    display: -ms-flexbox;
    position: relative;
    align-items: center;
    font-size: $font-size-s;
  }
  input {
    & {
      border: none;
      width: 190px - 36px;
      color: $blue-grey-1;
      -webkit-transition-property: width;
      transition-property: width;
      transition-duration: 0.2s;
      transition-timing-function: linear;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &.active {
      width: 250px - 36px;
    }
    &::-webkit-input-placeholder {
      color: $walla-main;
      opacity: 0.9;
    }
    &::-moz-placeholder {
      color: $blue-grey-2;
      opacity: 0.9;
    }
    &::-ms-placeholder {
      color: $blue-grey-2;
      opacity: 0.9;
    }
    &::placeholder {
      color: $blue-grey-2;
      opacity: 0.9;
    }
  }
  .location {
    & {
      display: flex;
      display: -ms-flexbox;
      align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      position: relative;
    }
  }
}

.topbar-icon {
  & {
    height: 36px;
    width: 36px;
    color: $blue-grey-4;
  }
  &.active {
    ::ng-deep svg g path {
      fill: $walla-main;
    }
  }
}

.pac-icon {
  & {
    width: 15px;
    height: 17px;
    margin-right: $spacing-ms;
    display: inline-block;
    vertical-align: top;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
    background-size: 34px;
    background-position: -1px -161px;
  }
}

:host ::ng-deep .dropdown-menu {
  & {
    padding: 0;
    overflow: hidden;
    margin: $spacing-s 0 0;
    left: 0 !important;
  }
}

:host ::ng-deep .dropdown-item {
  & {
    background-color: transparent;
    cursor: pointer;
    color: $blue-grey-1;
    border-bottom: 1px solid $blue-grey-5;
    padding: $spacing-s $spacing-m;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
  }
}

:host ::ng-deep .dropdown-item.active {
  background-color: $blue-grey-5;
}
