<a href="#" class="sidebar-section profile-item" (click)="openProfileModal($event)" tslTrackEvent="MYZONE_MENU_PROFILE">
  <div class="sidebar-section-circle">
    <tsl-user-avatar class="topbar-avatar" [size]="50" [user]="user" *ngIf="user"></tsl-user-avatar>
  </div>
  <h2 i18n>Profile</h2>
</a>

<a class="sidebar-section" [routerLink]="['/catalog/list']" routerLinkActive="active" tslTrackEvent="MYZONE_MENU_CATALOG">
  <div class="sidebar-section-circle">
    <md-icon svgIcon="navigation_catalog"></md-icon>
  </div>
  <h2 i18n>My Catalog</h2>
</a>

<a class="sidebar-section" [routerLink]="['/chat']" routerLinkActive="active" tslTrackEvent="MYZONE_MENU_CHAT">
  <div class="sidebar-section-circle">
    <md-icon svgIcon="navigation_messages"></md-icon>
  </div>
  <h2 i18n>Messages</h2>
</a>

<a class="sidebar-section" [routerLink]="['/favorites']" routerLinkActive="active" tslTrackEvent="MYZONE_MENU_FAVOURITES">
  <div class="sidebar-section-circle">
    <md-icon svgIcon="navigation_favorites"></md-icon>
  </div>
  <h2 i18n>Favorites</h2>
</a>

<a href="#" class="sidebar-section logout-item" (click)="logout($event)" tslTrackEvent="MYZONE_MENU_LOGOUT">
  <div class="sidebar-section-circle">
    <md-icon svgIcon="navigation_logout"></md-icon>
  </div>
  <h2 i18n>Logout</h2>
</a>
