<div class="Cart d-flex flex-column px-3 py-4">
  <div class="Cart__title mb-4" i18n="@@web_cart_451">My features</div>
  <div class="d-flex flex-column h-100">
    <div
      class="Cart__wrapper pb-3 mb-4"
      [class.has-financial-card]="hasSavedCard"
      [class.no-credit]="!creditInfo?.credit"
      [class.no-discount]="!cart?.discountedTotal && !creditInfo?.credit"
    >
      <div class="overflow-auto h-100">
        <ul *ngIf="cart" class="Cart__list">
          <li *ngFor="let type of types" [hidden]="!cart[type].cartItems.length">
            <ul>
              <li *ngFor="let cartItem of cart[type].cartItems" class="d-flex flex-column">
                <div class="d-flex mb-2">
                  <tsl-item-avatar [item]="cartItem.item" size="small" fallbackLight="true"></tsl-item-avatar>
                  <div class="d-flex w-100 flex-column justify-content-center">
                    <div class="d-flex justify-content-between">
                      <div>
                        <span [ngSwitch]="type">
                          <ng-container *ngSwitchCase="BUMP_TYPES.ZONE_BUMP">
                            <ng-container *ngIf="!cartItem.isProvincialBump" i18n="@@web_cart_454">Local</ng-container>
                            <ng-container *ngIf="cartItem.isProvincialBump" i18n="@@web_cart_455">Provincial</ng-container>
                          </ng-container>
                          <ng-container *ngSwitchCase="BUMP_TYPES.CITY_BUMP" i18n="@@web_cart_663">City</ng-container>
                          <ng-container *ngSwitchCase="BUMP_TYPES.COUNTRY_BUMP" i18n="@@web_cart_664">Country</ng-container>
                        </span>
                        x {{ cartItem.duration.duration / 24 }}<span i18n="@@web_cart_665">days</span>
                      </div>
                      <div>
                        {{
                          (cartItem.isFree ? 0 : cartItem.duration.market_code * creditInfo?.factor)
                            | customCurrency: creditInfo?.currencyName
                        }}
                      </div>
                    </div>
                    <div *ngIf="cartItem.isFree" class="align-items-center d-flex Cart__listDescription">
                      {{ cartItem.duration.subscriptionPackageType }}
                      <tsl-pro-badge class="ml-2" [iconType]="ICON_TYPE.MEDIUM"></tsl-pro-badge>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="walla-total" *ngIf="creditInfo?.credit">
      <span class="label" i18n="@@web_cart_618">Total</span>
      <span class="price">
        {{ cart?.total * creditInfo?.factor | customCurrency: creditInfo?.currencyName }}
        <tsl-wallacoin [currency]="creditInfo?.currencyName" size="medium" color="grey"></tsl-wallacoin>
      </span>
    </div>
    <div class="credit" *ngIf="creditInfo?.credit && creditInfo?.currencyName === PACK_TYPES.WALLACREDITS">
      <span class="label">
        {{ creditInfo?.credit | customCurrency: creditInfo?.currencyName }} <span i18n="@@web_cart_666">credit</span>
      </span>
    </div>
    <div class="total pb-2 mb-2">
      <span class="label" i18n="@@web_cart_621">Total to pay</span>
      <span class="price">{{ totalToPay | customCurrency }}</span>
    </div>
    <div *ngIf="totalToPay > 0">
      <tsl-stripe-card-selection
        *ngIf="hasSavedCard && savedCard"
        (handleSelectExistingCard)="setSavedCard($event)"
        (hasCard)="hasCard($event)"
      ></tsl-stripe-card-selection>
      <div class="Cart__NewCard--add" (click)="addNewCard()" *ngIf="savedCard" i18n="@@web_cart_681">Add another credit card</div>
      <div class="Cart__NewCard--used" (click)="removeNewCard()" *ngIf="showCard && hasSavedCard" i18n="@@web_cart_682">Use saved card</div>
      <tsl-stripe-card-element
        *ngIf="showCard"
        [type]="'cart'"
        [cart]="cart"
        (stripeCardToken)="checkout($event)"
        (stripeCard)="setCardInfo($event)"
        [loading]="loading"
      ></tsl-stripe-card-element>
    </div>
    <tsl-button
      [hidden]="!savedCard && totalToPay > 0"
      [disabled]="loading"
      [loading]="loading"
      (click)="checkout()"
      className="btn-primary w-100 btn-primary--bold mt-3"
      i18n="@@web_cart_683"
      >Continue to checkout
    </tsl-button>
  </div>
</div>
