@import '~style/common';

$credit-total-height: 21px;
$discounted-total-height: 30px;

.Cart {
  background: $white;
  border-radius: $border-radius;
  border: solid 1px $blue-grey-5;
  min-width: 280px;

  &__title {
    font-size: $font-size-l;
    line-height: 23px;
    font-weight: $font-weight-chunky;
  }

  .cart-wrapper {
    border-bottom: solid 1px $blue-grey-5;

    .with-credits & {
      &.no-discount {
        margin-bottom: $spacing-s;
      }
    }
    &.has-financial-card {
      .with-credits & {
        &.no-discount {
          margin-bottom: $spacing-s;
        }
      }
    }
  }

  .scroll-panel {
    overflow: auto;
    height: 100%;
  }

  .discounted-total {
    text-align: right;
    font-size: $font-size-l;
    color: $blue-grey-3;
    margin-top: $spacing-m;
    padding-right: $spacing-s;
    margin-bottom: -$spacing-s;
    height: $discounted-total-height;
  }

  .walla-total,
  .credit,
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-xs;
    font-weight: $font-weight-chunky;
    text-transform: uppercase;
    overflow: hidden;
    clear: both;
  }

  .walla-total {
    color: $blue-grey-2;
    line-height: $line-height-l;
    .price {
      font-size: $font-size-l;
    }
    .with-credits & {
      .price {
        font-size: $font-size-m;
      }
    }
  }

  .credit,
  .missing {
    .label {
      tsl-wallacoin {
        vertical-align: sub;
        margin-right: $spacing-xs;
      }
    }
  }

  .credit {
    color: $walla-main;
    height: $credit-total-height;
    .price {
      font-size: $font-size-s;
    }
    .with-credits & {
      font-size: $font-size-m;
      .price {
        font-size: $font-size-m;
      }
      .label span span {
        font-size: $font-size-xs;
      }
    }
  }

  .total {
    border-bottom: solid 1px $blue-grey-5;
    .price {
      font-size: $font-size-xl;
    }
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .items-list {
    font-size: $font-size-xs;
    .cart-box {
      margin-bottom: $spacing-s;
      display: flex;
      justify-content: space-between;
      align-items: center;
      user-select: none;
    }
    .price {
      color: $blue-grey-2;
      font-weight: $font-weight-chunky;
    }
    .type {
      flex: 1;
      .bump-type {
        margin-right: $spacing-xxs;
      }
    }
    .close-icon {
      @include square(16px);
      margin-bottom: $spacing-s;
      margin-right: $spacing-s;
      cursor: pointer;
    }
    .cart-item {
      display: flex;
      align-items: center;
      .cart-box {
        flex: 1;
      }
      tsl-item-avatar {
        ::ng-deep div {
          @include square(32px);
        }
      }
    }
  }

  &__NewCard {
    &--add,
    &--used {
      margin: $spacing-s 0;
      font-size: $font-size-s;
      color: $walla-main;
      cursor: pointer;
    }
  }
}
