@import '~style/common';

$credit-total-height: 21px;
$discounted-total-height: 30px;

.Cart {
  background: $white;
  border-radius: $border-radius;
  border: solid 1px $blue-grey-5;
  min-width: 280px;

  &__title {
    font-size: $font-size-l;
    line-height: 23px;
    font-weight: $font-weight-chunky;
  }

  &__wrapper {
    border-bottom: solid 1px $blue-grey-5;

    .with-credits & {
      &.no-discount {
        margin-bottom: $spacing-s;
      }
    }
    &.has-financial-card {
      .with-credits & {
        &.no-discount {
          margin-bottom: $spacing-s;
        }
      }
    }
  }

  .walla-total,
  .credit,
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-xs;
    font-weight: $font-weight-chunky;
    text-transform: uppercase;
    overflow: hidden;
    clear: both;
  }

  .walla-total {
    color: $blue-grey-2;
    line-height: $line-height-l;
    .price {
      font-size: $font-size-l;
    }
    .with-credits & {
      .price {
        font-size: $font-size-m;
      }
    }
  }

  .credit,
  .missing {
    .label {
      tsl-wallacoin {
        vertical-align: sub;
        margin-right: $spacing-xs;
      }
    }
  }

  .credit {
    color: $walla-main;
    height: $credit-total-height;
    .price {
      font-size: $font-size-s;
    }
    .with-credits & {
      font-size: $font-size-m;
      .price {
        font-size: $font-size-m;
      }
      .label span span {
        font-size: $font-size-xs;
      }
    }
  }

  .total {
    border-bottom: solid 1px $blue-grey-5;
    .price {
      font-size: $font-size-xl;
    }
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list {
    &Description {
      color: $blue-grey-2;
      font-size: 14px;
    }
  }

  &__NewCard {
    &--add,
    &--used {
      margin: $spacing-s 0;
      font-size: $font-size-s;
      color: $walla-main;
      cursor: pointer;
    }
  }
}
