<div class="Cart d-flex flex-column px-3 py-4">
  <div class="Cart__title mb-4" i18n="@@web_cart_451">My features</div>
  <div class="d-flex flex-column h-100">
    <div
      class="Cart__wrapper pb-3 mb-4"
      [class.has-financial-card]="hasSavedCards"
      [class.no-credit]="!creditInfo?.credit"
      [class.no-discount]="!creditInfo?.credit"
    >
      <div class="overflow-auto h-100">
        <ul *ngIf="selectedItems" class="Cart__list">
          <li *ngFor="let cartItem of selectedItems">
            <ul>
              <li class="d-flex flex-column">
                <div class="d-flex mb-2">
                  <tsl-item-avatar [item]="cartItem.item" size="small" fallbackLight="true"></tsl-item-avatar>
                  <div class="d-flex w-100 flex-column justify-content-center">
                    <div class="d-flex justify-content-between">
                      <div>
                        <span [ngSwitch]="cartItem.productType">
                          <ng-container *ngSwitchCase="BUMP_TYPES.ZONE_BUMP">
                            <ng-container *ngIf="!cartItem.isProvincialBump" i18n="@@web_cart_454">Local</ng-container>
                            <ng-container *ngIf="cartItem.isProvincialBump" i18n="@@web_cart_455">Provincial</ng-container>
                          </ng-container>
                          <ng-container *ngSwitchCase="BUMP_TYPES.CITY_BUMP" i18n="@@web_cart_663">City</ng-container>
                          <ng-container *ngSwitchCase="BUMP_TYPES.COUNTRY_BUMP" i18n="@@web_cart_664">Country</ng-container>
                        </span>
                        x {{ cartItem.duration.duration / 24 }}<span i18n="@@web_cart_665">days</span>
                      </div>
                      <div>
                        {{
                          (cartItem.isFree ? 0 : cartItem.duration.market_code * creditInfo?.factor)
                            | customCurrency: creditInfo?.currencyName
                        }}
                      </div>
                    </div>
                    <div *ngIf="cartItem.isFree" class="align-items-center d-flex Cart__listDescription">
                      {{ cartItem.duration.subscriptionPackageType }}
                      <tsl-pro-badge class="ml-2" [iconType]="ICON_TYPE.MEDIUM"></tsl-pro-badge>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <ng-container *ngIf="total > 0 && creditsToPay > 0">
      <div class="walla-total">
        <span class="label" i18n="@@web_cart_618">Total</span>
        <span class="price">
          {{ total | customCurrency }}
        </span>
      </div>
      <div class="credit">
        <span class="label">
          {{ creditInfo?.credit | customCurrency: creditInfo?.currencyName }} <span i18n="@@web_cart_666">credit</span>
        </span>
        <span class="price">
          {{ creditsToPay * creditInfo?.factor | customCurrency: creditInfo?.currencyName }}
        </span>
      </div>
    </ng-container>
    <div class="total pb-2 mb-2">
      <span class="label" i18n="@@web_cart_621">Total to pay</span>
      <span class="price">{{ totalToPay | customCurrency }}</span>
    </div>
    <div *ngIf="totalToPay > 0">
      <tsl-stripe-card-selection
        *ngIf="!isNewCard"
        (handleSelectExistingCard)="setSavedCard($event)"
        (hasCard)="setHasCards($event)"
      ></tsl-stripe-card-selection>
      <div class="Cart__NewCard--add" (click)="addNewCard()" *ngIf="!isNewCard" i18n="@@web_cart_681">Add another credit card</div>
      <div class="Cart__NewCard--used" (click)="removeNewCard()" *ngIf="hasSavedCards && isNewCard" i18n="@@web_cart_682">
        Use saved card
      </div>
      <tsl-stripe-card-element
        *ngIf="isNewCard"
        [type]="'cart'"
        [cart]="cart"
        (stripeCardToken)="checkout($event)"
        (stripeCard)="setCardInfo($event)"
        [loading]="loading"
      ></tsl-stripe-card-element>
    </div>
    <tsl-button
      *ngIf="!isNewCard"
      [disabled]="loading"
      [loading]="loading"
      (click)="checkout()"
      className="btn-primary w-100 btn-primary--bold mt-3"
      i18n="@@web_cart_683"
      >Continue to checkout
    </tsl-button>
  </div>
</div>
