@import "~style/common";

.modal-body .modal-close {
  @include square(12px);
  top: 10px;
  right: 10px;
  tsl-svg-icon {
    @include square(12px);
    line-height: initial;
  }
}


#credit-card {
  width: 330px;
  height: 210px;
  background: url(/assets/images/credit-card.svg) no-repeat;
  font-family: $creditCardFont;
  font-size: $font-size-m;
  color: $white;
  text-shadow: 0 2px 4px rgba(37, 50, 56, 0.15);
  position: relative;
  .date, .number {
    position: absolute;
    bottom: 30px;
  }
  .date {
    left: 35px;
  }
  .number {
    right: 40px;
  }
}

form {
  padding: $spacing-ml;
  padding-top: $spacing-ms;
  label {
    display: block;
    font-size: $font-size-s;
    line-height: $line-height-l;
    input {
      margin-right: $spacing-ms;
    }
    strong {
      font-size: $font-size-m;
      margin-left: $spacing-xl;
    }
  }
  tsl-button {
    margin-top: $spacing-ml;
  }
}

tsl-stripe-card-selection {
  width: 100%;
}

.Cart__NewCard {
  &--add, &--used {
    margin-bottom: $spacing-s;
    font-size: $font-size-s;
    color: $walla-main;
    cursor: pointer;
  }
}
