@import '~style/common';

tsl-card {
  cursor: pointer;
  border-radius: $border-radius;
  box-shadow: 0 0 2px 0 rgba($black, 0.1);
  transition: all 0.15s ease;
  & ::ng-deep tsl-card-image {
    display: block;
    padding: $spacing-xs;
  }
  & ::ng-deep tsl-card-content {
    padding-top: $spacing-ms;
    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      display: inline-block;
    }
  }

  & ::ng-deep tsl-card-footer {
    position: relative;
    .cart-footer-icon {
      position: absolute;
      &.active path {
        fill: $negative-main;
        stroke: $negative-dark;
      }
    }
    .cart-footer-text {
      text-align: center;
    }
    &:hover,
    &:focus {
      cursor: pointer;
      background: rgba($blue-grey-4, 0.2);
    }
  }
}
