@import '~style/common';

.InvoiceHistory {
  padding: $spacing-l;
  &__load-more-container {
    display: flex;
    justify-content: center;
  }
}

.inbox-size {
  width: 100%;
}

.content {
  text-align: center;
  color: $blue-grey-2;
  font-size: $font-size-s;
}
