<div class="box profile-box">
  <div class="InvoiceHistory">
    <div class="row mb-2 mb-md-4">
      <div class="col-12">
        <h3 i18n="@@InvoiceHistory">Invoice history</h3>
            <div *ngIf="!invoiceTransactions || (invoiceTransactions && !invoiceTransactions.length)">
              <img class="inbox-size" src="/assets/images/empty-invoices-placeholder.svg"/>
              <div class="content">
                <span [hidden]="!loading" i18n="@@LoadingData">We are loading your invoice history...</span>
                <span *ngIf="isErrorLoading" i18n="@@NotLoadedInvoices">Sorry, we cannot load your invoices at this time. Please try again later.</span>
                <span i18n="@@EmptyHistory" *ngIf="isShowed('EmptyHistory')">Your history is empty.</span>
                <span i18n="@@NotOldInvoices" *ngIf="isShowed('NotOldInvoices')">You don't have any old invoices. Fill in the invoicing data for future purchases.</span>
              </div>
            </div>
      </div>
    </div>
    <tsl-invoice-item 
    *ngFor="let invoice of sortedInvoices | slice:0:limit"
    [invoice]="invoice"
    [active]="active"
    >
    </tsl-invoice-item>
    <div class="InvoiceHistory__load-more-container" *ngIf="showLoadMore()">
      <a class="load-more">
        <tsl-button className="btn-outline-primary" (click)="loadMore()" i18n="@@loadMoreButton"
        >Load more
        </tsl-button>
      </a>
    </div>
  </div>
</div>