<div class="item" *ngIf="cartProItem">
  <div class="item-first-section">
    <div class="item-info">
      <tsl-item-avatar [item]="cartProItem.item" size="big" fallbackLight="true" title="{{cartProItem.item.title}}"></tsl-item-avatar>
      <div>
        <div class="price">{{cartProItem.item.salePrice | customCurrency:cartProItem.item.currencyCode}}</div>
        <p class="title">{{cartProItem.item.title}}</p>
      </div>
    </div>
    <div class="item-actions">
      <div class="item-separator"></div>
      <div class="btn-bumps citybump" id="qa-checkout-pro-select-citybump" [ngClass]="{selected: cartProItem.bumpType === 'citybump'}" (click)="selectBump('citybump')">
        <tsl-svg-icon src="/assets/icons/bump-city-pro.svg"></tsl-svg-icon>
      </div>
      <div class="item-separator"></div>
      <div class="btn-bumps countrybump" id="qa-checkout-pro-select-countrybump" [ngClass]="{selected: cartProItem.bumpType === 'countrybump'}" (click)="selectBump('countrybump')">
        <tsl-svg-icon src="/assets/icons/bump-country-pro.svg"></tsl-svg-icon>
      </div>
    </div>
  </div>
  <div class="item-separator"></div>
  <div class="item-second-section">
    <form [formGroup]="datesForm" class="d-flex flex-row align-items-center w-100 justify-content-around">
      <div class="d-flex flex-column">
        <span class="label-date" i18n>Start date</span>
        <input class="form-control input-date" (focus)="onDateFocus()" placeholder="dd/mm/yyyy"
          
          [ngClass]="cartProItem.bumpType"
          name="fromDate_{{index}}"
          formControlName="fromDate">
      </div>
      <div class="d-flex flex-column">
        <span class="label-date" i18n>End date</span>
        <input class="form-control input-date" (focus)="onDateFocus()" placeholder="dd/mm/yyyy"
          
          [ngClass]="cartProItem.bumpType"
          name="toDate_{{index}}"
          formControlName="toDate">
      </div>
      <button class="item-reset" (click)="removeItem()" [disabled]="!cartProItem.bumpType"></button>
    </form>
  </div>
</div>
<tsl-range-datepicker class="ItemCalendar" *ngIf="!calendarHidden"
  (applyCalendar)="onApplyCalendar($event)"
  (closeCalendar)="calendarHidden = true"
  [bumpType]="cartProItem.bumpType"
  [selectedDates]="cartProItem.selectedDates"
  >
</tsl-range-datepicker>