<div class="modal-close" (click)="activeModal.dismiss()">
  <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
</div>
<div class="spinner-wrapper" [hidden]="!mainLoading" >
  <tsl-svg-icon src="/assets/icons/spinner.svg" class="spinner"></tsl-svg-icon>
</div>
<div class="buy-modal" [hidden]="mainLoading" [class.credits]="withCredits">
  <div class="left image-col">
    <ng-container *ngIf="!withCredits">
      <h2>{{pack.quantity | number}} {{pack.name}}</h2>
      <div class="for-free" *ngIf="pack.forFree > 0" i18n>{{pack.forFree | number}} as a gift!</div>
      <div class="icon icon-{{packIndex}}"></div>
    </ng-container>
    <ng-container *ngIf="withCredits">
      <div class="icon">
        <div class="quantity">{{pack.quantity | customCurrency}}</div>
        <div class="label" i18n>Recharge</div>
      </div>
    </ng-container>
  </div>
  <div class="right">
    <div class="for-free modal-title" *ngIf="pack.forFree > 0" i18n>{{pack.forFree | customCurrency}} as a gift!</div>
    <div class="price" [class.spacing]="!pack.forFree">
      <div class="total" i18n>Price</div>
      <div class="amount">{{pack.price | customCurrency}}</div>
    </div>
    <tsl-stripe-card-selection *ngIf="hasSavedCard && savedCard" (handleSelectExistingCard)="setSavedCard($event)"
                               (hasCard)="hasCard($event)"
    ></tsl-stripe-card-selection>
    <div class="Cart__NewCard--add" (click)="addNewCard()" *ngIf="savedCard" i18n>+ Add another credit card</div>
    <div class="Cart__NewCard--used" (click)="removeNewCard()" *ngIf="showCard && hasSavedCard" i18n>Use saved card</div>
    <tsl-stripe-card-element *ngIf="showCard" [type]="'bump'" [cart]="cart" (stripeCardToken)="checkout($event)"
                             (stripeCard)="setCardInfo($event)" [loading]="loading"
    ></tsl-stripe-card-element>
    <tsl-button [hidden]="!savedCard"
                className="btn-block btn-primary"
                (click)="checkout()"
                [loading]="loading"
                [disabled]="!selectedCard"
    >
      <div class="secure-payment-button">
        <span i18n>Buy now</span>
      </div>
    </tsl-button>
  </div>
</div>
