@import '~style/common';

.TrackingDetailInfo {
  background-color: $white;
  padding: 13px 20px;

  &__imageWrapper {
    margin-right: 12px;
    @include square(48px);
  }

  &__image {
    object-fit: cover;
    border-radius: 5px;

    &--round {
      border-radius: 50%;
    }
  }

  &__fallbackSvg {
    ::ng-deep svg path {
      fill: $blue-grey-5;
    }
  }

  &__textWrapper {
    overflow: hidden;
    flex: 1;
  }

  &__title {
    color: $blue-grey-2;
  }

  &__subtitle {
    color: $blue-grey-1;
  }

  &__arrowRight {
    ::ng-deep svg path {
      fill: $blue-grey-1;
    }
  }
}
