<div class="TrackingDetailInfo d-flex">
  <div class="TrackingDetailInfo__iconWrapper d-flex align-items-center justify-content-center">
    <img
      *ngIf="iconSrc"
      [src]="iconSrc"
      alt="icon"
      class="TrackingDetailInfo__icon w-100 h-100"
      [ngClass]="{
        'TrackingDetailInfo__icon--round': isRoundedIcon
      }"
    />
  </div>
  <div
    class="TrackingDetailInfo__descriptionWrapper overflow-hidden mr-3"
    [innerHTML]="sanitizer.bypassSecurityTrustHtml(description)"
  ></div>
  <tsl-svg-icon
    *ngIf="showCaret"
    src="/assets/icons/arrow-right.svg"
    width="5"
    height="10"
    class="TrackingDetailInfo__arrowRight d-flex align-items-center mr-4"
  ></tsl-svg-icon>
</div>
