@import '~style/common';

$image-border-radius-default: 5px;
$padding-container: 13px 20px;
$image-wrapper-margin-right: 12px;
$image-size: 48px;

.TrackingDetailInfo {
  background-color: $white;
  padding: $padding-container;

  &__imageWrapper {
    margin-right: $image-wrapper-margin-right;
    @include square($image-size);
  }

  &__image {
    object-fit: cover;
    border-radius: $image-border-radius-default;

    &--round {
      border-radius: 50%;
    }
  }

  &__textWrapper {
    overflow: hidden;
    flex: 1;
  }

  &__title {
    color: $blue-grey-2;
  }

  &__subtitle {
    color: $blue-grey-1;
  }

  &__arrowRight {
    ::ng-deep svg path {
      fill: $blue-grey-1;
    }
  }
}
