@import '~style/common';

$icon-border-radius-default: 5px;
$padding-container: 13px 20px;
$icon-wrapper-margin-right: 12px;
$icon-size: 48px;

.TrackingDetailInfo {
  background-color: $white;
  padding: $padding-container;

  &__iconWrapper {
    margin-right: $icon-wrapper-margin-right;
    @include square($icon-size);
  }

  &__icon {
    object-fit: cover;
    border-radius: $icon-border-radius-default;

    &--round {
      border-radius: 50%;
    }
  }

  &__descriptionWrapper {
    overflow: hidden;
    flex: 1;
  }

  &__arrowRight {
    ::ng-deep svg path {
      fill: $blue-grey-1;
    }
  }
}
