@import "~style/common";

$title-height: 64px;
$filters-nav-height: 38px;

h2 {
  margin: $spacing-ml;
  font-weight: $font-weight-chunky;
  font-size: $font-size-ll;
  letter-spacing: $letter-spacing;
  display: flex;
  align-items: center;
  .badge {
    margin-left: $spacing-ms;
    vertical-align: middle;
  }
}

.header {
  border-bottom: 1px solid $blue-grey-5;
}

.scroll-panel {
  display: block;
  height: calc(100vh - #{$topbar-height});
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  &.professional {
    height: calc(100vh - #{$topbar-height} - #{$title-height} - #{$filters-nav-height});
  }
}

.nav.filters-nav {
  margin-left: $spacing-ml;
}

tsl-process-all-button {
  float: right;
  margin-top: $spacing-ms;
  margin-right: $spacing-ms;
}

#loader {
  padding-top: $spacing-ml;
  mat-icon {
    width: 339px;
    height: 487px;
  }
}

.load-more-container {
  $load-more-container-height: 48px;
  $spinner-size: 14px;
  line-height: $line-height-xxl;
  height: $load-more-container-height;
  text-align: center;
  .load-more {
    color: $walla-main;
    position: relative;
    text-transform: uppercase;
    font-size: $font-size-xs;
    font-weight: $font-weight-chunky;
    .spinner {
      height: $spinner-size;
      width: $spinner-size;
      svg {
        position: absolute;
        top: 0;
        left: -17px;
      }
    }
    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }
}
