<div class="modal-body">
  <div class="modal-close" (click)="activeModal.dismiss()">
    <mat-icon svgIcon="cross"></mat-icon>
  </div>
  <ngb-carousel interval="0" (slide)="onSlide($event)">
    <ng-template ngbSlide>
      <div class="step step-1">
        <h2 i18n>Introducing... credit!</h2>
        <p i18n>You don't need to pay for each feature anymore. Now you can buy packs of features... and save money!</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="step step-2">
        <h2 i18n>Custom packs</h2>
        <p i18n>Depending on your needs, you can choose the pack of wallacoins that best suits you. No matter if you buy a lot of features or a few, you will save money for sure.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="step step-3">
        <h2 i18n>Only for your features</h2>
        <p i18n>Watch out! The available credit can be only used to buy features. As well, there are many advantages, you will save money and you will pay just once.</p>
      </div>
    </ng-template>
  </ngb-carousel>
  <tsl-button *ngIf="!isLast" (click)="carousel.next()" i18n>Next</tsl-button>
  <tsl-button *ngIf="isLast" (click)="activeModal.close()">
    <span i18n>Go to credit</span>
  </tsl-button>
</div>
