<div class="page-content">
  <div class="container">
    <tsl-header>
      <div class="col-9 col-md-11">
        <div class="header-row">
          <h1 class="header-title" i18n>Your favorites</h1>
        </div>
        <div class="header-row">
          <h4 class="header-subtitle" *ngIf="selectedStatus === 'products'" i18n>These are the wallapop products that
            you like the most</h4>
          <h4 class="header-subtitle" *ngIf="selectedStatus === 'profiles'" i18n>These are the wallapop profiles that
            you like the most</h4>
        </div>
      </div>
      <div class="col-3 col-md-1 header-numbers">
        <p class="header-numbers-top">{{numberOfFavorites}}</p>
        <p class="header-numbers-bottom">
          <span *ngIf="numberOfFavorites > 1 || numberOfFavorites === 0" i18n>favorites</span>
          <span *ngIf="numberOfFavorites === 1" i18n>favorite</span>
        </p>
      </div>
    </tsl-header>
    <div class="row">
      <div class="col-12">
        <nav class="nav filters-nav">
          <a class="nav-link" (click)="routesByStatus('products')" i18n  routerLinkActive="active">Products</a>
          <a class="nav-link" (click)="routesByStatus('profiles')" i18n="tab|plural" routerLinkActive="active">Profiles</a>
        </nav>
      </div>
    </div>
    <div class="mt-3">
      <router-outlet (onItemsPageChange)="onItemsPageChange($event)"></router-outlet>
    </div>
  </div>
</div>