<div class="position-absolute ItemFlag d-flex w-100">
    <tsl-item-flag *ngIf="statusFlag" [type]="statusFlag" class="position-absolute ItemFlag--left">
    </tsl-item-flag>
    <tsl-item-flag *ngIf="bumpedFlag" [type]="bumpedFlag" class="position-absolute ItemFlag--right" i18n="@@Featured">
        Featured</tsl-item-flag>
</div>
<tsl-images-carousel [slides]="images" (slideClick)="imageClick.emit($event)" (nextIndexSlide)="currentIndex = $event">
    <ng-template #slider>
        <img [src]="images[currentIndex]" />
    </ng-template>
</tsl-images-carousel>