<div class="position-absolute ItemFlag d-flex w-100">
    <tsl-item-flag *ngIf="statusFlag" [type]="statusFlag" class="position-absolute ItemFlag--left">
    </tsl-item-flag>
    <tsl-item-flag *ngIf="bumpedFlag" [type]="bumpedFlag" class="position-absolute ItemFlag--right" i18n="@@Featured">
        Featured</tsl-item-flag>
</div>
<div [ngClass]="isActive ? 'ItemImagesCarousel--active' : 'ItemImagesCarousel--disabled'" class="w-100 h-100">
    <tsl-carousel-slides (slideClick)="imageClick.emit($event)" [showCarouselControllers]="!itemFlags?.expired">
        <ng-template carousel-slider *ngFor="let image of images">
            <img [src]="image" />
        </ng-template>
    </tsl-carousel-slides>
</div>