<div class="select-card" *ngIf="financialCard">
  <form>
    <div ngbRadioGroup name="cardType" [(ngModel)]="model">
      <label ngbButtonLabel class="custom-radio">
        <input ngbButton type="radio" value="old">
        <mat-icon svgIcon="radio-button"></mat-icon>
        <mat-icon svgIcon="card" class="card-icon"></mat-icon>
        <div class="number">{{financialCard?.number}}</div>
        <div class="date">{{financialCard?.expire_date | date:'MM/yy'}}</div>
      </label>
      <label ngbButtonLabel class="custom-radio new-card">
        <input ngbButton type="radio" value="new">
        <mat-icon svgIcon="radio-button"></mat-icon>
        <span i18n>+ Add another credit card</span>
      </label>
    </div>
  </form>
</div>
