@import '~style/common';

$element-height: 48px;

.DrawerNavigationElement {
  background-color: $white;
  height: $element-height;
  -webkit-tap-highlight-color: $blue-grey-5;
  appearance: none;

  &__text {
    text-decoration: none;
    color: $blue-grey-1;
  }

  &:active {
    background-color: $blue-grey-5;
  }
}
