<div class="box ProFeatures">
    <form [formGroup]="proFeaturesForm">
        <div class="row">
            <div class="col">
                <h2 class="d-flex">
                    <span i18n="@@upload_pro_user_additional_services_info_title">Additional services</span>
                    <tsl-pro-badge class="ml-2"></tsl-pro-badge>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col ProFeatures__content">
                <div class="d-flex justify-content-between mb-3">
                    <span i18n="@@additional_services_selector_pro_user_install_service_info_title">Installation
                        service</span>
                    <tsl-toggle-form formControlName="installation"
                        (ngModelChange)="onClick($event, ANALYTICS_EVENT_NAMES.ClickInstallationAdditionalServicesUpload)">
                    </tsl-toggle-form >
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <span i18n="@@additional_services_selector_pro_user_config_service_info_title">Configuration
                        service</span>
                    <tsl-toggle-form  formControlName="configuration"
                        (ngModelChange)="onClick($event, ANALYTICS_EVENT_NAMES.ClickConfigurationAdditionalServicesUpload)">
                    </tsl-toggle-form>
                </div>
                <div class="d-flex justify-content-between">
                    <span i18n="@@additional_services_selector_pro_user_guarantee_service_info_title">Guarantee</span>
                    <tsl-toggle-form formControlName="warranty">
                    </tsl-toggle-form>
                </div>
                <div class="form-group" *ngIf="proFeaturesForm.value.warranty">
                    <label i18n="@@additional_services_selector_pro_user_guarantee_service_info_period_label">Guarantee
                        period</label>
                    <div class="d-flex">
                        <input type="number" class="form-control mr-3" min="0" formControlName="warrantyAmount"
                            (keyup)="onClick(proFeaturesForm.value.warranty, ANALYTICS_EVENT_NAMES.ClickWarrantyAdditionalServicesUpload)"
                            max="9999" />
                        <tsl-dropdown class="form-control" [options]="dropdownOptions" noFilter="10"
                            formControlName="warrantyPeriod"></tsl-dropdown>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>