<div class="box">

    <div class="row">
        <div class="col">
            <h2 class="d-flex">
                <span i18n="@@upload_pro_user_additional_services_info_title">Additional services</span>
                <tsl-pro-badge class="ml-2"></tsl-pro-badge>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <span i18n="@@additional_services_selector_pro_user_install_service_info_title">Installation service</span>
                <tsl-switch></tsl-switch>
            </div>
            <div>
                <span i18n="@@additional_services_selector_pro_user_config_service_info_title">Configuration service</span>
                <tsl-switch></tsl-switch>
            </div>
            <div>
                <span i18n="@@additional_services_selector_pro_user_guarantee_service_info_title">Guarantee</span>
                <tsl-switch></tsl-switch>
            </div>
        </div>

    </div>
</div>