<form>
  <div class="textarea-component" [ngClass]="{focus: isFocus}">
      <textarea #messageTextarea
                name="message"
                [(ngModel)]="message"
                placeholder="{{getPlaceholder()}}"
                (keydown.enter)="sendMessage($event)"
                [disabled]="!isMessagingAvailable()"
                [ngClass]="{selected: !isEmpty() && isMessagingAvailable()}"
                (focus)="onFocusElement()"
                (focusout)="onFocusElement()"
                rows="1"
                autosize [maxRows]="5"
                class="textarea-element" maxlength="300">
      </textarea>
    <a (click)="sendMessage($event)" class="btn-send-message"
       [ngClass]="{selected: !isEmpty() && isMessagingAvailable()}">
      <mat-icon svgIcon="send"></mat-icon>
    </a>
  </div>
</form>
