<form>
  <textarea #messageTextarea
            name="message"
            [(ngModel)]="message"
            placeholder="{{getPlaceholder()}}"
            (keydown.enter)="sendMessage($event)"
            [disabled]="!isMessagingAvailable()"
            [ngClass]="{selected: !isEmpty() && isMessagingAvailable()}"
            class="textarea" maxlength="300">
  </textarea>
  <a id="send" (click)="sendMessage($event)" [ngClass]="{selected: !isEmpty() && isMessagingAvailable()}">
    <mat-icon svgIcon="send"></mat-icon>
  </a>
</form>
