<form>
  <textarea placeholder="{{getPlaceholder()}}"
            #messageArea
            (keyup)="messageArea.value"
            (keydown.enter)="sendMessage(messageArea, $event)"
            [disabled]="!isMessagingAvailable()"
            [ngClass]="{selected: messageArea.value.trim() && isMessagingAvailable()}"
            [attr.value]="messageArea.value"
            maxlength="300"></textarea>
  <a id="send" (click)="sendMessage(messageArea, $event)" [ngClass]="{selected: messageArea.value.trim() && isMessagingAvailable()}">
    <mat-icon svgIcon="send"></mat-icon>
  </a>
</form>
