@import "../../../style/_common.scss";

form {
  $input-height: 50px;
  height: $input-height + $spacing;
  position: relative;
  margin: $spacing;
  textarea {
    border-radius: $border-radius;
    max-height: $input-height;
    width: 100%;
    height: $input-height;
    line-height: $input-height;
    padding: 0 0 0 $spacing-M;
    outline: none;
    resize: none;
    overflow: hidden;
    border: 0;
    border-top: 1px solid $grey-50;
    &::-webkit-input-placeholder {
      color: $grey-300;
    }
    &[disabled] {
      opacity: .5;
      &::-webkit-input-placeholder {
        color: $warn;
      }
    }
  }

}
