@import "~style/common";

form {
  $input-height: $chat-input - $spacing-ml;
  $send-icon-size: 40px;
  height: $input-height;
  position: relative;
  textarea {
    border-radius: 100px;
    max-height: $input-height;
    width: 100%;
    height: $input-height;
    line-height: $input-height;
    padding: 0 #{$send-icon-size + $spacing-m} 0 $spacing-m;
    outline: none;
    resize: none;
    overflow: hidden;
    border: 1px solid $blue-grey-5;
    transition: .15s ease all;
    &:focus {
      border-color: $walla-main;
    }
    &::-webkit-input-placeholder {
      color: $blue-grey-3;
    }
    &[disabled] {
      opacity: .5;
      &::-webkit-input-placeholder {
        color: $negative-main;
      }
    }
    &.selected {
      border: 1px solid $walla-main;
    }
  }
  #send {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 50%;
    background: $blue-grey-4;
    @include square($send-icon-size);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .15s ease all;
    mat-icon {
      width: 22px;
      height: 23px;
    }
    &.selected {
      background: $walla-main;
    }
  }

}
