@import "~style/common";

form {
  $input-height: $chat-input - $spacing-ml;
  $send-icon-size: 40px;
  height: $input-height;
  position: relative;
  textarea {
    border-radius: 100px;
    max-height: $input-height;
    width: calc(100% - #{$spacing-ml * 2});
    margin: 0 $spacing-ml;
    margin-bottom: $spacing-ml;
    height: $input-height;
    line-height: $input-height;
    padding: 0 #{$send-icon-size + $spacing-m} 0 $spacing-m;
    outline: none;
    resize: none;
    overflow: hidden;
    border: 2px solid $grey-50;
    &:focus {
      border-color: $grey-100;
    }
    &::-webkit-input-placeholder {
      color: $grey-200;
    }
    &[disabled] {
      opacity: .5;
      &::-webkit-input-placeholder {
        color: $warn;
      }
    }
    &.selected {
      border: 2px solid $corporate;
    }
  }
  #send {
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 5px;
    border-radius: 50%;
    background: $grey-100;
    @include square($send-icon-size);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .15s ease all;
    mat-icon {
      width: 22px;
      height: 23px;
    }
    &.selected {
      background: $corporate;
    }
  }

}
