@import '~style/common';

$drawing-height: 130px;

.KYCStatus {
  &__content {
    width: 100%;
    @include media-breakpoint-up(sm) {
      width: 70%;
    }

    &__info {
      height: inherit;
    }
  }

  &__title,
  &__subtitle {
    color: $blue-grey-1;
  }

  &__title {
    font-weight: $font-weight-chunky;
    font-size: $font-size-l;
  }

  &__drawing {
    height: $drawing-height;
  }

  &__bottomContainer {
    bottom: 0;
    background-color: transparentize($white, 0.5);

    &__button {
      width: 100%;
      @include media-breakpoint-up(sm) {
        width: 75%;
      }
    }
  }
}
