<div class="KYCStatus h-100" *ngIf="properties">
    <div class="h-100 d-flex justify-content-center">
        <div class="KYCStatus__content h-100 d-flex flex-column justify-content-between">
            <div class="KYCStatus__content__info d-flex flex-column justify-content-center">
                <div class="KYCStatus__drawing mb-4 w-100">
                    <tsl-svg-icon [src]="properties.svgPath" width="100" height="100" sizeUnit="%"></tsl-svg-icon>
                </div>
                <span class="KYCStatus__title d-block mt-4 mb-3 text-center">{{properties.title}}</span>
                <span class="KYCStatus__description d-block mb-3 text-center">{{properties.description}}</span>
                <a *ngIf="properties.showZendeskLink"
                    i18n="@@kyc_failed_modal_help_link"
                    [href]="HELP_FORM_URL" class="KYCStatus__link text-center mb-3" target="_blank">Need help?</a>
            </div>
            <div class="KYCStatus__bottomContainer d-flex justify-content-center px-2 position-sticky">
                <div class="KYCStatus__bottomContainer__button">
                    <tsl-button className="btn-primary btn-block" (click)="buttonClick.emit()">{{properties.messageCTA}}</tsl-button>
                </div>
            </div>
        </div>
    </div>
</div>