
<p *ngIf="value?.length > 0 && (shownChildrenOptionId$ | async) === null && reseteable" class="MultiSelectFormV2__reset position-absolute m-0" i18n="@@filter_by_subcategory_all_users_level_1_top_bar_restablish_label" (click)="unselectAll()">Reset</p> 

<ng-container *ngFor="let option of extendedOptions$ | async">
  <div *ngIf="(shownChildrenOptionId$ | async) === null" class="w-100">
    <tsl-multi-select-option class="MultiSelectFormV2__option d-block" [option]="option" [isDisabled]="disabled || isDisabledByMaxLengthReached(option.checked)" 
    (toggleOnChange)="handleToggleChange($event)" (click)="showChildren(option);"></tsl-multi-select-option>
  </div>

  <ng-container *ngIf="(shownChildrenOptionId$ | async) === option.value">
    <div class="MultiSelectFormV2__children" #children>
      <div class="MultiSelectFormV2__children__header position-absolute">
        <div class="MultiSelectFormV2__children__back d-flex justify-content-between p-3" (click)="restartNavigation()">
         <div class="d-flex align-items-center">
          <tsl-svg-icon class="d-block mr-2" src="assets/icons/arrow-right.svg"></tsl-svg-icon> 
          <span class="font-weight-bold">{{option.label}}</span>
         </div>
          <p *ngIf="hasSelectedChildren(option) && reseteable" class="m-0" i18n="@@filter_by_subcategory_all_users_level_2_top_bar_restablish_label" (click)="unselectAllChildren(option)">Reset</p>
        </div>

        <p class="MultiSelectFormV2__children__select-all font-weight-bold p-3 m-0" i18n="@@filter_by_subcategory_all_users_level_2_select_all_label" (click)="selectAllChildren(option)">Select all</p>
      </div>

  
      <div class="MultiSelectFormV2__children__options">
        <div *ngFor="let childOption of option.children" class="w-100">
          <tsl-multi-select-option class="MultiSelectFormV2__option d-block" [option]="childOption" [isDisabled]="disabled || isDisabledByMaxLengthReached(childOption.checked)" (toggleOnChange)="handleChildToggleChange($event, option)"></tsl-multi-select-option>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
