@import '~style/common';

.modal-close {
  @include square(13px);
  tsl-svg-icon {
    @include square(13px);
    line-height: initial;
  }
}

.content-col {
  padding: $spacing-xl $spacing-m;
  .modal-text {
    text-align: center;
    max-width: 300px;
    margin: 0 auto $spacing-l auto;
  }
}
