@import "~style/common";

.item {
  background: $white;
  border-radius: $border-radius;
  border: solid 1px $blue-grey-5;
  margin-bottom: $spacing-s;
  padding: $spacing-xs;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .item-first-section, .item-second-section {
    display: flex;
  }
  .item-first-section {
    width: 60%;
    display: flex;
  }
  .item-second-section {
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
  }
  .item-info {
    display: flex;
    align-items: center;
    width: 50%;
  }
  .item-actions {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .item-reset {
    width: 9px;
    height: 9px;
    margin-top: $spacing-m;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI5IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik01LjU2IDQuNWwzLjIyLTMuMjJBLjc1Ljc1IDAgMSAwIDcuNzIuMjJMNC41IDMuNDQgMS4yOC4yMkEuNzUuNzUgMCAxIDAgLjIyIDEuMjhMMy40NCA0LjUuMjIgNy43MmEuNzUuNzUgMCAxIDAgMS4wNiAxLjA2TDQuNSA1LjU2bDMuMjIgMy4yMmEuNzQ4Ljc0OCAwIDAgMCAxLjA2IDAgLjc1Ljc1IDAgMCAwIDAtMS4wNkw1LjU2IDQuNXoiIGZpbGw9IiM2MDdEOEIiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    &:hover {
      opacity: 0.5;
    }
    &:disabled {
      cursor: not-allowed;
      opacity: 0.3;
    }
  }
  .price {
    font-weight: $font-weight-chunky;
  }
  .title {
    margin: 0;
    font-size: $font-size-s;
    color: $blue-grey-3;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: 41px;
    -webkit-box-orient: vertical
  }
  .btn-bumps {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: $blue-grey-5;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    mat-icon {
      transition: fill 0.2s ease-in-out;
      height: 17px;
    }
    &.citybump {
      &:hover, &.selected {
        background-color: $walla-main;
        mat-icon {
          ::ng-deep svg path {
            fill: $white;
          }        
        }
      }
    }
    &.countrybump {
      mat-icon {
        width: 32px;
      }
      &:hover, &.selected {
        background-color: $country-bump;
        mat-icon {
          ::ng-deep svg path {
            fill: $white;
          }        
        }
      }
    }
  }
  .label-date {
    font-size: $font-size-xs;
    color: $blue-grey-3;
  }
  .input-date {
    font-family: Wallie;
    width: 120px;
    height: 32px;
    border-radius: 5px;
    font-size: $font-size-s;
    &.ng-valid {
      color: $blue-grey-2;
      font-weight: $font-weight-chunky;
    }
    &.citybump {
      &:hover, &:focus {
        border-color: $walla-main;
      }
    }
    &.countrybump {
      &:hover, &:focus {
        border-color: $country-bump;
      }
    }
    &:disabled {
      background-color: $white;
      border-color: $blue-grey-5;  
      color: $blue-grey-5;
      &::placeholder {
        color: $blue-grey-5;
      }
    }
  }
  .item-separator {
    width: 1px;
    height: 61px;
    background-color: $blue-grey-5;
  }

  .form-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
  }

  .date-field {
    display: flex;
    flex-direction: column;
  }
}
