<ng-container *ngIf="!newSubscription; else newSubscriptionCard">
<tsl-subscription-list [isLoading]="loading" (openSubscriptionModal)="openSubscriptionModal($event)" [subscriptions]="subscriptions"></tsl-subscription-list>

<tsl-subscription-benefits [hidden]="loading"></tsl-subscription-benefits>
</ng-container>

<ng-template #newSubscriptionCard>
  <tsl-new-subscription [subscription]="newSubscription" [user]="user" (purchaseSuccessful)="subscriptionChangeSuccessful()"></tsl-new-subscription>
</ng-template>
