<div class="modal-body">
  <h2 i18n="@@web_chat_modals_unblock_user_191">Unblock user</h2>
  <p i18n="@@web_chat_modals_unblock_user_192">You'll be able to send or receive messages from this user again. Do you wish to continue?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn" i18n="@@web_chat_modals_unblock_user_650" (click)="activeModal.dismiss()">Cancel</button>
  <button type="button" class="btn btn-warn" i18n="@@web_chat_modals_unblock_user_193" (click)="activeModal.close()">Unblock</button>
</div>
