<div class="VerificationCard GenericCard">
  <div class="row align-items-center">
    <div class="col-7 col-lg-8 col-xl-9">
      <div class="GenericCard__title">{{ title }}</div>
      <div class="mt-3" *ngIf="status === VERIFICATIONS_N_SECURITY_STATUS.VERIFIED">
        <div class="GenericCard__subtitle VerificationCard__verified mb-0" i18n="@@verification_and_security_all_users_verified_label">
          Verified
        </div>
      </div>
      <div class="mt-3" *ngIf="status === VERIFICATIONS_N_SECURITY_STATUS.NOT_VERIFIED">
        <div class="GenericCard__subtitle mb-0" i18n="@@verification_and_security_all_users_non_verified_label">Not verified</div>
      </div>
    </div>
    <div class="col-5 col-lg-4 col-xl-3">
      <tsl-button
        *ngIf="status === VERIFICATIONS_N_SECURITY_STATUS.VERIFIED || status === VERIFICATIONS_N_SECURITY_STATUS.NONE"
        class="w-100"
        className="btn-secondary w-100"
        i18n="@@verification_and_security_all_users_change_button"
        (click)="onButtonClick()"
        >Change</tsl-button
      >
      <tsl-button
        *ngIf="status === VERIFICATIONS_N_SECURITY_STATUS.NOT_VERIFIED"
        class="w-100"
        className="btn-primary btn-primary--bold w-100"
        i18n="@@verification_and_security_all_users_verify_button"
        (click)="onButtonClick()"
        >Verify</tsl-button
      >
    </div>
    <div class="col-12">
      <div *ngIf="footerLegend" class="GenericCard__subtitle VerificationCard__footer mt-3 mb-0">{{ footerLegend }}</div>
    </div>
  </div>
</div>
