@import "~style/common";

$icon-size: 12px;
$height: 40px;

h2 {
  font-size: $font-size-ll;
  font-weight: $font-weight-chunky;
  display: flex;
  align-items: center;
}

.items {
  margin-top: $spacing-ml;
  margin-bottom: $spacing-xxxl * 2;
  .add-item {
    width: 100%;
    svg {
      width: 100%;
      .dashed-border, .pic, .button, text {
        transition: all .2s ease;
      }
    }
    &:hover {
      $hover-color: $walla-dark;
      text-decoration: none;
      svg {
        .dashed-border {
          stroke: $hover-color;
        }
        .pic, .button, text {
          fill: $hover-color;
        }
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

tsl-button /deep/ .btn-logout  {
  padding: $spacing-ms $spacing-ml;
  background-color: transparent;
  border: solid 1px $blue-grey-4;
  color: $blue-grey-2;
  font-size: $font-size-s;
  border-radius: $button-border-radius;
  &:hover {
    background-color: $walla-main;
    color: $white;
    border: solid 1px $walla-main;
  }
}

tsl-button /deep/ .simple  {
  background-color: transparent;
  color: $walla-main;
  font-size: $font-size-m;
  font-weight: $font-weight-chunky;
  text-decoration: underline;
  &:hover {
    background-color: transparent;
    color: $walla-dark;
  }
}

tsl-spinner {
  width: 100%;
}

.info {
  text-align: center;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-s;
  mat-icon {
    /deep/ svg path {
      fill: $walla-main;
    }
    margin-right: $spacing-ms;
  }
  a {
    text-decoration: underline;
    cursor: pointer;
    color: $walla-main;
    &:hover {
      text-decoration: none;
    }
  }
}

#catalog-empty-state {
  display: flex;
  align-items: center;
  padding: 0 $spacing-ms;
  height: 84px;
  width: 100%;
  margin-bottom: $spacing-ml;
  background-image: url('/assets/icons/pro-items-empty-state.svg');
  background-size: contain;
  background-repeat: no-repeat;
  .empty-text {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    text-align: center;
    .link {
      color: $walla-main;
      text-decoration: underline;
      cursor: pointer;
      margin-left: $spacing-xs;
      &:hover {
        color: $walla-dark;
      }
    }
    tsl-button {
      margin-left: $spacing-xs;
      /deep/ button {
        color: $walla-main;
        text-decoration: underline;
        cursor: pointer;
        font-weight: normal;
        padding: 0;
      }
    }
  }
}

.banner {
  width: 100%;
  height: auto;
  margin-bottom: $spacing-ml;
  margin-top: -$spacing-xl;
}

tsl-search-input {
  vertical-align: bottom;
  margin-right: $spacing-ml;
}

tsl-search-input, .nav {
  margin-bottom: $spacing-ms;
  height: 38px;
}

tsl-select {
  font-size: $font-size-xs;
  font-weight: $font-weight-chunky;
  color: $blue-grey-2;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  height: 38px;
  line-height: $line-height-xl;
}

.intro {
  font-size: $font-size-s;
  color: $blue-grey-2;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: flex-start;
  margin: 0 0 $spacing-m;
  a {
    color: $walla-main;
  }
}

.border {
  width: 2px;
  height: 12px;
  background-color: $blue-grey-3;
  margin: $spacing-xs $spacing-ms 0;
}
