@import "~style/common";

$icon-size: 12px;
$height: 40px;

h2 {
  font-size: $font-size-LL;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.items {
  margin-top: $spacing;
  margin-bottom: $spacing-XL * 2;
  .add-item {
    width: 100%;
    svg {
      width: 100%;
      .dashed-border, .pic, .button, text {
        transition: all .2s ease;
      }
    }
    &:hover {
      $hover-color: $zone-bump-dark;
      text-decoration: none;
      svg {
        .dashed-border {
          stroke: $hover-color;
        }
        .pic, .button, text {
          fill: $hover-color;
        }
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

tsl-button /deep/ .btn-logout  {
  padding: 10px 18px;
  background-color: transparent;
  border: solid 1px $grey-100;
  color: $grey-600;
  font-size: $font-size-S;
  border-radius: $button-border-radius;
  &:hover {
    background-color: $corporate;
    color: $white;
    border: solid 1px $corporate;
  }
}

tsl-button /deep/ .simple  {
  background-color: transparent;
  color: $corporate;
  font-size: $font-size;
  font-weight: bold;
  text-decoration: underline;
  &:hover {
    background-color: transparent;
    color: $corporate-dark;
  }
}

tsl-spinner {
  width: 100%;
}

.info {
  text-align: center;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-S;
  mat-icon {
    /deep/ svg path {
      fill: $corporate;
    }
    margin-right: $spacing-S;
  }
  a {
    text-decoration: underline;
    cursor: pointer;
    color: $corporate;
    &:hover {
      text-decoration: none;
    }
  }
}

tsl-selected-items {
  position: absolute;
  bottom: 0;
  right: 0;
  left: $sidebar-width;
  z-index: 10;
}

#top-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
  .upload {
    font-weight: bold;
  }
}

#catalog-empty-state {
  padding: 0 10px;
  height: 103px;
  width: 100%;
  margin-bottom: 18px;
  mat-icon {
    position: absolute;
    height: auto;
    width: 98%;
    /deep/ svg {
      width: 100%;
      height: 103px;
    }
  }
  .empty-text {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    text-align: center;
    margin-top: $spacing * 2;
    .link {
      color: $corporate;
      text-decoration: underline;
      cursor: pointer;
      margin-left: $spacing-XXS;
      &:hover {
        color: $corporate-dark;
      }
    }
    tsl-button {
      margin-left: $spacing-XXS;
      /deep/ button {
        color: $corporate;
        text-decoration: underline;
        cursor: pointer;
        font-weight: normal;
        padding: 0;
      }
    }
  }
}

.banner {
  width: 100%;
  height: auto;
  margin-bottom: $spacing;
  margin-top: -$spacing-L;
}

tsl-search-input {
  vertical-align: bottom;
  margin-right: $spacing;
}

tsl-search-input, .nav {
  margin-bottom: 10px;
  height: 38px;
}

tsl-select {
  font-size: $font-size-XS;
  font-weight: bold;
  color: $grey-300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  height: 38px;
  line-height: 36px;
}

.intro {
  font-size: $font-size-S;
  color: $grey-500;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: start;
  margin: 0 0 $spacing-M;
  a {
    color: $corporate;
  }
}

.border {
  width: $spacing-XXXS;
  height: $spacing-S;
  background-color: $grey-200;
  margin: $spacing-XXS $spacing-S 0;
}
