@import "~style/common";

:host {
  display: block;
  margin-bottom: $spacing-s;
  line-height: $line-height-ml;
  overflow: hidden;

}

h5 {
  font-weight: $font-weight-chunky;
  font-size: $font-size-s;
  color: $white;
}

$avatar-size: 40px;
.message-avatar {
  color: $blue-grey-2;
  margin-right: $spacing-ml;
}

.message-avatar {
  float: left;
  margin: $spacing-ml 0 0;
  &.from-self {
    float: right;
    margin: $spacing-ml 0 0;
  }
}

.message-name {
  color: $blue-grey-1;
}
.message-body {
  color: $blue-grey-1;
  margin: $spacing-ml $spacing-xxxl 0 $spacing-xxxl;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  &.without-avatar {
    margin-top: 0;
    margin-left: #{$spacing-ml + $avatar-size};
  }
  &.calls-panel {
    margin-top: 0;
  }
  span {
    white-space: pre-wrap;
  }
  p {
    flex: 0 0 auto;
    width: fit-content;
    padding: $spacing-s $spacing-ms;
    border-radius: 20px;
    background-color: $blue-grey-6;
    margin-bottom: 0;
  }
  &.from-self {
    position: relative;
    flex-direction: row-reverse;
    p {
      padding-right :$spacing-xl;
      background-color: $walla-soft;
      float: right;
    }
  }
}

.message-status {
  position: absolute;
  bottom: 13px;
  right: 6px;
  width: 20px;
  height: 20px;
  background: center bottom no-repeat;
  &.pending { background-image: url(/assets/icons/msg-status-pending.svg); }
  &.sent { background-image: url(/assets/icons/msg-status-sent.svg); }
  &.received { background-image: url(/assets/icons/msg-status-received.svg); }
  &.read { background-image: url(/assets/icons/msg-status-read.svg); }
  &.error { background-image: url(/assets/icons/msg-status-error.svg); }
  &.received, &.read {
    right: 12px;
  }
}

.message-date {
  float: right;
  font-size: $font-size-xxs;
  white-space: pre;
  margin: 0 $spacing-xs 0 $spacing-s;
  color: $blue-grey-3;
  position: relative;
  bottom: -2px;
}

.media-left {
  min-width: 60px;
}

.calls-panel {
  span {
    color:  #90a4ae;
  }
}

.third-voice {
  text-align: center;
  margin: $spacing-ms 112px;
  border: 1px solid $blue-grey-5;
  border-radius: $border-radius;
  padding: $spacing-m;
  font-size: $font-size-s;
}

.phone-request {
  position: relative;
  flex-direction: column;
  max-width: 323px;
  .btn {
    display: block;
    width: auto;
    border-radius: 20px;
    color: $walla-main;
    margin: $spacing-ml auto 0;
  }
  span.new-line {
    display: block;
    color: $blue-grey-3;
    text-align: center;
    padding-bottom: $spacing-ms;
    margin-top: $spacing-xxl;
  }
}
