@import "~style/common";

:host {
  display: block;
  margin-bottom: $spacing-XS;
  line-height: $spacing;
  overflow: hidden;

}

h5 {
  font-weight: bold;
  font-size: $font-size-S;
  color: $white;
}

$avatar-size: 40px;
.message-avatar {
  color: $grey-700;
  margin-right: $spacing;
}

.message-avatar {
  float: left;
  margin: $spacing 0 0;
  &.from-self {
    float: right;
    margin: $spacing 0 0;
  }
}

.message-name {
  color: $grey-900;
}
.message-body {
  color: $grey-700;
  margin: $spacing $spacing-XL 0 $spacing-XL;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  &.without-avatar {
    margin-top: 0;
    margin-left: #{$spacing + $avatar-size};
  }
  &.calls-panel {
    margin-top: 0;
  }
  span {
    white-space: pre-wrap;
  }
  p {
    flex: 0 0 auto;
    width: fit-content;
    padding: $spacing-XS $spacing-S;
    border-radius: 20px;
    background-color: $grey-40;
    margin-bottom: 0;
  }
  &.from-self {
    position: relative;
    flex-direction: row-reverse;
    p {
      padding-right :$spacing-L;
      background-color: $corporate-light;
      float: right;
    }
  }
}

.message-status {
  position: absolute;
  bottom: $spacing-1S;
  right: $spacing-S;
  width: $spacing;
  height: $spacing;
  background: right bottom no-repeat;
  &.pending { background-image: url(/assets/icons/status-pending.svg); }
  &.sent { background-image: url(/assets/icons/status-sent.svg); }
  &.received { background-image: url(/assets/icons/status-received.svg); }
  &.read { background-image: url(/assets/icons/status-read.svg); }
}

.message-date {
  float: right;
  font-size: $font-size-XXS;
  white-space: pre;
  margin: 0 $spacing-XXS 0 $spacing-XS;
  color: $grey-250;
  position: relative;
  bottom: -2px;
}

.media-left {
  min-width: 60px;
}

.calls-panel {
  span {
    color:  #90a4ae;
  }
}

.third-voice {
  text-align: center;
  margin: $spacing-S 112px;
  border: 1px solid $grey-50;
  border-radius: $border-radius;
  padding: $spacing-M;
  font-size: $font-size-S;
}

.phone-request {
  position: relative;
  flex-direction: column;
  max-width: 323px;
  .btn {
    display: block;
    width: auto;
    border-radius: 20px;
    color: $corporate;
    margin: 20px auto 0; 
  }
  span.new-line {
    display: block;
    color: $grey-250;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 40px;
  }
}
