<div class="SlidesCarousel position-relative h-100 w-100" [ngClass]="{
    'SlidesCarousel--noBackgroundIndicators': noBackgroundIndicators, 
    'SlidesCarousel--hideControllers': hideControllers || isSingleSlide,
    'SlidesCarousel--hideIndicators': hideIndicators || isSingleSlide,
    'SlidesCarousel--smallControls': controlsSize === CONTROLS_SIZES.SMALL}">
    <ngb-carousel *ngIf="slides?.length; else fallbackImage" interval="0" id="defaultCarousel"
        (swipeleft)="swipe(SWIPE_DIRECTION.LEFT)" (swiperight)="swipe(SWIPE_DIRECTION.RIGHT)" [ngClass]="{}"
        [activeId]="activeId">
        <ng-template *ngFor="let slide of slides; let i = index" ngbSlide [id]="NGB_SLIDE + i">
            <div *ngIf="(currentSlide) === NGB_SLIDE+i || activeId === NGB_SLIDE + i" (click)="emitCurrentIndex(i)"
                class="w-100 h-100" id="slideContainer">
                <ng-template [ngTemplateOutlet]="slide.templateRef"></ng-template>
            </div>
        </ng-template>
    </ngb-carousel>
    <ng-template #fallbackImage>
        <img class="SlidesCarousel__fallbackImage h-100 w-100" [src]="IMAGE_FALLBACK" alt="fallback" loading="lazy">
    </ng-template>
</div>