@import '~style/common';

$modal-width: 600px;
$img-height: 220px;
$img-width: 375px;
$text-container-height: 215px;
$text-container-width: 310px;

.KYCInfoModal {
  @include media-breakpoint-up(sm) {
    width: $modal-width;
  }
  background-color: $white;
  border-radius: $border-radius;

  &__cross {
    z-index: 1;
    right: 0;
  }

  &__button {
    width: 230px;
  }

  &__slides {
    height: 520px;
  }

  &__img {
    height: $img-height;
    @include media-breakpoint-up(sm) {
      width: $img-width;
    }
    img {
      object-fit: contain;
    }
  }

  &__link {
    color: $walla-main !important;
  }

  &__textContainer {
    width: $text-container-width;
  }

  &__title {
    font-weight: $font-weight-chunky;
    font-size: $font-size-l;
  }

  &__link,
  &__description {
    font-size: $font-size-m;
  }

  &__title,
  &__description {
    color: $blue-grey-1;
  }

  &__cross,
  &__link {
    cursor: pointer;
  }
}
