<div class="KYCInfoModal">
    <tsl-svg-icon class="KYCInfoModal__cross position-absolute mt-4 mr-4" src="/assets/icons/cross.svg" (click)="activeModal.close()"></tsl-svg-icon>
    <div class="KYCInfoModal__slides p-4">
        <tsl-carousel-slides [hideControllers]="true" [noBackgroundIndicators]="true" [activeIndicatorWallaMain]="true">
            <ng-template carousel-slider *ngFor="let step of KYC_SLIDER_INFO_STEPS; let i = index">
                <div class="h-100 d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="KYCInfoModal__img mb-4 w-100">
                        <img class="px-3" [src]="step.image.src" [alt]="step.image.alt"/>
                    </div>
                    <div class="KYCInfoModal__textContainer d-flex flex-column pb-4">
                        <span class="KYCInfoModal__title mb-2">{{step.title}}</span>
                        <span class="KYCInfoModal__description mb-4">{{step.description}}</span>
                        <a class="KYCInfoModal__link pb-4" *ngIf="step.extraLink" [href]="zendeskURL" target="_blank" >{{step.extraLink}}</a>
                    </div>
                </div>
            </ng-template>
        </tsl-carousel-slides>
    </div>
    <div class="KYCInfoModal__bottomContainer d-flex justify-content-center pb-4 px-2 position-sticky">
        <div class="KYCInfoModal__bottomContainer__button">
            <tsl-button class="w-100" className="btn-primary btn--width" *ngIf="currentSlide !== LAST_SLIDE" (click)="swipeToRight()" i18n="@@kyc_request_modal_continue_button" id="continueButton">Continue</tsl-button>
            <tsl-button class="w-100" className="btn-primary btn--width" *ngIf="currentSlide === LAST_SLIDE" (click)="redirectToKYC()" i18n="@@kyc_request_modal_start_button" id="verifyButton">Verify identity</tsl-button>
        </div>
    </div>
</div>