<input
type="text" 
(keyup)="keyUp($event)"
[placeholder]="hashtagPlaceholder" 
(focus)="focus()"
(blur)="blur()"
[(ngModel)]="searchValue"
class="SuggesterInput border-0"
[disabled]="disabled"
#hashtagSuggesterInput
/>
<div [hidden]="!(!!options && options.length >= 1)">
    <div  class="SuggesterInput__hashtagList" #hashtagSuggesterOptions>
        <tsl-multi-select-form [(ngModel)]="suggestions" [options]="options" (change)="handleSelectedOption()" ></tsl-multi-select-form>
    </div>
</div>
