@import '~style/common';

.SuggesterInput {
  border: 0;
  background-color: transparent;
  &::placeholder {
    color: $blue-grey-2;
  }
  &__hashtagList {
    border: 1px solid $blue-grey-4;
    border-radius: 6px;
    color: $blue-grey-1;
    overflow: hidden;
  }
}
:host {
  tsl-multi-select-form {
    ::ng-deep > div {
      .MultiSelectOption .select {
        background-color: $blue-grey-5 !important;
      }
    }
  }
}
