<!-- Deeplinks -->
<tsl-transaction-tracking-action-deeplink *ngIf="isDeeplink" [deeplinkAction]="actionDetail">
  <ng-container *ngTemplateOutlet="contentTmp"></ng-container>
</tsl-transaction-tracking-action-deeplink>
<!-- Dialogs -->
<tsl-transaction-tracking-action-dialog *ngIf="isDialog" [modalAction]="actionDetail">
  <ng-container *ngTemplateOutlet="contentTmp"></ng-container>
</tsl-transaction-tracking-action-dialog>
<!-- TrackingWebview -->
<tsl-transaction-tracking-action-tracking-webview *ngIf="isCarrierTrackingWebview" [trackingWebviewAction]="actionDetail">
  <ng-container *ngTemplateOutlet="contentTmp"></ng-container>
</tsl-transaction-tracking-action-tracking-webview>
<!-- UserAction -->
<tsl-transaction-tracking-action-user-action *ngIf="isUserAction" [userAction]="actionDetail">
  <ng-container *ngTemplateOutlet="contentTmp"></ng-container>
</tsl-transaction-tracking-action-user-action>

<ng-template #contentTmp><ng-content></ng-content></ng-template>
