<div class="plan">
  <div class="car">
    <h3 i18n>your plan</h3>
    <div class="numbers">
      <div class="col-number gold"><span class="number">20</span><span class="text" i18n>Pro Plan</span></div>
      <div class="border"></div>
      <div class="col-number"><span class="number">20</span><span class="grey" i18n>Free Space</span></div>
      <div class="border"></div>
      <div class="col-number"><span class="number">20</span><span class="grey" i18n>Inactive</span></div>
    </div>
  </div>
  <div class="visibility">
    <h3 i18n>visibility</h3>
    <div class="row-visibility">
      <div class="numbers">
        <div class="col-number city"><span class="number">20</span><span i18n>City Plan</span></div>
        <div class="border"></div>
        <div class="col-number"><span class="number">20</span><span class="grey" i18n>Available</span></div>
        <div class="border"></div>
        <div class="col-number"><span class="number">20</span><span class="grey" i18n>In Use</span></div>
      </div>
      <div class="border-full"></div>
      <div class="numbers">
        <div class="col-number country"><span class="number">20</span><span i18n>Country Plan</span></div>
        <div class="border"></div>
        <div class="col-number"><span class="number">20</span><span class="grey" i18n>Available</span></div>
        <div class="border"></div>
        <div class="col-number"><span class="number">20</span><span class="grey" i18n>In Use</span></div>
      </div>
    </div>
  </div>
</div>
