@import '~style/common';

$checkbox-width: 24px;
$transition: all 0.25s ease;
$feature-button-width: 170px;

.CatalogItem__checkbox {
  width: $checkbox-width;
  transition: $transition;
  @include square($checkbox-width);
  border: 2px solid $blue-grey-4;
  border-radius: 6px;
  padding: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
  tsl-svg-icon {
    display: none;
  }

  &:hover {
    border-color: $walla-main;
  }

  &--selected {
    background: $walla-main;
    border-color: transparent;
    tsl-svg-icon {
      display: flex;
      ::ng-deep svg g g {
        fill: $white;
      }
    }
  }

  &--disabled {
    &:hover {
      border-color: $blue-grey-4;
      cursor: not-allowed;
    }
  }
}

.CatalogItem__content {
  background: $white;
  border-radius: $border-radius;
  border: solid 1px $blue-grey-5;
  transition: $transition;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 10px 0 rgba($blue-grey-1, 0.1);
  }

  &--expired,
  &--pending {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $white;
      opacity: 0.6;
      z-index: 1;
      border-radius: $border-radius;
    }
  }
  .onHold {
    opacity: 0.4;
  }

  &:not(.CatalogItem__content--selected):hover {
    .CatalogItem__content-veil {
      border: solid 1px $walla-main;
    }
  }

  &--selected {
    background-color: rgba($walla-main, 0.2);
    border: solid 1px $walla-main;
  }

  button,
  tsl-button ::ng-deep .btn-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px rgba($blue-grey-4, 0.5);
    cursor: pointer;
  }
  .subtitle {
    color: $blue-grey-3;
    max-width: 250px;
    @include text-truncate();
    &--onHold {
      color: $negative-main;
    }
  }

  .published {
    font-size: $font-size-s;
  }

  .actions {
    display: flex;
  }

  .actions {
    display: flex;
    button {
      @include square(40px);
      border-radius: 8px;
      transition: all 0.2s ease;
      background-color: $white;
      margin-right: $spacing-s;
      padding: 0;
      tsl-svg-icon {
        @include square(24px);
        ::ng-deep svg {
          height: 100%;
          width: 100%;
        }
      }
      tsl-svg-icon ::ng-deep {
        svg g g,
        svg path {
          fill: $blue-grey-2;
        }
      }
      &:hover,
      &.active {
        tsl-svg-icon ::ng-deep {
          svg g g,
          svg path {
            fill: $white;
          }
        }
      }
      &.btn-sold {
        &:hover {
          background: $magenta-main;
          border-color: transparent;
        }
      }
      &.btn-reserve {
        &:hover,
        &.active {
          background: $skyblue-dark;
          border-color: transparent;
        }
      }
      &.btn-delete {
        &:hover {
          background: $negative-main;
          border-color: transparent;
        }
      }
      &.btn-edit {
        &:hover {
          background: $blue-grey-2;
          border-color: transparent;
        }
      }
      @include media-breakpoint-down(md) {
        @include square(36px);
      }
    }
  }
  &--sold {
    .actions {
      min-width: auto;
    }
  }

  tsl-date-countdown {
    width: $feature-button-width;
  }

  .btn-featured {
    width: $feature-button-width;
    height: 40px;
    border: 1px solid $walla-main;
    color: $walla-main;
    cursor: default;
    font-size: $font-size-s;
    font-weight: $font-weight-chunky;
    border-radius: 8px;
    background-color: $white;
  }

  .btn-reactivate,
  .btn-pending {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    font-size: $font-size-s;
    border-radius: $border-radius;
    padding: 0 $spacing-s;
    width: 100%;
    max-width: 200px;
    height: 40px;
    tsl-svg-icon {
      margin-right: $spacing-s;
    }
  }

  .btn-pending {
    color: $blue-grey-1;
    background-color: $white;
  }

  .btn-reactivate {
    background-color: $magenta-main;
    font-weight: $font-weight-chunky;
    border-radius: 20px;
    color: $white;
    tsl-svg-icon ::ng-deep {
      svg g g,
      svg path {
        fill: $white;
      }
    }
    &:hover {
      background-color: transparent;
      border-color: $blue-grey-1;
      color: $blue-grey-1;
      border: solid 1px rgba(207, 216, 220, 0.5);
      tsl-svg-icon ::ng-deep {
        svg g g,
        svg path {
          fill: $blue-grey-1;
        }
      }
    }
  }

  .listing-fee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    padding-right: $spacing-s;
    flex: 1;
    font-size: $font-size-s;
    &.onHold {
      display: none;
    }
    .few-days {
      color: $magenta-main;
    }
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.feature-action {
  tsl-button {
    ::ng-deep .btn-feature {
      width: $feature-button-width;
      height: 40px;
      padding: 0 $spacing-ml;
      padding-left: $spacing-ms;
      font-size: $font-size-s;
      tsl-svg-icon {
        width: 19px;
        height: 21px;
        margin-right: $spacing-s;
      }
      @include media-breakpoint-down(md) {
        width: $feature-button-width * 0.5;
        padding: 0;
        tsl-svg-icon {
          margin: 0;
        }
        span {
          display: none;
        }
      }
    }
  }
}

.info-price,
.info-title {
  width: 100%;
  line-height: normal;
  @include text-truncate();
}

.info-price {
  font-weight: $font-weight-chunky;
  font-size: $font-size-l;
  &:focus {
    text-decoration: none;
  }
}

.CatalogItem__content-veil {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  z-index: 1;
  border-radius: $border-radius;
}

:host ::ng-deep ngb-tooltip-window {
  margin-top: -8px;
  &.show {
    opacity: 1;
  }
  .tooltip-inner {
    background-color: $blue-grey-1;
    font-family: $wallie;
    padding: 10px 15px;
    border-radius: $border-radius * 0.5;
    font-size: $font-size-s;
  }
  .arrow:before {
    border-top-color: $blue-grey-1;
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.item-info {
  flex: 0 0 90px;
  font-size: $font-size-s;
}

.clickable {
  cursor: pointer;
  &--onHold {
    color: $blue-grey-3;
  }
}

.item-image {
  flex: 0 0 80px;
  ::ng-deep tsl-item-avatar {
    padding: $spacing-xs;
    .big {
      margin: 0;
      @include media-breakpoint-down(md) {
        @include square(100px);
      }
    }
  }
  &--onHold {
    opacity: 0.4;
  }
}

.overflow-sm-hidden {
  @include media-breakpoint-down(md) {
    overflow: hidden;
  }
}
