@import "../../style/_common.scss";

$border: solid 1px $grey-50;
$form-control-height: 42px;

.box {
  background-color: $white;
  border-radius: $border-radius;
  border: $border;
  margin-bottom: $spacing-XL;
  .box-header, .box-content {
    padding: $spacing-L;
  }
  .box-header {
    border-bottom: $border;
    h1 {
      font-weight: bold;
      color: $grey-700;
      font-size: $font-size-LL;
      letter-spacing: 0.6px;
    }
    .public-profile {
      font-size: $font-size-S;
    }
    .btn-primary {
      float: right;
      padding: 10px 30px;
    }
  }
  .profile-pic {
    padding-bottom: $spacing-L;
    border-bottom: $border;
    margin-bottom: $spacing-L;
    h2 {
      font-size: $font-size;
      font-weight: normal;
      color: $grey-900;
    }
    p {
      font-size: $font-size-S;
      line-height: 1.29;
      color: $grey-300;
      margin-bottom: 0;
    }
    .col-4 {
      display: flex;
      align-items: center;
    }
    tsl-user-avatar {
      margin-right: $spacing;
    }
    .btn-upload {
      background-color: $grey-50;
      border: solid 1px $grey-100;
      color: $grey-600;
      font-size: $font-size-S;
      padding: $spacing-S $spacing;
      margin-left: 43px;
      cursor: pointer;
      &:hover {
        background-color: $grey-100;
      }
      input {
        display: none;
      }
    }
  }
  .form-group {
    label {
      text-align: right;
      line-height: $form-control-height;
      color: $grey-900;
      font-size: $font-size;
      padding-right: 69px;
    }
    .form-control {
      height: $form-control-height;
    }
    .btn-group {
      width: 100%;
    }
    .select {
      height: 100px;
      width: calc(50% - #{$spacing / 2});
      border-radius: $border-radius;
      border: solid 2px $grey-50;
      cursor: pointer;
      padding: 0;
      text-align: center;
      &:first-of-type {
        margin-right: $spacing;
      }
      md-icon {
        @include square(42px);
        margin-top: 25px;
        /deep/ path {
          transition: fill 0.2s ease-in-out;
        }
      }
      div {
        margin-top: -22px;
        font-size: $font-size-S;
      }
      &.active {
        background-color: $corporate;
        border-color: transparent;
        box-shadow: 0 2px 6px 0 rgba(19, 193, 172, 0.2);
        md-icon {
          /deep/ path {
            fill: $white;
          }
        }
        div {
          font-weight: bold;
          color: $white;
        }
      }
      &:hover:not(.active) {
        border-color: $grey-300;
        md-icon {
          /deep/ path {
            fill: $grey-300;
          }
        }
      }
    }
    tsl-location-box {
      /deep/ .box {
        h2 {
          display: none;
        }
        p {
          font-size: $font-size-S;
        }
        .form-group .form-control {
          width: calc(100% - 13px);
        }
        tsl-here-maps {
          margin-right: 13px;
        }
      }
    }
  }
}
