<div class="page-content">
  <div class="container">
    <div class="box">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="box-content">
          <div class="box-header">
            <button type="submit" class="btn btn-primary" i18n>Save</button>
            <h1 i18n>Profile settings</h1>
            <a class="public-profile" [href]="userUrl" target="_blank" i18n>View my public profile</a>
          </div>
          <div class="row profile-pic align-items-center">
            <div class="col-4">
              <tsl-user-avatar [user]="user" [imageUrl]="user?.image?.urls_by_size.medium" size="80"></tsl-user-avatar>
              <div>
                <h2 i18n>Change Profile Picture</h2>
                <p i18n>This is the image the users will
                  see when they check your profile</p>
              </div>
            </div>
            <div class="col">
              <label class="btn btn-upload">
                <input
                  type="file"
                  ngFileSelect
                  (uploadOutput)="onUploadOutput($event)"
                  [uploadInput]="uploadInput"
                  [options]="options" />
                <span i18n>Upload Photo</span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-10 offset-2">
              <div class="form-group row">
                <label for="first_name" class="col-3" i18n>First Name:</label>
                <div class="col-5">
                  <input type="text" class="form-control" id="first_name" formControlName="first_name" tslRestrictInput maxlength="50" />
                </div>
              </div>
              <div class="form-group row">
                <label for="last_name" class="col-3" i18n>Last Name:</label>
                <div class="col-5">
                  <input type="text" class="form-control" id="last_name" formControlName="last_name" tslRestrictInput maxlength="50" />
                </div>
              </div>
              <div class="form-group row">
                <label for="birth_date" class="col-3" i18n>Date of Birth:</label>
                <div class="col-5">
                  <input type="date" class="form-control" id="birth_date" formControlName="birth_date" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3" i18n>Gender:</label>
                <div class="col-5">
                  <div ngbRadioGroup name="radioBasic" formControlName="gender">
                    <label class="btn select">
                      <input type="radio" value="M">
                      <md-icon svgIcon="male"></md-icon>
                      <div i18n>Male</div>
                    </label>
                    <label class="btn select">
                      <input type="radio" value="F">
                      <md-icon svgIcon="female"></md-icon>
                      <div i18n>Female</div>
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3" i18n>Location:</label>
                <div class="col-9">
                  <tsl-location-box [form]="profileForm" name="location"></tsl-location-box>
                </div>
              </div>
            </div>
          </div>
          <div class="row account-settings">
            <div class="col-10 offset-2">
              <div class="form-group row">
                <label class="col-3" i18n>Email Address:</label>
                <div class="col-5">
                  <tsl-edit-email [email]="user?.email"></tsl-edit-email>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3" i18n>Password:</label>
                <div class="col-5">
                  <tsl-edit-password></tsl-edit-password>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
