@import "~style/common";

.btn-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
}

.btn-logout {
  padding: $spacing-ms $spacing-ml;
  background-color: transparent;
  border: solid 1px $blue-grey-4;
  color: $blue-grey-2;
  font-size: $font-size-s;
  border-radius: $button-border-radius;
  &:hover {
    background-color: $negative-main;
    color: $white;
    border: solid 1px $negative-main;
  }
}

nav {
  margin-bottom: $spacing-ml;
}

.rating {
  float: right;
  color: $blue-grey-2;
  font-size: $font-size-s;
  padding-top: $spacing-ms;
  tsl-stars {
    display: inline-block;
  }
}
