<div class="page-content">
  <div class="container">
    <tsl-header [hidden]="loading">
      <div class="col-12 col-md-9">
        <div class="header-row">
          <h1 class="header-title"><span i18n>Your profile</span> <span *ngIf="isPro" class="badge badge-pro"><mat-icon svgIcon="pro-seal"></mat-icon>Pro</span>
          </h1>
        </div>
        <div class="header-row">
          <h4 class="header-subtitle" i18n>From here you can view and edit your profile</h4>
          <div class="header-separator d-none d-md-flex">|</div>
          <a class="header-link d-none d-md-flex" [href]="userUrl" target="_blank" i18n>View my public profile</a>
        </div>
      </div>
      <div class="col-3 d-none d-md-block">
        <div class="btn-wrapper">
          <button class="btn btn-logout" (click)="logout($event)" tslTrackEvent="MYZONE_MENU_LOGOUT" i18n>Logout</button>
        </div>
      </div>
    </tsl-header>
    <div class="row mb-3">
      <div class="col-9">
        <nav class="nav filters-nav">
          <a class="nav-link" [routerLink]="['info']" routerLinkActive="active" i18n>Profile</a>
          <a class="nav-link" [routerLink]="['account']" routerLinkActive="active" i18n>Account</a>
          <a class="nav-link" [routerLink]="['manage-subscription']" routerLinkActive="active" *ngIf="isSubscriptionsActive && isNewSubscription" i18n>Subscription</a>
          <a class="nav-link" [routerLink]="['subscription']" routerLinkActive="active" *ngIf="showSubscriptionTab && !isNewSubscription" i18n>Subscription</a>
          <a class="nav-link" [routerLink]="['billing']" routerLinkActive="active" *ngxPermissionsOnly="['isProfessional']" i18n>Billing information</a>
          <a class="nav-link" [routerLink]="['subscription-pro']" routerLinkActive="active" *ngxPermissionsOnly="['isProfessional']" i18n>Subscription</a>
        </nav>
      </div>
      <div class="col-3 d-none d-md-block">
        <div class="rating" *ngIf="userStats"><tsl-stars class="review-rating" [stars]="userStats?.ratings?.reviews" [normalized]="false"></tsl-stars> ({{userStats?.counters?.reviews}} <span i18n>reviews</span>)</div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
