@import '~style/common';

$horizontal-margin: 10px;

.FilterGroup {
  &__filter {
    flex: 1;
    &--bubble {
      width: 100%;
    }
  }

  &--drawer {
    > * {
      &::after {
        display: block;
        content: '';
        background-color: $blue-grey-5;
        height: 1px;
        width: 100%;
        margin: $spacer * 1.5 0;
      }
    }
  }
}
