@import "~style/common";

.delete-link {
    text-decoration: underline;
    color: $blue-grey-4;
    font-size: $font-size-s;
    cursor: pointer;
    text-align: end;
    align-items: end;
    display: grid;
    &:hover {
        text-decoration: none;
    }
}