<div class="BankDetailsOverview container">
    <div class="row mb-2">
        <div class="col col-md-11 offset-md-1">
            <h3 class="BankDetailsOverview__title" i18n="@@wallet_view_bank_details_title">Bank details</h3>
        </div>
    </div>
    <div class="row offset-md-2">
        <div class="col-sm-12 col-md-5 mb-3 mb-md-0">
            <div class="row">
                <div class="col">
                    <h4 class="BankDetailsOverview__subtitle" i18n="@@delivery_credit_card">Credit or debit card</h4>
                </div>
            </div>
            <div class="row">
                <tsl-payments-card-info *ngIf="creditCard$ | async as creditCard" 
                    [brand]="creditCard.brand"
                    [numberCard]="creditCard.lastFourDigits"
                    [expireDate]="formattedCreditCardDate(creditCard.expirationDate)"
                    [ownerName]="creditCard.ownerFullName"
                    [hideEdit]="true"
                    (deleteCardClick)="openDeleteCardModal()"
                    class="col"
                    id="creditCard"
                >
                </tsl-payments-card-info>
                <tsl-add-credit-card *ngIf="!(creditCard$ | async)" class="col" (click)="redirect(CREDIT_CARD_FORM_LINK)" id="addCreditCard">
                    <span i18n="@@banking_data_menu_add_credit_card">Add credit or debit card</span>
                </tsl-add-credit-card>
            </div>
        </div>
        <div class="col-sm-12 col-md-5">
            <div class="row">
                <div class="col">
                    <h4 class="BankDetailsOverview__subtitle" i18n="@@delivery_bank_account">Bank account</h4>
                </div>
            </div>
            <div class="row">
                <tsl-payments-card-info  *ngIf="bankAccount$ | async as bankAccount" 
                    [ownerName]="formattedBankAccountName(bankAccount)"
                    [numberCard]="formattedBankAccountIBAN(bankAccount.iban)"
                    [isBankAccount]="true"
                    (changeCardClick)="redirect(BANK_ACCOUNT_FORM_LINK)"
                    (deleteCardClick)="openDeleteBankAccountModal()"
                    class="col"
                    id="bankAccount">
                </tsl-payments-card-info>
                <tsl-add-credit-card *ngIf="!(bankAccount$ | async)" (click)="redirect(BANK_ACCOUNT_FORM_LINK)" class="col" id="addBankAccount">
                    <span i18n="@@banking_data_menu_add_bank_account">Add bank account</span>
                </tsl-add-credit-card>
            </div>
        </div>
    </div>
</div>