@import '~web-styleguide/scss/colors';
@import '~web-styleguide/scss/spacing';
@import '~web-styleguide/scss/text';

.PayviewSummary {
  &__thankyou {
    font-size: $spacing-m;
    font-weight: $font-weight-chunky;
    &--walla {
      color: $walla-main;
    }
    &--gray {
      color: $blue-grey-1;
    }
  }

  &__header {
    padding-top: $spacing-ml;
  }

  &__body {
    z-index: 1;
  }

  &__footer {
    z-index: 0;
  }
}
