<div class="PayviewSummary d-flex w-100 flex-column">
  <div class="container">
    <div class="PayviewSummary__content p-1">
      <div class="PayviewSummary__thankyou">
        <span class="PayviewSummary__thankyou--gray" i18n="@@pay_view_buyer_plain_text_inspirational_quote"
          >Thanks for being part of {{ '' }}</span
        >
        <span class="PayviewSummary__thankyou--walla pl-1" i18n="@@pay_view_buyer_plain_text_inspirational_quote_wallapop_name"
          >Wallapop</span
        >
      </div>
      <div class="PayviewSummary__header" *ngIf="showHeader">
        <tsl-payview-summary-header [deliveryMethod]="deliveryMethod" [image]="image" [title]="title"></tsl-payview-summary-header>
      </div>
      <div class="PayviewSummary__body position-relative" *ngIf="showBody">
        <tsl-payview-summary-cost-detail [costs]="costs" [productName]="title"></tsl-payview-summary-cost-detail>
      </div>
      <div class="PayviewSummary__footer position-relative" *ngIf="showPaymentMethod">
        <tsl-payview-summary-payment-method [creditCard]="creditCard" [paymentMethod]="paymentMethod"></tsl-payview-summary-payment-method>
      </div>
    </div>
  </div>
</div>
