@import "~style/common";

$checkbox-width: $spacing-ms;
$transition: all .5s ease;
$feature-button-width: 170px;

.back {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: $blue-grey-1;
  z-index: 1000;
  tsl-svg-icon {
    vertical-align: middle;
    margin-right: $spacing-ms;
    width: 17px;
  }
  &:hover {
    text-decoration: none;
    &, tsl-svg-icon {
      opacity: .8;
    }
  }
}

.btn-selectAll {
  background-color: transparent;
  border: none;
  color: $blue-grey-2;
  font-size: $font-size-s;
  padding: 0;
  &.citybump {
    &:hover {
      color: $walla-main;
    }
  }
  &.countrybump {
    &:hover {
      color: $payblue-main;
    }
  }
  &.planning {
    &:hover {
      color: $blue-grey-1;
    }
  }
}

.bumps-table {
  z-index: 4;
  margin-bottom: $spacing-xxxl;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .header-first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48%;
  }
  .bump-types {
    display: flex; 
    width: 100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-top: 1px solid $blue-grey-5;
    border-right: 1px solid $blue-grey-5;
    border-left: 1px solid $blue-grey-5;
  }∫
  .info {
    font-size: $font-size-s;
    text-decoration: underline;
    cursor: pointer;
    color: $walla-main;
    &:hover {
      text-decoration: none;
    }
  }
  .type {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: -$spacing-xs;
    align-self: flex-start;
    color: $white;
    font-weight: $font-weight-chunky;
    text-align: left;
    padding: $spacing-m 0;
    font-size: $font-size-s;
    line-height: $line-height-m;
    background-color: $white;
    flex-direction: row;
    align-items: center;
    &.city {
      color: $walla-main;
      border-top-left-radius: 18px;
      width: 23%;
    }
    &.country {
      color: $payblue-main;
      width: 23%;
    }
    &.planning {
      color: $blue-grey-1;
      box-shadow: none;
      width: 55%;
      display: flex;
      justify-content: flex-start;
      border-top-right-radius: 18px;
    }
  }

  .content-select {
    display: flex;
    font-size: $font-size-xs;
    font-weight: lighter;
    margin: $spacing-xs 0 0;
    color: $blue-grey-3;
  }

  .content-header {
    display: flex;
    flex-direction: column;
    margin: 0 14px;
    &.last {
      border-right: none;
    }
  }

  .item-separator {
    background-color: $blue-grey-5;
    width: 1px;
    height: $spacing-xl;
    margin: 0px 0 0 $spacing-s;
  }

  .checkbox {
    transition: $transition;
    width: $checkbox-width;
    margin: $spacing-xxs $spacing-xs 0 0;
    .select {
      @include square($checkbox-width);
      border: 1px solid $blue-grey-4;
      border-radius: 2px;
      padding: 0;
      background: transparent;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      tsl-svg-icon {
        display: none;
        height: 9px;
        width: $spacing-ms;
      }
      &.selected {
        border-color: transparent;
        tsl-svg-icon {
          display: flex;
          ::ng-deep svg g g {
            fill: $white;
          }
        }
        &.countrybump {
          background: $payblue-main;
        }
        &.citybump {
          background: $walla-main;
        }
      }
      &:hover {
        border: 1px solid $blue-grey-3;
      }
    }
  }
}
