@import "~style/common";

$checkbox-width: 12px;
$transition: all .5s ease;
$feature-button-width: 170px;

.back {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: $blue-grey-1;
  z-index: 1000;
  mat-icon {
    vertical-align: middle;
    margin-right: $spacing-ms;
    width: 17px;
  }
  &:hover {
    text-decoration: none;
    &, mat-icon {
      opacity: .8;
    }
  }
}

.bumps-table {
  z-index: 4;
  position: relative;
  margin-bottom: $spacing-xxxl;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .header-first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }
  .bump-types {
    display: flex; 
    width: 50%;
  }
  .info {
    font-size: $font-size-s;
    text-decoration: underline;
    cursor: pointer;
    color: $walla-main;
    &:hover {
      text-decoration: none;
    }
  }
  .type {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: -$spacing-xs;
    align-self: flex-start;
    color: $white;
    font-weight: $font-weight-chunky;
    text-align: left;
    padding: $spacing-m;
    font-size: $font-size-s;
    line-height: $line-height-m;
    background-color: $white;
    &.city {
      color: $walla-main;
      border-top-left-radius: 18px;
      width: 50%;
    }
    &.country {
      color: $payblue-main;
      width: 50%;
    }
    &.planning {
      color: $blue-grey-1;
      box-shadow: none;
      width: 40%;
    }
  }

  .content {
    display: flex;
    font-size: $font-size-xs;
    font-weight: lighter;
  }

  .checkbox {
    transition: $transition;
    width: $checkbox-width;
    margin: 0 $spacing-xs;
    .select {
      @include square($checkbox-width);
      border: 2px solid $blue-grey-4;
      border-radius: 4px;
      padding: 0;
      background: transparent;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      mat-icon {
        display: none;
        height: 9px;
        width: 12px;
      }
      &.selected {
        background: $walla-main;
        border-color: transparent;
        mat-icon {
          display: flex;
          ::ng-deep svg g g {
            fill: $white;
          }
        }
      }
      &:hover {
        border-color: $walla-main;
      }
    }
  }
}
