@import "~style/common";

.back {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: $blue-grey-1;
  z-index: 1000;
  mat-icon {
    vertical-align: middle;
    margin-right: $spacing-ms;
    width: 17px;
  }
  &:hover {
    text-decoration: none;
    &, mat-icon {
      opacity: .8;
    }
  }
}

.bumps-table {
  z-index: 4;
  position: relative;
  margin-bottom: $spacing-xxxl;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .header-first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }
  .bump-types {
    display: flex; 
    width: 50%;
  }
  .info {
    font-size: $font-size-s;
    text-decoration: underline;
    cursor: pointer;
    color: $walla-main;
    &:hover {
      text-decoration: none;
    }
  }
  .type {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: -$spacing-xs;
    align-self: flex-end;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 3px 6px 10px 0 rgba($black, 0.2);
    border: solid 1px $blue-grey-5;
    border-bottom: 0;
    color: $white;
    font-weight: $font-weight-chunky;
    text-align: center;
    padding: $spacing-m;
    font-size: $font-size-s;
    line-height: $line-height-m;
    &.city {
      background-image: linear-gradient(206deg, #2be2d6, #2be2d6, #2ae1d5, #2ae0d4 1%, $walla-main);
      z-index: 3;  
      width: 50%;
    }
    &.country {
      background-image: linear-gradient(208deg, #8fd6ff, $country-bump);
      z-index: 2;
      width: 50%;
    }
    &.planning {
      background-color: $white;
      color: $blue-grey-1;
      box-shadow: none;
      z-index: 1;
      width: 40%;
    }
  }
}
