<div class="w-100 d-flex justify-content-center GenericLanding">
  <h1 class="GenericLanding__title">There are things you can only do from the app</h1>
  <p class="GenericLanding__description">
    To continue, scan the QR code, download the Wallapop app and you're ready. It'll just take a second!
  </p>
  <div class="GenericLanding__qrCode">
    <img src="/assets/images/generic-landing/qrthingy.png" alt="" />
  </div>
  <div class="GenericLanding__icon">
    <img src="/assets/images/generic-landing/only-app-landing.svg" alt="" />
  </div>
</div>
