@import '~style/common';

:host {
  width: 100%;
}

.Sky__container {
  margin: 0 auto;
  border-radius: $border-radius;
  overflow: hidden;

  box-shadow: $item-card-box-shadow;

  &:hover {
    transform: $item-card-hover-translate;
    box-shadow: $item-card-hover-box-shadow;
  }
}
