@import '~web-styleguide/scss/text';
@import '~web-styleguide/scss/spacing';
@import '~web-styleguide/scss/colors';

.WalletPendingTransactions {
  &__label {
    color: $blue-grey-1;
    margin-bottom: $spacing-ms;

    span:first-child {
      font-weight: $font-weight-chunky;
      margin-right: 5px;
    }
  }
}
