<div class="modal-body gdpr-modal">
  <h2 i18n>
    I accept the updated privacy policy in order to continue navigating.
  </h2>
  <p i18n>
    Help us to maintain a safe community.
  </p>
  <div class="gdpr-modal-body-term-box" [innerHTML]="gdprText">
  </div>
  <tsl-checkbox [(checked)]="allowSegmentation">
    <label i18n> In order for the adverts I see to be of interest to me, I accept that wallapop may share any information
      gathered during my session with the companies with which they collaborate. </label>
  </tsl-checkbox>
  <tsl-checkbox [(checked)]="acceptPrivacy">
    <label i18n>I accept the conditions for privacy.</label>
  </tsl-checkbox>
  <tsl-button
    [disabled]="!acceptPrivacy"
    className="btn btn-primary" i18n
    (click)="setGRPRPermission()">
    I accept
  </tsl-button>
</div>
<div class="modal-footer">
</div>
