<tsl-stepper (isInLastStep)="true">
    <ng-template step>
        <tsl-bank-account isKYC="true" (bankAccountSaved)="goNextStep()"></tsl-bank-account>
    </ng-template>
    <ng-template step>
        <tsl-kyc-nationality (goBack)="goPreviousStep()" (documentToRequestChange)="goNextStep()"></tsl-kyc-nationality>
    </ng-template>
    <ng-template step>
        <tsl-kyc-image-options  (goBack)="resetKYCDocumentationAndGoPreviousStep()" (takeImageOptionChange)="defineImageMethodAndGoNext($event)"></tsl-kyc-image-options>
    </ng-template>
    <ng-template step>
        <div *ngIf="takeImageMethod === KYC_TAKE_IMAGE_OPTIONS.SHOOT">Shoot image component >_></div>
        <div *ngIf="takeImageMethod === KYC_TAKE_IMAGE_OPTIONS.UPLOAD">Upload image component >_></div>
    </ng-template>
</tsl-stepper>