@import "~style/common";

$add-subscription-modal-content-default-height: 382px;

.AddNewSubscription__box {
  text-align: center;
  .AddNewSubscription__box-header {
    background: $walla-main;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    color: $white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &--title {
    font-size: $font-size-l;
    font-weight: bold;
    margin: $spacing-xxl 0 $spacing-ms;
  }
  &--subtitle {
    font-size: $font-size-m;
    color: $white;
    margin: 0 0 $spacing-l;
  }
}

.AddNewSubscription__listing-limit-title {
  color: $blue-grey-1;
  font-size: $font-size-m;
  font-weight: bold;
}

.AddNewSubscription__listing-limit-subtitle {
  color: $blue-grey-2;
  font-size: $font-size-s;
  margin-top: $spacing-s;
  padding: 0 $spacing-xxxl;
}

.AddNewSubscription__listing-limit-price {
  color: $blue-grey-1;
  font-size: $font-size-lll;
  &--selected {
    color: $walla-main;
    font-size: $font-size-m;
  }
}

.AddNewSubscription__listing-limit-quantity {
  color: $blue-grey-1;
  font-size: $font-size-m;
  &--selected {
    font-size: $font-size-m;
  }
}

.AddNewSubscription__listing-limit-steps {
  color: $blue-grey-2;
  font-size: $font-size-s;
  margin-top: 0px;
  margin-bottom: $spacing-s;
}

.AddNewSubscription__listing-limit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: $spacing-l;
  .AddNewSubscription__listing-limit-box {
    padding: $spacing-m;
    height: 60px;
    border-right: 1px solid $blue-grey-5;
    box-shadow: 0px 3px 5px -2px $blue-grey-5;
    flex: 0 0 75px;
    cursor: pointer;
    &--selected {
      font-weight: bold;
      color: $walla-main;
      height: 56px;
      box-shadow: 0px 4px 5px 0px $blue-grey-5;
    }
  }
}

.AddNewSubscription__listing-limit-selection {
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
}

.AddNewSubscription__listing-limit-more {
  margin-top: $spacing-m;
  font-size: $font-size-s;

  a {
    text-decoration: underline;
  }
}

.AddNewSubscription__payment {
  width: 80%;
  margin: $spacing-m auto 0;
  tsl-button {
    margin: 0 auto;
  }
}

.AddNewSubscription__selection-container {
  &--with-saved-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div {
      width: 100%;
    }
  }
}

.AddNewSubscription__payment-response-message {
  p {
    color: $magenta-main;
  }
}

.AddNewSubscription__listing-limit-payment {
  position: relative;
  display: flex;
  justify-content: space-between;

  &--line-top {
    padding: $spacing-m 0;
    &:before {
      content: '';
      height: 1px;
      width: 100%;
      background-color: $blue-grey-5;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }

}

.AddNewSubscription__listing-limit-payment-price {
  color: $walla-main;
  font-size: $font-size-m;
}

.AddNewSubscription__listing-limit-payment-edit {
  color: $blue-grey-2;
  cursor:  pointer;
  font-size: $font-size-s;
}

.AddNewSubscription__payment-add-card {
  width: 100%;
  color: $walla-main;
  font-size: $font-size-s;
  text-align: left;
  cursor: pointer;
}

tsl-button, tsl-stripe-card-element ::ng-deep tsl-button {
  ::ng-deep {
    .btn-text {
      font-size: $spacing-m;
      padding: $spacing-ms $spacing-ml;
      background-color: transparent;
      color: $blue-grey-3;
      border: 1px solid $blue-grey-3;
      border-radius: $button-border-radius;
      &:hover {
        color: $black;
        background-color: $blue-grey-5;
        border: 1px solid $black;
      }
    }
    button {
      width: 280px;
      height: 42px;

      .secure-payment {
        span {
          font-size: $spacing-m;
        }
      }
    }
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
}

ngb-carousel {
  height: 100%;
  ::ng-deep {
    .step {
      height: 100%;
    }
    .step-2b {
      .box-content {
        max-width: 100%;
      }
    }
    .carousel-control-prev, .carousel-control-next {
      display: none;
    }
    .carousel-indicators {
      margin: 0;
      padding: 0;
      z-index: 0;
      bottom: $spacing-ml;
      li {
        background-color: $blue-grey-4;
        @include square(6px);
        max-width: 6px;
        margin: 0 $spacing-xs;
        flex-shrink: 0;
        &:hover, &.active {
          @include square(6px);
          max-width: 6px;
          background-color: $blue-grey-2;
        }
      }
    }
    .carousel-item {
      height: auto;
    }

    .carousel-inner {
      overflow: unset;
    }

    .box-content {
      max-width: 80%;
      height: 100%;
      padding: $spacing-ml 0 $spacing-xxl;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &.extra-info ::ng-deep {
    .carousel-item {
      height: auto;
    };
  }

  &.single ::ng-deep {
    .carousel-item {
      height: auto;
    }
    .carousel-indicators {
      display: none;
    }

    .box-content {
      padding: $spacing-ml;
    }
  }
}

tsl-profile-pro-billing {
  height: 100%;
  ::ng-deep {
    .box {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $blue-grey-5;
      border-top: 1px solid $blue-grey-5;
      box-shadow: inset 0px 0px 4px $blue-grey-5;
      overflow: scroll;
      max-height: 250px;
      margin-bottom: $spacing-m;
      margin-top: $spacing-m;
    }
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

tsl-button ::ng-deep .simple.light  {
  background-color: transparent;
  color: $blue-grey-3;
  font-size: $font-size-m;
  font-weight: normal;
  text-decoration: none;
  &:hover {
    background-color: transparent;
    color: $blue-grey-2;
  }
}

.modal-close {
  width: $spacing-ms;
  height: $spacing-ms;
  mat-icon {
    width: $spacing-ms;
    height: $spacing-ms;
    line-height: $spacing-ms;
    ::ng-deep svg path {
      fill: $white;
    }
  }
}

.bold {
  font-weight: bold;
}

.AddNewSubscription__free-months {
  color: $walla-main;
}

.AddNewSubscription__price-after-discount {
  color: $blue-grey-2;
  font-size: $font-size-s;
}

.AddNewSubscription__legal-info {
  color: $blue-grey-3;
  font-size: $font-size-xs;
  margin: $spacing-ml 0;

  a {
    color: $blue-grey-3;
    text-decoration: none;
    font-weight: bold;
  }
}

.AddNewSubscription__ButtonActions {
  display: flex;
  flex-direction: column;
}

.form-control {
  text-align: left;
}

@include media-breakpoint-down(sm) {
  ngb-carousel {
    ::ng-deep {
      .box-content {
        padding: $spacing-s 0 $spacing-xxl;
      }
    }

    &.single ::ng-deep {
      .box-content {
        padding: $spacing-ml 0;
      }
    }
  }

  .AddNewSubscription__listing-limit-more {
    font-size: $font-size-xs;
  }

  .AddNewSubscription__listing-limit-quantity, .AddNewSubscription__listing-limit-price {
    font-size: $font-size-m;
  }

  .AddNewSubscription__box--subtitle {
    width: 80%;
    margin: 0 auto;
    padding-bottom: $spacing-m
  }

  tsl-button ::ng-deep {
    button {
      width: 210px;
    }
  }

  tsl-stripe-card-element ::ng-deep {
    tsl-button ::ng-deep {
      button {
        width: 210px;
      }
    }
  }
}
