@import "~style/common";

.AddNewSubscription__box {
  text-align: center;
  padding: 0 0 $spacing-m;
  .AddNewSubscription__box-header {
    background: $walla-main;
    height: 100px;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    color: $white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h4 {
      margin: $spacing-m 0 $spacing-s;
    }
    p {
      color: $white;
      margin: 0;
    }
  }
}

.AddNewSubscription__listing-limit-title {
  color: $black;
  font-size: $font-size-s;
  font-weight: bold;
}

.AddNewSubscription__listing-limit-price {
  color: $black;
  font-size: $font-size-l;
}

.AddNewSubscription__listing-limit-steps {
  color: $blue-grey-2;
  font-size: $font-size-s;
}

.AddNewSubscription__listing-limit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: $spacing-m;
  .AddNewSubscription__listing-limit-box {
    padding: $spacing-m;
    height: 60px;
    border-right: 1px solid $blue-grey-5;
    box-shadow: 0px 3px 5px -2px $blue-grey-5;
    flex: 0 0 75px;
    cursor: pointer;
  }
}

.AddNewSubscription__listing-limit-selection {
  text-align: left;
  width: 250px;
  margin-left: 70px;
}

.AddNewSubscription__payment {
  margin-top: $spacing-m;
}

.AddNewSubscription__selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  tsl-stripe-card-selection {
    width: 50%;
  }
}

.AddNewSubscription__payment-response-message {
  p {
    color: $magenta-main;
  }
}

.selected {
  font-weight: bold;
  color: $walla-main;
  height: 56px !important;
  box-shadow: 0px 4px 5px 0px $blue-grey-5 !important;
}

tsl-button /deep/ .btn-text  {
  padding: $spacing-ms $spacing-ml;
  background-color: transparent;
  color: $blue-grey-3;
  font-size: $font-size-s;
  border: 1px solid $blue-grey-3;
  border-radius: $button-border-radius;
  &:hover {
    color: $black;
    background-color: $blue-grey-5;
    border: 1px solid $black;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $blue-grey-5;
  margin: 24px auto;
  width: 80%;
}

ngb-carousel {
  /deep/ {
    .carousel-control-prev, .carousel-control-next {
      display: none;
    }
    .carousel-indicators {
      width: 68px;
      margin: 0;
      li {
        background-color: $blue-grey-4;
        @include square(10px);
        max-width: 10px;
        &:hover, &.active {
          background-color: $walla-main;
        }
      }
    }
    .carousel-item {
      height: 330px;
    }
  }
}
