<div class="AddNewSubscription__box">
  <div class="AddNewSubscription__box-header">
    <div class="modal-close" (click)="activeModal.close()">
      <mat-icon svgIcon="cross"></mat-icon>
    </div>
    <h4 class="AddNewSubscription__box--title" i18n>Subscribe to PRO</h4>
    <p class="AddNewSubscription__box--subtitle" i18n>Choose a subscription and take your sales up to the next level.
    </p>
  </div>
  <ngb-carousel interval="0" *ngIf="loaded"
    [ngClass]="{ 'extra-info': subscription.category_id === carsCategoryId, 'single': subscription.tiers.length === 1 }">
    <ng-template ngbSlide *ngIf="subscription.tiers.length !== 1">
      <div class="step step-1">
        <div class="box-content">

          <div>
            <p class="AddNewSubscription__listing-limit-steps" i18n>Step <span class="bold">1</span> of <span
                class="bold">2</span></p>
            <div class="AddNewSubscription__listing-limit-title" i18n>How many
              {{subscription.category_name.toLowerCase()}} are you going to upload to your profile?</div>
          </div>

          <div>
            <div class="AddNewSubscription__listing-limit-container">
              <div *ngFor="let tier of subscription.tiers; let i = index"
                (click)="selectListingLimit(subscription.tiers[i])" class="AddNewSubscription__listing-limit-box"
                [ngClass]="{'AddNewSubscription__listing-limit-box--selected' : selectedTier.id === subscription.tiers[i].id}">
                <span *ngIf="subscription.tiers[i].limit">{{subscription.tiers[i].limit}}</span>
                <span *ngIf="!subscription.tiers[i].limit" i18n>Unlimited</span>
              </div>
            </div>
            <div class="AddNewSubscription__listing-limit-more" *ngIf="subscription.category_id === carsCategoryId"
              i18n>
              Do you have more than
              {{subscription.tiers[subscription.tiers.length - 1].limit}} {{subscription.category_name.toLowerCase()}}?
              <a href="{{carDealerTypeformLink}}" target="_blank">Contact us directly</a>
            </div>
          </div>
          <div>
            <div class="AddNewSubscription__listing-limit-payment AddNewSubscription__listing-limit-payment--line-top">
              <div class="text-left">
                <span class="AddNewSubscription__listing-limit-quantity">
                  <span *ngIf="selectedTier.limit" i18n>{{selectedTier.limit}} {{subscription.category_name}} Plan</span>
                  <span *ngIf="!selectedTier.limit" i18n>Unlimited {{subscription.category_name}} Plan</span>
                </span>    
              </div>
              <div class="text-right">
                <span class="AddNewSubscription__listing-limit-price"
                  i18n>{{selectedTier.price}}{{selectedTier.currency}}/month</span>
              </div>
            </div>
            <tsl-button [disabled]="!selectedTier" (click)="carousel.next(); onClickContinueToPayment()" i18n>Continue
              to
              payment</tsl-button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="step step-2">
        <div class="box-content">
          <div>
            <div *ngIf="subscription.tiers.length !== 1">
              <p class="AddNewSubscription__listing-limit-steps" i18n>Step <span class="bold">2</span> of <span
                  class="bold">2</span></p>
            </div>
            <div class="AddNewSubscription__listing-limit-title" i18n>Add payment details</div>
          </div>
          <div class="row AddNewSubscription__listing-limit-payment">
            <div
              class="col-6 AddNewSubscription__listing-limit-selection AddNewSubscription__listing-limit-selection--left">
              <div class="AddNewSubscription__listing-limit-quantity--selected">
                <span *ngIf="selectedTier.limit" i18n>{{selectedTier.limit}} {{subscription.category_name}} Plan</span>
                <span *ngIf="!selectedTier.limit" i18n>Unlimited {{subscription.category_name}} Plan</span>
              </div>
            </div>
            <div
              class="col-6 AddNewSubscription__listing-limit-selection AddNewSubscription__listing-limit-selection--right">
              <span class="AddNewSubscription__listing-limit-price--selected"
                i18n>{{selectedTier.price}}{{selectedTier.currency}}/month</span>
              <br />
              <span *ngIf="subscription.tiers.length !== 1" class="AddNewSubscription__listing-limit-payment-edit"
                (click)="carousel.prev()" i18n>Change</span>
            </div>
          </div>
          <div class="h-50">
            <div class="w-100 h-100 align-items-center"
              [ngClass]="{'AddNewSubscription__selection-container--with-saved-card': savedCard}">
              <div>
                <tsl-stripe-card-selection *ngIf="hasSavedCard && savedCard"
                  (onSelectExistingCard)="setSavedCard($event)" (hasCard)="hasCard($event)"></tsl-stripe-card-selection>
              </div>
              <div class="AddNewSubscription__payment-add-card" (click)="addNewCard()" *ngIf="savedCard" i18n>+ Add
                another credit card</div>
              <div class="AddNewSubscription__payment-response-message" *ngIf="isPaymentError">
                <p i18n>The payment failed. Please enter another credit card.</p>
              </div>
              <tsl-stripe-card-element *ngIf="showCard" [newLoading]="loading" [disabled]="isPaymentError"
                [type]="'subscription'" [listingLimit]="selectedTier" [spaceBetween]="true" [action]="action"
                [showUseSavedCard]="hasSavedCard" [isPaymentError]="isPaymentError"
                (onClickUseSavedCard)="removeNewCard()" (onFocusCard)="isPaymentError = false"
                (onStripeCardCreate)="addSubscription($event); onClickPay(true);" (stripeCard)="setCardInfo($event)">
              </tsl-stripe-card-element>
              <tsl-button [hidden]="!savedCard" [disabled]="!selectedCard || loading" [loading]="loading"
                (click)="addSubscriptionFromSavedCard(); onClickPay(false);" id="qa-checkout-subscription"
                className="btn-primary btn-medium stripe" i18n>Pay {{selectedTier.price}}{{selectedTier.currency}}
              </tsl-button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>