<div class="AddNewSubscription__box">
  <div class="AddNewSubscription__box-header">
    <div class="modal-close" (click)="activeModal.close()">
      <mat-icon svgIcon="cross"></mat-icon>
    </div>
    <h4 class="AddNewSubscription__box--title" i18n="@@SubscribeToPro">Subscribe to PRO</h4>
    <p class="AddNewSubscription__box--subtitle" i18n="@@ChooseSubscription">Choose a subscription and take your sales up to the next level.
    </p>
  </div>
  <ngb-carousel interval="0" *ngIf="loaded"
    [ngClass]="{ 'extra-info': subscription.category_id === carsCategoryId, 'single': subscription.tiers.length === 1 }">
    <ng-template ngbSlide *ngIf="subscription.tiers.length !== 1" id="step-1">
      <div class="step step-1">
        <div class="box-content">

          <div>
            <p class="AddNewSubscription__listing-limit-steps" i18n="@@step1of3">Step <span class="bold">1</span> of <span
                class="bold">3</span></p>
            <div class="AddNewSubscription__listing-limit-title" i18n="@@HowManyProductsToUpload">How many
              {{subscription.category_name.toLowerCase()}} are you going to upload to your profile?</div>
          </div>

          <div>
            <div class="AddNewSubscription__listing-limit-container">
              <div *ngFor="let tier of subscription.tiers; let i = index"
                (click)="selectListingLimit(subscription.tiers[i])" class="AddNewSubscription__listing-limit-box"
                [ngClass]="{'AddNewSubscription__listing-limit-box--selected' : selectedTier.id === subscription.tiers[i].id}">
                <span *ngIf="subscription.tiers[i].limit">{{subscription.tiers[i].limit}}</span>
                <span *ngIf="!subscription.tiers[i].limit" i18n="@@Unlimited">Unlimited</span>
              </div>
            </div>
            <div class="AddNewSubscription__listing-limit-more" *ngIf="subscription.category_id === carsCategoryId"
              i18n="@@ContactUsDirectly">
              Do you have more than
              {{subscription.tiers[subscription.tiers.length - 1].limit}} {{subscription.category_name.toLowerCase()}}?
              <a href="{{carDealerTypeformLink}}" target="_blank" (click)="trackClickCardealerTypeform()">Contact us directly</a>
            </div>
          </div>
          <div>
            <div class="AddNewSubscription__listing-limit-payment AddNewSubscription__listing-limit-payment--line-top">
              <div class="text-left">
                <span class="AddNewSubscription__listing-limit-quantity">
                  <span *ngIf="selectedTier.limit" i18n="@@CategoryPlan">{{selectedTier.limit}} {{subscription.category_name}}
                    Plan</span>
                  <span *ngIf="!selectedTier.limit" i18n="@@UnlimitedPlan">Unlimited {{subscription.category_name}} Plan</span>
                </span>
              </div>
              <div class="text-right">
                <div *ngIf="isFreeTier(selectedTier) && !hasTrial(subscription)" class="AddNewSubscription__free-months">
                  <b *ngIf="selectedTier.discount_available.months === 1" i18n="@@OneMonthFree">One month free</b>
                  <b *ngIf="selectedTier.discount_available.months > 1" i18n="@@MultipleMonthsFree">{{selectedTier.discount_available.months}} months free</b>
                </div>
                <div *ngIf="hasTrial(subscription)" class="AddNewSubscription__free-months">
                    <b i18n="@@AddNewSubscriptionDaysFree">{{subscription.trial_days}} days free</b>
                  </div>
                <div *ngIf="isDiscountedTier(selectedTier) || hasTrial(subscription)" class="AddNewSubscription__price-after-discount" i18n="@@ThenPriceMonth">
                  Then {{selectedTier.price}}{{selectedTier.currency}}/month
                </div>
                <div *ngIf="!isDiscountedTier(selectedTier) && !hasTrial(subscription)" class="AddNewSubscription__listing-limit-price" i18n="@@PriceMonth">
                  {{selectedTier.price}}{{selectedTier.currency}}/month
                </div>
              </div>
            </div>
            <tsl-button className="btn-primary btn-medium payment" [disabled]="!selectedTier" (click)="carousel.next()" i18n="@@ContinueToInvoice">
              Continue to invoice
            </tsl-button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide id="step-2">
      <div class="step step-2">
        <div class="box-content">
          <div>
            <p class="AddNewSubscription__listing-limit-steps" i18n="@@step2of3">Step <span class="bold">2</span> of <span
                class="bold">3</span></p>
            <div class="AddNewSubscription__listing-limit-title" i18n="@@Invoice">Invoice</div>
          </div>
          <div>
            <div class="form-group">
              <ng-select class="form-control" i18n-placeholder placeholder="Do you need an invoice?" (selected)="onInvoiceOptionSelect($event)" 
              id="invoiceOptions" [options]="invoiceOptions" noFilter="10">
              </ng-select>
            </div>
          </div>
          <div>
            <tsl-button *ngIf="selectedInvoiceOption === false || selectedInvoiceOption === undefined || !isBillingInfoMissing"
            className="btn-primary btn-medium payment" [disabled]="selectedInvoiceOption === undefined"
            (click)="carousel.select('step-3'); trackClickContinueToPayment()" i18n="@@ContinueToPayment">
              Continue to payment
            </tsl-button>
            <tsl-button *ngIf="selectedInvoiceOption === true && isBillingInfoMissing" className="btn-primary btn-medium payment"
            [disabled]="!selectedInvoiceOption"
            (click)="continueToInvoice()" i18n="@@ContinueToInvoice">
              Continue to invoice
            </tsl-button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide id="step-2b">
      <div class="step step-2b">
        <div class="box-content">
          <div>
            <p class="AddNewSubscription__listing-limit-steps" i18n="@@step2of3">
              Step <span class="bold">2</span> of <span class="bold">3</span></p>
            <div class="AddNewSubscription__listing-limit-title" i18n="@@Invoice">Invoice</div>
          </div>
          <div>
            <tsl-profile-pro-billing [containerType]="'modal'" (billingInfoFormSaved)="onBillingInfoFormSaved()">
            </tsl-profile-pro-billing>
          </div>
          <div>
            <tsl-button className="btn-primary btn-medium payment"
            (click)="continueToPayment();trackClickContinueToPayment();"
            i18n="@@ContinueToPayment">
              Continue to payment
            </tsl-button>
            <tsl-button className="simple" (click)="carousel.prev()" i18n="@@BackToInvoice">
              Back to invoice
            </tsl-button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide id="step-3">
      <div class="step step-3">
        <div class="box-content">
          <div>
            <div *ngIf="subscription.tiers.length !== 1">
              <p class="AddNewSubscription__listing-limit-steps" i18n="@@step3of3">Step <span class="bold">3</span> of <span
                  class="bold">3</span></p>
            </div>
            <div class="AddNewSubscription__listing-limit-title" i18n>Add payment details</div>
          </div>
          <div class="row AddNewSubscription__listing-limit-payment">
            <div
              class="col-6 AddNewSubscription__listing-limit-selection AddNewSubscription__listing-limit-selection--left">
              <div class="AddNewSubscription__listing-limit-quantity--selected">
                <span *ngIf="selectedTier.limit" i18n>{{selectedTier.limit}} {{subscription.category_name}} Plan</span>
                <span *ngIf="!selectedTier.limit" i18n>Unlimited {{subscription.category_name}} Plan</span>
              </div>
            </div>
            <div
              class="col-6 AddNewSubscription__listing-limit-selection AddNewSubscription__listing-limit-selection--right">
              <span *ngIf="!isDiscountedTier(selectedTier) && !isFreeTier(selectedTier) && !hasTrial(subscription)"
              class="AddNewSubscription__listing-limit-price--selected"
                i18n>{{selectedTier.price}}{{selectedTier.currency}}/month</span>
              <div *ngIf="isDiscountedTier(selectedTier) && !isFreeTier(selectedTier) && !hasTrial(subscription)"
              class="AddNewSubscription__listing-limit-price--selected"
                i18n>{{selectedTier.discount_available.discounted_price}}{{selectedTier.currency}}/month</div>
              <div class="AddNewSubscription__free-months" *ngIf="isFreeTier(selectedTier) && !hasTrial(subscription)">
                <b *ngIf="selectedTier.discount_available?.months === 1" i18n>One month free</b>
                <b *ngIf="selectedTier.discount_available?.months > 1" i18n>{{selectedTier.discount_available.months}} months free</b>
              </div>
              <div *ngIf="hasTrial(subscription)" class="Subscriptions__category-info-trial">
                <div i18n="@@subscriptionNewModalUntilDate">{{0 | customCurrency}} until {{subscription.trial_days | dateUntilDay}}</div>
              </div>
              <div *ngIf="isDiscountedTier(selectedTier) || isFreeTier(selectedTier) || hasTrial(subscription)"
                class="AddNewSubscription__price-after-discount" i18n>Then {{selectedTier.price}}{{selectedTier.currency}}/month</div>
              <div *ngIf="subscription.tiers.length !== 1" class="AddNewSubscription__listing-limit-payment-edit"
                (click)="carousel.select('step-1')" i18n>Change</div>
            </div>
          </div>
          <div>
            <div class="w-100 h-100 align-items-center"
              [ngClass]="{'AddNewSubscription__selection-container--with-saved-card': savedCard}">
              <div>
                <tsl-stripe-card-selection *ngIf="hasSavedCard && savedCard"
                  (onSelectExistingCard)="setSavedCard($event)" (hasCard)="hasCard($event)"></tsl-stripe-card-selection>
              </div>
              <div class="AddNewSubscription__payment-add-card" (click)="addNewCard()" *ngIf="savedCard" i18n>+ Add
                another credit card</div>
              <tsl-stripe-card-element *ngIf="showCard" [newLoading]="loading" [disabled]="isPaymentError"
                [type]="'subscription'" [listingLimit]="selectedTier" [spaceBetween]="true" [action]="action"
                [showUseSavedCard]="hasSavedCard" [isPaymentError]="isPaymentError"
                (onClickUseSavedCard)="removeNewCard()" (onFocusCard)="isPaymentError = false"
                (onStripeCardCreate)="addSubscription($event); trackClickPay(true);" (stripeCard)="setCardInfo($event)">
              </tsl-stripe-card-element>

              <div [hidden]="!savedCard" class="AddNewSubscription__legal-info" i18n>
                By subscribing, you are accepting the <a href="{{termsAndConditionsURL}}" target="_blank">terms & conditions</a>
                and the <a href="{{privacyPolicyURL}}" target="_blank">privacy policy</a> of Wallapop S.L. and Stripe Ltd
            </div>
              <tsl-button [hidden]="!savedCard" [disabled]="!selectedCard || loading" [loading]="loading"
                (click)="addSubscriptionFromSavedCard(); trackClickPay(false);" id="qa-checkout-subscription"
                className="btn-primary btn-medium stripe">
                  <div *ngIf="!hasTrial(subscription)">
                    <span *ngIf="!isDiscountedTier(selectedTier)" i18n>Pay {{selectedTier.price}}{{selectedTier.currency}}</span>
                    <span *ngIf="isDiscountedTier(selectedTier)" i18n>Pay {{selectedTier.discount_available.discounted_price}}{{selectedTier.currency}}</span>
                  </div>
                  <div *ngIf="hasTrial(subscription)">
                    <span i18n="@@AddNewModalSubscribeNow">Try the {{subscription?.trial_days}}-day trial for free!</span>
                  </div>
              </tsl-button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>