<div class="CancelSubscription__box">
  <div class="CancelSubscription__box-header">
    <div class="modal-close" (click)="activeModal.dismiss()">
      <mat-icon svgIcon="cross"></mat-icon>
    </div>
  </div>
  <h4 class="CancelSubscription__box--title" i18n>Would you want to cancel the PRO subscription {{subscription.category_name}}?</h4>
  <p class="CancelSubscription__box--subtitle" i18n>It’s sad that you are leaving us. You can return whenever you want, we’ll be waiting for you!</p>
  <tsl-button (click)="cancelSubscription()" [loading]="loading" [disabled]="loading" i18n>Yes, I want to cancel my subscription.</tsl-button>
  <tsl-button className="btn-gray" (click)="activeModal.dismiss()" [loading]="loading" [disabled]="loading" i18n>No, I want to keep my subscription.</tsl-button>
</div>