@import "~style/common";

.EditSubscription__box {
  text-align: center;
  padding: 0 0 $spacing-m;
  .EditSubscription__box-header {
    background: $walla-main;
    height: 100px;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    color: $white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &--title {
    font-size: $font-size-l;
    font-weight: bold;
    margin: $spacing-m 0 $spacing-s;
  }
  &--subtitle {
    font-size: $font-size-m;
    color: $white;
      margin: 0;
  }
}

.EditSubscription__listing-limit-price {
  color: $black;
  font-size: $font-size-lll;
}

.EditSubscription__listing-limit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: $spacing-m;
  .EditSubscription__listing-limit-box {
    padding: $spacing-m;
    height: 60px;
    border-right: 1px solid $blue-grey-5;
    box-shadow: 0px 3px 5px -2px $blue-grey-5;
    flex: 0 0 75px;
    cursor: pointer;
  }
}

.EditSubscription__listing-limit-selection {
  width: 250px;
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
}

.EditSubscription__listing-limit-payment {
  width: 80%;
  margin: $spacing-m auto $spacing-m;
}

.EditSubscription__cancel-link {
    color: $blue-grey-2;
    margin: $spacing-m 0 0;
    cursor: pointer;
}

.selected {
  font-weight: bold;
  color: $walla-main;
  height: 56px !important;
  box-shadow: 0px 4px 5px 0px $blue-grey-5 !important;
}

.modal-close {
  width: 12px;
  height: 12px;
  mat-icon {
    width: 12px;
    height: 12px;
    line-height: 12px;
    /deep/ svg path {
      fill: $white;
    }
  }
}
