<div class="SubscribedSuccessfully__box">
  <div class="modal-close" (click)="activeModal.dismiss()">
      <mat-icon svgIcon="cross"></mat-icon>
  </div>
  <div class="row">
    <div class="SubscribedSuccessfully__box-image col-4"></div>
    <div class="SubscribedSuccessfully__box-content col-8">
      <h3>You have subscribed successfully</h3>
      <p>From now on you can enjoy all the benefits.</p>
      <tsl-button className="btn btn-primary" (click)="close()">Go to my profile</tsl-button>
    </div>
  </div>
</div>