@import '~style/common';
$bubble-color: #ebeff1;

.ItemTaxonomy {
  font-size: $font-size-s;
  background-color: $bubble-color;
  padding: 10px 15px;
  border-radius: 25px;
  color: $black;

  &--extendedRight {
  }
  &--extendedLeft {
  }
}
