@import '~style/common';

.ItemTaxonomy {
  font-size: $font-size-s;
  background-color: $blue-grey-5;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 25px;
  color: $black;

  &--extendedRight {
  }
  &--extendedLeft {
  }
}
