<div class="d-flex">
    <label *ngIf="taxonomyIsDefined(parentTaxonomy)" class="ItemTaxonomy d-flex align-items-center" [ngClass]="{'ItemTaxonomy--extendedRight': taxonomyIsDefined(childTaxonomy)}">
        <tsl-svg-icon *ngIf="iconPath" [src]="iconPath" class="mr-1" width="24" height="24" ></tsl-svg-icon>
        {{parentTaxonomy}}
    </label>
    <label *ngIf="taxonomyIsDefined(childTaxonomy)" class="ItemTaxonomy ItemTaxonomy--extendedLeft align-items-center">
        {{childTaxonomy}}
    </label>
</div>