@import "~style/common";

$stats-sidebar-width: 340px;
$h-container-spacing: 80px;
$v-container-spacing: 40px;

.container {
  position: static;
  padding: $v-container-spacing $h-container-spacing;
  overflow: auto;
  width: calc(100% - #{$sidebar-width} - #{$stats-sidebar-width} - (2 * #{$h-container-spacing}));
  box-sizing: content-box;
  height: calc(100vh - #{$topbar-height} - #{$v-container-spacing * 2});
  background-color: $blue-grey-5;
  margin: 0;
  margin-left: $sidebar-width;
  margin-top: $topbar-height;
}

h2 {
  font-size: $font-size-xxl;
  font-weight: $font-weight-chunky;
}

.list-group-item {
  padding-left: 0;
  padding-bottom: $spacing-ml;
  padding-right: 0;
}

.nav.filters-nav {
  font-weight: normal;
  font-size: $font-size-l;
  text-transform: none;
}

$sidebar-title: 64px;
.stats-sidebar {
  h2 {
    font-size: $font-size-l;
    margin-bottom: $spacing-ml;
  }
  h2, h3 {
    padding: 0 $spacing-ml;
  }
  height: calc(100vh - #{$topbar-height});
  background-color: $white;
  width: $stats-sidebar-width;
  position: absolute;
  top: $topbar-height;
  right: 0;
  padding: $spacing-ml 0;
  .stats-sidebar-container {
    position: relative;
    .check-corporate {
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
    &.calls-container {
      border-top: 1px solid $blue-grey-5;
    }
  }
  .scroll-panel {
    overflow-y: auto;
    height: calc(100vh - #{$sidebar-title} - #{$topbar-height});
    position: relative;
    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }
  h3 {
    font-size: $font-size-xs;
    font-weight: $font-weight-chunky;
    color: $blue-grey-2;
    margin-top: $spacing-ml;
    margin-bottom: $spacing-ms;
    text-transform: uppercase;
    padding-right: $spacing-ms;
    a {
      float: right;
      color: $walla-main;
      font-size: $font-size-xs;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        opacity: .8;
      }
    }
  }
  .calls-container {
    h3 {
      margin-bottom: $spacing-ml;
    }
  }
}
.stats-sidebar-empty-state {
  display: block;
  width: 400px;
  height: auto;
  margin: $spacing-xl 0;
}

.stats-sidebar-completed {
  height: calc(100vh - #{$sidebar-title});
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  md-icon {
    width: 144px;
    height: 212px;
    margin-bottom: $spacing-xxxl;
  }
  h2 {
    margin-bottom: $spacing-s;
  }
  p {
    padding: 0 $spacing-xxxl;
    color: $blue-grey-3;
  }
}

tsl-stats-graph {
  margin-bottom: $spacing-ml;
}
