@import '~style/common';

.user-detail {
  background: $white;
  border: thin solid $blue-grey-5;
  border-radius: $border-radius;
  text-align: center;
  .list-group-flush {
    padding: $spacing-ms 0;
    .list-group-item {
      ::ng-deep {
        text-align: center;
        border: 0;
        font-size: $font-size-s;
        color: $blue-grey-2;
        padding: 0 $spacing-ml $spacing-xs $spacing-ml;
        display: flex;
        align-items: flex-start;
        background: transparent;
        &:last-child {
          padding-bottom: 0;
        }
        > div {
          margin: 0 auto;
          display: flex;
          align-items: center;
        }
        tsl-svg-icon {
          @include square(16px);
          margin-right: $spacing-xs;
        }
      }
    }
  }
}
