@import '~style/common';

:host {
  background-color: $white;
  border-radius: $spacer * 1.25;
  box-shadow: 0px 1px 4px 0px rgba($blue-grey-1, 0.1);
  display: inline-block;
  font-size: $font-size-xs;
  max-width: 100%;
  overflow: hidden;
  padding: $spacer * 0.25 $spacer * 0.75;
  text-overflow: ellipsis;
  white-space: nowrap;
}
