<div class="KYCUploadImages" *ngIf="userDevicePermissions$ | async as userDevicePermissions">
    <div class="row">
        <div class="col">
            <a class="KYCUploadImages__back d-flex pb-4 pb-md-2" (click)="handleBack()">
                <tsl-svg-icon src="/assets/icons/back-arrow.svg" class="align-self-center"></tsl-svg-icon>
                <span i18n="@@web_catalog_pro_pages_checkout_638" class="ml-3">Back</span>
            </a>
        </div>
    </div>
    <div class="KYCUploadImages__container">
        <div class="row text-center mb-4 mt-2">
            <div class="col">
                <span class="KYCUploadImages__title d-block mb-2" i18n="@@kyc_take_photo_view_if_one_side_title">Take a photo of your document</span>
                <span class="KYCUploadImages__subtitle d-block mb-3" i18n="@@kyc_take_photo_view_if_one_side_description">
                    Go somewhere with good lighting and take the photo. Make sure the document you provide is valid for at least 3 months.
                </span>
            </div>
        </div>
        <div class="row mb-4" *ngIf="canUploadOrShootImage(userDevicePermissions)">
            <div class="KYCUploadImages__image col d-flex align-items-center justify-content-center p-0">
                <input id="uploadImage" #uploadImage type="file" (change)="defineImage($event)" class="d-none" [accept]="MIME_TYPES.IMAGE_JPEG">
                <tsl-svg-icon *ngIf="!isCurrentImageDefined" src="/assets/icons/camera.svg" width="100" height="80"></tsl-svg-icon>
                <canvas id="definedImage" #definedImage class="KYCUploadImages__image__canvas w-100 h-100" [ngClass]="{'d-none': !isCurrentImageDefined}"></canvas>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <tsl-button *ngIf="showTakeImageButton" className="btn-primary" (click)="uploadOrShootImage()" i18n="@@kyc_take_photo_view_if_one_side_take_photo_button">Take photo</tsl-button>
                <tsl-button *ngIf="showRetakeImageButton" className="btn-primary" (click)="removeImage()" i18n="@@">Rehacer foto</tsl-button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div *ngIf="isErrorBanner(userDevicePermissions.video); else takingImageSection" class="mx-3">
                    <tsl-banner [specifications]="errorBannerSpecifications">
                        <div class="d-flex align-items-center">
                            <tsl-svg-icon src="/assets/icons/wallet/kyc/banner/error.svg"></tsl-svg-icon>{{cameraFailedCopy(userDevicePermissions.video)}}
                        </div>
                    </tsl-banner>
                </div>
                <ng-template #takingImageSection>
                    <div class="justify-content-center row" [ngClass]="{'d-none': !requestCameraSucceed(userDevicePermissions.video) || !isShootImageMethod}">
                        <div class="KYCUploadImages__cameraContainer col-12 col-sm-8 p-0">
                            <video autoplay playsInline muted #userCamera class="h-100 w-100 p-2 p-sm-0"></video>
                            <div class="KYCUploadImages__cameraContainer__overlay position-absolute"></div>
                        </div>
                    </div>
                    <div class="text-center row mt-3">
                        <tsl-button 
                            *ngIf="showContinueButton" id="endVerificationButton"
                            [disabled]="!isContinueButtonActive"
                            i18n="@@kyc_end_verification"
                            class="col"
                            (click)="goToDefineBackImage()">Continuar</tsl-button>
                        <tsl-button 
                            *ngIf="showEndVerificationButton" id="endVerificationButton"
                            [disabled]="!allImagesAreDefined"
                            i18n="@@kyc_end_verification"
                            class="col"
                            (click)="endVerification.emit()">End verification</tsl-button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>