@import '~style/common';

$image-block-width: 300px;
$image-block-width--big: 360px;
$image-height: 200px;
$image-height--big: 240px;

.KYCUploadImages {
  &__back {
    cursor: pointer;
    color: $blue-grey-1;

    &:hover {
      text-decoration: none;
      &,
      tsl-svg-icon {
        opacity: 0.8;
      }
    }
  }

  &__title,
  &__subtitle {
    color: $blue-grey-1;
  }

  &__title {
    font-size: $font-size-l;
    font-weight: $font-weight-chunky;
  }

  &__imageLaterals {
    padding: 0px 32px;
  }

  &__imageContainer {
    flex: 1;
  }

  &__image {
    overflow: hidden;
    box-sizing: content-box;
    height: $image-height;

    @include media-breakpoint-up(sm) {
      height: $image-height--big;
    }

    border: dashed 2px $blue-grey-5;

    &--round {
      border-radius: $border-radius;
    }
  }

  &__imageBlock {
    width: $image-block-width;

    @include media-breakpoint-up(sm) {
      width: $image-block-width--big;
    }
  }

  &__bottomContainer {
    bottom: 0;
  }
}
