@import '~style/common';

.KYCUploadImages {
  &__back {
    cursor: pointer;
    color: $blue-grey-1;

    &:hover {
      text-decoration: none;
      &,
      tsl-svg-icon {
        opacity: 0.8;
      }
    }
  }

  &__cameraContainer,
  &__takenImage {
    border-radius: $border-radius;
  }

  &__cameraContainer__overlay {
    top: 12%;
    left: 8%;
    width: 83%;
    height: 76%;
    border: 3px solid $white;
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 0px 40px;
  }

  &__image {
    border: solid 2px $blue-grey-5;

    &__title {
      color: $blue-grey-2;
    }

    &--active {
      border: solid 2px $blue-grey-2;
      .KYCUploadImages__image__title {
        color: $blue-grey-1;
      }
    }
  }
}
