@import '~style/common';

$image-height-big: 300px;
$image-height-small: 200px;

.KYCUploadImages {
  &__back {
    cursor: pointer;
    color: $blue-grey-1;

    &:hover {
      text-decoration: none;
      &,
      tsl-svg-icon {
        opacity: 0.8;
      }
    }
  }

  &__container {
    margin: 0px 32px;
  }

  &__title,
  &__subtitle {
    color: $blue-grey-1;
  }

  &__title {
    font-size: $font-size-l;
    font-weight: $font-weight-chunky;
  }

  &__image {
    height: $image-height-small;

    @include media-breakpoint-up(sm) {
      height: $image-height-big;
    }

    border: dashed 2px $blue-grey-5;
    border-radius: $border-radius;

    &__canvas,
    &__video {
      border-radius: $border-radius;
    }

    &__video {
      object-fit: cover;
    }
  }
}
