<div class="KYCUploadImages h-100 container d-flex flex-column justify-content-between">
    <div class="row">
        <div class="col">
            <a class="KYCUploadImages__back d-flex" (click)="handleBack()">
                <tsl-svg-icon src="/assets/icons/back-arrow.svg" class="align-self-center"></tsl-svg-icon>
                <span id="headerText" class="ml-3">{{headerText}}</span>
            </a>
        </div>
    </div>
    <tsl-spinner *ngIf="showLoadingBlock$ | async"></tsl-spinner>
    <ng-container *ngIf="showImageBlock$ | async">
        <div id="imageBlock" [ngClass]="(showLoadingBlock$ | async) ? 'd-none' : 'd-flex'"
            class="KYCUploadImages__imageLaterals row flex-column justify-content-between">
            <div class="col d-flex flex-column justify-content-center p-0 KYCUploadImages__imageContainer">
                <div class="row text-center mb-4 mt-2">
                    <div class="col">
                        <span class="KYCUploadImages__title d-block mb-2">{{title$ | async}}</span>
                        <span class="KYCUploadImages__subtitle d-block mb-2">{{subtitle$ | async}}</span>
                    </div>
                </div>
                <div class="row justify-content-center mb-4" >
                    <div class="col d-flex justify-content-center p-0">
                        <ng-container *ngIf="!isShootImageMethod">
                            <input id="uploadImage" #uploadImage type="file" (change)="defineImage($event)" class="d-none" [accept]="MIME_TYPES.IMAGE_JPEG">
                            <div id="uploadImageFallbackContent" *ngIf="(isCurrentImageDefined$ | async) === false"
                                class="KYCUploadImages__image KYCUploadImages__uploadImageContainer KYCUploadImages__imageBlock d-flex align-items-center justify-content-center p-0">
                                <tsl-svg-icon src="/assets/icons/camera.svg" width="100" height="80"></tsl-svg-icon>
                            </div>
                            <div id="uploadImageDefinedContent" *ngIf="(isCurrentImageDefined$ | async)" [style.background]="'url(' + (currentBase64Image$ | async) + ')'"
                                class="KYCUploadImages__image KYCUploadImages__uploadImageContainer KYCUploadImages__imageBlock">
                            </div>
                         </ng-container>
                        <ng-container  *ngIf="isShootImageMethod">
                            <canvas id="definedImage" #definedImage class="KYCUploadImages__imageBlock KYCUploadImages__image" [ngClass]="{'d-none': (isCurrentImageDefined$ | async) === false}"></canvas>
                            <video autoplay playsInline muted id="userVideo" #userVideo class="KYCUploadImages__imageBlock KYCUploadImages__image" [ngClass]="{'d-none': isCurrentImageDefined$ | async}"></video>
                        </ng-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center p-0">
                        <div class="KYCUploadImages__imageBlock">
                            <tsl-button *ngIf="showTakeImageButton$ | async" id="takeImageButton" class="p-0" className="btn-primary btn-block" (click)="uploadOrShootImage()">{{takeImageMessage$ | async}}</tsl-button>
                            <tsl-button *ngIf="showRetakeImageButton$ | async" id="retakeImageButton" class="p-0" className="btn-gray btn-block" (click)="removeCurrentImage()">{{retakeImageMessage$ | async}}</tsl-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [ngClass]="{'d-none': (showLoadingBlock$ | async)}"
            class="KYCUploadImages__bottomContainer row position-sticky text-center justify-content-center">
            <tsl-button
                *ngIf="showContinueButton$ | async" id="continueVerificationButton"
                [disabled]="(isContinueButtonActive$ | async) === false"
                i18n="@@kyc_take_photo_view_continue_button"
                class="col-12 col-md-7 p-0"
                className="btn-primary btn-block"
                (click)="goToDefineBackImage()">Continue</tsl-button>
            <tsl-button
                *ngIf="showEndVerificationButton$ | async" id="endVerificationButton"
                [disabled]="(isEndVerificationButtonActive$ | async) === false"
                i18n="@@kyc_end_verification"
                class="col-12 col-md-7 p-0"
                className="btn-primary btn-block"
                (click)="emitEndVerification()">Finish verification</tsl-button>
        </div>
    </ng-container>
    <div *ngIf="showErrorBlock$ | async" class="row h-100 d-flex align-items-center justify-content-center">
        <div class="col">
            <tsl-banner [specifications]="errorBannerSpecifications" class="w-100">
                <div class="d-flex align-items-center">
                    <tsl-svg-icon src="/assets/icons/wallet/kyc/banner/error.svg"></tsl-svg-icon>
                    <span *ngIf="(videoPermissions$ | async) === VIDEO_PERMISSIONS_STATUS.DENIED" i18n="@@kyc_camera_access_refused">You must accept the permissions to be able to take photos</span>
                    <span *ngIf="(videoPermissions$ | async) === VIDEO_PERMISSIONS_STATUS.CANNOT_ACCESS" i18n="@@kyc_camera_cannot_access" >Oops, an error occurred and we cannot access your camera</span>
                </div>
            </tsl-banner>
        </div>
    </div>
</div>