<tsl-filter-template [isBubble]="variant | isBubble"
                     [isDropdown]="true"
                     [title]="config.title"
                     [icon]="icon$ | async"
                     [label]="label$ | async"
                     [hasValue]="hasValue$ | async"
                     (openStateChange)="openStateChange.emit($event)">

  <form [formGroup]="formGroup" [class.CategoriesFilter__grid]="variant | isBubble">
    <tsl-grid-select-form *ngIf="variant === VARIANT.BUBBLE"
                          formControlName="select"
                          [isHoverMainColor]="true"
                          [isBig]="true"
                          [isMultiselect]="false"
                          [options]="this.config.options"
                          [columns]="4"
                          [columnsSm]="3"
                          [columnsMd]="3"
                          [columnsLg]="3"
                          [columnsXl]="2">
    </tsl-grid-select-form>

    <tsl-drawer-placeholder-template *ngIf="variant === VARIANT.CONTENT"
                                     [contentTitle]="config.title"
                                     [hasContentPlaceholder]="true"
                                     [isClearable]="false"
                                     [placeholderLabel]="label$ | async"
                                     [placeholderIcon]="placeholderIcon$ | async"
                                     (placeholderOpenStateChange)="openStateChange.emit($event)">
        <tsl-select-form
          formControlName="select"
          [options]="this.config.options | formatSelectOptions">
        </tsl-select-form>
    </tsl-drawer-placeholder-template>
  </form>

</tsl-filter-template>
