@import '~style/common';

.CategoriesFilter {
  &__grid {
    max-width: 890px;

    @include media-breakpoint-down(md) {
      max-width: 600px;
    }

    @include media-breakpoint-down(sm) {
      max-width: none;
    }
  }
}
