<tsl-filter-template [isBubble]="isBubble()"
                     [isDropdown]="isDropdown()"
                     [title]="config.title"
                     [icon]="icon$ | async"
                     [label]="label$ | async"
                     [hasValue]="hasValue$() | async"
                     (openStateChange)="openStateChange.emit($event)">

  <form [formGroup]="formGroup">
    <tsl-grid-select-form *ngIf="variant === VARIANT.BUBBLE"
                          formControlName="select"
                          [isHoverMainColor]="true"
                          [isBig]="true"
                          [isMultiselect]="false"
                          [options]="this.config.options"
                          [columns]="6">
    </tsl-grid-select-form>

    <tsl-select-filter-template *ngIf="variant === VARIANT.CONTENT"
                                [contentTitle]="config.title"
                                [hasContentPlaceholder]="true"
                                [isClearable]="false"
                                [placeholderLabel]="label$ | async"
                                [placeholderIcon]="placeholderIcon$ | async">
        <tsl-select-form
          formControlName="select"
          [options]="this.config.options | formatSelectOptions">
        </tsl-select-form>
    </tsl-select-filter-template>
  </form>

</tsl-filter-template>
