@import '~web-styleguide/scss/spacing';
@import '~web-styleguide/scss/text';
@import '~style/common';

.WalletTransferModal {
  &__title {
    font-family: $wallie;
    font-size: $font-size-m;
    font-weight: $font-weight-chunky;
    left: 0;
    top: 10px;
  }
  &__content {
    margin-top: $spacing-xxl;
    padding: $spacing-s;

    @include media-breakpoint-up(md) {
      padding: $spacing-xl;
    }

    &--tight {
      margin-top: 0;
      padding: $spacing-ml;
    }
  }
}
