<div class="WalletTransferModal d-flex align-items-center justify-content-center">
  <div [class.d-none]="isInConfirmationStep">
    <div class="WalletTransferModal__title d-flex align-items-center justify-content-center w-100 position-absolute">
      <span i18n="@@make_transfer_view_transfer_button">Transfer to my bank account</span>
    </div>
    <div class="WalletTransferModal__close modal-close d-flex align-items-center justify-content-center" (click)="closeModal()">
      <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
    </div>
  </div>
  <div
    class="WalletTransferModal__content modal-body profile-box d-flex justify-content-center"
    [class.WalletTransferModal__content--tight]="isInConfirmationStep"
  >
    <tsl-stepper>
      <ng-template step>
        <tsl-wallet-transfer-amount [transferData]="transferAmount" (transfered)="goNextStep($event)"></tsl-wallet-transfer-amount>
      </ng-template>
      <ng-template step>
        <tsl-wallet-transfer-confirm
          [transferAmount]="transferAmount"
          (canceled)="goPreviousStep()"
          (transferError)="goPreviousStep($event)"
        ></tsl-wallet-transfer-confirm>
      </ng-template>
    </tsl-stepper>
  </div>
</div>
