.TransactionDetailWithoutAction {
  &__descriptionWrapper {
    overflow: hidden;
    pointer-events: none;
    flex: 1;

    ::ng-deep {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
