@import "~style/common";

.box {
  h2 {
    margin-bottom: $spacing-s;
  }
  p {
    color: $blue-grey-3;
    margin-bottom: $spacing-ml;
  }
}

.types {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: $font-size-xxs;
  .type {
    display: block;
    color: $blue-grey-2;
    text-transform: uppercase;
    font-weight: $font-weight-chunky;
    text-align: center;
    cursor: pointer;
    .square {
      @include square(90px);
      border-radius: 15px;
      background: $blue-grey-5;
      border: solid 2px transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: $spacing-s;
      mat-icon {
        @include square(43px);
        opacity: 0.5;
      }
    }
    &:hover:not(.active) {
      text-decoration: none;
      color: $blue-grey-1;
      .square {
        border: solid 2px $blue-grey-2;
        mat-icon {
          opacity: 1;
        }
      }
    }
    &:first-of-type {
      .square {
        width: 218px;
        mat-icon {
          width: 218px;
          height: 90px;
        }
      }
    }
    &.active {
      color: $walla-main;
      .square {
        background-color: $walla-main;
        mat-icon {
          opacity: 1;
          /deep/ {
            .black {
              fill: $white;
            }
            .green {
              fill: $white;
              opacity: 0.3;
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    max-width: 340px;
    margin: 0 auto;
    justify-content: space-between;
    .type {
      width: 30%;
      .square {
        max-width: 90px;
        width: 100%;
      }
      &:first-of-type {
        width: 65%;
        .square {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}
