<div class="box" [ngbPopover]="coachmarkCategory" triggers="mouseenter:mouseleave">
  <div class="row">
    <div class="col">
      <h2 i18n>What will you list?</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p i18n>Set the product type</p>
    </div>
  </div>
  <div class="row">
    <div class="col types">
      <a class="type" (click)="setCategory(-1)" [ngClass]="{active: category === -1}"
        tslTrackEvent="UPLOADFORM_CHOOSEHEROCATEGORY" [params]="{herocategory: '590'}">
        <div class="square">
          <mat-icon svgIcon="herocat-consumer-goods"></mat-icon>
        </div>
        <span i18n>Something I don't use anymore</span>
      </a>
      <a class="type mb-3 mb-md-0" (click)="setCategory(100)" [ngClass]="{active: category === 100}"
        tslTrackEvent="UPLOADFORM_CHOOSEHEROCATEGORY" [params]="{herocategory: '100'}">
        <div class="square">
          <mat-icon svgIcon="herocat-cars"></mat-icon>
        </div>
        <span i18n>A car</span>
      </a>
      <a class="type" (click)="setCategory(13000)" [ngClass]="{active: category === 13000}"
        tslTrackEvent="UPLOADFORM_CHOOSEHEROCATEGORY" [params]="{herocategory: '13000'}">
        <div class="square">
          <mat-icon svgIcon="herocat-real-estate"></mat-icon>
        </div>
        <span i18n>A property</span>
      </a>
      <a class="type" (click)="setCategory(13200)" [ngClass]="{active: category === 13200}"
        tslTrackEvent="UPLOADFORM_CHOOSEHEROCATEGORY" [params]="{herocategory: '13200'}">
        <div class="square">
          <mat-icon svgIcon="herocat-services"></mat-icon>
        </div>
        <span i18n>My services</span>
      </a>
      <a class="type" (click)="setCategory(21000)" [ngClass]="{active: category === 21000}"
        tslTrackEvent="UPLOADFORM_CHOOSEHEROCATEGORY" [params]="{herocategory: '21000'}">
        <div class="square">
          <mat-icon svgIcon="herocat-jobs"></mat-icon>
        </div>
        <span i18n>Job</span>
      </a>
    </div>
  </div>
  <ng-template #coachmarkCategory>
    <div i18n>It's important you select the product type or service to be reached by the other users.</div>
  </ng-template>
</div>