<a class="card user-info" href="{{user.webLink}}" target="_blank" tslTrackEvent="USER_PROFILE_VIEWED" [params]="{user_id: user.id}">
  <div class="card-block">
    <tsl-user-avatar [user]="user" size="60"></tsl-user-avatar>
    <h1 class="card-title">{{user.microName}}</h1>
    <tsl-stars *ngIf="user.scoringStars > -1" [stars]="user.scoringStars" [normalized]="false"></tsl-stars>
  </div>
  <ul class="card-block list-group list-group-flush">
    <li class="list-group-item" *ngIf="phone">
      <mat-icon svgIcon="call-shared"></mat-icon>
      {{phone}}
    </li>
    <li class="list-group-item">
      <mat-icon svgIcon="location"></mat-icon>
      <span [hidden]="!user.itemDistance" i18n="The distance between the user and the item">{{user.itemDistance | number:'1.0-1' // i18n(ph="DISTANCE")}}km from you</span>
      <span [hidden]="user.itemDistance" i18n>No location</span>
    </li>
    <li class="list-group-item" *ngIf="user.receivedReports > -1">
      <mat-icon svgIcon="reports"></mat-icon>
      <span [ngSwitch]="user.receivedReports">
      <ng-container *ngSwitchCase="0" i18n>No spam/scam reports</ng-container>
      <ng-container *ngSwitchCase="1" i18n>One spam/scam report</ng-container>
      <ng-container *ngSwitchDefault
                    i18n>{{user.receivedReports // i18n(ph="TOTAL_NUMBER")}} spam/scam reports</ng-container>
    </span>
    </li>
    <li class="list-group-item" *ngIf="user.responseRate">
      <tsl-user-response-rate [responseRate]="user.responseRate"></tsl-user-response-rate>
    </li>
  </ul>
</a>
<a class="card" href="{{user?.sellingItem.webLink}}" tslTrackEvent="CONVERSATION_SELLING_CAR_VIEWED" [params]="{item_id: user.sellingItem.id}"
   target="_blank" *ngIf="user.sellingItem">
  <div class="card-block">
    <tsl-item-avatar class="pull-left" [item]="user?.sellingItem" fallbackLight="true"></tsl-item-avatar>
    <div class="item-details-wrap">
      <div class="item-details">
        <span class="selling-label" i18n>Selling</span>
        <span *ngIf="user.itemsCount > 0" class="items-count" i18n>+{{user.itemsCount // i18n(ph="ITEMS_COUNT")}} More</span>
        <h2>{{user.sellingItem.title}}</h2>
      </div>
    </div>
  </div>
</a>
