@import "~style/common";

:host {
  display: block;
}

.card {
  color: $blue-grey-1;
  &.calls-panel {
    padding: 0;
    margin: 0;
    background: transparent;
    .list-group-flush .list-group-item {
      padding: 0 0 $spacing-ml 0;
    }
    .list-group {
      padding: 0;
    }
  }
  .card-block {
    text-align: center;
    tsl-user-avatar {
      margin-bottom: $spacing-s;
    }
    .card-title {
      margin-bottom: $spacing-s;
      line-height: $line-height-m;
      margin-top: -$spacing-s;
    }
    tsl-stars {
      margin-bottom: -$spacing-s;
    }
  }
  .list-group-flush {
    padding: $spacing-ml 0;
    border-top: 1px solid $blue-grey-5;
    .list-group-item {
      border: 0;
      font-size: $font-size-s;
      padding: 0 $spacing-ml $spacing-ms $spacing-ml;
      display: flex;
      background: transparent;
      &:last-child {
        padding-bottom: 0;
      }
      mat-icon {
        height: 16px;
        width: 16px;
        margin-right: $spacing-ms;
        margin-top: $spacing-xxs;
      }
    }
  }
  .item-details-wrap {
    display: flex;
    flex-direction: row;
    height: $item-avatar-size;
    text-align: left;
    overflow: hidden;
    .item-details {
      color: $blue-grey-2;
      line-height: $line-height-ml;
      margin-bottom: 0;
      align-self: center;
      .selling-label {
        color: $blue-grey-2;
        font-weight: $font-weight-chunky;
        font-size: $font-size-xs;
        text-transform: uppercase;
        margin-right: $spacing-xs;
      }
      h2 {
        font-size: $font-size-s;
        line-height: $font-size-ll;
        max-height: 40px;
        overflow: hidden;
      }
      .items-count {
        font-size: $font-size-xs;
        color: $walla-main;
        font-weight: $font-weight-chunky;
      }
    }
  }
}

tsl-user-response-rate {
  text-align: left;
}
