@import "../../style/_common.scss";

.review-header {
  padding: $spacing-L;
  h1 {
    font-size: $font-size-LL;
  }
  p {
    font-size: $font-size-S;
    color: $grey-250;
  }
  .user-average {
    p {
      color: $grey-500;
    }
  }
}

.container {
  background-color: $white;
  border-radius: $border-radius;
}

:host /deep/ tsl-stars {
  md-icon {
    width: 22px;
    height: 21px;
  }
}