<div class="page-content"
     infinite-scroll
     [infiniteScrollDistance]="5"
     [infiniteScrollThrottle]="100"
     [scrollWindow]="false"
     [infiniteScrollDisabled]="end || loading"
     (scrolled)="loadMore()"
     [scrollTop]="scrollTop">
  <div class="container">
    <div class="review-header row">
      <div class="col-9">
        <h1 i18n>Your Reviews</h1>
        <p i18n>This is what people think about you. </p>
      </div>
      <div class="user-average col-2">
        <p i18n>Your average</p>
        <tsl-stars class="header-rating" [stars]="this.userScore" [normalized]="false"></tsl-stars>
      </div>
      <div class="user-number-reviews text-center col-1">
        <p>{{ reviewsNum }}</p>
        <p i18n>Reviews</p>
      </div>
    </div>
    <div class="row items">
      <div class="reviews-empty-state" *ngIf="!reviews.length && !loading">
        <md-icon svgIcon="reviews-empty-state" class="image"></md-icon>
        <div class="message" i18n>Nobody has written a review about you because you didn't buy or sell anything yet. Wake up!</div>
      </div>
      <tsl-review-item *ngFor="let review of reviews" [review]="review" class="col-md-12"></tsl-review-item>
    </div>
  </div>
</div>
