<div class="box SubscriptionList">
  <ng-container *ngIf="!isLoading; else loading">
    <div class="box-content text-center">
      <h4 class="section-title mb-2" i18n="@@web_wallapop_pro_subscription_title">Boost your online business with Wallapop PRO</h4>
      <p class="section-subtitle" i18n="@@web_wallapop_pro_subscription_sub_title">Choose a subscription to take your sales to the next level</p>
      <div class="d-flex justify-content-center">
        <div class="w-100">
          <ng-container *ngFor="let subscription of subscriptionsOrdered">
            <tsl-subscription-card
              (buttonClick)="onClickButton(subscription)"
              [isSubscribed]="isSubscribed(subscription)"
              [subscription]="subscription"
              [textButton]="getTextButton(subscription)"
              [hasTrialAvailable]="hasOneFreeSubscription(subscription)"
              [tierDiscount]="hasDiscount(subscription)"
              [subscriptionBenefits]="getBenefits(subscription)"
              *ngIf="subscription"
            >
            </tsl-subscription-card>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="row loading-center">
      <tsl-spinner></tsl-spinner>
    </div>
  </ng-template>
</div>
