<div class="box SubscriptionList">
  <ng-container *ngIf="!isLoading; else loading">
    <div class="box-content text-center">
      <ng-container *ngIf="isPro; else noProView">
        <div class="mt-2 SubscriptionList__title text-xl-left"
          i18n="@@pro_manage_subscriptions_view_active_subscriptions_title">Currently active
        </div>
        <div class="d-flex justify-content-center SubscriptionList__container">
          <div class="w-100">
            <ng-container *ngFor="let subscription of subscriptionsOrdered">
              <tsl-subscription-card (buttonClick)="onClickButton(subscription)"
                [isSubscribed]="isSubscribed(subscription)" [subscription]="subscription"
                [textButton]="getTextButton(subscription)" [hasTrialAvailable]="hasOneFreeSubscription(subscription)"
                [tierDiscount]="hasDiscount(subscription)" [subscriptionBenefits]="getBenefits(subscription)"
                [isMobile]="isMobile" *ngIf="subscription?.subscribed_from">
              </tsl-subscription-card>
            </ng-container>
          </div>
        </div>
        <div class="mt-4 pt-2 SubscriptionList__title text-xl-left"
          i18n="@@pro_manage_subscriptions_view_non_active_subscriptions_title">Other available</div>
        <div class="d-flex justify-content-center SubscriptionList__container">
          <div class="w-100">
            <ng-container *ngFor="let subscription of subscriptionsOrdered">
              <tsl-subscription-card (buttonClick)="onClickButton(subscription)"
                [isSubscribed]="isSubscribed(subscription)" [subscription]="subscription"
                [textButton]="getTextButton(subscription)" [hasTrialAvailable]="hasOneFreeSubscription(subscription)"
                [tierDiscount]="hasDiscount(subscription)" [subscriptionBenefits]="getBenefits(subscription)"
                [isMobile]="isMobile" *ngIf="subscription && !subscription.subscribed_from">
              </tsl-subscription-card>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <ng-template #noProView>
        <h4 class="section-title mb-2 text-center" i18n="@@web_wallapop_pro_subscription_title">Boost your online
          business with Wallapop PRO</h4>
        <p class="section-subtitle text-center" i18n="@@web_wallapop_pro_subscription_sub_title">Choose a subscription
          to take your sales to the next level</p>
        <div class="d-flex justify-content-center SubscriptionList__container">
          <div class="w-100">
            <ng-container *ngFor="let subscription of subscriptionsOrdered">
              <tsl-subscription-card (buttonClick)="onClickButton(subscription)"
                [isSubscribed]="isSubscribed(subscription)" [subscription]="subscription"
                [textButton]="getTextButton(subscription)" [hasTrialAvailable]="hasOneFreeSubscription(subscription)"
                [tierDiscount]="hasDiscount(subscription)" [subscriptionBenefits]="getBenefits(subscription)"
                [isMobile]="isMobile" *ngIf="subscription">
              </tsl-subscription-card>
            </ng-container>
          </div>
        </div>
      </ng-template>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="row loading-center">
      <tsl-spinner></tsl-spinner>
    </div>
  </ng-template>
</div>