<div class="ImagesCarousel position-relative h-100 w-100">
    <tsl-item-flag *ngIf="leftFlagType" [type]="leftFlagType" class="position-absolute ItemFlag ItemFlag--left">
        {{leftFlagType}}
    </tsl-item-flag>
    <tsl-item-flag *ngIf="itemFlags?.bumped" [type]="ITEM_FLAG_TYPES.FEATURED"
        class="position-absolute ItemFlag ItemFlag--right" i18n="@@Featured">Featured</tsl-item-flag>
    <ngb-carousel *ngIf="images?.length; else fallbackImage" interval="0" id="defaultCarousel"
        (swipeleft)="carousel.next()" (swiperight)="carousel.prev()" [ngClass]="{
        'hideControllers': images?.length <=1}">
        <ng-template *ngFor="let image of images; let i = index" ngbSlide [id]="NGB_SLIDE + i">
            <img *ngIf="currentSlide === NGB_SLIDE+i" [src]="image" alt="" [fallback]="IMAGE_FALLBACK"
                class="ImagesCarousel__image" (click)="emitCurrentImage(i)">
        </ng-template>
    </ngb-carousel>
    <ng-template #fallbackImage>
        <img class="ImagesCarousel__image ImagesCarousel__image--fallback h-100 w-100" [src]="IMAGE_FALLBACK"
            alt="fallback" loading="lazy">
    </ng-template>
</div>