<div class="ImagesCarousel position-relative" *ngIf="images?.length">
    <ngb-carousel interval="0" (swipeleft)="onSwipe(SWIPE_TYPE_ENUM.LEFT)" (swiperight)="onSwipe(SWIPE_TYPE_ENUM.RIGHT)"
        [ngClass]="{
        'hideControllers': images?.length <=1}">
        <ng-template *ngFor="let image of images; let i = index" ngbSlide #defaultCarousel>
            <div class="ImagesCarousel__image" (click)="emitCurrentImage(i)">
                <img [src]="image" alt="" class="w-100 h-100" [fallback]="IMAGE_FALLBACK" loading="lazy">
            </div>
        </ng-template>
    </ngb-carousel>
</div>