@import '~style/common';
@import 'styles/item-card-wide-variables';

.ItemCardWide {
  height: $card-height-small-view;
  max-width: $card-max-width;
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: $item-card-box-shadow;
  font-size: $font-size-s;
  @include media-breakpoint-up(md) {
    font-size: $font-size-m;
  }

  &:hover {
    transform: $item-card-hover-translate;
    box-shadow: $item-card-hover-box-shadow;
  }

  cursor: pointer;
  transition: all 0.15s ease;

  @include media-breakpoint-up(md) {
    height: $card-height-big-view;
  }

  &__images {
    height: $image-height-small-view;

    @include media-breakpoint-up(md) {
      height: 100%;
      tsl-carousel-slides ::ng-deep {
        ngb-carousel ::ng-deep {
          .carousel-control-prev,
          .carousel-control-next {
            margin: 0 5px;
          }
        }
      }
    }

    img {
      object-fit: cover;
    }
  }

  &__title {
    font-size: $font-size-m;
  }

  &__description {
    @include vertical-ellipsis(4);
    color: $blue-grey-3;
  }

  &__price {
    font-size: $font-size-l;
    &--bold {
      font-weight: $font-weight-chunky;
    }
  }

  &__price,
  &__title {
    color: $blue-grey-1;
  }

  &__favourite {
    cursor: pointer;
    ::ng-deep svg {
      width: 20px;
    }
  }

  &__extraInfo {
    overflow-x: auto;
    @include hide-scroll-bars;
  }

  &__icon {
    @include square(32px);
    background: $white;
    border-radius: 50%;
    top: $icon-margin;
    z-index: 1;

    &--bumped {
      background: $walla-main;
    }

    &--contryBumped {
      background: $payblue-main;
    }

    &--left {
      left: $icon-margin;
    }

    &--right {
      right: $icon-margin;
    }
  }
}
