<div class="modal-body">
    <h3 i18n="@@address_view_all_users_modal_warning_country_selection_description">Each country has its own shipping methods. Changing the country will change the shipping services available. Do you want to continue?</h3>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" i18n="@@address_view_all_users_modal_warning_country_selection_cancel_button" (click)="activeModal.close()" id="cancelButton">Cancel</button>
    <button type="button" class="btn btn-warn" i18n="@@address_view_all_users_modal_warning_country_selection_continue_button" (click)="activeModal.close(true)">Continue</button>
  </div>
  