<div id="dropdown-main-search-btn" class="topbar-menu-dropdown" ngbDropdown ngbDropdownToggle>
  <mat-icon svgIcon="categories" class="topbar-icon"></mat-icon>
  <mat-icon svgIcon="arrow-waterfall" class="arrow-icon"></mat-icon>
  <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-left">
    <li class="dropdown-item">
      <a [href]="homeUrl">
        <mat-icon svgIcon="category_All" class="category-icon"></mat-icon>
        <mat-icon svgIcon="category_All-hover" class="category-icon category-icon-hover"></mat-icon>
        <span i18n>All Categories</span>
      </a>
    </li>
    <li class="dropdown-item" *ngFor="let category of categories">
      <a (click)="selectCategory(category)">
        <mat-icon svgIcon="{{ category.iconName }}" class="category-icon"></mat-icon>
        <mat-icon svgIcon="{{ category.iconName }}-hover" class="category-icon category-icon-hover"></mat-icon>
        <span *ngIf="i18n.locale === 'en'">{{ category.defaultTitle }}</span>
        <span *ngIf="i18n.locale === 'es'">{{ category.title }}</span>
      </a>
    </li>
  </ul>
</div>