@import "~style/common";

$dropdown-height: 412px;
$dropdown-width: 900px;

#dropdown-main-search-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 8px 0 0;
  border-right: 1px solid $grey-100;
  float: initial;
  height: 100%;
  width: 54px;
  cursor: pointer;
  position: relative;
  &.dropdown-toggle::after {
    display: none;
  }
  .dropdown-item {
    float: left;
    clear: right;
    &:hover {
      .category-label {
        color: $corporate;
      }
      .category-icon {
        display: none;
      }
      .category-icon-hover {
        display: inline;
      }
    }
  }
  .dropdown-menu {
    border: solid 1px $color-grey-separator;
    box-shadow: 0 2px 6px 0 rgba($grey-900, 0.05);
    width: $dropdown-width;
    box-sizing: content-box;
    overflow: hidden;
    padding: $spacing 0 0 0;
    li {
      background-color: transparent;
      padding: 0;
      position: relative;
      width: $dropdown-width/6;
      margin-bottom: $spacing;
      height: 80px;
      a {
        display: flex;
        align-items: center;
        flex-direction: column;
        float: left;
        width: 100%; 
        height: 100%;
        color: $grey-900;
        overflow: hidden;
        transition: all .15s linear;
        text-decoration: none;
        i {
          vertical-align: middle;
        }
        span {
          vertical-align: middle;
        }
        span {
          width: 70%;
          font-size: $font-size-XS;
          white-space: normal;
          text-align: center;
        }
      }
    }
    &.active {
      position: fixed;
    }
  }
}

.category-icon {
  width: 100%;
  height: 48px;
  &-hover {
    display: none;
  }
}

.topbar-icon {
  height: 36px;
  width: 36px;
  color: $grey-200;
  vertical-align: middle;
  vertical-align: middle;
}

.arrow-icon {
  height: 36px;
  width: 36px;
  position: absolute;
  right: -6px;
}

.categories {
  color: $grey-900;
  font-size: $font-size-S;
  line-height: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
