@import "~style/common";

.box-content {
  color: $blue-grey-3;
  padding: $spacing-xxl $spacing-xxxl*1.93;
  h4 {
    color: $blue-grey-1;
    text-align: center;
    font-size: $font-size-l;
    font-weight: bold;
    margin: 0 0 $spacing-ms;
  }
  .section-subtitle {
    text-align: center;
  }
}

.Subscriptions {
  justify-content: center;
}

.Subscriptions__category {
  border: 1px solid $blue-grey-5;
  border-radius: 10px;
  padding: $spacing-m;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: $blue-grey-2;
  min-width: 228px;
  margin: 0 $spacing-xs;
  flex: 1 1 0px;
  max-width: 308px;
  height: 282px;
  cursor: pointer;
  p {
    margin: $spacing-xxs;
  }
  .Subscriptions__category-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $font-size-s;
    margin: 0;
    &--edit {
      color: $walla-main;
      text-align: center;
    }
    &--price {
      font-weight: bold;
    }
  }
  .Subscriptions__category-title {
    font-size: $font-size-l;
    font-weight: bold;
    color: $blue-grey-2;
    margin: $spacing-s 0 0;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid $blue-grey-5;
    margin: $spacing-ms 0;
    padding: 0;
    width: 50%;
  }
  .Subscriptions__category-icon {
    padding: 15px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    background-color: $blue-grey-5;
    mat-icon {
      height: 40px;
      width: 40px;
    }
  }
  &--subscribed {
    border: 2px solid $walla-main;
    color: $blue-grey-1;
    hr {
      border-top: 2px solid $walla-main;
    }
    .Subscriptions__category-title {
      color: $blue-grey-1;
    }
    .Subscriptions__category-info {
      margin: 0;
    }
  }
}

.Subscriptions__subscribed-from {
  color: $walla-main;
  font-weight: bold;
  font-size: $font-size-s;
}

.Subscriptions__subscribed-until {
  color: $blue-grey-2;
  font-size: $font-size-s;
  text-align: center;
}

.Subscriptions__subscribed-continue {
  color: $walla-main;
  font-size: $font-size-s;
}

.loading-center {
  display: block;
  margin: 0 auto;
}

@include media-breakpoint-down(sm) {
  .box-content {
    padding: $spacing-m;
  }

  .Subscriptions__category {
    width: 100%;
    margin: 0px 16px 16px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}