<div class="box">
  <div class="box-content" [hidden]="loading">
    <h4 class="section-title" i18n>wallapop PRO</h4>
    <p class="section-subtitle" i18n>Manage your subscriptions to wallapop PRO to increase your sales.</p>
    <div class="Subscriptions d-flex flex-column flex-content-justify align-items-center flex-md-row">
      <div class="Subscriptions__category"
        [ngClass]="{
          'Subscriptions__category--subscribed': subscription.subscribed_from,
          'Subscriptions__category--with-one-free': hasOneFreeSubscription(subscription)
        }"
      (click)="openSubscriptionModal(subscription)" *ngFor="let subscription of subscriptions">
        <div class="Subscriptions__category-icon">
          <mat-icon *ngIf="subscription.subscribed_from" svgIcon="cat_{{subscription.category_icon}}"class="image"></mat-icon>
          <mat-icon [hidden]="subscription.subscribed_from" svgIcon="cat_{{subscription.category_icon}}-disabled" class="image"></mat-icon>
        </div>
        <div class="Subscriptions__category-title">{{subscription.category_name}}</div>
        <hr />
        <div [hidden]="subscription.subscribed_from" class="Subscriptions__category-info">
            <p i18n *ngIf="subscription.current_limit">Limit without subscription: {{subscription.current_limit}}</p>
            <p i18n *ngIf="!subscription.current_limit">No limit</p>
            <p [ngClass]="{ 'Subscriptions__category-info--discounted': hasOneTierDiscount(subscription) }">
              <span i18n *ngIf="subscription.tiers.length !== 1">From: </span>
              {{subscription.tiers[0].price}}{{subscription.tiers[0].currency}}
            </p>
            <div *ngIf="hasOneFreeTier(subscription)" class="Subscriptions__category-info-discount">
              <div *ngIf="subscription.tiers[0].discount_available.months === 1" i18n>One month free</div>
              <div *ngIf="subscription.tiers[0].discount_available.months > 1" i18n>{{subscription.tiers[0].discount_available.months}} months free</div>
            </div>
        </div>
        <div *ngIf="subscription.subscribed_from" class="Subscriptions__category-info">
            <p i18n *ngIf="subscription.selected_tier.limit">{{subscription.selected_tier.limit}} products</p>
            <p i18n *ngIf="!subscription.selected_tier.limit">No limit</p>
            <p class="Subscriptions__category-info--price" i18n>
              {{subscription.selected_tier.price}}{{subscription.selected_tier.currency}}/month
            </p>
            <p class="Subscriptions__category-info--edit" *ngIf="!subscription.subscribed_until">
              <span *ngIf="showEdit(subscription)" i18n>Edit</span>
              <span *ngIf="showCancel(subscription)" i18n>Cancel</span>
              <span *ngIf="showManageInApp(subscription)" i18n>Manage in app</span>
            </p>
        </div>
        <tsl-button className="btn-primary" [hidden]="subscription.subscribed_from" i18n>Subscribe</tsl-button>
        <span *ngIf="subscription.subscribed_from" [hidden]="subscription.subscribed_until" class="Subscriptions__subscribed-from" i18n>
          Subscribed from {{subscription.subscribed_from | date:'dd/MM/yy' }}
        </span>
        <span *ngIf="subscription.subscribed_until" class="Subscriptions__subscribed-until" i18n>
          Subscription ends on {{subscription.subscribed_until | date:'dd/MM/yy' }}
        </span>
        <span *ngIf="subscription.subscribed_until" class="Subscriptions__subscribed-continue" i18n>
          Stay subscribed
        </span>
      </div>
    </div>
  </div>
  <div class="row loading-center">
    <tsl-spinner [hidden]="!loading"></tsl-spinner>
  </div>
</div>

<tsl-subscription-benefits [hidden]="loading"></tsl-subscription-benefits>