<div class="box">
  <div class="box-content">
    <h4 class="section-title">Subscriptions</h4>
    <p class="section-subtitle">Aquí puedes gestionar tus suscripciones y añadir más</p>
    <div class="Subscriptions">
      <div class="Subscriptions__category" [ngClass]="{'Subscriptions__category--subscribed': subscription.subscribed_from }"
      (click)="openSubscriptionModal(subscription)" *ngFor="let subscription of subscriptions">
        <div class="Subscriptions__category-icon">
          <mat-icon svgIcon={{subscription.category_icon}} class="image"></mat-icon>
        </div>
        <div class="Subscriptions__category-title">{{subscription.category_name}}</div>
        <hr />
        <div [hidden]="subscription.subscribed_from" class="Subscriptions__category-info">
            <p>Limit: {{subscription.current_limit}}</p>
            <p>From: {{subscription.tiers[0].price}}{{subscription.tiers[0].currency}}</p>
        </div>
        <div *ngIf="subscription.subscribed_from" class="Subscriptions__category-info">
            <p>{{subscription.selected_tier.limit}} products</p>
            <p class="Subscriptions__category-info--price">
              {{subscription.selected_tier.price}}{{subscription.selected_tier.currency}}/month
            </p>
            <p class="Subscriptions__category-info--edit">Edit</p>
        </div>
        <tsl-button className="btn-primary" [hidden]="subscription.subscribed_from">Subscribe</tsl-button>
        <span *ngIf="subscription.subscribed_from" class="Subscriptions__subscribed-from">
          Subscribed from {{subscription.subscribed_from | date:'dd/MM/yy' }}</span>
      </div>
    </div>
  </div>
</div>
<div class="box">
    <div class="box-content">
      <h4 class="section-title">Benefits of being a PRO</h4>
      <p class="section-subtitle">Vendas lo que vendas, consigue las funcionalidades que te faltan para llevar tus ventas al siguiente nivel.</p>
      <div class="row">
        <div class="col-4">
          <div class="Subscriptions__benefits-icon">
            <mat-icon svgIcon="magnet" class="image"></mat-icon>
          </div>
          <div class="Subscriptions__benefits-info">
            <p class="Subscriptions__benefits--title">Destaca sobre el resto</p>
            <p>Aparece en las primeras posiciones de búsqueda y destaca sobre otros</p>
          </div>
        </div>
        <div class="col-4">
          <div class="Subscriptions__benefits-icon">
            <mat-icon svgIcon="megaphone" class="image"></mat-icon>
          </div>
          <div class="Subscriptions__benefits-info">
            <p class="Subscriptions__benefits--title">Capta más clientes</p>
            <p>Muestra a millones de compradores el teléfono y la web de tu negocio</p>
          </div>
        </div>
        <div class="col-4">
          <div class="Subscriptions__benefits-icon">
            <mat-icon svgIcon="paintbrush" class="image"></mat-icon>
          </div>
          <div class="Subscriptions__benefits-info">
            <p class="Subscriptions__benefits--title">Presenta tu negocio</p>
            <p>Añade la descripción de tu tienda o servicio y su ubicación</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="Subscriptions__benefits-icon">
            <mat-icon svgIcon="rocket" class="image"></mat-icon>
          </div>
          <div class="Subscriptions__benefits-info">
            <p class="Subscriptions__benefits--title">Destaca sobre el resto</p>
            <p>Aparece en las primeras posiciones de búsqueda y destaca sobre otros</p>
          </div>
        </div>
        <div class="col-4">
          <div class="Subscriptions__benefits-icon">
            <mat-icon svgIcon="unlocked" class="image"></mat-icon>
          </div>
          <div class="Subscriptions__benefits-info">
            <p class="Subscriptions__benefits--title">Destaca sobre el resto</p>
            <p>Aparece en las primeras posiciones de búsqueda y destaca sobre otros</p>
          </div>
        </div>
        <div class="col-4">
          <div class="Subscriptions__benefits-icon">
            <mat-icon svgIcon="watch" class="image"></mat-icon>
          </div>
          <div class="Subscriptions__benefits-info">
            <p class="Subscriptions__benefits--title">Destaca sobre el resto</p>
            <p>Aparece en las primeras posiciones de búsqueda y destaca sobre otros</p>
          </div>
        </div>
      </div>
    </div>
</div>