<div class="box">
  <div class="box-content" [hidden]="loading">
    <h4 class="section-title" i18n>PRO subscriptions</h4>
    <p class="section-subtitle" i18n>Manage your subscriptions to wallapop PRO to increase your sales.</p>
    <div class="Subscriptions">
      <div class="Subscriptions__category" [ngClass]="{'Subscriptions__category--subscribed': subscription.subscribed_from }"
      (click)="!subscription.subscribed_until && openSubscriptionModal(subscription)" *ngFor="let subscription of subscriptions">
        <div class="Subscriptions__category-icon">
          <mat-icon *ngIf="subscription.subscribed_from" svgIcon="cat_{{subscription.category_icon}}"class="image"></mat-icon>
          <mat-icon [hidden]="subscription.subscribed_from" svgIcon="cat_{{subscription.category_icon}}-disabled" class="image"></mat-icon>
        </div>
        <div class="Subscriptions__category-title">{{subscription.category_name}}</div>
        <hr />
        <div [hidden]="subscription.subscribed_from" class="Subscriptions__category-info">
            <p i18n>Limit: {{subscription.current_limit}}</p>
            <p i18n>From: {{subscription.tiers[0].price}}{{subscription.tiers[0].currency}}</p>
        </div>
        <div *ngIf="subscription.subscribed_from" class="Subscriptions__category-info">
            <p i18n>{{subscription.selected_tier.limit}} products</p>
            <p class="Subscriptions__category-info--price" i18n>
              {{subscription.selected_tier.price}}{{subscription.selected_tier.currency}}/month
            </p>
            <p class="Subscriptions__category-info--edit" *ngIf="!subscription.subscribed_until" i18n>Unsubscribe</p>
        </div>
        <tsl-button className="btn-primary" [hidden]="subscription.subscribed_from" (click)="onClickSubscribeButton(subscription)">Subscribe</tsl-button>
        <span *ngIf="subscription.subscribed_from" [hidden]="subscription.subscribed_until" class="Subscriptions__subscribed-from" i18n>
          Subscribed from {{subscription.subscribed_from | date:'dd/MM/yy' }}
        </span>
        <span *ngIf="subscription.subscribed_until" class="Subscriptions__subscribed-from" i18n>
          Subscribed until {{subscription.subscribed_until | date:'dd/MM/yy' }}
        </span>
      </div>
    </div>
  </div>
  <div class="row loading-center">
    <tsl-spinner [hidden]="!loading"></tsl-spinner>
  </div>
</div>
<div class="box">
  <div class="box-content" [hidden]="loading">
    <h4 class="section-title" i18n>Boost your sales</h4>
    <p class="section-subtitle" i18n>Take your sales to the next level with the advantages of the PRO subscription.</p>
    <div class="row">
      <div class="Subscriptions__benefits col-4">
        <div class="Subscriptions__benefits-icon">
          <mat-icon svgIcon="magnet" class="image"></mat-icon>
        </div>
        <div class="Subscriptions__benefits-info">
          <p class="Subscriptions__benefits--title" i18n>Upload all your catalogue</p>
          <p i18n>Publish up to 15 cars at a time and make yourself a PRO agent.</p>
        </div>
      </div>
      <div class="Subscriptions__benefits col-4">
        <div class="Subscriptions__benefits-icon">
          <mat-icon svgIcon="megaphone" class="image"></mat-icon>
        </div>
        <div class="Subscriptions__benefits-info">
          <p class="Subscriptions__benefits--title" i18n>Professionalize your profile</p>
          <p i18n>Add a photo and fill in the extra fields. Stand out over the rest!</p>
        </div>
      </div>
      <div class="Subscriptions__benefits col-4">
        <div class="Subscriptions__benefits-icon">
          <mat-icon svgIcon="paintbrush" class="image"></mat-icon>
        </div>
        <div class="Subscriptions__benefits-info">
          <p class="Subscriptions__benefits--title" i18n>Introduce your business</p>
          <p i18n>Include a description of what you offer and share your location.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="Subscriptions__benefits-icon">
          <mat-icon svgIcon="rocket" class="image"></mat-icon>
        </div>
        <div class="Subscriptions__benefits-info">
          <p class="Subscriptions__benefits--title"i18n>Win more clients</p>
          <p i18n>Millions of customers can call you or visit your website from your profile.</p>
        </div>
      </div>
      <div class="col-4">
        <div class="Subscriptions__benefits-icon">
          <mat-icon svgIcon="unlocked" class="image"></mat-icon>
        </div>
        <div class="Subscriptions__benefits-info">
          <p class="Subscriptions__benefits--title" i18n>Without time limit</p>
          <p i18n>Your items won’t expire ever; they will always be available.</p>
        </div>
      </div>
      <div class="col-4">
        <div class="Subscriptions__benefits-icon">
          <mat-icon svgIcon="watch" class="image"></mat-icon>
        </div>
        <div class="Subscriptions__benefits-info">
          <p class="Subscriptions__benefits--title" i18n>Without compromise</p>
          <p i18n>Cancel your subscription whenever you want, without any penalisation.</p>
        </div>
      </div>
    </div>
  </div>
</div>