@import '~style/common';

.StripeCards {
  h3 {
    position: absolute;
    font-size: $font-size-s;
    font-weight: $font-weight-chunky;
  }
}

.StripeCards__group {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 0;
  margin-left: 0;
}

.StripeCards__newCard {
  color: $walla-main;
  display: flex;
  justify-content: center;
  align-items: center;
}

$card-height: 151px;

.StripeCards__addNew {
  border: solid 1px $blue-grey-5;
  color: $walla-main;
  cursor: pointer;
  min-height: $card-height;
  padding: 0 $spacing-ml;
  flex-direction: column;
  border-radius: 6px;
  align-items: center;
  font-size: $font-size-s;
  display: flex;
  justify-content: center;
}
