<div class="box profile-box">
    <div class="box-content">
        <div class="row">
            <div class="col-10 offset-2">
                <div class="form-group row align-items-center">
                    <label class="col-3" i18n>Payment method:</label>
                    <div *ngFor="let stripeCard of stripeCards">
                        <tsl-credit-card-info [stripeCard]="stripeCard" (onSetFavoriteCard)="onSetFavoriteCard($event)" (onDeleteCard)="onDeleteCard($event)"></tsl-credit-card-info>
                    </div>
                    <div class="StripeCards-newCard">
                        <a (click)="addNewCard()" i18n>Add new card</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>