<div id="paymentMethod" class="row box profile-box d-md-block">
  <div class="col-12 col-md-11 offset-md-1">
    <div class="row">
      <div class="col-12">
          <h3 class="section-title" i18n="@@web_stripe_cards_535">Payment method</h3>
      </div>
    </div>
    <div class="form-group row mb-0">
      <div *ngIf="isSubscribed" class="col-12 col-md-4 offset-md-2">
          <h4 i18n="@@web_subscription_card">Card linked to subscriptions</h4>
          <div class="StripeCards__card" *ngFor="let subscriptionStripeCard of subscriptionStripeCards">
            <tsl-credit-card-info [financialCard]="subscriptionStripeCard" [hideEdit]="!subscriptionStripeCard.invoices_default"
              (onSetChangeCard)="onSetChangeCard($event)" (onDeleteStripeCard)="onDeleteCard($event)">
            </tsl-credit-card-info>
          </div>
          <div class="StripeCards__addNew" *ngIf="subscriptionStripeCards?.length <= 0">
            <span i18n="@@web_add_new_subscription_card" (click)="addNewSubscriptionCard()">Link a card to your subscriptions</span>
          </div>
      </div>
      <div class="col-12 col-md-4 " [ngClass]="{'offset-md-1': isSubscribed,'offset-md-2': !isSubscribed}">
        <h4 i18n="@@web_current_cards">Saved cards</h4>
        <div class="StripeCards__group">
          <div class="StripeCards__card" *ngFor="let stripeCard of stripeCards">
            <tsl-credit-card-info [financialCard]="stripeCard" [hideEdit]="!stripeCard.invoices_default"
              (onDeleteStripeCard)="onDeleteCard($event)">
            </tsl-credit-card-info>
          </div>
          <div class="StripeCards__addNew" *ngIf="stripeCards?.length < 10">
              <span (click)="addNewCard()" i18n="@@web_add_card">Add card</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>