@import '~style/common';

.CancelBubbleComponent {
  cursor: pointer;
  border-radius: 21.5px;
  background: $blue-grey-6;
  border: solid 1px $walla-main;
  &__rounded_icon {
    height: 20px;
    width: 20px;
    border: 1px solid $walla-main;
    ::ng-deep svg path {
      fill: $walla-main;
    }
  }
}
