@import '~style/common';
$linear-yellow: #bacc5b;
$linear-blue: #25c2a3;

.CancelBubbleComponent {
  width: 100%;

  font: $blue-grey-1;
  &__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__rounded_icon {
    background-color: $white;
    min-height: 20px;
    min-width: 20px;
    border: 1px solid $walla-main;
    ::ng-deep svg path {
      fill: $walla-main;
    }
  }
}

.rounded-gradient {
  border-radius: 21px;
  border-width: 1px;
  border: 0;
  background: $blue-grey-6;
  //z-index: 3;
  position: relative;
}
.rounded-gradient:before {
  right: 0.5px;
  content: '';
  display: block;
  position: absolute;
  background: linear-gradient(5deg, $linear-yellow, $linear-blue, $walla-main);
  position: absolute;
  width: 102%;
  height: 107%;
  border-radius: 18px;
  z-index: -3;
}
