@import '~style/common';
@import '../item-card-wide/styles/item-card-wide-variables';

$margin: $spacer * 0.75;
$loading-opacity: 0.4;
$loaded-opacity: 1;

@mixin grid-setup($numCols) {
  grid-template-columns: repeat($numCols, minmax(0, 1fr));
}

$sizes: 'xs', 'sm', 'md', 'lg', 'xl';
$numCols: 1, 2, 3, 4, 5;

@each $size in $sizes {
  @each $numCol in $numCols {
    .grid-#{$size}-#{$numCol} {
      @include media-breakpoint-up($size) {
        @include grid-setup($numCol);
      }
    }
  }
}

.ItemCardList {
  display: grid;
  grid-gap: $margin;
  opacity: $loaded-opacity;
  transition: opacity 150ms ease-in-out;

  &__item {
    text-decoration: none !important;
  }

  &__slot {
    background-color: $blue-grey-5;
    border-radius: $border-radius;
    &--wide {
      margin: auto;
      width: 100%;
      max-width: $card-max-width;
    }
  }

  &__inline-slot {
    grid-column-start: 1;
    grid-column-end: 3;
    &--wide {
      grid-column-start: auto;
      grid-column-end: auto;
    }
  }

  &--loading {
    opacity: $loading-opacity;
  }
}
