<div class="ItemCardList w-100 m-auto grid-xs-{{columnsConfig.xs}} grid-sm-{{columnsConfig.sm}} grid-md-{{columnsConfig.md}} grid-lg-{{columnsConfig.lg}}">
   
   <ng-container  *ngFor="let item of items; let i = index">
       <div *ngIf="slotsConfig && (i | showSlot: slotsConfig)" class="ItemCardList__slot d-flex justify-content-center align-items-center" >AD SLOT</div>
       <tsl-public-item-card
        [item]="item" [showDescription]="showDescription"
        [showFavourite]="!(item.owner | isCurrentUser | async)" (toggleFavourite)="toggleFavourite(item)" (click)="openItemDetailPage(item, i)"></tsl-public-item-card>
    </ng-container>
   
</div>