<div tslAdSlotShopping
    class="ItemCardList w-100 m-auto grid-xs-{{columnsConfig.xs}} grid-sm-{{columnsConfig.sm}} grid-md-{{columnsConfig.md}} grid-lg-{{columnsConfig.lg}} grid-xl-{{columnsConfig.xl}}"
    [class.ItemCardList--loading]="isLoading && !showPlaceholder">
    <ng-container *ngFor="let item of items; let i = index">
        <ng-container *ngxPermissionsOnly="PERMISSIONS.showAds">
            <div *ngIf="slotsConfig && (i | showSlot: slotsConfig) && showNativeAdSlots"
                class="ItemCardList__slot d-flex justify-content-center align-items-center"
                [class.ItemCardList__slot--wide]="cardType === cardTypes.WIDE">
                <tsl-sky-shopping [index]="i" [cardType]="cardTypes"></tsl-sky-shopping>
            </div>

            <div class="ItemCardList__inline-slot d-sm-none"
                [class.ItemCardList__inline-slot--wide]="cardType === cardTypes.WIDE"
                *ngIf="i === INLINE_SLOT_POSITION">
                <ng-content select="[inlineAdSlot]"></ng-content>
            </div>
        </ng-container>
        <a [href]="item.webSlug | itemDetailRoute" [title]="item.title" target="_blank" class="ItemCardList__item">
            <tsl-public-item-card *ngIf="cardType === cardTypes.REGULAR" [item]="item"
                [showDescription]="showDescription" [showFavourite]="!(item.ownerId | isCurrentUser)"
                (toggleFavourite)="toggleFavourite(item)" (click)="trackItemCardClick({itemCard: item, index: i})">
            </tsl-public-item-card>
            <tsl-item-card-wide *ngIf="cardType === cardTypes.WIDE" [item]="item"
                [showFavourite]="!(item.ownerId | isCurrentUser)" (toggleFavourite)="toggleFavourite(item)"
                (click)="trackItemCardClick({itemCard: item, index: i})">
            </tsl-item-card-wide>
        </a>
    </ng-container>

    <ng-container *ngIf="showPlaceholder && (cardType === cardTypes.REGULAR)">
        <tsl-item-card-placeholder *ngFor="let i of [].constructor(placeholderCards)"></tsl-item-card-placeholder>
    </ng-container>

    <ng-container *ngIf="showPlaceholder && (cardType === cardTypes.WIDE)">
        <tsl-item-card-wide-placeholder *ngFor="let i of [].constructor(placeholderCards)">
        </tsl-item-card-wide-placeholder>
    </ng-container>
</div>