@import '~style/common';

$margin: $spacer * 0.5;

@mixin grid-setup($numCols) {
  grid-template-columns: repeat($numCols, 1fr);
}

$sizes: 'xs', 'sm', 'md', 'lg';
$numCols: 2, 3, 4, 5;

@each $size in $sizes {
  @each $numCol in $numCols {
    .grid-#{$size}-#{$numCol} {
      @include media-breakpoint-up($size) {
        @include grid-setup($numCol);
      }
    }
  }
}

.ItemCardList {
  display: grid;
  grid-gap: $margin;

  &__slot {
    background-color: $blue-grey-5;
    border-radius: $border-radius;
  }
}
