<div *ngxPermissionsOnly="['isProfessional']" class="header">
  <h2>
    <span i18n="@@yourMessages">Your Messages</span>
    <tsl-pro-badge></tsl-pro-badge>
  </h2>
</div>
<div *ngxPermissionsOnly="['isProfessional']">
  <div ngbDropdown placement="bottom-left" class="inbox-header-menu"
       *ngIf="shouldDisplayHeader()">
    <div ngbDropdownToggle class="dropdown-header">
      <div *ngIf="isInbox" class="header-title" i18n="@@inboxBox">Inbox</div>
      <div *ngIf="isArchived" class="header-title" i18n="@@inboxArchivedBox">Archived Messages</div>
      <mat-icon class="header-icon" svgIcon="arrow-waterfall"></mat-icon>
    </div>
    <ul ngbDropdownMenu class="dropdown-menu">
      <li class="dropdown-item" [ngClass]="{'active': isInbox}" (click)="showInbox()">
        <a>
          <span i18n="@@inboxBox">Inbox</span>
        </a>
      </li>
      <li class="dropdown-item" [ngClass]="{'active': isArchived}" (click)="showArchive()">
        <a>
          <span i18n="@@inboxArchivedBox">Archived Messages</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div *ngxPermissionsOnly="['isNormal']">
  <div class="inbox-header-menu" *ngIf="shouldDisplayHeader()">
    <div class="dropdown-header">
      <div *ngIf="isInbox" class="header-title" i18n="@@inboxBox">Inbox</div>
    </div>
  </div>
</div>

<div *ngIf="!shouldDisplayHeader()" id="header-empty" [class]="loading ? 'isLoading' : ''">
  <img class="header-size" src="/assets/images/empty-header-inbox-placeholder.svg"/>
</div>

<div *ngIf="isInbox" class="scroll-panel" #scrollPanel [ngClass]="{professional: isProfessional}"
     (scroll)="showNewMessagesToast ? handleScroll() : null">
  <button class="btn btn-primary new-messages-toast" *ngIf="showNewMessagesToast" (click)="scrollToTop()"
          [@appearInOut]>
    <mat-icon svgIcon="up-arrow-white"></mat-icon>
    <span i18n="@@newMessages">New messages</span>
  </button>
  <div id="conversations" [hidden]="loading">
    <div *ngIf="errorRetrievingInbox" class="inboxError" i18n="@@updateInboxWarning">We found some problems updating your inbox. Try again later.
    </div>
    <div *ngIf="hasConversations()" id="inbox-data">
      <tsl-inbox-conversation *ngFor="let conversation of conversations"
                              [conversation]="conversation"
                              [ngClass]="{'active': conversation?.active}"
                              (click)="setCurrentConversation(conversation)">
      </tsl-inbox-conversation>
    </div>
    <div *ngIf="!hasConversations()" id="inbox-empty">
      <img class="inbox-size" src="/assets/images/empty-inbox-placeholder.svg"/>
    </div>
  </div>
  <div id="loader" [hidden]="!loading" class="isLoading">
    <img class="loader-size" src="/assets/images/inbox-loader.svg"/>
  </div>
  <div class="load-more-container" *ngIf="showLoadMore()">
    <a class="load-more">
      <mat-icon svgIcon="spinner" [hidden]="!loadingMore" class="spinner"></mat-icon>
      <span [hidden]="loadingMore" (click)="loadMore()" i18n="@@loadMoreButton">Load more</span>
    </a>
  </div>
</div>

<div *ngIf="isArchived" class="scroll-panel" [ngClass]="{professional: isProfessional}">
  <div id="conversations" [hidden]="loading">
    <div *ngIf="errorRetrievingArchived" class="inboxError" i18n="@@updateArchivedMessagesWarning">We found some problems updating your archived messages. Try again later.
    </div>
    <div *ngIf="hasArchivedConversations()" id="inbox-data">
      <tsl-archived-inbox-conversation *ngFor="let conversation of archivedConversations"
                                       [conversation]="conversation"
                                       [ngClass]="{'active': conversation?.active}"
                                       (click)="setCurrentConversation(conversation)">
      </tsl-archived-inbox-conversation>
    </div>
    <div *ngIf="!hasArchivedConversations()" id="inbox-empty">
      <img class="inbox-size" src="/assets/images/empty-inbox-placeholder.svg"/>
    </div>
  </div>
  <div id="loader" [hidden]="!loading" class="isLoading">
    <img class="loader-size" src="/assets/images/inbox-loader.svg"/>
  </div>
  <div class="load-more-container" *ngIf="showLoadMoreArchived()">
    <a class="load-more">
      <mat-icon svgIcon="spinner" [hidden]="!loadingMore" class="spinner"></mat-icon>
      <span [hidden]="loadingMore" (click)="loadMoreArchived()" i18n="@@loadMoreButton">Load more</span>
    </a>
  </div>
</div>
