<div class="UserInfo py-4 my-4 d-inline-block w-100">
    <div class="row px-2 px-md-4">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="row mb-3">
                        <div class="col">
                            <div class="bold-title mb-1" i18n="@@ProfileInfoVerified">Verified information</div>
                            <div>
                                <tsl-svg-icon src="/assets/icons/share_mail.svg"></tsl-svg-icon>
                                <a class="d-block">Email</a>
                                <tsl-svg-icon src="/assets/icons/check-blue.svg">
                                </tsl-svg-icon>
                            </div>
                            <div>
                                <tsl-svg-icon src="/assets/icons/share_facebook.svg"></tsl-svg-icon>
                                <a class="d-block">Facebook</a>
                                <tsl-svg-icon src="/assets/icons/check-blue.svg">
                                </tsl-svg-icon>
                            </div>
                            <div>
                                <tsl-svg-icon src="/assets/icons/share_whatsapp.svg"></tsl-svg-icon>
                                <a class="d-block" i18n="@@ProfileInfoNumber">Phone number</a>
                                <tsl-svg-icon src="/assets/icons/check-blue.svg">
                                </tsl-svg-icon>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="bold-title mb-1" i18n="@@ProfileInfoMemberSince">Member since</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="row mb-3">
                        <div class="col">
                            <div class="bold-title" i18n="@@ProfileInfoRatio">Response rate</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="bold-title mb-1" i18n="@@ProfileInfoSchedule">Opening hours</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="bold-title" i18n="@@ProfileInfoLocation">Location</div>
                    <tsl-here-maps *ngIf="coordinates" [coordinates]="coordinates" zoom="15" size="small">
                    </tsl-here-maps>
                </div>
            </div>
        </div>
    </div>
</div>