<div class="UserInfo py-4 my-4 d-inline-block w-100 container" *ngIf="user">
    <div class="row px-2 px-md-4">
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-12 col-md-6 order-0 mb-3">
                    <p class="UserInfo__title--bold mb-1" i18n="@@web_profile_info_verified">Verified information
                    </p>
                    <div class="d-flex UserInfo__containerMedia mb-2 align-items-center">
                        <tsl-svg-icon src="/assets/icons/share_mail.svg" class="mr-2"></tsl-svg-icon>
                        <span class="mr-2 UserInfo__containerMedia__media"
                            [ngClass]="{disabled: !userValidations?.email}">Email
                        </span>
                        <tsl-svg-icon class="UserInfo__containerMedia__check" src="/assets/icons/check.svg"
                            *ngIf="userValidations?.email">
                        </tsl-svg-icon>
                    </div>
                    <div class="d-flex UserInfo__containerMedia mb-1 align-items-center">
                        <tsl-svg-icon src="/assets/icons/share_facebook.svg" class="mr-2"></tsl-svg-icon>
                        <span class="mr-2 UserInfo__containerMedia__media"
                            [ngClass]="{disabled: !userValidations?.facebook}">
                            Facebook
                        </span>
                        <tsl-svg-icon class="UserInfo__containerMedia__check" src="/assets/icons/check.svg"
                            *ngIf="userValidations?.facebook">
                        </tsl-svg-icon>
                    </div>
                    <div class="d-flex UserInfo__containerMedia align-items-center">
                        <tsl-svg-icon src="/assets/icons/share_whatsapp.svg" class="mr-2"></tsl-svg-icon>
                        <span class="mr-2 UserInfo__containerMedia__media"
                            [ngClass]="{disabled: !userValidations?.mobile}" i18n="@@web_profile_info_number">Phone
                            number</span>
                        <tsl-svg-icon class="UserInfo__containerMedia__check" src="/assets/icons/check.svg"
                            *ngIf="userValidations?.mobile">
                        </tsl-svg-icon>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-2 mb-3 mb-lg-0">
                    <p class="UserInfo__title--bold mb-1" i18n="@@web_profile_info_member_since">Member since</p>
                    <span *ngIf="user.registerDate; else noRegisterDate">
                        {{user.registerDate | date: 'dd/MM/yyyy' }}
                    </span>
                    <ng-template #noRegisterDate>
                        <span i18n="@@web_unknown">Unknown</span>
                    </ng-template>
                </div>
                <div class="col-12 col-md-6 order-lg-1 order-3 mb-3">
                    <p class="UserInfo__title--bold mb-1" i18n="@@web_profile_info_ratio">Response rate</p>
                    <tsl-user-response-rate [responseRate]="userResponseRate" [showIcon]="false">
                    </tsl-user-response-rate>
                </div>
                <ng-container *ngxPermissionsOnly="PERMISSIONS.subscriptions">
                    <div class="col-12 col-md-6 order-lg-3 order-1 mb-3 mb-lg-0" *ngIf="user.extraInfo?.opening_hours">
                        <p class="UserInfo__title--bold mb-1" i18n="@@web_profile_info_schedule">Opening hours</p>
                        {{user.extraInfo?.opening_hours}}
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="col-12 col-lg-6" #map>
            <p class="UserInfo__title--bold  mb-1" i18n="@@web_profile_info_location">Location</p>
            <tsl-here-maps *ngIf="coordinates" [coordinates]="coordinates" zoom="15" size="small"
                [isApproximateLocation]="coordinates.approximated_location">
            </tsl-here-maps>
            <div class="UserInfo__fake-map" *ngIf="!coordinates"></div>
        </div>
    </div>
</div>