<div class="UserInfo py-4 my-4 d-inline-block w-100" *ngIf="user">
    <div class="row px-3 px-md-4">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="row">
                        <div class="col-12 col-md-6 order-0 mb-3">
                            <div class="bold-title mb-1" i18n="@@ProfileInfoVerified">Verified information</div>
                            <div class="d-flex">
                                <tsl-svg-icon src="/assets/icons/share_mail.svg" class="mr-2"></tsl-svg-icon>
                                <div class="mr-2 media" [ngClass]="{disabled: !user.validations?.email}">Email</div>
                                <tsl-svg-icon src="/assets/icons/check-blue.svg" [hidden]="!user.validations?.email">
                                </tsl-svg-icon>
                            </div>
                            <div class="d-flex">
                                <tsl-svg-icon src="/assets/icons/share_facebook.svg" class="mr-2"></tsl-svg-icon>
                                <div class="mr-2 media" [ngClass]="{disabled: !user.validations?.facebook}">Facebook
                                </div>
                                <tsl-svg-icon src="/assets/icons/check-blue.svg" [hidden]="!user.validations?.facebook">
                                </tsl-svg-icon>
                            </div>
                            <div class="d-flex">
                                <tsl-svg-icon src="/assets/icons/share_whatsapp.svg" class="mr-2"></tsl-svg-icon>
                                <div class="mr-2 media" [ngClass]="{disabled: !user.validations?.mobile}"
                                    i18n="@@ProfileInfoNumber">Phone number</div>
                                <tsl-svg-icon src="/assets/icons/check-blue.svg" [hidden]="!user.validations?.mobile">
                                </tsl-svg-icon>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 order-2 mb-3 mb-lg-0">
                            <div class="bold-title mb-1" i18n="@@ProfileInfoMemberSince">Member since</div>
                            <div *ngIf="user.registerDate; else noRegisterDate">
                                {{user.registerDate | date: 'dd/MM/yyyy' }}
                            </div>
                            <ng-template #noRegisterDate>
                                <span i18n="@@Unknown">Unknown</span>
                            </ng-template>
                        </div>
                        <div class="col-12 col-md-6 order-lg-1 order-3 mb-3">
                            <div class="bold-title" i18n="@@ProfileInfoRatio">Response rate</div>
                            <tsl-user-response-rate [responseRate]="user.responseRate" [showIcon]="false">
                            </tsl-user-response-rate>
                        </div>
                        <div class="col-12 col-md-6 order-lg-3 order-1 mb-3 mb-lg-0">
                            <div class="bold-title mb-1" i18n="@@ProfileInfoSchedule">Opening hours</div>
                            {{user.extraInfo?.opening_hours}}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6" id="map">
                    <div class="bold-title  mb-1" i18n="@@ProfileInfoLocation">Location</div>
                    <tsl-here-maps *ngIf="coordinates" [coordinates]="coordinates" zoom="15" size="small"
                        [isApproximateLocation]="coordinates.approximated_location">
                    </tsl-here-maps>
                    <div class="fake-map" *ngIf="!coordinates"></div>
                </div>
            </div>
        </div>
    </div>
</div>