<div class="message-body" *ngIf="message.payload"
     [ngClass]="{'from-self': message.fromSelf, 'phone-request': message.phoneRequest}">

  <div class="message-cloud">
    <div class="icon-content">
      <mat-icon svgIcon="robot"></mat-icon>
    </div>
    <div class="message-content">
      <ng-content></ng-content>
      <small class="message-date" [ngClass]="{'third-voice': isReview()}">{{message.date | date:'shortTime'}}</small>
      <span *ngIf="message.fromSelf" class="message-status" [ngClass]="message.status"></span>
    </div>
  </div>
</div>
