@import '~style/common';

.message-body .message-cloud {
  background-color: $softblue-light;
  color: $softblue-dark;

  .icon-content {
    float: left;
  }

  .message-content {
    padding-top: $spacing-xs;
    padding-left: 35px;

    .message-date {
      color: $softblue-dark;
    }

    tsl-third-voice-button {
      text-align: center;
    }
  }
}
