@import "~style/common";

.modal-body {
  padding: 50px $spacing-XL;
}

h1 {
  font-size: $font-size-l;
  color: $blue-grey-1;
  font-weight: bold;
}

p {
  font-size: $font-size-s;
  color: $blue-grey-2;
  margin: 0;
  margin-bottom: $spacing-XL;
}

h1, p {
  text-align: center;
}

div.form-control {
  line-height: $line-height-xl;
}
