<div class="modal-close grey" (click)="activeModal.dismiss()">
  <mat-icon svgIcon="cross"></mat-icon>
</div>
<div class="modal-body">
  <h1 i18n>Update your password</h1>
  <p i18n>Your safety is a must! ;)</p>

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="old_password" i18n>Current password</label>
      <input type="password" i18n-placeholder placeholder="Current password" class="form-control" id="old_password" formControlName="old_password" maxlength="20" />
    </div>
    <div class="form-group">
      <label for="new_password" i18n>New password</label>
      <input type="password" i18n-placeholder placeholder="New password" class="form-control" id="new_password" formControlName="new_password" maxlength="20" />
    </div>
    <div class="form-group">
      <label for="repeat_password" i18n>Confirm new password</label>
      <input type="password" i18n-placeholder placeholder="Confirm new password" class="form-control" id="repeat_password" formControlName="repeat_password" maxlength="20" />
    </div>
    <tsl-button [type]="'submit'" className="btn-primary btn-block" i18n>Update</tsl-button>
  </form>
</div>
