@import "~style/common";

.modal-body {
  padding: 40px 100px;
}

h1 {
  font-size: $font-size-L;
  color: $grey-800;
  font-weight: bold;
}

p {
  font-size: $font-size;
  color: $grey-500;
  margin: 0;
  margin-bottom: $spacing-L;
}

h1, p {
  text-align: center;
}

div.form-control {
  line-height: 32px;
}
