@import '~style/common';

$margin: $spacer * 0.5;

.RecommendedItems {
  background-color: $white;
  border-radius: $border-radius;

  &__title {
    color: $blue-grey-3;
  }

  tsl-public-item-card-list ::ng-deep .ItemCardList {
    tsl-public-item-card {
      margin: $margin $margin 0;
    }
  }
}
