@import '../../../style/common';

$checkbox-width: 24px;
$transition: all 0.5s ease;
$feature-button-width: 170px;

:host {
  .checkbox {
    transition: $transition;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .resized {
      width: $checkbox-width;
      opacity: 1;
    }
    span {
      color: $blue-grey-2;
      ::ng-deep > * {
        cursor: pointer;
      }
      &.selected {
        color: $walla-main;
      }
      text-align: left;
    }
    button {
      @include square($checkbox-width);
      border: 2px solid $blue-grey-4;
      border-radius: 6px;
      padding: 0;
      background: transparent;
      margin-right: $spacing-ms;
      cursor: pointer;
      display: flex;
      justify-content: center;
      flex: none;
      tsl-svg-icon {
        display: none;
        height: 9px;
        width: 12px;
      }
      &.selected {
        background: $walla-main;
        border-color: transparent;
        tsl-svg-icon {
          display: flex;
          ::ng-deep path {
            fill: $white;
          }
        }
      }
      &:hover {
        border-color: $walla-main;
      }
    }
  }
}
