<form [formGroup]="billingForm" (submit)="onSubmit()">
  <tsl-profile-form [profileForm]="billingForm">
    <div class="box">
      <div class="box-content">
        <div class="row">
          <div class="col-10 offset-2">
            <div class="form-group row">
              <label for="name" class="col-3" i18n>First Name:</label>
              <div class="col-5">
                <input type="text" class="form-control" id="name" formControlName="name"/>
              </div>
            </div>
            <div class="form-group row">
              <label for="surname" class="col-3" i18n>Last Name:</label>
              <div class="col-5">
                <input type="text" class="form-control" id="surname" formControlName="surname"/>
              </div>
            </div>
            <div class="form-group row">
              <label for="company_name" class="col-3" i18n>Company Name:</label>
              <div class="col-5">
                <input type="text" class="form-control" id="company_name" formControlName="company_name"/>
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-3" i18n>Billing email:</label>
              <div class="col-5">
                <input type="email" class="form-control" id="email" formControlName="email"/>
              </div>
            </div>
            <div class="form-group row">
              <label for="phone" class="col-3" i18n>Billing phone:</label>
              <div class="col-5">
                <input type="text" class="form-control" id="phone" formControlName="phone"/>
              </div>
            </div>
            <div class="form-group row">
              <label for="street" class="col-3" i18n>Billing address:</label>
              <div class="col-5">
                <input type="text" class="form-control" id="street" formControlName="street"/>
              </div>
            </div>
            <div class="form-group row">
              <label for="postal_code" class="col-3" i18n>Postal code:</label>
              <div class="col-5">
                <input type="text" class="form-control" id="postal_code" formControlName="postal_code"/>
              </div>
            </div>
            <div class="form-group row">
              <label for="city" class="col-3" i18n>City:</label>
              <div class="col-5">
                <input type="text" class="form-control" id="city" formControlName="city"/>
              </div>
            </div>
            <div class="form-group row">
              <label for="country" class="col-3" i18n>Country:</label>
              <div class="col-5">
                <input type="text" class="form-control" id="country" formControlName="country"/>
              </div>
            </div>
            <div class="form-group row">
              <label for="cif" class="col-3" i18n>CIF Number:</label>
              <div class="col-5">
                <input type="text" class="form-control" id="cif" formControlName="cif"/>
              </div>
            </div>
            <div class="row">
              <div class="offset-3 col-9">
                <tsl-button [type]="'submit'" className="btn-primary btn-big" i18n>Save</tsl-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tsl-profile-form>
</form>
