<div class="page-content">
  <div class="container">
    <tsl-header id="header">
      <div class="row mb-3">
        <div class="col-12">
          <div class="header-row">
            <h1 id="header" class="header-title" i18n="@@agnostic_view_nav_bar_inbox_label">Inbox</h1>
          </div>
        </div>
      </div>
    </tsl-header>
    <div class="row">
      <div class="col-12">
        <nav class="nav filters-nav">
          <a
            class="nav-link"
            [routerLink]="['notifications']"
            [ngClass]="{ active: router.url === '/inbox/notifications' }"
            i18n="@@inbox_view_notifications_tab_label"
            >Notifications</a
          >
        </nav>
      </div>
    </div>
    <div class="mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
