<div class="modal-body center-heading">
  <h1>{{item.title}}</h1>
  <h2 i18n>Rate your experience with <strong>{{user.microName}}</strong></h2>
  <p i18n>Click on the stars to leave your review. The more stars, the better your experience.</p>
  <div class="modal-close" (click)="activeModal.dismiss()">
    <mat-icon svgIcon="cross"></mat-icon>
  </div>
  <tsl-stars-rate (onChange)="onRated($event)"></tsl-stars-rate>
  <textarea i18n-placeholder placeholder="Leave a review..." class="form-control" [(ngModel)]="comments"></textarea>
  <div class="centered">
    <button type="button"
            class="btn btn-primary"
            [disabled]="!score"
            (click)="close()"
            i18n>Publish</button>
  </div>
</div>
