@import '~style/common';

:host {
  display: block;
  padding-top: $topbar-height;
  background-color: $main-background-color;

  @include media-breakpoint-down(md) {
    padding-bottom: $tabbar-height;
  }
}
