@import '~style/common';

// TODO: Where do common styles from feature go?
$search-height: 50px;
$toolbar-height: 70px;
$filter-content-height: 355px;

.SuggesterFilter {
  &__form {
    margin-top: $search-height + 10px;
    overflow-y: scroll;
    &--bubble {
      margin-left: -24px;
      margin-right: -24px;
      max-height: $filter-content-height - $search-height - 40px;
    }
  }

  &__search_box {
    position: absolute;
    top: $toolbar-height;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: $white;
    z-index: 1;
  }

  &__search_box_input {
    width: 100%;
    padding-right: 44px;
    padding-left: 44px;
    height: $search-height;
    border: 1px solid #cfd8dc;
    border-radius: 6px;

    &:focus {
      border: 1px solid $walla-main;
    }
  }

  &__clear {
    cursor: pointer;
    position: absolute;
    right: 26px;
  }

  &__glass {
    position: absolute;
    left: 26px;
  }
}
