<tsl-filter-template #filterTemplateComponent
                     [isBubble]="variant | isBubble"
                     [isDropdown]="true"
                     [isClearable]="true"
                     [title]="config.title"
                     [icon]="config.icon"
                     [label]="label$ | async"
                     [hasValue]="hasValue$ | async"
                     (clear)="handleClear()"
                     (openStateChange)="openStateChange.emit($event)">

  <tsl-drawer-placeholder-template #selectFilterTemplateComponent
                                   [hasContentPlaceholder]="!(variant | isBubble) && config.hasContentPlaceholder"
                                   [placeholderLabel]="label$ | async"
                                   [contentTitle]="contentTitle"
                                   [isClearable]="hasValue$ | async"
                                   (placeholderOpenStateChange)="openStateChange.emit($event)"
                                   (clear)="handleClear()">

    <div class="SuggesterFilter__search_box">
      <input [placeholder]="config.suggesterPlaceholder" class="SuggesterFilter__search_box_input mx-3" type="text"
             [(ngModel)]="searchQuery" (ngModelChange)="onModelChanged()"/>
      <tsl-svg-icon src="/assets/icons/glass_icon.svg" class="SuggesterFilter__glass"
                    width="24" height="24">
      </tsl-svg-icon>
      <tsl-svg-icon *ngIf="searchQuery" src="/assets/icons/cross.svg" class="SuggesterFilter__clear p-2" width="10" height="10"
                    (click)="clearSearch()">
      </tsl-svg-icon>
    </div>

    <form [formGroup]="formGroup" class="SuggesterFilter__form" [class.SuggesterFilter__form--bubble]="(variant | isBubble)">
      <tsl-select-form
        formControlName="select"
        [options]="options$ | async">
      </tsl-select-form>
    </form>

  </tsl-drawer-placeholder-template>

</tsl-filter-template>
