<div class="UnsubscribeModal d-flex flex-column w-100 align-items-center p-4 p-md-5">
  <div class="UnsubscribeModal__close position-absolute" (click)="activeModal.dismiss()">
    <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
  </div>

  <div class="pt-5" [hidden]="step === STEP.QUESTIONNAIRE">
    <img class="mb-4" src="/assets/icons/account/account_deletion.svg" />

    <h1 class="UnsubscribeModal__title my-2" i18n="@@delete_account_view_all_users_title">Are you sure you want to delete your account?</h1>
    <div class="UnsubscribeModal__description my-4">
      <div *ngIf="isProfessional$ | async as isProfessional; else notProfessional">
        <div class="UnsubscribeModal__description--professional">
          <span i18n="@@delete_account_view_car_dealer_intro_text"
            >Oh, it's a pity you're leaving... You must first contact our sales team to unsubscribe from Wallapop Motor by sending an email
            to ventas.motor@wallapop.com</span
          >
        </div>
      </div>
      <ng-template #notProfessional class="UnsubscribeModal__description--no-professional">
        <span i18n="@@delete_account_view_all_users_intro_text">
          Oh, it's a pity you're leaving... but it's your decision and we respect it. Be sure to:
        </span>
        <ul class="text-left my-4 pl-4">
          <li class="my-2" i18n="@@delete_account_view_all_users_check_transactions_text">No pending transactions</li>
          <li class="my-2" i18n="@@delete_account_view_all_users_check_balance_text">
            No balance in your wallet. If you have credit left, you can transfer it to your bank for free
          </li>
          <li
            *ngIf="isProUser"
            class="UnsubscribeModal__description--pro my-2"
            i18n="@@delete_account_view_non_pro_user_check_subscriptions_text"
          >
            No active Wallapop PRO subscriptions (How to unsubscribe)
          </li>
        </ul>
        <span i18n="@@delete_account_view_all_users_delete_account_more_info_text">
          To find out what is entailed in the deletion of your Wallapop account, check this article.
        </span>
      </ng-template>
    </div>

    <tsl-button
      class="UnsubscribeModal__delete-btn w-100"
      (click)="activeModal.dismiss()"
      className="btn-primary btn-primary--bold w-100"
      i18n="@@delete_account_view_all_users_cancel_button"
    >
      Keep account</tsl-button
    >
    <tsl-button
      class="UnsubscribeModal__delete-btn w-100 pt-2"
      className="btn-secondary btn-secondary--bold w-100"
      i18n="@@delete_account_view_all_users_delete_button"
      (click)="changeStep(STEP.QUESTIONNAIRE)"
    >
      Delete account</tsl-button
    >
  </div>

  <div class="pt-2" [hidden]="step === STEP.CONFIRMATION">
    <h1 class="UnsubscribeModal__title mt-3 mb-4" i18n="@@delete_account_reason_view_all_users_title">
      Why do you want to delete your account?
    </h1>
    <div *ngFor="let reason of reasons" class="input-radio my-3">
      <input type="radio" class="mr-2" [value]="reason.reason_id" [(ngModel)]="selectedReason" />
      <span class="UnsubscribeModal__reason">{{ REASONS_TEXT[reason?.reason_id] }}</span>
    </div>

    <p class="UnsubscribeModal__cutom-reason text-right" [hidden]="selectedReason !== UNSUBSCRIBE_REASON.OTHER_REASON">
      <span class="UnsubscribeModal__cutom-reason--counter">{{ customReason?.length || 0 }}/{{ MAX_LENGHT_OHTER_REASON }}</span>
    </p>
    <textarea
      [hidden]="selectedReason !== UNSUBSCRIBE_REASON.OTHER_REASON"
      i18n-placeholder="@@delete_account_reason_view_all_users_input_text_field_placeholder"
      placeholder="Tell us what happened..."
      class="UnsubscribeModal__textarea form-control"
      [(ngModel)]="customReason"
      [maxlength]="MAX_LENGHT_OHTER_REASON"
    ></textarea>

    <tsl-button
      class="UnsubscribeModal__delete-btn w-100 pt-4"
      className="btn-primary btn-primary--bold w-100"
      [disabled]="!selectedReason || (selectedReason === UNSUBSCRIBE_REASON.OTHER_REASON && !customReason)"
      i18n="@@delete_account_reason_view_all_users_send_button"
      (click)="send()"
    >
      Send</tsl-button
    >
  </div>
</div>
