@import '~style/common';

.UnsubscribeModal {
  text-align: center;
  padding: $spacing-xl;

  &__title {
    font-size: $font-size-l;
    font-weight: $font-weight-chunky;
  }

  &__close {
    cursor: pointer;
    top: $spacing-ml;
    right: $spacing-ml;
  }

  &__description,
  &__reason {
    color: $blue-grey-2;
    font-size: $font-size-m;
  }

  &__cutom-reason {
    color: $blue-grey-2;
    font-size: $font-size-s;
    margin-bottom: $spacing-ms;
    overflow: hidden;

    &--counter {
      font-size: $font-size-xs;
    }
  }

  &__textarea {
    border-radius: $border-radius;
    height: 160px;
    margin-bottom: $spacing-ml;
  }
}
