<div class="page-content">
  <div class="container">
    <a class="back" [routerLink]="['/catalog/list']"><tsl-svg-icon src="/assets/icons/back-arrow.svg"></tsl-svg-icon> <span i18n>Back</span></a>
    <div class="row" [hidden]="!itemsWithProducts">
      <div class="col-xl col-lg-8">
        <div class="table-header">
          <div class="info">
            <tsl-svg-icon src="/assets/icons/feature.svg"></tsl-svg-icon>
            <a (click)="bumpTutorial.show()" i18n>What can features do for you?</a>
          </div>
          <div class="type zone">
            <div>
              <tsl-svg-icon src="/assets/icons/bump-zone.svg"></tsl-svg-icon>
              <div [hidden]="provincialBump" i18n>Feature it locally</div>
              <div [hidden]="!provincialBump" i18n>Feature it provincially</div>
            </div>
          </div>
          <div class="type city" [hidden]="provincialBump">
            <div>
              <div>
                <tsl-svg-icon src="/assets/icons/bump-city.svg"></tsl-svg-icon>
              </div>
              <div i18n>Feature it your city</div>
            </div>
          </div>
          <div class="type country">
            <div>
              <div>
                <tsl-svg-icon src="/assets/icons/bump-country.svg"></tsl-svg-icon>
              </div>
              <div i18n>Feature it nationally</div>
            </div>
          </div>
        </div>
        <div class="price-table">
          <tsl-checkout-item *ngFor="let item of itemsWithProducts" [itemWithProducts]="item" [creditInfo]="creditInfo"></tsl-checkout-item>
        </div>
      </div>
      <div class="cart">
        <tsl-cart [provincialBump]="provincialBump" [creditInfo]="creditInfo"></tsl-cart>
      </div>
    </div>
    <tsl-spinner [firstLoad]="false" [hidden]="itemsWithProducts"></tsl-spinner>
  </div>
</div>
<tsl-bump-tutorial></tsl-bump-tutorial>
