<a class="card" href="{{itemUrl}}" (click)="prevent($event)" target="_blank" tslTrackEvent="PRODUCT_VIEWED" [params]="{product_id: item.id}"
   [params]="{id: item.id, title: item.title, category_id: item.categoryId, sale_price: item.salePrice}">
  <div class="image-overlay">
    <img class="card-img-top" src="{{item.mainImage?.urls_by_size.large.replace('http://', 'https://')}}"
         onError="this.src='/assets/images/fake-item.png'"/>
    <a class="btn btn-edit" target='_blank' (click)='$event.stopPropagation()' [routerLink]="['/catalog/edit/', item.id]" tslTrackEvent="CHAT_EDITITEM" [params]="{item_id: item.id}"
      *ngIf='canEdit()'>
      <tsl-svg-icon src="/assets/icons/btn-edit.svg"></tsl-svg-icon>
    </a>
    <div class="image-bottom">
      <tsl-item-sold [item]="item"></tsl-item-sold>
      <tsl-item-reserved [item]="item" *ngIf="!item.sold"></tsl-item-reserved>
    </div>
  </div>
  <div class="actions-block" *ngIf='canEdit()'>
    <tsl-button className="btn-reserve" (click)="prevent($event, true); toggleReserve()">
      <span i18n *ngIf='!item.reserved'>Reserve</span>
      <span i18n *ngIf='item.reserved'>Unreserve</span>
    </tsl-button>
    <tsl-button className="btn-sold" (click)="prevent($event, true)" tslItemSold (callback)="trackSoldEvent(item)" [item]="item" i18n>Sold</tsl-button>
  </div>
  <div class="card-block">
    <h5 class="card-title">{{item.title}}</h5>
    <div class="card-item-info">
      <div class="price" *ngIf="item.salePrice !== undefined">{{item.salePrice | customCurrency:item.currencyCode}}</div>
      <div class="stats" *ngIf="item.views !== undefined && item.favorites !== undefined">
        <tsl-svg-icon src="/assets/icons/views.svg"></tsl-svg-icon>
        {{item.views}}
        <tsl-svg-icon src="/assets/icons/heart.svg"></tsl-svg-icon>
        {{item.favorites}}
      </div>
    </div>
    <div class="card-external-link" *ngIf="!isMine() && (isCarItem || showWillisLink || showMapfreOrVertiLink || showSolcreditoLink)">
      <hr>
      <a (click)="clickWillis($event)"
         *ngIf="showWillisLink"
         href="https://checkout.wallapopgarantia.com/?name={{ item.title }}&amount={{ item.salePrice }}&imageUrl={{ item.mainImage?.urls_by_size.large.replace('http://', 'https://') }}&tag={{ item.id }}"
         target="_blank" i18n>
        Add Insurance
      </a>
      <a (click)="clickMapfreOrVerti($event)"
         *ngIf="showMapfreOrVertiLink"
         [href]="getMapfreOrVertiLink()"
         target="_blank" i18n>
        Add insurance to this product
      </a>
      <a (click)="clickSolcredito($event)"
         *ngIf="showSolcreditoLink"
         href="https://www.solcredito.es/?xc=0ebf9b3e8fb3ddb330c0bb313690aceefd0ed01e&category={{getCategoryKeyById(item.categoryId)}}"
         target="_blank" i18n>
        Finance your purchase
      </a>
    </div>
  </div>
</a>
