<div class="page-content"
  infiniteScroll
  [infiniteScrollDistance]="3"
  [infiniteScrollThrottle]="100"
  [scrollWindow]="false"
  [infiniteScrollDisabled]="end || loading"
  (scrolled)="loadMore()">
  <div class="container">
    <tsl-header>
      <div class="col-11">
        <div class="header-row">
          <h1 class="header-title" i18n>Your favorites</h1>
        </div>
        <div class="header-row header-row--margin">
          <h4 class="header-subtitle" i18n>These are the wallapop products that you like the most</h4>
        </div>
      </div>
      <div class="col-1 header-numbers">
        <p class="header-numbers-top">{{numberOfFavorites}}</p>
        <p class="header-numbers-bottom">
          <span *ngIf="numberOfFavorites > 1 || numberOfFavorites === 0" i18n>favorites</span>
          <span *ngIf="numberOfFavorites === 1" i18n>favorite</span>
        </p>
      </div>
    </tsl-header>
    <nav class="nav filters-nav">
      <a (click)="filterByStatus('products')" [ngClass]="{active: selectedStatus === 'products'}" class="nav-link" i18n>Products</a>
      <a (click)="filterByStatus('profiles')" [ngClass]="{active: selectedStatus === 'profiles'}" class="nav-link" i18n="tab|plural">Profiles</a>
    </nav>
    <div class="row items">
      <div class="favorites-empty-state" *ngIf="!items.length && !profiles.length && !loading">
        <mat-icon svgIcon="favorites-empty-state" class="image"></mat-icon>
        <div class="message" i18n>In this list you can see all the products you saved as favourite</div>
      </div>
      <ng-container *ngIf="selectedStatus === 'products'">
        <tsl-item-cart-favorite *ngFor="let item of items" [item]="item" (onFavoriteChange)="onFavoriteChange($event)"> </tsl-item-cart-favorite>
      </ng-container>
      <ng-container *ngIf="selectedStatus === 'profiles'">
        <tsl-profile-card-favorite *ngFor="let profile of profiles" [profile]="profile" (onFavoriteProfileChange)="onFavoriteProfileChange($event)"> </tsl-profile-card-favorite>
      </ng-container>
    </div>
  </div>
</div>
