<div class="box urgent" [ngbPopover]="coachmarkUrgent" triggers="mouseenter:mouseleave">
  <div class="content">
    <h2 i18n>Mark it as Urgent</h2>
    <p i18n>
      From 3.99€ mark your product as 'urgent' to differentiate yourself from the others in the wall and it will be easier
      for you to be found thanks to the urgent filter.
    </p>
    <div class="checkbox" (click)="selectUrgent()">
      <button class="select" >
        <mat-icon svgIcon="check"></mat-icon>
      </button>
      <span i18n [ngClass]="{'selected': urgentSelected}">Mark it as urgent</span>
    </div>
  </div>
  <div class="urgent-background"></div>
  <ng-template #coachmarkUrgent>
    <mat-icon svgIcon="cm-shipping"></mat-icon>
    <div i18n>Your product will be more visible and you will sell it faster.</div>
  </ng-template>
</div>