<div class="SubscriptionPriceDiscount d-flex flex-column" *ngIf="subscription.tiers.length">
  <div *ngIf="tierDiscount; else noDiscount">
    <span i18n="@@web_from">From</span>:
    <span class="SubscriptionPriceDiscount__price--discounted"> {{ tierDiscount.price }}{{ tierDiscount.currency }}</span>
    {{ tierDiscount.discount.price }}{{ tierDiscount.currency }}/<span i18n="@@web_month">month</span>
  </div>
  <ng-template #noDiscount>
    <div i18n="@@web_subscription_price_discount_from_price">
      From: {{ subscription?.tiers[0]?.price }}{{ subscription?.tiers[0]?.currency }}/month
    </div>
  </ng-template>
</div>
