@import "~style/common";

.box-left {
  padding: 56px 100px;
  a {
    color: $blue-grey-1;
    &:hover, &:active, &:focus {
      text-decoration: none;
      color: $walla-main;
    }
  }
}

ul, li {
  list-style: none;
  padding: 0;
}

h2, h3 {
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: $font-size-l;
  margin-bottom: $spacing-L;
}

h3 {
  font-size: $font-size-m;
  margin-bottom: $spacing;
}

a {
  cursor: pointer;
}

.features {
  margin-bottom: 50px;
  mat-icon {
    width: 60px;
    height: 40px;
  }
  .col {
    display:flex;
  }
  a.featured {
    border: solid 1px $blue-grey-5;
    display: block;
    border-radius: 5px;
    text-align: center;
    padding: $spacing-L $spacing-S $spacing-S;
    font-size: $font-size-s;
    .title {
      font-weight: bold;
      margin-bottom: $spacing-XS;
      padding: 0 $spacing-S;
    }
    .desc {
      color: $blue-grey-3;
    }
  }
}

.summary {
  border-bottom: solid 1px $blue-grey-5;
  margin-bottom: $spacing-L;
  .section {
    margin-bottom: $spacing-L;
  }
  .question {
    font-size: $font-size-s;
    margin-bottom: $spacing-1S;
    &:last-of-type {
      margin: 0;
    }
  }
}

.faqs {
  .section {
    margin-bottom: $spacing-L;
  }
  h3 {
    margin-bottom: $spacing-M;
    padding-top: $spacing;
    &.active {
      color: $walla-main;
    }
  }
  .answer {
    color: $blue-grey-3;
    font-size: $font-size-s;
    margin-bottom: $spacing-2M;
  }
}

.contacts {
  padding: 56px 42px;
  h2 {
    margin-bottom: $spacing-S;
  }
  .grey {
    color: $blue-grey-3;
  }
  a {
    font-weight: bold;
  }
  .phone {
    font-size: $font-size-l;
    font-weight: bold;
  }
}

.arrow-scroll-top {
  @include square(34px);
  background-color: $walla-main;
  position: fixed;
  bottom: 50px;
  right: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  mat-icon {
    width: 17px;
    height: 12px;
    transform: rotate(-90deg);
    margin-left: -10px;
    /deep/ path {
      fill: $white;
    }
  }
}
