@import "~style/common";

:host {
  margin-bottom: 2%;
  float: left;
  width: 100%;
}

.plan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: $font-size-xs;
  h3 {
    font-size: $font-size-xs;
    font-weight: $font-weight-chunky;
    text-transform: uppercase;
    margin-bottom: $spacing-ms;
  }
}

.car, .visibility {
  background: $white;
  border-radius: $border-radius;
  border: solid 1px $blue-grey-5;
  display: flex;
  flex-direction: column;
  padding: $spacing-l $spacing-xl;
}

.car {
  margin-right: $spacing-ml;
  width: 30%;
}

.visibility {
  flex-grow: 2;
}

.numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .col-number {
    display: flex;
    flex-direction: column;
    align-self: center;
    line-height: $line-height-ml;
  }
}

.row-visibility {
  display: flex;
  flex-direction: row;
  .numbers {
    width: 50%;
  }
}

.number, .text {
  float: left;
  width: 100%;
}

.number {
  font-size: $font-size-3L;
  font-weight: $font-weight-chunky;
}

.text {
  margin-top: -$spacing-ms;
}

.gold {
  color: $yellow-dark;
}

.city {
  color: $walla-main
}

.country {
  color: $country-bump;
}

.grey {
  color: $blue-grey-3;
}

.border {
  width: 1px;
  height: 49px;
  border: dashed 1px $blue-grey-5;
}

.border-full {
  width: 3px;
  height: 49px;
  background-color: $blue-grey-5;
}

.no-plan {
  line-height: $line-height-m;
  margin-top: $spacing-ms;
  width: 35%;
}

.extras {
  line-height: $line-height-s;
}
