@import "~style/common";

.header {
  background: $walla-main;
  height: 127px;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .modal-close {
    top: 20px;
    right: 20px;
    @include square(13px);
    mat-icon {
      @include square(13px);
      line-height: unset;
    }
  }
  h1 {
    font-size: $font-size-l;
    font-weight: bold;
  }
  p {
    opacity: .8;
    margin: 0;
    margin-bottom: $spacing-xl;
    color: $white;
    font-size: $font-size-m;
  }
}

.modal-body {
  text-align: center;
  padding: $spacing-xxl $spacing-xxxl;
  p {
    font-size: $font-size-m;
    color: $blue-grey-2;
    margin-top: $spacing-ms;
  }
  .upgrade-plan {
    float: left;
    width: 100%;
  }
  .upgrade-plan-background {
    background: url(/assets/images/upgrade-plan-background.svg) no-repeat;
    width: 50%;
    height: 195px;
    float: left;
  }
  .upgrade-plan-content {
    width: 50%;
    float: right;
    text-align: left;
    margin-bottom: $spacing-ml;
  }
}

tsl-button /deep/ {
  .btn {
    min-width: 370px;
  }
  .btn-primary {
    margin: $spacing-xl auto $spacing-ml;
  }
}

