<div class="header">
  <div class="modal-close light" (click)="activeModal.close()">
    <mat-icon svgIcon="cross"></mat-icon>
  </div>
  <h1 i18n>You have reached the limit of published cars.</h1>
  <p i18n>To publish this car, contract a new Motor Plan from our app.</p>
</div>
<div class="modal-body">
  <div class="upgrade-plan">
    <div class="upgrade-plan-background"></div>
    <div class="upgrade-plan-content">
      <h2 i18n>This car is NOT published.</h2>
      <p i18n>It will remain filled in your catalogue as Inactive.</p>
      <p>Go to the wallapop app and subscribe to a Motor Plan, or buy an extra ad to make it public.</p>
    </div>
  </div>
  <tsl-button className="btn-feature" (click)="activeModal.close()" i18n>Got it</tsl-button>
</div>
