<div class="header">
  <div class="modal-close light" (click)="activeModal.close()">
    <mat-icon svgIcon="cross"></mat-icon>
  </div>
  <h1 i18n>You've reached your limit of cars that you can upload!</h1>
  <p i18n>Pay for a car or buy the Motor Plan</p>
</div>
<div class="content-col">
    <div class="upgrade-plan-content">
      <h2 i18n>Publish your car</h2>
      <p i18n>Pay once for your additional car and your car will be listed for 2 months.</p>
    </div>
    <div class="upgrade-plan-content">
      <h2 i18n>Or save money with the Motor Plan</h2>
      <p class="no-margin" i18n>Sign up to our Motor plan and advertise more cars</p>
    </div>
</div>
<div class="actions">
  <tsl-button className="btn btn-primary" (click)="purchaseListingFee()" i18n>Upload it now for {{listingFeePrice | customCurrency}}</tsl-button>
  <div class="link" (click)="activeModal.close()" i18n>No thanks (keep this car inactive)</div>
</div>
