<div *ngIf="userId && userInfo && userStats && !loading" class="PublicProfile container mb-5">
  <tsl-sky-wrapper>
    <tsl-user-profile-header [userInfo]="userInfo" [userStats]="userStats"></tsl-user-profile-header>
    <div class="PublicProfile__section--second row flex-wrap-reverse">
        <div class="col-12 col-md-6">
            <tsl-profile-tabs [userStats]="userStats.counters"></tsl-profile-tabs>
        </div>
        <div  *ngIf="!(userId | isCurrentUser)" class="col-12 col-md-6 d-flex align-items-center justify-content-end">
            <tsl-favourite-user [userId]="userId" [isFavourite]="isFavourited" (userFavouriteChanged)="userFavouriteChanged($event)"></tsl-favourite-user>
        </div>
    </div>
    <router-outlet></router-outlet>
    <tsl-sky *ngIf="isMobile" [adSlot]="adSlot"></tsl-sky>
  </tsl-sky-wrapper>
</div>
<tsl-spinner [hidden]="!loading"></tsl-spinner>
