<div *ngIf="userId && userInfo && userStats" class="PublicProfile container">
    <tsl-user-profile-header [userInfo]="userInfo" [userStats]="userStats"></tsl-user-profile-header>
    <div class="PublicProfile__section--second row">
        <div class="col-12 col-md-6">
            <tsl-profile-tabs [userStats]="userStats.counters"></tsl-profile-tabs>
        </div>
        <div class="col-12 col-md-6">
           <tsl-share-user></tsl-share-user>
           <tsl-favourite-user></tsl-favourite-user>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>