@import '~style/common';

:host {
  background-color: $blue-grey-5;
  display: block;

  .PublicProfile {
    &__section {
      &--second {
        & > div {
          &:last-child {
            @include media-breakpoint-down(sm) {
              margin-bottom: $spacing-x1;
            }
          }
        }
      }
    }
  }
}

.loading-center {
  display: block;
  margin: 0 auto;
}
