<div *ngIf="userId && userInfo && userStats" class="PublicProfile container">
    <tsl-user-profile-header [userInfo]="userInfo" [userStats]="userStats"></tsl-user-profile-header>
    <div class="PublicProfile__section--second row flex-wrap-reverse">
        <div class="col-12 col-md-6">
            <tsl-profile-tabs [userStats]="userStats.counters"></tsl-profile-tabs>
        </div>
        <div class="col-12 col-md-6 d-flex align-items-center justify-content-end">
            <tsl-favourite-user [userId]="userId"></tsl-favourite-user>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
<div class="row loading-center">
    <tsl-spinner [hidden]="!loading"></tsl-spinner>
</div>