<div class="user-info-calls">
  <div class="user-info-rating-block">
    <h3 i18n>User rating</h3>
    <tsl-stars *ngIf="user.scoringStars > -1" [stars]="user.scoringStars"></tsl-stars>
  </div>

  <ul class="user-info-extra list-group list-group-flush">
    <li class="list-group-item">
      <mat-icon svgIcon="location"></mat-icon>
      <span [hidden]="!user.itemDistance" i18n="The distance between the user and the item">{{user.itemDistance | number:'1.0-1' // i18n(ph="DISTANCE")}}km from you</span>
      <span [hidden]="user.itemDistance" i18n>No location</span>
    </li>
    <li class="list-group-item" *ngIf="user.receivedReports > -1">
      <mat-icon svgIcon="reports"></mat-icon>
      <span [ngSwitch]="user.receivedReports">
        <ng-container *ngSwitchCase="0" i18n>No spam/scam reports</ng-container>
        <ng-container *ngSwitchCase="1" i18n>One spam/scam report</ng-container>
        <ng-container *ngSwitchDefault
                      i18n>{{user.receivedReports // i18n(ph="TOTAL_NUMBER")}} spam/scam reports</ng-container>
      </span>
    </li>
    <li class="list-group-item" *ngIf="user.sellingItem">
      <mat-icon svgIcon="car"></mat-icon>
      <a i18n href="{{user?.sellingItem.webLink}}" target="_blank">This user is selling a car</a>
    </li>
  </ul>
  <a class="user-info-link" href="{{user.webLink}}" target="_blank" tslTrackEvent="USER_PROFILE_VIEWED" [params]="{user_id: user.id}" i18n>View profile</a>
</div>
