@import "~style/common";

:host {
  display: block;
  a {
    &:hover, &:focus, &:active {
      text-decoration: none;
    }
  }
}

.user-info-calls {
  .user-info-rating-block {
    display: flex;
    h3 {
      font-size: $font-size-XS;
      color: $grey-300;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: $letter-spacing;
      margin-bottom: 0;
      line-height: 2;
      flex-grow: 2;
    }
  }
  .user-info-extra {
    margin-top: $spacing;
    border-top: 1px solid $grey-50;
    padding: 0;
  }
}
