@import "~style/common";

:host {
  display: block;
  position: relative;
  height: 100%;
}

.user-info-calls {
  .user-info-rating-block {
    display: flex;
    h3 {
      font-size: $font-size-XS;
      color: $grey-300;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: $letter-spacing;
      margin-bottom: 0;
      line-height: 2;
      flex-grow: 2;
    }
  }
  .user-info-extra {
    margin-top: $spacing-ml;
    border-top: 1px solid $grey-50;
    padding: 5px 0 0 0;
    .list-group-item {
      border: 0;
      background-color: transparent;
      padding: 0.45rem 0;
      font-size: $font-size-S;
      color: $grey-900;
      mat-icon {
        width: 16px;
        height: 16px;
        margin-right: 23px;
      }
      a {
        &:hover, &:active {
          text-decoration: none;
        }
      }
    }
  }
  .user-info-link {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #13C1AC;
    line-height: 48px;
    height: 48px;
    border-top: 1px solid #ECEFF1;
    text-transform: uppercase;
    text-align: center;
    font-size: $font-size-XS;
    font-weight: bold;
    &:hover, &:active {
      text-decoration: none;
    }
  }
}
