<div class="page-content">
  <div class="container">
    <tsl-header>
      <div class="col-9">
        <div class="header-row">
          <h1 class="header-title" i18n>Wallacoins</h1>
        </div>
        <div class="header-row header-row--margin">
          <h4 class="header-subtitle" i18n>Esto es una pequeña línea sobre esta sección, sea cual sea el nombre</h4>
        </div>
      </div>
      <div class="col-3">
        <div class="btn-wrapper">
          200
        </div>
      </div>
    </tsl-header>
    <div class="box">
      <div class="box-content">

      </div>
    </div>
  </div>
</div>
