@import "~style/common";

$pack-width: 234px;

.page-content {
  padding-bottom: 65px;
}

tsl-header {
  /deep/ {
    .total-credits {
      color: $grey-250;
      text-align: center;
      .credits {
        font-size: $font-size-L;
        font-weight: bold;
      }
      .label {
        font-size: $font-size-S;
      }
    }
  }
}

.box-content {
  text-align: center;
}

h2, h3 {
  font-size: $font-size-L;
  color: $grey-900;
  font-weight: bold;
}

p {
  color: $grey-250;
}

ngb-carousel {
  margin-top: 60px;
  margin-bottom: 86px;
}
/deep/ {
  .carousel .carousel-item {
    flex-direction: row;
    justify-content: center;
    height: 386px;
    .pack {
      border-radius: $border-radius;
      border: solid 2px $grey-50;
      width: $pack-width;
      margin: 0 $spacing-M;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 54px $spacing $spacing-L;
      .featured {
        $height: 34px;
        height: $height;
        background-color: $corporate;
        color: $white;
        text-transform: uppercase;
        font-size: $font-size-XS;
        line-height: $height;
        font-weight: bold;
        text-align: center;
        position: absolute;
        top: 2px;
        width: $pack-width - 4;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
      .icon {
        @include square(100px);
        background-color: $grey-50;
        border-radius: 50%;
      }
      .discount {
        @include square(40px);
        background-color: $corporate;
        border-radius: 50%;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        position: absolute;
        margin-left: 48px;
      }
      .quantity {
        font-size: 40px;
        font-weight: bold;
        color: $grey-900;
        line-height: 30px;
        margin-top: $spacing;
      }
      .label {
        font-size: $font-size-L;
        color: $grey-900;
      }
      .for-free {
        color: $corporate;
        font-size: $font-size-S;
        font-weight: bold;
        flex-grow: 1;
      }
      tsl-button {
        display: block;
        width: 100%;
        /deep/ {
          button {
            font-size: $font-size-M;
            font-weight: bold;
            &.btn-grey {
              background-color: $grey-250;
            }
          }
        }
      }
    }
  }
  .carousel-indicators {
    display: none;
  }
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 120px;
  div {
    width: 33%;
    padding: 0 $spacing-2M;
    h3 {
      font-size: $font-size;
    }
  }
}
