<div class="page-content">
  <div class="container">
    <tsl-header>
      <div class="col-11">
        <div class="header-row">
          <h1 class="header-title">
            <span [hidden]="withCoins">Saldo</span>
            <span [hidden]="!withCoins">Wallacoins</span>
          </h1>
        </div>
        <div class="header-row header-row--margin">
          <h4 class="header-subtitle" i18n>Esto es una pequeña línea sobre esta sección, sea cual sea el nombre</h4>
        </div>
      </div>
      <div class="col-1">
        <div class="total-credits" [hidden]="!withCoins">
          <div class="credits">{{wallacoins | number}}</div>
          <div class="label">{{currencyName}}</div>
        </div>
        <div class="total-credits" [hidden]="withCoins">
          <div class="credits">{{wallacoins | customCurrency}}</div>
          <div class="label">saldo</div>
        </div>
      </div>
    </tsl-header>
    <div class="box">
      <div class="box-content">
        <h2 [hidden]="!withCoins">Un euro = {{factor}} {{currencyName}}</h2>
        <h3 [hidden]="withCoins">Elije entre los paquetes que te ofrecemos</h3>
        <p>Tenemos diferentes paquetes que se ajustan a tus necesidades.<br />
          Cuanto más compres más te regalamos!</p>
        <ngb-carousel *ngIf="packs?.length" interval="0" [wrap]="false" (slide)="onSlide($event)" [ngClass]="sliderClass">
          <ng-template ngbSlide *ngFor="let packArray of packs; let i = index">
            <ng-container *ngFor="let pack of packArray; let j = index">
              <tsl-pack-wallacoins [pack]="pack" [packIndex]="i*packArray.length + j + 1" (onBuy)="openBuyModal(pack, i*packArray.length + j + 1)"></tsl-pack-wallacoins>
            </ng-container>
          </ng-template>
        </ngb-carousel>
        <h3 [hidden]="!withCoins">¿Por qué debería comprar wallas?</h3>
        <h3 [hidden]="withCoins">¿Por qué debería usar saldo de wallapop?</h3>
        <div class="info">
          <div class="info-1">
            <h4>Pago muy seguro</h4>
            <p>Por cada paquete que compres te regalamos dinero para utilizar en wallapop.</p>
          </div>
          <div class="info-2">
            <h4>Ahorras mucho dinero</h4>
            <p>Puedes disponer en cualquier momento de los {{currencyName}} para destacar.</p>
          </div>
          <div class="info-3">
            <h4>Mucho más rápido y cómodo</h4>
            <p>Como todos los pagos que realices por wallapop la compra de {{currencyName}} es mega segura.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
