@import '~style/common';

$pack-width: 234px;

.page-content {
  padding-bottom: $spacing-xxxl;
}

tsl-header {
  ::ng-deep {
    .header-title {
      text-transform: capitalize;
    }
    .total-credits {
      color: $blue-grey-3;
      text-align: center;
      .credits {
        font-size: $font-size-l;
        font-weight: $font-weight-chunky;
      }
      .label {
        font-size: $font-size-s;
      }
    }
  }
}

.box-content {
  text-align: center;
  padding-top: 100px;
}

h2 {
  font-size: $font-size-xl;
  margin-bottom: $spacing-ml;
}

h3 {
  font-size: $font-size-ll;
}

h2,
h3 {
  color: $blue-grey-1;
  font-weight: $font-weight-chunky;
}

p {
  color: $blue-grey-3;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $spacing-xxxl auto 86px;
  ngb-carousel {
    ::ng-deep {
      .carousel-item {
        height: auto;
      }
    }
  }
  .left-arrow,
  .right-arrow {
    cursor: pointer;
    ::ng-deep {
      svg {
        @include square(24px);
      }
    }
    &:hover {
      ::ng-deep {
        path {
          fill: $walla-main;
        }
      }
    }
    &.disabled {
      opacity: 0;
      cursor: none;
      pointer-events: none;
    }
  }
  .left-arrow {
    transform: rotate(180deg);
  }

  .carousel-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    & > * {
      margin-bottom: 10px;
    }
  }
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: $spacing-xl $spacing-ml;
  div {
    width: 33%;
    padding: 130px $spacing-m 0;
    background: no-repeat top;
    &.info-1 {
      background-image: url(/assets/images/wallacoins-info-1.svg);
      padding-left: 0;
    }
    &.info-2 {
      background-image: url(/assets/images/wallacoins-info-2.svg);
    }
    &.info-3 {
      background-image: url(/assets/images/wallacoins-info-3.svg);
      padding-right: 0;
    }
    h4 {
      font-size: $font-size-m;
      color: $walla-main;
      font-weight: $font-weight-chunky;
    }
  }
}

.disclaimer {
  text-align: center;
  font-size: $font-size-s;
  padding: 0 12%;
}
