@import '~style/common';

.ProfileUser__container {
  background-color: $white;
  border-radius: 0 0 $border-radius $border-radius;
  display: flex;
  flex-direction: column;
}

.ProfileUser__info {
  align-items: center;
}

.ProfileUser__stats {
  margin-top: $spacing-l;
  align-items: center;
}

.ProfileUser__info__image {
  position: relative;
  @include square(80px);
  margin: $spacing-l;
  background: #c4c4c4;
  border-radius: $spacing-xxxl;
}
