@import '~style/common';

.ProfileUser__container {
  background-color: $white;
  border-radius: 0 0 $border-radius $border-radius;
  font-size: $font-size-s;
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-m;
  .row {
    margin: $spacing-ml 0;
  }
}

.ProfileUser__info {
  align-items: center;
  tsl-stars {
    display: inline-block;
  }
}

.ProfileUser__stats {
  margin-top: $spacing-l;
  align-items: center;
}

.ProfileUser__info__image {
  position: relative;
  margin-right: $spacing-m;
  @include square(80px);
  background: #c4c4c4;
  border-radius: $spacing-xxxl;
}

.user-number-reviews {
  font-size: $font-size-s;
  color: $blue-grey-3;
  margin-bottom: 0;
}
