<div *ngIf="userInfo && userStats">
  <div class="HeaderPro" [hidden]="!userInfo.isPro"></div>
  <div class="container align-middle ProfileUser__container">
    <div class="row">
      <div class="col-12 col-sm-6 row ProfileUser__info">
        <tsl-user-avatar  class="ProfileUser__info__image"></tsl-user-avatar>
        <div class="wrapper">
          <h3>{{userInfo.micro_name}}</h3>
          <tsl-stars [stars]="userStats?.ratings?.reviews" [normalized]="false"></tsl-stars>
          <span class="user-number-reviews">({{userStats.counters.reviews}})</span>
        </div>
        <div class="ProBadge" [hidden]="!userInfo.isPro">
          <div class="ProBadge-icon">
            <tsl-svg-icon src="/assets/icons/pro-seal.svg"></tsl-svg-icon>
          </div>
          <div>PRO</div>
        </div>
      </div>
      <div class="col-12 col-sm-6 ProfileUser__stats">
        <tsl-user-stats [userStats]="userStats"></tsl-user-stats>
      </div>
    </div>
  </div>
</div>