@import '~style/common';

$profile-image-size: 80px;

.HeaderPro {
  height: 300px;

  @include media-breakpoint-down(lg) {
    height: 240px;
  }

  @include media-breakpoint-down(md) {
    height: 160px;
  }
}

.ProfileUser__container {
  background-color: $white;
  border-radius: 0 0 $border-radius $border-radius;
  font-size: $font-size-s;

  .user-number-reviews {
    font-size: $font-size-s;
    color: $blue-grey-3;
  }

  &__title--bold {
    font-weight: $font-weight-chunky;
  }
}

tsl-pro-badge {
  margin-left: $profile-image-size + $spacing-s;
}
