@import '~style/common';

.MultiselectSearchInput {
  background-color: transparent;
  &::placeholder {
    color: $blue-grey-2;
  }
  &__hashtagList {
    border: 1px solid $blue-grey-4;
    border-radius: 6px;
    color: $blue-grey-1;
  }
}
:host {
  tsl-multi-select-form {
    ::ng-deep > div {
      .MultiSelectOption .select {
        border: 0 !important;
        background-color: $blue-grey-5 !important;
      }

      .MultiSelectOption .selected {
        background: $walla-main !important;
      }
    }
  }
}
