<div class="page-content d-flex flex-column"
     tslInfiniteScroll
     [infiniteScrollDistance]="1"
     [infiniteScrollDisabled]="!items.length || end || loading"
     (scrolled)="loadMore()"
     [scrollTop]="scrollTop">
  <div class="container">
    <tsl-header>
      <div class="d-lg-none">
        <div class="row">
          <div class="col-8">
            <div class="List__profile flex-column">
              <div class="mb-2 d-flex align-items-center">
                <div class="header-title">{{user?.microName}}</div>
                <ng-container *ngxPermissionsOnly="PERMISSIONS.subscriptions">
                  <tsl-pro-badge class="ml-2" *ngIf="userService.isPro"></tsl-pro-badge>
                </ng-container>
              </div>
              <tsl-stars [stars]="userScore" [normalized]="false"></tsl-stars>
              <div *ngxPermissionsOnly="PERMISSIONS.subscriptions">
                <tsl-button class="List__button--pros w-100 mt-2" className="btn btn-dark w-100" (click)="navigateToProsModule()">
                  {{subscriptionButtonName}}
                </tsl-button>
              </div>
            </div>
          </div>
          <a class="col-4 d-flex justify-content-end" [routerLink]="['/profile/info']">
            <tsl-user-avatar [user]="user" size="80"></tsl-user-avatar>
          </a>
        </div>
      </div>

      <div class="d-none d-lg-block">
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col">
                  <h1 class="header-title">
                    <span i18n="@@web_catalog_pages_list_149">Your products</span>
                    <ng-container *ngxPermissionsOnly="PERMISSIONS.subscriptions">
                      <tsl-pro-badge class="ml-2" *ngIf="userService.isPro"></tsl-pro-badge>
                    </ng-container>
                  </h1>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h4 class="header-subtitle" i18n="@@web_list_component_header_subtitle">
                  Here you can list items, manage the ones you already have and activate featured to sell them faster
                </h4>
              </div>
            </div>
          </div>
          <div class="col-4 info d-none d-md-flex">
            <ng-container *ngxPermissionsOnly="PERMISSIONS.bumps">
              <tsl-svg-icon src="/assets/icons/feature.svg" class="wing-size"></tsl-svg-icon>
              <a (click)="bumpTutorial.show()" i18n="@@web_catalog_pages_list_648">What can features do for you?</a>
            </ng-container>
          </div>
          <div class="col-2 header-numbers d-none d-md-flex flex-column">
            <div class="d-flex align-items-center justify-content-end">
              <div class="text-center">
                <p class="header-numbers-top">
                  <span *ngIf="numberOfProducts === 0 && loading">--</span>
                  <span *ngIf="!loading">{{numberOfProducts}}</span>
                </p>
                <p class="header-numbers-bottom">
                  <span *ngIf="numberOfProducts > 1 || numberOfProducts === 0" i18n="@@web_catalog_pages_list_150">products</span>
                  <span *ngIf="numberOfProducts === 1" i18n="@@web_catalog_pages_list_151">product</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-lg-none mt-3">
        <div class="row">
          <div class="col-12">
            <div class="d-flex flex-wrap">
              <a [routerLink]="['/profile/info']" class="edit-profile-btn d-flex align-items-center justify-content-center mr-1 mb-1 px-2" i18n="@@web_catalog_pages_list_147">Edit</a>
              <a [routerLink]="[walletPath]" class="List__button--wallet edit-profile-btn d-flex align-items-center justify-content-center mr-1 mb-1 px-2" i18n="@@web_catalog_wallet">Wallet</a>
              <a [routerLink]="[deliveryPath]" class="List__button--delivery edit-profile-btn d-flex align-items-center justify-content-center mr-1 mb-1 px-2" i18n="@@web_catalog_delivery">Delivery</a>
              <a (click)="logout()" class="logout edit-profile-btn d-flex align-items-center justify-content-center mb-1 px-2" i18n="@@web_catalog_pages_list_148">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </tsl-header>
    
    <ng-container *ngxPermissionsOnly="PERMISSIONS.subscriptions">
      <tsl-try-pro-slot *ngIf="showTryProSlot"
        class="mt-3 d-block"
        [hasTrialAvailable]="hasTrialAvailable"
        [tierWithDiscount]="tierWithDiscount"
        (clickCTA)="onClickTryProSlot()"
        (clickClose)="onCloseTryProSlot()"
        >
      </tsl-try-pro-slot>
      <tsl-subscriptions-slots-list *ngIf="subscriptionSlots.length"
        class="mt-3 d-block"
        [subscriptionsSlots]="subscriptionSlots"
        [selectedSubscriptionSlot]="selectedSubscriptionSlot"
        (subscriptionSlotSelected)="onSelectSubscriptionSlot($event)"
        >
      </tsl-subscriptions-slots-list>
    </ng-container>
  
    <tsl-nav-links
      [searchPlaceholder]="searchPlaceholder"
      [showSearchInput]="selectedSubscriptionSlot"
      [selectedLinkId]="selectedStatus"
      [navLinks]="navLinks"
      [subscriptionSelectedNavLinks]="subscriptionSelectedNavLinks"
      [showSortItems]="selectedSubscriptionSlot"
      [sortItems]="sortItems"
      (clickedLink)="filterByStatus($event)"
      (sortChanged)="onSortChange($event)"
      [disabled]="loading"
      (searchChanged)="onSearchInputChange($event)"
    >
    </tsl-nav-links>

    <div class="items">
      <div id="catalog-empty-state" class="d-none d-md-block" *ngIf="!items.length && !loading && selectedStatus !== 'reviews'">
        <img class="w-100 h-100" src="/assets/images/placeholders/items-empty-state.svg">
      </div>

      <tsl-catalog-item 
        *ngFor="let item of selectedSubscriptionSlot ? (items | slice:0:itemsAmount) : items"
        [item]="item"
        (itemChange)="itemChanged($event)">
      </tsl-catalog-item>

      <tsl-reviews *ngIf="selectedStatus === 'reviews'"></tsl-reviews>

      <tsl-spinner [hidden]="!loading"></tsl-spinner>
    </div>
  </div>

  <div class="List__selectedItems mt-auto">
    <tsl-selected-items *ngIf="items.length"
      [items]="items"
      [selectedSubscriptionSlot]="selectedSubscriptionSlot"
      [selectedStatus]="selectedStatus"
      (selectedAction)="onAction($event)"
    >
    </tsl-selected-items>
  </div>
</div>

<tsl-bump-tutorial></tsl-bump-tutorial>
<button [hidden]="true" tslItemSold></button>
