<div class="page-content"
     tslInfiniteScroll
     [infiniteScrollDistance]="1"
     [infiniteScrollDisabled]="!items.length || end || loading"
     (scrolled)="loadMore()"
     [scrollTop]="scrollTop">
  <div class="container">
    <tsl-header>
      <div class="col-8 col-md-7">
        <div class="header-row">
          <h1 class="header-title">
            <div class="d-md-none flex-column">
              <div class="mb-2 d-flex align-items-center">
                <div class="List__title">{{user?.microName}}</div>
                <ng-container *ngxPermissionsOnly="PERMISSIONS.subscriptions">
                  <tsl-pro-badge *ngIf="userService.isPro"></tsl-pro-badge>
                </ng-container>
              </div>
              <tsl-stars [stars]="userScore" [normalized]="false"></tsl-stars>
              <div *ngxPermissionsOnly="PERMISSIONS.subscriptions">
                <tsl-button id="qa-list-pro-button" class="w-100 mt-2" className="btn btn-dark w-100" routerLink="/{{PRO_PATHS.PRO_MANAGER}}">
                  {{subscriptionButtonName}}
                </tsl-button>
              </div>
              <button [routerLink]="['/profile/info']" class="edit-profile-btn mr-1" i18n="@@web_catalog_pages_list_147">Edit</button>
              <button *tslDeliveryDevelopment [routerLink]="['/delivery']" class="edit-profile-btn mr-1" i18n="@@web_catalog_delivery">Delivery</button>
              <button (click)="logout()" class="logout edit-profile-btn" i18n="@@web_catalog_pages_list_148">Logout</button>
            </div>
            <div class="d-none d-md-flex align-items-center">
              <div class="List__title" i18n="@@web_catalog_pages_list_149">Your products</div>
              <ng-container *ngxPermissionsOnly="PERMISSIONS.subscriptions">
                <tsl-pro-badge *ngIf="userService.isPro"></tsl-pro-badge>
              </ng-container>
            </div>
          </h1>
        </div>
        <div class="header-row d-none d-md-block">
          <h4 class="header-subtitle" i18n="@@web_list_component_header_subtitle">
            Here you can list items, manage the ones you already have and activate featured to sell them faster
          </h4>
        </div>
      </div>
      <div class="col info d-none d-md-flex">
        <ng-container *ngxPermissionsOnly="PERMISSIONS.bumps">
          <tsl-svg-icon src="/assets/icons/feature.svg" class="wing-size"></tsl-svg-icon>
          <a (click)="bumpTutorial.show()" i18n="@@web_catalog_pages_list_648">What can features do for you?</a>
        </ng-container>
      </div>
      <div class="col-4 col-md-1 d-none d-md-block header-numbers">
        <p class="header-numbers-top">
          <span *ngIf="numberOfProducts === 0 && loading">--</span>
          <span *ngIf="!loading">{{numberOfProducts}}</span>
        </p>
        <p class="header-numbers-bottom">
          <span *ngIf="numberOfProducts > 1 || numberOfProducts === 0" i18n="@@web_catalog_pages_list_150">products</span>
          <span *ngIf="numberOfProducts === 1" i18n="@@web_catalog_pages_list_151">product</span>
        </p>
      </div>
      <a class="col-4 col-md-1 d-flex justify-content-end d-md-none" [routerLink]="['/profile/info']">
        <tsl-user-avatar [user]="user" size="80"></tsl-user-avatar>
      </a>
    </tsl-header>
    <ng-container *ngxPermissionsOnly="PERMISSIONS.subscriptions">
      <tsl-try-pro-slot *ngIf="showTryProSlot"
        class="d-md-block"
        [hasTrialAvailable]="hasTrialAvailable"
        (clickCTA)="onClickTryProSlot()"
        (close)="onCloseTryProSlot()"
        >
      </tsl-try-pro-slot>
      <tsl-subscriptions-slots-list
        class="d-md-block"
        [subscriptionsSlots]="subscriptionSlots"
        [selectedSubscriptionSlot]="selectedSubscriptionSlot"
        (subscriptionSlotSelected)="onSelectSubscriptionSlot($event)"
        >
      </tsl-subscriptions-slots-list>
  </ng-container>
  
    <tsl-nav-links
      [searchPlaceholder]="searchPlaceholder"
      [showSearchInput]="selectedSubscriptionSlot"
      [selectedLinkId]="selectedStatus"
      [navLinks]="navLinks"
      [subscriptionSelectedNavLinks]="subscriptionSelectedNavLinks"
      [showSortItems]="selectedSubscriptionSlot"
      [sortItems]="sortItems"
      (clickedLink)="filterByStatus($event)"
      (sortChanged)="onSortChange($event)"
      (searchChanged)="onSearchInputChange($event)"
    >
    </tsl-nav-links>

    <div class="items">
      <div id="catalog-empty-state" class="d-none d-md-block" *ngIf="!items.length && !loading && selectedStatus !== 'reviews'">
        <img class="w-100 h-100" src="/assets/images/placeholders/items-empty-state.svg">
      </div>

      <tsl-catalog-item 
        *ngFor="let item of selectedSubscriptionSlot ? (items | slice:0:itemsAmount) : items"
        [item]="item"
        (itemChange)="itemChanged($event)"
        (purchaseListingFee)="purchaseListingFee($event)"
      >
      </tsl-catalog-item>

      <tsl-reviews *ngIf="selectedStatus === 'reviews'"></tsl-reviews>

      <tsl-spinner [hidden]="!loading"></tsl-spinner>
    </div>
  </div>
</div>

<tsl-selected-items *ngIf="items.length"
  [items]="items"
  [selectedSubscriptionSlot]="selectedSubscriptionSlot"
  [selectedStatus]="selectedStatus"
  (selectedAction)="onAction($event)"
>
</tsl-selected-items>

<tsl-bump-tutorial></tsl-bump-tutorial>
<button [hidden]="true" tslItemSold></button>
