@import '~style/common';

.items {
  margin-top: $spacing-ml;
  margin-bottom: $spacing-xxxl * 2;
}

tsl-spinner {
  width: 100%;
}

.edit-profile-btn {
  appearance: none;
  border: thin solid rgba($blue-grey-4, 0.5);
  color: $blue-grey-2;
  background: none;
  border-radius: 10px;
  font-size: $font-size-xs;
  min-width: 50px;
  height: 32px;
}

.info {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-s;
  tsl-svg-icon {
    ::ng-deep svg path {
      fill: $walla-main;
    }
    margin-right: $spacing-ms;
  }
  a {
    text-decoration: underline;
    cursor: pointer;
    color: $walla-main;
    &:hover {
      text-decoration: none;
    }
  }
}

#catalog-empty-state {
  padding: 0 $spacing-ms;
  width: 100%;
  tsl-svg-icon {
    width: 100%;
    height: auto;
  }
}

.wing-size {
  width: fit-content;
  height: fit-content;
}

.logout {
  color: $blue-grey-2 !important;
}
