@import '~style/common';

.ProModal {
  max-width: 625px;
  height: 100%;
  min-height: 485px;

  @include media-breakpoint-down(sm) {
    max-width: 316px;
  }

  &__text {
    padding: 32px;
    @include media-breakpoint-down(sm) {
      padding: 20px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
  }

  &__description {
    margin-top: 12px;
  }

  &__img {
    padding: 32px;
    background: #385ef9;

    @include media-breakpoint-down(sm) {
      background: linear-gradient(0deg, transparent 30%, $color-pro-main 30%);
      padding: 20px 0 0 0;
      img {
        height: 160px;
      }
    }

    img {
      width: fit-content;
    }
  }
}
