<div class="ProModal d-flex align-items-center flex-column-reverse flex-md-row text-center text-md-left">
    <div class="ProModal__text d-flex flex-column h-100 justify-content-center">  
        <div class="ProModal__title">{{modalConfig.title}}</div>
        <div class="ProModal__description">{{modalConfig.text1}}</div>
        <div class="ProModal__description">{{modalConfig.text2}}</div>
        <tsl-button class="mt-4" className="btn-primary w-100">{{modalConfig.primaryButton}}</tsl-button>
    </div>
    <div class="ProModal__img ml-auto d-flex flex-column h-100 justify-content-center w-100 align-items-center">
        <img [src]="modalConfig.icon">
    </div>
</div> 