<div *ngIf="modalConfig"
    class="ProModal d-flex align-items-center flex-column-reverse flex-md-row text-center text-md-left h-100"
    [ngClass]="'ProModal--' + modalConfig.style">
    <div class="ProModal__close position-absolute m-3" (click)="onClose()">
        <tsl-svg-icon src="/assets/icons/cross.svg"></tsl-svg-icon>
    </div>
    <div class="ProModal__text d-flex flex-column h-100 justify-content-center">
        <div class="ProModal__title">{{modalConfig.title}}</div>
        <div *ngIf="modalConfig.text1" class="ProModal__description">{{modalConfig.text1}}</div>
        <div *ngIf="modalConfig.textList" class="ProModal__description">
            <ul class="list p-0">
                <li *ngFor="let item of modalConfig.textList">
                    {{item}}
                </li>
            </ul>
        </div>
        <div *ngIf="modalConfig.text2" class="ProModal__description">{{modalConfig.text2}}</div>
        <div class="ProModal__buttons w-100 d-flex flex-column position-sticky">
            <tsl-button *ngIf="modalConfig.buttons.secondary" (click)="onClose(MODAL_ACTION.SECONDARY_BUTON)" class="mb-3"
                className="btn-secondary w-100">{{modalConfig.buttons.secondary.text}}</tsl-button>
            <div [ngSwitch]="modalConfig.buttons.primary.redirect?.type">
                <ng-container *ngSwitchCase="REDIRECT_TYPE.href" [ngTemplateOutlet]="hrefButton"></ng-container>
                <ng-container *ngSwitchCase="REDIRECT_TYPE.routerLink" [ngTemplateOutlet]="routerButton"></ng-container>
                <ng-container *ngSwitchDefault [ngTemplateOutlet]="defaultButton"></ng-container>
            </div>
        </div>
    </div>
    <div class="ProModal__img ml-auto d-flex flex-column h-100 justify-content-center w-100 align-items-center">
        <tsl-svg-icon [src]="modalConfig.img"></tsl-svg-icon>
    </div>
</div>

<ng-template #routerButton>
    <a [routerLink]="[modalConfig.buttons.primary.redirect.url]">
        <tsl-button class="w-100" (click)="onClose(MODAL_ACTION.PRIMARY_BUTTON)"
            className="btn-primary btn-primary--bold w-100" >
            {{modalConfig.buttons.primary.text}}
        </tsl-button>
    </a>
</ng-template>

<ng-template #hrefButton>
    <a [href]="modalConfig.buttons.primary.redirect.url" target="_blank">
        <tsl-button class="w-100" (click)="onClose(MODAL_ACTION.PRIMARY_BUTTON)"
            className="btn-primary btn-primary--bold w-100">
            {{modalConfig.buttons.primary.text}}</tsl-button>
    </a>
</ng-template>

<ng-template #defaultButton>
    <tsl-button class="w-100" (click)="onClose(MODAL_ACTION.PRIMARY_BUTTON)"
        className="btn-primary btn-primary--bold w-100">
        {{modalConfig.buttons.primary.text}}
    </tsl-button>
</ng-template>