<div class="ItemDetailImages w-100 h-100 position-absolute" *ngIf="hidden === false">
    <div class="ItemHeader d-flex pl-4  align-items-center w-100">
        <tsl-svg-icon class="ItemHeader__backButton" src="/assets/icons/arrow-back.svg" (click)="hidde()">
        </tsl-svg-icon>
        <div class="ItemInfo ml-4 d-flex flex-column">
            <span>{{item?.title}}</span>
            <span class="ItemHeader__price">{{item?.salePrice |
                customCurrency:item?.currencyCode}}</span>
        </div>
        <div class="p-3 position-absolute ItemHeader__buttons">
            <tsl-button className="btn btn-upload mr-2" (click)="toggleItemFavorite()" id="favouriteButton">
                <tsl-favourite-icon [active]="item?.flags?.favorite">
                </tsl-favourite-icon>
            </tsl-button>
            <tsl-button class="ChatButton d-inline-flex" className="btn btn-primary" [routerLink]="['/chat']"
                [queryParams]="{itemId: item.id}">Chat
            </tsl-button>
        </div>
    </div>
    <div class="ItemContainer position-absolute d-flex align-items-center w-100">
        <div class="container w-100 h-100 py-5 px-0 px-lg-5">
            <tsl-carousel-slides [initialIndex]="imageIndex" [hideControllers]="deviceDetectorService.isMobile()"
                noBackgroundIndicators="true">
                <ng-template carousel-slider *ngFor="let image of images">
                    <pinch-zoom class="w-100 h-100" backgroundColor="none">
                        <img [src]="image" class="CarouselImage" />
                    </pinch-zoom>
                </ng-template>
            </tsl-carousel-slides>
        </div>
    </div>
</div>