@import "../../../../style/_common.scss";

$sold-height: 38px;

.sold {
  background-color: $sold-bg;
  border-radius: 100px;
  color: $white;
  font-size: $font-size-S;
  height: $sold-height;
  line-height: $sold-height;
  text-align: center;
  padding: 0 $spacing;
  md-icon {
    vertical-align: middle;
    width: 21px;
    margin-right: 7px;
  }
}
