@import "~style/common";

a.other-make {
  font-size: $font-size-xs;
  color: $walla-main;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: $walla-main;
    text-decoration: none;
  }
}
