@import '~style/common';

.categories-select {
  tsl-svg-icon {
    ::ng-deep svg {
      @include square(38px);
    }
  }
}

.conditions-select {
  .option-description {
    font-size: $font-size-xs;
    color: $blue-grey-3;
    margin-left: $spacing-xs;
  }
}
