<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">

  <div class="box">
    <div class="row">
      <div class="col">
        <h2 i18n>Information about your item</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="headline" i18n>What are you selling?</label>
          <span class="chars-counter">{{ uploadForm.value?.title?.length }}/50</span>
          <input i18n-placeholder placeholder="In some words..." type="text" class="form-control"
            formControlName="title" [ngbPopover]="coachmarkTitle" #title id="headline" maxlength="50" />
          <ng-template #coachmarkTitle>
            <div i18n>
              Don't make errors so that people will find you easily.
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-4">
        <div class="form-group">
          <label for="price" i18n>Price</label>
          <input i18n-placeholder placeholder="(don't go crazy)" type="number" class="form-control"
            formControlName="sale_price" [ngbPopover]="coachmarkPrice" id="price" min="0" max="999999999" />
          <ng-template #coachmarkPrice>
            <div i18n>
              Add a fair price and the category that best suits your item.
            </div>
          </ng-template>
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="form-group">
          <label for="currency" i18n>Currency</label>
          <ng-select class="form-control" formControlName="currency_code" id="currency" [ngbPopover]="coachmarkPrice"
            #p1="ngbPopover" triggers="manual" (opened)="p1.open()" (closed)="p1.close()" [options]="currencies"
            noFilter="10"></ng-select>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="category" i18n>Category</label>
          <ng-select [hidden]="fixedCategory" i18n-placeholder placeholder="Category"
            (selected)="handleItemExtraInfo(true, $event)" class="form-control" formControlName="category_id"
            [ngbPopover]="coachmarkPrice" #p2="ngbPopover" triggers="manual" (opened)="p2.open()" (closed)="p2.close()"
            id="category" [options]="categories" noFilter="10">
            <ng-template #optionTemplate let-option="option">
              <div (click)="setCategory(option.value)">
                <mat-icon svgIcon="cat_{{ option?.icon_id }}"></mat-icon>
                {{ option?.label }}
              </div>
            </ng-template>
          </ng-select>
          <input *ngIf="fixedCategory" disabled type="text" class="form-control" [value]="fixedCategory" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group last">
          <label for="tellUs" i18n>Description</label>
          <span class="chars-counter">{{ uploadForm.value?.description?.length }}/650</span>
          <textarea i18n-placeholder placeholder="Add relevant information such as condition, model, color..."
            fz-elastic class="form-control" [ngbPopover]="coachmarkDescription" formControlName="description"
            id="tellUs" maxlength="650"></textarea>
          <ng-template #coachmarkDescription>
            <div i18n>Every detail helps: so tell us more!</div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="box product-photos" [ngbPopover]="coachmarkPictures" triggers="mouseenter:mouseleave">
    <div class="row">
      <div class="col">
        <h2 [ngClass]="{'ng-invalid':!uploadForm.controls.images.valid && uploadForm.controls.images.dirty}" i18n>
          Photos
        </h2>
      </div>
    </div>
    <tsl-drop-area [uploadEvent]="uploadEvent" type="consumer_goods" (onUploaded)="onUploaded($event)"
      (onError)="onError($event)" formControlName="images" [images]="item?.images" [itemId]="item?.id"></tsl-drop-area>
    <ng-template #coachmarkPictures>
      <div i18n>
        You can drag and drop your photos here. Select and drag to change the
        order. Max 10MB. We accept only .jpg images.
      </div>
    </ng-template>
  </div>

  <div class="box" *ngIf="showExtraFields">
    <div class="row">
      <div class="col">
        <h2><span i18n>The more precise, the better</span></h2>
      </div>
    </div>
    <div class="row" formGroupName="extra_info" *ngIf="isFashionCategory">
      <div class="col">
        <div class="form-group last">
          <label i18n>Choose the gender of the garment</label>
          <div ngbRadioGroup name="radioGender" formControlName="gender" class="input-radio"
            (change)="initializeItemExtraInfo(null)">
            <label ngbButtonLabel>
              <input ngbButton type="radio" value="female">
              <span i18n>Female</span>
            </label>
            <label ngbButtonLabel>
              <input ngbButton type="radio" value="male">
              <span i18n>Male</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row" formGroupName="extra_info">
      <div class="col-12 col-md-4" *ngIf="currentCategory.has_object_type">
        <div class="form-group last" formGroupName="object_type">
          <label for="objectType">{{ objectTypeTitle }}</label>
          <ng-select class="form-control" formControlName="id" id="objectType" i18n-placeholder
            placeholder="Select a type" [options]="objectTypes" noFilter="10"
            (selected)="initializeItemExtraInfo($event.value)"></ng-select>
        </div>
      </div>
      <div class="col-12 col-md-4" *ngIf="currentCategory.has_brand">
        <div class="form-group last">
          <label for="brand" i18n>Brand</label>
          <tsl-keyword-suggester [placeholder]="getBrandPlaceholder()" [initialValue]="item?.extraInfo?.brand"
            [value]="selectedBrand" [suggestions]="brandSuggestions" (inputChange)="getBrands($event)"
            (suggestionSelect)="selectBrandOrModel($event, 'brand')">
          </tsl-keyword-suggester>
        </div>
      </div>
      <div class="col-md-4" *ngIf="currentCategory.has_model">
        <div class="form-group last">
          <label for="model" i18n>Model</label>
          <tsl-keyword-suggester placeholder="model_example" [initialValue]="item?.extraInfo?.model"
            [value]="selectedModel" [suggestions]="modelSuggestions" (inputChange)="getModels($event)"
            (suggestionSelect)="selectBrandOrModel($event, 'model')">
          </tsl-keyword-suggester>
        </div>
      </div>
      <div class="col-md-4" *ngIf="isFashionCategory">
        <div class="form-group last" formGroupName="size">
          <label for="size" i18n>Size</label>
          <ng-select class="form-control" formControlName="id" id="fashionSizes" i18n-placeholder
            placeholder="Select a size" [options]="sizes" noFilter="10" (opened)="getSizes()"></ng-select>
        </div>
      </div>
    </div>
  </div>

  <div class="box" [ngbPopover]="coachmarkShipping" triggers="mouseenter:mouseleave" *ngIf="
      categoryId === '-1' ||
      (item && item.itemType === itemTypes.CONSUMER_GOODS)
    ">
    <div data-toggle="buttons">
      <div class="row">
        <div class="col">
          <h2 i18n>Shipping</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p i18n>
            You can send (almost) anything through wallapop. And it's free for you!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="selector-container" ngbRadioGroup name="radioBasic" formControlName="delivery_info">
            <label ngbButtonLabel class="selector" *ngFor="let delivery of deliveryInfo">
              <div class="selector-icon btn">
                <input ngbButton type="radio" [value]="delivery.value" (click)="onDeliveryChange(delivery.value)" />
                <mat-icon svgIcon="shipping-{{ delivery.value.max_weight_kg }}"></mat-icon>
              </div>
              <span class="selector-text">{{ delivery.value.max_weight_kg }}kg max</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <ng-template #coachmarkShipping>
      <div i18n>
        Tell us how much your product weighs. Remember that the sum of the
        length, height and width can not exceed 270cm.
      </div>
    </ng-template>
  </div>

  <tsl-location-box [form]="uploadForm" name="location" (locationSelected)="emitLocation()"></tsl-location-box>
  <tsl-urgent-checkbox [categoryId]="categoryId" [urgentPrice]="urgentPrice" (urgentSelected)="selectUrgent($event)">
  </tsl-urgent-checkbox>
  <div class="row">
    <div class="col-12 col-md-4">
      <tsl-button [type]="'submit'" className="btn-primary btn-block" [disabled]="loading" [loading]="loading">
        <span *ngIf="!item" i18n>Post Ad</span>
        <span *ngIf="item" i18n>Update</span>
      </tsl-button>
    </div>
    <div class="col-md-3 d-none d-md-block">
      <button type="button" (click)="preview()" class="btn btn-link" [disabled]="!uploadForm.valid"
        tslTrackEvent="UPLOADFORM_PREVIEW" i18n>
        How does it look?
      </button>
    </div>
  </div>
</form>