<div class="page-content" #scrollPanel>
  <div class="container upload-page">
    <tsl-category-selector (selected)="setCategory($event)" *ngxPermissionsExcept="['isProfessional']"></tsl-category-selector>
    <tsl-upload-car
      *ngIf="categoryId === '100'"
      [urgentPrice]="urgentPrice"
      (validationError)="validationError()"
      (locationSelected)="getUrgentPrice(100)"
    >
    </tsl-upload-car>
    <tsl-upload-realestate
      *ngIf="categoryId === '13000'"
      [urgentPrice]="urgentPrice"
      (validationError)="validationError()"
      (locationSelected)="getUrgentPrice(13000)"
    >
    </tsl-upload-realestate>
    <tsl-upload-product
      *ngIf="categoryId && categoryId !== '100' && categoryId !== '13000'"
      [categoryId]="categoryId"
      [urgentPrice]="urgentPrice"
      (validationError)="validationError()"
      (categorySelect)="getUrgentPrice($event)"
      (locationSelected)="getUrgentPrice(categoryId)"
    >
    </tsl-upload-product>
  </div>
</div>
