<div class="ChangeCardModal">
    <div class="ChangeCardModal-header">
      <div class="modal-close" (click)="activeModal.close()">
        <mat-icon svgIcon="cross"></mat-icon>
      </div>
      <h4 class="ChangeCardModal--title" i18n="@@ChangeSubscriptionCardTitle">Change subscription card</h4>
      <p class="ChangeCardModal--subtitle" i18n="@@ChangeSubscriptionCardSubtitle">Subtitle for changing card</p>
    </div>
    <div class="ChangeCardModal-body">
      <tsl-stripe-card-selection *ngIf="hasSavedCard && savedCard" (onSelectExistingCard)="setSavedCard($event)"
                            (hasCard)="hasCard($event)"
      ></tsl-stripe-card-selection>
      <div class="ChangeCardModal__NewCard--add" (click)="addNewCard()" *ngIf="savedCard" i18n>+ Add another credit card</div>
      <div class="ChangeCardModal__NewCard--used" (click)="removeNewCard()" *ngIf="showCard && hasSavedCard" i18n>Use saved card</div>
      <tsl-stripe-card-element *ngIf="showCard" [type]="'setDefault'" [cart]="cart"
                                  (stripeCard)="setCardInfo($event)" (onStripeSetDefaultCard)="setNewDefaultCard($event)" [loading]="loading"
      ></tsl-stripe-card-element>
      <tsl-button [hidden]="!savedCard"
                  className="btn-block btn-primary"
                  (click)="setExistingDefaultCard()"
                  [loading]="newLoading"
                  [disabled]="!selectedCard"
      >
        <div class="secure-payment-button">
        <span i18n="@@SetDefaultCard">Set default card</span>
        </div>
      </tsl-button>
    </div>
</div>