@import "~style/common";

$cart-height: calc(100vh - #{$topbar-height + $spacing-xl * 2});
$title-height: 50px;
$total-height: 50px;
$button-height: 42px;
$margin-height: 180px;
$scroll-height: 230px;
$button-margin: $spacing-ml - $spacing-s;
$button-space: $button-height + $spacing-ml;

:host {
  display: flex;
  flex-direction: column;
  background: $white;
  border-radius: $border-radius;
  border: solid 1px $blue-grey-5;
  height: calc(100% - #{$margin-height});
  width: 280px;
  position: fixed;
  padding: 0 $spacing-s $spacing-s;
}

h1 {
  height: $title-height;
  line-height: $line-height-xxl;
  font-size: $font-size-m;
  text-align: left;
  margin: 0;
}

.cart-wrapper {
  background-color: rgba($blue-grey-5, 0.3);
  border-radius: 5px;
  position: relative;
  flex: 2 0px;
  height: calc(100% - #{$scroll-height});
}

.scroll-panel {
  overflow: auto;
  min-height: $margin-height;
  height: 100%;
  padding: $spacing-s;
}

.total {
  height: $total-height;
  line-height: $total-height;
  font-size: $font-size-xs;
  font-weight: $font-weight-chunky;
  padding: 0 $spacing-s;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  overflow: hidden;
  clear: both;
  .price {
    font-size: $font-size-xl;
  }
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.items-list {
  font-size: $font-size-xs;
  .cart-box {
    border-radius: 5px;
    background-color: $white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 0.5px $blue-grey-4;
    margin-bottom: $spacing-s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
  }
  .type-total {
    padding: $spacing-ms;
    cursor: pointer;
    .wing-icon {
      width: 51px;
      height: 30px;
      margin-right: $spacing-s;
    }
    .arrow-icon {
      transform: rotate(-90deg) scale(.8);
      width: 9px;
      height: 13px;
    }
    &.collapsed {
      .arrow-icon {
        transform: rotate(90deg) scale(.8);
      }
    }
    .bump-type {
      margin-right: $spacing-xxs;
    }
  }
  .price {
    color: $blue-grey-2;
    font-weight: $font-weight-chunky;
  }
  .citybump {
    color: $walla-main;
    .wing-icon {
      /deep/ path {
        fill: $walla-main;
      }
    }
  }
  .countrybump {
    color: $country-bump;
  }
  .type {
    flex: 1;
  }
  .close-icon {
    @include square(16px);
    margin-bottom: $spacing-s;
    margin-right: $spacing-s;
    cursor: pointer;
  }
  .cart-item {
    display: flex;
    align-items: center;
    .cart-box {
      padding: $spacing-xxs;
      flex: 1;
      .quantity {
        font-size: $font-size-m;
        font-weight: $font-weight-chunky;
        color: $blue-grey-2;
        background-color: $blue-grey-5;
        border-radius: 4px;
        min-width: 32px;
        text-align: center;
        height: 32px;
        margin-right: $spacing-s;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .price {
      margin-right: $spacing-s;
    }
  }
}

.clean-cart {
  position: absolute;
  top: 17px;
  right: 10px;
  font-size: $font-size-xs;
  a {
    color: $blue-grey-2;
    cursor: pointer;
  }
}

tsl-button {
  display: block;
  /deep/ .btn {
    width: calc(100% - #{$button-margin * 2});
    margin: $button-margin;
    margin-top: 0;
  }
}

.secure-payment {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  mat-icon {
    width: 21px;
    height: 15.5px;
  }
  span {
    font-size: $font-size-xs;
    color: $blue-grey-3;
  }
}

.secure-payment-button {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  mat-icon {
    height: 14px;
    width: 11px;
    position: absolute;
    right: 0;
    top: 1px;
  }
  span {
    font-size: $font-size-s;
    color: $white;
  }
}

.stripe-payment {
  text-align: center;
  margin: $spacing-xs 0 0 0;
  mat-icon {
    width: 100px;
    height: 25px;
  }
}

.Cart__NewCard {
  &--add, &--used {
    margin-bottom: $spacing-s;
    font-size: $font-size-s;
    color: $walla-main;
    cursor: pointer;
  }
}
