<h1 i18n>Extra features</h1>
<div class="clean-cart" [hidden]="!cart?.total">
  <a (click)="clean()">
    <span i18n>Delete list</span>
  </a>
</div>
<div class="cart-wrapper" [ngClass]="{'has-financial-card': hasFinancialCard}">
  <div class="scroll-panel">
    <ul *ngIf="cart" class="items-list">
      <li *ngFor="let type of types" [hidden]="!cart[type].cartItems.length" [ngClass]="type">
        <div class="type-total cart-box" [ngClass]="{collapsed: cart[type].collapsed}"
             (click)="cart[type].collapsed = !cart[type].collapsed">
          <mat-icon class="wing-icon" svgIcon="wing-{{type}}"></mat-icon>
          <div class="type">
            <span [ngSwitch]="type">
              <ng-container *ngSwitchCase="'citybump'" i18n>City bump</ng-container>
              <ng-container *ngSwitchCase="'countrybump'" i18n>Country bump</ng-container>
            </span>
            <strong>x {{cart[type].cartItems.length}}</strong><br />
            <span class="price">{{cart[type].total | customCurrency}}</span>
          </div>
          <mat-icon class="arrow-icon" svgIcon="arrow-right"></mat-icon>
        </div>
        <ul [hidden]="cart[type].collapsed">
          <li *ngFor="let cartItem of cart[type].cartItems; let i = index" class="cart-item">
            <mat-icon svgIcon="remove" class="close-icon" (click)="remove(cartItem.pack, i)"></mat-icon>
            <div class="cart-box">
              <div class="quantity">{{cartItem.pack.quantity}}</div>
              <div class="type">
                <span [ngSwitch]="type">
                  <ng-container *ngSwitchCase="'citybump'" i18n>City</ng-container>
                  <ng-container *ngSwitchCase="'countrybump'" i18n>Country</ng-container>
                </span>
                x {{cartItem.pack.quantity}} <span i18n>days</span>
              </div>
              <div class="price">{{cartItem.pack.price | customCurrency:cartItem.pack.currency}}</div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="total">
  <span class="pull-left" i18n>Total</span>
  <span class="pull-right price">{{cart?.total | customCurrency}}</span>
</div>
<tsl-card-selection [hidden]="isStripe" [(ngModel)]="cardType" name="card-type" (hasCard)="hasCard($event)"
></tsl-card-selection>
<tsl-stripe-card-selection *ngIf="isStripe && isStripeCard && savedCard" (onSelectExistingCard)="setSavedCard($event)"
                           (hasStripeCard)="hasStripeCard($event)"
></tsl-stripe-card-selection>
<div class="Cart__NewCard--add" (click)="addNewCard()" *ngIf="isStripe && savedCard" i18n>+ Add another credit card</div>
<div class="Cart__NewCard--used" (click)="removeNewCard()" *ngIf="isStripe && showCard && isStripeCard" i18n>Use saved card</div>
<tsl-stripe-card-element *ngIf="isStripe && showCard" [type]="'cart'" [cart]="cart" (stripeCardToken)="checkout($event)"
                         (stripeCard)="setCardInfo($event)" [loading]="loading"
></tsl-stripe-card-element>
<tsl-button [disabled]="(!cart?.total || loading) || (isStripe && !selectedCard)"
            [hidden]="isStripe && !savedCard"
            *ngIf="!billingInfoFormEnabled"
            [loading]="loading"
            (click)="checkout()"
            id="qa-checkout-pro-buy"
            i18n>Continue to Checkout</tsl-button>
<tsl-button [disabled]="!cart?.total || loading || !billingInfoForm?.valid || (isStripe && !selectedCard)"
            [hidden]="isStripe && !savedCard"
            *ngIf="billingInfoFormEnabled"
            [loading]="loading"
            (click)="saveAndCheckout()"
            id="qa-checkout-pro-save-buy"
            i18n>Continue to Checkout</tsl-button>
<div class="secure-payment">
  <mat-icon svgIcon="secure-card"></mat-icon>
  <span i18n>Secure payment through Sabadell</span>
</div>
<tsl-sabadell [submit]="sabadellSubmit"></tsl-sabadell>
