@import "../../../../style/_common.scss";

.header {
  background: $corporate url(/assets/images/work-in-progress.svg) no-repeat center;
  height: 192px;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  .modal-close {
    top: $spacing;
    right: $spacing;
    @include square(13px);
    md-icon {
      @include square(13px);
      line-height: unset;
    }
  }
}

.modal-body {
  text-align: center;
  padding: 40px 70px;
  h1 {
    font-weight: bold;
    font-size: $font-size-L;
    text-transform: uppercase;
  }
  p {
    font-size: $font-size;
    color: $grey-300;
  }
  .btn-primary {
    margin-top: $spacing-L;
  }
}
