@import "~style/common";

.profile-pic {
  h2 {
    font-size: $font-size;
    font-weight: normal;
    color: $grey-900;
  }
  p {
    font-size: $font-size-S;
    line-height: 1.29;
    color: $grey-300;
    margin-bottom: 0;
  }
  .col-4 {
    display: flex;
    align-items: center;
  }
  tsl-user-avatar {
    margin-right: $spacing-ml;
  }
  .btn-upload {
    background-color: $grey-50;
    border: solid 1px $grey-100;
    color: $grey-600;
    font-size: $font-size-S;
    padding: $spacing-ms $spacing-ml;
    margin-left: 43px;
    cursor: pointer;
    border-radius: $button-border-radius;
    &:hover:not(.disabled) {
      background-color: $grey-100;
    }
    input {
      display: none;
    }
    .spinner {
      @include square(15px);
      margin-right: $spacing-s;
      vertical-align: bottom;
    }
  }
}
