<div class="row mb-2 mb-md-4">
  <div class="col-12 col-md-3">
    <h3 i18n>Profile images</h3>
  </div>
</div>
<div class="row profile-pic form-group">
  <div class="col-12 col-md-3 text-md-right">
    <label i18n>Main image</label>
  </div>
  <div class="col-12 col-md-6 offset-md-1 d-flex">
    <tsl-user-avatar [user]="user" [imageUrl]="user?.image?.urls_by_size.medium" size="80"></tsl-user-avatar>
    <div class="upload-button">
      <label class="btn btn-upload"
        [ngClass]="{disabled: isLoading}">
        <input type="file" tslFileSelect imageType='avatar' (uploadOutput)="onUploadOutput($event)"
         [options]="options"
          [disabled]="isLoading" />
        <span class="loader" *ngIf="isLoading">
          <tsl-svg-icon src="/assets/icons/spinner.svg" class="spinner"></tsl-svg-icon>
        </span>
        <span i18n *ngIf="user?.image">Update picture</span>
        <span i18n *ngIf="!user?.image">Upload picture</span>
      </label>
      <div>
        <p i18n>JPG format and a minimum size of 400 x 400px are accepted.</p>
      </div>
    </div>
  </div>
</div>