@import "~style/common";

.content-col {
  background: url(/assets/images/urgent-background.svg) no-repeat 90px 47px;
  background-size: 130px;
  padding: $spacing-40 $spacing-40 $spacing-M 260px;
  p {
    margin: 0 auto $spacing-3M auto;
    &.credit-info {
      margin-bottom: 0;
    }
  }
}

.share {
  text-align: center;
  font-size: $font-size;
  color: $grey-250;
  .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: $spacing;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: $grey-50;
      @include square(34px);
      margin: 6px;
      cursor: pointer;
      mat-icon {
        @include square(18px);
      }
      &:hover {
        background-color: $color-social-background;
        mat-icon /deep/ path {
          fill: $color-social-fill;
        }
      }
    }
  }

}
