<div class="header">
  <div class="modal-close light" (click)="activeModal.close()">
    <mat-icon svgIcon="cross"></mat-icon>
  </div>
  <div *ngIf="code === '200'">
    <h1 i18n>Congratulations</h1>
    <p i18n>Your item has been uploaded and it's marked as urgent.</p>
  </div>
  <div *ngIf="code === '101'">
    <h1 class="fail" i18n>Something happened...</h1>
    <p i18n>Your item has not been marked as urgent because something went wrong with your credit card.<br />Please check and try again.</p>
  </div>
  <div *ngIf="code === '102'">
    <h1 class="fail" i18n>Hmmm…</h1>
    <p i18n>Your credit card seems suspicious. ¿Why not trying with another account?</p>
  </div>
  <div *ngIf="code === '191'">
    <h1 class="fail" i18n>There has been a mistake</h1>
    <p i18n>Your credit card has an invalid expiration date. Please check and try again.</p>
  </div>
  <div *ngIf="code === '909'">
    <h1 class="fail" i18n>TPV... what?</h1>
    <p i18n>There has been an unexpected error in the paying system. Why not trying again later?</p>
  </div>
  <div *ngIf="code === '-1'">
    <h1 class="fail" i18n>Oops!</h1>
    <p i18n>We are trying to figure out what happened. Try again later.</p>
  </div>
</div>
<div class="modal-body">
  <div class="urgent-background"></div>
  <p i18n>Share it with your friends:</p>
  <div class="social-icons">
    <a (click)="facebookShare()"><mat-icon svgIcon="facebook"></mat-icon></a>
    <a (click)="twitterShare()"><mat-icon svgIcon="twitter"></mat-icon></a>
  </div>
</div>

