@import "~style/common";

.content-col {
  background: url(/assets/images/urgent-background.svg) no-repeat 90px 47px;
  background-size: 130px;
  padding: $spacing-40 $spacing-40 $spacing-M 260px;
  p {
    margin: 0 auto $spacing-3M auto;
    &.credit-info {
      margin-bottom: 0;
    }
  }
}
