@import '~style/common';

.box-content {
  padding: $spacing-xxl;
  &__title {
    font-size: $font-size-l;
    font-weight: bold;
  }

  &__subtitle {
    color: $blue-grey-3;
    font-size: $font-size-m;
  }
}

.SubscriptionBenefits {
  &__content {
    padding: 0 (2 * $spacing-xxxl) $spacing-xxxl (2 * $spacing-xxxl);
    > :not(:last-child) {
      margin-bottom: 120px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .box-content {
    padding: $spacing-l $spacing-m $spacing-m;
  }
  .SubscriptionBenefits {
    &__content {
      padding: $spacing-l $spacing-m $spacing-m;
    }
  }
}

@include media-breakpoint-up(xl) {
  .SubscriptionBenefits {
    &__content {
      > :not(:last-child) {
        margin-bottom: 72px;
      }
    }
  }
}
