<ng-container *ngIf="!loading">
  <div class="box">
    <div class="box-content d-flex flex-column align-items-center text-center">
      <tsl-svg-icon src="/assets/icons/badge-pro-dark.svg" alt="badge-pro" class="mb-4"></tsl-svg-icon>
      <h4 class="mb-2 box-content__title" i18n="@@web_wallapop_pro">Wallapop PRO</h4>
      <p class="mb-2 box-content__subtitle" i18n="@@web_subscription_benefits_subtitle">Want to boost your online business? Become a PRO!</p>
    </div>
    <div class="SubscriptionBenefits__content">
      <div *ngFor="let benefit of benefits; let i = index">
        <tsl-subscription-benefit [img]="benefit.iconPath" [title]="benefit.title" [description]="benefit.description" [leftAligment]="i % 2">
        </tsl-subscription-benefit>
      </div>
    </div>
  </div>
</ng-container>
<div class="box">
  <div class="box-content d-flex flex-column align-items-center text-center">
    <tsl-svg-icon src="/assets/icons/badge-pro-dark.svg" alt="badge-pro" class="mb-4"></tsl-svg-icon>
    <h4 class="mb-2 box-content__title" i18n="@@web_subscription_benefits_footer_title">Do you have any questions?</h4>
    <p class="mb-2 box-content__subtitle" i18n="@@web_subscription_benefits_footer_subtitle">Find answers <a [href]="faqUrl" target="_blank">here</a>.</p>
  </div>
</div>  
