@import '~style/common';

$sold-height: 38px;

.sold {
  display: flex;
  align-items: center;
  background-color: $white;
  border-radius: 100px;
  color: $magenta-main;
  font-size: $font-size-s;
  height: 38px;
  text-align: center;
  padding: 0 $spacing-ml;
  tsl-svg-icon {
    width: 21px;
    margin-right: $spacing-s;
  }
}
