@import "~style/common";

$sold-height: 38px;

.sold {
  background-color: $white;
  border-radius: 100px;
  color: $sold-bg;
  font-size: $font-size-S;
  height: $sold-height;
  line-height: $sold-height;
  text-align: center;
  padding: 0 $spacing-ml;
  mat-icon {
    vertical-align: middle;
    width: 21px;
    margin-right: $spacing-s;
  }
}
