<div class="page-content">
  <div class="container">   
    <tsl-header>
      <div class="col">
        <div class="header-row">
          <h1 class="header-title" i18n="@@web_delivery_info_title">Wallapop pro</h1>
        </div>
        <div class="header-row">
          <h4 class="header-subtitle" i18n="@@web_delivery_info_subtitle">Here you will find information about your subscriptions.</h4>
        </div>
      </div>
    </tsl-header>
    <div class="row mb-3">
      <div class="col-12 col-md-9">
        <nav class="nav filters-nav d-flex d-md-inline-block">
          <a class="nav-link" [routerLink]="['subscriptions']" routerLinkActive="active"
            *ngxPermissionsExcept="[PERMISSIONS.professional]" (click)="trackClickSubscriptionTab()">{{getSubscriptionTabName()}}</a>
          <a class="nav-link" [routerLink]="['subscription-pro']" routerLinkActive="active"
            *ngxPermissionsOnly="[PERMISSIONS.professional]" i18n="@@web_wallapop_pro">Wallapop PRO</a>
          <a class="nav-link d-none d-md-inline-block" [routerLink]="['billing']" routerLinkActive="active" i18n="@@web_profile_pages_320">Billing
              information</a>
          <a class="nav-link d-inline-block d-md-none" [routerLink]="['billing']" routerLinkActive="active"
              i18n="@@web_profile_pages_321">Billing</a>
          </nav>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>