@import '~style/common';

#alert {
  $alert-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $negative-main;
  color: $white;
  height: $alert-height;
  font-size: $font-size-m;
  &.connected {
    background: $positive-main;
  }
}
