@import '~style/common';

$margin: $spacing-xxs;

div {
  @include square-avatar($item-avatar-size);
  margin: $margin;
  display: flex;
  position: relative;
  &.small {
    @include square-avatar($item-avatar-size-small);
  }
  &.medium {
    @include square-avatar($item-avatar-size-medium);
  }
  &.big {
    @include square-avatar($item-avatar-size-big);
  }
  &.bigger {
    @include square-avatar($item-avatar-size-bigger);
  }
  &.profile {
    @include square-avatar(calc(#{$item-avatar-size-profile} - #{$margin}));
  }
  &.full {
    span {
      position: absolute;
      top: 12px;
      left: 12px;
      &.overlay {
        background: none;
      }
    }
  }
}

.overlay {
  background-color: $blue-grey-1;
  position: absolute;
  @include square-avatar(100%);
  opacity: 0.5;
  z-index: 1;
  .small & {
    display: none;
  }
}
