<a class="sidebar-section profile-item" id="qa-sidebar-profile" [routerLink]="['/profile']" routerLinkActive="active"
  [ngClass]="{active: isProfile}">
  <div class="sidebar-section-circle">
    <tsl-user-avatar class="topbar-avatar" [size]="50" [user]="user" [imageUrl]="user?.image?.urls_by_size.medium">
    </tsl-user-avatar>
  </div>
  <h2 i18n="@@web_components_sidebar_611">Profile</h2>
</a>

<a *ngxPermissionsOnly="PERMISSIONS.professional" id="qa-sidebar-dashboard" class="sidebar-section" [routerLink]="['/pro/dashboard']" routerLinkActive="active">
  <div class="sidebar-section-circle">
    <tsl-svg-icon src="/assets/icons/navigation_dashboard.svg"></tsl-svg-icon>
  </div>
  <h2 i18n="@@web_components_sidebar_447">Dashboard</h2>
</a>

<a class="sidebar-section" id="qa-sidebar-catalog" [routerLink]="['/catalog/list']" (click)="trackClickToCatalog()" [ngClass]="{active: isProducts}">
  <div class="sidebar-section-circle">
    <tsl-svg-icon src="/assets/icons/navigation_catalog.svg"></tsl-svg-icon>
  </div>
  <h2 *ngxPermissionsExcept="PERMISSIONS.professional" i18n="@@web_components_sidebar_612">Products</h2>
  <h2 *ngxPermissionsOnly="PERMISSIONS.professional" i18n="@@web_components_sidebar_448">Catalog</h2>
</a>

<a class="sidebar-section" id="qa-sidebar-messages" [routerLink]="['/chat']" routerLinkActive="active">
  <div class="chat-notification-pending" *ngIf="(unreadChatMessagesService.totalUnreadMessages$ | async) > 0"></div>
  <div class="sidebar-section-circle">
    <tsl-svg-icon src="/assets/icons/navigation_messages.svg"></tsl-svg-icon>
  </div>
  <h2 i18n="@@web_components_sidebar_679">Messages</h2>
</a>

<a *ngxPermissionsExcept="PERMISSIONS.professional" id="qa-sidebar-favorites" class="sidebar-section" [routerLink]="['/favorites']" routerLinkActive="active">
  <div class="sidebar-section-circle">
    <tsl-svg-icon src="/assets/icons/navigation_favorites.svg"></tsl-svg-icon>
  </div>
  <h2 i18n="@@web_components_sidebar_680">Favorites</h2>
</a>

<a *ngxPermissionsExcept="PERMISSIONS.professional" id="qa-sidebar-reviews" class="sidebar-section" [routerLink]="['/reviews']" routerLinkActive="active">
  <div class="sidebar-section-circle">
    <tsl-svg-icon src="/assets/icons/navigation_reviews.svg"></tsl-svg-icon>
  </div>
  <h2 i18n="@@web_components_sidebar_449">Reviews</h2>
</a>

<a *ngxPermissionsOnly="PERMISSIONS.professional" id="qa-sidebar-phones" class="sidebar-section" [routerLink]="['/pro/calls']" routerLinkActive="active">
  <div class="sidebar-section-circle">
    <tsl-svg-icon src="/assets/icons/navigation_phones.svg" class="svg-icon-size"></tsl-svg-icon>
  </div>
  <h2 i18n="@@web_components_sidebar_613">Phones</h2>
</a>

<a *ngxPermissionsOnly="PERMISSIONS.professional" id="qa-sidebar-help" class="sidebar-section" [routerLink]="['/pro/help']" routerLinkActive="active">
  <div class="sidebar-section-circle">
    <tsl-svg-icon src="/assets/icons/navigation_help.svg"></tsl-svg-icon>
  </div>
  <h2 i18n="@@web_components_sidebar_450">Help</h2>
</a>

<a *ngxPermissionsExcept="PERMISSIONS.professional" id="qa-sidebar-stats" class="sidebar-section" [routerLink]="['/stats']" routerLinkActive="active">
  <div class="sidebar-section-circle">
    <tsl-svg-icon src="/assets/icons/navigation_dashboard.svg"></tsl-svg-icon>
  </div>
  <h2 i18n="@@web_components_sidebar_614">Stats</h2>
</a>

<span *tslDeliveryDevelopment>
  <a *ngxPermissionsExcept="PERMISSIONS.professional" id="qa-sidebar-delivery" class="sidebar-section" [routerLink]="['/delivery']" routerLinkActive="active">
    <div class="sidebar-section-circle">
      <tsl-svg-icon src="/assets/icons/navigation_delivery.svg"></tsl-svg-icon>
    </div>
    <h2 i18n="@@web_sidebar_delivery">Delivery</h2>
  </a>
</span>

<a *ngxPermissionsOnly="PERMISSIONS.subscriptions" id="qa-sidebar-stats" class="sidebar-section" (click)="onSaveProSectionClick()" [routerLink]="['/pro']" routerLinkActive="active">
  <div class="chat-notification-pending" *ngIf="!userService.isClickedProSection()"></div>
  <div class="sidebar-section-circle">
    <tsl-svg-icon src="/assets/icons/navigation_pro.svg"></tsl-svg-icon>
  </div>
  <h2>{{proText}}</h2>
</a>