@import '~style/common';

:host {
  position: fixed;
  width: $sidebar-width;
  left: 0;
  top: $topbar-height;
  bottom: 0;
  background-color: $blue-grey-1;
  padding-top: $spacing-m;
  height: calc(100vh - #{$topbar-height});
  z-index: 99;
}

.chat-notification-pending {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 10px;
  height: 10px;
  background-color: $negative-main;
  border-radius: 100%;
  transform: translateX(100%);
}

$sidebar-section-circle-size: 50px;
$sidebar-section-circle-size-small: 32px;

.sidebar-section-circle {
  position: relative;
  margin: 0 auto $spacing-ms auto;
  width: $sidebar-section-circle-size;
  height: $sidebar-section-circle-size;
  background-color: rgba(lighten($blue-grey-1, 8%), 0.5);
  transition: width 0.75s, height 0.75s;
  .active & {
    background-color: $walla-main !important;
  }
  border-radius: 50%;
  .profile-item & {
    background-color: transparent !important;
  }
}

.sidebar-section {
  tsl-svg-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    @include square(34px);
    transition: 0.15s background-color ease;
    g g {
      transition: 0.15s fill ease;
    }
  }
  & ::ng-deep path {
    fill: rgba($white, 0.5);
  }
  &.active,
  &:hover {
    tsl-svg-icon {
      & ::ng-deep path {
        fill: $white;
      }
    }
  }
}

h2 {
  font-size: $font-size-xxs;
  font-weight: $font-weight-chunky;
  color: rgba($white, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 0;
  padding: 0 $spacing-ms;
  .active & {
    color: $white;
  }
}

.sidebar-section {
  position: relative;
  display: block;
  padding: $spacing-ms 0;
  text-align: center;
  &:focus,
  &:hover {
    text-decoration: none;
  }
  &:hover {
    .sidebar-section-circle {
      background-color: lighten($blue-grey-1, 8%);
    }
    h2 {
      color: $white;
      transition: 0.15s color ease;
    }
  }
  &.profile-item {
    tsl-user-avatar {
      opacity: 0.5;
      transition: 0.15s opacity ease;
    }
    &:hover,
    &.active {
      tsl-user-avatar {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-height: 900px) {
  .sidebar-section-circle {
    width: $sidebar-section-circle-size-small;
    height: $sidebar-section-circle-size-small;
    margin: 0 auto $spacing-s auto;
  }
  .sidebar-section {
    tsl-svg-icon {
      @include square(24px);
      &::ng-deep svg {
        width: 100%;
        height: 100%;
      }
    }
    &.profile-item {
      tsl-user-avatar {
        ::ng-deep .avatar-rounded {
          transition: width 0.75s, height 0.75s;
          width: $sidebar-section-circle-size-small;
          height: $sidebar-section-circle-size-small;
        }
      }
    }
  }
}

.svg-icon-size {
  ::ng-deep svg {
    height: 100%;
    width: 100%;
  }
}
