@import '~style/common';

$collapse-btn-dimension: 24px;

:host {
  position: sticky;
  top: $topbar-height;
  left: 0;
  bottom: 0;
  height: calc(100vh - #{$topbar-height});
  z-index: 1;
}

.Sidebar {
  width: $sidebar-width;
  height: 100%;
  background-color: $white;
  transition: width 150ms ease-in-out;
  border-right: 1px solid transparentize($blue-grey-4, 0.5);

  &__collapse {
    position: absolute;
    opacity: 0;
    right: -$collapse-btn-dimension * 0.5;
    top: 112px;
    border-radius: 50%;
    background-color: $blue-grey-5;
    appearance: none;
    border: 0;
    box-shadow: 0px 4px 4px rgba($blue-grey-1, 0.15);
    z-index: 1;
    transition: 150ms ease-in-out;
    @include square($collapse-btn-dimension);

    tsl-svg-icon {
      margin-left: -1px;
    }

    &:hover {
      background-color: $blue-grey-6;
    }
    &:active {
      background-color: $blue-grey-4;
    }
  }

  &__entry {
    position: relative;
    margin: 0 12px 4px;
    min-height: 43px;
    &:hover {
      background-color: $blue-grey-5;
      border-radius: 8px;
      text-decoration: none;
    }

    &:active {
      background-color: $blue-grey-4;
    }

    tsl-svg-icon {
      padding-left: 8px;
    }

    &.active {
      span {
        font-weight: bold;
        color: $blue-grey-1;
      }
      tsl-svg-icon {
        ::ng-deep path {
          fill: $blue-grey-1;
        }
      }
    }
  }

  &__label {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $font-size-m;
    white-space: nowrap;
    color: $blue-grey-1;
    padding-left: 12px;
  }

  &--collapsed {
    width: $sidebar-collapsed-width;
    span {
      display: none;
    }
  }

  &:hover {
    .Sidebar__collapse {
      opacity: 1;
    }
  }
}

.chat-notification-pending {
  position: absolute;
  top: 9px;
  left: 25px;
  width: 10px;
  height: 10px;
  border: 2px solid $white;
  background-color: $negative-main;
  border-radius: 100%;
}
