@import '~style/common';

$collapse-btn-dimension: 24px;

:host {
  position: sticky;
  top: $topbar-height;
  left: 0;
  bottom: 0;
  height: calc(100vh - #{$topbar-height});
  z-index: 1;
}

.Sidebar {
  height: 100%;
  width: $sidebar-width;
  background-color: $white;
  border-right: 1px solid transparentize($blue-grey-4, 0.5);

  &__collapse {
    position: absolute;
    opacity: 0;
    right: -$collapse-btn-dimension * 0.5;
    top: 72px;
    border-radius: 50%;
    background-color: $blue-grey-5;
    appearance: none;
    border: 0;
    box-shadow: 0px 4px 4px rgba($blue-grey-1, 0.15);
    z-index: 1;
    transition: 150ms ease-in-out;
    @include square($collapse-btn-dimension);

    &--visible {
      opacity: 1;
    }

    &:hover {
      background-color: $blue-grey-6;
    }

    &:active {
      box-shadow: none;
      background-color: $blue-grey-4;
    }
  }

  &__entry {
    position: relative;
    min-height: 48px;

    tsl-user-avatar,
    tsl-svg-icon {
      padding: 0 $spacer * 0.5;
    }

    &.active,
    &:hover {
      background-color: $blue-grey-5;
      border-radius: 8px;
      text-decoration: none;
    }

    &:active {
      background-color: $blue-grey-4;
      transition: background-color 100ms ease-in;
    }

    &.active .Sidebar__label {
      font-weight: bold;
      color: $blue-grey-1;
    }
  }

  &__label {
    opacity: 1;
    overflow: hidden;
    font-size: $font-size-m;
    white-space: nowrap;
    color: $blue-grey-1;
    transition: opacity 100ms linear;
  }

  &__notification {
    position: absolute;
    top: 9px;
    left: 28px;
    width: 10px;
    height: 10px;
    border: 2px solid $white;
    background-color: $negative-main;
    border-radius: 100%;
  }

  &--collapsed {
    width: $sidebar-collapsed-width;
    transition: width 150ms ease-in-out;
    .Sidebar__label {
      opacity: 0;
    }
    .Sidebar__collapse tsl-svg-icon {
      transition: transform 150ms ease;
      transform: rotate(180deg);
    }
  }

  &:hover .Sidebar__collapse {
    opacity: 1;
  }
}
