@import "../../../../style/_common.scss";

tsl-card {
  cursor: pointer;

  & /deep/ tsl-card-image {
    display: block;
    padding: $spacing-XXS;
  }

  & /deep/ tsl-card-content {

    padding-top: $spacing-S;

    span{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      display:inline-block;
    }
  }

  & /deep/ tsl-card-footer {
    position: relative;

    .cart-footer-icon {
      position: absolute;
      g {
        stroke: $color-favorite-icon-stroke;
      }

      &.active g{
        fill: $color-favorite-icon-fill;
      }
    }

    .cart-footer-text {
      text-align: center;
    }

    &:hover, &:focus {
      cursor: pointer;
      background: rgba($grey-100, .2);
    }
  }
}
