<div class="modal-body">
  <div class="modal-close" (click)="activeModal.dismiss()">
    <md-icon svgIcon="cross"></md-icon>
  </div>
  <button class="btn btn-primary" (click)="activeModal.close()">
    <span i18n>Submit Ad</span>
  </button>
  <p class="price">{{itemPreview.sale_price | currency:itemPreview.currency_code:true}}</p>
  <h1>{{itemPreview.title}}</h1>
  <p class="description">{{itemPreview.description}}</p>
  <div class="extras">
    <div *ngIf="itemPreview.sale_conditions.fix_price">
      <md-icon svgIcon="firm-price"></md-icon>
      <span i18n>Fixed Price</span>
    </div>
    <div *ngIf="itemPreview.sale_conditions.shipping_allowed">
      <md-icon svgIcon="shipping-available"></md-icon>
      <span i18n>Shipping allowed</span>
    </div>
    <div *ngIf="itemPreview.sale_conditions.exchange_allowed">
      <md-icon svgIcon="accept-trades"></md-icon>
      <span i18n>Accept trades</span>
    </div>
  </div>
</div>
