<div class="modal-body">
  <div class="modal-close" (click)="activeModal.dismiss()">
    <md-icon svgIcon="cross"></md-icon>
  </div>
  <button class="btn btn-primary" (click)="activeModal.close()">
    <span i18n>Post Ad</span>
  </button>
  <ngb-carousel interval="0">
    <ng-template ngbSlide *ngFor="let image of itemPreview.images">
      <img [src]="image.preview" />
    </ng-template>
  </ngb-carousel>
  <p class="price">{{itemPreview.sale_price | customCurrency:itemPreview.currency_code}}</p>
  <h1>{{itemPreview.title}}</h1>
  <p class="car-info" *ngIf="itemPreview.model">
    {{itemPreview.model}} {{itemPreview.brand}} - {{itemPreview.year}}
    <span *ngIf="itemPreview.km"> - {{itemPreview.km | number}} km</span>
  </p>
  <p class="description" [ngClass]="{last: !hasExtras && !hasCarExtras}">
    {{itemPreview.description || itemPreview.storytelling}}
  </p>
  <div class="extras car-extras" *ngIf="hasCarExtras" [ngClass]="{last: !hasExtras}">
    <div *ngIf="itemPreview.gearbox">
      <md-icon [svgIcon]="itemPreview.gearbox"></md-icon>
      <span [ngSwitch]="itemPreview.gearbox">
        <ng-container *ngSwitchCase="'manual'" i18n>Manual</ng-container>
        <ng-container *ngSwitchCase="'automatic'" i18n>Automatic</ng-container>
      </span>
    </div>
    <div *ngIf="itemPreview.body_type && bodyType">
      <md-icon [svgIcon]="'car-type-' + itemPreview.body_type"></md-icon>
      <span>{{bodyType}}</span>
    </div>
    <div *ngIf="itemPreview.num_seats">
      <md-icon svgIcon="cm-seats"></md-icon>
      <span>{{itemPreview.num_seats}}</span>
    </div>
    <div *ngIf="itemPreview.engine">
      <md-icon [svgIcon]="itemPreview.engine"></md-icon>
      <span [ngSwitch]="itemPreview.engine">
        <ng-container *ngSwitchCase="'gasoline'" i18n>Petrol</ng-container>
        <ng-container *ngSwitchCase="'gasoil'" i18n>Diesel</ng-container>
        <ng-container *ngSwitchCase="'electric-hybrid'" i18n>Electric</ng-container>
        <ng-container *ngSwitchCase="'others'" i18n>Other...</ng-container>
      </span>
    </div>
  </div>
  <div class="extras" *ngIf="hasExtras">
    <div *ngIf="itemPreview.sale_conditions.fix_price">
      <md-icon svgIcon="firm-price"></md-icon>
      <span i18n>Firm Price</span>
    </div>
    <div *ngIf="itemPreview.sale_conditions.shipping_allowed">
      <md-icon svgIcon="shipping-available"></md-icon>
      <span i18n>Shipping available</span>
    </div>
    <div *ngIf="itemPreview.sale_conditions.exchange_allowed">
      <md-icon svgIcon="accept-trades"></md-icon>
      <span i18n>Accept trades</span>
    </div>
  </div>
</div>
