<div class="review-item row">
  <div class="images-container">
    <div class="review-image">
      <ng-container *ngIf="review.item?.image; else categoryIcon">
        <a
          [href]="review.item?.webSlug | itemDetailRoute"
          target="_blank"
          tslsanitizedBackground="{{ review.item?.image.small }}"
          [fallback]="fallback" class="image"
        ></a>
      </ng-container>
      <ng-template #categoryIcon>
        <ng-container *ngIf="category?.icon_id as categoryIcon; else defaultImage">
          <tsl-svg-icon src="/assets/icons/categories/normal/{{categoryIcon}}.svg"></tsl-svg-icon>
        </ng-container>
      </ng-template>
      <ng-template #defaultImage>
        <img src="{{ fallback }}" class="image" />
      </ng-template>
    </div>
    <a [routerLink]="reviewUser?.webSlug | userProfileRoute:reviewUser?.id" class="avatar">
      <tsl-user-avatar *ngIf="reviewUser" [user]="reviewUser" size="40"></tsl-user-avatar>
    </a>
  </div>
  <div class="info">
    <div class="review-type">
      <span *ngIf="review.isSold">{{ reviewItemCopies.soldCopy }}:</span>
      <span *ngIf="review.isBought">{{ reviewItemCopies.boughtCopy }}:</span>
    </div>
    <div class="review-title">
      <a *ngIf="review.item?.id" [href]="review.item?.webSlug | itemDetailRoute" target="_blank"> {{ review.item.title }} </a>
      <span *ngIf="!review.item?.id && category?.name as categoryName">
        {{ categoryName }}
      </span>
      <span *ngIf="!review.item?.id && !category?.name" i18n="@@web_wallapop_item">A Wallapop item</span>
    </div>
    <tsl-stars class="review-rating" [stars]="review.scoring" [normalized]="false"></tsl-stars>
    <p class="review-comment">{{ reviewComment }}</p>
    <div class="review-credits">
      <span i18n="@@web_review_item_1">Posted by</span>
      <span *ngIf="reviewUser">
        <a [routerLink]="reviewUser.webSlug | userProfileRoute:reviewUser.id" class="review-microname">
          {{ reviewUser.microName }}
        </a>
      </span>
      <span *ngIf="!reviewUser" i18n="@@web_wallapop_user">a Wallapop user</span>
      <span i18n="@@web_review_item_2">on</span><span> {{ review.date | date:'longDate' }}</span>
    </div>
    <div *ngIf="review.canTranslate" class="actions">
      <tsl-translate-button [isTranslated]="isTranslated" (click)="toggleTranslation()"></tsl-translate-button>
    </div>
  </div>
</div>
