<div class="modal-body AcceptScreen">
  <div *ngIf="acceptScreenProperties$ | async as properties">
    <tsl-product-card [buyer]="properties.buyer" [item]="properties.item"></tsl-product-card>
    <tsl-carriers [carriers]="properties.carriers"></tsl-carriers>
    <tsl-delivery-method-selector [deliveryMethods]="properties.carriers"></tsl-delivery-method-selector>
    <div class="AcceptScreen__sellerAddressTitle d-flex pt-4 pb-2">
      <span i18n="@@accept_view_seller_sender_details_title">Your data</span>
    </div>
    <div class="AcceptScreen__sellerAddressWrapper d-flex py-2 align-items-center justify-content-between">
      <div class="AcceptScreen__sellerAddressInfoWrapper d-flex text-truncate">
        <tsl-user-avatar [imageUrl]="properties.seller.imageUrl" [size]="48"></tsl-user-avatar>

        <div class="AcceptScreen__sellerAddressInfo d-flex flex-column text-truncate pl-2">
          <span class="AcceptScreen__sellerAddressHeader text-truncate" i18n="@@accept_view_seller_sender_details_label">Sender</span>
          <span class="AcceptScreen__sellerAddressText text-truncate">{{ properties.seller.fullAddress }}</span>
        </div>
      </div>
      <div class="AcceptScreen__sellerAddressEdit d-flex">
        <span i18n="@@accept_view_seller_sender_details_edit_button">Edit</span>
      </div>
    </div>
  </div>
</div>
