@import '~style/common';

$right-gutter: 35px;

#description {
  min-height: 90px;
}

.switch {
  text-align: right;
  padding-right: $right-gutter;
  margin: 0;
}

.center {
  margin-top: 12px !important;
}

.form-control[readonly] {
  background: $white;
  border: 1px solid $blue-grey-5;
}

.pro-section {
  margin-bottom: $spacing-xl;
  &.not-pro {
    label {
      color: $blue-grey-4;
    }
  }
}

.tracking-phone-info {
  font-size: $font-size-s;
  color: $blue-grey-3;
}

.loading-center {
  display: block;
  margin: 0 auto;
}

.ProfileInfo__first-name {
  margin-right: $spacing-m;
}

input.ng-dirty.ng-invalid {
  border: 1px solid $negative-main !important;
}
