@import "../../../style/common";

:host {
  display: block;
  height: 60px;
  background-color: $corporate;
}
.topbar-dropdown-circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: red;
}
