<div class="topbar-logo-icon">
  <img src="/assets/images/logo-icon@2x.png" alt="">
</div>
<img class="topbar-logo" src="/assets/images/logo.png" alt="">

<div class="topbar-menu">
  <div class="topbar-sections">
    <a href="https://es.wallapop.com" i18n>Home</a>
    <a [routerLink]="['/chat']" class="active" i18n>Messages</a>
  </div>
  <span class="topbar-user-name">{{user?.microName}}</span>
  <div class="topbar-menu-dropdown"  ngbDropdown >
    <img class="topbar-avatar"
         *ngIf="user"
         ngbDropdownToggle
         [src]="user?.image.urls_by_size.small"
         [alt]="user?.microName">
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" (click)="logout()" i18n>Logout</a>
    </div>
  </div>
</div>
