<div class="topbar-logo-icon">
  <a [href]="homeUrl">
    <i class="ic-logo-web"></i>
  </a>
</div>
<tsl-suggester (newSearchSubmit)="onSearchSubmit($event)" (newKeyword)="onKeywordUpdate($event)"
  (newSearch)="onSearchUpdate($event)"></tsl-suggester>
<div class="main-header-login d-none d-lg-flex" [class.professional]="isProfessional">
  <a [hidden]="!currencyName" *ngxPermissionsExcept="['isProfessional']" tslTrackEvent="MYZONE_NAVBAR_WALLACOINS"
    class="main-header-credits menu-link" [routerLink]="['/wallacoins']" [routerLinkActive]="['active']">
    <mat-icon svgIcon="wallacoins-nav" class="topbar-icon"></mat-icon>
    <span *ngIf="currencyName === 'wallacoins'"><b>{{wallacoins | number}}</b> {{currencyName}}</span>
    <span *ngIf="currencyName !== 'wallacoins'"><b>{{wallacoins | customCurrency}}</b> <span i18n>credit</span></span>
    <div class="horizontal-line"></div>
  </a>
  <a class="main-header-chat menu-link" [routerLink]="['/chat']" [routerLinkActive]="['active']">
    <div class="news-badge" *ngIf="(messageService.totalUnreadMessages$ | async) > 0"></div>
    <mat-icon svgIcon="messages" class="topbar-icon"></mat-icon>
    <span i18n>Messages</span>
    <div class="horizontal-line"></div>
  </a>
  <a class="main-header-my-zone menu-link" [routerLink]="['/catalog/list']" tslTrackEvent="MYZONE_LERDI_BEHAVIOR"
    [class.active]="isMyZone">
    <tsl-user-avatar class="topbar-avatar" [size]="32" [user]="user" *ngIf="user"
      [imageUrl]="user?.image?.urls_by_size.medium"></tsl-user-avatar>
    <span *ngxPermissionsExcept="['isProfessional']" i18n>My Zone</span>
    <span *ngxPermissionsOnly="['isProfessional']" i18n>My Pro Zone</span>
    <div class="horizontal-line"></div>
  </a>
  <tsl-button [routerLink]="['/catalog/upload']" tslTrackEvent="MYZONE_UPLOAD">
    <mat-icon svgIcon="upload"></mat-icon>
    <span *ngxPermissionsExcept="['isProfessional']" i18n>List a product</span>
    <span *ngxPermissionsOnly="['isProfessional']" i18n>List a car</span>
  </tsl-button>
</div>