<div class="page-content" #scrollPanel>
  <div class="container upload-page">
    <a class="upload-close-icon" [routerLink]="['/catalog/list']"><mat-icon svgIcon="cross"></mat-icon></a>
    <tsl-upload-car *ngIf="item.categoryId === 100"
                    [item]="item"
                    (onValidationError)="onValidationError()"
                    (onFormChanged)="onFormChanged($event)">
    </tsl-upload-car>
    <tsl-upload-product *ngIf="item.categoryId && item.categoryId !== 100"
                        [item]="item"
                        (onValidationError)="onValidationError()"
                        (onFormChanged)="onFormChanged($event)">
    </tsl-upload-product>
  </div>
</div>
