@import '~style/common';

$star-width: 116px;
$reviews-width: 20px;

.UserBasicInfo {
  &__icon {
    height: fit-content;
  }

  &__container {
    min-width: calc(#{$star-width + $reviews-width});
  }

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__stars {
    width: fit-content;
    font-size: $font-size-s;
    color: $blue-grey-3;
  }
}
