@import "~style/common";

.item {
  padding: $spacing-s 0 $spacing-s $spacing-xl;
  border-bottom: 1px solid $blue-grey-5;
  &:hover:not(.active) {
    background-color: $blue-grey-5;
    cursor: pointer;
  }
}

.col-item-title {
  display: flex;
  align-items: center;
  .price {
    font-weight: $font-weight-chunky;
    font-size: $font-size-l;
    width: 100px;
  }
}

.col-date {
  color: $blue-grey-3;
  font-size: $font-size-s;
}

*[class^='col-'] {
  align-items: center;
  display: flex;
}

.col-counters {
  justify-content: center;
  .counters {
    font-size: $font-size-xs;
    color: $blue-grey-1;
    display: flex;
    flex-basis: 3em;
    align-items: center;
    mat-icon {
      height: 17px;
      width: 19px;
      margin-right: $spacing-s;
    }
  }
}

.col-arrow {
  justify-content: space-around;
  mat-icon {
    width: 10px;
    transition: all .5s ease;
    .active & {
      transform: rotate(180deg);
      ::ng-deep g g {
        stroke: $walla-main;
      }
    }
  }
}

.stats-expanded {
  display: flex;
  justify-content: space-between;
  padding-right: $spacing-xl;
  .active & {
    padding-top: $spacing-xl;
    padding-bottom: $spacing-l;
  }
  .graphs-container {
    width: 770px;
    background-color: rgba($blue-grey-5, .5);
    padding: $spacing-ml;
    border-radius: 5px;
    .charts-box {
      background-color: $white;
      border-radius: $border-radius;
      padding-top: $spacing-s;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;
      .header {
        display: flex;
        justify-content: space-between;
        padding: $spacing-xl;
        padding-bottom: 0;
        h2 {
          font-size: $font-size-s;
          font-weight: $font-weight-chunky;
        }
        .legend {
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;
            li {
              display: inline;
              margin-left: $spacing-ml;
              font-size: $font-size-xs;
              color: $blue-grey-2;
              &:before {
                content: '';
                display: inline-block;
                @include square(10px);
                margin-right: $spacing-s;
              }
              &.views {
                &:before {
                  background: $yellow-soft;
                }
              }
              &.chats {
                &:before {
                  background: $orange-main;
                }
              }
              &.favorites {
                &:before {
                  background: $graph-favorites;
                }
              }
              &.featured {
                &:before {
                  background: $graph-featured;
                }
              }
            }
          }
        }
      }
      .charts {
        display: flex;
        justify-content: space-between;
        tsl-item-stats-graph {
          width:355px;
          height: 250px;
        }
        .no-data {
          width: 100%;
          margin-top: 95px;
          text-align: center;
          margin-bottom: 110px;
          color: $blue-grey-2;
        }
      }
    }
  }
  .graph-info {
    width: 327px;
    flex-direction: column;
    background: rgba(236, 239, 241, 0.5) url(/assets/images/destacado.svg) no-repeat center 40px;
    padding-top: 190px;
    &.reactivate {
      background-image: url(/assets/images/reactivate-image.svg);
      background-size: 120px;
    }
    h2 {
      font-size: $font-size-s;
      font-weight: $font-weight-chunky;
      text-align: center;
    }
    .note, .bump-note {
      color: $blue-grey-2;
      text-align: center;
      font-size: $font-size-s;
    }
    .bump-note {
      color: $walla-main;
      font-weight: $font-weight-chunky;
    }
    tsl-button {
      ::ng-deep {
        .btn {
          font-weight: $font-weight-chunky;
        }
      }
    }
  }
}
