<div class="item" [ngClass]="{'active': open}">
  <div class="row" (click)="changeExpandedState()">
    <div class="col-6 col-item-title">
      <a href="{{link}}" target="_blank" tslTrackEvent="PRODUCT_VIEWED" [params]="{product_id: item.id}" class="image"><tsl-item-avatar [item]="item" size="medium" fallbackLight="true"></tsl-item-avatar></a>
      <div class="price">{{item.salePrice | customCurrency}}</div>
      <div class="title">{{item.title}}</div>
    </div>
    <div class="col-2 col-date">
      <span>{{item.publishedDate | date:momentConfig}}</span>
    </div>
    <div class="col-1 col-counters">
      <div class="counters" ngbTooltip="Views" i18n-ngbTooltip placement="top">
        <mat-icon svgIcon="views"></mat-icon>
        <span>{{item.views || 0}}</span>
      </div>
    </div>
    <div class="col-1 col-counters">
      <div class="counters" ngbTooltip="Chats" i18n-ngbTooltip placement="top">
        <mat-icon svgIcon="ico-message"></mat-icon>
        <span>{{item.conversations || 0}}</span>
      </div>
    </div>
    <div class="col-1 col-counters">
      <div class="counters" ngbTooltip="Favorites" i18n-ngbTooltip placement="top">
        <mat-icon svgIcon="heart"></mat-icon>
        <span>{{item.favorites || 0}}</span>
      </div>
    </div>
    <div class="col-1 col-arrow">
      <mat-icon svgIcon="caret"></mat-icon>
    </div>
  </div>
  <div class="stats-expanded" [@collapse]="!open">
    <div class="graphs-container" *ngIf="statsData">
      <div class="charts-box">
        <div class="header">
          <h2 i18n>Weekly stats</h2>
          <div class="legend">
            <ul>
              <li class="views" i18n>Views</li>
              <li class="chats" i18n>Chats</li>
              <li class="favorites" i18n>Favorites</li>
              <li class="featured" i18n>Featured</li>
            </ul>
          </div>
        </div>
        <div class="charts">
          <tsl-item-stats-graph [item]="item" [statsData]="statsData" *ngIf="!noData"></tsl-item-stats-graph>
          <tsl-item-stats-graph [item]="item" [statsData]="statsData" *ngIf="!noData" type="favs"></tsl-item-stats-graph>
          <p class="no-data" *ngIf="noData" i18n>No data available for this product yet</p>
        </div>
      </div>
    </div>
    <div class="graphs-container graph-info" *ngIf="!item.featured && !item.flags.expired && !item.flags.onhold">
      <h2 i18n>Get your listing in shape</h2>
      <p class="note" i18n>Improve the stats of your listing. The more visits you get, the more you sell!</p>
      <tsl-button className="btn-primary btn-block" *ngIf="price" [routerLink]="['/catalog/checkout', {itemId: item.id}]" i18n>Feature it now from {{price | customCurrency}}</tsl-button>
    </div>
    <div class="graphs-container graph-info reactivate" *ngIf="item.flags.expired">
      <h2 i18n>Reactivate your product</h2>
      <p class="note" i18n>Reactivate your product to see your stats and so that other users can contact you.</p>
    </div>
    <div class="graphs-container graph-info reactivate" *ngIf="item.flags.onhold">
      <h2 i18n>Publish your product</h2>
      <p class="note" i18n>Publish your product to see your stats and so that other users can contact you.</p>
    </div>
    <div class="graphs-container graph-info" *ngIf="item.featured">
      <h2 i18n>This product is Featured</h2>
      <p class="note" i18n>You will get more views, chats and more interested people.</p>
      <p class="bump-note" i18n>Your feature ends on {{item.bumpExpiringDate | date:momentConfig}}</p>
    </div>
  </div>
</div>
