<div class="item" [ngClass]="{'active': open}">
  <div class="row" (click)="changeExpandedState()">
    <div class="col-6 col-item-title">
      <a href="{{link}}" target="_blank" tslTrackEvent="PRODUCT_VIEWED" [params]="{product_id: item.id}" class="image"><tsl-item-avatar [item]="item" size="medium" fallbackLight="true"></tsl-item-avatar></a>
      <div class="price">{{item.salePrice | customCurrency}}</div>
      <div class="title">{{item.title}}</div>
    </div>
    <div class="col-2 col-date">
      <span>{{item.publishedDate | amCalendar:momentConfig}}</span>
    </div>
    <div class="col-1 col-counters">
      <div class="counters" ngbTooltip="Views" i18n-ngbTooltip placement="top">
        <mat-icon svgIcon="views"></mat-icon>
        <span>{{item.views}}</span>
      </div>
    </div>
    <div class="col-1 col-counters">
      <div class="counters" ngbTooltip="Chats" i18n-ngbTooltip placement="top">
        <mat-icon svgIcon="ico-message"></mat-icon>
        <span>{{item.conversations}}</span>
      </div>
    </div>
    <div class="col-1 col-counters">
      <div class="counters" ngbTooltip="Favorites" i18n-ngbTooltip placement="top">
        <mat-icon svgIcon="heart"></mat-icon>
        <span>{{item.favorites}}</span>
      </div>
    </div>
    <div class="col-1 col-arrow">
      <mat-icon svgIcon="caret"></mat-icon>
    </div>
  </div>
  <div class="stats-expanded" *ngIf="open">
    <div class="graphs-container" *ngIf="statsData">
      <tsl-item-stats-graph [item]="item" [statsData]="statsData"></tsl-item-stats-graph>
      <tsl-item-stats-graph [item]="item" [statsData]="statsData" type="favs"></tsl-item-stats-graph>
    </div>
    <div class="graphs-container graph-info">
      <h2>
        <span *ngIf="!item.featured" i18n>VISIBILITY OVERVIEW</span>
        <span *ngIf="item.featured">{{item.flags.bump_type}}</span>
      </h2>
      <ul class="info">
        <li>
          <span><b>35</b> Views</span>
          <div class="percent positive"><mat-icon svgIcon="up-arrow"></mat-icon>147%</div>
        </li>
        <li>
          <span><b>24</b> Chats</span>
          <div class="percent negative"><mat-icon svgIcon="up-arrow"></mat-icon>147%</div>
        </li>
        <li>
          <span><b>12</b> Favorites</span>
          <div class="percent positive"><mat-icon svgIcon="up-arrow"></mat-icon>147%</div>
        </li>
      </ul>
      <p class="note">*Comparativa con la semana anterior. Datos medios de entradas y chats, y esas cosas, calculados guay</p>
      <tsl-button *ngIf="!item.featured" [routerLink]="['/catalog/checkout', {itemId: item.id}]" i18n>Feature it</tsl-button>
      <p class="bump-note" *ngIf="item.featured">Your feature ends on {{item.bumpExpiringDate | amCalendar:momentConfig}}</p>
    </div>
  </div>
</div>
